Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

fix(dashboard): correct `en` json translation file
  frontend/dashboard/src/locales/en.json
Due: none

feat(dashboard): cover some places of site with i18n
  frontend/dashboard/src/components/games/8ball.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/CommunityUsers.vue
Due: none

fix(scheduler): update command creator
  apps/scheduler/internal/services/commands.go
Due: publish-scheduler

chore(scheduler): add logging
  apps/scheduler/internal/services/commands.go
Due: publish-scheduler

fix(api): correctly count length of name in alerts via `utf8`
  apps/api/internal/impl_protected/alerts/alerts.go
Due: publish-api

chore(dashboard): update translations
  frontend/dashboard/src/locales/en.json
Due: none

chore(dashboard): update translations
  frontend/dashboard/src/locales/uk.json
Due: none

chore(dashboard): update translations
  frontend/dashboard/src/locales/ru.json
Due: none

chore(dashboard): update translations
  frontend/dashboard/src/locales/ja.json
Due: none

feat: add russian roulette game
  apps/api/internal/impl_protected/games/8ball.go
  apps/api/internal/impl_protected/games/games.go
  apps/api/internal/impl_protected/games/russian_roulette.go
  apps/bots/internal/bots/handlers/message_command.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/games/russian_roulette.go
  apps/scheduler/internal/timers/commandsAndRoles.go
  frontend/dashboard/src/api/games/index.ts
  frontend/dashboard/src/api/games/russianRoullete.ts
  frontend/dashboard/src/components/games/8ball.vue
  frontend/dashboard/src/components/games/russianRoulette.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Games.vue
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/games.proto
  libs/migrations/migrations/20230906214806_add_games_russian_roulette.sql
Due: publish-api, publish-bots, publish-parser, publish-scheduler

update
  frontend/dashboard/src/locales/en.json
Due: none

chore(dashboard): update translations (#424)
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ja.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/uk.json
Due: none

fix(parser): update follow variables to the latest twitch api
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/types/variables_cacher.go
  apps/parser/internal/variables/user/follow_age.go
  apps/parser/internal/variables/user/follow_since.go
Due: publish-api, publish-parser

fix(bots): add missed init of pubsub handlers
  apps/bots/cmd/main.go
  apps/bots/pkg/tlds/tlds.go
Due: publish-bots

fix(parser): correct find query for customvar
  apps/parser/internal/variables/custom_var/custom_var.go
Due: publish-parser

feat: add tumber size to roulette
  libs/gomodels/channel_modules_settings.go
  libs/migrations/main.go
  libs/migrations/migrations/20230907235511_roulette_add_tumber_size.go
Due: none

chore(dashboard): update translations (#425)
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/uk.json
Due: none

feat(dashboard): add `uk` flag
  frontend/dashboard/src/assets/icons/flags/uk.svg
Due: none

feat(dashboard): add `jp` flag
  frontend/dashboard/src/assets/icons/flags/jp.svg
Due: none

fix(dashboard): rename `jp` to `ja` svg
  frontend/dashboard/src/assets/icons/flags/ja.svg
Due: none

feat(dashboard): improve main dashboard page localization
  frontend/dashboard/src/components/dashboard/card.vue
  frontend/dashboard/src/components/dashboard/stats.ts
  frontend/dashboard/src/components/dashboard/stats.vue
  frontend/dashboard/src/components/dashboard/statsChannelInfo.vue
  frontend/dashboard/src/components/dashboard/widgets.ts
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Dashboard.vue
Due: none

chore(dashboard): update translations (#426)
  frontend/dashboard/src/locales/uk.json
Due: none

upd
  libs/migrations/migrations/20230907235511_roulette_add_tumber_size.go
Due: none

chore(dashboard): update translations (#427)
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/uk.json
Due: none

upd
  apps/api/internal/impl_protected/games/russian_roulette.go
  apps/parser/internal/commands/games/russian_roulette.go
  frontend/dashboard/src/api/games/russianRoullete.ts
  frontend/dashboard/src/components/games/russianRoulette.vue
  frontend/dashboard/src/locales/en.json
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/games.proto
Due: publish-api, publish-parser

upd
  frontend/dashboard/src/locales/en.json
Due: none

kruto
  frontend/dashboard/src/components/games/8ball.vue
  frontend/dashboard/src/components/games/command.vue
  frontend/dashboard/src/components/games/russianRoulette.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/uk.json
Due: none

feat(roulette): add tumber size (#428)
  apps/api/internal/impl_protected/games/russian_roulette.go
  apps/parser/internal/commands/games/russian_roulette.go
  frontend/dashboard/src/api/games/russianRoullete.ts
  frontend/dashboard/src/components/games/8ball.vue
  frontend/dashboard/src/components/games/command.vue
  frontend/dashboard/src/components/games/russianRoulette.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/uk.json
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/games.proto
  libs/migrations/main.go
  libs/migrations/migrations/20230907235511_roulette_add_tumber_size.go
Due: publish-api, publish-parser

feat: add ability to add songs to queue from donations
  Dockerfile
  apps/api/go.mod
  apps/api/internal/webhooks/donate_stream.go
  apps/api/internal/webhooks/donatello.go
  apps/api/internal/webhooks/pb_message.go
  apps/integrations/package.json
  apps/integrations/src/index.ts
  apps/integrations/src/libs/botsGrpc.ts
  apps/integrations/src/libs/parserGrpc.ts
  apps/integrations/src/libs/ytsrGrpc.ts
  apps/integrations/src/pubsub.ts
  apps/integrations/src/services/donatepay.ts
  apps/integrations/src/services/donationAlerts.ts
  apps/integrations/src/services/streamLabs.ts
  apps/integrations/src/utils/onDonation.ts
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/ytsr/internal/grpc_impl/grpc_impl.go
  frontend/dashboard/src/components/songRequests/settings.vue
  frontend/dashboard/src/locales/en.json
  libs/grpc/clients/ytsr.ts
  libs/grpc/protos/api/modules_sr.proto
  libs/grpc/protos/ytsr.proto
  pnpm-lock.yaml
  tools/dev.go
Due: publish-api, publish-parser

feat: add denied words list to songrequests
  apps/api/internal/impl_protected/modules/sr.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
  frontend/dashboard/src/components/songRequests/settings.vue
  frontend/dashboard/src/locales/en.json
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/modules_sr.proto
  libs/types/types/api/modules/youtube.go
Due: publish-api, publish-parser

feat(dashboard): improve localization
  frontend/dashboard/src/components/alerts/modal.vue
  frontend/dashboard/src/components/files/files.vue
  frontend/dashboard/src/components/greetings/modal.vue
  frontend/dashboard/src/components/overlays/tts.vue
  frontend/dashboard/src/components/songRequests/settings.vue
  frontend/dashboard/src/components/variables/modal.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/pages/Timers.vue
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
