Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore: some fixes on auth
  .env.example
  apps/api-gql/internal/delivery/http/routes/auth/post-platform-code.go
  apps/api-gql/internal/platform/vkvideo/provider.go
  apps/api-gql/internal/platform/vkvideo/provider_test.go
  apps/tokens/internal/bus_listener/bus_listener.go
  bun.lock
  libs/api/openapi.ts
  libs/config/config.go
  libs/config/config_test.go
  libs/integrations/vk/oauth.go
  libs/integrations/vk/oauth_test.go
  libs/migrations/postgres/20260724020936_platform_enum_add_vk_video_live.sql
  web/layers/landing/pages/login/vk.client.vue
  web/nuxt.config.ts
  web/package.json
Due: none

chore: update web icons for kick, twitch and vk
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform_test.go
  apps/api-gql/internal/delivery/http/routes/auth/post-platform-code.go
  bun.lock
  web/.nuxtrc
  web/app/app.vue
  web/app/composables/use-app-seo.ts
  web/layers/dashboard/components/kick-icon.vue
  web/layers/dashboard/components/twitch-icon.vue
  web/layers/dashboard/config/navigation.ts
  web/layers/dashboard/features/channel-platforms/composables/use-channel-platforms.ts
  web/layers/dashboard/features/channel-platforms/ui/platform-binding-card.vue
  web/layers/dashboard/features/platforms/platforms.vue
  web/layers/dashboard/features/platforms/ui/commands-prefix.vue
  web/layers/dashboard/layout/header/header-bot-status.vue
  web/layers/dashboard/layout/header/header-profile.vue
  web/layers/dashboard/layout/sidebar/sidebar-dashboard-selector.vue
  web/layers/dashboard/pages/dashboard/platforms.vue
  web/layers/dashboard/pages/dashboard/settings/index.vue
  web/layers/dashboard/pages/dashboard/settings/user-linked-accounts.vue
  web/layers/landing/components/index/hero/hero.vue
  web/layers/landing/components/index/stats/stats.vue
  web/layers/landing/components/index/team/team.vue
  web/layers/landing/components/kick-icon.vue
  web/layers/landing/layouts/default/header-profile.vue
  web/layers/pastebin/pages/h/profile.vue
  web/nuxt.config.ts
  web/package.json
Due: none

fix: correct streamelements icon
  web/layers/dashboard/assets/integrations/streamelements.svg
Due: none

chore: update agents md for each lib, add new
  AGENTS.md
  apps/executron/AGENTS.md
  apps/twitch-mock/AGENTS.md
  libs/entities/AGENTS.md
  libs/frontend-chat/AGENTS.md
  libs/integrations/AGENTS.md
  libs/repositories/AGENTS.md
  web/AGENTS.md
  web/layers/AGENTS.md
  web/layers/dashboard/AGENTS.md
Due: none

chore(cli): add vk probe
  cli/go.mod
  cli/go.sum
  cli/internal/cmds/vkvideoprobe/capture.go
  cli/internal/cmds/vkvideoprobe/command.go
  cli/internal/cmds/vkvideoprobe/preflight.go
  cli/internal/cmds/vkvideoprobe/preflight_test.go
  cli/internal/cmds/vkvideoprobe/redact.go
  cli/internal/cmds/vkvideoprobe/redact_test.go
  cli/internal/cmds/vkvideoprobe/transport.go
  cli/internal/cmds/vkvideoprobe/transport_test.go
  cli/internal/cmds/vkvideoprobe/types.go
  cli/main.go
Due: none

refactor: vk bindvings in eventsub
  apps/eventsub/app/app.go
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/bus-listener/bus-listener_test.go
  apps/eventsub/internal/handler/binding_status_test.go
  apps/eventsub/internal/platforms/transport.go
  apps/eventsub/internal/platforms/transport_test.go
  apps/eventsub/internal/vkvideo/connection.go
  apps/eventsub/internal/vkvideo/dependencies.go
  apps/eventsub/internal/vkvideo/message.go
  apps/eventsub/internal/vkvideo/ownership.go
  apps/eventsub/internal/vkvideo/ownership_fakes_test.go
  apps/eventsub/internal/vkvideo/ownership_test.go
  apps/eventsub/internal/vkvideo/realtime_client.go
  apps/eventsub/internal/vkvideo/realtime_client_test.go
  apps/eventsub/internal/vkvideo/realtime_session.go
  apps/eventsub/internal/vkvideo/realtime_session_test.go
  apps/eventsub/internal/vkvideo/subscription.go
  apps/eventsub/internal/vkvideo/testdata/public_chat_message.json
  apps/eventsub/internal/vkvideo/transport.go
  apps/eventsub/internal/vkvideo/transport_test.go
  apps/eventsub/internal/webhook/manager.go
  apps/eventsub/internal/webhook/manager_test.go
  apps/eventsub/internal/webhook/manager_vk_logging.go
  apps/eventsub/internal/webhook/manager_vk_logging_test.go
  go.work.sum
  libs/config/config.go
  libs/config/config_test.go
  libs/repositories/users_with_channel/pgx/pgx.go
  libs/repositories/users_with_channel/pgx/pgx_test.go
Due: publish-eventsub

vk socket changes (still not working)
  .idea/dataSources.local.xml
  apps/eventsub/app/app.go
  apps/eventsub/internal/vkvideo/dependencies.go
  apps/eventsub/internal/vkvideo/subscription.go
  apps/eventsub/internal/vkvideo/subscription_test.go
  apps/eventsub/internal/vkvideo/transport.go
  apps/eventsub/internal/vkvideo/transport_test.go
  apps/eventsub/internal/vkvideo/transport_test_helpers_test.go
  libs/integrations/vk/websocket_token.go
  libs/integrations/vk/websocket_token_discovery_test.go
  libs/integrations/vk/websocket_token_test.go
Due: publish-eventsub

vk events working...
  apps/eventsub/app/app.go
  apps/eventsub/internal/vkvideo/centrifugo_protocol_test.go
  apps/eventsub/internal/vkvideo/connection.go
  apps/eventsub/internal/vkvideo/ownership.go
  apps/eventsub/internal/vkvideo/ownership_test.go
  apps/eventsub/internal/vkvideo/realtime_client.go
  apps/eventsub/internal/vkvideo/realtime_client_connect_test.go
  apps/eventsub/internal/vkvideo/realtime_lifecycle.go
  apps/eventsub/internal/vkvideo/subscription.go
  apps/eventsub/internal/vkvideo/subscription_test.go
  apps/eventsub/internal/vkvideo/transport.go
  apps/eventsub/internal/vkvideo/transport_test.go
  apps/eventsub/internal/vkvideo/transport_test_helpers_test.go
  libs/integrations/vk/websocket_token.go
  libs/integrations/vk/websocket_token_test.go
Due: publish-eventsub

vk socket working!
  apps/eventsub/app/app.go
  apps/eventsub/internal/vkvideo/dependencies.go
  apps/eventsub/internal/vkvideo/message.go
  apps/eventsub/internal/vkvideo/message_user_test.go
  apps/eventsub/internal/vkvideo/transport.go
  apps/eventsub/internal/vkvideo/transport_test.go
  apps/eventsub/internal/vkvideo/transport_test_helpers_test.go
Due: publish-eventsub

feat(stack): add anubis anti-bot in front of web
  configs/anubis/botPolicies.yaml
  docker-compose.stack.yml
Due: none

docs: add anubis secret to production setup
  PRODUCTION.md
Due: none

feat(stack): share anubis state via redis backend
  configs/anubis/botPolicies.yaml
Due: none

feat(stack): bump anubis to 3 replicas, add reservations
  docker-compose.stack.yml
Due: none

feat(stack): add anubis anti-bot in front of web (#1007)
  PRODUCTION.md
  configs/anubis/botPolicies.yaml
  docker-compose.stack.yml
Due: none

fix(stack): let robots.txt pass through anubis for seo
  docker-compose.stack.yml
Due: none

fix(stack): let robots.txt pass through anubis for seo (#1008)
  docker-compose.stack.yml
Due: none

more fixes on vk listen
  apps/eventsub/internal/vkvideo/message.go
  apps/eventsub/internal/vkvideo/message_user_test.go
  apps/eventsub/internal/vkvideo/testdata/public_chat_message.json
  apps/eventsub/internal/vkvideo/transport_test.go
Due: publish-eventsub

fix(migrations): add new now-playing preset values to postgres enum
  libs/migrations/postgres/20260726183525_now_playing_preset_add_new_values.sql
Due: none

fix(migrations): add new now-playing preset values to postgres enum (#1009)
  libs/migrations/postgres/20260726183525_now_playing_preset_add_new_values.sql
Due: none

fix(eventsub): publish canonical kick identities
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
Due: publish-eventsub

fix(events): scope twitch ban gate
  apps/events/internal/workflows/events_flow.go
  apps/events/internal/workflows/events_flow_test.go
Due: none

fix(bots): restore kick emote counting
  apps/bots/internal/messagehandler/chat_message.go
  apps/bots/internal/messagehandler/chat_message_test.go
Due: publish-bots

fix(parser): resolve canonical channel id
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/cacher/cacher_test.go
Due: publish-parser

fix(vk): use channel chat api contract
  apps/bots/app/app_test.go
  apps/bots/app/vk_chat.go
  apps/bots/internal/vk/chat_client.go
  apps/bots/internal/vk/chat_client_test.go
  cli/internal/cmds/vkvideoprobe/preflight.go
  cli/internal/cmds/vkvideoprobe/preflight_test.go
  libs/integrations/vk/video_chat.go
  libs/integrations/vk/video_chat_test.go
  libs/integrations/vk/websocket_token.go
Due: publish-bots

fix(bots): add capability-aware reply fallback
  apps/bots/internal/platforms/chat.go
  apps/bots/internal/platforms/chat_test.go
Due: publish-bots

fix(api-gql): protect platform identity changes
  apps/api-gql/internal/delivery/gql/directives/channel_platform_bindings_execution_test.go
  apps/api-gql/internal/delivery/gql/resolvers/channel_platform_test.go
  apps/api-gql/internal/delivery/gql/resolvers/channels.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/http/routes/auth/auth.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform_test.go
Due: none

fix(timers): include vk chat targets
  apps/timers/internal/manager/send_targets.go
  apps/timers/internal/manager/send_targets_test.go
Due: none

fix(vk): separate internal and provider message ids
  apps/bots/internal/messagehandler/handle_chat_wall.go
  apps/bots/internal/messagehandler/handle_chat_wall_test.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/bots/internal/messagehandler/handle_moderation_test.go
  apps/bots/internal/messagehandler/message_id_test_helpers_test.go
  apps/eventsub/internal/vkvideo/message.go
  apps/eventsub/internal/vkvideo/transport_test.go
Due: publish-bots, publish-eventsub

chore(web): fix pr-owned lint errors
  web/layers/dashboard/features/admin-panel/actions/ui/setup-vk-video-bot.vue
  web/layers/dashboard/features/admin-panel/actions/ui/vk-video-bot-callback.vue
  web/layers/dashboard/features/admin-panel/actions/ui/vk-video-bot.spec.ts
  web/layers/dashboard/features/channel-platforms/composables/use-channel-platforms.spec.ts
  web/layers/dashboard/features/channel-platforms/ui/platform-bindings.spec.ts
Due: none

fix(web): expose vk platform option
  web/layers/dashboard/components/platform-selector.spec.ts
  web/layers/dashboard/components/platform-selector.vue
  web/vitest.config.ts
Due: none

fix(bots): dispatch greetings by platform
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_greetings_test.go
Due: publish-bots

fix(bots): publish canonical greeting event identity
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_greetings_test.go
  apps/events/internal/listener/listener.go
Due: publish-bots

fix(api-gql): guard unlink platform account
  apps/api-gql/internal/delivery/gql/directives/unlink_platform_account_execution_test.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
Due: none

fix(parser): allow channels without twitch binding
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/cacher/cacher_test.go
  apps/parser/internal/cacher/twitch.go
Due: publish-parser

test(events): cover ban gate at workflow level
  apps/events/internal/workflows/events_flow_test.go
Due: none

test(events): assert workflow activity expectations
  apps/events/internal/workflows/events_flow_test.go
Due: none

docs(vk): add platform integration plan
  docs/superpowers/plans/2026-07-21-vk-video-live-platform.md
  docs/superpowers/specs/2026-07-21-vk-video-live-platform-design.md
Due: none

fix(channels): synchronize legacy bindings
  libs/migrations/postgres/20260721120000_channel_platforms.sql
  libs/repositories/channels/pgx/channel_binding_test.go
  libs/repositories/channels/pgx/multiplatform_migration_test.go
  libs/repositories/channels/pgx/pgx.go
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
