Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

fix(stack): add domain missed traefik network for `music-recognizer`
  docker-compose.stack.yml
Due: none

upd
  frontend/dashboard/src/features/community-rewards-history/community-rewards-history.vue
  frontend/dashboard/src/features/community-rewards-history/composables/community-rewards-history-query.ts
  frontend/dashboard/src/features/community-rewards-history/composables/community-rewards-history-table.ts
  frontend/dashboard/src/features/community-rewards-history/ui/community-rewards-history-page.vue
  frontend/dashboard/src/features/community-rewards-history/ui/community-rewards-history-search.vue
Due: none

feat(dashboard): add rewards history (#791)
  apps/api-gql/internal/delivery/gql/resolvers/community-redemptions.resolver.go
  apps/eventsub/internal/handler/redemption.go
  frontend/dashboard/src/api/community-rewards.ts
  frontend/dashboard/src/api/twitch.ts
  frontend/dashboard/src/features/community-rewards-history/community-rewards-history.vue
  frontend/dashboard/src/features/community-rewards-history/composables/community-rewards-history-query.ts
  frontend/dashboard/src/features/community-rewards-history/composables/community-rewards-history-table.ts
  frontend/dashboard/src/features/community-rewards-history/ui/cells/community-rewards-history-table-reward-cell.vue
  frontend/dashboard/src/features/community-rewards-history/ui/community-rewards-history-page.vue
  frontend/dashboard/src/features/community-rewards-history/ui/community-rewards-history-search.vue
  frontend/dashboard/src/features/community-rewards-history/ui/community-rewards-history-table.vue
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
  frontend/dashboard/src/pages/community.vue
Due: publish-eventsub

chore(dashboard): update isNew flags in sidebar
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
  frontend/dashboard/src/pages/community.vue
Due: none

feat(dashboard): add `redemed at` column to rewards history
  frontend/dashboard/src/features/community-rewards-history/composables/community-rewards-history-table.ts
Due: none

chore(workflows): do not build gql in all apps except api-gql
  .github/workflows/dockerv3.yml
Due: none

chore(workflows): fix indent
  .github/workflows/dockerv3.yml
Due: none

feat: use subscriptions for community rewards page
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/twitch_redemption.go
  apps/api-gql/internal/delivery/gql/resolvers/community-redemptions.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/emotes-statistic.resolver.service.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/rewards.resolver.go
  apps/api-gql/internal/services/community_redemptions/community_redemptions.go
  apps/api-gql/schema/community-redemptions.graphqls
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/redemption.go
  frontend/dashboard/codegen.ts
  frontend/dashboard/src/features/community-rewards-history/composables/community-rewards-history-table.ts
  frontend/dashboard/src/features/community-rewards-history/ui/community-rewards-history-page.vue
  libs/bus-core/bus.go
  libs/bus-core/queue.go
  libs/bus-core/twitch/chat-message.go
  libs/bus-core/twitch/rewards.go
  libs/bus-core/twitch/stream.go
Due: publish-eventsub

fix(api): use query rewards
  apps/api-gql/internal/delivery/gql/resolvers/community-redemptions.resolver.go
Due: none

fix(api): correct query for TwitchRewards
  apps/api-gql/internal/delivery/gql/resolvers/community-redemptions.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/rewards.resolver.go
Due: none

fix(api): add close handle for `RewardsActivation`
  apps/api-gql/internal/delivery/gql/resolvers/community-redemptions.resolver.go
  apps/api-gql/internal/services/community_redemptions/community_redemptions.go
  apps/eventsub/internal/handler/redemption.go
Due: publish-eventsub

fix(api): add user id to redemption
  apps/api-gql/internal/delivery/gql/resolvers/community-redemptions.resolver.go
Due: none

refactor: use gql subscriptions for community chat logs
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
  apps/api-gql/internal/services/chat_messages/chat_messages.go
  apps/api-gql/internal/services/chat_messages/get_many.go
  apps/api-gql/schema/chat-messages.graphqls
  frontend/dashboard/src/api/chat-messages.ts
  frontend/dashboard/src/features/community-chat-messages/ui/chat-messages.vue
Due: none

fix(api): correctly close chatMessages subscription channel
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
Due: none

fix(api): generate uuid inside chatmessages subscription
  apps/api-gql/internal/services/chat_messages/chat_messages.go
Due: none

fix(dashboard): append new chat message at start, not at end
  frontend/dashboard/src/features/community-chat-messages/ui/chat-messages.vue
Due: none

fix(bots): do not mutate original msg chat message in tts handler
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/bots/internal/messagehandler/handle_tts.go
  apps/bots/internal/messagehandler/messagehandler.go
  frontend/dashboard/src/features/community-chat-messages/ui/chat-messages.vue
Due: publish-bots

chore(bots): ignore not found error in tts
  apps/bots/internal/messagehandler/handle_tts.go
Due: publish-bots

feat(landing): remove the "streamers" from anchor links
  web/layers/landing/layouts/default/anchor-links.ts
Due: none

feat(landing): remove the "streamers" from anchor links (#807)
  web/layers/landing/layouts/default/anchor-links.ts
Due: none

chore(stack): add cloudflared network to eventsub
  docker-compose.stack.yml
Due: none

chore(api): add `perPage` limits
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/community-redemptions.resolver.go
  apps/api-gql/schema/admin-audit-logs.graphqls
  apps/api-gql/schema/admin-users.graphqls
  apps/api-gql/schema/community-redemptions.graphqls
  apps/api-gql/schema/community-users.graphqls
  apps/api-gql/schema/emotes-statistic.graphqls
  apps/api-gql/schema/notifications.graphqls
Due: none

fix(repositories): correct insert query for greetings
  libs/repositories/greetings/pgx/pgx.go
Due: none

chore(api-gql): update several validation rules
  apps/api-gql/schema/alerts.graphqls
  apps/api-gql/schema/chat-alerts.graphqls
  apps/api-gql/schema/commands.graphqls
  apps/api-gql/schema/community-users.graphqls
  apps/api-gql/schema/emotes-statistic.graphqls
  apps/api-gql/schema/greetings.graphqls
  apps/api-gql/schema/overlays.graphqls
  apps/api-gql/schema/roles.graphqls
Due: none

chore(stack): move some services to not manager server
  docker-compose.stack.yml
Due: none

fix(api-gql): potential error for new channels check of access
  apps/api-gql/internal/delivery/gql/directives/has-access-to-selected-dashboard.go
  apps/api-gql/internal/delivery/gql/directives/has-channel-roles-dashboard-permission.go
Due: none

chore: use caddy in dev for proxy apps
  Caddyfile.dev
  cli/internal/cmds/dev/dev.go
  cli/internal/cmds/proxy/proxy.go
  frontend/dashboard/vite.config.ts
  web/nuxt.config.ts
Due: none

feat(dashboard): move bot status to navbar
  apps/api/internal/impl_protected/bot/bot.go
  frontend/dashboard/src/components/dashboard/bot-status.vue
  frontend/dashboard/src/components/dashboard/widgets.ts
  frontend/dashboard/src/layout/stats/stats.vue
  frontend/dashboard/src/pages/Dashboard.vue
Due: publish-api

fix(dashboard): correctly load stats without animation
  frontend/dashboard/src/layout/stats/stats.vue
  web/nuxt.config.ts
Due: none

feat(parser): add music recognizer support
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/cacher/current_song.go
Due: publish-parser

fix: add missed music recognizer addr into config
  .env.example
  libs/config/config.go
Due: none

feat(bots): increment message send rate limits
  apps/bots/internal/twitchactions/ban.go
  apps/bots/internal/twitchactions/sendmessage.go
  apps/bots/internal/twitchactions/twitchactions.go
Due: publish-bots

chore: update list of trusted deps
  bun.lock
  package.json
Due: none

fix(parser): respect `keepOrder`
  apps/bots/app/app.go
  apps/bots/internal/bus-listener/bus-listener.go
  apps/bots/internal/twitchactions/sendmessage.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/spam/spam.go
  cli/internal/cmds/dependencies/node.go
  libs/bus-core/bots/bots.go
Due: publish-bots, publish-parser

chore(dashboard): bump codegen version
  bun.lock
  cli/internal/cmds/dependencies/node.go
  frontend/dashboard/package.json
Due: none

chore(dashboard): use `--bun` for prevent load shebangs
  frontend/dashboard/package.json
Due: none

chore(workflows): use frozen lockfile
  .github/workflows/dockerv3.yml
Due: none

chore: use --bun for overlays
  frontend/dashboard/package.json
  frontend/overlays/package.json
  web/package.json
Due: none

chore: correct scripts for build frontends
  frontend/dashboard/package.json
  frontend/overlays/package.json
  web/modules/gql-codegen.ts
  web/package.json
Due: none

chore(workflows): comment `node_modules` cache
  .github/workflows/dockerv3.yml
  frontend/dashboard/package.json
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
