Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

upd rageywide
  .idea/misc.xml
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/channels/channels.go
  apps/api/internal/api/v1/channels/commands/commands_group/controller.go
  apps/api/internal/api/v1/channels/commands/commands_group/dto.go
  apps/api/internal/api/v1/channels/commands/commands_group/service.go
  apps/api/internal/api/v1/channels/commands/controller.go
  apps/api/internal/api/v1/channels/commands/helpers.go
  apps/api/internal/api/v1/channels/commands/service.go
  apps/api/internal/api/v1/channels/events/controller.go
  apps/api/internal/api/v1/channels/events/service.go
  apps/api/internal/api/v1/v1.go
  apps/dota/protos/steam/steammessages_chat.steamclient.proto
  frontend/dashboard/pages/commands/[[...module]].tsx
  libs/gomodels/channels_commands.go
Due: publish-api, publish-dota

fix(overlays): do not send api request if text is empty
  frontend/overlays/src/pages/tts.tsx
Due: none

upd rageywide
  apps/api/internal/api/v1/channels/channels.go
  apps/api/internal/api/v1/channels/greetings/controller.go
  apps/api/internal/api/v1/channels/greetings/helpers.go
  apps/api/internal/api/v1/channels/greetings/service.go
  apps/api/internal/api/v1/channels/keywords/controller.go
  apps/api/internal/api/v1/channels/keywords/helpers.go
  apps/api/internal/api/v1/channels/keywords/service.go
Due: publish-api

upd rageywide
  apps/api/internal/api/v1/channels/channels.go
  apps/api/internal/api/v1/channels/moderation/controller.go
  apps/api/internal/api/v1/channels/moderation/service.go
  apps/api/internal/api/v1/channels/rewards/controller.go
  apps/api/internal/api/v1/channels/rewards/service.go
  apps/api/internal/api/v1/channels/roles/controller.go
  apps/api/internal/api/v1/channels/roles/service.go
  apps/api/internal/api/v1/channels/roles/users/controller.go
  apps/api/internal/api/v1/channels/roles/users/service.go
Due: publish-api

upd rageywide
  apps/api/internal/api/v1/channels/streams/controller.go
Due: publish-api

feat(bots): split text by 500 length before sending in chat
  apps/bots/types/chat_client.go
Due: publish-bots

feat(dashboard): use `passwordinput` for donatello and donatepay integrations
  frontend/dashboard/components/integrations/donatello.tsx
  frontend/dashboard/components/integrations/donatepay.tsx
Due: none

fix(dashboard): add missed buttons for get api keys
  frontend/dashboard/components/integrations/donatello.tsx
  frontend/dashboard/components/integrations/donatepay.tsx
Due: none

fix(bots): validate each part of text before sending
  apps/bots/types/chat_client.go
Due: publish-bots

fix(api): always try to create default commands and roles on user login
  apps/api/go.sum
  apps/api/internal/api/auth/checkUser.go
  apps/api/internal/api/auth/create_roles_and_commands.go
Due: publish-api

upd rageywide
  apps/api/internal/api/v1/channels/bot/controller.go
  apps/api/internal/api/v1/channels/channels.go
  apps/api/internal/api/v1/channels/commands/controller.go
  apps/api/internal/api/v1/channels/events/controller.go
  apps/api/internal/api/v1/channels/greetings/controller.go
  apps/api/internal/api/v1/channels/keywords/controller.go
  apps/api/internal/api/v1/channels/moderation/controller.go
  apps/api/internal/api/v1/channels/rewards/controller.go
  apps/api/internal/api/v1/channels/roles/controller.go
  apps/api/internal/api/v1/channels/streams/controller.go
  apps/api/internal/api/v1/channels/streams/service.go
  apps/api/internal/api/v1/channels/timers/controller.go
  apps/api/internal/api/v1/channels/timers/service.go
  apps/api/internal/api/v1/channels/variables/controller.go
  apps/api/internal/api/v1/channels/variables/service.go
Due: publish-api

upd rageywide
  apps/api/internal/api/v1/channels/channels.go
  apps/api/internal/api/v1/channels/integrations/donatello/controller.go
  apps/api/internal/api/v1/channels/integrations/donatello/service.go
  apps/api/internal/api/v1/channels/integrations/donatepay/controller.go
  apps/api/internal/api/v1/channels/integrations/donatepay/service.go
  apps/api/internal/api/v1/channels/integrations/donationalerts/controller.go
  apps/api/internal/api/v1/channels/integrations/donationalerts/service.go
  apps/api/internal/api/v1/channels/integrations/faceit/controller.go
  apps/api/internal/api/v1/channels/integrations/faceit/service.go
  apps/api/internal/api/v1/channels/integrations/integrations.go
  apps/api/internal/api/v1/channels/integrations/lastfm/controller.go
  apps/api/internal/api/v1/channels/integrations/lastfm/service.go
  apps/api/internal/api/v1/channels/integrations/spotify/controller.go
  apps/api/internal/api/v1/channels/integrations/spotify/service.go
Due: publish-api

upd rageywide
  apps/api/internal/api/v1/channels/integrations/integrations.go
  apps/api/internal/api/v1/channels/integrations/streamlabs/controller.go
  apps/api/internal/api/v1/channels/integrations/streamlabs/service.go
Due: publish-api

chore: upgrade branding
  caddyfile.example
  frontend/dashboard/pages/_document.tsx
  frontend/landing/src/components/landing/layout/Footer.vue
  frontend/landing/src/components/landing/layout/Header.vue
  frontend/landing/src/locales/landing/en.ts
  frontend/landing/src/locales/landing/ru.ts
Due: none

feat(eventsub): add version support for subscriptions
  apps/eventsub/internal/client/client.go
  vendor/twitch-eventsub-framework/client.go
Due: publish-eventsub

chore(dockerfile): remove copy vendor command
  Dockerfile
Due: none

feat(events): use cursor for getting moderators
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
Due: none

feat(events): add `UNVIP_RANDOM_IF_NO_SLOTS` operation
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
  frontend/dashboard/components/events/operationMapping.ts
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
  libs/gomodels/event_operation.go
  libs/typeorm/src/entities/events/EventOperation.ts
  libs/typeorm/src/migrations/1678627902852-events_unvip_random_if_no_slots.ts
Due: publish-migrations

feat(dashboard): improve events look
  frontend/dashboard/components/events/drawer.tsx
Due: none

fix(dashboard): add `withinPortal={true}` to select components, so they not in card div
  frontend/dashboard/components/events/drawer.tsx
Due: none

fix: correctly validate command name and aliases
  apps/api/internal/api/v1/commands/dto.go
  apps/api/internal/api/v1/commands/service.go
  frontend/dashboard/components/commands/drawer.tsx
Due: publish-api

feat: add `online only` flag for commands
  apps/api/internal/api/v1/commands/dto.go
  apps/api/internal/api/v1/commands/helpers.go
  apps/api/internal/api/v1/commands/service.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/public/locales/en/commands.json
  frontend/dashboard/public/locales/ru/commands.json
  libs/gomodels/channels_commands.go
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/migrations/1678880601877-commands_add_online_only.ts
Due: publish-api, publish-migrations, publish-parser

feat(api): increase keywords text max length
  apps/api/internal/api/v1/keywords/dto.go
Due: publish-api

fix(eventsub): correct column name for `gameName` in update channel event
  apps/eventsub/internal/handler/channel_update.go
Due: publish-eventsub

feat(events): add support for custom variables in operations
  apps/events/internal/grpc_impl/processor/ban_unban.go
  apps/events/internal/grpc_impl/processor/commands_allow_or_deny.go
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/obs.go
  apps/events/internal/grpc_impl/processor/processor.go
  apps/events/internal/grpc_impl/processor/send_message.go
  apps/events/internal/grpc_impl/processor/tts.go
  apps/events/internal/grpc_impl/processor/variable.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
Due: none

fix(eventsub): update multiple columns on channel update event instead of single
  apps/eventsub/internal/handler/channel_update.go
Due: publish-eventsub

fix(events): correct check available slots of vips
  apps/events/internal/grpc_impl/processor/vip_unvip.go
Due: none

feat(events): add `online only` flag
  apps/api/internal/api/v1/events/dto.go
  apps/api/internal/api/v1/events/service.go
  apps/events/internal/grpc_impl/events.go
  apps/events/internal/grpc_impl/operations.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
  libs/gomodels/event.go
  libs/typeorm/src/entities/events/Event.ts
  libs/typeorm/src/migrations/1678978883251-events_add_online_only.ts
Due: publish-api, publish-migrations

feat: add polls and predictions listeners support
  .idea/vcs.xml
  apps/api/internal/api/auth/controller.go
  apps/api/internal/api/v1/events/service.go
  apps/emotes-cacher/internal/grpc_impl/impl.go
  apps/events/internal/grpc_impl/events.go
  apps/events/internal/grpc_impl/helpers.go
  apps/events/internal/grpc_impl/impl.go
  apps/events/internal/types.go
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/client/client.go
  apps/eventsub/internal/handler/channel_follow.go
  apps/eventsub/internal/handler/channel_update.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/moderator_add_remove.go
  apps/eventsub/internal/handler/polls.go
  apps/eventsub/internal/handler/predictions.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/stream_online.go
  apps/eventsub/internal/handler/user_update.go
  frontend/dashboard/components/events/eventsMapping.ts
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
  go.work
  libs/gomodels/event.go
  libs/grpc/protos/events.proto
  libs/typeorm/src/entities/events/Event.ts
  libs/typeorm/src/migrations/1679580136979-events_add_polls_and_predictions.ts
Due: publish-api, publish-eventsub, publish-migrations

chore: update go lock files
  apps/api/go.mod
  apps/bots/go.mod
  apps/events/go.mod
  apps/eventsub/go.sum
  apps/parser/go.mod
  apps/websockets/go.mod
  go.work
Due: publish-api, publish-bots, publish-eventsub, publish-parser

chore: add missed lib to git
  libs/twitch-eventsub-bindings/LICENSE
  libs/twitch-eventsub-bindings/README.md
  libs/twitch-eventsub-bindings/conditions.go
  libs/twitch-eventsub-bindings/events.go
  libs/twitch-eventsub-bindings/generation_script.js
  libs/twitch-eventsub-bindings/go.mod
  libs/twitch-eventsub-bindings/objects.go
  libs/twitch-eventsub-bindings/subscription.go
  libs/twitch-eventsub-bindings/subscription_test.go
  libs/twitch-eventsub-bindings/transport.go
Due: none

feat: add filters for operations
  apps/api/internal/api/v1/events/dto.go
  apps/api/internal/api/v1/events/service.go
  apps/events/internal/grpc_impl/events.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/ban_unban.go
  apps/events/internal/grpc_impl/processor/commands_allow_or_deny.go
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/obs.go
  apps/events/internal/grpc_impl/processor/processor.go
  apps/events/internal/grpc_impl/processor/send_message.go
  apps/events/internal/grpc_impl/processor/tts.go
  apps/events/internal/grpc_impl/processor/variable.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/filtersMapping.ts
  libs/gomodels/event_operation.go
  libs/gomodels/event_operation_filter.go
  libs/typeorm/src/entities/events/EventOperation.ts
  libs/typeorm/src/entities/events/EventOperationFilter.ts
  libs/typeorm/src/index.ts
  libs/typeorm/src/migrations/1679591121377-events_add_filters.ts
Due: publish-api, publish-migrations

feat: add valorant integration
  apps/api/internal/api/v1/integrations/valorant/controller.go
  apps/api/internal/api/v1/integrations/valorant/dto.go
  apps/api/internal/api/v1/integrations/valorant/service.go
  apps/api/internal/api/v1/v1.go
  apps/parser/internal/variables/valorant/matches.go
  apps/parser/internal/variables/valorant/profile/elo.go
  apps/parser/internal/variables/valorant/profile/mmr_change.go
  apps/parser/internal/variables/valorant/profile/tier.go
  apps/parser/internal/variables/variables.go
  apps/parser/internal/variablescache/integrations.go
  apps/parser/internal/variablescache/valorant.go
  apps/parser/internal/variablescache/variablescache.go
  frontend/dashboard/components/integrations/valorant.tsx
  frontend/dashboard/pages/integrations.tsx
  frontend/dashboard/services/api/integrations/valorant.ts
  frontend/overlays/vite.config.ts.timestamp-1679603767237.mjs
  libs/typeorm/src/entities/Integration.ts
  libs/typeorm/src/migrations/1679598303604-add_valorant_integration.ts
Due: publish-api, publish-migrations, publish-parser

chore: remove vendored `twitch-eventsub-bindings`
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  go.work
  go.work.sum
  libs/twitch-eventsub-bindings/LICENSE
  libs/twitch-eventsub-bindings/README.md
  libs/twitch-eventsub-bindings/conditions.go
  libs/twitch-eventsub-bindings/events.go
  libs/twitch-eventsub-bindings/generation_script.js
  libs/twitch-eventsub-bindings/go.mod
  libs/twitch-eventsub-bindings/objects.go
  libs/twitch-eventsub-bindings/subscription.go
  libs/twitch-eventsub-bindings/subscription_test.go
  libs/twitch-eventsub-bindings/transport.go
Due: publish-eventsub

fix(scheduler): possible fix of users online tracking
  .idea/vcs.xml
  apps/scheduler/internal/timers/online.go
Due: publish-scheduler

chore: maintain lockfile
  pnpm-lock.yaml
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
