Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

upd
  frontend/dashboard/src/api/giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-history-table.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-list-table.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-create-dialog.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-participants.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
Due: none

Update libs/repositories/users/pgx/pgx.go
  libs/repositories/users/pgx/pgx.go
Due: none

Update source file 7tv.yaml
  apps/parser/locales/en/commands/7tv.yaml
Due: publish-parser

upd
  bun.lock
  frontend/dashboard/package.json
  frontend/dashboard/src/components/ui/badge/index.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/pages/giveaways-pages-view.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
Due: none

feat(api-gql): add support for giveaway filters and online chatters type (#966)
  apps/api-gql/internal/delivery/gql/mappers/giveaways.go
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/schema/giveaways.graphql
  apps/api-gql/internal/entity/giveaways.go
  apps/api-gql/internal/services/giveaways/giveaways.go
  apps/bots/internal/messagehandler/handle_giveaways.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/services/giveaways/giveaways.go
  bun.lock
  frontend/dashboard/package.json
  frontend/dashboard/src/api/giveaways.ts
  frontend/dashboard/src/components/ui/badge/index.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-history-table.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-list-table.ts
  frontend/dashboard/src/features/giveaways/pages/giveaways-pages-view.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-create-dialog.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-participants.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  libs/cache/giveaways/giveaways.go
  libs/cache/twitch/follows.go
  libs/entities/channels_giveaways/entity.go
  libs/migrations/postgres/20260213160022_giveaways_type_and_filters.sql
  libs/repositories/giveaways/giveaways.go
  libs/repositories/giveaways/model/model.go
  libs/repositories/giveaways/pgx/pgx.go
  libs/repositories/users/pgx/pgx.go
  libs/repositories/users/users.go
Due: publish-bots

New translations en.json (Spanish)
  frontend/dashboard/src/locales/es.json
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

fix: sentry got joker trap (fx trap)
  apps/api-gql/cmd/main.go
  go.work.sum
  libs/baseapp/basefxapp.go
  libs/logger/go.mod
  libs/logger/go.sum
  libs/logger/logger.go
  libs/sentry/go.mod
  libs/sentry/go.sum
  libs/sentry/sentry.go
Due: none

chore(api-gql): remove test error
  apps/api-gql/cmd/main.go
Due: none

New translations 7tv.yaml (German)
  apps/apps/parser/locales/en/commands/locales/de/7tv.yaml
Due: none

New translations generic.yaml (German)
  apps/apps/parser/locales/en/errors/locales/de/generic.yaml
Due: none

New translations categories_aliases.yaml (German)
  apps/apps/parser/locales/en/commands/locales/de/categories_aliases.yaml
Due: none

New translations channel.yaml (German)
  apps/apps/parser/locales/en/commands/locales/de/channel.yaml
Due: none

New translations games.yaml (German)
  apps/apps/parser/locales/en/commands/locales/de/games.yaml
Due: none

New translations 7tv.yaml (German)
  apps/apps/parser/locales/en/variables/locales/de/7tv.yaml
Due: none

feat: remove fx logs and upgrade bun
  .bun-version
  apps/bots/cmd/main.go
  apps/emotes-cacher/cmd/main.go
  apps/events/cmd/main.go
  apps/eventsub/cmd/main.go
  apps/scheduler/cmd/main.go
  apps/timers/cmd/main.go
  apps/tokens/cmd/main.go
  apps/websockets/cmd/main.go
  bun.lock
  libs/baseapp/basefxapp.go
  libs/baseapp/fxlogger.go
  libs/logger/fx.go
  web/modules/gql-codegen.ts
  web/package.json
Due: publish-bots, publish-eventsub, publish-scheduler

feat: use python version of language processor
  apps/api-gql/internal/delivery/gql/resolvers/moderation.resolver.go
  apps/bots/internal/services/chat_translations/chat_translations.go
  apps/bots/internal/services/chat_translations/detect_language.go
  docker-compose.dev.yml
  docker-compose.stack.yml
Due: publish-bots

fix(bots): correctly replace emotes from translate message
  apps/bots/internal/services/chat_translations/chat_translations.go
Due: publish-bots

fix(bots): correctly ignore excluded languages
  apps/bots/internal/services/chat_translations/chat_translations.go
Due: publish-bots

fix(bots): ensure proper context handling in messages updater
  apps/bots/internal/discord/messages_updater/messages_updater.go
Due: publish-bots

feat(apps): add delete-paste dialog with confirmation and pagination for user pastes
  .github/copilot-instructions.md
  web/layers/pastebin/components/pastebin/delete-paste-dialog.vue
  web/layers/pastebin/components/pastebin/paste-card.vue
  web/layers/pastebin/pages/h/profile.vue
Due: none

chore: remove supabase-postgres-best-practices guidelines and cleanup references
  .claude/skills/supabase-postgres-best-practices
  .github/copilot-instructions.md
  .github/skills/supabase-postgres-best-practices
  .opencode/skills/supabase-postgres-best-practices
  AGENTS.md
  CLAUDE.md
Due: none

feat: add listen for user intro in eventsub
  apps/events/internal/listener/listener.go
  apps/eventsub/internal/handler/chat_message.go
Due: publish-eventsub

chore: update linting and formating rules
  .oxfmtrc.jsonc
  .oxlintrc.json
Due: none

feat(dashboard): add dashboard selector into command menu
  .idea/OxcSettings.xml
  .idea/OxfmtSettings.xml
  frontend/dashboard/src/components/command-menu/CommandMenu.vue
Due: none

feat(dashboard): use virtual scroll for dashboards
  frontend/dashboard/src/components/command-menu/CommandMenu.vue
Due: none

chore: update bun types to latest version
  bun.lock
  package.json
Due: none

chore(dashboard): remove virtual scroll
  frontend/dashboard/src/components/command-menu/CommandMenu.vue
Due: none

chore(dashboard): correct formatting
  .oxfmtrc.jsonc
  frontend/dashboard/src/components/command-menu/CommandMenu.vue
Due: none

feat(dashboard): in commands list render variables as badges
  frontend/dashboard/src/components/text-with-variables.vue
  frontend/dashboard/src/features/commands/ui/list.vue
Due: none

chore: fix lint rule
  .oxlintrc.json
Due: none

feat: do not stop giveaway on winner choose
  apps/api-gql/internal/services/giveaways/giveaways.go
  apps/bots/internal/services/giveaways/giveaways.go
  libs/repositories/giveaways_participants/giveaways_participants.go
  libs/repositories/giveaways_participants/pgx/pgx.go
Due: publish-bots

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
