Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore(landing): add discord to footer and remove instagram (#346)
  frontend/landing/src/data/landing/socialMedia.ts
  libs/ui/components/src/components/TswIcon/icons/Discord.ts
  libs/ui/components/src/components/TswIcon/icons/index.ts
Due: none

feat(parser): exclude streamer from `top`.`messages/watched`
  apps/parser/internal/variables/top/top.go
Due: publish-parser

fix(api): exclude bot from community users endpoint
  apps/api/internal/api/v1/community/service.go
Due: publish-api

feat(api): extend delay time for events
  apps/api/internal/api/v1/events/dto.go
Due: publish-api

feat(dashboard): add some validation for event operations
  apps/api/internal/api/v1/events/dto.go
  frontend/dashboard/components/events/drawer.tsx
Due: publish-api

feat(events): break loop of operations if some of operation returns result
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/ban_unban.go
  apps/events/internal/grpc_impl/processor/change_category.go
  apps/events/internal/grpc_impl/processor/emoteonly.go
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/send_message.go
  apps/events/internal/grpc_impl/processor/submode.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
Due: none

feat(events): add some checks to mod and vip calls
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
Due: none

feat(events): add parameters for ban, vip, mod operations
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/ban_unban.go
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
  frontend/dashboard/components/events/operationMapping.ts
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
Due: none

feat(events): add keyword matched event
  apps/bots/internal/bots/handlers/message_keywods.go
  apps/events/internal/grpc_impl/events.go
  apps/events/internal/grpc_impl/impl.go
  apps/events/internal/types.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/eventsMapping.ts
  frontend/dashboard/pages/events.tsx
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
  libs/gomodels/event.go
  libs/grpc/protos/events.proto
  libs/typeorm/src/entities/events/Event.ts
  libs/typeorm/src/migrations/1676473301043-add_keyword_matched_event.ts
  libs/typeorm/src/migrations/1676474180436-events_add_keywordId_column.ts
Due: publish-bots, publish-migrations

fix(api): add missed `keywordId` field to events dto
  apps/api/internal/api/v1/events/dto.go
  apps/api/internal/api/v1/events/service.go
Due: publish-api

feat(events): filter bot and channel in ban/vip/timeout events
  apps/events/internal/grpc_impl/processor/ban_unban.go
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/processor.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
Due: none

feat(events): add internal error for processor to skip operations
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/ban_unban.go
  apps/events/internal/grpc_impl/processor/change_category.go
  apps/events/internal/grpc_impl/processor/change_title.go
  apps/events/internal/grpc_impl/processor/create_greeting.go
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/processor.go
  apps/events/internal/grpc_impl/processor/submode.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
Due: none

fix(events): add missed error assigment
  apps/events/internal/grpc_impl/operations.go
Due: none

fix(events): do not trigger chat clear on user timeout/ban
  apps/bots/internal/bots/client.go
Due: publish-bots

fix(events): add missed error catching on banOrUnban
  apps/events/internal/grpc_impl/operations.go
Due: none

upd RAGEYWIDE
  frontend/dashboard/components/appProvider.tsx
  frontend/dashboard/components/layout/navbar.tsx
  frontend/dashboard/pages/_app.tsx
  frontend/dashboard/pages/application.tsx
  frontend/dashboard/public/manifest.json
  frontend/dashboard/services/api/modules/index.ts
  frontend/dashboard/services/api/modules/obs.ts
  frontend/dashboard/services/obs/hook.tsx
  frontend/dashboard/services/obs/provider.tsx
Due: none

upd RAGEYWIDE
  frontend/dashboard/components/layout/navbar.tsx
Due: none

upd RAGEYWIDE
  apps/events/internal/grpc_impl/impl.go
  apps/events/internal/types.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/websockets/src/libs/grpc.ts
  apps/websockets/src/namespaces/obs.ts
  frontend/dashboard/components/events/eventsMapping.ts
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
  libs/gomodels/event_operation.go
  libs/grpc/protos/events.proto
  libs/grpc/protos/websockets.proto
  libs/typeorm/src/entities/events/EventOperation.ts
Due: publish-migrations, publish-parser

upd RAGEYWIDE
  apps/events/cmd/main.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/obs.go
  apps/events/internal/grpc_impl/processor/processor.go
  apps/events/internal/types.go
  libs/gomodels/event_operation.go
Due: none

upd RAGEYWIDE
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/obs.go
  frontend/dashboard/pages/application.tsx
  libs/gomodels/event_operation.go
  libs/grpc/protos/websockets.proto
Due: none

feat(parser): add command param variable
  apps/parser/internal/variables/command_param/param.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

feat(events): replace `@` in parameters for some operations
  apps/events/internal/grpc_impl/processor/ban_unban.go
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
Due: none

upd rageywide
  apps/websockets/src/namespaces/obs.ts
  frontend/dashboard/pages/application.tsx
  frontend/dashboard/services/obs/hook.tsx
Due: none

upd rageywide
  frontend/dashboard/services/obs/hook.tsx
Due: none

upd rageywide
  apps/api/internal/api/v1/events/dto.go
  apps/api/internal/api/v1/events/service.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/operationMapping.ts
  frontend/dashboard/pages/application.tsx
  libs/gomodels/event_operation.go
  libs/typeorm/src/entities/events/EventOperation.ts
  libs/typeorm/src/migrations/1676635759243-events_add_obs.ts
  libs/typeorm/src/migrations/1676645522509-events_rename_obs_source.ts
  libs/typeorm/src/migrations/1676645829882-events_remove_audio_step.ts
Due: publish-api, publish-migrations

fix(events): remove `userId` from query from `top.emotes` variable
  apps/parser/internal/variables/top/emotes/emotes.go
Due: publish-parser

fix(dashboard): remove height for discord svg
  frontend/dashboard/public/assets/icons/brands/discord.svg
Due: none

fix(events): mutate cache after vip/unvip operations
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
Due: none

fix(parser): change format of youtube sr for currentsong
  apps/parser/internal/variables/song/song.go
Due: publish-parser

chore: update go version in project to `1.20.1`
  .devcontainer/Dockerfile
  Dockerfile
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/bots/go.sum
  apps/emotes-cacher/go.mod
  apps/emotes-cacher/go.sum
  apps/events/go.mod
  apps/events/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
  apps/timers/go.mod
  apps/timers/go.sum
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/watched/go.mod
  apps/watched/go.sum
  go.work.sum
  libs/grpc/go.mod
  libs/grpc/go.sum
  libs/integrations/spotify/go.mod
  libs/integrations/spotify/go.sum
  libs/pubsub/go.mod
  libs/pubsub/go.sum
  libs/twitch/go.mod
  libs/twitch/go.sum
  libs/ytdl/go.mod
  libs/ytdl/go.sum
Due: publish-api, publish-bots, publish-parser

chore: fix golang version format in dockerfile
  Dockerfile
Due: none

upd rageywide
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/services/obs/hook.tsx
Due: none

upd rageywide
  frontend/dashboard/components/events/drawer.tsx
Due: none

upd rageywide
  frontend/dashboard/components/appProvider.tsx
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/layout/navbar.tsx
  frontend/dashboard/pages/application.tsx
  frontend/dashboard/services/obs/hook.tsx
Due: none

upd rageywide
  apps/events/internal/grpc_impl/operations.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/pages/application.tsx
  frontend/dashboard/services/obs/hook.tsx
  frontend/dashboard/services/obs/provider.tsx
  libs/gomodels/event_operation.go
Due: none

upd rageywide
  frontend/dashboard/components/layout/sidebar.tsx
  frontend/dashboard/pages/application.tsx
  frontend/dashboard/services/obs/hook.tsx
  frontend/dashboard/services/obs/provider.tsx
Due: none

upd rageywide
  frontend/dashboard/pages/_app.tsx
  frontend/dashboard/services/obs/hook.tsx
Due: none

upd rageywide
  frontend/dashboard/pages/_app.tsx
  frontend/dashboard/services/obs/hook.tsx
  frontend/dashboard/services/obs/provider.tsx
Due: none

upd rageywide
  frontend/dashboard/services/obs/hook.tsx
  frontend/dashboard/services/obs/provider.tsx
Due: none

upd rageywide
  frontend/dashboard/components/appProvider.tsx
  frontend/dashboard/pages/application.tsx
  frontend/dashboard/services/obs/hook.tsx
  frontend/dashboard/services/obs/provider.tsx
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
