Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

feat: add voteban game
  apps/api-gql/internal/gql/resolvers/games.resolver.go
  apps/api-gql/internal/gql/resolvers/games.resolver.service.go
  apps/api-gql/schema/games.graphqls
  apps/bots/internal/messagehandler/handle_games_voteban.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/games/voteban.go
  libs/gomodels/channel_games_voteban.go
  libs/migrations/migrations/20240518200809_add_voteban_game.sql
Due: publish-bots, publish-parser

New Crowdin updates (#731)
  frontend/dashboard/src/locales/de.json
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/sk.json
  frontend/dashboard/src/locales/uk.json
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

done backend
  apps/bots/internal/bus-listener/ban-user.go
  apps/bots/internal/bus-listener/bus-listener.go
  apps/bots/internal/messagehandler/handle_games_voteban.go
  apps/bots/internal/twitchactions/ban.go
  apps/bots/internal/twitchactions/twitchactions.go
  apps/eventsub/internal/handler/moderator_add_remove.go
  apps/parser/internal/commands/games/voteban.go
  libs/gomodels/channel_games_voteban.go
Due: publish-bots, publish-eventsub, publish-parser

done frontend
  apps/api-gql/internal/gql/resolvers/games.resolver.service.go
  apps/api-gql/schema/games.graphqls
  apps/bots/internal/messagehandler/handle_games_voteban.go
  apps/parser/internal/commands/games/voteban.go
  frontend/dashboard/src/api/games/games.ts
  frontend/dashboard/src/components/games/voteban.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Games.vue
  frontend/dashboard/src/plugins/i18n.ts
Due: publish-bots, publish-parser

done frontend
  frontend/dashboard/src/components/games/voteban.vue
Due: none

kruto
  frontend/landing/src/components/features/features.ts
Due: none

feat: add voteban game (#737)
  apps/api-gql/internal/gql/resolvers/games.resolver.go
  apps/api-gql/internal/gql/resolvers/games.resolver.service.go
  apps/api-gql/schema/games.graphqls
  apps/bots/internal/bus-listener/ban-user.go
  apps/bots/internal/bus-listener/bus-listener.go
  apps/bots/internal/messagehandler/handle_games_voteban.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/twitchactions/ban.go
  apps/bots/internal/twitchactions/twitchactions.go
  apps/eventsub/internal/handler/moderator_add_remove.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/games/voteban.go
  frontend/dashboard/src/api/games/games.ts
  frontend/dashboard/src/components/games/voteban.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Games.vue
  frontend/dashboard/src/plugins/i18n.ts
  frontend/landing/src/components/features/features.ts
  libs/gomodels/channel_games_voteban.go
  libs/migrations/migrations/20240518200809_add_voteban_game.sql
Due: publish-bots, publish-eventsub, publish-parser

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

fix(dashboard): correct seppuku updater method
  frontend/dashboard/src/components/games/seppuku.vue
Due: none

fix(parser): do not trigger voteban on broadcaster
  apps/parser/internal/commands/games/voteban.go
Due: publish-parser

fix(parser): correct seppuku message
  apps/parser/internal/commands/games/seppuku.go
Due: publish-parser

fix: correct seppuku type for seconds
  apps/api-gql/internal/gql/resolvers/games.resolver.service.go
  libs/gomodels/channel_games_seppuku.go
  libs/migrations/migrations/20240521150747_seppuku_timeout_seconds_type.sql
Due: none

fix: correct voteban type for seconds
  apps/api-gql/internal/gql/resolvers/games.resolver.service.go
  apps/bots/internal/messagehandler/handle_games_voteban.go
  libs/gomodels/channel_games_voteban.go
  libs/migrations/migrations/20240521152008_voteban_timeou_seconds_type.sql
Due: publish-bots

fix(bots): timeout user only on positive decision
  apps/bots/internal/messagehandler/handle_games_voteban.go
Due: publish-bots

fix(bots): correct check existed vote
  apps/bots/internal/messagehandler/handle_games_voteban.go
Due: publish-bots

chore(api-gql): debug
  apps/api-gql/internal/gql/directives/has-channel-roles-dashboard-permission.go
Due: none

fix(api): correct check permissions to dashboard in directives
  apps/api-gql/internal/gql/directives/has-channel-roles-dashboard-permission.go
  apps/api-gql/internal/gql/resolvers/user.resolver.service.go
Due: none

feat(dashboard): add dashboard admin route guard
  frontend/dashboard/src/global.d.ts
  frontend/dashboard/src/plugins/router.ts
Due: none

feat(dashboard): refactor variables input
  apps/api-gql/schema/games.graphqls
  frontend/dashboard/src/components/games/russianRoulette.vue
  frontend/dashboard/src/components/games/seppuku.vue
  frontend/dashboard/src/components/games/voteban.vue
  frontend/dashboard/src/components/new-variable-input.vue
  frontend/dashboard/src/components/variable-input.vue
  frontend/dashboard/src/features/greetings/ui/greetings-dialog.vue
Due: none

refactor(dashboard): new input with variables (#732)
  apps/api-gql/schema/games.graphqls
  frontend/dashboard/src/components/games/russianRoulette.vue
  frontend/dashboard/src/components/games/seppuku.vue
  frontend/dashboard/src/components/games/voteban.vue
  frontend/dashboard/src/components/variable-input.vue
  frontend/dashboard/src/features/greetings/ui/greetings-dialog.vue
Due: none

chore(dashboard): several frontend moments fixed
  frontend/dashboard/src/features/greetings/ui/greetings-dialog.vue
  frontend/dashboard/src/pages/Dashboard.vue
  frontend/dashboard/src/pages/Overlays.vue
Due: none

refactor(dashboard): keywords to new layout
  apps/api-gql/internal/gql/resolvers/keywords.resolver.go
  apps/api-gql/schema/keywords.graphqls
  frontend/dashboard/src/components/ui/input/Input.vue
  frontend/dashboard/src/components/ui/textarea/Textarea.vue
  frontend/dashboard/src/components/variable-input.vue
  frontend/dashboard/src/features/keywords/composables/use-keywords-table.ts
  frontend/dashboard/src/features/keywords/keywords.vue
  frontend/dashboard/src/features/keywords/ui/keywords-create-button.vue
  frontend/dashboard/src/features/keywords/ui/keywords-dialog.vue
  frontend/dashboard/src/features/keywords/ui/keywords-information.vue
  frontend/dashboard/src/features/keywords/ui/keywords-table-actions.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Keywords.vue
  frontend/dashboard/src/plugins/router.ts
Due: none

kruto
  frontend/dashboard/src/components/keywords/modal.vue
  frontend/dashboard/src/components/table.vue
Due: none

kruto
  frontend/dashboard/src/features/greetings/ui/greetings-table-actions.vue
Due: none

refactor(dashboard): keywords to new layout (#740)
  apps/api-gql/internal/gql/resolvers/keywords.resolver.go
  apps/api-gql/schema/keywords.graphqls
  frontend/dashboard/src/components/keywords/modal.vue
  frontend/dashboard/src/components/table.vue
  frontend/dashboard/src/components/ui/input/Input.vue
  frontend/dashboard/src/components/ui/textarea/Textarea.vue
  frontend/dashboard/src/components/variable-input.vue
  frontend/dashboard/src/features/keywords/composables/use-keywords-table.ts
  frontend/dashboard/src/features/keywords/keywords.vue
  frontend/dashboard/src/features/keywords/ui/keywords-create-button.vue
  frontend/dashboard/src/features/keywords/ui/keywords-dialog.vue
  frontend/dashboard/src/features/keywords/ui/keywords-information.vue
  frontend/dashboard/src/features/keywords/ui/keywords-table-actions.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Keywords.vue
  frontend/dashboard/src/plugins/router.ts
Due: none

feat(parser): add mutex for voteban and check is target channel bot
  apps/parser/cmd/main.go
  apps/parser/internal/commands/games/voteban.go
  apps/parser/internal/types/services/services.go
  libs/gomodels/channel_games_voteban.go
Due: publish-parser
