Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

chore: update agents md for each lib, add new
  AGENTS.md
  apps/executron/AGENTS.md
  apps/twitch-mock/AGENTS.md
  libs/entities/AGENTS.md
  libs/frontend-chat/AGENTS.md
  libs/integrations/AGENTS.md
  libs/repositories/AGENTS.md
  web/AGENTS.md
  web/layers/AGENTS.md
  web/layers/dashboard/AGENTS.md
Due: none

vk socket changes (still not working)
  .idea/dataSources.local.xml
  apps/eventsub/app/app.go
  apps/eventsub/internal/vkvideo/dependencies.go
  apps/eventsub/internal/vkvideo/subscription.go
  apps/eventsub/internal/vkvideo/subscription_test.go
  apps/eventsub/internal/vkvideo/transport.go
  apps/eventsub/internal/vkvideo/transport_test.go
  apps/eventsub/internal/vkvideo/transport_test_helpers_test.go
  libs/integrations/vk/websocket_token.go
  libs/integrations/vk/websocket_token_discovery_test.go
  libs/integrations/vk/websocket_token_test.go
Due: publish-eventsub

vk events working...
  apps/eventsub/app/app.go
  apps/eventsub/internal/vkvideo/centrifugo_protocol_test.go
  apps/eventsub/internal/vkvideo/connection.go
  apps/eventsub/internal/vkvideo/ownership.go
  apps/eventsub/internal/vkvideo/ownership_test.go
  apps/eventsub/internal/vkvideo/realtime_client.go
  apps/eventsub/internal/vkvideo/realtime_client_connect_test.go
  apps/eventsub/internal/vkvideo/realtime_lifecycle.go
  apps/eventsub/internal/vkvideo/subscription.go
  apps/eventsub/internal/vkvideo/subscription_test.go
  apps/eventsub/internal/vkvideo/transport.go
  apps/eventsub/internal/vkvideo/transport_test.go
  apps/eventsub/internal/vkvideo/transport_test_helpers_test.go
  libs/integrations/vk/websocket_token.go
  libs/integrations/vk/websocket_token_test.go
Due: publish-eventsub

fix(parser): resolve canonical channel id
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/cacher/cacher_test.go
Due: publish-parser

more fixes on vk listen
  apps/eventsub/internal/vkvideo/message.go
  apps/eventsub/internal/vkvideo/message_user_test.go
  apps/eventsub/internal/vkvideo/testdata/public_chat_message.json
  apps/eventsub/internal/vkvideo/transport_test.go
Due: publish-eventsub

fix(bots): restore kick emote counting
  apps/bots/internal/messagehandler/chat_message.go
  apps/bots/internal/messagehandler/chat_message_test.go
Due: publish-bots

fix(api-gql): protect platform identity changes
  apps/api-gql/internal/delivery/gql/directives/channel_platform_bindings_execution_test.go
  apps/api-gql/internal/delivery/gql/resolvers/channel_platform_test.go
  apps/api-gql/internal/delivery/gql/resolvers/channels.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/http/routes/auth/auth.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform_test.go
Due: none

fix(bots): add capability-aware reply fallback
  apps/bots/internal/platforms/chat.go
  apps/bots/internal/platforms/chat_test.go
Due: publish-bots

fix(events): scope twitch ban gate
  apps/events/internal/workflows/events_flow.go
  apps/events/internal/workflows/events_flow_test.go
Due: none

fix(eventsub): publish canonical kick identities
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
Due: publish-eventsub

fix(vk): use channel chat api contract
  apps/bots/app/app_test.go
  apps/bots/app/vk_chat.go
  apps/bots/internal/vk/chat_client.go
  apps/bots/internal/vk/chat_client_test.go
  cli/internal/cmds/vkvideoprobe/preflight.go
  cli/internal/cmds/vkvideoprobe/preflight_test.go
  libs/integrations/vk/video_chat.go
  libs/integrations/vk/video_chat_test.go
  libs/integrations/vk/websocket_token.go
Due: publish-bots

fix(bots): publish canonical greeting event identity
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_greetings_test.go
  apps/events/internal/listener/listener.go
Due: publish-bots

chore(web): fix pr-owned lint errors
  web/layers/dashboard/features/admin-panel/actions/ui/setup-vk-video-bot.vue
  web/layers/dashboard/features/admin-panel/actions/ui/vk-video-bot-callback.vue
  web/layers/dashboard/features/admin-panel/actions/ui/vk-video-bot.spec.ts
  web/layers/dashboard/features/channel-platforms/composables/use-channel-platforms.spec.ts
  web/layers/dashboard/features/channel-platforms/ui/platform-bindings.spec.ts
Due: none

fix(bots): dispatch greetings by platform
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_greetings_test.go
Due: publish-bots

fix(vk): separate internal and provider message ids
  apps/bots/internal/messagehandler/handle_chat_wall.go
  apps/bots/internal/messagehandler/handle_chat_wall_test.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/bots/internal/messagehandler/handle_moderation_test.go
  apps/bots/internal/messagehandler/message_id_test_helpers_test.go
  apps/eventsub/internal/vkvideo/message.go
  apps/eventsub/internal/vkvideo/transport_test.go
Due: publish-bots, publish-eventsub

fix(web): expose vk platform option
  web/layers/dashboard/components/platform-selector.spec.ts
  web/layers/dashboard/components/platform-selector.vue
  web/vitest.config.ts
Due: none

fix(api-gql): guard unlink platform account
  apps/api-gql/internal/delivery/gql/directives/unlink_platform_account_execution_test.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
Due: none

fix(timers): include vk chat targets
  apps/timers/internal/manager/send_targets.go
  apps/timers/internal/manager/send_targets_test.go
Due: none

refactor(dashboard): simplify platforms accent to golden icon
  web/layers/dashboard/layout/sidebar/sidebar-navigation.vue
Due: none

feat(landing): add vk channels to stats counter
  apps/api-gql/internal/delivery/gql/resolvers/stats.resolver.go
  apps/api-gql/internal/delivery/gql/schema/stats.graphql
  apps/api-gql/internal/delivery/gql/twir-stats/twir-stats.go
  web/layers/landing/api/stats.ts
  web/layers/landing/components/index/stats/stats.vue
Due: none

fix(parser): allow channels without twitch binding
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/cacher/cacher_test.go
  apps/parser/internal/cacher/twitch.go
Due: publish-parser

fix(api-gql): provide SessionReader in fx wiring
  apps/api-gql/cmd/main.go
Due: none

test(events): assert workflow activity expectations
  apps/events/internal/workflows/events_flow_test.go
Due: none

test(events): cover ban gate at workflow level
  apps/events/internal/workflows/events_flow_test.go
Due: none

fix(api-gql): request chat:message:send scope in vk bot setup
  apps/api-gql/internal/platform/vkvideo/bot_setup_provider.go
  apps/api-gql/internal/platform/vkvideo/bot_setup_provider_test.go
Due: none

feat(dashboard): accent platforms item and fix active sidebar highlight
  web/layers/dashboard/config/navigation.ts
  web/layers/dashboard/layout/sidebar/sidebar-navigation.vue
Due: none

fix(vkvideo): reconcile active chats after bot replacement
  apps/api-gql/internal/delivery/http/routes/auth/vk_video_bot_setup.go
  apps/api-gql/internal/delivery/http/routes/auth/vk_video_bot_setup_fakes_test.go
  apps/api-gql/internal/delivery/http/routes/auth/vk_video_bot_setup_test.go
  apps/eventsub/internal/vkvideo/connection.go
  apps/eventsub/internal/vkvideo/subscription.go
  apps/eventsub/internal/vkvideo/transport.go
  apps/eventsub/internal/vkvideo/transport_test.go
Due: publish-eventsub

fix(libs/channels): correct cache of stream
  .omo/plans/2026-07-26-pr-1004-blockers.md
  .omo/ulw-research/20260726-204907/cause-disappearance.md
  .omo/ulw-research/20260726-204907/claim-graph.md
  .omo/ulw-research/20260726-204907/expansion-log.md
  .omo/ulw-research/20260726-204907/intent-diff.md
  .omo/ulw-research/20260726-204907/observation-manifest.md
  .omo/ulw-research/20260726-204907/pr-1004-audit.md
  .omo/ulw-research/20260726-204907/regression-matrix.md
  .omo/ulw-research/20260726-204907/report.md
  .omo/ulw-research/20260726-204907/verification-economics.md
  .omo/ulw-research/20260726-204907/wave-1-code-api-dashboard.md
  .omo/ulw-research/20260726-204907/wave-1-code-bots.md
  .omo/ulw-research/20260726-204907/wave-1-code-events-timers.md
  .omo/ulw-research/20260726-204907/wave-1-code-frontend.md
  .omo/ulw-research/20260726-204907/wave-1-code-identity.md
  .omo/ulw-research/20260726-204907/wave-1-code-ingress.md
  .omo/ulw-research/20260726-204907/wave-1-code-parser-commands.md
  .omo/ulw-research/20260726-204907/wave-1-code-parser-variables.md
  .omo/ulw-research/20260726-204907/wave-1-code-persistence.md
  .omo/ulw-research/20260726-204907/wave-1-code-platform-core.md
  .omo/ulw-research/20260726-204907/wave-1-doc-kick.md
  .omo/ulw-research/20260726-204907/wave-1-doc-oss.md
  .omo/ulw-research/20260726-204907/wave-1-doc-twitch.md
  .omo/ulw-research/20260726-204907/wave-1-doc-vk.md
  .omo/ulw-research/20260726-204907/wave-2-execution.md
  .omo/ulw-research/20260726-204907/wave-2-oss.md
  .omo/ulw-research/20260726-204907/wave-2-partial.md
  .omo/ulw-research/20260726-204907/wave-2-skeptic.md
  libs/services/channels/channels.go
  libs/services/channels/channels_test.go
Due: none

feat(overlays): support vk platform in chat overlay
  frontend/overlays/src/pages/overlays/chat.vue
  libs/frontend-chat/src/components/platform-icon.vue
  libs/frontend-chat/src/types.ts
Due: none

chore(parser): correct followage
  apps/parser/internal/variables/user/follow_age.go
Due: publish-parser

fix(eventsub): decode vk chat link parts into message text
  apps/eventsub/internal/vkvideo/message.go
  apps/eventsub/internal/vkvideo/transport_test.go
Due: publish-eventsub

fix(api-gql): invalidate channel cache on binding change
  apps/api-gql/internal/services/channel_platforms/channel_platforms.go
  apps/api-gql/internal/services/channel_platforms/channel_platforms_test.go
Due: none

feat(api-gql): expose platform-neutral profile via LinkedAccount
  apps/api-gql/internal/delivery/gql/mappers/channel_platform_test.go
  apps/api-gql/internal/delivery/gql/mappers/channels.go
  apps/api-gql/internal/delivery/gql/resolvers/channels.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/community-users.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user_linked_accounts_helpers.go
  apps/api-gql/internal/delivery/gql/schema/channels.graphql
  apps/api-gql/internal/delivery/gql/schema/user.graphql
Due: none

refactor(web): use dashboard.profile in command menu and twitch embeds
  web/layers/dashboard/components/command-menu/CommandMenu.vue
  web/layers/dashboard/components/dashboard/chat.vue
  web/layers/dashboard/components/dashboard/stream.vue
Due: none

refactor(web): consume linkedAccounts/profile instead of twitch/kick profiles
  web/app/stores/user.ts
  web/layers/dashboard/api/auth.ts
  web/layers/dashboard/features/admin-panel/manage-users/composables/use-users-table-filters.ts
  web/layers/dashboard/features/admin-panel/manage-users/ui/users-table-cell-user.vue
  web/layers/dashboard/features/community-users/ui/community-users-table-search.vue
  web/layers/dashboard/features/overlays/brb/page.vue
  web/layers/dashboard/layout/sidebar/sidebar-dashboard-selector.vue
  web/layers/dashboard/layout/use-public-page-href.ts
  web/layers/landing/layouts/default/header-profile.vue
  web/layers/public/api/use-streamer-profile.ts
  web/layers/public/layouts/public.vue
  web/layers/public/layouts/public/public-user-profile.vue
Due: none

refactor(api-gql)!: drop twitchProfile/kickProfile from user types
  apps/api-gql/internal/delivery/gql/mappers/channel_platform_test.go
  apps/api-gql/internal/delivery/gql/mappers/channels.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.service.go
  apps/api-gql/internal/delivery/gql/schema/channels.graphql
  apps/api-gql/internal/delivery/gql/schema/user.graphql
Due: none

feat(api-gql)!: return twitch platform ids in public badges endpoint
  apps/api-gql/internal/entity/badge.go
  apps/api-gql/internal/services/badges-with-users/badges-with-users.go
  libs/repositories/users/pgx/pgx.go
  libs/repositories/users/users.go
Due: none

fix(api-gql): return twitch platform ids instead of internal uuids in public badges
  apps/api-gql/internal/services/badges-with-users/badges-with-users.go
Due: none

changes after prod migration, tests
  apps/api-gql/internal/auth/api_key_test.go
  apps/api-gql/internal/delivery/gql/directives/has-access-to-selected-dashboard_test.go
  apps/api-gql/internal/delivery/gql/directives/has-channel-roles-dashboard-permission_test.go
  apps/api-gql/internal/delivery/gql/resolvers/community_reset_stats_test.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.service.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.service_test.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform_test.go
  apps/api-gql/internal/services/channels/channels_test.go
  apps/api-gql/internal/services/dashboard_access/dashboard_access.go
  apps/api-gql/internal/services/dashboard_access/dashboard_access_test.go
  apps/bots/internal/services/channel/message_delete_test.go
  apps/events/internal/activities/events/ban_unban.go
  apps/events/internal/activities/events/helpers.go
  apps/events/internal/activities/events/helpers_test.go
  apps/events/internal/activities/events/mod_unmod.go
  apps/events/internal/activities/events/vip_unvip.go
  apps/eventsub/internal/bus-listener/bus-listener_test.go
  apps/eventsub/internal/handler/binding_status_test.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/webhook_integration_test.go
  apps/eventsub/internal/manager/manager_test.go
  apps/eventsub/internal/webhook/manager_test.go
  apps/scheduler/internal/timers/online_chatters.go
  apps/scheduler/internal/timers/online_chatters_test.go
  libs/gomodels/channels.go
  libs/gomodels/users.go
  libs/migrations/postgres/20260727180202_channels_drop_legacy_columns.sql
  libs/repositories/channel_platforms/pgx/pgx_test.go
  libs/repositories/channels/channels.go
  libs/repositories/channels/pgx/channel_binding_test.go
  libs/repositories/channels/pgx/pgx.go
Due: publish-bots, publish-eventsub, publish-scheduler
