Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

fix(api-gql): correctly resolve twitch and kick profile in authed user
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  apps/api-gql/internal/services/channels/channels.go
  libs/repositories/channels/pgx/pgx.go
Due: none

docs: add dota module design spec
  docs/superpowers/specs/2026-07-20-dota-module-design.md
Due: none

docs: dota module implementation plan
  docs/superpowers/plans/2026-07-20-dota-module.md
Due: none

feat: add channels_dota_settings migration
  libs/migrations/postgres/20260720021955_channels_dota_settings.sql
Due: none

feat: dota settings entity, gomodel and pgx repository
  libs/entities/dota/entity.go
  libs/gomodels/channels_dota_settings.go
  libs/repositories/dota/model/model.go
  libs/repositories/dota/pgx/pgx.go
  libs/repositories/dota/repository.go
Due: none

feat: dota bus subjects and queues
  libs/bus-core/api/dota.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/dota/dota.go
Due: none

feat: scaffold apps/dota service
  .github/workflows/dockerv3.yml
  apps/dota/Dockerfile
  apps/dota/app/app.go
  apps/dota/cmd/main.go
  apps/dota/go.mod
  apps/dota/go.sum
  cli/go.mod
  cli/internal/cmds/deploy/deploy.go
  cli/internal/goapp/apps.go
  docker-compose.stack.yml
  go.work
  libs/config/config.go
Due: publish-dota

chore: go work sync after adding apps/dota
  apps/api-gql/go.mod
  apps/api-gql/go.sum
  apps/bots/go.mod
  apps/emotes-cacher/go.mod
  apps/parser/go.mod
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/tokens/go.mod
  apps/twitch-mock/go.mod
  apps/twitch-mock/go.sum
  go.work.sum
  libs/cache/go.mod
  libs/cache/go.sum
  libs/entities/go.mod
  libs/entities/go.sum
  libs/errors/go.mod
  libs/twitch/go.mod
Due: publish-bots, publish-parser, publish-scheduler

feat: dota GSI http server
  apps/dota/app/app.go
  apps/dota/go.mod
  apps/dota/go.sum
  apps/dota/internal/gsi/server.go
  apps/dota/internal/gsi/server_test.go
  apps/dota/internal/gsi/testdata/in_game.json
  apps/dota/internal/gsi/testdata/menu.json
  apps/dota/internal/gsi/testdata/post_game_win.json
  apps/dota/internal/gsi/types.go
  apps/dota/internal/processorstub/processorstub.go
Due: publish-dota

fix: add http timeouts to dota gsi server
  apps/dota/internal/gsi/server.go
Due: publish-dota

feat: dota match state machine
  apps/dota/app/app.go
  apps/dota/app/app_test.go
  apps/dota/internal/match/bus_emitter.go
  apps/dota/internal/match/state_machine.go
  apps/dota/internal/match/state_machine_test.go
  apps/dota/internal/processorstub/processorstub.go
Due: publish-dota

fix: mark dota events seen after successful emit; bail on settings load failure in finishMatch
  apps/dota/internal/match/state_machine.go
  apps/dota/internal/match/state_machine_test.go
Due: publish-dota

feat: stratz and opendota clients with stats facade
  apps/dota/internal/stats/stats.go
  apps/dota/internal/stats/stats_test.go
  libs/integrations/opendota/client.go
  libs/integrations/stratz/client.go
Due: publish-dota

fix: correct dota stats API and cache behavior
  apps/dota/internal/stats/stats.go
  apps/dota/internal/stats/stats_test.go
  libs/integrations/opendota/client.go
  libs/integrations/opendota/client_test.go
Due: publish-dota

fix: harden dota stats clients
  apps/dota/internal/stats/stats.go
  apps/dota/internal/stats/stats_test.go
  libs/integrations/opendota/client.go
  libs/integrations/opendota/client_test.go
  libs/integrations/stratz/client.go
  libs/integrations/stratz/client_test.go
Due: publish-dota

fix: validate all stratz win-rate values
  libs/integrations/stratz/client.go
  libs/integrations/stratz/client_test.go
Due: none

feat: publish live dota win probability
  apps/dota/app/app.go
  apps/dota/internal/match/state_machine.go
  apps/dota/internal/match/state_machine_test.go
  apps/dota/internal/processor/processor.go
  apps/dota/internal/processor/processor_test.go
Due: publish-dota

fix: validate inactive dota win probability updates
  apps/dota/internal/match/state_machine.go
  apps/dota/internal/match/state_machine_test.go
Due: publish-dota

fix: make dota win probability enrichment asynchronous and match-safe
  apps/dota/internal/match/state_machine.go
  apps/dota/internal/match/state_machine_test.go
  apps/dota/internal/processor/processor.go
  apps/dota/internal/processor/processor_test.go
Due: publish-dota

fix: synchronize dota win probability enrichment shutdown
  apps/dota/internal/match/state_machine.go
  apps/dota/internal/match/state_machine_test.go
  apps/dota/internal/processor/processor.go
  apps/dota/internal/processor/processor_test.go
Due: publish-dota

feat: add dota bus data responder
  apps/dota/app/app.go
  apps/dota/app/app_test.go
  apps/dota/internal/buslistener/bus_listener.go
  apps/dota/internal/buslistener/bus_listener_test.go
Due: publish-dota

fix: activate dota bus listener
  apps/dota/app/app.go
  apps/dota/app/app_test.go
  apps/dota/internal/buslistener/bus_listener_test.go
Due: publish-dota

fix: drain dota bus requests during shutdown
  apps/dota/internal/buslistener/bus_listener.go
  apps/dota/internal/buslistener/bus_listener_test.go
Due: publish-dota

test: strengthen dota bus shutdown coverage
  apps/dota/internal/buslistener/bus_listener_test.go
Due: publish-dota

test: prove dota bus drain waits after unsubscribe
  apps/dota/internal/buslistener/bus_listener_test.go
Due: publish-dota

feat: add dota chat alerts
  apps/dota/app/app.go
  apps/dota/internal/chatalerts/chat_alerts.go
  apps/dota/internal/chatalerts/chat_alerts_test.go
Due: publish-dota

fix: propagate dota aegis player id
  apps/dota/internal/chatalerts/chat_alerts.go
  apps/dota/internal/chatalerts/chat_alerts_test.go
  apps/dota/internal/gsi/server_test.go
  apps/dota/internal/gsi/testdata/in_game.json
  apps/dota/internal/gsi/types.go
  apps/dota/internal/match/state_machine.go
  apps/dota/internal/match/state_machine_test.go
  libs/bus-core/dota/dota.go
Due: publish-dota

fix: make dota chat alert cooldowns atomic
  apps/dota/app/app.go
  apps/dota/go.mod
  apps/dota/internal/chatalerts/chat_alerts.go
  apps/dota/internal/chatalerts/chat_alerts_test.go
  apps/dota/internal/gsi/types.go
  apps/dota/internal/match/state_machine.go
  apps/dota/internal/match/state_machine_test.go
  libs/bus-core/dota/dota_test.go
Due: publish-dota

chore: use nuxt prepare as separate
  web/package.json
Due: none

chore: fix conflicts
  libs/repositories/channels/channels.go
  libs/repositories/channels/pgx/pgx.go
Due: none

chore: add translate
  web/i18n/locales/en.json
  web/locales/en.json
Due: none

fix: harden dota chat alert delivery
  apps/dota/internal/chatalerts/chat_alerts.go
  apps/dota/internal/chatalerts/chat_alerts_test.go
Due: publish-dota

chore: fix nuxt prebuild command
  web/package.json
Due: none

fix(migrations): correct hide_on_pause
  libs/migrations/postgres/20260706041740_channel_api_key_and_hide_on_paus.sql
Due: none

fix: sanitize dota alert callback errors
  apps/dota/internal/chatalerts/chat_alerts.go
  apps/dota/internal/chatalerts/chat_alerts_test.go
Due: publish-dota

fix(repositories): correct get many for timers
  apps/timers/internal/manager/manager.go
  libs/repositories/channels/pgx/pgx.go
Due: none

feat: add dota chat commands
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/dota/addacc_command.go
  apps/parser/internal/commands/dota/delacc_command.go
  apps/parser/internal/commands/dota/dota.go
  apps/parser/internal/commands/dota/gamemodes.go
  apps/parser/internal/commands/dota/gm_command.go
  apps/parser/internal/commands/dota/heroes.go
  apps/parser/internal/commands/dota/lg_command.go
  apps/parser/internal/commands/dota/listacc_command.go
  apps/parser/internal/commands/dota/medals.go
  apps/parser/internal/commands/dota/np_command.go
  apps/parser/internal/commands/dota/wl_command.go
  apps/parser/internal/commands/dota2/dota2.go
  apps/parser/internal/commands/dota2/dota2_test.go
  apps/parser/internal/commands/dota2/gm.go
  apps/parser/internal/commands/dota2/lg.go
  apps/parser/internal/commands/dota2/mmr.go
  apps/parser/internal/commands/dota2/np.go
  apps/parser/internal/commands/dota2/wl.go
  apps/parser/internal/commands/dota2/wp.go
  apps/parser/locales/en/commands/dota.yaml
  apps/parser/locales/locales.go
Due: publish-parser

fix: enable and harden dota chat commands
  apps/dota/internal/buslistener/bus_listener.go
  apps/dota/internal/buslistener/bus_listener_test.go
  apps/dota/internal/stats/stats.go
  apps/dota/internal/stats/stats_test.go
  apps/parser/internal/commands/dota2/dota2.go
  apps/parser/internal/commands/dota2/dota2_contract_test.go
  apps/parser/internal/commands/dota2/dota2_test.go
  apps/parser/internal/commands/dota2/gm.go
  apps/parser/internal/commands/dota2/lg.go
  apps/parser/internal/commands/dota2/mmr.go
  apps/parser/internal/commands/dota2/np.go
  apps/parser/internal/commands/dota2/wl.go
  apps/parser/internal/commands/dota2/wp.go
  apps/parser/locales/en/commands/dota.yaml
  apps/parser/locales/locales.go
  libs/bus-core/dota/dota.go
  libs/bus-core/dota/dota_test.go
  libs/migrations/postgres/20260720173015_enable_dota_commands_by_default.sql
  libs/repositories/dota/pgx/pgx.go
  libs/repositories/dota/repository.go
  libs/repositories/dota/repository_test.go
Due: publish-dota, publish-parser

test: exercise dota command behavior
  apps/parser/internal/commands/dota2/dota2.go
  apps/parser/internal/commands/dota2/dota2_contract_test.go
  apps/parser/internal/commands/dota2/dota2_test.go
  apps/parser/internal/commands/dota2/mmr.go
  libs/repositories/dota/pgx/pgx.go
  libs/repositories/dota/repository.go
  libs/repositories/dota/repository_test.go
Due: publish-parser

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
