Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

fix(api): make channel disabled by default
  apps/api/internal/api/auth/checkUser.go
Due: publish-api

refactor(api): move config to di
  apps/api/cmd/main.go
  apps/api/internal/api/auth/controller.go
  apps/api/internal/api/auth/service.go
  apps/api/internal/api/v1/bot/service.go
  apps/api/internal/api/v1/feedback/service.go
  apps/api/internal/api/v1/rewards/service.go
  apps/api/internal/types/types.go
Due: publish-api

refactor(api): do not use pointers for config in di
  apps/api/cmd/main.go
  apps/api/internal/api/auth/service.go
  apps/api/internal/api/v1/bot/service.go
  apps/api/internal/api/v1/feedback/service.go
  apps/api/internal/api/v1/rewards/service.go
  apps/api/internal/middlewares/attachUser.go
Due: publish-api

chore(websockets): change notification text about now playing
  apps/websockets/src/namespaces/youtube.ts
Due: none

chore(websockets): remove redutatant log
  apps/websockets/src/namespaces/youtube.ts
Due: none

feat: add support for min song length
  apps/dashboard/components/song-requests/settings/songs.tsx
  apps/dashboard/pages/song-requests/settings.tsx
  apps/dashboard/public/locales/en/song-requests-settings.json
  apps/dashboard/public/locales/ru/song-requests-settings.json
  apps/parser/cmd/main.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
  libs/typeorm/src/migrations/1672811910037-sr_song_min_length.ts
  libs/types/types/api/modules/youtube.go
Due: publish-migrations, publish-parser

chore(types): add max number validation for `minLength` field of songs
  libs/types/types/api/modules/youtube.go
Due: none

feat(dashboard): move selected dashboard to context
  apps/dashboard/components/appProvider.tsx
  apps/dashboard/components/dashboard/index.tsx
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/components/moderation/drawer.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/pages/index.tsx
  apps/dashboard/pages/integrations/[integration].tsx
  apps/dashboard/services/api/bot.ts
  apps/dashboard/services/api/crud.ts
  apps/dashboard/services/api/integrations/index.ts
  apps/dashboard/services/api/moderation.ts
  apps/dashboard/services/api/modules/youtube.ts
  apps/dashboard/services/api/profile.ts
  apps/dashboard/services/api/rewards.ts
  apps/dashboard/services/api/variables.ts
  apps/dashboard/services/dashboard/createDefaultDashboard.ts
  apps/dashboard/services/dashboard/index.ts
  apps/dashboard/services/dashboard/useSelectedDashboard.ts
  apps/dashboard/services/selectedDashboardProvider.ts
Due: none

fix(parser): add return when song requests disabled
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

feat(dashboard): add accumulated duration of song requests
  apps/dashboard/components/song-requests/list.tsx
Due: none

feat: add link to song in requests of responses
  apps/parser/internal/variables/song/song.go
  apps/websockets/src/namespaces/youtube.ts
Due: publish-parser

refactor useLocale hook
  apps/dashboard/components/appProvider.tsx
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/services/dashboard/useLocale.ts
  apps/dashboard/services/dashboard/useLocale.tsx
Due: none

refactor layout
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/components/layout/profile.tsx
  apps/dashboard/components/layout/sidebar.tsx
Due: none

toggle theme hook
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/services/dashboard/index.ts
  apps/dashboard/services/dashboard/useTheme.ts
Due: none

upd Chatting
  apps/dashboard/components/layout/sidebar.tsx
Due: none

refactor(dashboard): navbar, sidebar of layout (#282)
  apps/dashboard/components/appProvider.tsx
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/components/layout/profile.tsx
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/services/dashboard/index.ts
  apps/dashboard/services/dashboard/useLocale.ts
  apps/dashboard/services/dashboard/useLocale.tsx
  apps/dashboard/services/dashboard/useTheme.ts
Due: none

fix: horizontal scroll on commands page
  apps/dashboard/pages/commands/[[...module]].tsx
Due: none

fix: horizontal scroll on commands page (#283)
  apps/dashboard/pages/commands/[[...module]].tsx
Due: none

fix: remove default values for channel in gorm model
  apps/api/internal/api/auth/checkUser.go
  libs/gomodels/channels.go
Due: publish-api

feat(dashboard): detect system theme
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/services/dashboard/useTheme.ts
Due: none

feat(dashboard): detect system theme (#285)
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/services/dashboard/useTheme.ts
Due: none

feat(dashboard): add logo in navbar
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/public/TsuwariInCircle.svg
Due: none

feat(dashboard): add logo in navbar (#288)
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/public/TsuwariInCircle.svg
Due: none

refactor: use UTC for all times in golang code
  apps/api/internal/api/auth/checkUser.go
  apps/api/internal/api/auth/controller.go
  apps/api/internal/api/auth/service.go
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/messages/store_message.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
  apps/parser/internal/commands/songrequest/youtube/wrong.go
  apps/parser/internal/config/twitch/twitch.go
  apps/parser/internal/twitch/user/user.go
  libs/twitch/twitch.go
  libs/twitch/user.go
  libs/ytdl/player_cache.go
Due: publish-api, publish-bots, publish-parser

feat: add translations for song requests responses in chat
  apps/parser/internal/commands/songrequest/youtube/sr.go
  libs/typeorm/src/migrations/1672908669216-ytsr_translations.ts
  libs/types/types/api/modules/youtube.go
Due: publish-migrations, publish-parser

feat: add user displayName to song requests
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
  apps/parser/internal/variablescache/variablescache.go
  libs/gomodels/requested_song.go
  libs/typeorm/src/entities/RequestedSong.ts
  libs/typeorm/src/migrations/1672927752886-ytsr_add_displayName.ts
Due: publish-migrations, publish-parser

upd Chatting
  apps/dashboard/components/dashboard/bot-manage.tsx
  apps/dashboard/components/dashboard/index.tsx
  apps/dashboard/components/dashboard/service-manage.tsx
  apps/dashboard/components/song-requests/helpers.ts
  apps/dashboard/components/song-requests/hook.ts
  apps/dashboard/components/song-requests/list.tsx
  apps/dashboard/components/song-requests/player.tsx
  apps/dashboard/components/song-requests/queue.tsx
  apps/dashboard/pages/song-requests/player.tsx
  apps/dashboard/services/api/queryClient.ts
  apps/dashboard/styles/card.ts
  apps/dashboard/styles/draggable.ts
  apps/dashboard/tsconfig.json
Due: none

upd Chatting
  apps/dashboard/components/song-requests/hook.ts
  apps/dashboard/components/song-requests/player.tsx
  apps/dashboard/components/song-requests/player/slider.tsx
  apps/dashboard/components/song-requests/player/youtube-player.tsx
  apps/dashboard/components/song-requests/queue/index.ts
  apps/dashboard/components/song-requests/queue/queue-list.tsx
  apps/dashboard/pages/song-requests/player.tsx
Due: none

feat(dashboard): set user id for selected dashboard if user not found
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/next-i18next.config.js
Due: none

upd Chatting
  apps/dashboard/components/song-requests/settings/translations.tsx
  apps/dashboard/pages/song-requests/settings.tsx
  apps/dashboard/public/locales/en/song-requests-settings.json
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/commands/songrequest/youtube/sr.go
  apps/parser/internal/variables/song/song.go
  apps/websockets/src/namespaces/youtube.ts
  libs/typeorm/src/migrations/1672908669216-ytsr_translations.ts
  libs/types/types/api/modules/youtube.go
Due: publish-migrations, publish-parser

upd Chatting
  apps/parser/internal/commands/songrequest/youtube/sr.go
  apps/websockets/src/namespaces/youtube.ts
Due: publish-parser

feat: add translations for song requests responses in chat (#292)
  apps/dashboard/components/song-requests/settings/translations.tsx
  apps/dashboard/pages/song-requests/settings.tsx
  apps/dashboard/public/locales/en/song-requests-settings.json
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/commands/songrequest/youtube/sr.go
  apps/parser/internal/variables/song/song.go
  apps/websockets/src/namespaces/youtube.ts
  libs/typeorm/src/migrations/1672908669216-ytsr_translations.ts
  libs/types/types/api/modules/youtube.go
Due: publish-migrations, publish-parser

refactor(dashboard/songrequests): (#291)
  apps/dashboard/components/dashboard/bot-manage.tsx
  apps/dashboard/components/dashboard/index.tsx
  apps/dashboard/components/dashboard/service-manage.tsx
  apps/dashboard/components/song-requests/helpers.ts
  apps/dashboard/components/song-requests/hook.ts
  apps/dashboard/components/song-requests/list.tsx
  apps/dashboard/components/song-requests/player.tsx
  apps/dashboard/components/song-requests/player/slider.tsx
  apps/dashboard/components/song-requests/player/youtube-player.tsx
  apps/dashboard/components/song-requests/queue/index.ts
  apps/dashboard/components/song-requests/queue/queue-list.tsx
  apps/dashboard/pages/song-requests/player.tsx
  apps/dashboard/services/api/queryClient.ts
  apps/dashboard/styles/card.ts
  apps/dashboard/styles/draggable.ts
  apps/dashboard/tsconfig.json
Due: none

fix(websockets): add check on null orderedByDisplayName
  apps/websockets/src/namespaces/youtube.ts
Due: none

fix(dashboard): add missed key for song requests translations
  apps/dashboard/components/song-requests/settings/translations.tsx
Due: none

fix(gomodels): use correct column name for requested song displayName
  apps/parser/internal/commands/songrequest/youtube/sr.go
  libs/gomodels/requested_song.go
Due: publish-parser

refactor(dashboard): use resolver for user names in components
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/components/settings/dashboardAccess.tsx
  apps/dashboard/components/song-requests/hook.ts
  apps/dashboard/components/song-requests/player/youtube-player.tsx
  apps/dashboard/components/song-requests/queue/queue-list.tsx
  apps/dashboard/util/resolveUserName.ts
Due: none

fix(api): do not response with empty dashboards if user not found
  apps/api/internal/api/auth/service.go
Due: publish-api

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
