Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

feat: use bun canary
  .bun-version
  cli/internal/cmds/dependencies/js.go
Due: none

chore: update lockfile
  bun.lock
Due: none

chore(executron): use bookworm-slim for docker
  apps/executron/Dockerfile
Due: none

fix(api-gql): corrcet refresh spotify token
  apps/api-gql/internal/delivery/gql/now-playing-fetcher/now-playing-fetcher.go
Due: none

fix(api-gql): correct commands endpoint for legacy twitch id
  apps/api-gql/internal/delivery/http-public/commands.go
  apps/api-gql/internal/services/channels/channels.go
  apps/api-gql/internal/services/channels/channels_test.go
  libs/repositories/channels/channels.go
  libs/repositories/channels/pgx/pgx.go
Due: none

fix(web): correct switch games
  web/layers/dashboard/components/games/russianRoulette.vue
  web/layers/dashboard/components/games/seppuku.vue
Due: none

fix(web): more switchers fixes
  web/layers/dashboard/components/dashboard/events.vue
  web/layers/dashboard/features/community-users/ui/community-users-table-search.vue
  web/layers/dashboard/features/integrations/ui/seventv/settings.vue
  web/layers/dashboard/features/overlay-builder/components/CodeEditorDialog.vue
  web/layers/dashboard/features/overlays/kappagen/components/events-tab.vue
Due: none

feat(api-gql): add channel v2 endpoints for public commands
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/http-public/v2/commands.go
  apps/api-gql/internal/delivery/http-public/v2/public.go
  apps/api-gql/internal/services/channels/channels.go
  apps/api-gql/internal/services/channels/channels_test.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/webhook_integration_test.go
  apps/eventsub/internal/manager/manager_test.go
  libs/api/openapi.ts
  libs/entities/platform/platform.go
  libs/repositories/channels/channels.go
  libs/repositories/channels/pgx/pgx.go
Due: publish-eventsub

fix(web): correct use of variable api and icon
  web/layers/dashboard/components/text-with-variables.vue
Due: none

feat(web): add vue-datepicker to optimizeDeps
  web/nuxt.config.ts
Due: none

fix(bots): correct ban nats bus for work with uuid/plain id
  apps/bots/internal/services/channel/ban.go
Due: publish-bots

fix(bots): correct take channel id in sendMessage
  apps/bots/internal/services/channel/message.go
Due: publish-bots

chore(eventsub): polish twitch stream online event
  apps/eventsub/internal/handler/stream_online.go
Due: publish-eventsub

fix(executron): prevent subscription zombie and timer leak
  apps/executron/src/libs/executor.ts
  apps/executron/src/libs/host-timers.ts
  libs/bus-core/src/queue.ts
Due: none

fix(eventsub): correct check for stream online
  apps/eventsub/internal/handler/stream_online.go
Due: publish-eventsub

fix: correct migration
  libs/migrations/postgres/20260706041740_channel_api_key_and_hide_on_paus.sql
  mise.toml
Due: none

feat: refactors frontend, backend fixes
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/resolvers/song-requests.resolver.go
  apps/api-gql/internal/delivery/gql/schema/song-requests.graphql
  apps/parser/internal/commands/songrequest/youtube/sr.go
  apps/parser/internal/commands/songrequest/youtube/wrong.go
  libs/gomodels/channels_song_requests_settings.go
  libs/repositories/channels/model/model.go
  libs/repositories/channels/pgx/pgx.go
  web/layers/dashboard/api/song-requests.ts
  web/layers/dashboard/components/songRequests/player.vue
  web/layers/dashboard/components/songRequests/queue.vue
  web/layers/dashboard/components/songRequests/settings.vue
  web/layers/dashboard/composables/useSongRequestGql.ts
  web/layers/dashboard/locales/en.json
  web/layers/dashboard/locales/ru.json
  web/layers/dashboard/locales/uk.json
  web/layers/dashboard/pages/dashboard/song-requests.vue
Due: publish-parser

fixes
  apps/api-gql/internal/delivery/gql/resolvers/song-requests.resolver.go
  libs/repositories/channels/channels.go
  libs/repositories/channels/pgx/pgx.go
  web/layers/dashboard/components/songRequests/player.vue
  web/layers/dashboard/components/songRequests/queue.vue
Due: none

fixes
  apps/api-gql/internal/delivery/gql/resolvers/song-requests.resolver.go
  apps/api-gql/internal/delivery/gql/schema/song-requests.graphql
  apps/api-gql/internal/services/song_requests/bridge.go
  apps/api-gql/internal/services/song_requests/playback_state.go
  web/layers/dashboard/components/songRequests/player.vue
  web/layers/dashboard/composables/useSongRequestGql.ts
  web/layers/widgets/pages/w/[channelApiKey]/song-requests.client.vue
Due: none

fix playback and volume?
  apps/api-gql/internal/delivery/gql/resolvers/song-requests.resolver.go
  apps/api-gql/internal/services/song_requests/playback_state.go
  web/layers/dashboard/components/songRequests/player.vue
Due: none

fixes rate limit
  apps/api-gql/internal/delivery/gql/directives/directives.go
  apps/api-gql/internal/delivery/gql/gql.go
  apps/api-gql/internal/delivery/gql/rate_limit_extension.go
  apps/api-gql/internal/delivery/gql/schema/schema.graphql
  apps/api-gql/internal/delivery/gql/schema/song-requests.graphql
  apps/api-gql/internal/server/middlewares/middlewares.go
  web/layers/dashboard/components/songRequests/player.vue
  web/layers/dashboard/composables/useDebouncedVolume.ts
  web/layers/widgets/pages/w/[channelApiKey]/song-requests.client.vue
Due: none

fix widvget volume
  web/urql.ts
Due: none

fixes
  .opencode/opencode.jsonc
  apps/api-gql/internal/delivery/gql/resolvers/song-requests.resolver.go
  apps/api-gql/internal/services/song_requests/playback_state.go
Due: none

chore(stack): update vector version
  docker-compose.stack.yml
Due: none

chore(stack): remove `pids_limit` since it is not supported
  docker-compose.stack.yml
Due: none

refactor: replace Victoria* + Grafana with SigNoz self-hosted
  .gitignore
  OBSERVABILITY.md
  configs/grafana/dashboards/app-performance.json
  configs/grafana/dashboards/logs.json
  configs/grafana/dashboards/metrics.json
  configs/grafana/dashboards/slow-queries.json
  configs/grafana/dashboards/traces.json
  configs/grafana/provisioning/dashboards/default.yml
  configs/grafana/provisioning/datasources/victoria-logs.yml
  configs/grafana/provisioning/datasources/victoria-metrics.yml
  configs/grafana/provisioning/datasources/victoria-traces.yml
  configs/otel/otel-collector.yaml.example
  configs/signoz/clickhouse-config.yaml
  configs/signoz/clickhouse-functions.yaml
  configs/signoz/clickhouse-keeper.yaml
  configs/signoz/docker-compose.yml
  configs/signoz/ingester.yaml
  configs/signoz/opamp.yaml
  configs/vector/vector.yaml.example
  configs/vmagent/scrape.yml.example
  docker-compose.observability.yml
  docker-compose.stack.yml
Due: none

upd
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/resolvers/song-requests.resolver.go
  apps/api-gql/internal/services/channels/channels_test.go
  apps/api-gql/internal/services/song_requests/playback_state.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/webhook_integration_test.go
  apps/eventsub/internal/manager/manager_test.go
Due: publish-eventsub

fix: run otel-collector as root for docker socket access
  docker-compose.stack.yml
Due: none

chore(stack): add user to otel collector
  docker-compose.stack.yml
Due: none

updates via gpt 5.5
  apps/api-gql/internal/services/song_requests/bridge.go
  apps/api-gql/internal/services/song_requests/playback_state.go
  web/layers/dashboard/components/songRequests/player.vue
  web/layers/dashboard/composables/useDebouncedSeek.ts
  web/layers/dashboard/composables/useGlobalYoutubePlayer.ts
  web/layers/dashboard/layout/sidebar/sidebar-mini-player.vue
  web/layers/dashboard/layout/sidebar/sidebar.vue
  web/layers/dashboard/pages/dashboard/song-requests.vue
  web/layers/overlays/pages/o/[apiKey]/song-requests.client.vue
  web/layers/widgets/pages/w/[channelApiKey]/song-requests.client.vue
Due: none

fixes for seek, viewport
  apps/api-gql/internal/delivery/gql/rate_limit_extension.go
  apps/api-gql/internal/delivery/gql/schema/song-requests.graphql
  web/layers/overlays/pages/o/[apiKey]/song-requests.client.vue
  web/layers/widgets/pages/w/[channelApiKey]/song-requests.client.vue
Due: none

feat: store volume in db
  apps/api-gql/internal/delivery/gql/resolvers/song-requests-volume.go
  apps/api-gql/internal/delivery/gql/resolvers/song-requests.resolver.go
  apps/api-gql/internal/delivery/gql/schema/song-requests.graphql
  apps/api-gql/internal/entity/song_request.go
  apps/api-gql/internal/services/song_requests/playback_state.go
  libs/gomodels/channels_song_requests_settings.go
  libs/migrations/postgres/20260706083628_song_requests_volume.sql
  web/layers/dashboard/api/song-requests.ts
  web/layers/dashboard/components/songRequests/player.vue
  web/layers/dashboard/components/songRequests/settings.vue
  web/layers/dashboard/composables/useDebouncedVolume.ts
  web/layers/widgets/pages/w/[channelApiKey]/song-requests.client.vue
Due: none

fix(scheduler): try to fix channels streams twitch
  apps/scheduler/internal/timers/streams.go
Due: publish-scheduler

fix(timers): correct work with id's
  apps/parser/internal/variables/stream/uptime.go
  apps/timers/internal/bus-listener/bus-listener.go
  apps/timers/internal/manager/manager.go
  apps/timers/internal/manager/ticker.go
  libs/entities/timers/timers.go
Due: publish-parser

refactor: use uptrace again for observability
  .gitignore
  .idea/dataSources.local.xml
  OBSERVABILITY.md
  configs/otel/otel-collector.yaml.example
  configs/signoz/clickhouse-config.yaml
  configs/signoz/clickhouse-functions.yaml
  configs/signoz/clickhouse-keeper.yaml
  configs/signoz/docker-compose.yml
  configs/signoz/ingester.yaml
  configs/signoz/opamp.yaml
Due: none

chore: update otel collector example
  configs/otel/otel-collector.yaml.example
Due: none

fix(scheduler): delete vip row in scheduled vips when user already not a vip
  apps/scheduler/internal/timers/scheduled_vips.go
Due: publish-scheduler
