Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

chore(stack): adjust max attempts
  docker-compose.stack.yml
Due: none

fix(stack): correct image for integrations
  docker-compose.stack.yml
Due: none

fix(stack): remove redis credentials
  docker-compose.stack.yml
Due: none

chore(stack): remove redis password from file
  docker-compose.stack.yml
Due: none

chore(watched): add errors logging
  apps/watched/cmd/main.go
  apps/watched/internal/handlers/handlers.go
  apps/watched/internal/handlers/process_watched_streams.go
Due: none

fix(watched): add missed zap to go.mod
  apps/watched/go.mod
  apps/watched/go.sum
  go.work.sum
Due: none

chore(stack): pin redis and nats version
  docker-compose.stack.yml
Due: none

fix(stack): use correct port for api
  docker-compose.stack.yml
Due: none

chore(bots): add logger to increment user messages func
  apps/bots/cmd/main.go
  apps/bots/internal/bots/handlers/messages/increment_user_messages.go
Due: publish-bots

chore(stack): remove doppler token from nats
  docker-compose.stack.yml
Due: none

chore(stack): update delays and max attempts
  docker-compose.stack.yml
Due: none

chore(bots): add missed `Error` to the queries
  apps/bots/internal/bots/handlers/messages/increment_user_messages.go
Due: publish-bots

fix(bots): correct onrefresh function
  apps/bots/internal/bots/client.go
Due: publish-bots

feat(bots): do not reset greetings on bot restart
  apps/bots/internal/bots/bots.go
Due: publish-bots

chore(bots): change `update` query
  apps/bots/internal/bots/handlers/messages/increment_parsed_messages.go
  apps/bots/internal/bots/handlers/messages/increment_user_messages.go
Due: publish-bots

chore(gomodels): clean `UsersStats` model
  libs/gomodels/model_base.go
  libs/gomodels/users_stats.go
Due: none

refactor: pricing plans and fix moderation page bug (#253)
  apps/frontend/src/dashboard/Moderation.vue
  apps/web/src/components/landing/FeatureCard.vue
  apps/web/src/components/landing/FeatureCardBgBlob.vue
  apps/web/src/components/landing/PricingPlan.vue
  apps/web/src/components/landing/sections/FeaturesSection.vue
  apps/web/src/components/landing/sections/PricingSection.vue
  apps/web/src/data/landing/pricingPlans.ts
  apps/web/src/locales/landing/en.ts
  apps/web/src/locales/landing/interface.ts
  apps/web/src/locales/landing/ru.ts
Due: none

chore(stack): add adminer
  docker-compose.stack.yml
Due: none

fix(bots): correctly increment stream messages
  apps/bots/internal/bots/handlers/messages/increment_parsed_messages.go
Due: publish-bots

chore(bots): add spew dump of user when increment
  apps/bots/go.mod
  apps/bots/internal/bots/handlers/messages/increment_user_messages.go
Due: publish-bots

fix: correct joins user stats in watched and bots
  apps/bots/internal/bots/handlers/messages/increment_user_messages.go
  apps/watched/internal/handlers/process_watched_streams.go
Due: publish-bots

fix: switch v-model and modal state when user has not settings
  apps/frontend/src/components/elements/TswSwitch.vue
  apps/frontend/src/components/widgets/YoutubeSettingsModal.vue
Due: none

update validations
  .vscode/settings.json
  apps/api/internal/api/v1/modules/youtube_sr/service.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
  go.work.sum
  libs/types/types/api/modules/youtube.go
Due: publish-api, publish-parser

add search endpoint
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/v1/modules/youtube_sr/controller.go
  apps/api/internal/api/v1/modules/youtube_sr/service.go
  go.work.sum
  libs/ytsr/.gitignore
  libs/ytsr/LICENSE
  libs/ytsr/README.md
  libs/ytsr/go.mod
  libs/ytsr/parsers.go
  libs/ytsr/types.go
  libs/ytsr/util.go
  libs/ytsr/youtube.go
Due: publish-api

chore(stack): add deploy commands
  PRODUCTION.md
  docker-compose.stack.yml
Due: none

upd Chatting
  apps/eval/package.json
  apps/eval/src/index.ts
  apps/scheduler/package.json
  apps/scheduler/src/app.module.ts
  apps/scheduler/src/default-commands-creator/default-commands-creator.service.ts
  apps/scheduler/src/libs/parser.grpc.ts
  apps/scheduler/src/libs/watched.grpc.ts
  apps/scheduler/src/streamstatus/statuschecker.service.ts
  apps/scheduler/src/streamstatus/streamstatus.module.ts
  apps/scheduler/src/watched/watched.service.ts
  apps/streamstatus/package.json
  apps/streamstatus/src/app.controller.ts
  apps/streamstatus/src/app.service.ts
  apps/streamstatus/src/pubsub.ts
  libs/grpc/clients/parser.ts
  libs/grpc/protos/streamstatus.proto
  libs/grpc/tsconfig.json
  libs/pubsub/package.json
  libs/pubsub/pubsub.go
  libs/pubsub/src/index.ts
  libs/pubsub/tsconfig.json
  pnpm-lock.yaml
Due: publish-scheduler, publish-streamstatus, publish-eval

upd Chatting
  apps/eventsub/package.json
  apps/eventsub/src/eventsub/eventsub.module.ts
  apps/eventsub/src/eventsub/eventsub.service.ts
  apps/eventsub/src/handler/handler.module.ts
  apps/eventsub/src/handler/handler.service.ts
  apps/eventsub/src/index.ts
  apps/eventsub/src/libs/botsGrpc.ts
  apps/eventsub/src/libs/hostname.ts
  apps/eventsub/src/libs/initChannels.ts
  apps/eventsub/src/libs/middleware.ts
  apps/eventsub/src/libs/pubsub.ts
  apps/eventsub/src/libs/typeorm.ts
  libs/grpc/clients/bots.ts
  libs/grpc/gen.ts
  libs/grpc/package.json
  libs/grpc/protos/streamstatus.proto
  libs/grpc/tsconfig.json
  libs/pubsub/package.json
  libs/pubsub/src/index.ts
  pnpm-lock.yaml
Due: publish-eventsub

upd Chatting
  apps/eventsub/package.json
  apps/eventsub/src/libs/nats.ts
  apps/integrations/package.json
  apps/integrations/src/index.ts
  apps/integrations/src/libs/nats.ts
  apps/integrations/src/libs/sender.ts
  pnpm-lock.yaml
Due: publish-eventsub

upd Chatting
  apps/timers/go.mod
  apps/timers/go.sum
  apps/timers/internal/scheduler/scheduler.go
  libs/config/config.go
  libs/config/src/index.ts
  libs/shared/src/index.ts
  libs/shared/src/lib/nats.ts
Due: none

upd Chattting
  apps/bots/cmd/main.go
  apps/bots/go.mod
  apps/bots/internal/handlers/streams_offline.go
  apps/bots/internal/handlers/streams_online.go
  apps/bots/internal/handlers/user_update.go
Due: publish-bots

upd Chatting
  apps/dota/package.json
  apps/dota/src/app.controller.ts
  apps/dota/src/app.module.ts
  apps/dota/src/index.ts
  apps/dota/src/index2.ts
  apps/dota/src/libs/dota.ts
  apps/dota/src/libs/nats.ts
  apps/dota/src/libs/redis.ts
  apps/scheduler/src/app.module.ts
  apps/scheduler/src/dota/dota.module.ts
  apps/scheduler/src/dota/dota.service.ts
  pnpm-lock.yaml
Due: publish-dota, publish-scheduler

upd
  apps/eventsub/src/app.module.ts
  apps/eventsub/src/app.service.ts
Due: publish-eventsub

upd Chatting
  apps/eventsub/package.json
  apps/eventsub/src/index.ts
  apps/scheduler/src/default-commands-creator/default-commands-creator.controller.ts
  apps/scheduler/src/default-commands-creator/default-commands-creator.module.ts
  apps/scheduler/src/default-commands-creator/default-commands-creator.service.ts
  apps/scheduler/src/index.ts
  apps/scheduler/src/libs/nats.ts
  libs/grpc/package.json
  libs/ui/components/src/components/TswDropdown/TswDropdown.vue
  pnpm-lock.yaml
Due: publish-eventsub, publish-scheduler

upd Chatting
  apps/scheduler/src/default-commands-creator/default-commands-creator.service.ts
  apps/scheduler/src/index.ts
  apps/streamstatus/src/index.ts
  apps/watched/cmd/main.go
  libs/grpc/protos/bots.proto
  libs/grpc/protos/dota.proto
  libs/grpc/protos/eventsub.proto
  libs/grpc/protos/integrations.proto
  libs/grpc/protos/parser.proto
  libs/grpc/protos/scheduler.proto
  libs/grpc/protos/streamstatus.proto
  libs/grpc/protos/timers.proto
  libs/grpc/protos/watched.proto
Due: publish-scheduler, publish-streamstatus

upd Chatting
  apps/frontend/index.html
  apps/streamstatus/src/app.module.ts
  libs/grpc/clients/helper.go
  libs/grpc/clients/helper.ts
Due: publish-streamstatus

upd Chatting
  Dockerfile
  docker-compose.dev.yml
  docker-compose.example.yml
  docker-compose.stack.yml
Due: none

upd Chatting
  Dockerfile
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/bots/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
  apps/timers/go.mod
  apps/timers/go.sum
  apps/watched/go.mod
  apps/watched/go.sum
  go.work.sum
  libs/grpc/go.mod
  libs/grpc/go.sum
  libs/grpc/protos/google/protobuf/empty.proto
  libs/integrations/spotify/go.mod
  libs/integrations/spotify/go.sum
  libs/pubsub/go.mod
  libs/pubsub/go.sum
Due: publish-api, publish-bots, publish-parser

upd
  .npmrc
  Dockerfile
  libs/grpc/clients/bots.ts
  libs/grpc/clients/parser.ts
  libs/grpc/clients/watched.ts
  libs/grpc/gen.ts
  libs/grpc/package.json
  libs/grpc/protos/google/protobuf/empty.proto
  pnpm-lock.yaml
Due: none
