Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

Kruto
  .github/workflows/docker-shared.yaml
  .gitignore
  cli/internal/cmds/build/build.go
  cli/internal/goapp/goapp.go
Due: none

Kruto
  .github/workflows/docker-shared.yaml
Due: none

Kruto
  turbo.json
Due: none

Kruto
  .github/workflows/docker-shared.yaml
  apps/api/Dockerfile
Due: publish-api

Kruto
  .github/workflows/docker-shared.yaml
  apps/bots/Dockerfile
  apps/discord/Dockerfile
  apps/emotes-cacher/Dockerfile
  apps/events/Dockerfile
  apps/eventsub/Dockerfile
  apps/parser/Dockerfile
  apps/scheduler/Dockerfile
  apps/timers/Dockerfile
  apps/tokens/Dockerfile
  apps/websockets/Dockerfile
  apps/ytsr/Dockerfile
Due: publish-bots, publish-eventsub, publish-parser, publish-scheduler

Kruto
  cli/internal/goapp/goapp.go
Due: none

Kruto
  .github/workflows/docker-shared.yaml
  apps/eval/Dockerfile
  apps/integrations/Dockerfile
Due: publish-eval

Kruto
  apps/integrations/Dockerfile
Due: none

Kruto
  .dockerignore
  frontend/dashboard/Dockerfile
  frontend/landing/Dockerfile
  frontend/overlays/Dockerfile
  frontend/public-page/Dockerfile
Due: none

Kruto
  libs/migrations/Dockerfile
Due: none

chore: remove old docker workflow
  .github/workflows/dockerv2.yml
  .github/workflows/dockerv3.yaml
Due: none

chore: update dudes and kappagen modules
  apps/parser/internal/commands/dudes/color.go
  apps/parser/internal/commands/dudes/grow.go
  apps/parser/internal/commands/dudes/jump.go
  apps/parser/internal/commands/dudes/leave.go
  apps/parser/internal/commands/dudes/sprite.go
  apps/parser/internal/commands/overlays/kappagen/kappagen.go
  libs/migrations/Dockerfile
  libs/migrations/migrations/20240316194519_add_additional_commands_modules.sql
  libs/migrations/migrations/20240316194726_change_commands_modules.sql
Due: publish-parser

fix(migrations): uncomment entrypoint
  libs/migrations/Dockerfile
Due: none

fix(migrations): correct path for sql files
  libs/migrations/Dockerfile
Due: none

fix(cli): disable cgo for builds
  cli/internal/goapp/goapp.go
Due: none

chore: comment old workflow file
  .github/workflows/dockerv2.yml.selfhost
Due: none

fix(migrations): update jump command query
  libs/migrations/migrations/20240316194726_change_commands_modules.sql
Due: none

feat: pubg integration migration
  libs/gomodels/integrations.go
  libs/migrations/migrations/20240315145552_pubg_integration.sql
  libs/migrations/seeds/integrations.go
Due: none

feat: pubg api lib
  libs/pubg/go.mod
  libs/pubg/go.sum
  libs/pubg/pubg.go
Due: none

feat: pubg integration frontend
  frontend/dashboard/src/api/integrations/index.ts
  frontend/dashboard/src/api/integrations/pubg.ts
  frontend/dashboard/src/assets/integrations/pubg.svg
  frontend/dashboard/src/components/integrations/pubg.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Integrations.vue
Due: none

chore: front fix
  frontend/dashboard/src/components/integrations/pubg.vue
Due: none

chore: fixes
  .env.example
  libs/pubg/pubg.go
Due: none

feat: pubg integration backend
  .env.example
  apps/api/app/app.go
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/impl_deps/impl_deps.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/integrations/pubg.go
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/cacher/pubg.go
  apps/parser/internal/types/pubg_api.go
  apps/parser/internal/types/services/services.go
  apps/parser/internal/types/variables_cacher.go
  apps/parser/internal/variables/pubg/lifetime/duo.go
  apps/parser/internal/variables/pubg/lifetime/solo.go
  apps/parser/internal/variables/pubg/lifetime/squad.go
  apps/parser/internal/variables/pubg/season/duo.go
  apps/parser/internal/variables/pubg/season/solo.go
  apps/parser/internal/variables/pubg/season/squad.go
  apps/parser/internal/variables/variables.go
  go.work
  go.work.sum
  libs/api/api.proto
  libs/api/messages/integrations_pubg/integrations_pubg.proto
  libs/config/config.go
  libs/config/src/index.js
  libs/pubg/pubg.go
Due: publish-api, publish-parser

feat: pubg integration not found
  frontend/dashboard/src/components/integrations/pubg.vue
Due: none

feat: pubg integration backend logic
  apps/api/internal/impl_deps/impl_deps.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/integrations/integrations.go
  apps/api/internal/impl_protected/integrations/pubg.go
  apps/parser/internal/variables/pubg/lifetime/duo.go
  apps/parser/internal/variables/pubg/lifetime/solo.go
  apps/parser/internal/variables/pubg/lifetime/squad.go
  libs/pubg/pubg.go
Due: publish-api, publish-parser

chore: nil pointer deref
  apps/parser/internal/cacher/pubg.go
Due: publish-parser

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
