Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

chore: remove landing from workflow
  .github/workflows/dockerv3.yml
  apps/api-gql/go.mod
  frontend/dashboard/index.html
  libs/migrations/go.mod
Due: none

chore: update cli sum files
  cli/go.sum
  libs/migrations/Dockerfile
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

changes
  apps/api-gql/internal/gql/mappers/commands.go
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/api-gql/schema/commands.graphqls
  apps/parser/internal/commands/commands.go
  apps/scheduler/internal/timers/expired_commands.go
  frontend/dashboard/src/api/commands/commands.ts
  frontend/dashboard/src/features/commands/composables/use-command-edit.ts
  frontend/dashboard/src/features/commands/ui/edit-modal.vue
  frontend/dashboard/src/locales/en.json
  libs/gomodels/channels_commands.go
  libs/migrations/migrations/20241027125648_commands_expiration_type.sql
Due: publish-parser, publish-scheduler

kruto
  apps/parser/internal/commands/commands.go
Due: publish-parser

feat: commands expiration (#767)
  apps/api-gql/internal/gql/mappers/commands.go
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/api-gql/schema/commands.graphqls
  apps/parser/internal/commands/commands.go
  apps/scheduler/app/app.go
  apps/scheduler/internal/timers/expired_commands.go
  frontend/dashboard/src/api/commands/commands.ts
  frontend/dashboard/src/features/commands/composables/use-command-edit.ts
  frontend/dashboard/src/features/commands/ui/edit-modal.vue
  frontend/dashboard/src/locales/en.json
  libs/gomodels/channels_commands.go
  libs/migrations/migrations/20241025040229_commands_expiration.sql
  libs/migrations/migrations/20241027125648_commands_expiration_type.sql
Due: publish-parser, publish-scheduler

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

feat(gql-api): community users filters
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/gql/community-searcher/community-searcher.go
  apps/api-gql/internal/gql/community-searcher/community-searcher_test.go
  apps/api-gql/internal/gql/resolvers/community-users.resolver.go
  apps/api-gql/internal/gql/resolvers/resolver.go
Due: none

chore: check refresh token len in spotify integration
  libs/integrations/spotify/spotify.go
Due: none

feat: add clip command
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/parser/internal/commands/clip/clip.go
  apps/parser/internal/commands/commands.go
  frontend/dashboard/tailwind.config.js
  frontend/dashboard/tailwind.config.mjs
  frontend/public-page/tailwind.config.mjs
  libs/migrations/migrations/20241029110607_add_clips_command.sql
Due: publish-parser

chore: update typescript to latest version
  frontend/dashboard/package.json
  frontend/overlays/package.json
  frontend/public-page/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix: disable `delete` action for default commands expiration
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/parser/internal/commands/commands.go
  apps/scheduler/internal/timers/expired_commands.go
  frontend/dashboard/src/features/commands/ui/edit-modal.vue
Due: publish-parser, publish-scheduler

chore(web): fix some warnings
  web/layers/landing/components/index/features/features-data.ts
  web/layers/landing/components/index/features/features.vue
  web/layers/landing/components/index/integrations/integrations-data.ts
  web/layers/landing/components/index/integrations/integrations.vue
  web/layers/landing/components/index/streamers/streamers-data.ts
  web/layers/landing/components/index/streamers/streamers.vue
  web/layers/landing/components/index/team/team-data.ts
  web/layers/landing/components/index/team/team.vue
  web/package.json
Due: none

kruto
  frontend/dashboard/src/layout/sidebar/sidebar-dashboard-selector.vue
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
Due: none

use pnpm catalogs
  apps/eval/Dockerfile
  frontend/dashboard/package.json
  frontend/overlays/package.json
  frontend/public-page/package.json
  libs/fontsource/package.json
  libs/frontend-chat/package.json
  libs/frontend-now-playing/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/package.json
Due: publish-eval

check required pnpm version onm cli install
  cli/go.mod
  cli/go.sum
  cli/internal/cmds/dependencies/node.go
Due: none

add popup for audit
  frontend/dashboard/src/components/dashboard/audit-logs.vue
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/layout/sidebar/sidebar-profile.vue
  frontend/dashboard/src/plugins/router.ts
Due: none

chore: expose postgres to host
  docker-compose.stack.yml
Due: none

chore: remove expose postgres to host
  docker-compose.stack.yml
Due: none

chore: update to postgres 17
  docker-compose.stack.yml
Due: none

chore: update postgres in dev to v17
  .env.example
  docker-compose.dev.yml
Due: none

chore: rename docker bin names
  apps/api-gql/Dockerfile
  apps/api/Dockerfile
  apps/bots/Dockerfile
  apps/chat-messages-store/Dockerfile
  apps/discord/Dockerfile
  apps/emotes-cacher/Dockerfile
  apps/events/Dockerfile
  apps/eventsub/Dockerfile
  apps/parser/Dockerfile
  apps/scheduler/Dockerfile
  apps/timers/Dockerfile
  apps/tokens/Dockerfile
  apps/websockets/Dockerfile
  apps/ytsr/Dockerfile
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

feat(parser): add stream marker command
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/marker/marker.go
Due: publish-parser

feat(events): add support for twir variables
  apps/events/internal/activities/events/events.go
  apps/events/internal/hydrator/hydrator.go
  apps/events/internal/workflows/events.go
Due: none
