Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

feat: add sleep time for migrations
  Dockerfile
Due: none

chore: update sleep inside migrations
  Dockerfile
Due: none

feat: add javascript support for `dashboard`/`overlays`
  frontend/dashboard/src/components/registry/overlays/edit.vue
  frontend/dashboard/src/components/registry/overlays/layers/html.vue
  frontend/dashboard/src/components/registry/overlays/layers/htmlForm.vue
  frontend/dashboard/src/components/registry/overlays/newSelector.vue
  frontend/overlays/src/components/htmlLayer.vue
  frontend/overlays/src/sockets/overlays.ts
Due: none

chore(dashboard): remove dead code for html layer in overlays
  frontend/dashboard/src/components/registry/overlays/layers/html.vue
Due: none

chore(overlays): check on empty
  frontend/overlays/src/sockets/overlays.ts
Due: none

feat(api): sort overlays registry by `created_at`
  apps/api/internal/impl_protected/overlays/overlays.go
Due: publish-api

feat(parser): add track album url
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/cacher/current_song.go
  apps/parser/internal/commands/song/song.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/parser/internal/types/current_song.go
  apps/parser/internal/types/variables_cacher.go
  apps/parser/internal/variables/song/cover.go
  apps/parser/internal/variables/song/current_song.go
  apps/parser/internal/variables/song/lastfm.go
  apps/parser/internal/variables/song/song.go
  apps/parser/internal/variables/song/vk.go
  apps/parser/internal/variables/variables.go
  libs/integrations/spotify/spotify.go
Due: publish-parser

chore(dashboard): add wrap buttons of overlays registry
  frontend/dashboard/src/pages/OverlaysRegistry.vue
Due: none

chore(stack): try #1 to disable caddy webserver caches
  Caddyfile
Due: none

feat(dashboard): improve navbar styling
  frontend/dashboard/package.json
  frontend/dashboard/src/layout/dashboardsMenu.vue
  frontend/dashboard/src/layout/header.vue
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/layout/sidebar.vue
  pnpm-lock.yaml
Due: none

fix(dashboard): do not hide search input in dashboard select on input
  frontend/dashboard/src/layout/dashboardsMenu.vue
Due: none

feat(dashboard): remove drawer
  frontend/dashboard/src/layout/layout.vue
Due: none

chore: fix devcontainers
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docker-compose.dev.yml
Due: none

chore(parser): split cacher by files
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/cacher/twitch.go
  apps/parser/internal/cacher/valorant.go
Due: publish-parser

fix(dashboard): use ref instead of reactivity for command modal
  frontend/dashboard/src/components/commands/modal.vue
Due: none

feat: add users stats to public page
  .gitignore
  apps/api/internal/impl_unprotected/community/community.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
  frontend/dashboard/src/api/community.ts
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/pages/CommunityUsers.vue
  frontend/public-page/package.json
  frontend/public-page/src/api/community.ts
  frontend/public-page/src/api/index.ts
  frontend/public-page/src/api/twirp.ts
  frontend/public-page/src/layout/Layout.vue
  frontend/public-page/src/layout/Menu.vue
  frontend/public-page/src/layout/Profile.vue
  frontend/public-page/src/main.ts
  frontend/public-page/src/pages/Commands.vue
  frontend/public-page/src/pages/SongRequests.vue
  frontend/public-page/src/pages/TTSSettings.vue
  frontend/public-page/src/pages/Users.vue
  frontend/public-page/src/vite-env.d.ts
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/community.proto
  pnpm-lock.yaml
Due: publish-api

chore(api): remove dead code
  apps/api/internal/impl_protected/community/community.go
Due: publish-api

feat: add chat alerts
  apps/api/internal/impl_protected/modules/chat_alerts.go
  apps/events/internal/grpc_impl/chat_alerts/chat_alerts.go
  apps/events/internal/grpc_impl/chat_alerts/chat_cleared.go
  apps/events/internal/grpc_impl/chat_alerts/donations.go
  apps/events/internal/grpc_impl/chat_alerts/first_user_message.go
  apps/events/internal/grpc_impl/chat_alerts/follow.go
  apps/events/internal/grpc_impl/chat_alerts/helpers.go
  apps/events/internal/grpc_impl/chat_alerts/raid.go
  apps/events/internal/grpc_impl/chat_alerts/redemptions.go
  apps/events/internal/grpc_impl/chat_alerts/stream.go
  apps/events/internal/grpc_impl/chat_alerts/subscribers.go
  apps/events/internal/grpc_impl/impl.go
  apps/eventsub/internal/handler/channel_follow.go
  frontend/dashboard/src/api/modules/chatAlertSettings.ts
  frontend/dashboard/src/api/modules/index.ts
  frontend/dashboard/src/components/chatAlerts/settings.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/ChatAlerts.vue
  frontend/dashboard/src/router.ts
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/modules_chat_alerts.proto
  libs/migrations/migrations/20230923074558_create_chat_alerts.sql
Due: publish-api, publish-eventsub

fix(events): add missed first user message chat alert handler
  apps/events/internal/grpc_impl/impl.go
Due: none

feat(parser): add `request` variable
  apps/parser/internal/variables/request/request.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

chore(stack): adjust sleep time for migrations
  Dockerfile
Due: none

chore(stack): make more replicas for some services
  docker-compose.stack.yml
Due: none

chore(dashboard): add song information to integrations page
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Integrations.vue
Due: none

feat(dashboard): check on permissions on `chat alerts` page
  .eslintrc
  frontend/dashboard/src/components/chatAlerts/settings.vue
  frontend/dashboard/src/pages/ChatAlerts.vue
Due: none

feat: add timeouts/bans chat alert
  apps/api/internal/impl_protected/modules/chat_alerts.go
  apps/events/internal/grpc_impl/chat_alerts/ban.go
  apps/events/internal/grpc_impl/impl.go
  apps/eventsub/internal/handler/ban.go
  frontend/dashboard/src/components/chatAlerts/settings.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/ChatAlerts.vue
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/modules_chat_alerts.proto
Due: publish-api, publish-eventsub

fix(dashboard): close dashboard popover selector after select
  frontend/dashboard/src/layout/dashboardsMenu.vue
Due: none

fix(dashboard): correctly pass argument in selector popover
  frontend/dashboard/src/layout/dashboardsMenu.vue
Due: none

fix(events): correctly take offline message on offline event
  apps/events/internal/grpc_impl/chat_alerts/stream.go
Due: none

feat: add cooldown on chat events
  apps/api/internal/impl_protected/modules/chat_alerts.go
  apps/events/cmd/main.go
  apps/events/internal/grpc_impl/chat_alerts/ban.go
  apps/events/internal/grpc_impl/chat_alerts/chat_alerts.go
  apps/events/internal/grpc_impl/chat_alerts/chat_cleared.go
  apps/events/internal/grpc_impl/chat_alerts/donations.go
  apps/events/internal/grpc_impl/chat_alerts/first_user_message.go
  apps/events/internal/grpc_impl/chat_alerts/follow.go
  apps/events/internal/grpc_impl/chat_alerts/raid.go
  apps/events/internal/grpc_impl/chat_alerts/redemptions.go
  apps/events/internal/grpc_impl/chat_alerts/stream.go
  apps/events/internal/grpc_impl/chat_alerts/subscribers.go
  apps/events/internal/types.go
  frontend/dashboard/src/components/chatAlerts/settings.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/ChatAlerts.vue
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/modules_chat_alerts.proto
Due: publish-api

chore(dashboard): update translations
  frontend/dashboard/src/locales/uk.json
Due: none

chore(dashboard): update translations (#433)
  frontend/dashboard/src/locales/uk.json
Due: none

feat(dashboard): transform html widget preview css
  frontend/dashboard/package.json
  frontend/dashboard/src/components/registry/overlays/layers/html.vue
  frontend/dashboard/src/layout/dashboardsMenu.vue
  frontend/dashboard/src/layout/header.vue
  pnpm-lock.yaml
Due: none

chore(bots): try to reconnect infinity
  apps/bots/internal/bots/client.go
Due: publish-bots

refactor(bots): change chat library
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/helpers.go
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/message_command.go
  apps/bots/internal/bots/handlers/message_tts.go
  apps/bots/internal/bots/handlers/notice.go
  apps/bots/internal/bots/handlers/self_join.go
  apps/bots/internal/bots/handlers/types.go
  apps/bots/internal/bots/handlers/user_join.go
  apps/bots/internal/bots/handlers/user_state.go
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/bots/internal/pubsub_handlers/user_update.go
  apps/bots/types/chat_client.go
  apps/events/go.mod
  apps/events/go.sum
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/parser/go.mod
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/timers/go.mod
  apps/timers/go.sum
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/websockets/go.mod
  apps/websockets/go.sum
  libs/gomodels/go.mod
  libs/gomodels/go.sum
  libs/integrations/spotify/go.mod
  libs/integrations/spotify/go.sum
  libs/logger/go.mod
  libs/logger/go.sum
  libs/migrations/go.mod
  libs/migrations/go.sum
Due: publish-bots, publish-eventsub, publish-parser, publish-scheduler

chore: limit command responses to 3
  apps/api/internal/impl_protected/commands/commands.go
  frontend/dashboard/src/components/commands/modal.vue
Due: publish-api

feat(parser): change game to `cs2` for faceit
  apps/parser/internal/cacher/faceit.go
Due: publish-parser

fix(dashboard): add extra left padding to main page, so chat widget is works
  frontend/dashboard/src/pages/Dashboard.vue
Due: none

fix(dashboard): remove song from queue if there is no more tracks
  frontend/dashboard/src/components/songRequests/player.vue
Due: none

fix(dashboard): correctly sort users on `userChannelPoints`
  frontend/dashboard/src/api/community.ts
Due: none

feat(dashboard): adjust width for position of song requests queue
  frontend/dashboard/src/components/songRequests/queue.vue
Due: none
