Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(eventsub): bypass authenticate localtunnel via requests for dev
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/helpers/app_tunnel.go
  go.work.sum
Due: publish-eventsub

fix null saving
  apps/api/internal/impl_protected/integrations/seventv.go
Due: publish-api

uuh
  apps/api/internal/impl_protected/integrations/seventv.go
  apps/events/internal/activities/events/seventv.go
  apps/eventsub/cmd/main.go
  apps/eventsub/internal/handler/clear.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/redemption_seventv.go
  frontend/dashboard/src/components/integrations/seven-tv.vue
  frontend/dashboard/src/components/integrations/use-seven-tv.ts
  frontend/dashboard/src/components/integrations/variants/withSettings.vue
  frontend/dashboard/src/locales/en.json
  libs/api/messages/integrations_seventv/integrations_seventv.proto
  libs/gomodels/channels_integrations_settings_seventv.go
  libs/migrations/migrations/20240122235047_add_seventv_integration.sql
Due: publish-api, publish-eventsub

add integration
  frontend/landing/src/assets/social/seventv.svg
  frontend/landing/src/components/integrations/integrations.ts
Due: none

fix: do not cache 7tv responses
  libs/integrations/seventv/profile.go
Due: none

chore: reduce logs on dev start
  apps/api/cmd/main.go
  apps/bots/cmd/main.go
  apps/discord/cmd/main.go
  apps/emotes-cacher/cmd/main.go
  apps/events/cmd/main.go
  apps/scheduler/cmd/main.go
  apps/timers/cmd/main.go
  apps/tokens/cmd/main.go
  apps/websockets/cmd/main.go
  apps/ytsr/cmd/main.go
  libs/logger/fx.go
Due: publish-api, publish-bots, publish-scheduler

feat(api): create 7tv integration on first request
  apps/api/internal/impl_protected/integrations/seventv.go
Due: publish-api

feat: add grpc, api endpoints, websockets
  apps/api/internal/impl_protected/overlays/dudes.go
  apps/websockets/app/app.go
  apps/websockets/internal/namespaces/overlays/dudes/dudes.go
  apps/websockets/internal/namespaces/overlays/dudes/handle_message.go
  apps/websockets/internal/namespaces/overlays/dudes/settings.go
  libs/api/api.proto
  libs/api/messages/overlays_dudes/overlays_dudes.proto
  libs/gomodels/channels_overlays_dudes.go
  libs/migrations/migrations/20240126182536_add_dudes_overlay.sql
Due: publish-api

feat: add chat message eventsub event
  apps/eventsub/internal/client/client.go
  apps/eventsub/internal/handler/handler.go
  libs/twitch-eventsub-bindings/conditions.go
  libs/twitch-eventsub-bindings/events.go
  libs/twitch-eventsub-bindings/subscription.go
  libs/twitch-eventsub-framework/handler.go
Due: publish-eventsub

chore(eventsub): add empty chat message handler
  apps/eventsub/internal/handler/chat_message.go
Due: publish-eventsub

refactor: use slice for nameBox fill
  libs/api/messages/overlays_dudes/overlays_dudes.proto
  libs/gomodels/channels_overlays_dudes.go
  libs/migrations/migrations/20240126182536_add_dudes_overlay.sql
Due: none

fix(overlay): no-cache request
  frontend/overlays/src/composables/tmi/use-bettertv.ts
  frontend/overlays/src/composables/tmi/use-ffz.ts
  frontend/overlays/src/composables/tmi/use-seven-tv.ts
  frontend/overlays/src/helpers.ts
Due: none

upd
  frontend/overlays/src/composables/tmi/use-third-party-emotes.ts
Due: none

upd
  frontend/overlays/src/composables/tmi/use-seven-tv.ts
  frontend/overlays/src/composables/tmi/use-third-party-emotes.ts
Due: none

refetch 7tv emotes
  frontend/overlays/src/composables/tmi/use-seven-tv.ts
  frontend/overlays/src/composables/tmi/use-third-party-emotes.ts
Due: none

fix(overlay): no-cache requests for third party emotes (#584)
  frontend/overlays/src/composables/tmi/use-bettertv.ts
  frontend/overlays/src/composables/tmi/use-ffz.ts
  frontend/overlays/src/composables/tmi/use-seven-tv.ts
  frontend/overlays/src/composables/tmi/use-third-party-emotes.ts
  frontend/overlays/src/helpers.ts
Due: none

kruto
  apps/api/internal/impl_protected/impl_protected.go
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/grpc/grpc.go
  go.work
  go.work.sum
  libs/twitch/go.mod
  libs/twitch/go.sum
Due: publish-api, publish-bots

kruto
  apps/bots/app/app.go
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/grpc/grpc.go
  apps/bots/internal/messagehandler/command.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/twitchactions/deletemessage.go
  apps/bots/internal/twitchactions/sendmessage.go
  apps/bots/internal/twitchactions/twitchactions.go
Due: publish-bots

kruto
  apps/bots/internal/twitchactions/sendmessage.go
Due: publish-bots

kruto
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

fix(overlays): emotes width for chat
  libs/frontend-chat/src/components/message-content.vue
Due: none

fix(overlays): emotes width for chat (#590)
  libs/frontend-chat/src/components/message-content.vue
Due: none

kruto
  apps/bots/internal/grpc/grpc.go
  apps/bots/internal/messagehandler/badges.go
  apps/bots/internal/messagehandler/ensureuser.go
  apps/bots/internal/messagehandler/handlecommand.go
  apps/bots/internal/messagehandler/handleemotesusages.go
  apps/bots/internal/messagehandler/handlegreetings.go
  apps/bots/internal/messagehandler/handleincrementstreammessages.go
  apps/bots/internal/messagehandler/handlekeywords.go
  apps/bots/internal/messagehandler/handlestoremessage.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/eventsub/internal/handler/chat_message.go
  libs/grpc/shared/twitch_chat_message.proto
Due: publish-bots, publish-eventsub

kruto
  apps/bots/internal/messagehandler/handleremovelurker.go
  apps/bots/internal/messagehandler/handletts.go
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

kruto
  apps/bots/app/app.go
  apps/bots/internal/gorm/gorm.go
  apps/bots/internal/messagehandler/handle_commands.go
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_increment_stream_messages.go
  apps/bots/internal/messagehandler/handle_keywords.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/bots/internal/messagehandler/handle_remove_lurker.go
  apps/bots/internal/messagehandler/handle_store_message.go
  apps/bots/internal/messagehandler/handle_stream_first_user_join.go
  apps/bots/internal/messagehandler/handle_tts.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/moderationhelpers/caps.go
  apps/bots/internal/moderationhelpers/deny_list.go
  apps/bots/internal/moderationhelpers/links.go
  apps/bots/internal/moderationhelpers/long_message.go
  apps/bots/internal/moderationhelpers/moderation_helpers.go
  apps/bots/internal/moderationhelpers/symbols.go
  apps/bots/internal/twitchactions/ban.go
  apps/bots/pkg/tlds/tlds.go
  base.Dockerfile
Due: publish-bots

kruto
  apps/bots/internal/messagehandler/handle_commands.go
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_keywords.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/parser/internal/commands/commands.go
  cli/internal/cmds/dev/dev.go
Due: publish-bots, publish-parser

kruto
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_increment_stream_messages.go
  cli/internal/cmds/dev/golang/golang.go
Due: publish-bots

fix: remove twitch-eventsub vendored lib
  base.Dockerfile
Due: none

fix(eventsub): do not use ctx for start
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

fix(bots): add missed where to increment messages
  apps/bots/internal/messagehandler/ensureuser.go
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_increment_stream_messages.go
Due: publish-bots

fix(bots): add announcements support to sendmessage
  apps/bots/internal/grpc/grpc.go
  apps/bots/internal/twitchactions/sendmessage.go
Due: publish-bots

chore: remove keepalive from grpc servers
  apps/bots/internal/grpc/grpc.go
  apps/discord/internal/grpc/grpc.go
  apps/eventsub/internal/grpc/grpc_impl.go
  apps/timers/internal/grpc_server/grpc_server.go
  apps/ytsr/internal/grpc_impl/grpc_impl.go
Due: publish-bots, publish-eventsub

chore(bots): add log about messages
  apps/bots/internal/grpc/grpc.go
Due: publish-bots
