Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

fix(timers): add timers-resolution golang fix
  apps/timers/internal/manager/manager.go
  apps/timers/internal/manager/ticker.go
Due: none

fix(timers): return get stream and stream messages
  apps/timers/internal/manager/ticker.go
Due: none

chore(eventsub): set eventsub websocket connection keeaplive to 30 seconds
  apps/eventsub/internal/manager/websocket.go
Due: publish-eventsub

chore(eventsub): set eventsub websocket connection keeaplive to 30 seconds (#893)
  apps/eventsub/internal/manager/websocket.go
Due: publish-eventsub

feat: ensure user at eventsub level to prevent user mis-exist
  apps/bots/internal/messagehandler/ensureuser.go
  apps/bots/internal/messagehandler/handle_keywords.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/eventsub/app/app.go
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/handler/chat_message.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/mappers/chat_message.go
  apps/eventsub/internal/services/user-creator/user-creator.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/helpers.go
  go.work.sum
  libs/bus-core/twitch/chat-message.go
  libs/repositories/users_stats/datasources/postgres/pgx.go
  libs/repositories/users_stats/users_stats.go
  libs/repositories/userswithstats/datasource/postgres/pgx.go
  libs/repositories/userswithstats/errors.go
  libs/repositories/userswithstats/model/model.go
  libs/repositories/userswithstats/userswithstats.go
Due: publish-bots, publish-eventsub, publish-parser

feat: add pgdog alongside pgbouncer for future replacement
  configs/pgdog/pgdog.dev.toml
  configs/pgdog/pgdog.prod.toml
  configs/pgdog/start.sh
  configs/pgdog/users.toml
  docker-compose.dev.yml
  docker-compose.stack.yml
Due: none

feat: add server creds to users file
  configs/pgdog/start.sh
  configs/pgdog/users.toml
Due: none

feat: use delve for local server to simplify debuggers attaching
  .run/Attach debugers.run.xml
  .run/api-gql.run.xml
  .run/api.run.xml
  .run/bots.run.xml
  .run/chat-translator.run.xml
  .run/discord.run.xml
  .run/emotes-cacher.run.xml
  .run/events.run.xml
  .run/eventsub.run.xml
  .run/giveaways.run.xml
  .run/parser.run.xml
  .run/scheduler.run.xml
  .run/timers.run.xml
  .run/tokens.run.xml
  .run/websockets.run.xml
  .run/ytsr.run.xml
  cli/go.mod
  cli/go.sum
  cli/internal/cmds/build/build.go
  cli/internal/cmds/dev/golang/golang.go
  cli/internal/goapp/apps.go
  cli/internal/goapp/goapp.go
  go.work.sum
Due: none

fix(api-gql): correct check on nil get on get from kv
  apps/api-gql/internal/services/pastebins/pastebins.go
Due: none

fix(web): correctly handle api responses for pastebin
  web/layers/pastebin/pages/components/HastebinPage.vue
  web/layers/public/pastebin/pages/components/HastebinPage.vue
  web/layers/public/pastebin/pages/h/[id].vue
  web/layers/public/pastebin/pages/h/profile.vue
  web/layers/public/pastebin/server/routes/h/[id]/raw.ts
  web/layers/public/pastebin/server/routes/h/documents.post.ts
  web/layers/url-shortener/composables/use-meta-extractor.ts
Due: none

chore(readme): add info about debugging
  README.md
Due: none

chore: upgrade oxlint version
  bun.lock
  package.json
Due: none

feat: Add comprehensive AI assistant guidelines and update existing Copilot instructions with detailed project context and technologies.
  .github/copilot-instructions.md
  AGENTS.md
Due: none

New translations 7tv.yaml (German)
  apps/apps/parser/locales/en/commands/locales/de/7tv.yaml
Due: none

New translations games.yaml (German)
  apps/apps/parser/locales/en/commands/locales/de/games.yaml
Due: none

New translations request.yaml (German)
  apps/apps/parser/locales/en/variables/locales/de/request.yaml
Due: none

New translations shorturl.yaml (German)
  apps/apps/parser/locales/en/variables/locales/de/shorturl.yaml
Due: none

New translations song.yaml (German)
  apps/apps/parser/locales/en/variables/locales/de/song.yaml
Due: none

New translations subscribers.yaml (German)
  apps/apps/parser/locales/en/variables/locales/de/subscribers.yaml
Due: none

New translations stream.yaml (German)
  apps/apps/parser/locales/en/variables/locales/de/stream.yaml
Due: none

New translations user.yaml (German)
  apps/apps/parser/locales/en/variables/locales/de/user.yaml
Due: none

refactor(dashboard): streamline imports and enhance layout responsiveness
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
Due: none

refactor(dashboard): reorganize plugin configuration and enhance development mode handling
  frontend/dashboard/vite.config.ts
Due: none

refactor: use gql for brb
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/overlays-be-right-back.go
  apps/api-gql/internal/delivery/gql/resolvers/overlays-be-right-back.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/overlays-be-right-back.graphql
  apps/api-gql/internal/di/overlays_be_right_back.go
  apps/api-gql/internal/entity/overlays.go
  apps/api-gql/internal/services/overlays/be_right_back/service.go
  apps/api-gql/internal/services/overlays/be_right_back/subscription.go
  libs/api/api.proto
  libs/api/messages/overlays_be_right_back/overlays_be_right_back.pb.go
  libs/api/messages/overlays_be_right_back/overlays_be_right_back.proto
  libs/api/messages/overlays_be_right_back/overlays_be_right_back.ts
  libs/migrations/postgres/20251121000000_be_right_back_separate_table.go
  libs/repositories/overlays_be_right_back/model/model.go
  libs/repositories/overlays_be_right_back/pgx/pgx.go
  libs/repositories/overlays_be_right_back/repository.go
Due: none

separate tables, gql
  .run/[Backend] Eval.run.xml
  apps/api-gql/internal/delivery/gql/resolvers/overlays-be-right-back.resolver.go
  apps/api-gql/internal/delivery/gql/schema/overlays-be-right-back.graphql
  apps/api/internal/impl_protected/overlays/be_right_back.go
  apps/websockets/app/app.go
  apps/websockets/internal/grpc_impl/be_right_back.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/namespaces/overlays/be_right_back/be_right_back.go
  apps/websockets/internal/namespaces/overlays/be_right_back/handle_message.go
  apps/websockets/internal/namespaces/overlays/be_right_back/settings.go
  libs/api/api.client.ts
  libs/api/api.ts
  libs/api/api.twirp.go
  libs/grpc/websockets/websockets.proto
  libs/migrations/postgres/20251121121806_be_right_back_separate_table.go
  libs/repositories/overlays_be_right_back/pgx/pgx.go
Due: publish-api

backend done
  apps/api-gql/internal/delivery/gql/resolvers/overlays-be-right-back.resolver.go
  apps/api-gql/internal/delivery/gql/schema/overlays-be-right-back.graphql
  apps/api-gql/internal/services/overlays/be_right_back/service.go
  apps/api-gql/internal/services/overlays/be_right_back/subscription.go
  apps/parser/internal/commands/overlays/brb/start.go
  apps/parser/internal/commands/overlays/brb/stop.go
  apps/websockets/internal/grpc_impl/be_right_back.go
  libs/bus-core/api/brb.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/grpc/websockets/websockets.proto
Due: publish-parser

send timestamp across gql sub for stop
  apps/api-gql/internal/delivery/gql/resolvers/overlays-be-right-back.resolver.go
  apps/api-gql/internal/delivery/gql/schema/overlays-be-right-back.graphql
Due: none

dashboard done
  apps/api-gql/internal/delivery/gql/resolvers/overlays-be-right-back.resolver.go
  apps/api-gql/internal/delivery/gql/schema/overlays-be-right-back.graphql
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/api/overlays-be-right-back.ts
  frontend/dashboard/src/pages/overlays/brb/Brb.vue
Due: none

frontend done
  frontend/dashboard/src/api/overlays/brb.ts
  frontend/dashboard/src/api/overlays/index.ts
  frontend/dashboard/src/components/overlays/brb.vue
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/dashboard/src/features/overlays/brb/card.vue
  frontend/dashboard/src/features/overlays/brb/page.vue
  frontend/dashboard/src/pages/Overlays.vue
  frontend/dashboard/src/plugins/router.ts
  frontend/overlays/src/composables/brb/use-brb-graphql.ts
  frontend/overlays/src/composables/brb/use-brb-settings.ts
  frontend/overlays/src/composables/brb/use-brb-socket.ts
  frontend/overlays/src/pages/overlays/be-right-back.vue
  frontend/overlays/src/types.ts
Due: none

New translations song.yaml (Slovak)
  apps/apps/parser/locales/en/variables/locales/sk/song.yaml
Due: none

fix(api-gql): correct string size for brb colors
  apps/api-gql/internal/delivery/gql/schema/overlays-be-right-back.graphql
  frontend/dashboard/codegen.ts
Due: none

refactor: use gql for tts
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/resolvers/modules-tts.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/modules-tts.graphql
  apps/api-gql/internal/entity/modules-tts.go
  apps/api-gql/internal/gql/mappers/modules-tts.go
  apps/api-gql/internal/services/modules_tts/modules_tts.go
  libs/migrations/postgres/20251121000000_tts_separate_table.go
  libs/repositories/modules_tts/model/model.go
  libs/repositories/modules_tts/pgx/pgx.go
  libs/repositories/modules_tts/repository.go
Due: none

frontend and backend for settings
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/overlays-tts.go
  apps/api-gql/internal/delivery/gql/mappers/tts.go
  apps/api-gql/internal/delivery/gql/resolvers/modules-tts.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/overlays-tts.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/overlays.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/modules-tts.graphql
  apps/api-gql/internal/delivery/gql/schema/overlays-tts.graphql
  apps/api-gql/internal/delivery/gql/schema/overlays.graphql
  apps/api-gql/internal/delivery/http/routes/tts/say.go
  apps/api-gql/internal/di/overlays_tts.go
  apps/api-gql/internal/entity/overlays.go
  apps/api-gql/internal/gql/mappers/modules-tts.go
  apps/api-gql/internal/services/modules_tts/modules_tts.go
  apps/api-gql/internal/services/overlays/tts/tts.go
  frontend/dashboard/src/api/overlays-tts.ts
  frontend/dashboard/src/features/overlays/tts/card.vue
  frontend/dashboard/src/features/overlays/tts/composables/use-tts-form.ts
  frontend/dashboard/src/features/overlays/tts/composables/use-tts-voices.ts
  frontend/dashboard/src/features/overlays/tts/page.vue
  frontend/dashboard/src/features/overlays/tts/ui/commands.vue
  frontend/dashboard/src/features/overlays/tts/ui/general-settings.vue
  frontend/dashboard/src/features/overlays/tts/ui/users-settings.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Overlays.vue
  frontend/dashboard/src/plugins/router.ts
  libs/api/openapi.ts
  libs/migrations/postgres/20251122000000_tts_separate_table.go
  libs/repositories/modules_tts/model/model.go
  libs/repositories/modules_tts/pgx/pgx.go
  libs/repositories/modules_tts/repository.go
  libs/repositories/overlays_tts/model/model.go
  libs/repositories/overlays_tts/pgx/pgx.go
  libs/repositories/overlays_tts/repository.go
Due: none

gql subs for tts
  apps/api-gql/internal/delivery/gql/resolvers/overlays-tts.resolver.go
  apps/api-gql/internal/delivery/gql/schema/overlays-tts.graphql
  apps/api-gql/internal/services/overlays/tts/subscription.go
  apps/api-gql/internal/services/overlays/tts/tts.go
  apps/parser/internal/commands/tts/say.go
  apps/parser/internal/commands/tts/skip.go
  apps/websockets/app/app.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/grpc_impl/tts.go
  apps/websockets/internal/namespaces/overlays/tts/skip.go
  apps/websockets/internal/namespaces/overlays/tts/tts.go
  libs/bus-core/api/tts.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/grpc/websockets/websockets.proto
Due: publish-parser

upd
  .bun-version
  .oxfmtrc.jsonc
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/overlays-tts.go
  apps/api-gql/internal/delivery/gql/schema/overlays-tts.graphql
  apps/api-gql/internal/delivery/http/routes/tts/say.go
  apps/api-gql/internal/entity/modules-tts.go
  apps/api-gql/internal/entity/overlays.go
  apps/api-gql/internal/services/overlays/tts/tts.go
  apps/api/app/app.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/api/internal/impl_unprotected/modules/modules.go
  apps/api/internal/impl_unprotected/modules/tts.go
  apps/bots/app/app.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands/tts/say.go
  apps/parser/internal/services/tts/service.go
  apps/parser/internal/types/services/services.go
  bun.lock
  cli/internal/cmds/migrations/create.go
  frontend/dashboard/src/api/overlays-tts.ts
  frontend/overlays/src/composables/tts/use-tts-graphql.ts
  frontend/overlays/src/composables/tts/use-tts-settings.ts
  frontend/overlays/src/pages/tts.vue
  frontend/overlays/src/types.ts
  libs/api/api.client.ts
  libs/api/api.proto
  libs/api/api.ts
  libs/api/api.twirp.go
  libs/api/openapi.ts
  libs/cache/tts/tts.go
  libs/migrations/postgres/20251123014514_tts_separate_users_settings.go
  libs/repositories/overlays_tts/model/model.go
  libs/repositories/overlays_tts/pgx/pgx.go
  libs/repositories/overlays_tts/repository.go
  package.json
  web/layers/public/api/use-tts-settings.ts
Due: publish-api, publish-bots, publish-parser

finish
  apps/events/app/app.go
  apps/events/internal/activities/events/events.go
  apps/events/internal/activities/events/tts.go
  apps/parser/internal/variables/variables.go
  frontend/dashboard/src/api/overlays/index.ts
  frontend/dashboard/src/api/overlays/tts.ts
  frontend/dashboard/src/components/overlays/tts.vue
  frontend/dashboard/src/components/overlays/tts/settings.vue
  frontend/dashboard/src/components/overlays/tts/users.vue
  libs/cache/tts/tts.go
  libs/repositories/channels_modules_settings_tts/channels_modules_settings_tts.go
  libs/repositories/channels_modules_settings_tts/errors.go
  libs/repositories/channels_modules_settings_tts/model/model.go
  libs/repositories/channels_modules_settings_tts/postgres/postgres.go
Due: publish-parser

Update libs/repositories/overlays_tts/pgx/pgx.go
  libs/repositories/overlays_tts/pgx/pgx.go
Due: none

fix(migrations): remove unused migration
  libs/migrations/postgres/20251121000000_tts_separate_table.go
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
