Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore(dashboard): change bot is not moderator translation
  frontend/dashboard/public/locales/en/dashboard.json
Due: none

chore(dockerfile): fix streamstatus command
  Dockerfile
Due: none

feat(api): replace `!` on start of commands, aliases and remove validation on frontend
  apps/api/internal/api/v1/commands/service.go
  frontend/dashboard/components/commands/drawer.tsx
Due: publish-api

feat(dashboard): use multiselect for aliases instead of multiple inputs
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/pages/commands/[[...module]].tsx
  frontend/dashboard/public/locales/en/commands.json
  frontend/dashboard/public/locales/ru/commands.json
Due: none

feat(dashboard): move commands responses to top of drawer
  frontend/dashboard/components/commands/drawer.tsx
Due: none

feat(overlays): automatically update list of available scenes, sources, inputs
  frontend/overlays/src/pages/obs.tsx
Due: none

refactor: move streams checking to scheduler microservice, and delete nodejs microservice
  Dockerfile
  apps/api/go.mod
  apps/bots/cmd/main.go
  apps/bots/internal/handlers/streams_offline.go
  apps/bots/internal/handlers/streams_online.go
  apps/bots/internal/handlers/user_update.go
  apps/scheduler/cmd/main.go
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/scheduler/internal/timers/streams.go
  apps/scheduler/internal/types/types.go
  apps/streamstatus/Dockerfile
  apps/streamstatus/package.json
  apps/streamstatus/src/app.controller.ts
  apps/streamstatus/src/app.module.ts
  apps/streamstatus/src/app.service.ts
  apps/streamstatus/src/index.ts
  apps/streamstatus/src/pubsub.ts
  apps/streamstatus/src/typeorm.ts
  apps/streamstatus/tsconfig.json
  docker-compose.stack.yml
  libs/pubsub/pubsub.go
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-scheduler, publish-streamstatus

chore(actions): remove streamstatus from list of applications
  .github/workflows/docker.yml
Due: none

feat(dashboard): move tts commands to overlay settings
  frontend/dashboard/components/commands/list.tsx
  frontend/dashboard/components/layout/sidebar.tsx
  frontend/dashboard/components/overlays/tts.tsx
  frontend/dashboard/pages/overlays.tsx
Due: none

feat(overlays): add scene name to sources list
  frontend/overlays/src/hooks/obs.ts
Due: none

Revert "feat(overlays): add scene name to sources list"
  frontend/overlays/src/hooks/obs.ts
Due: none

feat(dashboard): hide save button in tts modal on tab change
  frontend/dashboard/components/overlays/tts.tsx
Due: none

fix(scheduler): use correct update and delete queries
  apps/eventsub/src/libs/middleware.ts
  apps/scheduler/internal/timers/streams.go
Due: publish-eventsub, publish-scheduler

rewrite: eventsub from nodejs to golang
  apps/eventsub/cmd/main.go
  apps/eventsub/internal/client/client.go
  apps/eventsub/internal/grpm_impl/grpc_impl.go
Due: publish-eventsub

rewrite: eventsub from nodejs to golang
  apps/eventsub/cmd/main.go
  apps/eventsub/internal/client/client.go
  apps/eventsub/internal/handler/channel_update.go
Due: publish-eventsub

rewrite: eventsub from nodejs to golang
  Dockerfile
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  go.work
Due: publish-eventsub

rewrite(pubsub): add missed handlers functions
  apps/bots/internal/handlers/streams_offline.go
  apps/bots/internal/handlers/streams_online.go
  apps/bots/internal/handlers/user_update.go
  apps/eventsub/cmd/main.go
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/handler/channel_follow.go
  apps/eventsub/internal/handler/channel_update.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/moderator_add_remove.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/stream_online.go
  apps/eventsub/internal/handler/user_update.go
  apps/eventsub/internal/types/types.go
  libs/gomodels/channel_info_history.go
  libs/gomodels/channels.go
  libs/pubsub/messages.go
Due: publish-bots, publish-eventsub

chpre(eventsub): add some logging
  apps/eventsub/internal/handler/moderator_add_remove.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/stream_online.go
  apps/eventsub/internal/handler/user_update.go
Due: publish-eventsub

refactor(dashboard): use buttons for reorder events operations instead of dnd
  frontend/dashboard/components/events/drawer.tsx
Due: none

feat(landing): add obs and events to features list
  frontend/landing/src/locales/landing/en.ts
  frontend/landing/src/locales/landing/ru.ts
Due: none

chore(landing): add obs icon to the list of integrations and bump landing related packages (#365)
  frontend/landing/package.json
  frontend/landing/src/assets/logos/OBS.svg
  frontend/landing/src/components/landing/sections/IntegrationsSection.vue
  frontend/landing/src/locales/landing/en.ts
  frontend/landing/src/locales/landing/ru.ts
  libs/ui/components/package.json
  libs/ui/theme/package.json
Due: none

chore: maintain lockfile
  pnpm-lock.yaml
Due: none

feat(landing): add team avatars
  frontend/landing/src/components/landing/TeamMemberCard.vue
  frontend/landing/src/components/landing/sections/TeamSection.vue
  frontend/landing/src/data/landing/team.ts
Due: none

chore(dashboard): remove application button
  frontend/dashboard/components/layout/navbar.tsx
Due: none

feat(eventsub): update channel stream in database when twitch sends event
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/stream_online.go
Due: publish-eventsub

feat(dashboard): add users tts settings to overlay modal
  apps/api/internal/api/v1/modules/tts/controller.go
  apps/api/internal/api/v1/modules/tts/users/controller.go
  apps/api/internal/api/v1/modules/tts/users/service.go
  frontend/dashboard/components/overlays/tts.tsx
  frontend/dashboard/services/api/modules/tts.ts
Due: publish-api

chore(dashboard): add max length for test input
  frontend/dashboard/components/overlays/tts.tsx
Due: none

chore(dashboard): update tts manager placeholders
  frontend/dashboard/components/overlays/tts.tsx
Due: none

chore(dashboard): fix emotes label
  frontend/dashboard/components/overlays/tts.tsx
Due: none

chore(dashboard): remove truncate for badge
  frontend/dashboard/components/commands/list.tsx
Due: none

feat: add excluding of links in tts
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/commands/tts/say.go
  frontend/dashboard/components/overlays/tts.tsx
  go.work.sum
  libs/types/src/api.d.ts
  libs/types/types/api/modules/tts.go
Due: publish-parser

fix(eventsub): fix queries for channels points
  apps/eventsub/internal/handler/redemption.go
  go.work.sum
Due: publish-eventsub

fix(eventsub): correct struct target for youtube song requests
  apps/eventsub/internal/handler/redemption.go
Due: publish-eventsub

feat(dashboard): use checks for select users for delete, instead of trash icons
  apps/api/internal/api/v1/modules/tts/users/controller.go
  apps/api/internal/api/v1/modules/tts/users/dto.go
  apps/api/internal/api/v1/modules/tts/users/service.go
  frontend/dashboard/components/overlays/tts.tsx
  frontend/dashboard/services/api/modules/tts.ts
Due: publish-api

fix(parser): print correct song queue position
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

fix(api): correct query for community sorting
  apps/api/internal/api/v1/community/service.go
Due: publish-api

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
