Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

upd Chatting
  apps/websockets/src/namespaces/youtube.ts
Due: none

upd Chatting
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

upd Chatting
  apps/eventsub/package.json
  apps/eventsub/src/index.ts
  apps/eventsub/src/libs/middleware.ts
  apps/eventsub/src/libs/parserGrpc.ts
  libs/typeorm/src/index.ts
  pnpm-lock.yaml
Due: publish-eventsub, publish-migrations

upd Chatting
  libs/typeorm/src/entities/ChannelModuleSettings.ts
Due: publish-migrations

upd Chatting
  apps/dashboard/components/song-requests/settings/general.tsx
  apps/dashboard/components/song-requests/settings/songs.tsx
  apps/dashboard/components/song-requests/settings/users.tsx
  apps/dashboard/pages/song-requests/settings.tsx
  apps/dashboard/public/locales/en/song-requests-settings.json
Due: none

upd Chatting
  apps/dashboard/public/locales/ru/song-requests-settings.json
  libs/typeorm/src/index.ts
Due: publish-migrations

upd Chatting
  apps/dashboard/components/appProvider.tsx
  apps/dashboard/components/layout/sidebar.tsx
Due: none

upd Chatting
  apps/dashboard/components/song-requests/settings/users.tsx
Due: none

upd Chatting
  apps/api/cmd/main.go
  apps/websockets/src/namespaces/youtube.ts
Due: publish-api

fix(api): add missed types lib to docker
  Dockerfile
Due: none

fix(dashboard): add missed songsrequests link in sidebar
  apps/dashboard/components/layout/sidebar.tsx
Due: none

feat: add websockets to dockerfile
  .github/workflows/docker.yml
  Dockerfile
  apps/api/cmd/main.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
  apps/parser/internal/commands/songrequest/youtube/wrong.go
  docker-compose.stack.yml
  libs/grpc/clients/websockets.go
  libs/grpc/clients/websockets.ts
  libs/grpc/protos/watched.proto
  libs/grpc/protos/websockets.proto
  package.json
Due: publish-api, publish-parser

fix(dashboard/songrequests): correct convert milliseconds to time
  apps/dashboard/components/song-requests/helpers.ts
  apps/dashboard/components/song-requests/list.tsx
Due: none

fix(dashboard/songrequests): disable ssr for dragging
  apps/dashboard/components/song-requests/list.tsx
Due: none

chore(workspace): add prettier for tsx
  .vscode/settings.json
Due: none

chore: fix build of websockets
  apps/dashboard/components/song-requests/helpers.ts
  apps/dashboard/components/song-requests/list.tsx
  apps/websockets/src/libs/grpc.ts
  apps/websockets/src/namespaces/youtube.ts
Due: none

chore(parser): add missed modules to mod file
  apps/parser/go.mod
  apps/parser/go.sum
Due: publish-parser

chore(stack): update stack file
  docker-compose.stack.yml
Due: none

chore(stack): change published port of websockets
  docker-compose.stack.yml
Due: none

fix(websockets): correctly import typeorm
  apps/websockets/src/libs/io.ts
Due: none

chore: add example caddyfile
  caddyfile.example
Due: none

feat(dashboard): add song title, duration to information
  apps/dashboard/components/song-requests/player.tsx
Due: none

fix(dashboard): fixup note about timer interval
  apps/dashboard/pages/timers.tsx
  apps/dashboard/public/locales/en/timers.json
  apps/dashboard/public/locales/ru/timers.json
Due: none

chore(web): add vite temporary files to gitignore
  apps/web/.gitignore
Due: none

fix(parser): correctly check song duration
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

feat: add song announce
  apps/dashboard/components/song-requests/settings/general.tsx
  apps/dashboard/pages/song-requests/settings.tsx
  apps/dashboard/public/locales/en/song-requests-settings.json
  apps/dashboard/public/locales/ru/song-requests-settings.json
  apps/websockets/src/libs/botsGrpc.ts
  apps/websockets/src/namespaces/youtube.ts
  libs/types/types/api/modules/youtube.go
Due: none

fix(dashboard/songrequests): enable autoplay after add new tracks from ws
  apps/dashboard/components/song-requests/context.ts
  apps/dashboard/components/song-requests/hook.ts
  apps/dashboard/pages/song-requests/player.tsx
  go.work.sum
Due: none

fix: add migration for set announcePlay for existed songrequests settings
  libs/typeorm/src/migrations/1672739515788-sr_announce_play.ts
Due: publish-migrations

feat(api): add bot name and id into bot information response
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/bot/controller.go
  apps/api/internal/api/v1/bot/service.go
  apps/dashboard/components/dashboard/bot.tsx
  apps/dashboard/services/api/bot.ts
  libs/types/types/api/bot/bot.go
  libs/types/types/api/v1.go
Due: publish-api

upd Chatting
  apps/dashboard/components/dashboard/bot-manage.tsx
  apps/dashboard/components/dashboard/bot.tsx
  apps/dashboard/components/dashboard/index.tsx
  apps/dashboard/components/dashboard/service-manage.tsx
  apps/dashboard/pages/index.tsx
  apps/dashboard/public/locales/en/dashboard.json
  apps/dashboard/public/locales/ru/dashboard.json
Due: none

upd Chatting
  apps/dashboard/components/dashboard/bot-manage.tsx
  apps/dashboard/services/api/bot.ts
Due: none

fix(grpc): correct path to ts proto plugin
  libs/grpc/gen.ts
Due: none

updChatting
  apps/dashboard/services/api/bot.ts
Due: none

chore(grpc): use latest version of grpc-go in dockerfile
  .devcontainer/Dockerfile
  libs/grpc/gen.ts
Due: none

fix(dashboard): correctly render botMod alert
  apps/dashboard/components/dashboard/bot-manage.tsx
Due: none

fix(dashboard): check nullish value of botName in widget
  apps/dashboard/components/dashboard/bot-manage.tsx
Due: none

fix(config): correct get path of env on windows
  libs/config/config.go
Due: none

chore: add cross-env for windows support
  apps/dota/nodemon.json
  apps/eval/nodemon.json
  apps/eventsub/nodemon.json
  apps/integrations/nodemon.json
  apps/scheduler/nodemon.json
  apps/streamstatus/nodemon.json
  package.json
  pnpm-lock.yaml
Due: publish-dota, publish-eventsub, publish-scheduler, publish-streamstatus, publish-eval

feat(dashboard): add interpolation for bot widget
  apps/dashboard/components/dashboard/bot-manage.tsx
  apps/dashboard/public/locales/en/dashboard.json
  apps/dashboard/public/locales/ru/dashboard.json
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
