Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

perf(bots): use goroutine for parse emotes in message
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

chore(bots): check language from
  apps/bots/internal/messagehandler/handle_moderation.go
Due: publish-bots

chore: add status code for twitch client metric
  libs/twitch/http_client.go
Due: none

chore: use new service for detect languages
  apps/api-gql/internal/delivery/gql/resolvers/moderation.resolver.go
  apps/api-gql/internal/delivery/gql/schema/moderation.graphqls
  apps/bots/internal/messagehandler/handle_moderation.go
  docker-compose.dev.yml
  docker-compose.stack.yml
  frontend/dashboard/src/api/moderation.ts
Due: publish-bots

chat translations wip
  apps/api-gql/internal/delivery/gql/resolvers/moderation.resolver.go
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/chat-translator/cmd/main.go
  apps/chat-translator/go.mod
  apps/chat-translator/go.sum
  apps/chat-translator/internal/app/app.go
  apps/chat-translator/internal/messaging/twirbus/twirbus.go
  apps/chat-translator/internal/services/handle_message/db.go
  apps/chat-translator/internal/services/handle_message/detect_language.go
  apps/chat-translator/internal/services/handle_message/handle_message.go
  apps/chat-translator/internal/services/handle_message/translate.go
  apps/eventsub/internal/handler/chat_message.go
  cli/internal/goapp/apps.go
  go.work
  libs/bus-core/twitch/chat-message.go
  libs/cache/chat_translations_settings/chat_translations_settings.go
  libs/migrations/migrations/20250404175432_channels_chat_translation.sql
  libs/repositories/chat_translation/chat_translation.go
  libs/repositories/chat_translation/datasource/postgres/pgx.go
  libs/repositories/chat_translation/model/model.go
Due: publish-bots, publish-eventsub

upd
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/audit-logs.go
  apps/api-gql/internal/delivery/gql/mappers/chat_translation.go
  apps/api-gql/internal/delivery/gql/resolvers/chat-translation.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/chat-translation.graphqls
  apps/api-gql/internal/delivery/gql/schema/user-audit-logs.graphqls
  apps/api-gql/internal/entity/chat_translation.go
  apps/api-gql/internal/services/chat_translation/chat_translation.go
  apps/chat-translator/internal/services/handle_message/handle_message.go
  frontend/dashboard/src/components/card/card.vue
  frontend/dashboard/src/features/modules/modules.vue
  frontend/dashboard/src/features/modules/ui/module-chat-translations.vue
  frontend/dashboard/src/plugins/router.ts
Due: none

upd
  frontend/dashboard/src/api/chat-translation.ts
  frontend/dashboard/src/api/languages.ts
  frontend/dashboard/src/components/ui/multi-select/MultiSelect.vue
  frontend/dashboard/src/components/ui/multi-select/MultiSelectItem.vue
  frontend/dashboard/src/components/ui/multi-select/index.ts
  frontend/dashboard/src/features/modules/composables/use-chat-translations.ts
  libs/migrations/migrations/20250404210321_add_modules_perms.sql
Due: none

upd
  apps/api-gql/internal/delivery/gql/schema/chat-translation.graphqls
  apps/api-gql/internal/delivery/gql/schema/roles.graphqls
  docker-compose.stack.yml
  frontend/dashboard/src/api/auth.ts
  frontend/dashboard/src/api/chat-translation.ts
  frontend/dashboard/src/components/ui/multi-select/MultiSelect.vue
  frontend/dashboard/src/features/modules/composables/use-chat-translations.ts
  frontend/dashboard/src/features/modules/ui/module-chat-translations.vue
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/plugins/router.ts
  libs/migrations/migrations/20250404210321_add_modules_perms.sql
Due: none

upd
  .github/workflows/dockerv3.yml
  frontend/dashboard/src/components/ui/multi-select/MultiSelect.vue
  frontend/dashboard/src/components/ui/multi-select/MultiSelectItem.vue
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

fix(chat-translator): add missed Dockerfile
  apps/chat-translator/Dockerfile
  libs/bus-core/go.mod
Due: none

fix(api-gql): correct url in prod for processor
  apps/api-gql/internal/delivery/gql/resolvers/moderation.resolver.go
Due: none

chore: add missed chat-translator service in stack
  docker-compose.stack.yml
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

fix(api-gql): invalidate translations settings on changes
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/resolvers/moderation.resolver.go
  apps/api-gql/internal/services/chat_translation/chat_translation.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/chat-translator/internal/services/handle_message/detect_language.go
  apps/chat-translator/internal/services/handle_message/translate.go
Due: publish-bots

fix(chat-translator): add missed ignored languages check
  apps/api-gql/internal/delivery/gql/resolvers/moderation.resolver.go
  apps/bots/app/app.go
  apps/bots/internal/messagehandler/handle_tts.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/services/commands/commands.go
  apps/chat-translator/internal/services/handle_message/handle_message.go
  apps/eventsub/internal/handler/chat_message.go
  apps/parser/internal/commands/commands.go
  libs/bus-core/twitch/chat-message.go
Due: publish-bots, publish-eventsub, publish-parser

feat(chat-translator): ignore commands from translations
  apps/chat-translator/internal/services/handle_message/handle_message.go
Due: none

feat(chat-translator): ignore same texts
  apps/chat-translator/internal/services/handle_message/handle_message.go
Due: none

feat(chat-translator): ignore if desc = src
  apps/chat-translator/internal/services/handle_message/handle_message.go
Due: none

chore: fetch channel on eventsub chat message
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/services/dashboard/dashboard.go
  apps/bots/internal/messagehandler/handle_chat_wall.go
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_games_voteban.go
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_keywords.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/bots/internal/messagehandler/handle_tts.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/chat-translator/internal/services/handle_message/handle_message.go
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/chat_message.go
  apps/eventsub/internal/handler/handler.go
  apps/parser/internal/commands/commands.go
  libs/bus-core/twitch/chat-message.go
  libs/cache/channel/channel.go
Due: publish-bots, publish-eventsub, publish-parser

chore(scheduler): simplify tickers time
  apps/scheduler/internal/timers/banned_channels.go
  apps/scheduler/internal/timers/commandsAndRoles.go
  apps/scheduler/internal/timers/emotes.go
  apps/scheduler/internal/timers/expired_commands.go
  apps/scheduler/internal/timers/online_chatters.go
  apps/scheduler/internal/timers/scheduled_vips.go
  apps/scheduler/internal/timers/streams.go
  apps/scheduler/internal/timers/watched.go
Due: publish-scheduler

feat(web): add `fontaine` for better font cls
  bun.lock
  web/nuxt.config.ts
  web/package.json
Due: none

fix(eventsub): do not handle messages from bot, not broadcaster
  apps/eventsub/internal/handler/chat_message.go
Due: publish-eventsub

fix(eventsub): handle command only if has prefix
  apps/eventsub/internal/handler/chat_message.go
Due: publish-eventsub

fix(overlays): correct check of badge existence
  libs/frontend-chat/src/styles/boxed/message-horizontal.vue
  libs/frontend-chat/src/styles/boxed/message-vertical.vue
  libs/frontend-chat/src/styles/clean/message-horizontal.vue
  libs/frontend-chat/src/styles/clean/message-vertical.vue
Due: none

New Crowdin updates (#757)
  frontend/dashboard/src/locales/de.json
  frontend/dashboard/src/locales/pt.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/sk.json
  frontend/dashboard/src/locales/uk.json
Due: none

feat: add timers count how many times send message
  apps/api-gql/internal/delivery/gql/mappers/timers.go
  apps/api-gql/internal/delivery/gql/resolvers/timers.resolver.go
  apps/api-gql/internal/delivery/gql/schema/timers.graphqls
  apps/api-gql/internal/entity/timer.go
  apps/api-gql/internal/services/timers/create.go
  apps/api-gql/internal/services/timers/timers.go
  apps/api-gql/internal/services/timers/update.go
  apps/timers/app/app.go
  apps/timers/internal/activity/activity.go
  apps/timers/internal/repositories/timers/gorm.go
  apps/timers/internal/repositories/timers/repository.go
  apps/timers/internal/workflow/manage.go
  apps/timers/internal/workflow/workflow.go
  docker-compose.dev.yml
  frontend/dashboard/src/api/timers.ts
  frontend/dashboard/src/features/timers/composables/use-timers-edit.ts
  frontend/dashboard/src/features/timers/timers-edit.vue
  libs/migrations/migrations/20250407024927_timers_response_count.sql
  libs/repositories/timers/model/model.go
  libs/repositories/timers/pgx/pgx.go
  libs/repositories/timers/timers.go
Due: none

feat(bots): use workers pool for handlers and actions
  apps/api-gql/internal/delivery/gql/resolvers/timers.resolver.go
  apps/bots/app/app.go
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/bus-listener/bus-listener.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/workers/workers.go
  apps/chat-translator/internal/services/handle_message/db.go
  apps/chat-translator/internal/services/handle_message/handle_message.go
  libs/repositories/channels/channels.go
  libs/repositories/channels/pgx/pgx.go
Due: publish-bots

chore: add haproxy into otel-collector
  configs/otel/otel-collector.yaml.example
Due: none

chore(bots): ignore context of app in listener
  apps/bots/internal/bus-listener/bus-listener.go
Due: publish-bots

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
