Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

feat(mcp): add engagement tools
  apps/api-gql/internal/delivery/mcp/server.go
  apps/api-gql/internal/delivery/mcp/tools_engagement.go
  apps/api-gql/internal/services/twitch/rewards.go
Due: none

feat(mcp): add integrations and overlays
  apps/api-gql/internal/delivery/mcp/server.go
  apps/api-gql/internal/delivery/mcp/tools_integrations.go
  apps/api-gql/internal/delivery/mcp/tools_overlays.go
Due: none

feat(mcp): add dashboard tools
  apps/api-gql/internal/delivery/mcp/server.go
  apps/api-gql/internal/delivery/mcp/tools_content.go
  apps/api-gql/internal/delivery/mcp/tools_dashboard.go
  apps/api-gql/internal/delivery/mcp/tools_data.go
Due: none

refactor(parser): hide hostnames in botuptime, keep responses order
  apps/parser/internal/commands/stats/botuptime.go
  apps/parser/internal/commands/stats/botuptime_format.go
  apps/parser/internal/commands/stats/botuptime_test.go
Due: publish-parser

feat: add botuptime command with cross-service uptime reporting (#1027)
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/stats/botuptime.go
  apps/parser/internal/commands/stats/botuptime_format.go
  apps/parser/internal/commands/stats/botuptime_test.go
  apps/parser/locales/en/commands/stats.yaml
  apps/parser/locales/locales.go
  go.work
  libs/baseapp/basefxapp.go
  libs/baseapp/go.mod
  libs/redis_keys/uptime.go
  libs/uptime/go.mod
  libs/uptime/reader.go
  libs/uptime/reporter.go
  libs/uptime/uptime_test.go
Due: publish-parser

chore: fix lockfile
  bun.lock
Due: none

fix(web): correct bun version in dockerfile
  web/Dockerfile
Due: none

feat(dashboard): add MCP setup guide
  apps/api-gql/internal/delivery/gql/resolvers/channels.resolver.go
  apps/api-gql/internal/delivery/gql/schema/channels.graphql
  apps/api-gql/internal/delivery/gql/schema/platform_bindings_test.go
  web/layers/dashboard/config/navigation.ts
  web/layers/dashboard/features/mcp-guide/api.ts
  web/layers/dashboard/features/mcp-guide/config.spec.ts
  web/layers/dashboard/features/mcp-guide/config.ts
  web/layers/dashboard/features/mcp-guide/mcp-guide.vue
  web/layers/dashboard/layout/sidebar/sidebar-footer.vue
  web/layers/dashboard/locales/en.json
  web/layers/dashboard/locales/ru.json
  web/layers/dashboard/pages/dashboard/mcp.vue
Due: none

fix(bots): improve translation language detection
  apps/bots/internal/services/chat_translations/chat_translations.go
  apps/bots/internal/services/chat_translations/detect_language.go
  apps/bots/internal/services/chat_translations/translate.go
  apps/bots/internal/services/chat_translations/translate_test.go
Due: publish-bots

chore: back to bun 1.3.14 since lockfile broken
  .bun-version
  bun.lock
Due: none

fix(bots): improve translation language detection (#1030)
  apps/bots/internal/services/chat_translations/chat_translations.go
  apps/bots/internal/services/chat_translations/detect_language.go
  apps/bots/internal/services/chat_translations/translate.go
  apps/bots/internal/services/chat_translations/translate_test.go
Due: publish-bots

chore(web): back to bun:1 in dockerfile
  web/Dockerfile
Due: none

fix(dashboard): load MCP guide translations
  web/layers/dashboard/features/mcp-guide/translations.spec.ts
  web/layers/dashboard/locales/en.json
  web/layers/dashboard/locales/ru.json
  web/locales/en.json
  web/locales/ru.json
Due: none

fix(i18n): use runtime locale directory
  web/i18n/locales/en.json
  web/i18n/locales/ru.json
  web/layers/dashboard/features/mcp-guide/translations.spec.ts
  web/locales/en.json
  web/locales/ru.json
Due: none

fix(web): correct docker version
  web/Dockerfile
Due: none

refactor(i18n): consolidate locale files
  web/app/assets/css/tailwind.css
  web/i18n/locales/de.json
  web/i18n/locales/en.json
  web/i18n/locales/es.json
  web/i18n/locales/ja.json
  web/i18n/locales/pt.json
  web/i18n/locales/ru.json
  web/i18n/locales/sk.json
  web/i18n/locales/uk.json
  web/layers/dashboard/layout/header/layouts/stats-layout-aggregate.spec.ts
  web/layers/dashboard/layout/header/layouts/stats-layout-grid.spec.ts
  web/layers/dashboard/layout/header/layouts/stats-layout-rows.spec.ts
  web/layers/dashboard/locales/de.json
  web/layers/dashboard/locales/en.json
  web/layers/dashboard/locales/es.json
  web/layers/dashboard/locales/ja.json
  web/layers/dashboard/locales/pt.json
  web/layers/dashboard/locales/ru.json
  web/layers/dashboard/locales/sk.json
  web/layers/dashboard/locales/uk.json
  web/locales/de.json
  web/locales/en.json
  web/locales/es.json
  web/locales/ja.json
  web/locales/pt.json
  web/locales/ru.json
  web/locales/sk.json
  web/locales/uk.json
  web/nuxt.config.ts
Due: none

Update source file stats.yaml
  apps/parser/locales/en/commands/stats.yaml
Due: publish-parser

New translations stats.yaml (Russian)
  apps/apps/parser/locales/en/commands/locales/ru/stats.yaml
Due: none

New translations stats.yaml (Spanish)
  apps/apps/parser/locales/en/commands/locales/es/stats.yaml
Due: none

New translations stats.yaml (German)
  apps/apps/parser/locales/en/commands/locales/de/stats.yaml
Due: none

New translations stats.yaml (Slovak)
  apps/apps/parser/locales/en/commands/locales/sk/stats.yaml
Due: none

New translations stats.yaml (Ukrainian)
  apps/apps/parser/locales/en/commands/locales/uk/stats.yaml
Due: none

New translations stats.yaml (English)
  apps/apps/parser/locales/en/commands/locales/en/stats.yaml
Due: none

New translations stats.yaml (Portuguese, Brazilian)
  apps/apps/parser/locales/en/commands/locales/pt/stats.yaml
Due: none

fix(events): update variables through pgx
  apps/events/internal/activities/events/variables.go
  libs/repositories/variables/pgx/pgx.go
Due: none

fix(events): update variables through pgx (#1031)
  apps/events/internal/activities/events/variables.go
  libs/repositories/variables/pgx/pgx.go
Due: none

fix(parser): correct botuptime status
  apps/parser/internal/commands/stats/botuptime_format.go
  apps/parser/internal/commands/stats/botuptime_test.go
  docker-compose.stack.yml
  libs/uptime/reader.go
Due: publish-parser

fix(parser): correct botuptime status (#1032)
  apps/parser/internal/commands/stats/botuptime_format.go
  apps/parser/internal/commands/stats/botuptime_test.go
  docker-compose.stack.yml
  libs/uptime/reader.go
Due: publish-parser

fix(import): preserve StreamElements semantics
  apps/api-gql/internal/services/streamelements/mapper.go
  apps/api-gql/internal/services/streamelements/mapper_test.go
  apps/api-gql/internal/services/streamelements/service_test.go
  apps/api-gql/internal/services/streamelements/streamelements.go
  docs/superpowers/plans/2026-08-01-chat-imports.md
  docs/superpowers/specs/2026-08-01-chat-imports-design.md
  libs/integrations/streamelements/streamelements.go
Due: none

refactor(streamlabs): use provider OAuth client
  .superpowers/sdd/2026-08-01-chat-imports/task-7-report.md
  apps/api-gql/internal/services/streamlabs_integration/service.go
  apps/api-gql/internal/services/streamlabs_integration/service_test.go
  libs/integrations/streamlabs/streamlabs.go
  libs/repositories/streamlabs_integration/datasource/postgres/pgx.go
  libs/repositories/streamlabs_integration/datasource/postgres/pgx_test.go
  libs/repositories/streamlabs_integration/repository.go
Due: none

feat(import): expose secure provider API
  .superpowers/sdd/2026-08-01-chat-imports/task-8-report.md
  apps/api-gql/internal/delivery/gql/mappers/commands.go
  apps/api-gql/internal/delivery/gql/mappers/timers.go
  apps/api-gql/internal/delivery/gql/resolvers/import.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/import_helpers.go
  apps/api-gql/internal/delivery/gql/resolvers/import_streamelements_test.go
  apps/api-gql/internal/delivery/gql/resolvers/import_test.go
  apps/api-gql/internal/delivery/gql/resolvers/integrations-streamlabs.resolver.go
  apps/api-gql/internal/delivery/gql/schema/import.graphql
  apps/api-gql/internal/delivery/gql/schema/integrations/integrations-streamlabs.graphql
  apps/api-gql/internal/delivery/mcp/tools_integrations.go
  apps/api-gql/internal/services/nightbot_integration/client_test.go
  apps/api-gql/internal/services/nightbot_integration/nightbot_integration.go
  apps/api-gql/internal/services/streamlabs_integration/service.go
  apps/api-gql/internal/services/streamlabs_integration/service_test.go
  libs/integrations/streamlabs/streamlabs.go
Due: none

fix(import): sanitize Nightbot errors
  .superpowers/sdd/2026-08-01-chat-imports/task-8-report.md
  apps/api-gql/internal/services/nightbot_integration/client_test.go
  apps/api-gql/internal/services/nightbot_integration/nightbot_integration.go
Due: none

feat(integrations): add token lifecycle primitives
  .superpowers/sdd/2026-08-01-chat-imports/task-9-report.md
  apps/integrations/src/libs/db.ts
  apps/integrations/src/libs/donation-dedupe.test.ts
  apps/integrations/src/libs/donation-dedupe.ts
  apps/integrations/src/libs/oauth-lock.test.ts
  apps/integrations/src/libs/oauth-lock.ts
  apps/integrations/src/libs/provider-token-store.test.ts
  apps/integrations/src/libs/provider-token-store.ts
Due: none

fix(bots): skip ambiguous cyrillic translations
  apps/bots/internal/services/chat_translations/chat_translations.go
  apps/bots/internal/services/chat_translations/script_guard.go
  apps/bots/internal/services/chat_translations/script_guard_test.go
  apps/bots/internal/services/chat_translations/translate.go
  apps/bots/internal/services/chat_translations/translate_test.go
Due: publish-bots

fix(integrations): harden token lifecycle
  .superpowers/sdd/2026-08-01-chat-imports/task-9-report.md
  apps/integrations/src/libs/oauth-lock.test.ts
  apps/integrations/src/libs/oauth-lock.ts
  apps/integrations/src/libs/provider-token-store.test.ts
  apps/integrations/src/libs/provider-token-store.ts
Due: none

feat(integrations): listen for StreamElements tips
  .superpowers/sdd/2026-08-01-chat-imports/task-10-report.md
  apps/integrations/src/index.ts
  apps/integrations/src/libs/db.ts
  apps/integrations/src/libs/streamelements-client.test.ts
  apps/integrations/src/libs/streamelements-client.ts
  apps/integrations/src/services/streamElements.test.ts
  apps/integrations/src/services/streamElements.ts
  apps/integrations/src/store/streamelements.test.ts
  apps/integrations/src/store/streamelements.ts
  libs/config/src/index.ts
Due: none

feat(mcp): expose full command settings
  apps/api-gql/internal/delivery/gql/mappers/commands.go
  apps/api-gql/internal/delivery/mcp/server.go
  apps/api-gql/internal/delivery/mcp/tools_commands.go
  apps/api-gql/internal/delivery/mcp/tools_commands_test.go
  apps/api-gql/internal/services/commands/create.go
  libs/repositories/commands/pgx/pgx.go
Due: none

feat(mcp): document script variables
  apps/api-gql/internal/delivery/mcp/server.go
  apps/api-gql/internal/delivery/mcp/tools_content.go
  apps/api-gql/internal/delivery/mcp/tools_content_test.go
  apps/api-gql/internal/services/variables/variables.go
Due: none

fix(integrations): close provider lifecycle races
  .superpowers/sdd/2026-08-01-chat-imports/task-10-report.md
  apps/integrations/src/index.ts
  apps/integrations/src/services/streamElements.test.ts
  apps/integrations/src/services/streamElements.ts
  apps/integrations/src/store/streamelements.test.ts
  apps/integrations/src/store/streamelements.ts
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
