Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

upd Chatting
  apps/dashboard/pages/commands.tsx
Due: none

upd Chatting
  apps/dashboard/components/moderation/card.tsx
  apps/dashboard/pages/index.tsx
  apps/dashboard/pages/moderation.tsx
  apps/dashboard/public/locales/en/moderation.json
Due: none

upd Chatting
  apps/dashboard/components/appProvider.tsx
  apps/dashboard/components/commands/drawer.tsx
  apps/dashboard/components/dashboard/bot.tsx
  apps/dashboard/components/greetings/drawer.tsx
  apps/dashboard/components/keywords/drawer.tsx
  apps/dashboard/components/layout/profile.tsx
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/components/settings/dashboardAccess.tsx
  apps/dashboard/components/timers/drawer.tsx
  apps/dashboard/components/variables/drawer.tsx
  apps/dashboard/package.json
  apps/dashboard/pages/_app.tsx
  apps/dashboard/pages/commands.tsx
  apps/dashboard/pages/greetings.tsx
  apps/dashboard/pages/keywords.tsx
  apps/dashboard/pages/moderation.tsx
  apps/dashboard/pages/timers.tsx
  apps/dashboard/pages/variables.tsx
  apps/dashboard/services/api/bot.ts
  apps/dashboard/services/api/commands.ts
  apps/dashboard/services/api/crud.ts
  apps/dashboard/services/api/dashboardAcess.ts
  apps/dashboard/services/api/fetchWrappers.ts
  apps/dashboard/services/api/greetings.ts
  apps/dashboard/services/api/index.ts
  apps/dashboard/services/api/integrations/donationalerts.ts
  apps/dashboard/services/api/integrations/faceit.ts
  apps/dashboard/services/api/integrations/lastfm.ts
  apps/dashboard/services/api/integrations/spotify.ts
  apps/dashboard/services/api/integrations/streamlabs.ts
  apps/dashboard/services/api/integrations/vk.ts
  apps/dashboard/services/api/keywords.ts
  apps/dashboard/services/api/moderation.ts
  apps/dashboard/services/api/profile.ts
  apps/dashboard/services/api/queryClient.ts
  apps/dashboard/services/api/timers.ts
  apps/dashboard/services/api/variables.ts
  apps/dashboard/services/dashboard/useSelectedDashboard.ts
  pnpm-lock.yaml
Due: none

upd Chatting
  .idea/dataSources.xml
  apps/dashboard/components/appProvider.tsx
  apps/dashboard/components/commands/drawer.tsx
  apps/dashboard/components/greetings/drawer.tsx
  apps/dashboard/components/keywords/drawer.tsx
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/components/variables/drawer.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/pages/commands.tsx
  apps/dashboard/pages/greetings.tsx
  apps/dashboard/pages/keywords.tsx
  apps/dashboard/pages/timers.tsx
  apps/dashboard/pages/variables.tsx
  apps/dashboard/services/api/crud.ts
  apps/dashboard/services/api/moderation.ts
  apps/dashboard/services/api/profile.ts
Due: none

upd Chatting
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/components/settings/dashboardAccess.tsx
  apps/dashboard/components/settings/drawer.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/services/api/crud.ts
Due: none

upd Chatting
  apps/dashboard/components/moderation/drawer.tsx
  apps/dashboard/services/api/moderation.ts
Due: none

upd Chatting
  apps/dashboard/services/api/profile.ts
Due: none

upd Chatting
  apps/dashboard/public/locales/en/variables.json
  apps/dashboard/services/api/profile.ts
Due: none

upd Chatting
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/auth/checkUser.go
  apps/api/internal/api/v1/integrations/donationalerts/controller.go
  apps/api/internal/api/v1/integrations/faceit/controller.go
  apps/api/internal/api/v1/integrations/lastfm/controller.go
  apps/api/internal/api/v1/integrations/lastfm/dto.go
  apps/api/internal/api/v1/integrations/lastfm/service.go
  apps/api/internal/api/v1/integrations/spotify/controller.go
  apps/api/internal/api/v1/integrations/spotify/dto.go
  apps/api/internal/api/v1/integrations/streamlabs/controller.go
  apps/dashboard/components/integrations/donationalerts.tsx
  apps/dashboard/components/integrations/faceit.tsx
  apps/dashboard/components/integrations/lastfm.tsx
  apps/dashboard/components/integrations/spotify.tsx
  apps/dashboard/components/integrations/streamlabs.tsx
  apps/dashboard/components/integrations/vk.tsx
  apps/dashboard/pages/integrations/[integration].tsx
  apps/dashboard/pages/integrations/donationalerts.tsx
  apps/dashboard/pages/integrations/faceit.tsx
  apps/dashboard/pages/integrations/lastfm.tsx
  apps/dashboard/pages/integrations/spotify.tsx
  apps/dashboard/pages/integrations/streamlabs.tsx
  apps/dashboard/pages/integrations/vk.tsx
  apps/dashboard/services/api/crud.ts
  apps/dashboard/services/api/integrations/donationalerts.ts
  apps/dashboard/services/api/integrations/faceit.ts
  apps/dashboard/services/api/integrations/index.ts
  apps/dashboard/services/api/integrations/lastfm.ts
  apps/dashboard/services/api/integrations/spotify.ts
  apps/dashboard/services/api/integrations/streamlabs.ts
  apps/dashboard/services/api/integrations/vk.ts
Due: publish-api

upd Chatting
  apps/dashboard/pages/integrations/[integration].tsx
  apps/dashboard/pages/integrations/donationalerts.tsx
  apps/dashboard/pages/integrations/faceit.tsx
  apps/dashboard/pages/integrations/lastfm.tsx
  apps/dashboard/pages/integrations/spotify.tsx
  apps/dashboard/pages/integrations/streamlabs.tsx
  apps/dashboard/pages/integrations/vk.tsx
Due: none

upd Chatting
  apps/dashboard/components/integrations/card.tsx
  apps/dashboard/components/settings/dashboardAccess.tsx
Due: none

upd Chatting
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/commands/dto.go
  apps/api/internal/api/v1/greetings/service.go
  apps/dashboard/components/moderation/drawer.tsx
  apps/dashboard/components/timers/drawer.tsx
  apps/dashboard/components/variables/drawer.tsx
  apps/dashboard/pages/greetings.tsx
  apps/dashboard/pages/variables.tsx
  apps/dashboard/public/locales/en/timers.json
  apps/dashboard/public/locales/ru/commands.json
  apps/dashboard/public/locales/ru/keywords.json
  apps/dashboard/public/locales/ru/timers.json
  apps/dashboard/services/api/crud.ts
Due: publish-api

upd Chatting
  apps/dashboard/components/moderation/drawer.tsx
Due: none

upd Chatting
  Dockerfile
  apps/dashboard/components/commands/drawer.tsx
  apps/dashboard/components/dashboard/bot.tsx
  apps/dashboard/components/greetings/drawer.tsx
  apps/dashboard/components/integrations/faceit.tsx
  apps/dashboard/components/keywords/drawer.tsx
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/components/moderation/drawer.tsx
  apps/dashboard/components/settings/dashboardAccess.tsx
  apps/dashboard/components/settings/drawer.tsx
  apps/dashboard/components/timers/drawer.tsx
  apps/dashboard/components/variables/drawer.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/pages/commands.tsx
  apps/dashboard/pages/greetings.tsx
  apps/dashboard/pages/index.tsx
  apps/dashboard/pages/keywords.tsx
  apps/dashboard/pages/settings.tsx
  apps/dashboard/pages/timers.tsx
  apps/dashboard/pages/variables.tsx
  apps/dashboard/services/api/crud.ts
  apps/dashboard/util/chore.ts
  package.json
Due: none

upd Chatting
  apps/api/internal/api/auth/checkUser.go
Due: publish-api

upd Chatting
  apps/dashboard/services/api/crud.ts
Due: none

upd Chatting
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/variables/controller.go
  apps/dashboard/components/commands/drawer.tsx
  apps/dashboard/components/greetings/drawer.tsx
  apps/dashboard/services/api/crud.ts
  apps/dashboard/services/api/index.ts
  apps/dashboard/services/api/variables.ts
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/parser/internal/variables/customvar/customvar.go
  libs/grpc/protos/parser.proto
Due: publish-api, publish-parser

upd Chatting
  libs/typeorm/src/migrations/1671823591036-drop_integrations.ts
Due: publish-migrations

upd Chatting
  Dockerfile
  apps/api/internal/api/v1/keywords/controller.go
  apps/api/internal/api/v1/keywords/dto.go
  apps/api/internal/api/v1/keywords/service.go
  apps/dashboard/components/commands/drawer.tsx
  apps/dashboard/components/dashboard/bot.tsx
  apps/dashboard/components/greetings/drawer.tsx
  apps/dashboard/components/integrations/donationalerts.tsx
  apps/dashboard/components/integrations/faceit.tsx
  apps/dashboard/components/integrations/lastfm.tsx
  apps/dashboard/components/integrations/spotify.tsx
  apps/dashboard/components/integrations/streamlabs.tsx
  apps/dashboard/components/integrations/vk.tsx
  apps/dashboard/components/keywords/drawer.tsx
  apps/dashboard/components/moderation/drawer.tsx
  apps/dashboard/components/settings/dashboardAccess.tsx
  apps/dashboard/components/settings/drawer.tsx
  apps/dashboard/components/timers/drawer.tsx
  apps/dashboard/components/variables/drawer.tsx
  apps/dashboard/pages/commands.tsx
  apps/dashboard/pages/greetings.tsx
  apps/dashboard/pages/integrations/[integration].tsx
  apps/dashboard/pages/keywords.tsx
  apps/dashboard/pages/moderation.tsx
  apps/dashboard/pages/timers.tsx
  apps/dashboard/pages/variables.tsx
  apps/dashboard/services/api/bot.ts
  apps/dashboard/services/api/crud.ts
  apps/dashboard/services/api/integrations/index.ts
  apps/dashboard/services/api/moderation.ts
  docker-compose.build.yml
Due: publish-api

upd Chatting
  apps/dashboard/components/commands/drawer.tsx
  apps/dashboard/components/greetings/drawer.tsx
  apps/dashboard/components/keywords/drawer.tsx
  apps/dashboard/components/moderation/drawer.tsx
  apps/dashboard/components/timers/drawer.tsx
  apps/dashboard/components/variables/drawer.tsx
Due: none

upd Chatting
  apps/dashboard/services/api/queryClient.ts
Due: none

upd Chatting
  apps/dashboard/components/moderation/drawer.tsx
  apps/dashboard/pages/moderation.tsx
  apps/dashboard/services/api/moderation.ts
Due: none

upd Chatting
  apps/dashboard/components/keywords/drawer.tsx
Due: none

upd Chatting
  apps/api/internal/api/v1/greetings/service.go
Due: publish-api

upd Chatting
  apps/dashboard/components/timers/drawer.tsx
  apps/dashboard/pages/greetings.tsx
  apps/dashboard/pages/keywords.tsx
  apps/dashboard/pages/variables.tsx
Due: none

upd Chatting
  apps/dashboard/components/variables/drawer.tsx
Due: none

upd Chatting
  apps/dashboard/components/timers/drawer.tsx
  apps/dashboard/pages/commands.tsx
  apps/dashboard/pages/timers.tsx
Due: none

upd Chatting
  apps/dashboard/components/moderation/drawer.tsx
  apps/dashboard/pages/_document.tsx
  apps/dashboard/public/TsuwariInCircle.svg
  apps/dashboard/public/favicon.ico
  apps/dashboard/public/vercel.svg
Due: none

upd Chatting
  apps/api/go.mod
  apps/api/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
Due: publish-api, publish-parser

chore(stack): change dashboard port
  docker-compose.stack.yml
Due: none

fix(dashboard): correct name of dashboard
  apps/dashboard/package.json
Due: none

chore(stack): add `dnsrr` mode to all services
  apps/web/vite.config.ts.timestamp-1671482640712.mjs
  docker-compose.stack.yml
Due: none

fix(migrations): set default values for variables
  libs/typeorm/src/migrations/1671194276298-non_nullable_var_response_and_eval.ts
  libs/typeorm/src/migrations/1671194430883-non_nullable_keywords_cooldown.ts
Due: publish-migrations

fix(stack): do not use `dnsrr` for some services
  docker-compose.stack.yml
Due: none

fix(dashboard): correct usage of hooks in integrations
  apps/dashboard/components/integrations/donationalerts.tsx
  apps/dashboard/components/integrations/faceit.tsx
  apps/dashboard/components/integrations/lastfm.tsx
  apps/dashboard/components/integrations/spotify.tsx
  apps/dashboard/components/integrations/streamlabs.tsx
  apps/dashboard/components/integrations/vk.tsx
  apps/dashboard/pages/integrations/[integration].tsx
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
