Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

upd
  apps/parser/internal/commands/manage/add_command.go
  apps/parser/internal/commands/manage/del_command.go
  apps/parser/internal/commands/manage/edit_command.go
  apps/parser/internal/commands/manage/manage.go
Due: publish-parser

upd
  apps/scheduler/src/default-commands-creator/default-commands-creator.service.ts
Due: publish-scheduler

upd
  apps/api/src/v1/commands/commands.service.ts
  apps/bots/src/libs/redis.ts
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/manage/add_command.go
  apps/parser/internal/variables/commands/commands.go
  apps/parser/internal/variablescache/stream.go
  apps/scheduler/src/default-commands-creator/default-commands-creator.service.ts
  apps/scheduler/src/online-users/online-users.service.ts
  devbox.json
  devbox/pre-exit.sh
  libs/gomodels/channels_commands.go
  libs/gomodels/channels_streams.go
  libs/typeorm/src/entities/ChannelStream.ts
  libs/typeorm/src/migrations/1666008095838-change_stream_startedAt_type.ts
Due: publish-api, publish-bots, publish-migrations, publish-parser, publish-scheduler

upd
  apps/bots/src/libs/keywordsParser.ts
  libs/typeorm/src/entities/ChannelKeyword.ts
  libs/typeorm/src/migrations/1666008755719-make_keyword_cooldown_nullable.ts
Due: publish-bots, publish-migrations

fix keywords
  apps/bots/src/libs/keywordsParser.ts
Due: publish-bots

upd
  apps/bots/src/libs/keywordsParser.ts
Due: publish-bots

upd
  apps/api/src/v1/commands/commands.controller.ts
  apps/api/src/v1/feedback/feedback.controller.ts
  apps/api/src/v1/greetings/greetings.controller.ts
  apps/api/src/v1/integrations/donationalerts/donationalerts.controller.ts
  apps/api/src/v1/integrations/faceit/faceit.controller.ts
  apps/api/src/v1/integrations/lastfm/lastfm.controller.ts
  apps/api/src/v1/integrations/spotify/spotify.controller.ts
  apps/api/src/v1/integrations/streamlabs/streamlabs.controller.ts
  apps/api/src/v1/integrations/vk/vk.controller.ts
  apps/api/src/v1/keywords/keywords.controller.ts
  apps/api/src/v1/moderation/moderation.controller.ts
  apps/api/src/v1/timers/timers.controller.ts
  apps/api/src/v1/variables/variables.controller.ts
Due: publish-api

upd
  apps/bots/src/functions/storeUserMessage.ts
  apps/parser/internal/commands/dota/wl_command.go
Due: publish-bots, publish-parser

upd
  apps/parser/internal/commands/channel/game/game.go
  apps/parser/internal/commands/channel/title/title.go
  apps/parser/internal/commands/dota/addacc_command.go
  apps/parser/internal/commands/dota/delacc_command.go
  apps/parser/internal/commands/dota/gm_command.go
  apps/parser/internal/commands/dota/lg_command.go
  apps/parser/internal/commands/dota/listacc_command.go
  apps/parser/internal/commands/dota/np_command.go
  apps/parser/internal/commands/dota/wl_command.go
  apps/parser/internal/commands/manage/add_command.go
  apps/parser/internal/commands/manage/del_command.go
  apps/parser/internal/commands/manage/edit_command.go
  apps/parser/internal/commands/nuke/nuke.go
  apps/parser/internal/commands/permit/permit.go
  apps/parser/internal/commands/spam/spam.go
  apps/scheduler/src/default-commands-creator/default-commands-creator.service.ts
Due: publish-parser, publish-scheduler

upd
  apps/parser/internal/commands/spam/spam.go
Due: publish-parser

upd
  apps/timers/cmd/main.go
  apps/timers/go.mod
  apps/timers/go.sum
  apps/timers/internal/handler/handler.go
  apps/timers/internal/scheduler/scheduler.go
  apps/timers/internal/services/redis/redis.go
Due: none

cooldowns
  apps/parser/internal/handlers/nats/commandsProcess.go
Due: publish-parser

upd docker ingore
  .dockerignore
Due: none

upd migrations
  libs/typeorm/src/migrations/1665853547398-add_channels_streams.ts
  libs/typeorm/src/migrations/1665855111524-add_processed_to_greetings.ts
  libs/typeorm/src/migrations/1665855166280-add_is_bot_mod_to_channel.ts
  libs/typeorm/src/migrations/1666008095838-change_stream_startedAt_type.ts
  libs/typeorm/src/migrations/1666008755719-make_keyword_cooldown_nullable.ts
Due: publish-migrations

fix(migrations): make `cooldownExpireAt` nullable
  libs/typeorm/src/migrations/1665875488674-add_keywords_cooldown_expire_at.ts
  libs/typeorm/src/migrations/1666008755719-make_keyword_cooldown_nullable.ts
Due: publish-migrations

fix(parser): add missed `where` statement for commands
  apps/parser/internal/commands/commands.go
Due: publish-parser

fix(parser): use correct channelId for commands variable
  apps/parser/internal/variables/commands/commands.go
Due: publish-parser

feat(parser): add `touser` variable
  apps/parser/internal/variables/touser/touser.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

feat: add keeporder feature for command responses
  apps/api/src/v1/commands/dto/create.ts
  apps/bots/src/libs/bot.ts
  apps/frontend/package.json
  apps/frontend/src/components/Command.vue
  apps/frontend/src/dashboard/Commands.vue
  apps/frontend/src/locales/gb.json
  apps/frontend/src/locales/ru.json
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/types/types.go
  libs/gomodels/channels_commands.go
  libs/gomodels/channels_commands_responses.go
  libs/gomodels/model_base.go
  libs/nats/protos/bots.proto
  libs/nats/protos/parser.proto
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/entities/CommandResponse.ts
  libs/typeorm/src/migrations/1666019474799-add_keep_responses_order.ts
  libs/typeorm/src/migrations/1666019651002-add_order_to_commands_responses.ts
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-migrations, publish-parser

chore(frontend): remove unused deps
  apps/frontend/package.json
  pnpm-lock.yaml
Due: none

chore: fix build of spotify for `build:libs` script
  package.json
Due: none

chore(taskfile): use package json script for build libs
  Taskfile.yml
Due: none

feat: add `isReply` property for keywords
  apps/api/src/v1/keywords/dto/create.ts
  apps/api/src/v1/keywords/keywords.service.ts
  apps/bots/src/libs/bot.ts
  apps/bots/src/libs/keywordsParser.ts
  apps/frontend/src/components/Keyword.vue
  apps/frontend/src/dashboard/Keywords.vue
  libs/typeorm/src/entities/ChannelKeyword.ts
  libs/typeorm/src/migrations/1666189605642-add_channel_keywords_is_reply.ts
Due: publish-api, publish-bots, publish-migrations

feat: add `isReply` property for keywords (#204)
  apps/api/src/v1/keywords/dto/create.ts
  apps/api/src/v1/keywords/keywords.service.ts
  apps/bots/src/libs/bot.ts
  apps/bots/src/libs/keywordsParser.ts
  apps/frontend/src/components/Keyword.vue
  apps/frontend/src/dashboard/Keywords.vue
  libs/typeorm/src/entities/ChannelKeyword.ts
  libs/typeorm/src/migrations/1666189605642-add_channel_keywords_is_reply.ts
Due: publish-api, publish-bots, publish-migrations

fix(frontend): add missed locales for keywords
  apps/frontend/src/locales/gb.json
  apps/frontend/src/locales/ru.json
Due: none

feat: add greetings `isReply` toggler
  apps/api/src/v1/greetings/dto/create.ts
  apps/api/src/v1/greetings/greetings.service.ts
  apps/bots/src/libs/bot.ts
  apps/bots/src/libs/greetingsParser.ts
  apps/frontend/src/components/Greeting.vue
  apps/frontend/src/dashboard/Greetings.vue
  apps/frontend/src/locales/gb.json
  apps/frontend/src/locales/ru.json
  libs/typeorm/src/entities/ChannelGreeting.ts
  libs/typeorm/src/migrations/1666189605642-add_channel_keywords_is_reply.ts
  libs/typeorm/src/migrations/1666190804462-add_channel_greetings_is_reply.ts
Due: publish-api, publish-bots, publish-migrations

fix(integrations): wrong place for check on null from donationalerts
  apps/integrations/src/libs/sender.ts
  apps/integrations/src/services/donationAlerts.ts
Due: none

feat: add isAnnounce feature for timers
  apps/api/src/v1/timers/dto/create.ts
  apps/api/src/v1/timers/timers.service.ts
  apps/bots/src/libs/nats.ts
  apps/frontend/src/components/Timer.vue
  apps/frontend/src/locales/gb.json
  apps/frontend/src/locales/ru.json
  apps/timers/cmd/main.go
  apps/timers/internal/handler/handler.go
  libs/gomodels/channels_timers.go
  libs/gomodels/channels_timers_responses.go
  libs/nats/protos/bots.proto
  libs/typeorm/src/entities/ChannelTimer.ts
  libs/typeorm/src/entities/ChannelTimerResponse.ts
  libs/typeorm/src/index.ts
  libs/typeorm/src/migrations/1666191952221-add_channel_timers_is_announce.ts
  libs/typeorm/tsconfig.json
Due: publish-api, publish-bots, publish-migrations

feat(api): on keyword update drop cooldown
  apps/api/src/v1/keywords/keywords.service.ts
Due: publish-api

feat(parser): add support for twitch soundtrack
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/commands/channel/game/game.go
  apps/parser/internal/commands/channel/title/title.go
  apps/parser/internal/commands/permit/permit.go
  apps/parser/internal/config/twitch/twitch.go
  apps/parser/internal/twitch/user/user.go
  apps/parser/internal/variables/song/song.go
  apps/parser/internal/variables/stream/stream.go
  apps/parser/internal/variables/top/top.go
  apps/parser/internal/variables/user/age/age.go
  apps/parser/internal/variables/user/followage/followage.go
  apps/parser/internal/variablescache/followage.go
  apps/parser/internal/variablescache/stream.go
  apps/parser/internal/variablescache/twitchUser.go
  apps/parser/internal/variablescache/variablescache.go
  apps/timers/go.mod
  apps/timers/go.sum
  libs/twitch/go.mod
  libs/twitch/go.sum
  libs/twitch/twitch.go
Due: publish-parser

chore: use docker for for setup dev services
  .gitignore
  README.md
  devbox.json
  devbox/conf/nats/nats.conf
  devbox/conf/postgres/hba.conf
  devbox/conf/postgres/ident.conf
  devbox/conf/postgres/postgres.conf
  devbox/conf/redis/redis.conf
  devbox/data/nats/.gitkeep
  devbox/data/redis/.gitkeep
  devbox/post-install.sh
  devbox/pre-exit.sh
  docker-compose.dev.yml
  docker-compose.example.yml
Due: none

chore: add missed `nats ` to dev compose
  docker-compose.dev.yml
Due: none

chore(devbox): remove not needed packages
  devbox.json
Due: none

chore(devbox): remove not needed exports
  devbox/post-install.sh
Due: none

feat(parser): add new `commandOnly` flag for variables
  apps/parser/internal/commands/commands.go
  apps/parser/internal/handlers/nats/parseResponse.go
  apps/parser/internal/types/types.go
  apps/parser/internal/variables/sender/sender.go
  apps/parser/internal/variables/touser/touser.go
  apps/parser/internal/variables/user/age/age.go
  apps/parser/internal/variables/user/followage/followage.go
  apps/parser/internal/variables/user/messages/messsages.go
  apps/parser/internal/variables/variables.go
  apps/parser/internal/variablescache/variablescache.go
Due: publish-parser

feat(api): validate integrations only if they enabled
  apps/api/src/v1/integrations/faceit/dto/update.ts
  apps/api/src/v1/integrations/lastfm/dto/update.ts
  apps/api/src/v1/integrations/vk/dto/update.ts
Due: publish-api

refactor: rewrite api to golang
  apps/api-go/Taskfile.yml
  apps/api-go/cmd/main.go
  apps/api-go/go.mod
  apps/api-go/go.sum
  apps/api-go/internal/api/v1/commands/controller.go
  apps/api-go/internal/api/v1/commands/dto.go
  apps/api-go/internal/api/v1/commands/service.go
  apps/api-go/internal/api/v1/v1.go
  apps/api-go/internal/services/redis/redis.go
  apps/api-go/internal/types/types.go
  apps/api-go/nodemon.json
  apps/api/src/v1/commands/commands.controller.ts
  libs/gomodels/channels_commands.go
Due: publish-api

upd
  apps/api-go/cmd/main.go
  apps/api-go/internal/api/v1/commands/controller.go
  apps/api-go/internal/api/v1/commands/dto.go
  apps/api-go/internal/api/v1/commands/service.go
  apps/api-go/internal/middlewares/validate_body.go
Due: none

fix(frontend): use right property for responses order
  apps/frontend/src/components/Command.vue
Due: none
