Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

upd
  apps/api-go/cmd/main.go
  apps/api-go/internal/api/v1/commands/controller.go
  apps/api-go/internal/api/v1/commands/dto.go
  apps/api-go/internal/api/v1/commands/service.go
  apps/api-go/internal/api/v1/v1.go
  apps/api-go/internal/middlewares/error_handler.go
  apps/api-go/internal/middlewares/validate_body.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  libs/gomodels/channels_commands.go
  libs/gomodels/channels_commands_responses.go
Due: publish-parser

feat(parser): correct count time of execution of `handleProcessCommand`
  apps/parser/cmd/main.go
Due: publish-parser

upd
  apps/api-go/internal/api/v1/commands/controller.go
  apps/api-go/internal/api/v1/commands/dto.go
  apps/api-go/internal/api/v1/commands/helpers.go
  apps/api-go/internal/api/v1/commands/service.go
  apps/api-go/internal/api/v1/greetings/controller.go
  apps/api-go/internal/api/v1/greetings/handlers.go
  apps/api-go/internal/api/v1/v1.go
Due: none

fix: parse variables for greetings and keywords
  apps/bots/src/libs/bot.ts
  apps/parser/internal/handlers/nats/parseResponse.go
  libs/nats/protos/parser.proto
Due: publish-bots, publish-parser

upd
  apps/api-go/cmd/main.go
  apps/api-go/go.mod
  apps/api-go/go.sum
  apps/api-go/internal/api/v1/commands/service.go
  apps/api-go/internal/api/v1/greetings/controller.go
  apps/api-go/internal/api/v1/greetings/dto.go
  apps/api-go/internal/api/v1/greetings/handlers.go
  apps/api-go/internal/api/v1/greetings/helpers.go
  apps/api-go/internal/api/v1/greetings/service.go
  apps/api-go/internal/middlewares/error_handler.go
  apps/api-go/internal/types/types.go
  libs/gomodels/channels_greetings.go
  libs/gomodels/model_base.go
Due: none

greetings done
  apps/api-go/internal/api/v1/greetings/controller.go
  apps/api-go/internal/api/v1/greetings/helpers.go
  apps/api-go/internal/api/v1/greetings/service.go
Due: none

update namings
  apps/api-go/internal/api/v1/commands/controller.go
  apps/api-go/internal/api/v1/commands/service.go
  apps/api-go/internal/api/v1/greetings/controller.go
  apps/api-go/internal/api/v1/greetings/service.go
  apps/api-go/internal/api/v1/keywords/controller.go
  apps/api-go/internal/api/v1/v1.go
Due: none

upd
  apps/api-go/internal/api/v1/keywords/controller.go
Due: none

upd
  apps/api-go/internal/api/v1/commands/service.go
  apps/api-go/internal/api/v1/greetings/service.go
  apps/api-go/internal/api/v1/keywords/controller.go
  apps/api-go/internal/api/v1/keywords/dto.go
  apps/api-go/internal/api/v1/keywords/helpers.go
  apps/api-go/internal/api/v1/keywords/service.go
  libs/gomodels/channels_greetings.go
  libs/gomodels/channels_keywords.go
  libs/gomodels/model_base.go
Due: none

logger
  apps/api-go/cmd/main.go
  apps/api-go/go.mod
  apps/api-go/go.sum
  apps/api-go/internal/api/v1/commands/service.go
  apps/api-go/internal/api/v1/greetings/service.go
  apps/api-go/internal/api/v1/keywords/service.go
  apps/api-go/internal/types/types.go
Due: none

upd
  apps/api-go/internal/api/v1/timers/controller.go
  apps/api-go/internal/api/v1/timers/dto.go
  apps/api-go/internal/api/v1/timers/service.go
Due: none

upd
  apps/api-go/internal/api/v1/commands/service.go
  apps/api-go/internal/api/v1/greetings/service.go
  apps/api-go/internal/api/v1/timers/controller.go
  apps/api-go/internal/api/v1/timers/dto.go
  apps/api-go/internal/api/v1/timers/service.go
  apps/api-go/internal/api/v1/v1.go
  libs/gomodels/channels_timers.go
  libs/gomodels/channels_timers_responses.go
  libs/gomodels/model_base.go
Due: none

finish timers
  apps/api-go/internal/api/v1/timers/controller.go
  apps/api-go/internal/api/v1/timers/dto.go
  apps/api-go/internal/api/v1/timers/service.go
  libs/typeorm/src/entities/ChannelTimer.ts
  libs/typeorm/src/entities/ChannelTimerResponse.ts
  libs/typeorm/src/migrations/1666371747377-cascade_timers_responses.ts
Due: publish-migrations

finish timers
  apps/api-go/internal/api/v1/timers/service.go
Due: none

upd
  .vscode/settings.json
  apps/api-go/cmd/main.go
  apps/api-go/go.mod
  apps/api-go/go.sum
  apps/api-go/internal/api/v1/moderation/controller.go
  apps/api-go/internal/api/v1/moderation/dto.go
  apps/api-go/internal/api/v1/moderation/service.go
  apps/api-go/internal/api/v1/v1.go
  apps/api-go/internal/middlewares/error_handler.go
  libs/gomodels/channels_moderation_settings.go
  libs/gomodels/model_base.go
  libs/typeorm/src/migrations/1666373108837-change_moderation_blacklistsentences_type.ts
Due: publish-migrations

moderation settings
  apps/api-go/internal/api/v1/moderation/controller.go
  apps/api-go/internal/api/v1/moderation/dto.go
  apps/api-go/internal/api/v1/moderation/service.go
  apps/api-go/internal/middlewares/validate_body.go
  apps/frontend/src/dashboard/Moderation.vue
Due: none

fix
  libs/gomodels/channels_moderation_settings.go
Due: none

mods
  apps/api-go/cmd/main.go
  apps/api-go/go.mod
  apps/api-go/go.sum
  apps/api-go/internal/api/v1/bot/controller.go
  apps/api-go/internal/api/v1/bot/service.go
  apps/api-go/internal/api/v1/v1.go
  apps/api-go/internal/types/types.go
  apps/timers/cmd/main.go
  libs/gomodels/channels.go
  libs/gomodels/model_base.go
  libs/twitch/twitch.go
  libs/twitch/user.go
Due: none

upd
  apps/api-go/cmd/main.go
  apps/api-go/internal/api/v1/bot/controller.go
  apps/api-go/internal/api/v1/bot/dto.go
  apps/api-go/internal/api/v1/bot/service.go
Due: none

upd
  apps/api-go/cmd/main.go
Due: none

upd
  apps/api-go/Taskfile.yml
  apps/parser/Taskfile.yml
  apps/timers/Taskfile.yml
  devbox/post-install.sh
Due: publish-parser

add streams
  apps/api-go/internal/api/v1/streams/controller.go
  apps/api-go/internal/api/v1/streams/service.go
  libs/gomodels/channels_streams.go
Due: none

upd
  apps/api-go/internal/api/v1/streams/service.go
Due: none

upd
  libs/gomodels/channels_streams.go
Due: none

upd
  apps/api-go/internal/api/v1/v1.go
Due: none

upd
  apps/api-go/internal/api/v1/v1.go
  apps/api-go/internal/api/v1/variables/controller.go
  apps/api-go/internal/api/v1/variables/dto.go
  apps/api-go/internal/api/v1/variables/service.go
Due: none

upd
  apps/api-go/internal/api/v1/variables/controller.go
  apps/api-go/internal/api/v1/variables/service.go
  libs/gomodels/channels_customvars.go
  libs/gomodels/model_base.go
Due: none

upd
  devbox.json
Due: none

upd
  apps/api-go/cmd/main.go
  apps/api-go/go.mod
  apps/api-go/go.sum
  apps/api-go/internal/api/v1/variables/controller.go
  apps/api-go/internal/api/v1/variables/service.go
  apps/api-go/internal/types/types.go
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/dota/gm_command.go
  apps/parser/internal/commands/nuke/nuke.go
  apps/parser/internal/config/nats/nats.go
  apps/parser/internal/handlers/nats/commandsProcess.go
  apps/parser/internal/handlers/nats/parseResponse.go
  apps/parser/internal/variables/customvar/customvar.go
  apps/timers/cmd/main.go
  apps/timers/go.mod
  apps/timers/internal/handler/handler.go
  libs/nats/bots/go.mod
  libs/nats/dota/go.mod
  libs/nats/eval/go.mod
  libs/nats/go.mod
  libs/nats/go.sum
  libs/nats/integrations/go.mod
  libs/nats/nats.go
  libs/nats/parser/go.mod
  libs/nats/timers/go.mod
Due: publish-parser

upd
  apps/api-go/internal/api/v1/bot/dto.go
  apps/api-go/internal/api/v1/bot/service.go
  apps/bots/src/libs/nats.ts
  apps/frontend/src/dashboard/DashBoard.vue
  libs/nats/protos/bots.proto
Due: publish-bots

upd
  apps/bots/src/nest/app.controller.ts
Due: publish-bots

upd
  libs/nats/gen.ts
  libs/nats/subjects.ts
Due: none

feat: lazy images, new logo
  apps/web/src/assets/Cube.svg
  apps/web/src/assets/NewLogo.svg
  apps/web/src/assets/User.svg
  apps/web/src/assets/brand/TsuwariGradient.svg
  apps/web/src/assets/brand/TsuwariInCircle.svg
  apps/web/src/assets/brand/TsuwariWhite.svg
  apps/web/src/components/LazyImage.vue
  apps/web/src/components/landing/ReviewCard.vue
  apps/web/src/components/landing/TeamMemberCard.vue
  apps/web/src/components/landing/layout/Footer.vue
  apps/web/src/components/landing/layout/Header.vue
  apps/web/src/components/landing/sections/HeroSection.vue
  apps/web/src/components/landing/sections/IntegrationsSection.vue
  apps/web/src/components/landing/sections/PricingSection.vue
  apps/web/src/components/landing/sections/ReviewsSection.vue
  apps/web/src/components/landing/sections/StatInfoSection.vue
  apps/web/src/utils/htmlLayout.ts
Due: none

feat(website): init astro project and created custom tailwind integration
  apps/website/astro.config.ts
  apps/website/integrations/tailwind.ts
  apps/website/package.json
  apps/website/public/favicon.ico
  apps/website/src/components/Hello.vue
  apps/website/src/env.d.ts
  apps/website/src/pages/index.astro
  apps/website/src/styles/tailwind.base.css
  apps/website/tailwind.config.js
  apps/website/tsconfig.json
Due: none

feat: init uikit with storybook
  .gitignore
  apps/frontend/package.json
  libs/uikit/.gitignore
  libs/uikit/.storybook/main.ts
  libs/uikit/.storybook/preview-head.html
  libs/uikit/.storybook/preview.ts
  libs/uikit/components/MyButton/MyButton.stories.ts
  libs/uikit/components/MyButton/MyButton.vue
  libs/uikit/components/shims-vue.d.ts
  libs/uikit/index.ts
  libs/uikit/package.json
  libs/uikit/tsconfig.json
  pnpm-lock.yaml
Due: none

feat:<uikit> vite build and tailwind styles
  .eslintrc
  apps/frontend/tailwind.config.js
  libs/uikit/.storybook/main.ts
  libs/uikit/.storybook/preview.ts
  libs/uikit/index.ts
  libs/uikit/package.json
  libs/uikit/postcss.config.js
  libs/uikit/src/components/MyButton/MyButton.stories.ts
  libs/uikit/src/components/MyButton/MyButton.vue
  libs/uikit/src/index.ts
  libs/uikit/src/shims-vue.d.ts
  libs/uikit/src/styles/index.css
  libs/uikit/tailwind.config.js
  libs/uikit/tsconfig.build.json
  libs/uikit/vite.config.ts
  pnpm-lock.yaml
Due: none

feat(uikit): icons, logos and multipath exports
  libs/uikit/.storybook/main.ts
  libs/uikit/.storybook/preview.ts
  libs/uikit/package.json
  libs/uikit/src/components/Icon/Icon.vue
  libs/uikit/src/components/index.ts
  libs/uikit/src/icons/ArrowLargeIcon.svg
  libs/uikit/src/icons/ArrowMediumIcon.svg
  libs/uikit/src/icons/BellIcon.svg
  libs/uikit/src/icons/CheckIcon.svg
  libs/uikit/src/icons/CommandLineIcon.svg
  libs/uikit/src/icons/DangerIcon.svg
  libs/uikit/src/icons/HomeIcon.svg
  libs/uikit/src/icons/LayoutIcon.svg
  libs/uikit/src/icons/MedalIcon.svg
  libs/uikit/src/icons/SettingsIcon.svg
  libs/uikit/src/icons/SuccessCircleIcon.svg
  libs/uikit/src/icons/UsersIcon.svg
  libs/uikit/src/icons/WarningIcon.svg
  libs/uikit/src/icons/index.ts
  libs/uikit/src/icons/logos/TsuwariLogo.svg
  libs/uikit/src/icons/logos/index.ts
  libs/uikit/src/index.ts
  libs/uikit/tsconfig.build.json
  libs/uikit/tsconfig.json
  libs/uikit/vite.config.ts
  pnpm-lock.yaml
Due: none

feat(uikit): fonts, styles and tailwind theme
  .eslintrc
  .vscode/settings.json
  libs/uikit/.storybook/preview.js
  libs/uikit/fonts/GolosText-Bold.woff
  libs/uikit/fonts/GolosText-Bold.woff2
  libs/uikit/fonts/GolosText-DemiBold.woff
  libs/uikit/fonts/GolosText-DemiBold.woff2
  libs/uikit/fonts/GolosText-Medium.woff
  libs/uikit/fonts/GolosText-Medium.woff2
  libs/uikit/fonts/GolosText-Regular.woff
  libs/uikit/fonts/GolosText-Regular.woff2
  libs/uikit/fonts/fonts.css
  libs/uikit/package.json
  libs/uikit/postcss.config.js
  libs/uikit/src/components/MyButton/MyButton.stories.ts
  libs/uikit/src/components/MyButton/MyButton.vue
  libs/uikit/src/components/MyButton/props.types.ts
  libs/uikit/tailwind.config.js
  libs/uikit/tsconfig.json
  libs/uikit/vite.config.ts
  pnpm-lock.yaml
Due: none
