Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Spanish)
  frontend/dashboard/src/locales/es.json
Due: none

New Crowdin updates (#822)
  frontend/dashboard/src/locales/de.json
  frontend/dashboard/src/locales/es.json
  frontend/dashboard/src/locales/pt.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/sk.json
  frontend/dashboard/src/locales/uk.json
Due: none

feat(dashboard): add selector of pt and es languages
  frontend/dashboard/src/locales/es.json
  frontend/dashboard/src/locales/pt.json
  frontend/dashboard/src/plugins/i18n.ts
Due: none

chore: remove unused events from grpc api
  apps/api/internal/impl_protected/events/events.go
  apps/api/internal/impl_protected/impl_protected.go
  frontend/dashboard/src/api/crud.ts
  frontend/dashboard/src/features/events/constants/types.ts
  frontend/dashboard/src/pages/Events.vue
  libs/api/api.proto
  libs/api/messages/events/events.proto
Due: publish-api

refactor: use gql for donatepay
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/resolvers/integrations-donatepay.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/integrations-donatepay.graphql
  apps/api-gql/internal/entity/donatepay_integration.go
  apps/api-gql/internal/services/donatepay_integration/service.go
  libs/api/api.proto
  libs/api/messages/integrations_donatepay/integrations_donatepay.proto
  libs/repositories/donatepay_integration/datasource/postgres/pgx.go
  libs/repositories/donatepay_integration/donatepay_integration.go
  libs/repositories/donatepay_integration/errors.go
  libs/repositories/donatepay_integration/model/model.go
Due: none

refactor: split integration to own table, refactor integrations service
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/resolvers/integrations-donatepay.resolver.go
  apps/api-gql/internal/delivery/gql/schema/integrations-donatepay.graphql
  apps/api-gql/internal/entity/donatepay_integration.go
  apps/api-gql/internal/services/donatepay_integration/service.go
  apps/api/internal/impl_protected/integrations/donatepay.go
  apps/integrations/src/index.ts
  apps/integrations/src/libs/db.ts
  apps/integrations/src/services/donatepay.ts
  apps/integrations/src/store/donatePay.ts
  libs/migrations/postgres/20250801200912_donatepay_split_table.go
  libs/repositories/donatepay_integration/datasource/postgres/pgx.go
  libs/repositories/donatepay_integration/donatepay_integration.go
  libs/repositories/donatepay_integration/model/model.go
Due: publish-api

fix(eventsub): use correct version of twitchy
  apps/eventsub/go.mod
  apps/eventsub/go.sum
Due: publish-eventsub

chore(eventsub): do not unsubscribe on `SubscribeToNeededEvents` call
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

fix(eventsub): create child context on reinit channels for prevent exceed timeout
  apps/eventsub/internal/bus-listener/bus-listener.go
Due: publish-eventsub

chore(eventsub): remove tunnel
  apps/eventsub/app/app.go
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/t/twitchy.go
  apps/eventsub/internal/tunnel/tunnel.go
Due: publish-eventsub

chore(eventsub): enable debug log
  apps/eventsub/internal/manager/subscribe.go
Due: publish-eventsub

chore(eventsub): tune rate limit to respect twitch headers
  apps/eventsub/internal/manager/subscribe.go
Due: publish-eventsub

fix(eventsub): check on nil for ban event
  apps/eventsub/internal/handler/ban.go
Due: publish-eventsub

chore(eventsub): remove debug for subscribe
  apps/eventsub/internal/manager/subscribe.go
Due: publish-eventsub
