Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

kruto changes
  .dockerignore
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  cli/internal/cmds/dev/helpers/docker_compose.go
  frontend/overlays/src/composables/chat/use-chat-overlay-socket.ts
  frontend/overlays/src/pages/overlays/chat.vue
  frontend/overlays/src/vite-env.d.ts
  libs/cache/channel/channel_test.go
  libs/entities/channel/entity.go
  libs/entities/channel_public_settings/entity.go
  libs/migrations/postgres/20260728220222_channels_public_settings_unique_channel_id.sql
  libs/repositories/channel_public_settings/datasource/postgres/pgx.go
  libs/repositories/channel_public_settings/errors.go
  libs/repositories/channel_public_settings/repository.go
  libs/repositories/channels/model/model.go
  libs/repositories/channels/pgx/channel_binding_test.go
  libs/repositories/channels/pgx/mapper.go
  libs/repositories/channels/pgx/pgx.go
  libs/repositories/channels_giveaways_settings/pgx/pgx.go
Due: none

refactor channels public settings repo
  apps/eventsub/internal/vkvideo/transport.go
  libs/repositories/channel_public_settings/datasource/postgres/pgx.go
Due: publish-eventsub

reconcile test
  apps/eventsub/internal/vkvideo/reconcile_test.go
Due: publish-eventsub

upd
  apps/eventsub/internal/vkvideo/dependencies.go
  apps/eventsub/internal/vkvideo/reconcile_test.go
  apps/eventsub/internal/vkvideo/transport.go
Due: publish-eventsub

fix fx in eventsub
  apps/eventsub/app/app.go
  apps/eventsub/internal/vkvideo/dependencies.go
Due: publish-eventsub

fix(api-gql): correctly use badges
  apps/api-gql/internal/services/badges-with-users/badges-with-users.go
  docker-compose.dev.yml
  docker-compose.stack.yml
Due: none

fix(dota): resolve twitch prediction binding
  apps/dota/internal/predictions/predictions.go
  apps/dota/internal/predictions/predictions_test.go
Due: publish-dota

fix(dota): route chat alerts through bindings
  apps/dota/internal/chatalerts/chat_alerts.go
  apps/dota/internal/chatalerts/chat_alerts_test.go
Due: publish-dota

fix(parser): resolve dota twitch binding identity
  apps/parser/internal/commands/dota2/dota2.go
  apps/parser/internal/commands/dota2/dota2_test.go
Due: publish-parser

fix(api-gql): correct deps
  apps/api-gql/cmd/main.go
Due: none

feat(web): change login to dropdown, add vk
  web/app/stores/user.ts
  web/layers/landing/components/index/hero/hero.vue
  web/layers/landing/components/login-dropdown.vue
  web/layers/landing/layouts/default/header-profile.vue
Due: none

feat(web): add login dropdown to public page
  web/app/components/login-dropdown.vue
  web/layers/landing/components/index/hero/hero.vue
  web/layers/landing/layouts/default/header-profile.vue
  web/layers/public/layouts/public/public-user-profile.vue
Due: none

chore(parser): add `:` to quote response
  apps/parser/internal/commands/quotes/quote.go
Due: publish-parser

fix(api-gql): resolve channel identity in overlay subscriptions
  apps/api-gql/internal/delivery/gql/resolvers/overlays-custom.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/overlays-dudes.resolver.go
Due: none

fix(api-gql): tolerate unresolved dashboard in linkedAccounts
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.service.go
  apps/api-gql/internal/services/users/users.go
Due: none

fix(api-gql): skip rate limit for subscriptions
  apps/api-gql/internal/delivery/gql/rate_limit_extension.go
Due: none

fix(websockets): resolve channel by api key in overlay namespaces
  apps/websockets/app/app.go
  apps/websockets/internal/namespaces/helpers/helpers.go
  apps/websockets/internal/namespaces/overlays/alerts/alerts.go
  apps/websockets/internal/namespaces/overlays/dudes/dudes.go
  apps/websockets/internal/namespaces/overlays/registry/overlays/overlays.go
Due: none

fix(repositories): upsert overlay layers on update
  libs/repositories/channels_overlays/pgx/pgx.go
Due: none

fix(dashboard): restore overlay editor chrome and link copy
  web/layers/dashboard/features/overlay-builder/components/BuilderToolbar.vue
  web/layers/dashboard/features/overlay-builder/composables/useOverlayInstantSave.ts
  web/layers/dashboard/pages/dashboard/registry/overlays/[id].vue
Due: none

fix(web): correct invalid lucide icon names
  web/app/components/ui/button/FileButton.vue
  web/layers/dashboard/components/dashboard/custom-widget.vue
  web/layers/dashboard/components/overlays/card.vue
  web/layers/dashboard/components/overlays/chat.vue
  web/layers/dashboard/components/overlays/kappagen.vue
  web/layers/dashboard/components/overlays/now-playing.vue
  web/layers/dashboard/components/songRequests/queue.vue
  web/layers/dashboard/features/community-users/ui/community-users-table-search.vue
  web/layers/dashboard/features/events/components/filter.vue
  web/layers/dashboard/features/integrations/pages/discord-settings.vue
  web/layers/dashboard/features/moderation/ui/card.vue
  web/layers/dashboard/features/overlay-builder/components/CodeEditorDialog.vue
  web/layers/dashboard/features/overlay-builder/components/LayerPropertiesInline.vue
  web/layers/dashboard/features/overlay-builder/components/LayersPanel.vue
  web/layers/dashboard/features/overlay-builder/components/PropertiesPanel.vue
  web/layers/dashboard/features/overlays/obs/settings.vue
  web/layers/dashboard/features/overlays/tts/ui/general-settings.vue
  web/layers/dashboard/features/overlays/tts/ui/users-settings.vue
  web/layers/dashboard/layout/header/header-bot-status.vue
  web/layers/dashboard/layout/header/header.vue
  web/layers/dashboard/pages/dashboard/integrations/[name].vue
  web/layers/dashboard/pages/dashboard/integrations/callbacks/[name].vue
  web/layers/dashboard/pages/dashboard/overlays/chat.vue
  web/layers/dashboard/pages/dashboard/overlays/index.vue
  web/layers/dashboard/pages/dashboard/settings/custom-widgets.vue
Due: none

feat(web): add quotes translations
  web/locales/de.json
  web/locales/en.json
  web/locales/es.json
  web/locales/ja.json
  web/locales/pt.json
  web/locales/ru.json
  web/locales/sk.json
  web/locales/uk.json
Due: none

fix: correct greetings
  libs/gomodels/channels_greetings.go
  libs/migrations/postgres/20260729120151_greetings_remap_legacy_user_ids.sql
  libs/repositories/greetings/pgx/pgx.go
Due: none

fix(crypto): redact credential failures
  libs/crypto/crypto.go
  libs/crypto/crypto_test.go
Due: none

fix(crypto): reject invalid padding block sizes
  libs/crypto/crypto.go
  libs/crypto/padding_test.go
Due: none

feat(oauth): add credential refresh runtime
  go.work
  libs/oauth/errors.go
  libs/oauth/runtime.go
  libs/oauth/runtime_test.go
  libs/oauth/types.go
Due: none

feat(oauth): add app token source
  libs/oauth/app_source.go
  libs/oauth/app_source_test.go
Due: none

feat(oauth): add Redis lease coordinator
  libs/oauth/go.mod
  libs/oauth/redis.go
Due: none

fix(oauth): harden runtime close and lease release
  libs/oauth/redis.go
  libs/oauth/runtime.go
  libs/oauth/runtime_test.go
Due: none

feat(web): mention VK Video Live in landing seo and faq
  web/app/utils/og-en-messages.ts
  web/i18n/locales/de.json
  web/i18n/locales/en.json
  web/i18n/locales/es.json
  web/i18n/locales/ja.json
  web/i18n/locales/pt.json
  web/i18n/locales/ru.json
  web/i18n/locales/sk.json
  web/i18n/locales/uk.json
Due: none

feat(web): add platform icons row to landing hero
  web/layers/landing/components/index/hero/hero.vue
Due: none

chore(web): update site description in nuxt config
  web/nuxt.config.ts
Due: none

feat(web): add kick and vk video live to seo meta tags
  web/app/app.vue
Due: none

revert(stack): drop anubis anti-bot
  PRODUCTION.md
  configs/anubis/botPolicies.yaml
  docker-compose.stack.yml
Due: none

revert(stack): drop anubis anti-bot (#1020)
  PRODUCTION.md
  configs/anubis/botPolicies.yaml
  docker-compose.stack.yml
Due: none

feat: add YouTube platform enum, config, and migrations
  apps/api-gql/internal/delivery/gql/mappers/platform.go
  apps/api-gql/internal/delivery/gql/schema/platform.graphql
  libs/config/config.go
  libs/entities/platform/platform.go
  libs/migrations/postgres/20260729165619_platform_enum_add_youtube.sql
  libs/migrations/postgres/20260729165620_youtube_bots.sql
Due: none

feat(api-gql): add youtubeChannels to twirStats
  apps/api-gql/internal/delivery/gql/resolvers/stats.resolver.go
  apps/api-gql/internal/delivery/gql/schema/stats.graphql
  apps/api-gql/internal/delivery/gql/twir-stats/twir-stats.go
Due: none

feat(api-gql,tokens): YouTube OAuth login and bot account setup
  apps/api-gql/cmd/main.go
  apps/api-gql/go.mod
  apps/api-gql/go.sum
  apps/api-gql/internal/delivery/gql/resolvers/admin-actions.resolver.go
  apps/api-gql/internal/delivery/gql/schema/admin/admin-actions.graphql
  apps/api-gql/internal/delivery/http/routes/auth/auth.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform.go
  apps/api-gql/internal/delivery/http/routes/auth/youtube_bot_setup.go
  apps/api-gql/internal/platform/registry.go
  apps/api-gql/internal/platform/registry_test.go
  apps/api-gql/internal/platform/youtube/provider.go
  apps/api-gql/internal/platform/youtube/provider_test.go
  apps/tokens/app/app.go
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/tokens/internal/bus_listener/bus_listener.go
  libs/entities/youtube_bot/entity.go
  libs/repositories/youtube_bots/datasource/postgres/pgx.go
  libs/repositories/youtube_bots/repository.go
Due: none

feat(ytsub): YouTube live chat ingest microservice (unofficial)
  .github/workflows/dockerv3.yml
  apps/ytsub/Dockerfile
  apps/ytsub/build.ts
  apps/ytsub/package.json
  apps/ytsub/src/db.ts
  apps/ytsub/src/index.ts
  apps/ytsub/src/live-chat.ts
  apps/ytsub/src/message.test.ts
  apps/ytsub/src/message.ts
  apps/ytsub/tsconfig.json
  bun.lock
  cli/internal/cmds/deploy/deploy.go
  cli/internal/cmds/dev/nodejs/nodejs.go
  docker-compose.dev.yml
  docker-compose.stack.yml
  libs/bus-core/bus.go
  libs/bus-core/src/bus.ts
  libs/bus-core/src/eventsub/eventsub.ts
  libs/bus-core/src/generic/chat-message.ts
  libs/bus-core/src/index.ts
  libs/bus-core/src/queue.ts
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
