Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

upd Chatting
  Dockerfile
  apps/bots/go.mod
  apps/bots/go.sum
  apps/dota/package.json
  apps/scheduler/package.json
  libs/grpc/gen.ts
  pnpm-lock.yaml
Due: publish-bots, publish-dota, publish-scheduler

fix(parser): fix missed eval in context
  apps/parser/internal/commands/commands.go
Due: publish-parser

chore: maintain dependencies
  apps/dota/package.json
  apps/eval/package.json
  apps/eventsub/package.json
  apps/frontend/package.json
  apps/integrations/package.json
  apps/scheduler/package.json
  apps/streamstatus/package.json
  apps/web/package.json
  libs/integrations/spotify/package.json
  libs/shared/package.json
  libs/typeorm/package.json
  libs/ui/components/package.json
  libs/ui/theme/package.json
  package.json
  pnpm-lock.yaml
Due: publish-dota, publish-eventsub, publish-migrations, publish-scheduler, publish-streamstatus, publish-eval

chore(renovate): add group setting
  .github/renovate.json
Due: none

chore(renovate): update commit body
  .github/renovate.json
Due: none

feat(bots): do not lowercase message for regular expressing
  apps/bots/internal/bots/handlers/message_keywods.go
Due: publish-bots

fix(docker): add `libc6-compat` for turborepo
  Dockerfile
Due: none

chore: downgrade `centrifuge`
  apps/integrations/package.json
  pnpm-lock.yaml
Due: none

feat: add dockprom to the project
  .gitignore
  PRODUCTION.md
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/go.sum
  docker-compose.dockprom.yml
  dockprom/alertmanager/config.yml
  dockprom/caddy/Caddyfile
  dockprom/grafana/provisioning/dashboards/dashboard.yml
  dockprom/grafana/provisioning/dashboards/docker_containers.json
  dockprom/grafana/provisioning/dashboards/docker_host.json
  dockprom/grafana/provisioning/dashboards/monitor_services.json
  dockprom/grafana/provisioning/dashboards/nginx_container.json
  dockprom/grafana/provisioning/datasources/datasource.yml
  dockprom/helpers/aws/README.md
  dockprom/helpers/aws/cadvisor_ecs_task_definition.json
  dockprom/helpers/aws/node_exporter_task_definition.json
  dockprom/helpers/aws/prometheus.yml
  dockprom/prometheus/alert.rules
  dockprom/prometheus/prometheus.yml
  dockprom/screens/Grafana_Docker_Containers.png
  dockprom/screens/Grafana_Docker_Host.png
  dockprom/screens/Grafana_Prometheus.png
  dockprom/screens/Slack_Notifications.png
  go.work.sum
Due: publish-parser

chore: update monitoring command example
  PRODUCTION.md
Due: none

fix(parser): update `go.mod` and `go.sum`
  apps/parser/go.mod
  apps/parser/go.sum
  docker-compose.dockprom.yml
Due: publish-parser

chpre(stack): fix bots restart policy
  docker-compose.stack.yml
Due: none

fix(dockprom): attach tsuwari network to services
  docker-compose.dockprom.yml
Due: none

fix(dockprom): correct service name for parser
  dockprom/prometheus/prometheus.yml
Due: none

feat: add some prometheus counters to bots and parser
  apps/bots/cmd/main.go
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/handlers.go
  apps/bots/internal/bots/handlers/message_greetings.go
  apps/bots/internal/bots/handlers/message_keywods.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  dockprom/prometheus/prometheus.yml
Due: publish-bots, publish-parser

fix(bots): regenerate mod and sum
  apps/bots/go.mod
  apps/bots/go.sum
Due: publish-bots

fix(bots): correctly create handlers
  apps/bots/internal/bots/client.go
Due: publish-bots

chore(parser): add logging about proceed message
  apps/parser/internal/grpc_impl/grpc_impl.go
Due: publish-parser

chore(parser): use `printf` for logging of message id
  apps/parser/internal/grpc_impl/grpc_impl.go
Due: publish-parser

fix(grpc): use `dns:///` as address for clients
  libs/grpc/clients/dota.go
  libs/grpc/clients/eval.go
  libs/grpc/clients/eventsub.go
  libs/grpc/clients/helper.go
  libs/grpc/clients/integrations.go
  libs/grpc/clients/parser.go
  libs/grpc/clients/scheduler.go
  libs/grpc/clients/timers.go
  libs/grpc/clients/watched.go
Due: none

feat: use 1 minute keepalive for grpc servers
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/cmd/main.go
  apps/dota/src/index.ts
  apps/eval/src/index.ts
  apps/eventsub/src/index.ts
  apps/integrations/src/index.ts
  apps/parser/cmd/main.go
  apps/scheduler/src/index.ts
  apps/timers/cmd/main.go
  apps/timers/go.mod
  apps/timers/go.sum
  apps/watched/cmd/main.go
  apps/watched/go.mod
  apps/watched/go.sum
  libs/grpc/clients/bots.go
  libs/grpc/clients/dota.go
  libs/grpc/clients/eval.go
  libs/grpc/clients/eventsub.go
  libs/grpc/clients/integrations.go
  libs/grpc/clients/parser.go
  libs/grpc/clients/scheduler.go
  libs/grpc/clients/timers.go
  libs/grpc/clients/watched.go
  libs/grpc/go.mod
  libs/grpc/go.sum
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-parser, publish-scheduler, publish-eval

fix(stack): add `endpoint_mode: dnsrr` to replicated services
  docker-compose.stack.yml
Due: none

fix(devbox): correct postinstall
  devbox/post-install.sh
Due: none

feat: migration dev env to devcontainers
  .devcontainer/.dockerignore
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env.example
  .gitignore
  .vscode/settings.json
  README.md
Due: none

upd Chatting
  README.md
Due: none

upd Chatting
  devbox.json
  devbox/post-install.sh
  devbox/pre-exit.sh
  libs/config/config.go
Due: none

upd Chatting
  Makefile
  Taskfile.yml
  apps/api/Taskfile.yml
  apps/api/nodemon.json
  apps/bots/Taskfile.yml
  apps/bots/nodemon.json
  apps/parser/Taskfile.yml
  apps/parser/nodemon.json
  apps/timers/Taskfile.yml
  apps/timers/nodemon.json
  apps/watched/Taskfile.yml
  apps/watched/nodemon.json
  libs/config/src/index.ts
  libs/typeorm/generateMigration.ts
  libs/typeorm/package.json
  package.json
Due: publish-api, publish-bots, publish-migrations, publish-parser

upd Chatting
  .vscode/settings.json
  README.md
  libs/typeorm/generateMigration.ts
  libs/typeorm/package.json
  libs/typeorm/runMigrations.ts
  libs/typeorm/seed.ts
  libs/typeorm/src/index.ts
Due: publish-migrations

upd chatting
  README.md
Due: none

upd Chatting
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .dockerignore
  docker-compose.dev.yml
  libs/typeorm/runMigrations.ts
  libs/typeorm/src/index.ts
Due: publish-migrations

upd Chatting
  .devcontainer/Dockerfile
  apps/api/Taskfile.yml
  apps/bots/Taskfile.yml
  apps/parser/Taskfile.yml
  apps/timers/Taskfile.yml
  apps/watched/Taskfile.yml
  libs/config/src/index.ts
Due: publish-api, publish-bots, publish-parser

upd Chatting
  .devcontainer/devcontainer.json
  docker-compose.dev.yml
  libs/config/src/index.ts
Due: none

upd Chatting
  apps/api/Taskfile.yml
  apps/bots/Taskfile.yml
  apps/parser/Taskfile.yml
  apps/timers/Taskfile.yml
  apps/watched/Taskfile.yml
  libs/config/config.go
Due: publish-api, publish-bots, publish-parser

upd Chatting
  apps/dota/src/index.ts
Due: publish-dota

feat: migration dev env to devcontainers (#258)
  .devcontainer/.dockerignore
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .dockerignore
  .env.example
  .gitignore
  .vscode/settings.json
  Makefile
  README.md
  Taskfile.yml
  apps/api/Taskfile.yml
  apps/api/nodemon.json
  apps/bots/Taskfile.yml
  apps/bots/nodemon.json
  apps/dota/src/index.ts
  apps/parser/Taskfile.yml
  apps/parser/nodemon.json
  apps/timers/Taskfile.yml
  apps/timers/nodemon.json
  apps/watched/Taskfile.yml
  apps/watched/nodemon.json
  devbox.json
  devbox/post-install.sh
  devbox/pre-exit.sh
  docker-compose.dev.yml
  libs/config/config.go
  libs/config/src/index.ts
  libs/typeorm/generateMigration.ts
  libs/typeorm/package.json
  libs/typeorm/runMigrations.ts
  libs/typeorm/seed.ts
  libs/typeorm/src/index.ts
  package.json
Due: publish-api, publish-bots, publish-dota, publish-migrations, publish-parser

chore: remove engine field from main `package.json`
  package.json
Due: none
