Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

feat: giveaways libs
  libs/api/api.proto
  libs/api/messages/giveaways/giveaways.proto
  libs/gomodels/channel_giveaway.go
  libs/gomodels/channel_giveaway_participant.go
  libs/grpc/clients/giveaways.go
  libs/grpc/constants/constants.go
  libs/grpc/giveaways/giveaways.proto
Due: none

feat: giveaways frontend
  frontend/dashboard/src/api/auth.ts
  frontend/dashboard/src/api/crud.ts
  frontend/dashboard/src/api/giveaways/giveaways.ts
  frontend/dashboard/src/api/giveaways/index.ts
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/components/giveaways/actions.vue
  frontend/dashboard/src/components/giveaways/chat.vue
  frontend/dashboard/src/components/giveaways/list.vue
  frontend/dashboard/src/components/giveaways/modal.vue
  frontend/dashboard/src/components/giveaways/types.ts
  frontend/dashboard/src/components/giveaways/users.vue
  frontend/dashboard/src/components/giveaways/winners.vue
  frontend/dashboard/src/layout/navigation.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Giveaways.vue
  frontend/dashboard/src/plugins/router.ts
Due: none

feat: giveaways infra
  apps/giveaways/Dockerfile
  docker-compose.stack.yml
Due: none

feat: giveaways migration
  libs/migrations/migrations/20240318125351_channel_giveaways.sql
Due: none

feat: giveaways backend
  apps/api/app/app.go
  apps/api/internal/impl_deps/impl_deps.go
  apps/api/internal/impl_protected/giveaways/giveaways.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/bots/app/app.go
  apps/bots/internal/messagehandler/handle_giveaways.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/giveaways/app/app.go
  apps/giveaways/cmd/main.go
  apps/giveaways/go.mod
  apps/giveaways/go.sum
  apps/giveaways/internal/grpc_impl/grpc_impl.go
  cli/internal/goapp/apps.go
  go.work
  go.work.sum
Due: publish-api, publish-bots

chore: miss console.log
  frontend/dashboard/src/components/giveaways/modal.vue
Due: none

chore: bots prod ready
  apps/bots/internal/messagehandler/handle_giveaways.go
Due: publish-bots

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

feat: category bound commands
  apps/api/internal/impl_protected/commands/commands.go
  apps/parser/internal/commands/commands.go
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  libs/api/messages/commands/commands.proto
  libs/gomodels/channels_commands.go
  libs/migrations/migrations/20240322101904_category_bounds_commands.sql
Due: publish-api, publish-parser

New Crowdin updates (#636)
  frontend/dashboard/src/locales/de.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/sk.json
  frontend/dashboard/src/locales/uk.json
Due: none

feat(dashboard): use unified language selector icon
  frontend/dashboard/src/assets/flags/jp.svg
  frontend/dashboard/src/assets/flags/ru.svg
  frontend/dashboard/src/assets/flags/ua.svg
  frontend/dashboard/src/assets/flags/us.svg
  frontend/dashboard/src/layout/dropdowns/dropdownLanguage.vue
  frontend/dashboard/src/layout/dropdowns/languageFlag.vue
Due: none

feat: category bound commands (#645)
  apps/api/internal/impl_protected/commands/commands.go
  apps/parser/internal/commands/commands.go
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  libs/api/messages/commands/commands.proto
  libs/gomodels/channels_commands.go
  libs/migrations/migrations/20240322101904_category_bounds_commands.sql
Due: publish-api, publish-parser

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

feat: refactor to categories ids instead of titles
  apps/api/internal/impl_protected/twitch/twitch.go
  apps/parser/internal/commands/commands.go
  frontend/dashboard/src/api/twitch.ts
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/twitch-category-search.vue
  frontend/dashboard/src/layout/components/StreamInfoEditor.vue
  frontend/dashboard/src/locales/en.json
  libs/api/api.proto
  libs/api/messages/twitch_protected/twitch_protected.proto
Due: publish-api, publish-parser

chore(dashboard): remove redundant code
  frontend/dashboard/src/components/commands/modal.vue
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

feat: add shoutout event operation
  apps/events/internal/activities/events/shoutout.go
  apps/events/internal/workers/worker.go
  apps/events/internal/workflows/events_flow.go
  frontend/dashboard/src/components/events/operations.ts
  libs/gomodels/event_operation.go
  libs/migrations/migrations/20240324014955_add_shoutout_event_operation.sql
Due: none

chore(dashboard): minify variables selector
  frontend/dashboard/src/components/textWithVariables.vue
Due: none

New Crowdin updates (#648)
  frontend/dashboard/src/locales/de.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/sk.json
  frontend/dashboard/src/locales/uk.json
Due: none
