Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

kruto
  libs/migrations/migrations/20240429234707_channel_redemption_history.sql
Due: none

feat: redemptions history (#722)
  apps/api-gql/internal/gql/resolvers/community-redemptions.resolver.go
  apps/api-gql/internal/gql/resolvers/rewards.resolver.go
  apps/api-gql/schema/community-redemptions.graphqls
  apps/api-gql/schema/rewards.graphqls
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/rewards.go
  libs/cache/twitch/rewards.go
  libs/gomodels/channel_redemption.go
  libs/migrations/migrations/20240429234707_channel_redemption_history.sql
Due: publish-eventsub

fix(landing): correct gql addr
  frontend/landing/src/api/gql.ts
Due: none

refactor: add single subscribe function to eventsub
  apps/api-gql/internal/gql/resolvers/admin-actions.resolver.go
  apps/api-gql/internal/gql/resolvers/user.resolver.go
  apps/api/internal/impl_protected/bot/bot.go
  apps/api/internal/impl_unprotected/auth/auth.go
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/manager/condition.go
  apps/eventsub/internal/manager/manager.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/eventsub/eventsub.go
  libs/gomodels/eventsub_topic.go
  libs/migrations/migrations/20240531080203_eventsub_redemptions_history.sql
Due: publish-api, publish-eventsub

fix(eventsub): correct names for nats subscriptions
  apps/api-gql/internal/gql/resolvers/admin-actions.resolver.go
  apps/api-gql/internal/gql/resolvers/user.resolver.go
  apps/eventsub/internal/bus-listener/bus-listener.go
Due: publish-eventsub

fix(eventsub): correct names for nats subscriptions
  apps/eventsub/internal/bus-listener/bus-listener.go
  libs/bus-core/bus.go
  libs/bus-core/eventsub/eventsub.go
Due: publish-eventsub

chore(api-gql): remove redundant subscription store
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/gql/resolvers/resolver.go
  apps/api-gql/internal/gql/subscriptions-store/subscriptions-store.go
Due: none

refactor: refactor chat overlay to gql, and add ability to disable animations
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/auth/api_key.go
  apps/api-gql/internal/auth/sessions.go
  apps/api-gql/internal/auth/sessions_user.go
  apps/api-gql/internal/gql/directives/directives.go
  apps/api-gql/internal/gql/directives/is_authenticated.go
  apps/api-gql/internal/gql/gincontext/gincontext.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
  apps/api-gql/internal/gql/resolvers/resolver.go
  apps/api-gql/internal/gql/resolvers/subscriptions.keys.go
  apps/api-gql/internal/gql/resolvers/twitch.resolver.go
  apps/api-gql/internal/gql/resolvers/user.resolver.go
  apps/api-gql/internal/httpserver/router.go
  apps/api-gql/schema/overlays.graphqls
  apps/api-gql/schema/schema.graphqls
  apps/api-gql/schema/twitch.graphqls
  libs/gomodels/channel_overlays_chat.go
  libs/migrations/migrations/20240606202927_chat_add_ability_to_disable_animations.sql
  pnpm-lock.yaml
Due: none

kruto
  apps/api-gql/schema/twitch.graphqls
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/overlays.resolver.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
  apps/api-gql/internal/gql/resolvers/subscriptions.keys.go
  apps/api-gql/internal/gql/resolvers/twitch.resolver.go
  apps/api-gql/schema/overlays.graphqls
  frontend/overlays/.gitignore
  frontend/overlays/codegen.ts
  frontend/overlays/package.json
  frontend/overlays/src/composables/chat/use-chat-overlay-socket.ts
  frontend/overlays/src/gql/fragment-masking.ts
  frontend/overlays/src/gql/gql.ts
  frontend/overlays/src/gql/graphql.ts
  frontend/overlays/src/gql/index.ts
  frontend/overlays/src/main.ts
  frontend/overlays/src/plugins/router.ts
  frontend/overlays/src/plugins/urql.ts
  frontend/overlays/vite.config.ts
  pnpm-lock.yaml
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/overlays.resolver.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
  apps/api-gql/schema/overlays.graphqls
  frontend/dashboard/codegen.ts
  frontend/dashboard/src/api/overlays/chat.ts
  frontend/dashboard/src/components/overlays/chat.vue
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
  frontend/dashboard/src/pages/overlays/chat/components/Form.vue
  frontend/dashboard/src/pages/overlays/chat/components/default-settings.ts
  frontend/dashboard/src/pages/overlays/chat/constants.ts
  frontend/dashboard/src/pages/overlays/chat/faker.ts
  frontend/overlays/package.json
  frontend/overlays/src/composables/chat/use-chat-overlay-socket.ts
  frontend/overlays/src/composables/tmi/use-chat-tmi.ts
  frontend/overlays/src/gql/gql.ts
  frontend/overlays/src/gql/graphql.ts
  frontend/overlays/src/pages/overlays/chat.vue
  libs/frontend-chat/src/components/chat-box.vue
  libs/frontend-chat/src/components/message-content.vue
  libs/frontend-chat/src/composables/mapped-badges.ts
  libs/frontend-chat/src/styles/boxed/message-horizontal.vue
  libs/frontend-chat/src/styles/boxed/message-vertical.vue
  libs/frontend-chat/src/styles/clean/message-horizontal.vue
  libs/frontend-chat/src/styles/clean/message-vertical.vue
  libs/frontend-chat/src/types.ts
  libs/gomodels/channel_overlays_chat.go
  libs/migrations/migrations/20240606202927_chat_add_ability_to_disable_animations.sql
  pnpm-lock.yaml
Due: none

kruto
  frontend/overlays/src/gql/fragment-masking.ts
  frontend/overlays/src/gql/gql.ts
  frontend/overlays/src/gql/graphql.ts
  frontend/overlays/src/gql/index.ts
Due: none

kruto
  frontend/dashboard/src/api/overlays/chat.ts
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
  frontend/dashboard/src/pages/overlays/chat/components/Form.vue
  frontend/dashboard/src/pages/overlays/chat/components/default-settings.ts
  frontend/overlays/package.json
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/overlays.resolver.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
Due: none

chore: remove chat overlays from old api
  apps/api-gql/internal/gql/resolvers/overlays.resolver.go
  apps/api/internal/impl_protected/overlays/chat.go
  apps/websockets/app/app.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/namespaces/overlays/chat/chat.go
  apps/websockets/internal/namespaces/overlays/chat/handle_message.go
  apps/websockets/internal/namespaces/overlays/chat/settings.go
  libs/api/api.proto
  libs/api/messages/overlays_chat/overlays_chat.proto
Due: publish-api

refactor: use gql for now playing overlay
  apps/api-gql/internal/gql/now-playing-fetcher/now-playing-fetcher.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
  apps/api-gql/internal/gql/resolvers/subscriptions.keys.go
  apps/api-gql/schema/overlays.graphqls
  apps/api/internal/impl_protected/overlays/now_playing.go
  apps/websockets/app/app.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/namespaces/overlays/nowplaying/fetcher.go
  apps/websockets/internal/namespaces/overlays/nowplaying/handle_message.go
  apps/websockets/internal/namespaces/overlays/nowplaying/nowplaying.go
  apps/websockets/internal/namespaces/overlays/nowplaying/settings.go
  libs/api/api.proto
  libs/api/messages/overlays_now_playing/overlays_now_playing.proto
Due: publish-api

kruto
  apps/api-gql/internal/gql/resolvers/overlays.resolver.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
  apps/api-gql/schema/overlays.graphqls
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
Due: none

kruto
  apps/api-gql/internal/gql/now-playing-fetcher/now-playing-fetcher.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
  apps/websockets/internal/grpc_impl/impl.go
Due: none

kruto
  frontend/dashboard/src/api/overlays/now-playing.ts
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-form.vue
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
  frontend/dashboard/src/pages/overlays/now-playing/use-now-playing-form.ts
  frontend/overlays/src/composables/now-playing/use-now-playing-socket.ts
  frontend/overlays/src/pages/overlays/now-playing.vue
  libs/frontend-now-playing/package.json
  libs/frontend-now-playing/src/index.ts
  libs/frontend-now-playing/src/now-playing.vue
  libs/frontend-now-playing/src/presets/aiden-redesign.vue
  libs/frontend-now-playing/src/presets/simple-line.vue
  libs/frontend-now-playing/src/presets/transparent.vue
  libs/frontend-now-playing/src/types.ts
  pnpm-lock.yaml
Due: none

refactor: use gql for now playing overlay (#746)
  apps/api-gql/internal/gql/now-playing-fetcher/now-playing-fetcher.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.go
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
  apps/api-gql/internal/gql/resolvers/subscriptions.keys.go
  apps/api-gql/schema/overlays.graphqls
  apps/api/internal/impl_protected/overlays/now_playing.go
  apps/websockets/app/app.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/namespaces/overlays/nowplaying/fetcher.go
  apps/websockets/internal/namespaces/overlays/nowplaying/handle_message.go
  apps/websockets/internal/namespaces/overlays/nowplaying/nowplaying.go
  apps/websockets/internal/namespaces/overlays/nowplaying/settings.go
  frontend/dashboard/src/api/overlays/now-playing.ts
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-form.vue
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
  frontend/dashboard/src/pages/overlays/now-playing/use-now-playing-form.ts
  frontend/overlays/src/composables/now-playing/use-now-playing-socket.ts
  frontend/overlays/src/pages/overlays/now-playing.vue
  libs/api/api.proto
  libs/api/messages/overlays_now_playing/overlays_now_playing.proto
  libs/frontend-now-playing/package.json
  libs/frontend-now-playing/src/index.ts
  libs/frontend-now-playing/src/now-playing.vue
  libs/frontend-now-playing/src/presets/aiden-redesign.vue
  libs/frontend-now-playing/src/presets/simple-line.vue
  libs/frontend-now-playing/src/presets/transparent.vue
  libs/frontend-now-playing/src/types.ts
  pnpm-lock.yaml
Due: publish-api

fix(dashboard): correct create now playing overlay
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
Due: none

fix(dashboard): correct create now playing overlay #2
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
Due: none

fix(dashboard): correct create now playing overlay #3
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
Due: none

fix(api-gql): check on nil hideTimeout for nowplaying overlay
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

chore: add additional data to stream online/offline events
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/stream_online.go
  apps/scheduler/internal/timers/streams.go
  libs/bus-core/twitch/stream.go
Due: publish-eventsub, publish-scheduler

fix(dashboard): textarea selection on admin panel
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-textarea.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/ui/notifications-form.vue
Due: none

refactor notifications to editorjs
  frontend/dashboard/package.json
  frontend/dashboard/src/features/admin-panel/manage-notifications/ui/notifications-form.css
  frontend/dashboard/src/features/admin-panel/manage-notifications/ui/notifications-form.vue
  pnpm-lock.yaml
Due: none

feat: support tab
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-textarea.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/ui/notifications-form.vue
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/notifications.resolver.go
  apps/api-gql/schema/notifications.graphqls
  apps/api/internal/impl_admin/impl_admin.go
  apps/api/internal/impl_admin/notifications/notifications.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/notifications/notifications.go
  frontend/dashboard/package.json
  frontend/dashboard/src/api/admin/notifications.ts
  frontend/dashboard/src/components/ui/editorjs/blocks-render.vue
  frontend/dashboard/src/components/ui/editorjs/editorjs.vue
  frontend/dashboard/src/components/ui/editorjs/notifications-form.css
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-form.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-table.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/ui/notifications-form.vue
  frontend/dashboard/src/layout/notifications/notifications-dropdown.vue
  libs/api/api.proto
  libs/api/messages/admin_notifications/admin_notifications.proto
  libs/api/messages/notifications/notifications.proto
  libs/gomodels/notifications.go
  libs/migrations/migrations/20240612134559_notifications_editor_js.sql
  pnpm-lock.yaml
Due: publish-api

kruto
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-table.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-textarea.ts
Due: none

refactor: use editorjs for notifications form (#748)
  apps/api-gql/internal/gql/resolvers/notifications.resolver.go
  apps/api-gql/schema/notifications.graphqls
  apps/api/internal/impl_admin/impl_admin.go
  apps/api/internal/impl_admin/notifications/notifications.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/notifications/notifications.go
  frontend/dashboard/package.json
  frontend/dashboard/src/api/admin/notifications.ts
  frontend/dashboard/src/components/ui/editorjs/blocks-render.vue
  frontend/dashboard/src/components/ui/editorjs/editorjs.vue
  frontend/dashboard/src/components/ui/editorjs/notifications-form.css
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-form.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-table.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-textarea.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/ui/notifications-form.vue
  frontend/dashboard/src/layout/notifications/notifications-dropdown.vue
  libs/api/api.proto
  libs/api/messages/admin_notifications/admin_notifications.proto
  libs/api/messages/notifications/notifications.proto
  libs/gomodels/notifications.go
  libs/migrations/migrations/20240612134559_notifications_editor_js.sql
  pnpm-lock.yaml
Due: publish-api

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
