Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

fix(events): add missed trigger alert and timeout random events
  apps/events/internal/activities/events/alert.go
  apps/events/internal/activities/events/ban_unban.go
  apps/events/internal/workers/worker.go
  apps/events/internal/workflows/events_flow.go
Due: none

upd
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.ts
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.vue
  frontend/dashboard/src/pages/overlays/dudes/use-dudes-frame.ts
  frontend/dashboard/src/pages/overlays/kappagen/Kappagen.vue
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-builder.ts
Due: none

upd
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
  frontend/overlays/src/pages/overlays/dudes.vue
Due: none

upd
  libs/migrations/migrations/20240205165007_add_spitter_enabled_for_dudes.sql
Due: none

feat(overlay): emote spitter param for dudes (#599)
  apps/api/internal/impl_protected/overlays/dudes.go
  apps/websockets/internal/namespaces/overlays/dudes/settings.go
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.ts
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.vue
  frontend/dashboard/src/pages/overlays/dudes/use-dudes-frame.ts
  frontend/dashboard/src/pages/overlays/kappagen/Kappagen.vue
  frontend/overlays/package.json
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-builder.ts
  frontend/overlays/src/composables/tmi/use-emotes.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  frontend/overlays/src/types.ts
  libs/api/messages/overlays_dudes/overlays_dudes.proto
  libs/gomodels/channels_overlays_dudes.go
  libs/migrations/migrations/20240205165007_add_spitter_enabled_for_dudes.sql
  pnpm-lock.yaml
Due: publish-api

chore(cli): test goose `withAllowMissing`
  cli/internal/cmds/migrations/migrate.go
  libs/migrations/main.go
Due: none

feat(overlays): add outline for dudes
  frontend/overlays/public/dudes/sprites/agent/agent.png
  frontend/overlays/public/dudes/sprites/cat/cat.json
  frontend/overlays/public/dudes/sprites/cat/cat.png
  frontend/overlays/public/dudes/sprites/dude/dude.png
  frontend/overlays/public/dudes/sprites/girl/girl.json
  frontend/overlays/public/dudes/sprites/girl/girl.png
  frontend/overlays/public/dudes/sprites/santa/santa.json
  frontend/overlays/public/dudes/sprites/santa/santa.png
  frontend/overlays/public/dudes/sprites/sith/sith.png
Due: none

chore(overlay): bump `@twiapp/dudes`
  frontend/overlays/package.json
  pnpm-lock.yaml
Due: none

chore(parser): simplify nuke logic
  apps/parser/internal/commands/nuke/nuke.go
Due: publish-parser

fix(bots): escape meta symbols in emotes positions
  apps/bots/internal/messagehandler/handle_commands.go
Due: publish-bots

feat(overlays): new dude sprites
  frontend/overlays/public/dudes/sprites/agent/agent.aseprite
  frontend/overlays/public/dudes/sprites/agent/agent.json
  frontend/overlays/public/dudes/sprites/agent/agent.png
  frontend/overlays/public/dudes/sprites/cat/cat.aseprite
  frontend/overlays/public/dudes/sprites/cat/cat.json
  frontend/overlays/public/dudes/sprites/cat/cat.png
  frontend/overlays/public/dudes/sprites/dude/dude.aseprite
  frontend/overlays/public/dudes/sprites/dude/dude.json
  frontend/overlays/public/dudes/sprites/dude/dude.png
  frontend/overlays/public/dudes/sprites/girl/girl.aseprite
  frontend/overlays/public/dudes/sprites/girl/girl.json
  frontend/overlays/public/dudes/sprites/girl/girl.png
  frontend/overlays/public/dudes/sprites/santa/santa.aseprite
  frontend/overlays/public/dudes/sprites/santa/santa.json
  frontend/overlays/public/dudes/sprites/santa/santa.png
  frontend/overlays/public/dudes/sprites/sith/sith.aseprite
  frontend/overlays/public/dudes/sprites/sith/sith.json
  frontend/overlays/public/dudes/sprites/sith/sith.png
Due: none

feat(overlays): add eyes and cosmetics colors for dudes
  apps/api/internal/impl_protected/overlays/dudes.go
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.ts
  frontend/overlays/package.json
  frontend/overlays/src/composables/dudes/use-dudes.ts
  frontend/overlays/src/helpers.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  libs/api/messages/overlays_dudes/overlays_dudes.proto
  libs/gomodels/channels_overlays_dudes.go
  libs/migrations/migrations/20240208064916_add_eyes_and_cosmetics_color_for_dudes.sql
  pnpm-lock.yaml
Due: publish-api

fix(overlays): girl sprite
  frontend/overlays/public/dudes/sprites/girl/girl.png
Due: none

feat(overlays): new dude sprites, eyes and cosmetics colors (#602)
  apps/api/internal/impl_protected/overlays/dudes.go
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.ts
  frontend/overlays/package.json
  frontend/overlays/public/dudes/sprites/agent/agent.aseprite
  frontend/overlays/public/dudes/sprites/agent/agent.json
  frontend/overlays/public/dudes/sprites/agent/agent.png
  frontend/overlays/public/dudes/sprites/cat/cat.aseprite
  frontend/overlays/public/dudes/sprites/cat/cat.json
  frontend/overlays/public/dudes/sprites/cat/cat.png
  frontend/overlays/public/dudes/sprites/dude/dude.aseprite
  frontend/overlays/public/dudes/sprites/dude/dude.json
  frontend/overlays/public/dudes/sprites/dude/dude.png
  frontend/overlays/public/dudes/sprites/girl/girl.aseprite
  frontend/overlays/public/dudes/sprites/girl/girl.json
  frontend/overlays/public/dudes/sprites/girl/girl.png
  frontend/overlays/public/dudes/sprites/santa/santa.aseprite
  frontend/overlays/public/dudes/sprites/santa/santa.json
  frontend/overlays/public/dudes/sprites/santa/santa.png
  frontend/overlays/public/dudes/sprites/sith/sith.aseprite
  frontend/overlays/public/dudes/sprites/sith/sith.json
  frontend/overlays/public/dudes/sprites/sith/sith.png
  frontend/overlays/src/composables/dudes/use-dudes.ts
  frontend/overlays/src/helpers.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  libs/api/messages/overlays_dudes/overlays_dudes.proto
  libs/gomodels/channels_overlays_dudes.go
  libs/migrations/migrations/20240208064916_add_eyes_and_cosmetics_color_for_dudes.sql
  pnpm-lock.yaml
Due: publish-api

fix(overlays): trim message for dudes
  frontend/overlays/src/composables/dudes/use-dudes.ts
Due: none

feat(overlays): add assets load options for dudes
  frontend/overlays/package.json
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  pnpm-lock.yaml
Due: none

chore: back to ngrok for local development
  .env.example
  apps/api/go.mod
  apps/bots/go.mod
  apps/discord/go.mod
  apps/emotes-cacher/go.mod
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/tunnel/tunnel.go
  apps/scheduler/go.mod
  apps/timers/go.mod
  apps/tokens/go.mod
  apps/websockets/go.mod
  apps/ytsr/go.mod
  cli/internal/cmds/dev/dev.go
  go.work.sum
  libs/config/config.go
Due: publish-api, publish-bots, publish-eventsub, publish-scheduler

fix(bots): remove `wg.Wait` in keywords handler
  apps/bots/internal/messagehandler/handle_keywords.go
Due: publish-bots

fix: add uptrace to dockerfile
  base.Dockerfile
Due: none

chore: move integrations under 1 lib
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/impl_protected/integrations/spotify.go
  apps/bots/go.mod
  apps/bots/go.sum
  apps/discord/go.mod
  apps/discord/go.sum
  apps/emotes-cacher/go.mod
  apps/emotes-cacher/go.sum
  apps/events/go.mod
  apps/events/go.sum
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/cacher/current_song.go
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/timers/go.mod
  apps/timers/go.sum
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/websockets/go.mod
  apps/websockets/go.sum
  base.Dockerfile
  go.work
  go.work.sum
  libs/gomodels/go.mod
  libs/gomodels/go.sum
  libs/integrations/go.mod
  libs/integrations/go.sum
  libs/integrations/seventv/go.mod
  libs/integrations/spotify/go.sum
  libs/integrations/spotify/spotify.go
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

chore: add lastfm to integrations lib
  libs/integrations/lastfm/lastfm.go
Due: none

feat: add nowplaying overlay
  apps/websockets/app/app.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/namespaces/overlays/nowplaying/fetcher.go
  apps/websockets/internal/namespaces/overlays/nowplaying/handle_message.go
  apps/websockets/internal/namespaces/overlays/nowplaying/nowplaying.go
  apps/websockets/internal/namespaces/overlays/nowplaying/settings.go
  frontend/dashboard/src/api/crud.ts
  frontend/overlays/src/composables/nowplaying/use-nowplaying-socket.ts
  frontend/overlays/src/pages/overlays/nowplaying.vue
  frontend/overlays/src/routes.ts
Due: none

uuh
  apps/websockets/internal/namespaces/overlays/nowplaying/fetcher.go
Due: none

uuh
  apps/websockets/internal/namespaces/overlays/nowplaying/fetcher.go
  apps/websockets/internal/namespaces/overlays/nowplaying/nowplaying.go
Due: none

uuh
  apps/api/internal/impl_protected/overlays/now_playing.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/namespaces/overlays/nowplaying/fetcher.go
  apps/websockets/internal/namespaces/overlays/nowplaying/nowplaying.go
  apps/websockets/internal/namespaces/overlays/nowplaying/settings.go
  frontend/dashboard/src/api/overlays/index.ts
  frontend/dashboard/src/api/overlays/now-playing.ts
  frontend/dashboard/src/components/overlays/now-playing.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Overlays.vue
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
  frontend/dashboard/src/plugins/router.ts
  frontend/overlays/package.json
  frontend/overlays/public/images/play.png
  frontend/overlays/src/components/now-playing/aiden-redesign.vue
  frontend/overlays/src/components/now-playing/transparent.vue
  frontend/overlays/src/composables/now-playing/use-now-playing-socket.ts
  frontend/overlays/src/pages/overlays/nowplaying.vue
  libs/api/api.proto
  libs/api/messages/overlays_now_playing/overlays_now_playing.proto
  libs/gomodels/channel_overlays_nowplaying.go
  libs/migrations/migrations/20240209135126_add_now_playing.sql
  libs/types/gen.go
  libs/types/package.json
  libs/types/src/api.ts
  libs/types/tsconfig.json
  libs/types/types/api/overlays/nowplaying.go
  pnpm-lock.yaml
Due: publish-api

uuh
  apps/api/internal/impl_protected/overlays/now_playing.go
  frontend/dashboard/src/api/overlays/now-playing.ts
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-form.vue
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-iframe.ts
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
  frontend/dashboard/src/pages/overlays/now-playing/use-now-playing-form.ts
  frontend/overlays/src/components/now-playing/aiden-redesign.vue
  frontend/overlays/src/components/now-playing/transparent.vue
  frontend/overlays/src/composables/now-playing/use-now-playing-data.ts
  frontend/overlays/src/composables/now-playing/use-now-playing-iframe.ts
  frontend/overlays/src/composables/now-playing/use-now-playing-socket.ts
  frontend/overlays/src/main.ts
  frontend/overlays/src/pages/overlays/now-playing.vue
  frontend/overlays/src/routes.ts
  libs/api/api.proto
  libs/api/messages/overlays_now_playing/overlays_now_playing.proto
Due: publish-api

uuh
  apps/api/internal/impl_protected/overlays/now_playing.go
  frontend/dashboard/package.json
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-form.vue
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-iframe.ts
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
  frontend/overlays/package.json
  frontend/overlays/src/composables/now-playing/use-now-playing-data.ts
  frontend/overlays/src/composables/now-playing/use-now-playing-iframe.ts
  frontend/overlays/src/composables/now-playing/use-now-playing-socket.ts
  frontend/overlays/src/pages/overlays/now-playing.vue
  libs/frontend-now-playing/package.json
  libs/frontend-now-playing/src/index.ts
  libs/frontend-now-playing/src/now-playing.vue
  libs/frontend-now-playing/src/presets/aiden-redesign.vue
  libs/frontend-now-playing/src/presets/transparent.vue
  libs/frontend-now-playing/src/types.ts
  libs/frontend-now-playing/tsconfig.json
  libs/frontend-now-playing/vite.config.ts
  pnpm-lock.yaml
Due: publish-api

uuh
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
Due: none

uuh
  base.Dockerfile
  libs/frontend-chat/vite.config.ts
  libs/frontend-now-playing/package.json
  libs/frontend-now-playing/vite.config.ts
  libs/types/package.json
  libs/types/tsconfig.json
  pnpm-lock.yaml
Due: none

uuh
  frontend/dashboard/src/api/crud.ts
Due: none

uuh
  .eslintignore
Due: none

fix(dashboard): show alert and nresult in correct situations
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
Due: none

chore(dashboard): center preview in div
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
Due: none

chore(websockets): simplify now-playing storing in redis
  apps/websockets/internal/namespaces/overlays/nowplaying/fetcher.go
Due: none

feat: add new now-playing preset, add font settings
  apps/api/internal/impl_protected/overlays/now_playing.go
  frontend/dashboard/src/api/overlays/now-playing.ts
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-form.vue
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
  frontend/dashboard/src/pages/overlays/now-playing/use-now-playing-form.ts
  libs/api/api.proto
  libs/api/messages/overlays_now_playing/overlays_now_playing.proto
  libs/frontend-now-playing/package.json
  libs/frontend-now-playing/src/now-playing.vue
  libs/frontend-now-playing/src/presets/aiden-redesign.vue
  libs/frontend-now-playing/src/presets/simple-line.vue
  libs/gomodels/channel_overlays_nowplaying.go
  libs/migrations/migrations/20240214154522_nowplaying_add_font_family_and_weight_and_bgcolor.sql
  libs/types/src/api.ts
  libs/types/types/api/overlays/nowplaying.go
  pnpm-lock.yaml
Due: publish-api

feat: add new now-playing `showImage` flag
  apps/api/internal/impl_protected/overlays/now_playing.go
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-form.vue
  frontend/dashboard/src/pages/overlays/now-playing/use-now-playing-form.ts
  libs/api/messages/overlays_now_playing/overlays_now_playing.proto
  libs/frontend-now-playing/src/presets/aiden-redesign.vue
  libs/frontend-now-playing/src/presets/simple-line.vue
  libs/frontend-now-playing/src/presets/transparent.vue
  libs/gomodels/channel_overlays_nowplaying.go
  libs/migrations/migrations/20240214164649_nowplaying_add_show_image_flag.sql
Due: publish-api

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
