Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

refactor: roles to gql (#721)
  apps/api-gql/internal/gql/resolvers/roles.resolver.go
  apps/api-gql/schema/permissions.directives.graphqls
  apps/api-gql/schema/roles.graphqls
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/roles/roles.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/parser/internal/command-arguments/parser_test.go
  apps/parser/internal/commands/helpers.go
  apps/scheduler/internal/services/roles.go
  frontend/dashboard/src/api/crud.ts
  frontend/dashboard/src/api/roles.ts
  frontend/dashboard/src/components/moderation/modal.vue
  frontend/dashboard/src/components/roles/modal.vue
  frontend/dashboard/src/components/roles/types.ts
  frontend/dashboard/src/features/commands/components/edit-modal.vue
  frontend/dashboard/src/features/community-roles/community-roles.vue
  frontend/dashboard/src/features/community-roles/components/modal.vue
  frontend/dashboard/src/pages/CommunityRoles.vue
  frontend/dashboard/src/plugins/router.ts
  libs/api/api.proto
  libs/api/messages/roles/roles.proto
  libs/gomodels/channel_role.go
  libs/migrations/migrations/20240429161600_channel_roles_settings_to_columns.go
Due: publish-api, publish-bots, publish-parser, publish-scheduler

fix(migrations): correct `json` lib for settings unmarshal
  libs/migrations/migrations/20240429161600_channel_roles_settings_to_columns.go
Due: none

feat: redemptions history
  apps/api-gql/internal/gql/resolvers/community-redemptions.resolver.go
  apps/api-gql/internal/gql/resolvers/resolver.go
  apps/api-gql/schema/community-redemptions.graphqls
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/rewards.go
  apps/eventsub/internal/manager/manager.go
  libs/cache/twitch/rewards.go
  libs/gomodels/channel_redemption.go
  libs/migrations/migrations/20240429234707_channel_redemption_history.sql
Due: publish-eventsub

kruto
  apps/api-gql/internal/gql/resolvers/community-redemptions.resolver.go
  apps/api-gql/internal/gql/resolvers/rewards.resolver.go
  apps/api-gql/schema/community-redemptions.graphqls
  apps/api-gql/schema/rewards.graphqls
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/community-redemptions.resolver.go
Due: none

feat(cli): add `dev` debug flag
  cli/internal/cmds/build/build.go
  cli/internal/cmds/dev/dev.go
  cli/internal/cmds/dev/golang/golang.go
  cli/internal/goapp/goapp.go
Due: none

fix(eval): use correct nats url for dev mode
  apps/eval/src/index.js
Due: publish-eval

feat: add commands cache to parser, public api route
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/gql/resolvers/commands-groups.resolver.go
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/api-gql/internal/gql/resolvers/resolver.go
  apps/api-gql/internal/routes/public/commands.go
  apps/api-gql/internal/routes/public/public.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/manage/add_aliase.go
  apps/parser/internal/commands/manage/add_command.go
  apps/parser/internal/commands/manage/check_aliases.go
  apps/parser/internal/commands/manage/del_command.go
  apps/parser/internal/commands/manage/edit_command.go
  apps/parser/internal/commands/manage/remove_aliase.go
  apps/parser/internal/types/services/services.go
  libs/cache/commands/commands.go
  libs/cache/commands/get.go
  libs/cache/commands/invalidate.go
Due: publish-parser

feat: add vk to nowplaying overlay
  apps/api-gql/internal/gql/resolvers/commands-groups.resolver.go
  apps/parser/internal/cacher/current_song.go
  apps/websockets/internal/namespaces/overlays/nowplaying/fetcher.go
  libs/integrations/vk/vk.go
Due: publish-parser

fix(parser): add missed `cache` replace to go.mod
  apps/parser/go.mod
Due: publish-parser

feat: keywords cache for bots
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/gql/resolvers/commands-groups.resolver.go
  apps/api-gql/internal/gql/resolvers/keywords.resolver.go
  apps/api-gql/internal/gql/resolvers/resolver.go
  apps/api-gql/internal/routes/public/commands.go
  apps/api-gql/internal/routes/public/public.go
  apps/bots/app/app.go
  apps/bots/go.mod
  apps/bots/internal/messagehandler/handle_keywords.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/types/services/services.go
  libs/baseapp/basefxapp.go
  libs/cache/commands/commands.go
  libs/cache/commands/get.go
  libs/cache/commands/invalidate.go
  libs/cache/db-generic-cacher/db-generic-cacher.go
  libs/cache/keywords/keywords.go
Due: publish-bots, publish-parser

refactor: use gql for games
  apps/api-gql/internal/gql/resolvers/games.resolver.go
  apps/api-gql/internal/gql/resolvers/games.resolver.service.go
  apps/api-gql/schema/games.graphqls
  apps/api/internal/impl_protected/games/8ball.go
  apps/parser/internal/commands/games/8ball.go
  frontend/dashboard/src/api/games/ball.ts
  frontend/dashboard/src/components/games/8ball.vue
  libs/api/api.proto
  libs/api/messages/games/games.proto
  libs/gomodels/channel_games_8ball.go
  libs/gomodels/channel_modules_settings.go
  libs/migrations/migrations/20240502002328_8ball_to_table.go
Due: publish-api, publish-parser

refactor: duels
  apps/api-gql/internal/gql/resolvers/games.resolver.go
  apps/api-gql/internal/gql/resolvers/games.resolver.service.go
  apps/api-gql/schema/games.graphqls
  apps/api/internal/impl_protected/games/duel.go
  apps/parser/internal/commands/games/duel_handler.go
  frontend/dashboard/src/api/games/ball.ts
  frontend/dashboard/src/components/games/duel.vue
  libs/api/api.proto
  libs/api/messages/games/games.proto
  libs/gomodels/channel_games_duel.go
  libs/gomodels/channel_modules_settings_duel.go
  libs/migrations/migrations/20240502010333_duel_to_table.go
Due: publish-api, publish-parser

refactor: flip api and api-gql path's
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/routes/webhooks/donate-stream.go
  apps/api-gql/internal/routes/webhooks/donatello.go
  apps/api-gql/internal/routes/webhooks/webhooks.go
  apps/integrations/src/pubsub.js
  docker-compose.stack.yml
  frontend/dashboard/src/api/twirp.ts
  frontend/dashboard/src/plugins/urql.ts
  frontend/landing/astro.config.ts
  frontend/landing/src/api/gql.ts
  frontend/landing/src/api/twirp.ts
  frontend/overlays/src/api.ts
  frontend/public-page/src/api/twirp.ts
  frontend/public-page/src/urql-client.ts
Due: none

fix(eval): correct copying app in dockerfile
  apps/eval/Dockerfile
Due: publish-eval

fix(eval): add missed bus-core service to dockerfile
  apps/eval/Dockerfile
Due: publish-eval

fix(landing): correct client api url
  frontend/landing/src/api/twirp-browser.ts
  frontend/landing/src/components/login/login.vue
Due: none

fix(overlays): correct link to files
  frontend/overlays/src/pages/alerts.vue
Due: none

fix(dashboard): correct link to files
  frontend/dashboard/src/components/alerts/modal.vue
Due: none

refactor: russian roulette
  apps/api-gql/internal/gql/resolvers/games.resolver.go
  apps/api-gql/internal/gql/resolvers/games.resolver.service.go
  apps/api-gql/schema/games.graphqls
  apps/api/internal/impl_protected/games/games.go
  apps/api/internal/impl_protected/games/russian_roulette.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/parser/internal/commands/games/russian_roulette.go
  frontend/dashboard/src/api/games/duel.ts
  frontend/dashboard/src/api/games/games.ts
  frontend/dashboard/src/api/games/index.ts
  frontend/dashboard/src/api/games/russianRoullete.ts
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/components/games/8ball.vue
  frontend/dashboard/src/components/games/duel.vue
  frontend/dashboard/src/components/games/russianRoulette.vue
  frontend/dashboard/src/main.ts
  libs/api/api.proto
  libs/api/messages/games/games.proto
  libs/gomodels/channel_games_russian_roulette.go
  libs/gomodels/channel_modules_settings.go
  libs/migrations/migrations/20240502010333_duel_to_table.go
  libs/migrations/migrations/20240502210634_russian_roulette_to_table.go
Due: publish-api, publish-parser

chore(api-gql): add remoteIpHeaders
  apps/api-gql/internal/httpserver/router.go
Due: none

refactor: use gql for games (#725)
  apps/api-gql/internal/gql/resolvers/games.resolver.go
  apps/api-gql/internal/gql/resolvers/games.resolver.service.go
  apps/api-gql/internal/httpserver/router.go
  apps/api-gql/schema/games.graphqls
  apps/api/internal/impl_protected/games/8ball.go
  apps/api/internal/impl_protected/games/duel.go
  apps/api/internal/impl_protected/games/games.go
  apps/api/internal/impl_protected/games/russian_roulette.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/parser/internal/commands/games/8ball.go
  apps/parser/internal/commands/games/duel_handler.go
  apps/parser/internal/commands/games/russian_roulette.go
  frontend/dashboard/src/api/games/ball.ts
  frontend/dashboard/src/api/games/duel.ts
  frontend/dashboard/src/api/games/games.ts
  frontend/dashboard/src/api/games/index.ts
  frontend/dashboard/src/api/games/russianRoullete.ts
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/components/games/8ball.vue
  frontend/dashboard/src/components/games/duel.vue
  frontend/dashboard/src/components/games/russianRoulette.vue
  frontend/dashboard/src/main.ts
  libs/api/api.proto
  libs/api/messages/games/games.proto
  libs/gomodels/channel_games_8ball.go
  libs/gomodels/channel_games_duel.go
  libs/gomodels/channel_games_russian_roulette.go
  libs/gomodels/channel_modules_settings.go
  libs/gomodels/channel_modules_settings_duel.go
  libs/migrations/migrations/20240502002328_8ball_to_table.go
  libs/migrations/migrations/20240502010333_duel_to_table.go
  libs/migrations/migrations/20240502210634_russian_roulette_to_table.go
Due: publish-api, publish-parser

fix(api-gql): correctly create default rows for games
  apps/api-gql/internal/gql/resolvers/games.resolver.go
  apps/api-gql/internal/gql/resolvers/games.resolver.service.go
  libs/gomodels/channel_games_8ball.go
  libs/gomodels/channel_games_duel.go
  libs/gomodels/channel_games_russian_roulette.go
Due: none

chore(api-gql): add `Cf-Connecting-IP` to router remote ip headers
  apps/api-gql/internal/httpserver/router.go
Due: none

feat(migrations): add indexes for channels games tables
  libs/migrations/migrations/20240502221830_create_games_indexes.sql
Due: none

chore(api-gql): change remoteIpheaders slice to only cf-connection-ip
  apps/api-gql/internal/httpserver/router.go
Due: none

feat(migrations): add indexes for users, channels, users_stats
  libs/migrations/migrations/20240502222947_users_stats_userid_index.sql
Due: none

kruto
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
Due: none

kruto
  apps/parser/internal/cacher/current_song.go
Due: publish-parser

feat: add vk to nowplaying overlay (#724)
  apps/parser/internal/cacher/current_song.go
  apps/websockets/internal/namespaces/overlays/nowplaying/fetcher.go
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
  libs/integrations/vk/vk.go
Due: publish-parser

feat: add emotes statistic to dashboard
  apps/api-gql/internal/gql/resolvers/emotes-statistic.resolver.go
  apps/api-gql/schema/emotes-statistic.graphqls
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  frontend/dashboard/src/api/emotes-statistic.ts
  frontend/dashboard/src/features/community-emotes-statistic/community-emotes-statistic.vue
  frontend/dashboard/src/features/community-emotes-statistic/composables/use-community-emotes-statistic-filters.ts
  frontend/dashboard/src/features/community-emotes-statistic/composables/use-community-emotes-statistic-table.ts
  frontend/dashboard/src/features/community-roles/community-roles.vue
  frontend/dashboard/src/layout/navigation.vue
  frontend/dashboard/src/layout/page-layout.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/community-users.vue
  frontend/dashboard/src/pages/community.vue
  frontend/dashboard/src/plugins/router.ts
Due: publish-bots

kruto
  apps/api-gql/internal/gql/resolvers/emotes-statistic.resolver.go
  apps/api-gql/internal/gql/resolvers/emotes-statistic.resolver.service.go
  apps/api-gql/schema/emotes-statistic.graphqls
  frontend/dashboard/src/api/emotes-statistic.ts
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/emotes-statistic.resolver.go
  apps/api-gql/internal/gql/resolvers/emotes-statistic.resolver.service.go
  apps/api-gql/schema/emotes-statistic.graphqls
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/emotes-statistic.resolver.go
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/emotes-statistic.resolver.go
  apps/api-gql/schema/emotes-statistic.graphqls
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
