Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(parser): correctly handle cooldowns 0
  apps/parser/internal/commands/commands.go
Due: publish-parser

chore(parser): additional check on cooldown
  apps/parser/internal/commands/commands.go
Due: publish-parser

chore(parser): remove not needed check on cooldown
  apps/parser/internal/commands/commands.go
Due: publish-parser

fix(web): correct usage of zod + vee-validate form for short-links
  web/layers/url-shortener/components/url-shortener/edit-link-dialog.vue
  web/layers/url-shortener/components/url-shortener/qr-code-dialog.vue
Due: none

feat(api-gql): migrate to domain_id for short links
  apps/api-gql/internal/services/shortenedurls/shortenedurls.go
  libs/migrations/postgres/20260210123000_shortener_domain_id.sql
  libs/repositories/shortened_urls/datasource/postgres/pgx.go
  libs/repositories/shortened_urls/model/model.go
  libs/repositories/shortened_urls/shortened_urls.go
Due: none

fix(migrations): change domain_id column type to text in shortened_urls table
  libs/migrations/postgres/20260210123000_shortener_domain_id.sql
Due: none

fix(web): add z-index to commands and timers responses
  frontend/dashboard/src/features/commands/ui/form/form-responses.vue
  frontend/dashboard/src/features/timers/timers-edit.vue
Due: none

fix(dashboard): correctly change cooldown field
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
Due: none

feat(parser): add channel id variable
  apps/parser/internal/variables/channel/id.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

feat: add disallow for robots to parse /s, /h and /overlays links
  web/nuxt.config.ts
Due: none

feat: fuck, more disallow tiiishee
  web/nuxt.config.ts
Due: none

feat(web): udpate robots
  bun.lock
  web/nuxt.config.ts
  web/package.json
  web/public/_robots.txt
Due: none

chore(web): delete robots from public
  web/public/_robots.txt
Due: none

chore: add gzip to haproxy
  configs/haproxy/haproxy.cfg
Due: none

chore: fix haproxy
  configs/haproxy/haproxy.cfg
Due: none

chore: add `tune.comp.maxlevel` to haproxy
  configs/haproxy/haproxy.cfg
Due: none

fix: remove option from haproxy
  configs/haproxy/haproxy.cfg
Due: none

chore: add misesd filter to haproxy
  configs/haproxy/haproxy.cfg
Due: none

feat: try cache on web and dashboard
  configs/haproxy/haproxy.cfg
Due: none

start working on cooldowns per role
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/helpers.go
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
Due: publish-parser

changes from glm 4.7
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/helpers.go
Due: publish-parser

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

feat(apps/parser): refactor role-based cooldowns logic and improve Redis handling
  apps/api-gql/internal/services/commands/create.go
  apps/api-gql/internal/services/commands_with_groups_and_responses/update.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/helpers.go
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
  frontend/dashboard/src/locales/en.json
  libs/repositories/commands_with_groups_and_responses/pgx/pgx.go
Due: publish-parser

feat: separate cooldowns for commands, allow 0 as cooldown (#958)
  apps/api-gql/internal/services/commands/create.go
  apps/api-gql/internal/services/commands_with_groups_and_responses/update.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/helpers.go
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
  frontend/dashboard/src/locales/en.json
  libs/repositories/commands_with_groups_and_responses/pgx/pgx.go
Due: publish-parser

New translations en.json (Spanish)
  frontend/dashboard/src/locales/es.json
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

New translations stats.yaml (Slovak)
  apps/apps/parser/locales/en/commands/locales/sk/stats.yaml
Due: none

New translations vips.yaml (Slovak)
  apps/apps/parser/locales/en/commands/locales/sk/vips.yaml
Due: none

New translations games.yaml (Slovak)
  apps/apps/parser/locales/en/commands/locales/sk/games.yaml
Due: none

feat(parser): add mentions variables
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_keywords.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/variables/custom_var/custom_var.go
  apps/parser/internal/variables/mentions/display_name.go
  apps/parser/internal/variables/mentions/id.go
  apps/parser/internal/variables/mentions/login.go
  apps/parser/internal/variables/mentions/mentions_test.go
  apps/parser/internal/variables/variables.go
  libs/bus-core/parser/commands.go
  web/layers/landing/pages/terms.vue
Due: publish-bots, publish-parser

fix(repositories): add missed tags to command model
  libs/repositories/commands_response/model/model.go
Due: none

feat: allow 2 len aliases and `-_` symbols
  apps/api-gql/internal/delivery/http/routes/shortlinks/create.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/update.go
  libs/api/openapi.ts
  web/layers/url-shortener/components/url-shortener/edit-link-dialog.vue
  web/layers/url-shortener/components/url-shortener/form.vue
Due: none

chore(web): remove description for custom alias
  web/layers/url-shortener/components/url-shortener/form.vue
Due: none

fix(repositories): update JSON tags in command response model
  libs/api/openapi.ts
  libs/repositories/commands_response/model/model.go
Due: none

feat(api-gql): add module for geoip
  .github/copilot-instructions.md
  apps/api-gql/.gitignore
  apps/api-gql/Dockerfile
  apps/api-gql/assets/geo-db/.gitkeep
  apps/api-gql/cmd/main.go
  apps/api-gql/go.mod
  apps/api-gql/go.sum
  apps/api-gql/internal/delivery/http/routes/shortlinks/create.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/redirect.go
  apps/api-gql/internal/services/clientinfo/clientinfo.go
  apps/parser/go.mod
  go.work.sum
  libs/repositories/go.mod
  libs/repositories/go.sum
Due: publish-parser
