Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

fix(dashboard): yse `ignoreUpdates` for chat alerts autosave
  frontend/dashboard/src/api/chat-alerts.ts
  frontend/dashboard/src/features/chat-alerts/components/settings.vue
  frontend/dashboard/src/features/chat-alerts/composables/use-form.ts
Due: none

feat(api-gql): add ws router for future scaling
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/gql/resolvers/keywords.resolver.go
  apps/api-gql/internal/gql/resolvers/notifications.resolver.go
  apps/api-gql/internal/gql/resolvers/resolver.go
  apps/api-gql/internal/wsrouter/wssync.go
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/resolver.go
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/notifications.resolver.go
Due: none

kruto
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/gql/resolvers/notifications.resolver.go
  apps/api-gql/internal/gql/resolvers/resolver.go
  apps/api-gql/internal/gql/resolvers/subscriptions.keys.go
  apps/api-gql/internal/wsrouter/nats_wsrouter.go
  apps/api-gql/internal/wsrouter/wsrouter.go
Due: none

kruto
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-form.vue
Due: none

feat(api-gql): add ws router for future scaling (#741)
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/gql/resolvers/keywords.resolver.go
  apps/api-gql/internal/gql/resolvers/notifications.resolver.go
  apps/api-gql/internal/gql/resolvers/resolver.go
  apps/api-gql/internal/gql/resolvers/subscriptions.keys.go
  apps/api-gql/internal/wsrouter/nats_wsrouter.go
  apps/api-gql/internal/wsrouter/wsrouter.go
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-form.vue
Due: none

kruto
  .env.example
  apps/api-gql/internal/gql/resolvers/admin-actions.resolver.go
  apps/api-gql/internal/gql/resolvers/notifications.resolver.go
  apps/api/app/app.go
  apps/discord/app/app.go
  apps/discord/internal/gorm/gorm.go
  apps/discord/internal/redis/redis.go
  apps/emotes-cacher/app/app.go
  apps/events/app/app.go
  apps/events/internal/gorm/gorm.go
  apps/events/internal/redis/redis.go
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/revoke.go
  apps/eventsub/internal/manager/manager.go
  apps/timers/app/app.go
  apps/timers/internal/gorm/gorm.go
  apps/timers/internal/redis/redis.go
  apps/tokens/app/app.go
  apps/tokens/internal/gorm/gorm.go
  apps/tokens/internal/redis/redis.go
  apps/websockets/app/app.go
  apps/websockets/internal/gorm/gorm.go
  apps/websockets/internal/redis/redis.go
  apps/ytsr/app/app.go
  libs/baseapp/basefxapp.go
Due: publish-api, publish-eventsub

kruto
  apps/eventsub/internal/manager/subscribe.go
Due: publish-eventsub

kruto
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

chore(landing): add envs for api's addrs
  frontend/landing/src/api/gql.ts
  frontend/landing/src/api/twirp.ts
Due: none

fix(dashboard): move hamburger menu component to the /components/ui
  frontend/dashboard/src/components/ui/hamburger-menu.vue
Due: none

refactor(dashboard): improve user stats styles and it to the drawer header
  frontend/dashboard/src/layout/drawer/drawer-header.vue
  frontend/dashboard/src/layout/stats/stats-scrollable.vue
  frontend/dashboard/src/layout/stats/stats.vue
Due: none

kruto
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

fix(dashboard): correct path's to command-button component
  frontend/dashboard/src/components/games/seppuku.vue
  frontend/dashboard/src/components/games/voteban.vue
Due: none

fix(eventsub): check on nil status
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

chore(stack): update count of replicas for eventsub
  docker-compose.stack.yml
Due: none

feat: add unique index on eventsub subscriptions
  libs/migrations/migrations/20240531032351_eventsub_unique_index.sql
Due: none

feat(eventsub): add lock for start
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

fix(migrations): correct migration for eventsub
  libs/migrations/migrations/20240531032351_eventsub_unique_index.sql
Due: none

fix(eventsub): correct loop for channels
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/manager/subscribe.go
Due: publish-eventsub

fix(eventsub): retry deadline subscribe
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/manager/subscribe.go
Due: publish-eventsub

fix(eventsub): retry deadline subscribe
  apps/eventsub/internal/manager/condition.go
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/manager/subscribe.go
Due: publish-eventsub

fix(eventsub): use backoff delay for subscriptions
  apps/eventsub/internal/manager/subscribe.go
Due: publish-eventsub

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

fix(eventsub): insert subscription in any case in db
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

refactor(eventsub): do not populate subscriptions in production
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/manager/populate.go
Due: publish-eventsub

kruto
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/notification.go
  apps/eventsub/internal/handler/revoke.go
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

refactor(eventsub): do not populate subscriptions in production (#743)
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/notification.go
  apps/eventsub/internal/handler/revoke.go
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/manager/populate.go
Due: publish-eventsub

kruto
  apps/api-gql/internal/gql/resolvers/community-redemptions.resolver.go
  apps/api-gql/internal/gql/resolvers/resolver.go
  apps/api-gql/internal/gql/resolvers/rewards.resolver.go
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
