Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(parser): use db channel uuid in song requests online check
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

fix: now playing cache read ptr fields and song requests uuid parse (#1010)
  apps/api-gql/internal/delivery/gql/now-playing-fetcher/now-playing-fetcher.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

fix(eventsub): decode vk chat link parts into message text
  apps/eventsub/internal/vkvideo/message.go
  apps/eventsub/internal/vkvideo/transport_test.go
Due: publish-eventsub

fix(libs/channels): correct cache of stream
  .omo/plans/2026-07-26-pr-1004-blockers.md
  .omo/ulw-research/20260726-204907/cause-disappearance.md
  .omo/ulw-research/20260726-204907/claim-graph.md
  .omo/ulw-research/20260726-204907/expansion-log.md
  .omo/ulw-research/20260726-204907/intent-diff.md
  .omo/ulw-research/20260726-204907/observation-manifest.md
  .omo/ulw-research/20260726-204907/pr-1004-audit.md
  .omo/ulw-research/20260726-204907/regression-matrix.md
  .omo/ulw-research/20260726-204907/report.md
  .omo/ulw-research/20260726-204907/verification-economics.md
  .omo/ulw-research/20260726-204907/wave-1-code-api-dashboard.md
  .omo/ulw-research/20260726-204907/wave-1-code-bots.md
  .omo/ulw-research/20260726-204907/wave-1-code-events-timers.md
  .omo/ulw-research/20260726-204907/wave-1-code-frontend.md
  .omo/ulw-research/20260726-204907/wave-1-code-identity.md
  .omo/ulw-research/20260726-204907/wave-1-code-ingress.md
  .omo/ulw-research/20260726-204907/wave-1-code-parser-commands.md
  .omo/ulw-research/20260726-204907/wave-1-code-parser-variables.md
  .omo/ulw-research/20260726-204907/wave-1-code-persistence.md
  .omo/ulw-research/20260726-204907/wave-1-code-platform-core.md
  .omo/ulw-research/20260726-204907/wave-1-doc-kick.md
  .omo/ulw-research/20260726-204907/wave-1-doc-oss.md
  .omo/ulw-research/20260726-204907/wave-1-doc-twitch.md
  .omo/ulw-research/20260726-204907/wave-1-doc-vk.md
  .omo/ulw-research/20260726-204907/wave-2-execution.md
  .omo/ulw-research/20260726-204907/wave-2-oss.md
  .omo/ulw-research/20260726-204907/wave-2-partial.md
  .omo/ulw-research/20260726-204907/wave-2-skeptic.md
  apps/parser/internal/commands/songrequest/youtube/sr.go
  libs/services/channels/channels.go
  libs/services/channels/channels_test.go
Due: publish-parser

fix(api-gql): invalidate channel cache on binding change
  apps/api-gql/internal/services/channel_platforms/channel_platforms.go
  apps/api-gql/internal/services/channel_platforms/channel_platforms_test.go
Due: none

fix(vkvideo): reconcile active chats after bot replacement
  apps/api-gql/internal/delivery/http/routes/auth/vk_video_bot_setup.go
  apps/api-gql/internal/delivery/http/routes/auth/vk_video_bot_setup_fakes_test.go
  apps/api-gql/internal/delivery/http/routes/auth/vk_video_bot_setup_test.go
  apps/eventsub/internal/vkvideo/connection.go
  apps/eventsub/internal/vkvideo/subscription.go
  apps/eventsub/internal/vkvideo/transport.go
  apps/eventsub/internal/vkvideo/transport_test.go
Due: publish-eventsub

feat(quotes): add channel quotes backend
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/audit-logs.go
  apps/api-gql/internal/delivery/gql/mappers/quotes.go
  apps/api-gql/internal/delivery/gql/resolvers/quotes.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/quotes.graphql
  apps/api-gql/internal/delivery/gql/schema/roles.graphql
  apps/api-gql/internal/delivery/gql/schema/user-audit-logs.graphql
  apps/api-gql/internal/delivery/http/enums/dashboard_permissions/dashboard_permissions.go
  apps/api-gql/internal/entity/quote.go
  apps/api-gql/internal/services/quotes/create.go
  apps/api-gql/internal/services/quotes/delete.go
  apps/api-gql/internal/services/quotes/errors.go
  apps/api-gql/internal/services/quotes/get.go
  apps/api-gql/internal/services/quotes/quotes.go
  apps/api-gql/internal/services/quotes/update.go
  apps/bots/app/app.go
  libs/cache/quotes/quotes.go
  libs/gomodels/channel_role.go
  libs/migrations/postgres/20260727014751_channels_quotes.sql
  libs/migrations/postgres/20260727014755_add_quotes_permissions.sql
  libs/repositories/quotes/errors.go
  libs/repositories/quotes/model/model.go
  libs/repositories/quotes/pgx/pgx.go
  libs/repositories/quotes/quotes.go
Due: publish-bots

feat(parser): add !quote command and $(quote) variable
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/commands_test.go
  apps/parser/internal/commands/quotes/add.go
  apps/parser/internal/commands/quotes/quote.go
  apps/parser/internal/commands/quotes/quote_test.go
  apps/parser/internal/commands/quotes/remove.go
  apps/parser/internal/variables/quote/quote.go
  apps/parser/internal/variables/variables.go
  apps/parser/internal/variables/variables_test.go
  apps/parser/locales/en/commands/quotes.yaml
  apps/parser/locales/locales.go
  libs/gomodels/channels_quotes.go
Due: publish-parser

feat(dashboard): add quotes management page
  web/layers/dashboard/api/auth.ts
  web/layers/dashboard/api/quotes.ts
  web/layers/dashboard/config/navigation.ts
  web/layers/dashboard/features/quotes/composables/use-quotes-table.ts
  web/layers/dashboard/features/quotes/quotes.vue
  web/layers/dashboard/features/quotes/ui/quotes-create-button.vue
  web/layers/dashboard/features/quotes/ui/quotes-dialog.vue
  web/layers/dashboard/features/quotes/ui/quotes-table-actions.vue
  web/layers/dashboard/layout/sidebar/sidebar-navigation.vue
  web/layers/dashboard/locales/de.json
  web/layers/dashboard/locales/en.json
  web/layers/dashboard/locales/es.json
  web/layers/dashboard/locales/ja.json
  web/layers/dashboard/locales/pt.json
  web/layers/dashboard/locales/ru.json
  web/layers/dashboard/locales/sk.json
  web/layers/dashboard/locales/uk.json
  web/layers/dashboard/pages/dashboard/quotes.vue
Due: none

refactor(quotes): snake_case columns, parser via pgx repo
  apps/parser/cmd/main.go
  apps/parser/internal/commands/quotes/add.go
  apps/parser/internal/commands/quotes/quote.go
  apps/parser/internal/commands/quotes/remove.go
  apps/parser/internal/types/services/services.go
  apps/parser/internal/variables/quote/quote.go
  libs/gomodels/channels_quotes.go
  libs/migrations/postgres/20260727014751_channels_quotes.sql
  libs/repositories/quotes/model/model.go
  libs/repositories/quotes/pgx/pgx.go
  libs/repositories/quotes/quotes.go
Due: publish-parser

feat(quotes): public channel quotes page and quotes list command
  apps/api-gql/internal/delivery/gql/resolvers/quotes.resolver.go
  apps/api-gql/internal/delivery/gql/schema/quotes.graphql
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/quotes/list.go
  web/layers/public/api/use-quotes.ts
  web/layers/public/layouts/public/public-navigation.vue
  web/layers/public/pages/p/[platform]/[channelName]/quotes.vue
Due: publish-parser

New translations quotes.yaml (Spanish)
  apps/apps/parser/locales/en/commands/locales/es/quotes.yaml
Due: none

New translations quotes.yaml (German)
  apps/apps/parser/locales/en/commands/locales/de/quotes.yaml
Due: none

New translations quotes.yaml (Russian)
  apps/apps/parser/locales/en/commands/locales/ru/quotes.yaml
Due: none

New translations quotes.yaml (Slovak)
  apps/apps/parser/locales/en/commands/locales/sk/quotes.yaml
Due: none

New translations quotes.yaml (Ukrainian)
  apps/apps/parser/locales/en/commands/locales/uk/quotes.yaml
Due: none

New translations quotes.yaml (English)
  apps/apps/parser/locales/en/commands/locales/en/quotes.yaml
Due: none

New translations quotes.yaml (Portuguese, Brazilian)
  apps/apps/parser/locales/en/commands/locales/pt/quotes.yaml
Due: none

fix(parser): correct datatype for aliases
  apps/parser/internal/commands/quotes/add.go
  apps/parser/internal/commands/quotes/remove.go
Due: publish-parser

fix(migrations): correct datatype for channelid
  libs/migrations/postgres/20260727014751_channels_quotes.sql
Due: none

fix(parser): correct module and visible values for quotes
  apps/parser/internal/commands/quotes/add.go
  apps/parser/internal/commands/quotes/list.go
  apps/parser/internal/commands/quotes/quote.go
  apps/parser/internal/commands/quotes/remove.go
  libs/migrations/postgres/20260727014755_add_quotes_permissions.sql
Due: publish-parser

Update source file quotes.yaml
  apps/parser/locales/en/commands/quotes.yaml
Due: publish-parser

feat(api-gql): expose platform-neutral profile via LinkedAccount
  apps/api-gql/internal/delivery/gql/mappers/channel_platform_test.go
  apps/api-gql/internal/delivery/gql/mappers/channels.go
  apps/api-gql/internal/delivery/gql/resolvers/channels.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/community-users.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user_linked_accounts_helpers.go
  apps/api-gql/internal/delivery/gql/schema/channels.graphql
  apps/api-gql/internal/delivery/gql/schema/user.graphql
Due: none

refactor(web): consume linkedAccounts/profile instead of twitch/kick profiles
  web/app/stores/user.ts
  web/layers/dashboard/api/auth.ts
  web/layers/dashboard/features/admin-panel/manage-users/composables/use-users-table-filters.ts
  web/layers/dashboard/features/admin-panel/manage-users/ui/users-table-cell-user.vue
  web/layers/dashboard/features/community-users/ui/community-users-table-search.vue
  web/layers/dashboard/features/overlays/brb/page.vue
  web/layers/dashboard/layout/sidebar/sidebar-dashboard-selector.vue
  web/layers/dashboard/layout/use-public-page-href.ts
  web/layers/landing/layouts/default/header-profile.vue
  web/layers/public/api/use-streamer-profile.ts
  web/layers/public/layouts/public.vue
  web/layers/public/layouts/public/public-user-profile.vue
Due: none

refactor(api-gql)!: drop twitchProfile/kickProfile from user types
  apps/api-gql/internal/delivery/gql/mappers/channel_platform_test.go
  apps/api-gql/internal/delivery/gql/mappers/channels.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.service.go
  apps/api-gql/internal/delivery/gql/schema/channels.graphql
  apps/api-gql/internal/delivery/gql/schema/user.graphql
Due: none

refactor(web): use dashboard.profile in command menu and twitch embeds
  web/layers/dashboard/components/command-menu/CommandMenu.vue
  web/layers/dashboard/components/dashboard/chat.vue
  web/layers/dashboard/components/dashboard/stream.vue
Due: none

fix(executron): pass all fetch options through sandbox capability
  apps/executron/src/libs/executor-fetch.test.ts
  apps/executron/src/libs/executor.ts
Due: none

fix(executron): pass all fetch options through sandbox capability (#1014)
  apps/executron/src/libs/executor-fetch.test.ts
  apps/executron/src/libs/executor.ts
Due: none

docs(vk): add platform integration plan
  docs/superpowers/plans/2026-07-21-vk-video-live-platform.md
  docs/superpowers/specs/2026-07-21-vk-video-live-platform-design.md
Due: none

test(channel-platforms): pin pgx v5 error fixture
  libs/repositories/channel_platforms/pgx/pgx_test.go
  libs/repositories/channel_platforms/pgx/pgx_v5_error_test.go
Due: none

feat(platform): add channel binding storage
  libs/migrations/postgres/20260721120000_channel_platforms.sql
  libs/repositories/channel_platforms/channel_platforms.go
  libs/repositories/channel_platforms/model/model.go
  libs/repositories/channel_platforms/pgx/pgx.go
  libs/repositories/channel_platforms/pgx/pgx_test.go
Due: none

feat(platform)!: add VK Video Live primitives
  libs/entities/platform/platform.go
  libs/entities/platform/platform_test.go
Due: none

test(channel-platforms): match pgx v5 errors
  libs/repositories/channel_platforms/pgx/pgx_test.go
Due: none

fix(eventsub): list all Kick bindings
  apps/api-gql/internal/services/channels/channels_test.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/resubscribe_job_test.go
  apps/eventsub/internal/kick/webhook_integration_test.go
  apps/eventsub/internal/manager/manager_test.go
  apps/eventsub/internal/webhook/manager.go
  apps/eventsub/internal/webhook/manager_test.go
  libs/cache/channel/channel_test.go
  libs/repositories/channels/channels.go
  libs/repositories/channels/pgx/channel_binding_test.go
  libs/repositories/channels/pgx/pgx.go
Due: publish-eventsub

fix(eventsub): reinit all bound channels
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/bus-listener/bus-listener_test.go
Due: publish-eventsub

fix(eventsub): use channel platform bindings
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/channelbinding/binding.go
  apps/eventsub/internal/channelbinding/binding_test.go
  apps/eventsub/internal/handler/ban.go
  apps/eventsub/internal/handler/channel_update.go
  apps/eventsub/internal/handler/chat_message.go
  apps/eventsub/internal/handler/moderator_add_remove.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/revoke.go
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/stream_online.go
  apps/eventsub/internal/handler/vip.go
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/resubscribe_job_test.go
  apps/eventsub/internal/kick/webhook_integration_test.go
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/manager/manager_test.go
  apps/eventsub/internal/webhook/manager.go
Due: publish-eventsub

fix(channels): synchronize legacy bindings
  libs/migrations/postgres/20260721120000_channel_platforms.sql
  libs/repositories/channels/pgx/channel_binding_test.go
  libs/repositories/channels/pgx/multiplatform_migration_test.go
  libs/repositories/channels/pgx/pgx.go
Due: none

docs(eventsub): specify binding reinitialization
  docs/superpowers/specs/2026-07-21-eventsub-reinit-bindings-design.md
Due: none

fix(channels): preserve API key platform
  apps/api-gql/internal/services/channels/channels.go
  apps/api-gql/internal/services/channels/channels_test.go
Due: none
