Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

feat(dashboard): sort variables alphabetically
  apps/dashboard/services/api/variables.ts
Due: none

feat(dashboard): add search for commands page
  apps/dashboard/pages/commands.tsx
Due: none

feat(dashboard): add search for commands page
  apps/dashboard/components/commands/drawer.tsx
Due: none

chore: update idea config
  .idea/vcs.xml
Due: none

feat(dashboard): use debounce for commands searches
  apps/dashboard/components/commands/drawer.tsx
  apps/dashboard/pages/commands.tsx
Due: none

feat(dashboard): use `useDebouncedState` instead of `useDebouncedValue` for commands
  apps/dashboard/components/commands/drawer.tsx
  apps/dashboard/pages/commands.tsx
Due: none

fix(dashboard): add limit to spotlight
  apps/dashboard/pages/_app.tsx
Due: none

chore(idea): add tasks to git
  .idea/runConfigurations/Generate_Docs.xml
  .idea/runConfigurations/Run_application.xml
  .idea/vcs.xml
Due: none

chore(idea): add recommended plugins
  .idea/externalDependencies.xml
Due: none

upd
  apps/api/cmd/main.go
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/auth/checkUser.go
  apps/api/internal/api/auth/controller.go
  apps/api/internal/api/auth/service.go
  apps/api/internal/api/v1/commands/controller.go
  apps/api/internal/api/v1/commands/helpers.go
  apps/api/internal/api/v1/commands/service.go
  apps/api/internal/api/v1/feedback/controller.go
  apps/api/internal/api/v1/feedback/service.go
  apps/api/internal/api/v1/stats/controller.go
  apps/api/internal/api/v1/stats/service.go
  apps/api/internal/api/v1/v1.go
  apps/api/internal/di/injector.go
  apps/api/internal/interfaces/logger.go
  apps/api/internal/middlewares/attachUser.go
  apps/api/internal/middlewares/validate_body.go
  apps/api/internal/services/redis_storage/cache.go
  apps/api/internal/services/redis_storage/redis.go
  apps/api/internal/types/types.go
  apps/dashboard/services/dashboard/useLocale.ts
  apps/parser/internal/config/redis/redis.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/watched/internal/grpc_impl/grpc_impl.go
  docker-compose.dev.yml
  docker-compose.stack.yml
  libs/config/config.go
  libs/config/src/index.ts
  pnpm-lock.yaml
Due: publish-api, publish-parser

fix(dashboard): set default locale to `en` when unsupported is setted
  apps/dashboard/components/appProvider.tsx
  apps/dashboard/next-i18next.config.js
  apps/dashboard/services/dashboard/useLocale.ts
Due: none

fix(dashboard): set default locale to `en` when unsupported is setted
  apps/dashboard/components/appProvider.tsx
  apps/dashboard/next-i18next.config.js
Due: none

feat(api): implement base di
  apps/api/cmd/main.go
  apps/api/internal/api/auth/checkUser.go
  apps/api/internal/api/auth/service.go
  apps/api/internal/api/v1/bot/service.go
  apps/api/internal/api/v1/commands/service.go
  apps/api/internal/api/v1/feedback/service.go
  apps/api/internal/api/v1/greetings/service.go
  apps/api/internal/api/v1/integrations/donationalerts/service.go
  apps/api/internal/api/v1/integrations/faceit/service.go
  apps/api/internal/api/v1/integrations/lastfm/service.go
  apps/api/internal/api/v1/integrations/spotify/service.go
  apps/api/internal/api/v1/integrations/streamlabs/service.go
  apps/api/internal/api/v1/integrations/vk/service.go
  apps/api/internal/api/v1/keywords/service.go
  apps/api/internal/api/v1/moderation/service.go
  apps/api/internal/api/v1/settings/dashboardAccess/service.go
  apps/api/internal/api/v1/stats/service.go
  apps/api/internal/api/v1/timers/service.go
  apps/api/internal/api/v1/variables/service.go
  apps/api/internal/di/di.go
  apps/api/internal/interfaces/logger.go
  apps/api/internal/middlewares/attachUser.go
  apps/api/internal/types/types.go
Due: publish-api

feat(api): implement base di
  apps/api/cmd/main.go
  apps/api/internal/api/auth/service.go
  apps/api/internal/interfaces/logger.go
  apps/api/internal/middlewares/error_handler.go
Due: publish-api

feat(api): implement base di
  apps/api/cmd/main.go
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/auth/checkUser.go
  apps/api/internal/api/auth/service.go
  apps/api/internal/api/v1/bot/service.go
  apps/api/internal/api/v1/commands/service.go
  apps/api/internal/api/v1/feedback/service.go
  apps/api/internal/api/v1/greetings/service.go
  apps/api/internal/api/v1/integrations/donationalerts/service.go
  apps/api/internal/api/v1/integrations/faceit/service.go
  apps/api/internal/api/v1/integrations/lastfm/service.go
  apps/api/internal/api/v1/integrations/spotify/service.go
  apps/api/internal/api/v1/integrations/streamlabs/service.go
  apps/api/internal/api/v1/integrations/vk/service.go
  apps/api/internal/api/v1/keywords/service.go
  apps/api/internal/api/v1/moderation/service.go
  apps/api/internal/api/v1/settings/dashboardAccess/service.go
  apps/api/internal/api/v1/stats/service.go
  apps/api/internal/api/v1/timers/service.go
  apps/api/internal/api/v1/variables/service.go
  apps/api/internal/di/di.go
  apps/api/internal/interfaces/logger.go
  apps/api/internal/middlewares/attachUser.go
  apps/api/internal/middlewares/error_handler.go
  apps/api/internal/types/types.go
  apps/eventsub/src/libs/middleware.ts
Due: publish-api, publish-eventsub

feat(api): adjust commands text limit
  apps/api/internal/api/v1/commands/dto.go
Due: publish-api

refactor(api): use interface for timers
  .idea/runConfigurations/Generate_Docs.xml
  apps/api/cmd/main.go
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/v1/timers/controller.go
  apps/api/internal/api/v1/timers/service.go
  apps/api/internal/interfaces/timers.go
  apps/api/internal/services/timers.go
  libs/gomodels/channels_timers.go
  libs/gomodels/channels_timers_responses.go
Due: publish-api

fix(eventsub): correct import of `ApiClient`
  apps/eventsub/src/libs/middleware.ts
Due: publish-eventsub

fix(timers): correctly use of timer model
  apps/timers/internal/handler/handler.go
Due: none

update
  apps/dashboard/components/dashboard/youtubePlayer.tsx
  apps/dashboard/pages/index.tsx
Due: none

upd Chatting
  apps/dashboard/components/dashboard/youtubePlayer.tsx
Due: none

upd Chatting
  apps/dashboard/components/dashboard/player.tsx
  apps/dashboard/components/dashboard/youtubePlayer.tsx
Due: none

upd chatting
  apps/dashboard/components/dashboard/playerSettings.tsx
  apps/dashboard/package.json
  apps/parser/go.mod
  apps/parser/go.sum
  libs/types/types/api/modules/youtube.go
  pnpm-lock.yaml
Due: publish-parser

upd chatting
  apps/api/internal/api/v1/modules/youtube_sr/controller.go
  apps/api/internal/api/v1/modules/youtube_sr/service.go
  apps/dashboard/components/dashboard/youtube/playerSettings.tsx
  apps/dashboard/services/api/modules/youtube.ts
  libs/types/types/api/modules/youtube.go
Due: publish-api

upd chatting
  apps/api/internal/api/v1/modules/youtube_sr/service.go
  apps/dashboard/components/dashboard/youtube/playerSettings.tsx
Due: publish-api

upd chatting
  apps/dashboard/components/dashboard/youtube/playerSettings.tsx
Due: none

upd chatting
  apps/dashboard/components/dashboard/youtube/playerSettings.tsx
  apps/parser/internal/commands/songrequest/youtube/sr.go
  libs/types/types/api/modules/youtube.go
Due: publish-parser

upd chatting
  apps/api/internal/api/v1/modules/youtube_sr/controller.go
  apps/api/internal/api/v1/modules/youtube_sr/service.go
Due: publish-api

upd chatting
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
Due: publish-api

feat: split commands modules in navbar instead of tabs
  apps/dashboard/components/appProvider.tsx
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/pages/commands.tsx
  apps/dashboard/pages/commands/[[...module]].tsx
  apps/parser/internal/commands/channel/game/game.go
  apps/parser/internal/commands/channel/title/title.go
  apps/parser/internal/commands/nuke/nuke.go
  apps/parser/internal/commands/permit/permit.go
  apps/parser/internal/commands/spam/spam.go
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/migrations/1672304599466-remove_channel_type.ts
Due: publish-migrations, publish-parser

upd Chatting
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/bots/go.sum
  apps/dashboard/components/dashboard/youtube/playerSettings.tsx
  apps/dashboard/pages/songrequests/settings.tsx
  apps/parser/go.mod
  apps/parser/go.sum
  apps/timers/go.mod
  apps/timers/go.sum
  apps/watched/go.mod
  apps/watched/go.sum
  libs/grpc/go.mod
  libs/grpc/go.sum
  libs/ytdl/go.mod
  libs/ytdl/go.sum
Due: publish-api, publish-bots, publish-parser
