Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(api): add `reputation` to select of community users
  apps/api/internal/impl_unprotected/community/community.go
Due: publish-api

fix(scheduler): add where for watched online check
  apps/scheduler/internal/timers/watched.go
Due: publish-scheduler

feat(parser): use asynq for mod action
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/games/duel.go
  apps/parser/internal/commands/games/duel_accept.go
  apps/parser/internal/commands/games/russian_roulette.go
  apps/parser/internal/queue/distributor.go
  apps/parser/internal/queue/payloads.go
  apps/parser/internal/queue/processor.go
  apps/parser/internal/queue/task_mod_user.go
  apps/parser/internal/types/services/services.go
  go.work.sum
Due: publish-parser

chore(stack): rename public to public-page
  docker-compose.stack.yml
Due: none

chore(parser): remove redundant `pretty.Println`
  apps/parser/internal/queue/task_mod_user.go
Due: publish-parser

feat(parser): add weather variable
  apps/parser/internal/variables/variables.go
  apps/parser/internal/variables/weather/weather.go
  libs/config/config.go
Due: publish-parser

chore: rename api key
  .env.example
  apps/parser/internal/variables/weather/weather.go
  libs/config/config.go
Due: publish-parser

chore: cleanup
  apps/parser/internal/variables/weather/weather.go
Due: publish-parser

fix(parser): correctly uppercase first letter of weather description
  apps/parser/internal/variables/weather/weather.go
Due: publish-parser

feat(parser): weather variable (#483)
  .env.example
  apps/parser/internal/variables/variables.go
  apps/parser/internal/variables/weather/weather.go
  libs/config/config.go
Due: publish-parser

chore(parser): change `weather` variable description and example
  apps/parser/internal/variables/weather/weather.go
Due: publish-parser

feat(overlays): chat direction
  apps/api/internal/impl_protected/overlays/chat.go
  frontend/dashboard/package.json
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
  frontend/overlays/package.json
  frontend/overlays/src/pages/overlays/chat.vue
  frontend/overlays/src/sockets/chat_overlay.ts
  frontend/public-page/package.json
  libs/frontend-chat/package.json
  libs/frontend-chat/src/chatBox.vue
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/helpers.ts
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/styles/clean.vue
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/overlays_chat.proto
  libs/migrations/migrations/20231215182749_add_chat_overlay_direction.sql
  pnpm-lock.yaml
Due: publish-api

fix: action me
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/helpers.ts
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/styles/clean.vue
Due: none

chore: add locales
  apps/api/internal/impl_protected/overlays/chat.go
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
  frontend/overlays/src/sockets/chat_overlay.ts
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/overlays_chat.proto
Due: publish-api

upd rageywide
  libs/frontend-chat/src/chatBox.vue
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/styles/clean.vue
Due: none

chore(tokens): adjust shift of token expiration
  apps/tokens/internal/grpc_impl/helpers.go
Due: none

chore(dashboard): use notifications instead of messages on chatalerts
  frontend/dashboard/src/pages/ChatAlerts.vue
Due: none

fix: word break
  libs/frontend-chat/src/chatBox.vue
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/helpers.ts
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/styles/clean.vue
Due: none

feat(libs): fontsource api, font selector
  frontend/dashboard/package.json
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
  frontend/landing/package.json
  frontend/overlays/package.json
  frontend/public-page/package.json
  libs/fontsource/package.json
  libs/fontsource/src/components/font-selector.vue
  libs/fontsource/src/composable/use-fontsource.ts
  libs/fontsource/src/constants.ts
  libs/fontsource/src/helpers.ts
  libs/fontsource/src/index.ts
  libs/fontsource/src/types.ts
  libs/fontsource/tsconfig.json
  libs/frontend-chat/package.json
  pnpm-lock.yaml
Due: none

feat(overlays): chat directions (#484)
  apps/api/internal/impl_protected/overlays/chat.go
  frontend/dashboard/package.json
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
  frontend/overlays/package.json
  frontend/overlays/src/pages/overlays/chat.vue
  frontend/overlays/src/sockets/chat_overlay.ts
  frontend/public-page/package.json
  libs/frontend-chat/package.json
  libs/frontend-chat/src/chatBox.vue
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/helpers.ts
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/styles/clean.vue
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/overlays_chat.proto
  libs/migrations/migrations/20231215182749_add_chat_overlay_direction.sql
  pnpm-lock.yaml
Due: publish-api

upd rageywide
  .env.example
  apps/api/internal/impl_protected/overlays/chat.go
  apps/api/internal/impl_unprotected/google_fonts/google_fonts.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/api/internal/twirp_handlers/unprotected_handler.go
  frontend/dashboard/src/api/googleFonts.ts
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/components/fontSelector.vue
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/main.css
  frontend/dashboard/src/pages/overlays/brb/Brb.vue
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
  frontend/overlays/package.json
  frontend/overlays/src/pages/overlays/brb/ticker.vue
  frontend/public-page/package.json
  frontend/public-page/src/style.css
  libs/config/config.go
  libs/fontsource/src/api.ts
  libs/fontsource/src/components/font-selector.vue
  libs/fontsource/src/composable/use-fontsource.ts
  libs/fontsource/src/helpers.ts
  libs/fontsource/src/index.ts
  libs/fontsource/src/types.ts
  libs/frontend-chat/package.json
  libs/frontend-chat/src/chatBox.vue
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/types.ts
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/google_fonts_unprotected.proto
  libs/grpc/protos/api/overlays_chat.proto
  libs/migrations/migrations/20231217082341_add_chat_overlay_font_settings.sql
  libs/migrations/migrations/20231217083336_delete_reverse_message_from_chat_overlay.sql
  pnpm-lock.yaml
Due: publish-api

Kruto
  docker-compose.stack.yml
Due: none

fix(events): add missed online check in workflow
  apps/events/internal/workflows/events_flow.go
Due: none

fix(events): add missed grpc events
  apps/events/internal/grpc_impl/grpc_impl.go
Due: none

refactor(timers): refactor to temporal
  apps/timers/cmd/main.go
  apps/timers/internal/activity/activity.go
  apps/timers/internal/grpc_server/grpc_server.go
  apps/timers/internal/queue/handler.go
  apps/timers/internal/queue/queue.go
  apps/timers/internal/queue/queue_add.go
  apps/timers/internal/queue/queue_remove.go
  apps/timers/internal/shared/shared.go
  apps/timers/internal/worker/worker.go
  apps/timers/internal/workflow/manage.go
  apps/timers/internal/workflow/workflow.go
Due: none

Krutoy kostil
  apps/timers/cmd/main.go
  apps/timers/internal/activity/activity.go
  apps/timers/internal/redis/redis.go
  apps/timers/internal/workflow/workflow.go
Due: none

Kruto
  apps/api/internal/impl_protected/timers/timers.go
Due: publish-api

Kruto
  apps/timers/go.mod
  apps/timers/go.sum
Due: none

refactor(timers): refactor to temporal (#489)
  apps/api/internal/impl_protected/timers/timers.go
  apps/timers/cmd/main.go
  apps/timers/go.mod
  apps/timers/go.sum
  apps/timers/internal/activity/activity.go
  apps/timers/internal/grpc_server/grpc_server.go
  apps/timers/internal/queue/handler.go
  apps/timers/internal/queue/queue.go
  apps/timers/internal/queue/queue_add.go
  apps/timers/internal/queue/queue_remove.go
  apps/timers/internal/redis/redis.go
  apps/timers/internal/shared/shared.go
  apps/timers/internal/worker/worker.go
  apps/timers/internal/workflow/manage.go
  apps/timers/internal/workflow/workflow.go
Due: publish-api

chore(stack): update timers instance count
  docker-compose.stack.yml
Due: none

chore(timers): one time schedule all timers
  apps/timers/cmd/main.go
  apps/timers/internal/s/s.go
  apps/timers/internal/worker/worker.go
Due: none

chore(timers): remove one time schedule
  apps/timers/cmd/main.go
  apps/timers/internal/s/s.go
Due: none

chore(stack): adjust timers replicas
  docker-compose.stack.yml
Due: none

fix(overlays): correct display of texts in chat overlay for different styles
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/helpers.ts
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/styles/clean.vue
Due: none

chore(dashboard): add chat overlay warning
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
Due: none

refactor(tokens): rewrite to `fx` as dependency manager
  apps/tokens/cmd/main.go
  apps/tokens/internal/di/di.go
  apps/tokens/internal/gorm/gorm.go
  apps/tokens/internal/grpc_impl/grpc_impl.go
  apps/tokens/internal/redis/redis.go
Due: none
