Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

add badges filtering
  apps/api/internal/impl_admin/users/users.go
  apps/api/internal/impl_protected/auth/user.go
  frontend/dashboard/src/features/admin-panel/manage-users/components/users-table-search.vue
  frontend/dashboard/src/features/admin-panel/manage-users/composables/use-users-table-filters.ts
  frontend/dashboard/src/features/admin-panel/manage-users/composables/use-users-table.ts
  libs/api/messages/admin_users/admin_users.proto
Due: publish-api

simplify check applied
  frontend/dashboard/src/features/admin-panel/manage-users/components/users-table-search.vue
Due: none

fix badge list filter select
  frontend/dashboard/src/features/admin-panel/manage-badges/components/badges-list.vue
Due: none

disable outline in page layout, and fix border on light
  frontend/dashboard/src/layout/page-layout.vue
Due: none

add pointer cursor to clear filters
  frontend/dashboard/src/features/admin-panel/manage-users/components/users-table-search.vue
Due: none

pagination for admin notifications
  apps/api/internal/impl_admin/notifications/notifications.go
  frontend/dashboard/src/features/admin-panel/notifications/composables/use-notifications-table.ts
  libs/api/api.proto
  libs/api/messages/admin_notifications/admin_notifications.proto
  libs/gomodels/notifications.go
Due: publish-api

feat(dashboard): add automatic save call for kappagen
  frontend/dashboard/package.json
  frontend/dashboard/src/components/ui/sonner/Sonner.vue
  frontend/dashboard/src/components/ui/sonner/index.ts
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/pages/overlays/kappagen/Kappagen.vue
  pnpm-lock.yaml
Due: none

chore(dashboard): add copy icon for kappagen
  frontend/dashboard/src/pages/overlays/kappagen/Kappagen.vue
Due: none

feat(parser): add dudes color reset
  apps/parser/internal/commands/dudes/color.go
Due: publish-parser

feat: hide current track after timeout
  apps/api/internal/impl_protected/overlays/now_playing.go
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-form.vue
  frontend/dashboard/src/pages/overlays/now-playing/use-now-playing-form.ts
  libs/api/messages/overlays_now_playing/overlays_now_playing.proto
  libs/gomodels/channel_overlays_nowplaying.go
  libs/migrations/migrations/20240407152954_now_playing_hide_timeout.sql
Due: publish-api

debounced
  frontend/overlays/src/composables/now-playing/use-now-playing-socket.ts
  frontend/overlays/src/pages/overlays/now-playing.vue
Due: none

upd
  frontend/overlays/src/pages/overlays/now-playing.vue
Due: none

feat: hide current track after timeout (#682)
  apps/api/internal/impl_protected/overlays/now_playing.go
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-form.vue
  frontend/dashboard/src/pages/overlays/now-playing/use-now-playing-form.ts
  frontend/overlays/src/composables/now-playing/use-now-playing-socket.ts
  frontend/overlays/src/pages/overlays/now-playing.vue
  libs/api/messages/overlays_now_playing/overlays_now_playing.proto
  libs/gomodels/channel_overlays_nowplaying.go
  libs/migrations/migrations/20240407152954_now_playing_hide_timeout.sql
Due: publish-api

add filtering by type(global/user) for notifications
  apps/api/internal/impl_admin/notifications/notifications.go
  frontend/dashboard/src/features/admin-panel/manage-badges/components/badges-list.vue
  frontend/dashboard/src/features/admin-panel/notifications/composables/use-notifications-table.ts
  frontend/dashboard/src/locales/en.json
  libs/api/messages/admin_notifications/admin_notifications.proto
Due: publish-api

notifications search
  apps/api/internal/impl_admin/notifications/notifications.go
  frontend/dashboard/src/features/admin-panel/notifications/composables/use-notifications-table.ts
  libs/api/messages/admin_notifications/admin_notifications.proto
Due: publish-api

notifications search
  frontend/dashboard/package.json
Due: none

upd
  frontend/dashboard/src/layout/layout.vue
Due: none

gql test
  .graphqlrc.yml
  .vscode/extensions.json
  apps/api-gql-frontend/.gitignore
  apps/api-gql-frontend/.vscode/extensions.json
  apps/api-gql-frontend/README.md
  apps/api-gql-frontend/codegen.ts
  apps/api-gql-frontend/index.html
  apps/api-gql-frontend/package.json
  apps/api-gql-frontend/public/vite.svg
  apps/api-gql-frontend/src/App.vue
  apps/api-gql-frontend/src/assets/vue.svg
  apps/api-gql-frontend/src/components/HelloWorld.vue
  apps/api-gql-frontend/src/gql/fragment-masking.ts
  apps/api-gql-frontend/src/gql/gql.ts
  apps/api-gql-frontend/src/gql/graphql.ts
  apps/api-gql-frontend/src/gql/index.ts
  apps/api-gql-frontend/src/main.ts
  apps/api-gql-frontend/src/style.css
  apps/api-gql-frontend/src/vite-env.d.ts
  apps/api-gql-frontend/tsconfig.json
  apps/api-gql-frontend/tsconfig.node.json
  apps/api-gql-frontend/vite.config.ts
  apps/api-gql/cmd/main.go
  apps/api-gql/go.mod
  apps/api-gql/go.sum
  apps/api-gql/gqlgen.yml
  apps/api-gql/graph/commands.resolvers.go
  apps/api-gql/graph/generated.go
  apps/api-gql/graph/model/models_gen.go
  apps/api-gql/graph/notifications.resolvers.go
  apps/api-gql/graph/resolver.go
  apps/api-gql/graph/schema.resolvers.go
  apps/api-gql/schema/commands.graphqls
  apps/api-gql/schema/notifications.graphqls
  apps/api-gql/schema/schema.graphqls
  apps/api-gql/tools/tools.go
  go.work
  go.work.sum
  pnpm-lock.yaml
Due: none

upd
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/created-at-tooltip.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-form.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-table-actions.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-table.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-form.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-table.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-streamers.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-textarea.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/manage-notifications.vue
  frontend/dashboard/src/pages/admin-panel.vue
Due: none

upd
  frontend/dashboard/src/components/search-bar.vue
  frontend/dashboard/src/components/ui/card/Card.vue
  frontend/dashboard/src/components/ui/card/CardContent.vue
  frontend/dashboard/src/components/ui/card/CardDescription.vue
  frontend/dashboard/src/components/ui/card/CardFooter.vue
  frontend/dashboard/src/components/ui/card/CardHeader.vue
  frontend/dashboard/src/components/ui/card/CardTitle.vue
  frontend/dashboard/src/components/ui/card/index.ts
  frontend/dashboard/src/features/admin-panel/manage-badges/components/badges-list.vue
  frontend/dashboard/src/features/admin-panel/manage-badges/components/badges-preview.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-table-pagination.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-table-search.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-table.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-table.ts
  frontend/dashboard/src/features/admin-panel/manage-users/components/users-table-search.vue
  frontend/dashboard/src/features/admin-panel/manage-users/composables/use-users-table-filters.ts
Due: none

upd
  frontend/dashboard/src/features/admin-panel/manage-badges/components/badges-list.vue
Due: none

upd
  frontend/dashboard/src/api/admin/badges.ts
  frontend/dashboard/src/api/admin/notifications.ts
  frontend/dashboard/src/api/admin/streamers.ts
  frontend/dashboard/src/api/admin/users.ts
  frontend/dashboard/src/composables/use-pagination.ts
  frontend/dashboard/src/features/admin-panel/manage-badges/composables/use-badges.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-table-pagination.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-table-search.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-filters.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-form.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-table.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-streamers.ts
  frontend/dashboard/src/features/admin-panel/manage-users/composables/use-users-actions.ts
  frontend/dashboard/src/features/admin-panel/manage-users/composables/use-users-table.ts
  frontend/dashboard/src/layout/buttons/button-notifications.vue
Due: none

upd
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-filters.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-table.ts
Due: none

upd
  frontend/dashboard/src/features/admin-panel/manage-badges/components/badges-list.vue
  frontend/dashboard/src/locales/en.json
Due: none

upd [skip-ci]
  frontend/dashboard/src/features/admin-panel/manage-notifications/components/notifications-table-search.vue
Due: none

upd
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-table.ts
Due: none

notification pagination
  apps/api/internal/impl_admin/notifications/notifications.go
  frontend/dashboard/src/api/crud.ts
  frontend/dashboard/src/features/admin-panel/manage-notifications/composables/use-notifications-table.ts
Due: publish-api

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

kruto
  apps/api-gql-frontend/src/App.vue
  apps/api-gql-frontend/src/gql/gql.ts
  apps/api-gql-frontend/src/gql/graphql.ts
  apps/api-gql-frontend/src/main.ts
  apps/api-gql-frontend/vite.config.ts
  apps/api-gql/cmd/main.go
  apps/api-gql/go.mod
  apps/api-gql/go.sum
  apps/api-gql/gqlgen.yml
  apps/api-gql/gqlmodel/gqlmodel.go
  apps/api-gql/graph/commands.resolvers.go
  apps/api-gql/graph/generated.go
  apps/api-gql/graph/model/models_gen.go
  apps/api-gql/graph/notifications.resolvers.go
  apps/api-gql/graph/schema.resolvers.go
  apps/api-gql/internal/sessions/get-user.go
  apps/api-gql/internal/sessions/sessions.go
  apps/api-gql/resolvers/commands.resolver.go
  apps/api-gql/resolvers/notifications.resolver.go
  apps/api-gql/resolvers/resolver.go
  apps/api-gql/resolvers/schema.resolver.go
  apps/api-gql/resolvers/user.resolver.go
  apps/api-gql/schema/commands.graphqls
  apps/api-gql/schema/schema.graphqls
  apps/api-gql/schema/user.graphqls
  go.work.sum
Due: none

kruto
  apps/api-gql-frontend/package.json
  apps/api-gql-frontend/src/App.vue
  apps/api-gql-frontend/src/gql/gql.ts
  apps/api-gql-frontend/src/gql/graphql.ts
  apps/api-gql-frontend/src/main.ts
  apps/api-gql-frontend/vite.config.ts
  apps/api-gql/cmd/main.go
  apps/api-gql/gqlmodel/gqlmodel.go
  apps/api-gql/graph/generated.go
  apps/api-gql/internal/sessions/get-user.go
  apps/api-gql/resolvers/commands.resolver.go
  apps/api-gql/resolvers/resolver.go
  apps/api-gql/schema/commands.graphqls
  pnpm-lock.yaml
Due: none

kruto
  apps/api-gql-frontend/src/main.ts
  apps/api-gql-frontend/vite.config.ts
  apps/api-gql/cmd/main.go
  apps/api-gql/go.mod
  apps/api-gql/go.sum
  apps/api-gql/internal/gqlhandler/gql.go
  apps/api-gql/internal/router/router.go
  go.work.sum
Due: none

kruto
  apps/api-gql/internal/gqlhandler/gql.go
Due: none
