Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

feat(dashboard): add search input to greetins
  frontend/dashboard/pages/greetings.tsx
Due: none

chore(integrations): add ping to `donatepay` integration
  apps/integrations/src/services/donatepay.ts
Due: none

feat(integrations): add donatello integration
  apps/api/internal/api/v1/integrations/donatello/donatello.go
  apps/api/internal/api/v1/integrations/donatello/dto.go
  apps/api/internal/api/v1/integrations/donatello/service.go
  apps/api/internal/api/v1/v1.go
  apps/integrations/src/index.ts
  apps/integrations/src/services/donatello.ts
  frontend/dashboard/components/integrations/donatello.tsx
  frontend/dashboard/pages/integrations.tsx
  frontend/dashboard/services/api/integrations/donatello.ts
  libs/typeorm/src/entities/Integration.ts
  libs/typeorm/src/entities/channelEvents/Donation.ts
  libs/typeorm/src/migrations/1675260985309-events_donations_add_donate_id_column.ts
  libs/typeorm/src/migrations/1675261773701-events_donations_make_donate_id_unique.ts
  libs/typeorm/src/migrations/1675262407192-add_missed_service_to_enum.ts
Due: publish-api, publish-migrations

feat(parser): add shoutout command
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/auth/controller.go
  apps/api/internal/api/v1/bot/service.go
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/message_moderation.go
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/shoutout/shoutout.go
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/watched/go.mod
  apps/watched/go.sum
  go.work.sum
  libs/twitch/go.mod
  libs/twitch/go.sum
Due: publish-api, publish-bots, publish-parser

feat(parser): add `$top.watched` variable
  apps/parser/internal/variables/top/top.go
  apps/parser/internal/variables/top/watched/watched.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

chore: use reflex instead of `nodemon` for file watching and restart
  .devcontainer/Dockerfile
  apps/api/Taskfile.yml
  apps/bots/Taskfile.yml
  apps/dota/nodemon.json
  apps/dota/package.json
  apps/emotes-cacher/Taskfile.yml
  apps/eval/nodemon.json
  apps/eval/package.json
  apps/eventsub/nodemon.json
  apps/eventsub/package.json
  apps/integrations/nodemon.json
  apps/integrations/package.json
  apps/parser/Taskfile.yml
  apps/scheduler/nodemon.json
  apps/scheduler/package.json
  apps/streamstatus/nodemon.json
  apps/streamstatus/package.json
  apps/timers/Taskfile.yml
  apps/tokens/Taskfile.yml
  apps/watched/Taskfile.yml
  apps/websockets/package.json
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

fix(bots): add missed go-redis dependency
  apps/bots/go.mod
  apps/bots/go.sum
Due: publish-bots

fix(dockerfile): add missed copy of `emotes-cacher` app to golang base
  Dockerfile
Due: none

fix(parser): add `where` statement for `top.emotes` variable
  apps/parser/internal/variables/top/emotes/emotes.go
Due: publish-parser

chore(tokens): add tokens encoder cli
  apps/tokens/cmd/encode/encode.go
Due: none

feat(parser): add `user.top.emotes` variable
  apps/parser/internal/variables/user/top/emotes.go
Due: publish-parser

fix(dashboard): set variables search to empty string after insert
  frontend/dashboard/components/commands/drawer.tsx
Due: none

feat(parser): change format of top emotes variables
  apps/parser/internal/variables/top/emotes/emotes.go
  apps/parser/internal/variables/user/top/emotes.go
Due: publish-parser

chore: use regexp instead of glob for file watcher
  apps/api/Taskfile.yml
  apps/api/nodemon.json
  apps/bots/Taskfile.yml
  apps/bots/nodemon.json
  apps/dota/package.json
  apps/emotes-cacher/Taskfile.yml
  apps/emotes-cacher/nodemon.json
  apps/eval/package.json
  apps/eventsub/package.json
  apps/integrations/package.json
  apps/parser/Taskfile.yml
  apps/parser/nodemon.json
  apps/scheduler/package.json
  apps/streamstatus/package.json
  apps/timers/Taskfile.yml
  apps/timers/nodemon.json
  apps/tokens/Taskfile.yml
  apps/tokens/nodemon.json
  apps/watched/Taskfile.yml
  apps/watched/nodemon.json
  apps/websockets/package.json
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

feat(parser): use ignored users in top variables query
  apps/parser/internal/variables/top/top.go
Due: publish-parser

feat(parser): properly exclude ignored users from top variables
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/variables/top/top.go
  libs/gomodels/users_stats.go
Due: publish-parser

chore(stack): add parallelism config for replicated apps
  docker-compose.stack.yml
Due: none

chore(bots): add bot id logging with wrong token
  apps/bots/internal/bots/client.go
Due: publish-bots

fix(dashboard): use correct display name of spotify account
  frontend/dashboard/components/integrations/spotify.tsx
Due: none

upd RAGEYWIDE
  frontend/dashboard/components/dashboard/bk.ts
  frontend/dashboard/components/dashboard/bot-manage.tsx
  frontend/dashboard/components/dashboard/index.tsx
  frontend/dashboard/package.json
  frontend/dashboard/pages/index.tsx
  pnpm-lock.yaml
Due: none

fix(parser): fix nil pointer in dota `wl` command
  apps/parser/internal/commands/dota/wl_command.go
Due: publish-parser

chore(api): sort commands by name in response
  apps/api/internal/api/v1/commands/helpers.go
  apps/api/internal/api/v1/public/commands/service.go
Due: publish-api

feat(parser): do not show minutes and seconds in `followage` response
  apps/parser/internal/variables/stream/uptime/uptime.go
  apps/parser/internal/variables/user/followage/followage.go
  apps/parser/pkg/helpers/duration.go
Due: publish-parser

fix(parser): use correct params for duration function in `age` variable
  apps/parser/internal/variables/user/age/age.go
Due: publish-parser

feat(parser): change format for top variables
  apps/parser/internal/variables/top/messages/messages.go
  apps/parser/internal/variables/top/watched/watched.go
Due: publish-parser

feat(parser): add `user.followsince` variable
  apps/parser/internal/variables/user/follow/age.go
  apps/parser/internal/variables/user/follow/since.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

feat(public): add aliases to list of commands
  apps/api/internal/api/v1/public/commands/service.go
  frontend/public/package.json
  frontend/public/pages/[channelName]/[[...commands]].tsx
  pnpm-lock.yaml
Due: publish-api

feat: add editable commands descriptions
  apps/api/internal/api/v1/public/commands/service.go
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/public/locales/en/commands.json
  frontend/dashboard/public/locales/ru/commands.json
  frontend/public/pages/[channelName]/[[...commands]].tsx
Due: publish-api

feat(dashboard): adjust height for variables menu in commands
  frontend/dashboard/components/commands/drawer.tsx
Due: none

fix(public): use `@tabler/icons-react` package instead of `@tabler/icons`
  frontend/public/components/layout/sidebar.tsx
  frontend/public/package.json
  pnpm-lock.yaml
Due: none

feat(parser): add customizable top limit
  apps/parser/internal/variables/top/emotes/emotes.go
  apps/parser/internal/variables/top/messages/messages.go
  apps/parser/internal/variables/top/top.go
  apps/parser/internal/variables/top/watched/watched.go
Due: publish-parser

fix(dashboard): remove asterisk for command description field
  frontend/dashboard/components/commands/drawer.tsx
Due: none

feat(dashboard): add default commands description to list
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/package.json
  frontend/dashboard/pages/commands/[[...module]].tsx
  pnpm-lock.yaml
Due: none

fix(dashboard): clear variables search after close dropdown
  frontend/dashboard/components/commands/drawer.tsx
Due: none

fix(dashboard): build issues after upgrade
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/components/song-requests/settings/general.tsx
  frontend/dashboard/components/song-requests/settings/reward.tsx
Due: none

fix(parser): exclude bot from top variables
  apps/parser/internal/variables/top/top.go
Due: publish-parser

fix(api): add missed package
  apps/api/go.mod
  apps/api/go.sum
Due: publish-api
