Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New Crowdin updates (#651)
  frontend/dashboard/src/locales/de.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/sk.json
  frontend/dashboard/src/locales/uk.json
Due: none

feat: nightbot integration migration
  libs/gomodels/integrations.go
  libs/migrations/migrations/20240325093234_nightbot_integraion.sql
  libs/migrations/seeds/integrations.go
Due: none

feat: nightbot integration backend
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/impl_protected/integrations/nightbot.go
  apps/integrations/src/index.js
  apps/integrations/src/libs/db.js
  apps/integrations/src/services/nightbot.js
  apps/integrations/src/store/nightbot.js
  go.work.sum
  libs/api/api.proto
  libs/api/messages/integrations_nightbot/integrations_nightbot.proto
Due: publish-api

feat: nightbot integration frontend
  frontend/dashboard/src/api/integrations/index.ts
  frontend/dashboard/src/api/integrations/nightbot.ts
  frontend/dashboard/src/api/integrations/oauth.ts
  frontend/dashboard/src/assets/integrations/nightbot.png
  frontend/dashboard/src/assets/integrations/nightbot.svg
  frontend/dashboard/src/components/commands/importModal.vue
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/components/integrations/nightbot.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Integrations.vue
  frontend/dashboard/src/pages/IntegrationsCallback.vue
Due: none

chore: miss import
  frontend/dashboard/src/api/integrations/oauth.ts
Due: none

chore(kappagen): bump `@twirapp/kappagen`
  frontend/overlays/package.json
  frontend/overlays/src/pages/overlays/kappagen.vue
  pnpm-lock.yaml
Due: none

chore: some fixes
  apps/api/internal/impl_protected/integrations/nightbot.go
  apps/integrations/src/index.js
  apps/integrations/src/libs/db.js
  apps/integrations/src/services/nightbot.js
  apps/integrations/src/store/nightbot.js
  frontend/dashboard/src/components/integrations/nightbot.vue
Due: publish-api

feat: nightbot timers import, buf fixes, tokens refreshing
  apps/api/internal/impl_protected/integrations/nightbot.go
  frontend/dashboard/src/api/integrations/nightbot.ts
  frontend/dashboard/src/components/timers/importModal.vue
  frontend/dashboard/src/pages/Timers.vue
  libs/api/api.proto
  libs/api/messages/integrations_nightbot/integrations_nightbot.proto
Due: publish-api

chore: invalid permissions
  frontend/dashboard/src/components/commands/importModal.vue
  frontend/dashboard/src/components/timers/importModal.vue
Due: none

chore: migration fix
  libs/gomodels/channel_role.go
  libs/migrations/migrations/20240318125351_channel_giveaways.sql
Due: none

fix(parser): use mentions for touser variable
  apps/parser/internal/variables/to_user/to_user.go
Due: publish-parser

feat(dashboard): add search of variables to text input
  frontend/dashboard/src/components/textWithVariables.vue
Due: none

fix(api): use correct currency for donatello webhook
  apps/api/internal/webhooks/donatello.go
Due: publish-api

feat: nightbot import (#652)
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/impl_protected/integrations/nightbot.go
  apps/integrations/src/index.js
  frontend/dashboard/src/api/integrations/index.ts
  frontend/dashboard/src/api/integrations/nightbot.ts
  frontend/dashboard/src/api/integrations/oauth.ts
  frontend/dashboard/src/assets/integrations/nightbot.png
  frontend/dashboard/src/assets/integrations/nightbot.svg
  frontend/dashboard/src/components/commands/importModal.vue
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/components/integrations/nightbot.vue
  frontend/dashboard/src/components/timers/importModal.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Integrations.vue
  frontend/dashboard/src/pages/IntegrationsCallback.vue
  frontend/dashboard/src/pages/Timers.vue
  go.work.sum
  libs/api/api.proto
  libs/api/messages/integrations_nightbot/integrations_nightbot.proto
  libs/gomodels/integrations.go
  libs/migrations/migrations/20240325093234_nightbot_integraion.sql
  libs/migrations/seeds/integrations.go
Due: publish-api

refactor(dashboard): move everything to separate page
  apps/api/internal/impl_protected/integrations/nightbot.go
  frontend/dashboard/src/api/integrations/nightbot.ts
  frontend/dashboard/src/assets/integrations/streamelements.svg
  frontend/dashboard/src/components/commands/importModal.vue
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/components/integrations/nightbot.vue
  frontend/dashboard/src/components/integrations/variants/oauth.vue
  frontend/dashboard/src/components/timers/importModal.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Import.vue
  frontend/dashboard/src/pages/Integrations.vue
  frontend/dashboard/src/pages/Timers.vue
  frontend/dashboard/src/pages/import/nightbot.vue
  frontend/dashboard/src/pages/import/streamelements.vue
  frontend/dashboard/src/pages/import/streamlabs.vue
  frontend/dashboard/src/plugins/router.ts
Due: publish-api

fix(dashboard): add missed requires props
  frontend/dashboard/src/pages/import/streamelements.vue
  frontend/dashboard/src/pages/import/streamlabs.vue
Due: none

feat: nightbot import (#652) (#655)
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/impl_protected/integrations/nightbot.go
  apps/integrations/src/index.js
  frontend/dashboard/src/api/integrations/index.ts
  frontend/dashboard/src/api/integrations/nightbot.ts
  frontend/dashboard/src/api/integrations/oauth.ts
  frontend/dashboard/src/assets/integrations/nightbot.png
  frontend/dashboard/src/assets/integrations/nightbot.svg
  frontend/dashboard/src/assets/integrations/streamelements.svg
  frontend/dashboard/src/components/integrations/variants/oauth.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Import.vue
  frontend/dashboard/src/pages/IntegrationsCallback.vue
  frontend/dashboard/src/pages/Timers.vue
  frontend/dashboard/src/pages/import/nightbot.vue
  frontend/dashboard/src/pages/import/streamelements.vue
  frontend/dashboard/src/pages/import/streamlabs.vue
  frontend/dashboard/src/plugins/router.ts
  go.work.sum
  libs/api/api.proto
  libs/api/messages/integrations_nightbot/integrations_nightbot.proto
  libs/gomodels/integrations.go
  libs/migrations/migrations/20240325093234_nightbot_integraion.sql
  libs/migrations/seeds/integrations.go
Due: publish-api

chore(dashboard): add missed timers cache invalidate on nightbot import mutate
  frontend/dashboard/src/api/integrations/nightbot.ts
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

fix(dashboard): correct integrations profile width and height
  frontend/dashboard/src/components/integrations/variants/oauth.vue
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

chore(kappagen): bump `@twirapp/kappagen` (#653)
  frontend/overlays/package.json
  frontend/overlays/src/pages/overlays/kappagen.vue
  pnpm-lock.yaml
Due: none

fix(dashboard): use `nightbotTimersImporter` for timers import of nightbot loading state
  frontend/dashboard/src/pages/import/nightbot.vue
Due: none

feat(api): map command aliases in nightbot import
  apps/api/internal/impl_protected/integrations/nightbot.go
Due: publish-api

chore(dashboard): remove redundant logging of response
  apps/api/internal/impl_protected/integrations/nightbot.go
Due: publish-api

fix(dashboard): probably fix resize issues on dashboard page
  frontend/dashboard/src/components/dashboard/chat.vue
  frontend/dashboard/src/components/dashboard/widgets.ts
  frontend/dashboard/src/pages/Dashboard.vue
Due: none

fix(dashboard): probably fix resize issues on dashboard page
  frontend/dashboard/src/pages/Dashboard.vue
Due: none

feat(dashboard): move bot status to main page
  frontend/dashboard/src/components/dashboard/bot-status.vue
  frontend/dashboard/src/layout/components/BotStatus.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/pages/Dashboard.vue
Due: none

feat(dashboard): refactor events list for no events case
  frontend/dashboard/src/components/dashboard/events.vue
Due: none

fix(dashboard): do not show bot status alert if data not fetched
  frontend/dashboard/src/components/dashboard/bot-status.vue
Due: none

fix(timers): use redis for store last sended message
  apps/timers/internal/activity/activity.go
  apps/timers/internal/workflow/workflow.go
Due: none

feat(dashboard): variable input
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/greetings/modal.vue
  frontend/dashboard/src/components/keywords/modal.vue
  frontend/dashboard/src/components/textWithVariables.vue
  frontend/dashboard/src/components/variable-input.vue
  frontend/dashboard/src/locales/en.json
Due: none
