Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(web): add missed lib into installer docker step
  web/Dockerfile
Due: none

fix(web): remove faceit stats from nuxt config
  web/Dockerfile
  web/nuxt.config.ts
Due: none

core(ci): use correct caches for web and migrations
  .github/workflows/dockerv3.yml
Due: none

fix(dashboard): add missed connection check
  frontend/dashboard/src/components/integrations/valorant.vue
  frontend/dashboard/src/features/overlays/valorant-stats/builder.vue
  frontend/dashboard/src/features/overlays/valorant-stats/overlay.vue
  libs/frontend-valorant-stats/src/widget.vue
Due: none

fix(libs): add missed baseurl for faceit widget
  libs/frontend-valorant-stats/src/widget.vue
Due: none

fix(api-gql): correctly select dashboardId for valorant stats
  apps/api-gql/internal/delivery/http/routes/integrations/valorant/valorant.go
Due: none

chore(libs): fetch data every 1 second for valorant widget
  libs/frontend-valorant-stats/src/widget.vue
Due: none

fix(api-gql): correct selected dashboard id for streams endpoint
  apps/api-gql/internal/delivery/http/routes/stream/stream.go
Due: none

fix(libs): correct filter by correct matches in valorant stats
  libs/frontend-valorant-stats/src/widget.vue
Due: none

chore: upgrade bun to 1.2.21
  .bun-version
  package.json
Due: none

perf(eventsub): do not re-request prefix from db when prefix not set
  apps/eventsub/internal/handler/chat_message.go
Due: publish-eventsub

fix: default colors and z-index for valorant widget, font, height and font size for switch toggle
  frontend/dashboard/src/components/ui/switch/SwitchToggle.vue
  libs/frontend-valorant-stats/src/widget.vue
Due: none

perf: use in-memory cache for command prefix instead of redis
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/bus-listener/bus-listener.go
  apps/api-gql/internal/delivery/gql/resolvers/bot-settings.resolver.go
  apps/api-gql/internal/services/channels_commands_prefix/channels_commands_prefix.go
  apps/bots/internal/bus-listener/bus-listener.go
  apps/eventsub/app/app.go
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/handler/chat_message.go
  apps/eventsub/internal/handler/handler.go
  apps/parser/cmd/main.go
  apps/parser/internal/bot-settings-bus/bot-settings-bus.go
  apps/parser/internal/commands/prefix/setprefix.go
  apps/parser/internal/commands/spam/spam.go
  apps/parser/internal/types/services/services.go
  libs/bus-core/audit-logs/audit_logs.go
  libs/bus-core/bots-settings/bots_settings.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/cache/cache.go
  libs/cache/channels_commands_prefix/channels_commands_prefix.go
  libs/cache/generic-cacher/db-generic-cacher.go
  libs/cache/go.mod
  libs/cache/in_memory.go
  libs/cache/redis.go
Due: publish-bots, publish-eventsub, publish-parser

feat: create channel command prefix in cache loader if it's not exists yet
  apps/api-gql/internal/delivery/gql/resolvers/bot-settings.resolver.go
  apps/api-gql/internal/services/channels_commands_prefix/channels_commands_prefix.go
  apps/parser/internal/commands/prefix/setprefix.go
  libs/cache/channels_commands_prefix/channels_commands_prefix.go
  libs/repositories/channels_commands_prefix/errors.go
  libs/repositories/channels_commands_prefix/pgx/pgx.go
  libs/repositories/postgres_error_codes.go
Due: publish-parser

chore(web): add valorant stats to overlays
  web/layers/landing/components/index/features/features-data.ts
Due: none

fix(api): correctly import commands from nightbot
  apps/api/internal/impl_protected/integrations/nightbot.go
Due: publish-api

fix(api): remove not needed henrik api request on valorant link
  apps/api/internal/impl_protected/integrations/valorant.go
Due: publish-api

chore(overlays): add inter font in overlay page
  web/layers/overlays/pages/o/[apiKey]/valorant-stats.client.vue
Due: none

fix(parser): make repeat variable work only for moderators and subscribers
  apps/parser/internal/variables/repeat/repeat.go
Due: publish-parser

feat(parser): add user db object to variables context
  apps/parser/internal/commands/commands.go
  apps/parser/internal/types/parse_context.go
  apps/parser/internal/variables/repeat/repeat.go
Due: publish-parser

fix: auth link in valorant stats builder
  frontend/dashboard/src/features/overlays/valorant-stats/builder.vue
Due: none

fix(valorant-overlay): more explicit font specification in css
  libs/frontend-valorant-stats/src/types.ts
  libs/frontend-valorant-stats/src/widget.vue
  web/layers/overlays/pages/o/[apiKey]/valorant-stats.client.vue
Due: none

chore: remove overlayFont from valorant-stats composables
  frontend/dashboard/src/features/overlays/valorant-stats/composables/use-valorant-stats.ts
Due: none

chore(overlays): add inter font in overlay page (#861)
  frontend/dashboard/src/features/overlays/valorant-stats/builder.vue
  frontend/dashboard/src/features/overlays/valorant-stats/composables/use-valorant-stats.ts
  libs/frontend-valorant-stats/src/types.ts
  libs/frontend-valorant-stats/src/widget.vue
Due: none

chore(events): correct start log
  apps/events/app/app.go
Due: none

Revert "fix(api): remove not needed henrik api request on valorant link"
  apps/api/internal/impl_protected/integrations/valorant.go
Due: publish-api

refactor(parser): use repository for tts settings
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/tts/disable.go
  apps/parser/internal/commands/tts/enable.go
  apps/parser/internal/commands/tts/helpers.go
  apps/parser/internal/commands/tts/pitch.go
  apps/parser/internal/commands/tts/rate.go
  apps/parser/internal/commands/tts/say.go
  apps/parser/internal/commands/tts/voice.go
  apps/parser/internal/commands/tts/voices.go
  apps/parser/internal/commands/tts/volume.go
  apps/parser/internal/types/services/services.go
  libs/repositories/channels_modules_settings_tts/channels_modules_settings_tts.go
  libs/repositories/channels_modules_settings_tts/errors.go
  libs/repositories/channels_modules_settings_tts/model/model.go
  libs/repositories/channels_modules_settings_tts/postgres/postgres.go
Due: publish-parser

refactor(parser): use service for tts
  apps/parser/cmd/main.go
  apps/parser/internal/commands/tts/disable.go
  apps/parser/internal/commands/tts/enable.go
  apps/parser/internal/commands/tts/helpers.go
  apps/parser/internal/commands/tts/pitch.go
  apps/parser/internal/commands/tts/rate.go
  apps/parser/internal/commands/tts/say.go
  apps/parser/internal/commands/tts/voice.go
  apps/parser/internal/commands/tts/voices.go
  apps/parser/internal/commands/tts/volume.go
  apps/parser/internal/services/tts/service.go
  apps/parser/internal/types/services/services.go
Due: publish-parser

feat: add stream followers variable
  apps/events/app/app.go
  apps/events/internal/chat_alerts/chat_alerts.go
  apps/events/internal/chat_alerts/follow.go
  apps/parser/cmd/main.go
  apps/parser/internal/types/services/services.go
  apps/parser/internal/variables/stream/followers.go
  apps/parser/internal/variables/variables.go
  frontend/dashboard/src/pages/chat-alerts.vue
  libs/repositories/channels_events_list/channels_events_list.go
  libs/repositories/channels_events_list/datasources/postgres/pgx.go
Due: publish-parser

fix(events): correctly replace variables in chat alerts follow handler
  apps/events/internal/chat_alerts/follow.go
Due: none

chore(dashboard): update defaultMessageText for follow chat alert
  frontend/dashboard/src/pages/chat-alerts.vue
Due: none

fix(eventsub): correct condition for raids condition
  apps/eventsub/internal/manager/subscribe.go
Due: publish-eventsub

refactor: remove condition from eventsub_topics
  apps/api-gql/internal/delivery/gql/mappers/admin-actions.go
  apps/api-gql/internal/delivery/gql/resolvers/admin-actions.resolver.go
  apps/api-gql/internal/delivery/gql/schema/admin-actions.graphql
  apps/api-gql/internal/services/admin-actions/admin-actions.go
  frontend/dashboard/src/features/admin-panel/actions/ui/eventsub-subscribe.vue
  libs/bus-core/eventsub/eventsub.go
  libs/gomodels/eventsub_topic.go
  libs/migrations/postgres/20250901183620_drop_eventsub_condition.sql
Due: none

fix: correctly handle giveaways
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/schema/giveaways.graphql
  frontend/dashboard/src/api/giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/pages/giveaways-pages-view.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-winners.vue
Due: none

chore(events): add check on empty stream id for followers count in follow event
  apps/events/internal/chat_alerts/follow.go
Due: none

feat: add permissions for keywords
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/keywords.go
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/keywords.resolver.go
  apps/api-gql/internal/delivery/gql/schema/keywords.graphql
  apps/api-gql/internal/entity/keyword.go
  apps/api-gql/internal/services/keywords/create.go
  apps/api-gql/internal/services/keywords/keywords.go
  apps/api-gql/internal/services/keywords/update.go
  apps/api-gql/internal/services/roles/roles.go
  apps/bots/app/app.go
  apps/bots/internal/entity/keywords.go
  apps/bots/internal/messagehandler/handle_keywords.go
  apps/bots/internal/services/keywords/keywords.go
  frontend/dashboard/src/api/keywords.ts
  frontend/dashboard/src/features/commands/ui/form-roles-selector.vue
  frontend/dashboard/src/features/keywords/ui/keywords-dialog.vue
  libs/cache/roles/roles.go
  libs/gomodels/channels_keywords.go
  libs/migrations/postgres/20250901212950_roles_add_permissions.sql
  libs/repositories/keywords/keywords.go
  libs/repositories/keywords/model/model.go
  libs/repositories/keywords/pgx/pgx.go
  libs/repositories/roles/pgx/pgx.go
  libs/repositories/roles/roles.go
Due: publish-bots

fix(dashboard): correct position for variable input in keywords
  frontend/dashboard/src/features/keywords/ui/keywords-dialog.vue
Due: none

fix(dashboard): correct width for roles selector
  frontend/dashboard/src/features/keywords/ui/keywords-dialog.vue
Due: none

feat: add announce color selection
  apps/api-gql/internal/delivery/gql/mappers/timers.go
  apps/api-gql/internal/delivery/gql/resolvers/timers.resolver.go
  apps/api-gql/internal/delivery/gql/schema/timers.graphql
  apps/api-gql/internal/delivery/gql/schema/twitch.graphql
  apps/api-gql/internal/entity/timer.go
  apps/api-gql/internal/services/timers/create.go
  apps/api-gql/internal/services/timers/timers.go
  apps/api-gql/internal/services/timers/update.go
  apps/bots/internal/bus-listener/bus-listener.go
  apps/bots/internal/twitchactions/sendmessage.go
  apps/timers/internal/activity/activity.go
  frontend/dashboard/src/api/timers.ts
  frontend/dashboard/src/features/timers/composables/use-timers-edit.ts
  frontend/dashboard/src/features/timers/timers-edit.vue
  libs/bus-core/bots/bots.go
  libs/gomodels/channels_timers.go
  libs/migrations/postgres/20250902001444_timers_add_announce_color.sql
  libs/repositories/timers/model/model.go
  libs/repositories/timers/pgx/pgx.go
  libs/repositories/timers/timers.go
Due: publish-bots

feat: add random announce color
  apps/api-gql/internal/delivery/gql/mappers/timers.go
  apps/api-gql/internal/delivery/gql/schema/twitch.graphql
  apps/bots/internal/twitchactions/sendmessage.go
  libs/bus-core/bots/bots.go
  libs/repositories/timers/model/model.go
Due: publish-bots
