Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

upd
  apps/api-go/internal/api/auth/controller.go
  apps/api-go/internal/api/auth/service.go
  apps/frontend/src/functions/refreshAccessToken.ts
Due: none

upd
  apps/frontend/src/functions/refreshAccessToken.ts
Due: none

feat: app nav menu
  apps/web/src/components/app/pages/Timers.vue
  apps/web/src/locales/app/en.ts
  apps/web/src/locales/app/interface.ts
  apps/web/src/locales/app/ru.ts
  apps/web/src/pages/app/app.page.vue
  apps/web/src/pages/app/router.ts
  apps/web/src/services/locale/hooks.ts
  libs/ui/components/src/components/TswIcon/icons/SmileChat.ts
  libs/ui/components/src/components/TswIcon/icons/Timer.ts
  libs/ui/components/src/components/TswIcon/icons/index.ts
Due: none

feat: app header
  apps/web/src/pages/app/app.page.client.ts
  apps/web/src/pages/app/app.page.vue
  apps/web/src/pages/index/index.page.server.ts
Due: none

chore: TswDropdown headless component
  apps/web/src/pages/app/app.page.vue
  libs/ui/components/package.json
  libs/ui/components/src/components/TswAvatar/TswAvatar.stories.ts
  libs/ui/components/src/components/TswDropdown/TswDropdown.stories.ts
  libs/ui/components/src/components/TswDropdown/TswDropdown.vue
  libs/ui/components/src/index.ts
  libs/ui/components/src/styles/storybook-preview.postcss
Due: none

chore: api-proxy for fastify production server
  apps/web/package.json
  apps/web/src/server/index.ts
  package.json
  pnpm-lock.yaml
Due: none

chore: TswSwitch component
  libs/ui/components/src/components/TswButton/TswButton.vue
  libs/ui/components/src/components/TswSwitch/TswSwitch.stories.ts
  libs/ui/components/src/components/TswSwitch/TswSwitch.vue
  libs/ui/components/src/components/TswTextInput/TswTextInput.vue
Due: none

chore: update TswLoader component
  libs/ui/components/src/components/TswLoader/TswLoader.vue
  libs/ui/components/src/styles/index.postcss
Due: none

feat: login page improvement
  apps/web/package.json
  apps/web/src/components/landing/layout/HeaderAuthBlock.vue
  apps/web/src/pages/login/index.page.vue
  apps/web/src/services/auth/hooks.ts
  apps/web/src/services/auth/twitch.ts
  libs/ui/components/package.json
  libs/ui/components/src/components/TswIcon/icons/Reload.ts
  libs/ui/components/src/components/TswIcon/icons/index.ts
  libs/ui/components/src/components/TswLoader/TswLoader.vue
Due: none

chore(api): remove redutant fmt log
  apps/api/internal/api/v1/integrations/donationalerts/service.go
Due: publish-api

fix(nats): add `gitkeep` files into directories
  libs/nats/.gitignore
  libs/nats/bots/.gitkeep
  libs/nats/dota/.gitkeep
  libs/nats/eval/.gitkeep
  libs/nats/integrations/.gitkeep
  libs/nats/parser/.gitkeep
  libs/nats/timers/.gitkeep
Due: none

fix(frontend): use default values for integrations if they not exists
  apps/frontend/src/components/integrations/DonationAlerts.vue
  apps/frontend/src/components/integrations/Dota.vue
  apps/frontend/src/components/integrations/FaceIt.vue
  apps/frontend/src/components/integrations/Spotify.vue
  apps/frontend/src/components/integrations/Streamlabs.vue
Due: none

fix(frontend): correctly check data for spotify integration
  apps/frontend/src/components/integrations/Spotify.vue
Due: none

feat(api): add missed creating of user and tokens
  apps/api/internal/api/auth/checkUser.go
  apps/api/internal/api/auth/service.go
  apps/bots/src/libs/nats.ts
  apps/eventsub/package.json
  apps/eventsub/src/eventsub/eventsub.controller.ts
  apps/eventsub/src/eventsub/eventsub.module.ts
  apps/eventsub/src/index.ts
  apps/eventsub/src/libs/nats.ts
  apps/scheduler/src/default-commands-creator/default-commands-creator.module.ts
  apps/scheduler/src/index.ts
  apps/scheduler/src/libs/nats.ts
  libs/gomodels/users.go
  libs/nats/.gitignore
  libs/nats/eventsub/.gitkeep
  libs/nats/eventsub/eventsub.pb.go
  libs/nats/eventsub/eventsub.ts
  libs/nats/package.json
  libs/nats/protos/eventsub.proto
  libs/nats/protos/scheduler.proto
  libs/nats/scheduler/.gitkeep
  libs/nats/subjects.ts
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-eventsub, publish-scheduler

fix
  libs/nats/.gitignore
  libs/nats/eventsub/eventsub.pb.go
  libs/nats/eventsub/eventsub.ts
Due: none

feat(api): add missed creating of user and tokens on auth (#216)
  apps/api/internal/api/auth/checkUser.go
  apps/api/internal/api/auth/service.go
  apps/bots/src/libs/nats.ts
  apps/eventsub/package.json
  apps/eventsub/src/eventsub/eventsub.controller.ts
  apps/eventsub/src/eventsub/eventsub.module.ts
  apps/eventsub/src/index.ts
  apps/eventsub/src/libs/nats.ts
  apps/scheduler/src/default-commands-creator/default-commands-creator.module.ts
  apps/scheduler/src/index.ts
  apps/scheduler/src/libs/nats.ts
  libs/gomodels/users.go
  libs/nats/.gitignore
  libs/nats/eventsub/.gitkeep
  libs/nats/package.json
  libs/nats/protos/eventsub.proto
  libs/nats/protos/scheduler.proto
  libs/nats/scheduler/.gitkeep
  libs/nats/subjects.ts
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-eventsub, publish-scheduler

fix(eventsub): add missed nats lib
  apps/eventsub/Dockerfile
Due: publish-eventsub

feat(api): add missed creating of user and tokens
  libs/nats/eventsub/eventsub.pb.go
  libs/nats/eventsub/eventsub.ts
Due: none

fix(parser): add missed `keepResponsesOrder` field to spam command
  apps/parser/cmd/main.go
  apps/parser/internal/commands/spam/spam.go
  apps/parser/internal/types/types.go
  apps/scheduler/src/default-commands-creator/default-commands-creator.service.ts
  libs/nats/protos/parser.proto
Due: publish-parser, publish-scheduler

fix(integrations): check on not provided username from donationalerts
  apps/integrations/src/services/donationAlerts.ts
Due: none

feat(devbox): install packages only if needed
  devbox/post-install.sh
Due: none

refactor: use docker multistage dockerfile
  .dockerignore
  .github/workflows/docker-api.yml
  .github/workflows/docker-bots.yml
  .github/workflows/docker-dota.yml
  .github/workflows/docker-eval.yml
  .github/workflows/docker-eventsub.yml
  .github/workflows/docker-integrations.yml
  .github/workflows/docker-migrations.yml
  .github/workflows/docker-parser.yml
  .github/workflows/docker-scheduler.yml
  .github/workflows/docker-streamstatus.yml
  .github/workflows/docker-timers.yml
  .github/workflows/docker.yml
  Dockerfile
  apps/api/Dockerfile
  apps/bots/Dockerfile
  apps/dota/Dockerfile
  apps/eval/Dockerfile
  apps/eventsub/Dockerfile
  apps/frontend/pnpm-lock.yaml
  apps/integrations/Dockerfile
  apps/parser/Dockerfile
  apps/scheduler/Dockerfile
  apps/streamstatus/Dockerfile
  apps/timers/Dockerfile
  docker-compose.build.yml
  docker-compose.dev.yml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

upd
  .github/workflows/docker.yml
Due: none

add migrations
  .github/workflows/docker.yml
  Dockerfile
Due: none

run actions only on main and del typeorm dockerfile
  .github/workflows/docker.yml
  libs/typeorm/Dockerfile
Due: publish-migrations

upd
  docker-compose.build.yml
Due: none

upd
  .dockerignore
Due: none

feat(parser): add random phrase variable
  apps/parser/internal/variables/random/phrase/phrase.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

feat(parser): add `command.user.counter` and `command.counter` variables
  apps/parser/internal/commands/commands.go
  apps/parser/internal/handlers/nats/commandsProcess.go
  apps/parser/internal/variables/commands/counter/command.go
  apps/parser/internal/variables/commands/counter/counter.go
  apps/parser/internal/variables/commands/counter/user.go
  apps/parser/internal/variables/variables.go
  apps/parser/internal/variablescache/variablescache.go
Due: publish-parser

chore: remove generated comments of gorm from models
  libs/gomodels/channels_commands_usages.go
  libs/gomodels/model_base.go
Due: none

fix(parser): remove reace condition in replacing variables in parsing
  apps/parser/internal/variables/variables.go
Due: publish-parser

fix(parser): create command usage before parsing command
  apps/parser/internal/commands/commands.go
  apps/parser/internal/handlers/nats/commandsProcess.go
Due: publish-parser

chore(gomodels): add stats to the users model
  libs/gomodels/users.go
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
