Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

docs: add collision migration design
  docs/superpowers/specs/2026-07-20-default-command-collision-migration-design.md
Due: none

fix: skip conflicting default commands
  apps/scheduler/internal/services/commands.go
  apps/scheduler/internal/services/commands_test.go
  docs/superpowers/specs/2026-07-20-default-command-collision-migration-design.md
Due: publish-scheduler

fix: protect default command aliases
  apps/scheduler/internal/services/commands.go
  apps/scheduler/internal/services/commands_test.go
  libs/bus-core/dota/dota_test.go
Due: publish-scheduler

feat: add dota auto predictions
  apps/dota/app/app.go
  apps/dota/internal/match/bus_emitter.go
  apps/dota/internal/match/state_machine.go
  apps/dota/internal/match/state_machine_test.go
  apps/dota/internal/predictions/predictions.go
  apps/dota/internal/predictions/predictions_test.go
  apps/dota/internal/predictions/redis_store.go
  apps/dota/internal/processor/processor_test.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/dota/dota.go
  libs/bus-core/dota/dota_test.go
Due: publish-dota

fix: harden dota prediction persistence
  apps/dota/internal/predictions/predictions.go
  apps/dota/internal/predictions/predictions_test.go
  apps/dota/internal/predictions/redis_store.go
  apps/dota/internal/predictions/redis_store_test.go
Due: publish-dota

fix: recover predictions across replicas
  apps/dota/internal/predictions/predictions.go
  apps/dota/internal/predictions/predictions_test.go
  apps/dota/internal/predictions/redis_store.go
  apps/dota/internal/predictions/redis_store_test.go
  apps/dota/internal/predictions/replica_recovery_test.go
Due: publish-dota

fix: tag managed dota predictions
  apps/dota/internal/predictions/predictions.go
  apps/dota/internal/predictions/predictions_test.go
  apps/dota/internal/predictions/redis_store_test.go
  apps/dota/internal/predictions/replica_recovery_test.go
Due: publish-dota

docs: design multi-replica dota lifecycle
  docs/superpowers/specs/2026-07-21-dota-multi-replica-lifecycle-design.md
Due: none

docs: plan multi-replica dota lifecycle
  docs/superpowers/plans/2026-07-21-dota-multi-replica-lifecycle.md
Due: none

feat: add idempotent dota match settlements
  libs/migrations/postgres/20260720234154_dota_match_settlements.sql
  libs/repositories/dota/pgx/pgx.go
  libs/repositories/dota/pgx/pgx_test.go
  libs/repositories/dota/repository.go
  libs/repositories/dota/repository_test.go
Due: none

test: update dota repository fakes
  apps/dota/internal/buslistener/bus_listener_test.go
  apps/dota/internal/gsi/server_test.go
  apps/dota/internal/match/state_machine_test.go
  apps/dota/internal/processor/processor_test.go
Due: publish-dota

feat: add authoritative dota state store
  apps/dota/internal/match/actions.go
  apps/dota/internal/match/redis_store.go
  apps/dota/internal/match/redis_store_test.go
  apps/dota/internal/match/state_machine.go
Due: publish-dota

chore: add dbx to stack
  docker-compose.stack.yml
Due: none

chore: remove otel collector
  docker-compose.stack.yml
Due: none

fix: validate dota lifecycle actions
  apps/dota/internal/match/redis_store.go
  apps/dota/internal/match/redis_store_test.go
Due: publish-dota

fix: harden dota state CAS
  apps/dota/internal/match/redis_store.go
  apps/dota/internal/match/redis_store_test.go
  apps/dota/internal/match/state_machine.go
Due: publish-dota

fix: fence dota lifecycle stream actions
  apps/dota/internal/match/actions.go
  apps/dota/internal/match/redis_store.go
  apps/dota/internal/match/redis_store_test.go
Due: publish-dota

docs: revise dota lifecycle architecture
  docs/superpowers/specs/2026-07-21-dota-multi-replica-lifecycle-design.md
Due: none

docs: plan transactional dota lifecycle
  docs/superpowers/plans/2026-07-21-dota-multi-replica-lifecycle.md
  docs/superpowers/plans/2026-07-21-dota-postgres-state-outbox.md
Due: none

feat: add transactional dota lifecycle store
  apps/dota/internal/buslistener/bus_listener_test.go
  apps/dota/internal/gsi/server_test.go
  apps/dota/internal/match/state_machine_test.go
  apps/dota/internal/processor/processor_test.go
  libs/migrations/postgres/20260721012653_dota_match_state_outbox.sql
  libs/repositories/dota/model/match_lifecycle.go
  libs/repositories/dota/pgx/match_lifecycle_test.go
  libs/repositories/dota/pgx/pgx.go
  libs/repositories/dota/repository.go
  libs/repositories/dota/repository_test.go
Due: publish-dota

test: strengthen dota outbox contracts
  libs/repositories/dota/pgx/match_lifecycle_test.go
  libs/repositories/dota/repository.go
  libs/repositories/dota/repository_test.go
Due: none

test: exercise dota outbox against postgres
  go.work.sum
  libs/repositories/dota/pgx/pgx_postgres_integration_test.go
  libs/repositories/go.mod
  libs/repositories/go.sum
Due: none

feat(dota): add transactional lifecycle
  apps/dota/app/app.go
  apps/dota/app/app_test.go
  apps/dota/internal/buslistener/bus_listener_test.go
  apps/dota/internal/gsi/server_test.go
  apps/dota/internal/match/actions.go
  apps/dota/internal/match/redis_store.go
  apps/dota/internal/match/redis_store_test.go
  apps/dota/internal/match/state_machine.go
  apps/dota/internal/match/state_machine_test.go
  apps/dota/internal/predictions/lifecycle_worker.go
  apps/dota/internal/predictions/lifecycle_worker_test.go
  apps/dota/internal/predictions/predictions.go
  apps/dota/internal/predictions/predictions_test.go
  apps/dota/internal/predictions/redis_store.go
  apps/dota/internal/predictions/redis_store_test.go
  apps/dota/internal/predictions/replica_recovery_test.go
  apps/dota/internal/processor/processor_test.go
  docs/superpowers/specs/2026-07-21-dota-multi-replica-lifecycle-design.md
  libs/migrations/postgres/20260721012653_dota_match_state_outbox.sql
  libs/repositories/dota/pgx/match_lifecycle_test.go
  libs/repositories/dota/pgx/pgx.go
  libs/repositories/dota/pgx/pgx_postgres_integration_test.go
  libs/repositories/dota/repository.go
  libs/repositories/dota/repository_test.go
Due: publish-dota

fix(web): correctly keep timers form values
  web/layers/dashboard/features/timers/composables/use-timers-edit.ts
  web/layers/dashboard/features/timers/timers-edit.vue
Due: none

feat: public page multiplatform
  apps/api-gql/internal/delivery/gql/mappers/channels.go
  apps/api-gql/internal/delivery/gql/resolvers/channels.resolver.go
  apps/api-gql/internal/delivery/gql/schema/channels.graphql
  apps/parser/internal/commands/spam/spam.go
  libs/migrations/postgres/20260721152050_users_login_citext.sql
  libs/repositories/channels/channels.go
  libs/repositories/channels/model/model.go
  libs/repositories/channels/pgx/pgx.go
  libs/repositories/users/model/model.go
  libs/services/channels/channels.go
  web/layers/public/api/use-streamer-profile.ts
  web/layers/public/pages/p/[platform]/[channelName]/index.vue
  web/layers/public/pages/p/[platform]/[channelName]/songs-requests.vue
  web/layers/public/pages/p/[platform]/[channelName]/tts.vue
  web/layers/public/pages/p/[platform]/[channelName]/users.vue
Due: publish-parser

upd
  go.work.sum
Due: none

upd
  web/layers/dashboard/layout/use-public-page-href.ts
  web/layers/public/api/use-streamer-profile.ts
  web/layers/public/layouts/public.vue
  web/layers/public/layouts/public/public-navigation.vue
Due: none

feat: public page multiplatform (#1003)
  apps/api-gql/internal/delivery/gql/mappers/channels.go
  apps/api-gql/internal/delivery/gql/resolvers/channels.resolver.go
  apps/api-gql/internal/delivery/gql/schema/channels.graphql
  apps/parser/internal/commands/spam/spam.go
  libs/migrations/postgres/20260721152050_users_login_citext.sql
  libs/repositories/channels/channels.go
  libs/repositories/channels/model/model.go
  libs/repositories/channels/pgx/pgx.go
  libs/repositories/users/model/model.go
  libs/services/channels/channels.go
  web/layers/dashboard/layout/use-public-page-href.ts
  web/layers/public/api/use-streamer-profile.ts
  web/layers/public/layouts/public.vue
  web/layers/public/layouts/public/public-navigation.vue
  web/layers/public/pages/p/[platform]/[channelName]/index.vue
  web/layers/public/pages/p/[platform]/[channelName]/songs-requests.vue
  web/layers/public/pages/p/[platform]/[channelName]/tts.vue
  web/layers/public/pages/p/[platform]/[channelName]/users.vue
Due: publish-parser

fix(parser): correct repeat strip when !spam command used
  apps/parser/internal/commands/spam/spam.go
  apps/parser/internal/commands/spam/spam_test.go
Due: publish-parser

fix(timers): add locks for tryLock func to prevent double send
  apps/timers/internal/manager/ticker.go
  apps/timers/internal/manager/timer.go
  apps/timers/internal/manager/timer_test.go
Due: none

fix(repositories): correct use query when platform passed
  libs/repositories/channels/pgx/pgx.go
  web/layers/public/api/use-commands.ts
  web/layers/public/api/use-song-requests.ts
  web/layers/public/api/use-tts-settings.ts
Due: none

fix(repositories): correct platform query for get channel by slog
  libs/repositories/channels/pgx/pgx.go
Due: none

fix(repositories): correct platform query for get channel by slog number three...
  libs/repositories/channels/pgx/pgx.go
Due: none

chore: vk plan
  docs/superpowers/specs/2026-07-21-vk-video-live-platform-design.md
Due: none

docs(vk): add platform integration plan
  docs/superpowers/plans/2026-07-21-vk-video-live-platform.md
  docs/superpowers/specs/2026-07-21-vk-video-live-platform-design.md
Due: none

feat(platform)!: add VK Video Live primitives
  libs/entities/platform/platform.go
  libs/entities/platform/platform_test.go
Due: none

feat(platform): add channel binding storage
  libs/migrations/postgres/20260721120000_channel_platforms.sql
  libs/repositories/channel_platforms/channel_platforms.go
  libs/repositories/channel_platforms/model/model.go
  libs/repositories/channel_platforms/pgx/pgx.go
  libs/repositories/channel_platforms/pgx/pgx_test.go
Due: none

test(channel-platforms): match pgx v5 errors
  libs/repositories/channel_platforms/pgx/pgx_test.go
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
