Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

fix(repositories): correctly scan dudes
  libs/repositories/overlays_dudes/pgx/pgx.go
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

fix(repositories): correctly handle userip field data type
  libs/repositories/shortened_urls/datasource/postgres/pgx.go
  libs/repositories/shortened_urls/model/model.go
Due: none

refactor: use gql for valorant integration
  .env.example
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/valorant_integration.go
  apps/api-gql/internal/delivery/gql/resolvers/integration-valorant.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/integration-valorant.graphql
  apps/api-gql/internal/entity/valorant_integration.go
  apps/api-gql/internal/services/valorant_integration/valorant_integration.go
  apps/api/internal/impl_protected/integrations/valorant.go
  apps/parser/internal/cacher/valorant.go
  frontend/dashboard/src/api/integrations/oauth.ts
  frontend/dashboard/src/api/integrations/valorant.ts
  frontend/dashboard/src/components/integrations/valorant.vue
  frontend/dashboard/src/components/integrations/variants/oauth.vue
  frontend/dashboard/src/features/integrations/composables/valorant/use-valorant-integration.ts
  frontend/dashboard/src/features/integrations/ui/seventv/seven-tv.vue
  frontend/dashboard/src/features/integrations/ui/valorant/valorant.vue
  frontend/dashboard/src/features/integrations/valorant-callback.vue
  frontend/dashboard/src/features/overlays/valorant-stats/builder.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Integrations.vue
  frontend/dashboard/src/pages/IntegrationsCallback.vue
  frontend/dashboard/src/plugins/router.ts
  libs/api/api.client.ts
  libs/api/api.proto
  libs/api/api.ts
  libs/api/api.twirp.go
  libs/api/messages/integrations_valorant/integrations_valorant.pb.go
  libs/api/messages/integrations_valorant/integrations_valorant.proto
  libs/api/messages/integrations_valorant/integrations_valorant.ts
  libs/config/config.go
  libs/migrations/postgres/20251130000000_valorant_separate_table.go
  libs/repositories/channels_integrations_valorant/channels_integrations_valorant.go
  libs/repositories/channels_integrations_valorant/datasources/postgres/pgx.go
  libs/repositories/channels_integrations_valorant/model/model.go
Due: publish-api, publish-parser

New translations en.json (Spanish)
  frontend/dashboard/src/locales/es.json
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

refactor: use gql for discord
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/discord_integration.go
  apps/api-gql/internal/delivery/gql/resolvers/integration-discord.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/integration-discord.graphql
  apps/api-gql/internal/entity/discord_integration.go
  apps/api-gql/internal/services/discord_integration/discord_integration.go
  apps/api/internal/impl_protected/integrations/discord.go
  apps/discord/app/app.go
  apps/discord/internal/discord_go/discord_go.go
  apps/discord/internal/discord_go/listen_guild_delete.go
  apps/discord/internal/grpc/grpc.go
  apps/discord/internal/messages_updater/embed_builder.go
  apps/discord/internal/messages_updater/helpers.go
  apps/discord/internal/messages_updater/messages_updater.go
  apps/discord/internal/messages_updater/process_edit.go
  apps/discord/internal/messages_updater/process_offline.go
  apps/discord/internal/messages_updater/process_online.go
  apps/discord/internal/sended_messages_store/sended_messages_store.go
  libs/api/api.client.ts
  libs/api/api.proto
  libs/api/api.ts
  libs/api/api.twirp.go
  libs/api/messages/integrations_discord/integrations_discord.pb.go
  libs/api/messages/integrations_discord/integrations_discord.proto
  libs/api/messages/integrations_discord/integrations_discord.ts
  libs/gomodels/discord_sended_notification.go
  libs/migrations/postgres/20251201000000_discord_integration_separate_table.go
  libs/repositories/channels_integrations_discord/channels_integrations_discord.go
  libs/repositories/channels_integrations_discord/datasource/postgres/pgx.go
  libs/repositories/channels_integrations_discord/model/model.go
  libs/repositories/discord_sended_notifications/discord_sended_notifications.go
  libs/repositories/discord_sended_notifications/model.go
  libs/repositories/discord_sended_notifications/pgx/pgx.go
Due: publish-api

refactor: discord frontend
  apps/api-gql/internal/delivery/gql/resolvers/integration-discord.resolver.go
  apps/api-gql/internal/entity/discord_integration.go
  apps/api-gql/internal/services/discord_integration/discord_integration.go
  frontend/dashboard/src/api/integrations/discord.ts
  frontend/dashboard/src/api/integrations/index.ts
  frontend/dashboard/src/components/integrations/discord.vue
  frontend/dashboard/src/features/integrations/composables/discord/use-discord-integration.ts
  frontend/dashboard/src/features/integrations/pages/discord-callback.vue
  frontend/dashboard/src/features/integrations/pages/discord-settings.vue
  frontend/dashboard/src/features/integrations/pages/valorant-callback.vue
  frontend/dashboard/src/features/integrations/ui/discord/card.vue
  frontend/dashboard/src/features/integrations/ui/discord/guild-settings-form.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/pages/Integrations.vue
  frontend/dashboard/src/pages/IntegrationsCallback.vue
  frontend/dashboard/src/plugins/router.ts
Due: none

Update libs/repositories/channels_integrations_discord/datasource/postgres/pgx.go
  libs/repositories/channels_integrations_discord/datasource/postgres/pgx.go
Due: none

upd
  apps/discord/internal/messages_updater/helpers.go
Due: none

fix(dashboard): remove unused router
  frontend/dashboard/src/features/integrations/ui/discord/card.vue
  libs/repositories/go.mod
Due: none

fix: correctly handle chat wall settings cache
  apps/bots/internal/messagehandler/handle_chat_wall.go
  libs/cache/chat_wall/chat_wall.go
Due: publish-bots

refactor: use gql for lastfm
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/lastfm_integration.go
  apps/api-gql/internal/delivery/gql/now-playing-fetcher/now-playing-fetcher.go
  apps/api-gql/internal/delivery/gql/resolvers/integration-lastfm.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/overlays.resolver.service.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/integration-lastfm.graphql
  apps/api-gql/internal/entity/lastfm_integration.go
  apps/api-gql/internal/services/lastfm_integration/lastfm_integration.go
  apps/api/internal/impl_protected/integrations/lastfm.go
  apps/parser/cmd/main.go
  apps/parser/internal/types/services/services.go
  apps/parser/internal/variables/song/history.go
  apps/parser/internal/variables/song/history_lastfm.go
  frontend/dashboard/src/api/integrations/lastfm.ts
  frontend/dashboard/src/components/integrations/lastfm.vue
  frontend/dashboard/src/features/integrations/composables/lastfm/use-lastfm-integration.ts
  frontend/dashboard/src/pages/IntegrationsCallback.vue
  libs/api/api.proto
  libs/config/config.go
  libs/integrations/lastfm/lastfm.go
  libs/migrations/postgres/20251202000000_lastfm_separate_table.go
  libs/repositories/channels_integrations_lastfm/channels_integrations_lastfm.go
  libs/repositories/channels_integrations_lastfm/datasources/postgres/pgx.go
  libs/repositories/channels_integrations_lastfm/model/model.go
Due: publish-api, publish-parser

frontend refactor done
  frontend/dashboard/src/features/integrations/ui/lastfm/lastfm.vue
  frontend/dashboard/src/pages/Integrations.vue
Due: none

perf: use one query for get all integrations data
  frontend/dashboard/src/api/integrations/donatepay.ts
  frontend/dashboard/src/api/integrations/integrations-page.ts
  frontend/dashboard/src/api/integrations/integrations.ts
  frontend/dashboard/src/api/integrations/lastfm.ts
  frontend/dashboard/src/api/integrations/oauth.ts
  frontend/dashboard/src/api/integrations/spotify.ts
  frontend/dashboard/src/api/integrations/valorant.ts
  frontend/dashboard/src/components/integrations/donatello.vue
  frontend/dashboard/src/components/integrations/donatepay.vue
  frontend/dashboard/src/components/integrations/donatestream.vue
  frontend/dashboard/src/components/integrations/donationalerts.vue
  frontend/dashboard/src/components/integrations/spotify.vue
  frontend/dashboard/src/features/import/nightbot/composables/use-nightbot-integration.ts
  frontend/dashboard/src/features/integrations/composables/discord/use-discord-integration.ts
  frontend/dashboard/src/features/integrations/composables/lastfm/use-lastfm-integration.ts
  frontend/dashboard/src/features/integrations/composables/valorant/use-valorant-integration.ts
  frontend/dashboard/src/pages/overlays/now-playing/now-playing.vue
Due: none

upd backend
  apps/api-gql/internal/delivery/gql/resolvers/integration-spotify.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/integrations-donatepay.resolver.go
  apps/api-gql/internal/delivery/gql/schema/integration-spotify.graphql
  libs/api/api.client.ts
  libs/api/api.ts
  libs/api/api.twirp.go
Due: none

Update libs/migrations/postgres/20251202000000_lastfm_separate_table.go
  libs/migrations/postgres/20251202000000_lastfm_separate_table.go
Due: none

Update apps/api-gql/internal/services/lastfm_integration/lastfm_integration.go
  apps/api-gql/internal/services/lastfm_integration/lastfm_integration.go
Due: none

upd
  apps/api-gql/internal/services/seventv_integration/seventv_integration.go
Due: none

add missed variables for integrations query
  frontend/dashboard/src/api/integrations/integrations-page.ts
Due: none

tidy api
  apps/api/go.mod
  apps/api/go.sum
Due: publish-api

upd
  .github/copilot-instructions.md
Due: none

fix parser for lastfm
  apps/parser/internal/cacher/current_song.go
  apps/parser/internal/types/services/services.go
Due: publish-parser

chore: add lfm keys to env example
  .env.example
Due: none

refactor: use buscore for discord instead of grpc
  apps/api-gql/cmd/main.go
  apps/api-gql/go.mod
  apps/api-gql/internal/services/discord_integration/discord_integration.go
  apps/api/app/app.go
  apps/api/internal/impl_deps/impl_deps.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/chat-translator/go.mod
  apps/discord/app/app.go
  apps/discord/go.mod
  apps/discord/internal/bus_handler/bus_handler.go
  apps/discord/internal/grpc/grpc.go
  apps/parser/go.mod
  apps/parser/go.sum
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/discord/discord.go
  libs/bus-core/go.mod
  libs/bus-core/go.sum
  libs/grpc/clients/discord.go
  libs/grpc/discord/discord.pb.go
  libs/grpc/discord/discord.proto
  libs/grpc/discord/discord.ts
  libs/grpc/discord/discord_grpc.pb.go
Due: publish-api, publish-parser

fix(api-gql): correct check error in now playing fetcher
  apps/api-gql/internal/delivery/gql/now-playing-fetcher/now-playing-fetcher.go
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
