Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

feat(db): add platforms[] to commands/timers/keywords
  .sisyphus/notepads/kick-platform/learnings.md
  apps/api-gql/internal/entity/keyword.go
  apps/bots/internal/entity/keywords.go
  libs/entities/command_with_relations/command_with_relation.go
  libs/entities/timers/timers.go
  libs/migrations/postgres/20260412193416_add_platforms_to_commands_timers_keywords.sql
  libs/repositories/commands/commands.go
  libs/repositories/commands/model/model.go
  libs/repositories/commands/pgx/pgx.go
  libs/repositories/keywords/keywords.go
  libs/repositories/keywords/model/model.go
  libs/repositories/keywords/pgx/pgx.go
  libs/repositories/timers/pgx/pgx.go
  libs/repositories/timers/timers.go
Due: publish-bots

feat(db): channels multi-platform schema — new surrogate PK + user_id FK + platform column
  .sisyphus/notepads/kick-platform/learnings.md
  libs/migrations/postgres/20260412195524_channels_multi_platform.sql
  libs/repositories/channels/channels.go
  libs/repositories/channels/model/model.go
  libs/repositories/channels/pgx/pgx.go
Due: none

fix(tokens): update GetByUserID to use internal UUID
  apps/api-gql/internal/delivery/http/routes/auth/post-code.go
  apps/tokens/internal/bus_listener/bus_listener.go
  libs/repositories/tokens/datasources/postgres/pgx.go
  libs/repositories/tokens/repository.go
Due: none

feat(auth): PlatformProvider interface + Twitch implementation
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/platform/provider.go
  apps/api-gql/internal/platform/twitch/provider.go
Due: none

feat(repo): kick_bots repository
  .sisyphus/notepads/kick-platform/learnings.md
  libs/repositories/kick_bots/pgx/pgx.go
  libs/repositories/kick_bots/repository.go
Due: none

feat(auth): Kick OAuth 2.1 + PKCE provider
  .sisyphus/notepads/kick-platform/learnings.md
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/http/routes/auth/auth.go
  apps/api-gql/internal/delivery/http/routes/auth/get-kick-authorize.go
  apps/api-gql/internal/platform/kick/pkce.go
  apps/api-gql/internal/platform/kick/provider.go
  libs/config/config.go
Due: none

feat(repo): user_platform_accounts repository
  libs/repositories/user_platform_accounts/pgx/pgx.go
  libs/repositories/user_platform_accounts/repository.go
Due: none

feat(auth): generic /auth/kick/code handler
  .sisyphus/notepads/kick-platform/decisions.md
  .sisyphus/notepads/kick-platform/issues.md
  .sisyphus/notepads/kick-platform/learnings.md
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/auth/auth.go
  apps/api-gql/internal/delivery/gql/now-playing-fetcher/now-playing-fetcher.go
  apps/api-gql/internal/delivery/gql/resolvers/dashboard-widgets-events.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/song-requests.resolver.go
  apps/api-gql/internal/delivery/http/routes/auth/auth.go
  apps/api-gql/internal/delivery/http/routes/auth/post-platform-code.go
  apps/api-gql/internal/services/commands_with_groups_and_responses/update.go
  apps/api-gql/internal/services/keywords/create.go
  apps/api-gql/internal/services/keywords/delete.go
Due: none

feat(session): store internal UUID + current platform; add Kick session support
  apps/api-gql/internal/auth/auth.go
  apps/api-gql/internal/auth/sessions_user.go
Due: none

chore(notes): record Kick bus-core notes
  .sisyphus/notepads/kick-platform/decisions.md
  .sisyphus/notepads/kick-platform/issues.md
  .sisyphus/notepads/kick-platform/learnings.md
  .sisyphus/notepads/kick-platform/problems.md
Due: none

feat(eventsub): add HTTP server skeleton to apps/eventsub
  apps/eventsub/app/app.go
  apps/eventsub/internal/http/server.go
  libs/config/config.go
Due: publish-eventsub

feat(bus): Kick EventSub bus topics in libs/bus-core
  libs/bus-core/kick/chat-message.go
  libs/bus-core/kick/follow.go
  libs/bus-core/kick/stream-offline.go
  libs/bus-core/kick/stream-online.go
Due: none

feat(eventsub): Kick EventSub subscription manager
  apps/eventsub/app/app.go
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/kick/subscription_manager.go
  apps/eventsub/internal/kick/subscription_manager_test.go
Due: publish-eventsub

feat(bus): wire generic chat message queues
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
Due: none

feat(eventsub): Kick RSA-SHA256 webhook signature verification middleware
  apps/eventsub/internal/http/server.go
  apps/eventsub/internal/kick/middleware.go
Due: publish-eventsub

feat(eventsub): wire user_platform_accounts repo into Kick subscription manager
  apps/eventsub/app/app.go
  apps/eventsub/internal/kick/subscription_manager.go
Due: publish-eventsub

chore(notes): record bus-core generic chat message details
  .sisyphus/notepads/kick-platform/learnings.md
Due: none

feat(bus): add generic chat message subject names
  libs/bus-core/generic/chat-message.go
  libs/bus-core/subject-names.go
Due: none

feat(eventsub): BusListener Kick platform support + Twitch dual-publish to generic queue
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/handler/chat_message.go
Due: publish-eventsub

feat(eventsub): Kick webhook event handlers with idempotency
  .sisyphus/plans/kick-platform.md
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
Due: publish-eventsub

feat(eventsub): Kick webhook auto-resubscription health-check job
  apps/eventsub/app/app.go
  apps/eventsub/internal/http/server.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/resubscribe_job_test.go
  go.work.sum
  libs/repositories/user_platform_accounts/pgx/pgx.go
  libs/repositories/user_platform_accounts/repository.go
Due: publish-eventsub

feat(parser): add $(platform) built-in variable
  apps/parser/internal/variables/platform/platform.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

chore(notes): record T19+T20 implementation details
  .sisyphus/notepads/kick-platform/learnings.md
Due: none

feat(parser): add Platform field to ParseContext
  .sisyphus/notepads/kick-platform/learnings.md
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/types/parse_context.go
  apps/parser/internal/variables/mentions/mentions_test.go
Due: publish-parser

feat(parser): platform filter on command/timer/keyword execution
  .sisyphus/notepads/kick-platform/decisions.md
  .sisyphus/notepads/kick-platform/issues.md
  .sisyphus/notepads/kick-platform/learnings.md
  apps/bots/internal/messagehandler/handle_keywords.go
  apps/parser/internal/commands/commands.go
  apps/timers/internal/manager/ticker.go
  libs/entities/platform/platform.go
Due: publish-bots, publish-parser

feat(gql+7tv): add KickProfile/LinkedAccount schema types + 7TV GetProfileByKickId
  .sisyphus/notepads/kick-platform/decisions.md
  .sisyphus/notepads/kick-platform/issues.md
  .sisyphus/notepads/kick-platform/learnings.md
  .sisyphus/notepads/kick-platform/problems.md
  .sisyphus/plans/kick-platform.md
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  apps/api-gql/internal/delivery/gql/schema/user.graphql
  libs/integrations/seventv/api/generated.go
  libs/integrations/seventv/client.go
  libs/integrations/seventv/gql/operations.graphqls
  libs/integrations/seventv/v3/api/generated.go
  libs/integrations/seventv/v3/client.go
  libs/integrations/seventv/v3/gql/operations.graphqls
Due: none

fix(parser): propagate platform from generic message into ParseContext
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/commands.go
Due: publish-parser

chore(notes): record T22+T23 implementation details
  .sisyphus/notepads/kick-platform/learnings.md
Due: none

feat(parser): dual-subscribe ProcessMessageAsCommand + ProcessGenericMessage with Redis dedup
  apps/parser/internal/commands-bus/commands-bus.go
Due: publish-parser

feat(frontend): Wave 8 — Kick login UI, linked accounts, platform selectors, platform-aware profile
  .sisyphus/notepads/kick-platform/learnings.md
  frontend/dashboard/src/api/auth.ts
  frontend/dashboard/src/api/commands/commands.ts
  frontend/dashboard/src/api/keywords.ts
  frontend/dashboard/src/api/timers.ts
  frontend/dashboard/src/features/commands/composables/use-command-edit-v2.ts
  frontend/dashboard/src/features/commands/ui/form/form-conditions.vue
  frontend/dashboard/src/features/keywords/ui/keywords-dialog.vue
  frontend/dashboard/src/features/timers/composables/use-timers-edit.ts
  frontend/dashboard/src/features/timers/timers-edit.vue
  frontend/dashboard/src/layout/sidebar/sidebar-dashboard-selector.vue
  frontend/dashboard/src/pages/user-settings/user-linked-accounts.vue
  frontend/dashboard/src/pages/user-settings/user-settings.vue
  web/app/stores/user.ts
  web/layers/landing/components/index/hero/hero.vue
  web/layers/landing/layouts/default/header-profile.vue
  web/layers/landing/pages/login/kick.client.vue
  web/layers/pastebin/pages/h/profile.vue
  web/layers/public/layouts/public/public-user-profile.vue
  web/layers/url-shortener/components/url-shortener/custom-domain-panel.vue
Due: none

feat(gql+emotes): GraphQL resolvers for Kick auth, platform filtering, linked accounts
  .sisyphus/notepads/kick-platform/learnings.md
  apps/api-gql/internal/delivery/gql/mappers/commands.go
  apps/api-gql/internal/delivery/gql/mappers/keywords.go
  apps/api-gql/internal/delivery/gql/mappers/platform.go
  apps/api-gql/internal/delivery/gql/mappers/timers.go
  apps/api-gql/internal/delivery/gql/resolvers/commands.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/keywords.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/timers.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  apps/api-gql/internal/delivery/gql/schema/commands.graphql
  apps/api-gql/internal/delivery/gql/schema/keywords.graphql
  apps/api-gql/internal/delivery/gql/schema/timers.graphql
  apps/api-gql/internal/delivery/gql/schema/user.graphql
  apps/api-gql/internal/services/commands/create.go
  apps/api-gql/internal/services/commands_with_groups_and_responses/update.go
  apps/api-gql/internal/services/keywords/create.go
  apps/api-gql/internal/services/keywords/update.go
  apps/api-gql/internal/services/timers/create.go
  apps/api-gql/internal/services/timers/update.go
  apps/emotes-cacher/internal/services/seventv/add_channels.go
  apps/emotes-cacher/internal/services/seventv/service.go
Due: none

feat(bots): route send-message by platform (Twitch/Kick)
  .sisyphus/notepads/kick-platform/learnings.md
  apps/bots/app/app.go
  apps/bots/internal/services/channel/channel.go
  apps/bots/internal/services/channel/message.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/timers/internal/manager/send_message.go
  apps/timers/internal/manager/ticker.go
  libs/bus-core/bots/bots.go
Due: publish-bots, publish-parser

fix: command and timers select of platform
  apps/api-gql/internal/delivery/gql/schema/admin/admin-users.graphql
  apps/api-gql/internal/delivery/gql/schema/community-users.graphql
  apps/api-gql/internal/services/commands_with_groups_and_responses/commands_with_groups_and_responses.go
  frontend/dashboard/src/api/auth.ts
  frontend/dashboard/src/components/command-menu/CommandMenu.vue
  frontend/dashboard/src/components/platform-selector.vue
  frontend/dashboard/src/features/admin-panel/manage-users/composables/use-users-table.ts
  frontend/dashboard/src/features/commands/ui/form/form-general.vue
  frontend/dashboard/src/features/community-users/composables/use-community-users-table.ts
  frontend/dashboard/src/features/keywords/ui/keywords-dialog.vue
  frontend/dashboard/src/features/timers/timers-edit.vue
  web/app/features/community-users/composables/use-community-users-table.ts
  web/layers/landing/layouts/default/header-profile.vue
Due: none

feat(bots+parser): T33 Kick chat client + T35 platform-aware parser variables
  .sisyphus/notepads/kick-platform/decisions.md
  .sisyphus/notepads/kick-platform/learnings.md
  apps/bots/internal/kick/chat_client.go
  apps/parser/internal/cacher/seventv.go
  apps/parser/internal/types/variables_cacher.go
  apps/parser/internal/variables/7tv/created_at.go
  apps/parser/internal/variables/7tv/editor.go
  apps/parser/internal/variables/7tv/emote_set.go
  apps/parser/internal/variables/7tv/helper.go
  apps/parser/internal/variables/7tv/paint.go
  apps/parser/internal/variables/7tv/profile_link.go
  apps/parser/internal/variables/7tv/roles.go
  apps/parser/internal/variables/emotes/7tv.go
  apps/parser/internal/variables/emotes/bttv.go
  apps/parser/internal/variables/emotes/ffz.go
  apps/parser/internal/variables/followers/followers.go
  apps/parser/internal/variables/stream/category.go
  apps/parser/internal/variables/stream/title.go
  apps/parser/internal/variables/subscribers/subscribers.go
  apps/parser/internal/variables/top/channel_points.go
  apps/parser/internal/variables/top/helper.go
  apps/parser/internal/variables/top/messages.go
  apps/parser/internal/variables/top/watched.go
  apps/parser/internal/variables/user/age.go
  apps/parser/internal/variables/user/follow_age.go
  apps/parser/internal/variables/user/follow_since.go
Due: publish-bots, publish-parser

chore: update nuxt config to have include deps
  go.work.sum
  libs/api/openapi.ts
  web/nuxt.config.ts
Due: none

feat: add bot setup to admin
  apps/api-gql/internal/delivery/gql/resolvers/admin-actions.helpers.go
  apps/api-gql/internal/delivery/gql/resolvers/admin-actions.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/admin/admin-actions.graphql
  apps/api-gql/internal/delivery/http/routes/auth/auth.go
  apps/api-gql/internal/delivery/http/routes/auth/kick-bot-callback.go
  apps/api-gql/internal/platform/kick/provider.go
  frontend/dashboard/src/api/admin/actions.ts
  frontend/dashboard/src/features/admin-panel/actions/admin-actions.vue
  frontend/dashboard/src/features/admin-panel/actions/ui/setup-kick-bot.vue
  libs/api/openapi.ts
Due: none

fix: correct widgets update
  apps/api-gql/internal/delivery/gql/gql.go
  apps/api-gql/internal/delivery/gql/gqlerrors/errors.go
  libs/migrations/postgres/20260415164710_fix_dashboard_widgets_channel_fk.sql
Due: none

fix cli
  cli/internal/cmds/dev/frontend/app.go
  cli/internal/cmds/dev/nodejs/app.go
  cli/internal/cmds/proxy/proxy.go
  cli/internal/goapp/goapp.go
  cli/internal/shell/prefix.go
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
