Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

refactor: use nats for process commands responses
  apps/bots/app/app.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/queuelistener/queuelistener.go
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/chat_message.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/nats/nats.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/games/duel_handler.go
  apps/parser/internal/commands/games/russian_roulette.go
  apps/parser/internal/nats/nats.go
  apps/parser/internal/task-queue/distributor.go
  apps/parser/internal/task-queue/payloads.go
  apps/parser/internal/task-queue/processor.go
  apps/parser/internal/task-queue/task_mod_user.go
  apps/parser/internal/types/services/services.go
  libs/types/types/services/bus.go
  libs/types/types/services/parser/commands.go
  libs/types/types/services/queue.go
  libs/types/types/services/twitch/chat-message.go
Due: publish-bots, publish-eventsub, publish-parser

chore(overlays): bump `@twirapp/dudes`
  frontend/overlays/package.json
  pnpm-lock.yaml
Due: none

kruto
  apps/bots/internal/messagehandler/handle_tts.go
  apps/parser/internal/bus/commands-bus.go
  apps/parser/internal/commands/commands.go
Due: publish-bots, publish-parser

chore(stack): remove pgpool
  docker-compose.stack.yml
Due: none

fix(docker): add missed `bus-core`
  base.Dockerfile
Due: none

fix: use nats queue group for balancing
  libs/bus-core/queue.go
Due: none

fix: use queued nats subscription
  apps/bots/internal/queuelistener/queuelistener.go
  apps/parser/internal/bus/commands-bus.go
Due: publish-bots, publish-parser

chore: rename queue to subjects
  libs/bus-core/bus.go
  libs/bus-core/queue-names.go
  libs/bus-core/subject-names.go
Due: none

chore: use queues for nats subscriptions
  libs/bus-core/bus.go
  libs/bus-core/queue.go
Due: none

chore: use fx nats for services
  apps/api/app/app.go
  apps/api/internal/nats/nats.go
  apps/bots/app/app.go
  apps/bots/internal/nats/nats.go
  apps/eventsub/app/app.go
  apps/eventsub/internal/nats/nats.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/timers/app/app.go
  apps/timers/internal/nats/nats.go
  apps/websockets/app/app.go
  apps/websockets/internal/nats/nats.go
  libs/bus-core/bus.go
Due: publish-api, publish-bots, publish-eventsub, publish-parser

feat: add user level dudes settings, add grow
  .golangci.yml
  apps/api/go.mod
  apps/bots/go.mod
  apps/eventsub/go.mod
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/dudes/color.go
  apps/parser/internal/commands/dudes/grow.go
  apps/parser/internal/types/services/services.go
  apps/timers/go.mod
  apps/websockets/app/app.go
  apps/websockets/go.mod
  apps/websockets/internal/bus-listener/bus-listener.go
  apps/websockets/internal/namespaces/overlays/dudes/dudes.go
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  libs/bus-core/bus.go
  libs/bus-core/subject-names.go
  libs/bus-core/websockets/dudes.go
  libs/gomodels/channels_overlays_dudes_user_settings.go
  libs/migrations/migrations/20240225001919_dudes_add_users_settings.sql
  libs/types/gen.go
  libs/types/go.mod
  libs/types/go.sum
  libs/types/src/overlays.ts
  libs/types/types/overlays/dudes.go
Due: publish-api, publish-bots, publish-eventsub, publish-parser

chore: add comments to dudes socket
  apps/websockets/internal/namespaces/overlays/dudes/dudes.go
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
Due: none

feat(dashboard): add new dudes command to form
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.vue
Due: none

feat(dashboard): add ability to ban song/user from songrequests page
  frontend/dashboard/src/components/songRequests/hook.ts
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/components/songRequests/queue.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/SongRequests.vue
Due: none

chore(websockets): remove prefixes from websocket events
  apps/websockets/internal/bus-listener/bus-listener.go
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
Due: none

fix: add dude_color nullable
  apps/parser/internal/commands/dudes/color.go
  libs/gomodels/channels_overlays_dudes_user_settings.go
  libs/migrations/migrations/20240225001919_dudes_add_users_settings.sql
Due: publish-parser

fix: add dude_color nullable
  apps/parser/internal/commands/dudes/color.go
  libs/gomodels/channels_overlays_dudes_user_settings.go
  libs/types/src/overlays.ts
Due: publish-parser

fix: correct type for color in command
  apps/parser/internal/commands/dudes/grow.go
Due: publish-parser

chore: add initial sprites change
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/dudes/color.go
  apps/parser/internal/commands/dudes/sprite.go
  libs/gomodels/channels_overlays_dudes_user_settings.go
  libs/migrations/migrations/20240225001919_dudes_add_users_settings.sql
  libs/types/gen.go
  libs/types/src/overlays.ts
  libs/types/types/overlays/dudes.go
Due: publish-parser

chore: add user settings request to websockets
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/parser/internal/commands/dudes/color.go
  apps/parser/internal/commands/dudes/sprite.go
  apps/timers/go.mod
  apps/timers/go.sum
  apps/websockets/internal/bus-listener/bus-listener.go
  apps/websockets/internal/namespaces/overlays/dudes/dudes.go
  apps/websockets/internal/namespaces/overlays/dudes/handle_message.go
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.vue
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  libs/bus-core/bus.go
  libs/bus-core/websockets/dudes.go
  libs/types/gen.go
  libs/types/go.mod
  libs/types/src/overlays.ts
  libs/types/types/overlays/dudes.go
Due: publish-eventsub, publish-parser

chore: sprite as enum for ts
  apps/websockets/internal/namespaces/overlays/dudes/handle_message.go
  libs/types/src/overlays.ts
  libs/types/types/overlays/dudes.go
Due: none

chore: add enum for channel dudes settings
  apps/api/internal/impl_protected/overlays/dudes.go
  libs/api/messages/overlays_dudes/overlays_dudes.proto
  libs/gomodels/channels_overlays_dudes.go
  libs/migrations/migrations/20240225041132_add_dudes_new_columns.sql
  libs/types/types/overlays/dudes.go
Due: publish-api

chore: fix migrations for `dude_max_on_screen`, `dude_default_sprite`
  libs/migrations/migrations/20240225041132_add_dudes_enum_new_value.sql
  libs/migrations/migrations/20240225042918_add_dudes_channel_settings_columns.sql
  libs/types/src/overlays.ts
Due: none

fix
  apps/websockets/internal/namespaces/overlays/dudes/settings.go
Due: none

fix emit defaults?
  apps/websockets/internal/namespaces/overlays/dudes/settings.go
  apps/websockets/internal/protoutils/protobuf_to_map.go
Due: none

asynq log bb
  apps/parser/internal/task-queue/processor.go
Due: publish-parser

feat(overlays): grow, assign user color and sprite
  frontend/dashboard/package.json
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.ts
  frontend/overlays/package.json
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-settings.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  pnpm-lock.yaml
Due: none

feat(overlays): bump `@twirapp/dudes`, normilize displayName
  frontend/overlays/package.json
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-settings.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
  frontend/overlays/src/helpers.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  pnpm-lock.yaml
Due: none

feat(overlays): bump `@twirapp/dudes`, normalize displayName (#612)
  frontend/overlays/package.json
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-settings.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
  frontend/overlays/src/helpers.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  pnpm-lock.yaml
Due: none

feat(overlays): update `@twirapp/kappagen` and refactor
  frontend/overlays/package.json
  frontend/overlays/src/composables/kappagen/kappagen-animations.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-builder.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-iframe.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-settings.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-socket.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/overlays/src/types.ts
  pnpm-lock.yaml
Due: none

feat(overlays): update `@twirapp/kappagen` and refactor (#613)
  frontend/overlays/package.json
  frontend/overlays/src/composables/kappagen/kappagen-animations.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-builder.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-iframe.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-settings.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-socket.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/overlays/src/types.ts
  pnpm-lock.yaml
Due: none

chore(overlays): correct naming for grow and user-settings
  apps/parser/internal/commands/dudes/grow.go
  apps/websockets/internal/namespaces/overlays/dudes/handle_message.go
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  libs/bus-core/websockets/dudes.go
  libs/types/src/overlays.ts
  libs/types/types/overlays/dudes.go
Due: publish-parser

refactor: use nats for stream.offline and stream.online pubsub topics
  apps/bots/app/app.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/pubsub_handlers/streams_offline.go
  apps/bots/internal/pubsub_handlers/streams_online.go
  apps/bots/internal/queuelistener/queuelistener.go
  apps/bots/internal/stream-handlers/stream-handlers.go
  apps/bots/internal/stream-handlers/streams_offline.go
  apps/bots/internal/stream-handlers/streams_online.go
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/channel_update.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/stream_online.go
  apps/eventsub/internal/handler/user_update.go
  apps/eventsub/internal/pubsub/pubsub.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/scheduler/app/app.go
  apps/scheduler/internal/timers/streams.go
  apps/websockets/internal/bus-listener/bus-listener.go
  libs/bus-core/bus.go
  libs/bus-core/queue.go
  libs/bus-core/subject-names.go
  libs/bus-core/twitch/stream.go
Due: publish-bots, publish-eventsub, publish-parser, publish-scheduler

chore: sync go mods
  apps/api/go.mod
  apps/bots/go.mod
  apps/events/go.mod
  apps/eventsub/go.mod
  apps/parser/go.mod
  apps/scheduler/app/app.go
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/websockets/go.mod
  libs/types/go.mod
  libs/types/go.sum
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

chore(bots): use grouped subscription to pubsub
  apps/bots/internal/stream-handlers/stream-handlers.go
Due: publish-bots

chore: use structs for bus
  apps/api/internal/impl_protected/overlays/custom_overlays.go
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_keywords.go
  apps/bots/internal/messagehandler/handle_tts.go
  apps/bots/internal/stream-handlers/stream-handlers.go
  apps/eventsub/internal/handler/chat_message.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/stream_online.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/dudes/grow.go
  apps/scheduler/internal/timers/streams.go
  apps/timers/internal/activity/activity.go
  apps/websockets/internal/bus-listener/bus-listener.go
  apps/websockets/internal/namespaces/overlays/registry/overlays/messageHandler.go
  libs/bus-core/bus.go
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

fix(parser): bus calls
  apps/parser/internal/commands/dudes/color.go
  apps/parser/internal/commands/dudes/sprite.go
Due: publish-parser
