Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

kruto
  frontend/overlays/src/components/chatMessage.vue
Due: none

kruto
  apps/api/internal/impl_protected/modules/chat_overlay.go
  apps/websockets/internal/namespaces/chat/settings.go
  frontend/dashboard/src/api/overlays/chat.ts
  frontend/dashboard/src/api/overlays/index.ts
  frontend/dashboard/src/components/overlays/alerts.vue
  frontend/dashboard/src/components/overlays/card.vue
  frontend/dashboard/src/components/overlays/chat.vue
  frontend/dashboard/src/components/overlays/chat/settings.vue
  frontend/dashboard/src/components/overlays/obs.vue
  frontend/dashboard/src/components/overlays/tts.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/pages/Overlays.vue
  frontend/overlays/package.json
  frontend/overlays/src/App.vue
  frontend/overlays/src/components/chat_tmi_emotes.ts
  frontend/overlays/src/components/chat_tmi_helpers.ts
  frontend/overlays/src/pages/chat.vue
  frontend/overlays/src/sockets/chat.ts
  frontend/overlays/src/sockets/chat_tmi.ts
  libs/frontend-chat/package.json
  libs/frontend-chat/src/chatBox.vue
  libs/frontend-chat/src/env.d.ts
  libs/frontend-chat/src/helpers.ts
  libs/frontend-chat/src/index.ts
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/styles/clean.vue
  libs/frontend-chat/src/types.ts
  libs/frontend-chat/tsconfig.json
  libs/frontend-chat/vite.config.ts
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/modules_chat.proto
  libs/grpc/protos/api/modules_chat_overlay.proto
  package.json
  pnpm-lock.yaml
Due: publish-api

kruto
  apps/api/internal/impl_protected/modules/chat_overlay.go
  frontend/dashboard/package.json
  frontend/dashboard/src/components/overlays/chat.vue
  frontend/dashboard/src/components/overlays/chat/constants.ts
  frontend/dashboard/src/components/overlays/chat/settings.vue
  frontend/dashboard/src/locales/en.json
  frontend/overlays/src/sockets/chat.ts
  frontend/overlays/src/sockets/chat_tmi.ts
  libs/frontend-chat/src/styles/boxed.vue
  pnpm-lock.yaml
Due: publish-api

fix(dashboard): set `height` for chat settings, and align save to bottom
  frontend/dashboard/src/components/overlays/chat/settings.vue
Due: none

feat: add fontFamily, showBadges, showAnnounceBadge to chat overlay
  .env.example
  apps/api/internal/impl_protected/modules/chat_overlay.go
  apps/api/internal/impl_unprotected/google_fonts/google_fonts.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/api/internal/interceptors/cache.go
  apps/api/internal/twirp_handlers/unprotected_handler.go
  frontend/dashboard/src/api/googleFonts.ts
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/components/overlays/chat/settings.vue
  frontend/dashboard/src/locales/en.json
  frontend/overlays/src/sockets/chat.ts
  libs/config/config.go
  libs/frontend-chat/src/chatBox.vue
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/styles/clean.vue
  libs/frontend-chat/src/types.ts
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/google_fonts_unprotected.proto
  libs/grpc/protos/api/modules_chat_overlay.proto
Due: publish-api

fix(overlays): correct typings for chat overlay settings
  frontend/overlays/src/sockets/chat.ts
Due: none

feat: add `reverseMessages` setting and revert font button to chat overlay
  apps/api/internal/impl_protected/modules/chat_overlay.go
  frontend/dashboard/src/components/overlays/chat/settings.vue
  frontend/dashboard/src/locales/en.json
  libs/frontend-chat/src/chatBox.vue
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/modules_chat_overlay.proto
Due: publish-api

fix(overlays): add missed `reverseMessages` to settings
  frontend/overlays/src/sockets/chat.ts
Due: none

feat: add `additionalUsersIdsForLiveCheck` for discord integration
  apps/api/internal/impl_protected/integrations/discord.go
  apps/discord/internal/messages_updater/helpers.go
  apps/discord/internal/messages_updater/process.go
  apps/discord/internal/messages_updater/process_edit.go
  apps/scheduler/internal/timers/streams.go
  frontend/dashboard/src/components/integrations/discord.vue
  frontend/dashboard/src/components/twitchUsers/multiple.vue
  frontend/dashboard/src/locales/en.json
  libs/gomodels/channels_integrations.go
  libs/grpc/protos/api/integrations_discord.proto
  libs/migrations/migrations/20231101152833_remove_fk_from_channels_streams.sql
Due: publish-api, publish-scheduler

fix(overlays): fetch channel emotes from bttv, not only globals
  frontend/overlays/src/components/chat_tmi_emotes.ts
Due: none

feat(dashboard): add hide preview
  frontend/dashboard/src/components/overlays/chat/settings.vue
Due: none

fix(frontend-chat): use msg internal id for loop key, instead of index, which is broke animations
  libs/frontend-chat/src/chatBox.vue
Due: none

feat(api): response with empty lists on public page if user banned
  apps/api/internal/impl_unprotected/commands/commands.go
  apps/api/internal/impl_unprotected/community/community.go
  apps/api/internal/impl_unprotected/songs/songs.go
  apps/api/internal/impl_unprotected/tts/tts.go
Due: publish-api

feat: add `banned` badge to public page
  apps/api/internal/impl_unprotected/auth/auth.go
  frontend/public-page/src/api/index.ts
  frontend/public-page/src/layout/Profile.vue
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/auth.proto
Due: publish-api

feat(parser): add eval variable
  apps/eval/package.json
  apps/parser/internal/variables/chat_eval/chat_eval.go
  apps/parser/internal/variables/variables.go
  docker-compose.stack.yml
  pnpm-lock.yaml
Due: publish-parser, publish-eval

fix(parser): take only first 500 letters from `chatEval` variable
  apps/parser/internal/variables/chat_eval/chat_eval.go
Due: publish-parser

fix(eval): take first 5000 length of script
  apps/eval/src/index.ts
  apps/parser/internal/variables/chat_eval/chat_eval.go
  apps/parser/internal/variables/custom_var/custom_var.go
Due: publish-parser, publish-eval

fix(eval): do not inject envs
  Dockerfile
Due: none

chore(parser): add eval error log
  apps/parser/internal/variables/chat_eval/chat_eval.go
Due: publish-parser

Update Reviews.vue
  frontend/landing/src/components/index/Reviews.vue
Due: none

chore(landing): fix valorant spelling in 7ssk7 review
  frontend/landing/src/components/index/Reviews.vue
Due: none

feat(landing): make profile ssr
  frontend/landing/src/components/Profile.vue
  frontend/landing/src/layouts/Header.astro
Due: none

kruto
  frontend/landing/src/components/Profile.vue
  frontend/landing/src/components/index/Hero.astro
  frontend/landing/src/layouts/Header.astro
Due: none

full ssr
  frontend/landing/src/components/Profile.astro
  frontend/landing/src/components/Profile.vue
  frontend/landing/src/components/index/Hero.astro
  frontend/landing/src/components/index/HeroStartButton.astro
  frontend/landing/src/components/index/heroStartButton.vue
  frontend/landing/src/layouts/Header.astro
  frontend/landing/src/locals.d.ts
  frontend/landing/src/middleware.ts
Due: none

feat(landing): make profile ssr (#442)
  frontend/landing/src/components/Profile.astro
  frontend/landing/src/components/Profile.vue
  frontend/landing/src/components/index/Hero.astro
  frontend/landing/src/components/index/HeroStartButton.astro
  frontend/landing/src/components/index/heroStartButton.vue
  frontend/landing/src/layouts/Header.astro
  frontend/landing/src/locals.d.ts
  frontend/landing/src/middleware.ts
Due: none

feat(discord): add variables in online and offline messages
  apps/discord/internal/messages_updater/helpers.go
  apps/discord/internal/messages_updater/process_edit.go
  apps/discord/internal/messages_updater/process_offline.go
  apps/discord/internal/messages_updater/process_online.go
  apps/discord/internal/messages_updater/twitchUser.go
  frontend/dashboard/src/components/integrations/discord.vue
Due: none

feat(discord): try `EditMessageComplex` for remove embed from message
  apps/discord/internal/messages_updater/process_offline.go
Due: none

feat: add kappagen overlay
  apps/api/internal/impl_protected/overlays/chat.go
  apps/api/internal/impl_protected/overlays/custom_overlays.go
  apps/api/internal/impl_protected/overlays/kappagen.go
  apps/websockets/cmd/main.go
  apps/websockets/internal/grpc_impl/chat.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/namespaces/overlays/chat/chat.go
  apps/websockets/internal/namespaces/overlays/chat/handle_message.go
  apps/websockets/internal/namespaces/overlays/chat/settings.go
  frontend/dashboard/src/api/overlays/chat.ts
  frontend/dashboard/src/components/overlays/chat/settings.vue
  frontend/dashboard/src/components/overlays/kappagen.vue
  frontend/dashboard/src/components/overlays/kappagen/settings.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Overlays.vue
  frontend/overlays/src/main.ts
  frontend/overlays/src/pages/overlays/chat.vue
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/overlays/src/sockets/chat_overlay.ts
  frontend/overlays/src/sockets/kappagen_overlay.ts
  frontend/overlays/src/sockets/types.ts
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/overlays_chat.proto
  libs/grpc/protos/api/overlays_kappagen.proto
  libs/grpc/protos/websockets.proto
  libs/migrations/migrations/20231104195830_add_kappagen_overlay.sql
Due: publish-api

kruto
  frontend/dashboard/src/components/overlays/kappagen.vue
  frontend/dashboard/src/components/overlays/kappagen/settings.vue
Due: none

Update en.json
  frontend/dashboard/src/locales/en.json
Due: none

refactor(landing): improve code and ui/ux
  frontend/landing/src/components/home/Features.astro
  frontend/landing/src/components/home/Hero.astro
  frontend/landing/src/components/home/HeroStartButton.astro
  frontend/landing/src/components/home/Integrations.astro
  frontend/landing/src/components/home/ReviewDialog.vue
  frontend/landing/src/components/home/Reviews.vue
  frontend/landing/src/components/home/StatsList.astro
  frontend/landing/src/components/home/Team.astro
  frontend/landing/src/components/index/HeroStartButton.astro
  frontend/landing/src/components/index/Integrations.astro
  frontend/landing/src/components/index/Reviews.vue
  frontend/landing/src/components/login/login.vue
  frontend/landing/src/data/home/chat.ts
  frontend/landing/src/data/home/features.ts
  frontend/landing/src/data/home/integrations.ts
  frontend/landing/src/data/home/reviews.ts
  frontend/landing/src/data/home/team.ts
  frontend/landing/src/data/navLinks.ts
  frontend/landing/src/layouts/Footer.astro
  frontend/landing/src/layouts/Header.astro
  frontend/landing/src/layouts/Layout.astro
  frontend/landing/src/layouts/style.css
  frontend/landing/src/pages/functions/feedback.ts
  frontend/landing/src/pages/index.astro
  frontend/landing/src/pages/login.astro
Due: none

chore(dashboard): fix en spelling of `hideCommands` key (#443)
  frontend/dashboard/src/locales/en.json
Due: none

new docker layout
  .github/workflows/dockerv2.yml
  apps/api/Dockerfile
  apps/bots/Dockerfile
  apps/discord/Dockerfile
  apps/emotes-cacher/Dockerfile
  apps/eval/Dockerfile
  apps/eventsub/Dockerfile
  apps/language-detector/Dockerfile
  apps/parser/Dockerfile
  apps/scheduler/Dockerfile
  apps/timers/Dockerfile
  apps/tokens/Dockerfile
  apps/websockets/Dockerfile
  apps/ytsr/Dockerfile
  base.Dockerfile
  docker-compose.dev.yml
  frontend/dashboard/Dockerfile
  frontend/landing/Dockerfile
  frontend/overlays/Dockerfile
  frontend/public-page/Dockerfile
  libs/migrations/Dockerfile
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler, publish-eval

kruto
  base.Dockerfile
Due: none

kruto
  .github/workflows/dockerv2.yml
  apps/api/Dockerfile
  apps/bots/Dockerfile
  apps/discord/Dockerfile
  apps/emotes-cacher/Dockerfile
  apps/events/Dockerfile
  apps/eventsub/Dockerfile
  apps/integrations/Dockerfile
  apps/parser/Dockerfile
  apps/scheduler/Dockerfile
  apps/timers/Dockerfile
  apps/tokens/Dockerfile
  apps/websockets/Dockerfile
  apps/ytsr/Dockerfile
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

kruto
  .github/workflows/dockerv2.yml
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
