Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore: remove grpc-tools from deps
  libs/grpc/package.json
  pnpm-lock.yaml
Due: none

chore(dashboard): remove vite-pwa
  frontend/dashboard/package.json
  frontend/dashboard/pwa-assets.config.ts
  frontend/dashboard/vite.config.ts
  pnpm-lock.yaml
Due: none

fix(dashboard): fetch community users immidiate on page load
  frontend/dashboard/src/pages/CommunityUsers.vue
Due: none

chore(bots): log error why user not found
  .run/Dev.run.xml
  apps/bots/internal/chat_client/chat_client.go
Due: publish-bots

chore(bots): update logging
  apps/bots/internal/chat_client/chat_client.go
Due: publish-bots

chore: try to make dev script platform independent
  tools/dev.go
Due: none

chore(tools): remove language-detector from run apps process
  tools/dev.go
Due: none

chore: update go version
  apps/api/go.mod
  apps/bots/go.mod
  apps/discord/go.mod
  apps/emotes-cacher/go.mod
  apps/scheduler/go.mod
  apps/timers/go.mod
  apps/tokens/go.mod
  apps/websockets/go.mod
  go.work
  libs/logger/go.mod
  libs/utils/go.mod
Due: publish-api, publish-bots, publish-scheduler

chore(landing): add anchor to team section
  frontend/landing/src/components/home/Team.astro
Due: none

chore(api): migrate to internal sentry
  apps/api/cmd/main.go
  apps/api/internal/files/files.go
  apps/api/internal/impl_deps/impl_deps.go
  apps/api/internal/impl_protected/bot/bot.go
  apps/api/internal/impl_protected/dashboard/dashboard.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/twitch/twitch.go
  apps/api/internal/impl_unprotected/auth/auth.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/api/internal/impl_unprotected/twitch/twitch.go
  apps/api/internal/webhooks/donate_stream.go
  apps/api/internal/webhooks/donatello.go
  libs/sentry/sentry.go
Due: publish-api

chore: change default hostname in `.env.example`
  .env.example
Due: none

chore: change grpc ports in luck of windows reserved ports
  libs/grpc/constants/constants.go
  libs/grpc/constants/constants.ts
Due: none

chore(landing): use host and env from config, not from process env
  apps/api/internal/impl_protected/rewards/rewards.go
  frontend/landing/src/api/twirp.ts
Due: publish-api

refactor(libs/grpc): use node:fs api instead of "mv" unix command
  libs/grpc/gen.ts
Due: none

refactor(libs/grpc): use node:fs api instead of `mv` unix command (#454)
  libs/grpc/gen.ts
Due: none

chore: remove build-tools as requirement from readme
  README.md
Due: none

chore(tools): noinspection for goos in dev script
  tools/dev.go
Due: none

chore: remove sentry debug in all apps
  apps/bots/cmd/main.go
  apps/events/cmd/main.go
  apps/parser/cmd/main.go
  apps/timers/cmd/main.go
  apps/tokens/cmd/main.go
Due: publish-bots, publish-parser

chore(bots): no shadow for reader con error
  apps/bots/internal/chat_client/chat_client_reader.go
  apps/bots/internal/chat_client/chat_client_writer.go
Due: publish-bots

refactor(dashboard): move brb overlay to page, instead of modal
  frontend/dashboard/src/components/overlays/brb.vue
  frontend/dashboard/src/components/overlays/kappagen.vue
  frontend/dashboard/src/pages/overlays/brb/Brb.vue
  frontend/dashboard/src/pages/overlays/kappagen/Kappagen.vue
  frontend/dashboard/src/pages/overlays/kappagen/kappagen_animations.ts
  frontend/dashboard/src/pages/overlays/kappagen/settingsAnimations.vue
  frontend/dashboard/src/pages/overlays/kappagen/settingsEvents.vue
  frontend/dashboard/src/pages/overlays/kappagen/settingsGeneral.vue
  frontend/dashboard/src/pages/overlays/kappagen/store.ts
  frontend/dashboard/src/router.ts
Due: none

refactor(dashboard): move chat overlay to page, instead of modal
  frontend/dashboard/src/components/overlays/chat.vue
  frontend/dashboard/src/components/overlays/chat/settings.vue
  frontend/dashboard/src/pages/overlays/brb/Brb.vue
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
  frontend/dashboard/src/pages/overlays/chat/constants.ts
  frontend/dashboard/src/pages/overlays/chat/faker.ts
  frontend/dashboard/src/pages/overlays/styles.css
  frontend/dashboard/src/router.ts
Due: none

fix(dashboard): use structuredClone in script, not template
  frontend/dashboard/src/pages/overlays/brb/Brb.vue
Due: none

feat(dashboard): add tts voice preview
  frontend/dashboard/src/components/overlays/tts/settings.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
Due: none

chore(dashboard): set dev title in dev env
  frontend/dashboard/src/api/overlays/tts.ts
  frontend/dashboard/src/main.ts
Due: none

chore(grpc): unify postbuild
  libs/grpc/package.json
  libs/grpc/postbuild.ts
  libs/grpc/tsconfig.json
Due: none

chore: unify prebuild
  apps/eval/package.json
  apps/integrations/package.json
  libs/config/nodemon.json
  libs/config/package.json
  libs/grpc/package.json
  pnpm-lock.yaml
Due: publish-eval

chore: add missed `rimraf` dependency
  package.json
  pnpm-lock.yaml
Due: none

chore: update readme
  README.md
Due: none

fix(dashboard): popover outside click
  frontend/dashboard/src/layout/dashboardsMenu.vue
Due: none

chore: update readme (#455)
  README.md
Due: none

fix(dashboard): popover outside click (#456)
  frontend/dashboard/src/layout/dashboardsMenu.vue
Due: none

chore: change `hostname` config env for `site_base_url`
  .env.example
  apps/api/internal/impl_protected/integrations/discord.go
  apps/eventsub/cmd/main.go
  apps/parser/internal/commands/songrequest/youtube/list.go
  frontend/landing/astro.config.ts
  frontend/landing/src/api/twirp.ts
  libs/config/config.go
  libs/config/src/index.ts
Due: publish-api, publish-eventsub, publish-parser

chore(landing): use correct api base url in production
  frontend/landing/src/api/twirp.ts
Due: none

feat(landing): replace reviews with streamers
  apps/api/internal/impl_unprotected/stats/stats.go
  frontend/landing/package.json
  frontend/landing/src/components/home/ReviewDialog.vue
  frontend/landing/src/components/home/Reviews.vue
  frontend/landing/src/components/home/Streamers.vue
  frontend/landing/src/pages/index.astro
  frontend/landing/src/utils/chunk.ts
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/stats.proto
  pnpm-lock.yaml
Due: publish-api

fix(landing): do not repeat streamers
  frontend/landing/src/components/home/Streamers.astro
  frontend/landing/src/components/home/Streamers.vue
  frontend/landing/src/components/home/StreamersList.vue
  frontend/landing/src/pages/index.astro
Due: none

fix(landing): client only review dialog
  frontend/landing/src/components/home/Streamers.astro
Due: none

chore(api): add stats logging
  apps/api/internal/impl_unprotected/stats/stats.go
Due: publish-api

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
