Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

feat(front): rl integration bug fixes
  frontend/dashboard/components/integrations/rocketLeague.tsx
  frontend/dashboard/services/api/integrations/rocketLeague.ts
Due: none

feat(trackernet): add rl parsing
  apps/trackernet/package.json
  apps/trackernet/src/index.ts
  apps/trackernet/tsconfig.json
  libs/config/config.go
  libs/config/src/index.ts
  libs/grpc/protos/trackernet.proto
  libs/grpc/servers/constants.go
  libs/grpc/servers/constants.ts
Due: none

fix(trackernet): miss logic
  apps/trackernet/src/index.ts
  libs/grpc/clients/trackernet.go
  libs/grpc/clients/trackernet.ts
Due: none

feat(parser): rocket league variables
  apps/parser/cmd/main.go
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/types/rocket_league.go
  apps/parser/internal/types/services/services.go
  apps/parser/internal/types/variables_cacher.go
  apps/parser/internal/variables/rocket_league/matches.go
  apps/parser/internal/variables/rocket_league/ranks.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

feat(trackernet): caching
  apps/trackernet/src/index.ts
Due: none

feat(dashboard): success notification in rl integration
  frontend/dashboard/components/integrations/rocketLeague.tsx
  frontend/dashboard/services/api/fetchWrappers.ts
Due: none

chore(trackernet): add redis
  apps/trackernet/package.json
Due: none

chore
  pnpm-lock.yaml
Due: none

chore: trackernet in dockerfile + selenium
  Dockerfile
  docker-compose.dev.yml
Due: none

fix(parser): nil pointer dereference
  apps/parser/internal/variables/rocket_league/ranks.go
Due: publish-parser

feat(trackernet): on error caching
  apps/trackernet/src/index.ts
Due: none

fix(trackernet): miss console.log
  apps/trackernet/src/index.ts
Due: none

chore(api): extend text length limit
  apps/api/internal/api/v1/commands/dto.go
Due: publish-api

fix(parser): correctly detect links in tts, do not read empty messages
  apps/parser/internal/commands/tts/helpers.go
  apps/parser/internal/commands/tts/say.go
Due: publish-parser

fix(parser): add dns check for tts links checker
  apps/parser/internal/commands/tts/helpers.go
  apps/parser/internal/commands/tts/say.go
Due: publish-parser

chore: update `go.work.sum`
  go.work.sum
Due: none

chore: use own written process runner, instead of taskfile
  README.md
  Taskfile.yml
  apps/api/Taskfile.yml
  apps/bots/Taskfile.yml
  apps/dota/package.json
  apps/emotes-cacher/Taskfile.yml
  apps/eval/package.json
  apps/events/Taskfile.yml
  apps/eventsub/Taskfile.yml
  apps/integrations/package.json
  apps/integrations/src/index.ts
  apps/parser/Taskfile.yml
  apps/scheduler/Taskfile.yml
  apps/timers/Taskfile.yml
  apps/timers/cmd/main.go
  apps/tokens/Taskfile.yml
  apps/watched/Taskfile.yml
  apps/websockets/Taskfile.yml
  apps/ytsr/package.json
  frontend/landing/package.json
  frontend/landing/vite.config.ts
  frontend/landing/vite.dev.js
  frontend/overlays/package.json
  frontend/overlays/vite.config.ts
  frontend/overlays/vite.dev.js
  go.work
  go.work.sum
  package.json
  pnpm-lock.yaml
  tools/go.mod
  tools/go.sum
  tools/process-runner.go
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-parser, publish-scheduler, publish-eval

feat(events): continue process operations if tts disabled
  apps/events/internal/grpc_impl/processor/tts.go
Due: none

chore: maintain go.work
  Dockerfile
  go.work
Due: none

chore: fix `package.json` scripts
  package.json
Due: none

feat(events): add ability to disable event operations
  apps/api/internal/api/v1/events/dto.go
  apps/api/internal/api/v1/events/service.go
  apps/events/internal/grpc_impl/operations.go
  frontend/dashboard/components/events/drawer.tsx
  libs/gomodels/event_operation.go
  libs/typeorm/src/entities/events/EventOperation.ts
  libs/typeorm/src/migrations/1686603414357-event_operations_enabled.ts
Due: publish-api, publish-migrations

feat(events): add ability change timeout/ban message
  apps/api/internal/api/v1/events/dto.go
  apps/api/internal/api/v1/events/service.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/ban_unban.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/operationMapping.ts
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
  libs/gomodels/event_operation.go
  libs/typeorm/src/entities/events/EventOperation.ts
  libs/typeorm/src/migrations/1686608540661-event_operations_add_timeout_message.ts
Due: publish-api, publish-migrations

feat(bots): exclude user from lurkers if he writes something in chat
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/messages/remove_lurker.go
Due: publish-bots

feat(dashboard): do not close events drawer on click outside
  frontend/dashboard/components/events/drawer.tsx
Due: none

feat(dashboard): do not close drawers/modals on click outside
  frontend/dashboard/components/commands/modal.tsx
  frontend/dashboard/components/commandsGroup/drawer.tsx
  frontend/dashboard/components/greetings/modal.tsx
  frontend/dashboard/components/keywords/drawer.tsx
  frontend/dashboard/components/moderation/drawer.tsx
  frontend/dashboard/components/overlays/obs.tsx
  frontend/dashboard/components/overlays/tts.tsx
  frontend/dashboard/components/roles/modal.tsx
  frontend/dashboard/components/timers/modal.tsx
  frontend/dashboard/components/variables/modal.tsx
Due: none

feat(parser): use word boundary for replace emotes in tts
  apps/parser/internal/commands/tts/say.go
Due: publish-parser

fix(parser): correct replace links and emotes
  apps/parser/internal/commands/tts/say.go
Due: publish-parser

feat(parser): check online stream before requesting songs
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

feat(parser): send translated text when no text
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

feat(dashboard): change `songs.translations.minWatched` text
  frontend/dashboard/pages/song-requests/settings.tsx
Due: none

feat(ytsr): print `song.link` url in announce if available
  apps/parser/internal/commands/songrequest/youtube/sr.go
  apps/websockets/internal/namespaces/youtube/handle_message.go
  apps/ytsr/src/index.ts
  frontend/dashboard/pages/song-requests/settings.tsx
  libs/gomodels/requested_song.go
  libs/grpc/protos/ytsr.proto
  libs/typeorm/src/entities/RequestedSong.ts
  libs/typeorm/src/migrations/1686693093611-add_song_link_to_requests.ts
Due: publish-migrations, publish-parser

fix(parser): do not check broadcaster on song requests restrictions
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

fix(parser): correct variable name for minimal required messages in song requests
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

fix(dashboard): correct name of sort column on community/users page
  frontend/dashboard/pages/community/users.tsx
Due: none

chore(parser): remove twitch soundtrack, because it will be removed by twitch soon
  apps/parser/internal/variables/song/song.go
Due: publish-parser

refactor: rewrite api to `twirp`
  libs/grpc/gen.ts
  libs/grpc/go.mod
  libs/grpc/go.sum
  libs/grpc/package.json
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/bots.proto
  libs/grpc/protos/api/commands.proto
  libs/grpc/protos/api/meta.proto
  libs/grpc/tools/tools.go
  libs/grpc/tsconfig.json
  pnpm-lock.yaml
Due: none

upd
  apps/api-twirp/cmd/main.go
  apps/api-twirp/go.mod
  apps/api-twirp/go.sum
  apps/api-twirp/internal/impl/bots.go
  apps/api-twirp/internal/impl/commands.go
  apps/api-twirp/internal/impl/impl.go
  apps/api-twirp/internal/wrappers/channel_id.go
  apps/api-twirp/internal/wrappers/cors.go
  apps/api-twirp/internal/wrappers/wrap.go
  go.work
  libs/grpc/protos/api.proto
  tools/process-runner.go
Due: none

upd
  apps/api-twirp/cmd/main.go
  apps/api-twirp/internal/impl/bots.go
  apps/api-twirp/internal/impl/commands.go
  apps/api-twirp/internal/interceptors/cache.go
  apps/api-twirp/internal/interceptors/interceptors.go
  apps/api-twirp/internal/twirp_handler/handler.go
  apps/api-twirp/internal/wrappers/channel_id.go
Due: none

upd
  apps/api-twirp/cmd/main.go
  apps/api-twirp/internal/impl/impl.go
  apps/api-twirp/internal/twirp_handler/handler.go
Due: none

upd
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/bots.proto
  libs/grpc/protos/api/commands.proto
  libs/grpc/protos/api/community.proto
  libs/grpc/protos/api/events.proto
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
