Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore(dockerfile): correct path to tsconfigs
  Dockerfile
Due: none

feat(bots): get channels on connect
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/connect.go
Due: publish-bots

feat(bots): share twitch user to handlers
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/connect.go
  apps/bots/internal/bots/handlers/self_join.go
  apps/bots/types/chat_client.go
Due: publish-bots

fix(bots): correctly check bot mod status
  apps/bots/internal/bots/handlers/connect.go
  apps/bots/internal/bots/handlers/handlers.go
Due: publish-bots

fix(bots): use mutex for channels rate limiters
  apps/bots/internal/bots/handlers/connect.go
  apps/bots/internal/bots/handlers/user_state.go
  apps/bots/types/chat_client.go
Due: publish-bots

fix(bots): correctly check user perms
  apps/api/internal/api/v1/commands/dto.go
  apps/bots/internal/bots/handlers/message.go
  apps/frontend/src/components/Command.vue
  apps/parser/internal/permissions/permissions.go
Due: publish-api, publish-bots, publish-parser

refactor(parser): get only enabled commands from db
  apps/parser/internal/commands/commands.go
  apps/parser/internal/handlers/nats/commandsProcess.go
  apps/parser/internal/permissions/permissions.go
Due: publish-parser

fix: use `IS` statement for db queries
  apps/bots/internal/bots/handlers/connect.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/nuke/nuke.go
Due: publish-bots, publish-parser

revert: use `=` for boolean filter in bots and parser
  apps/bots/internal/bots/handlers/connect.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/nuke/nuke.go
Due: publish-bots, publish-parser

fix(bots): first create user then store his message
  apps/bots/internal/bots/handlers/message.go
Due: publish-bots

upd
  apps/bots/Taskfile.yml
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/message_command.go
  apps/bots/internal/bots/handlers/message_greetings.go
  apps/bots/internal/bots/handlers/message_keywods.go
  apps/bots/internal/bots/handlers/message_moderation.go
  apps/bots/internal/bots/handlers/moderation/blacklist.go
  apps/bots/internal/bots/handlers/moderation/caps.go
  apps/bots/internal/bots/handlers/moderation/caps_test.go
  apps/bots/internal/bots/handlers/moderation/links.go
  apps/bots/internal/bots/handlers/moderation/longmessage.go
  apps/bots/internal/bots/handlers/moderation/longmessage_test.go
  apps/bots/internal/bots/handlers/moderation/symbols.go
  apps/bots/internal/bots/handlers/moderation/symbols_test.go
Due: publish-bots

upd
  apps/bots/internal/bots/handlers/moderation/caps_test.go
Due: publish-bots

init
  apps/bots/internal/bots/handlers/moderation/caps_test.go
  apps/bots/internal/bots/handlers/moderation/symbols_test.go
Due: publish-bots

table driven tests for moderation (#233)
  apps/bots/internal/bots/handlers/moderation/caps_test.go
  apps/bots/internal/bots/handlers/moderation/symbols_test.go
Due: publish-bots

feat(bots): listen commands in reply
  apps/bots/internal/bots/handlers/message.go
Due: publish-bots

Update tests
  apps/bots/internal/bots/handlers/handlers.go
  apps/bots/internal/bots/handlers/moderation/blacklist_test.go
  apps/bots/internal/bots/handlers/moderation/caps_test.go
  apps/bots/internal/bots/handlers/moderation/links.go
  apps/bots/internal/bots/handlers/moderation/links_test.go
  apps/bots/internal/bots/handlers/moderation/symbols.go
  apps/bots/internal/bots/handlers/moderation/symbols_test.go
  apps/bots/pkg/tlds/tlds.go
Due: publish-bots

upd
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/message_moderation.go
  libs/gomodels/channel_moderation_warn.go
Due: publish-bots

feat: YoutubeSettingsModal component
  .vscode/settings.json
  apps/frontend/src/components/elements/TswArrayInput.vue
  apps/frontend/src/components/elements/TswNumberInput.vue
  apps/frontend/src/components/elements/TswSwitch.vue
  apps/frontend/src/components/elements/TswTextInput.vue
  apps/frontend/src/components/widgets/YoutubeQueuePlayer.vue
  apps/frontend/src/components/widgets/YoutubeSettingsModal.vue
  apps/frontend/src/functions/useUpdatingDataFixed.ts
  apps/frontend/src/main.css
  apps/frontend/tsconfig.json
  libs/typeorm/src/index.ts
  pnpm-lock.yaml
Due: publish-migrations

upd
  apps/bots/internal/bots/handlers/message_moderation.go
  libs/twitch/go.mod
  libs/twitch/go.sum
Due: publish-bots

upd
  apps/bots/internal/bots/handlers/message_moderation.go
  apps/bots/internal/bots/handlers/moderation/caps_test.go
  apps/bots/internal/bots/handlers/moderation/longmessage.go
  apps/bots/internal/bots/handlers/moderation/longmessage_test.go
  apps/bots/internal/bots/handlers/moderation/symbols.go
  apps/bots/internal/bots/handlers/moderation/symbols_test.go
Due: publish-bots

upd
  apps/bots/internal/bots/handlers/message_moderation.go
Due: publish-bots

feat(bots): add moderation (#232)
  apps/bots/Taskfile.yml
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/bots/handlers/handlers.go
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/message_command.go
  apps/bots/internal/bots/handlers/message_greetings.go
  apps/bots/internal/bots/handlers/message_keywods.go
  apps/bots/internal/bots/handlers/message_moderation.go
  apps/bots/internal/bots/handlers/moderation/blacklist.go
  apps/bots/internal/bots/handlers/moderation/blacklist_test.go
  apps/bots/internal/bots/handlers/moderation/caps.go
  apps/bots/internal/bots/handlers/moderation/caps_test.go
  apps/bots/internal/bots/handlers/moderation/links.go
  apps/bots/internal/bots/handlers/moderation/links_test.go
  apps/bots/internal/bots/handlers/moderation/longmessage.go
  apps/bots/internal/bots/handlers/moderation/longmessage_test.go
  apps/bots/internal/bots/handlers/moderation/symbols.go
  apps/bots/internal/bots/handlers/moderation/symbols_test.go
  apps/bots/pkg/tlds/tlds.go
  libs/gomodels/channel_moderation_warn.go
  libs/twitch/go.mod
  libs/twitch/go.sum
Due: publish-bots

chore: update go sums
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/bots/handlers/message.go
  apps/timers/go.mod
  apps/timers/go.sum
  go.work.sum
  libs/twitch/go.sum
Due: publish-bots

chore: update api checksums
  apps/api/go.mod
  apps/api/go.sum
Due: publish-api

feat(bots): add regexp support for keywords
  apps/bots/internal/bots/handlers/message_keywods.go
Due: publish-bots

chore(bots): remove redutant sptinf for keywords
  apps/bots/internal/bots/handlers/message_keywods.go
Due: publish-bots

fix(bots): select only enabled keywords
  apps/bots/internal/bots/handlers/message_keywods.go
Due: publish-bots

fix(bots): select only enabled greetings
  apps/bots/internal/bots/handlers/message_greetings.go
Due: publish-bots

feat: add flag for switch type of keyword beetwen text/regular
  apps/api/internal/api/v1/keywords/dto.go
  apps/api/internal/api/v1/keywords/service.go
  apps/bots/internal/bots/handlers/message_keywods.go
  apps/frontend/src/components/Keyword.vue
  apps/frontend/src/dashboard/Keywords.vue
  apps/frontend/src/locales/gb.json
  apps/frontend/src/locales/ru.json
  libs/gomodels/channels_keywords.go
  libs/typeorm/src/entities/ChannelKeyword.ts
  libs/typeorm/src/migrations/1668456744227-keywords_add_is_regular_flag.ts
Due: publish-api, publish-bots, publish-migrations

fix: input components and add cross to modal
  apps/frontend/src/assets/icons/cross.svg
  apps/frontend/src/components/elements/TswArrayInput.vue
  apps/frontend/src/components/elements/TswNumberInput.vue
  apps/frontend/src/components/elements/TswSwitch.vue
  apps/frontend/src/components/elements/TswTextInput.vue
  apps/frontend/src/components/widgets/YoutubeSettingsModal.vue
Due: none

chore(dota): update protos
  apps/dota/protos/dota2/google/protobuf/descriptor.proto
Due: publish-dota

fix: remove unnecesary code
  apps/frontend/src/components/elements/TswNumberInput.vue
Due: none

add vercel json
  apps/web/vercel.json
Due: none

upd
  apps/web/vercel.json
Due: none

upd
  apps/web/.gitignore
  apps/web/package.json
  devbox.json
Due: none

upd
  apps/web/package.json
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
