Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

kruto
  tools/process-runner.go
Due: none

kruto
  frontend/dashboard/src/components/greetings/modal.vue
Due: none

kruto
  frontend/dashboard/src/components/commands/createListColumns.ts
  frontend/dashboard/src/components/integrations/donatello.vue
  frontend/dashboard/src/components/integrations/donatepay.vue
  frontend/dashboard/src/components/integrations/donatestream.vue
  frontend/dashboard/src/components/integrations/donationalerts.vue
  frontend/dashboard/src/components/integrations/faceit.vue
  frontend/dashboard/src/components/integrations/lastfm.vue
  frontend/dashboard/src/components/integrations/spotify.vue
  frontend/dashboard/src/components/integrations/streamlabs.vue
  frontend/dashboard/src/components/integrations/valorant.vue
  frontend/dashboard/src/components/integrations/variants/oauth.vue
  frontend/dashboard/src/components/integrations/vk.vue
  frontend/dashboard/src/components/roles/modal.vue
  frontend/dashboard/src/pages/CommunityRoles.vue
  frontend/dashboard/src/pages/CommunityUsers.vue
Due: none

kruto
  frontend/dashboard/package.json
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/pages/CommunityRoles.vue
  frontend/dashboard/src/pages/SongRequests.vue
  frontend/dashboard/src/router.ts
  frontend/dashboard/tsconfig.json
  pnpm-lock.yaml
Due: none

kruto
  frontend/dashboard/src/components/roles/modal.vue
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/components/songRequests/settings.vue
  frontend/dashboard/src/pages/SongRequests.vue
Due: none

kruto
  frontend/dashboard/package.json
  frontend/dashboard/src/components/songRequests/player.vue
  pnpm-lock.yaml
Due: none

kruto
  frontend/dashboard/src/components/songRequests/helpers.ts
  frontend/dashboard/src/components/songRequests/player.vue
Due: none

kruto
  frontend/dashboard/src/components/songRequests/player.vue
Due: none

kruto
  frontend/dashboard/src/components/songRequests/hook.ts
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/vite.config.ts
Due: none

kruto
  frontend/dashboard/package.json
  frontend/dashboard/src/components/songRequests/helpers.ts
  frontend/dashboard/src/components/songRequests/hook.ts
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/components/songRequests/queue.vue
  frontend/dashboard/src/pages/SongRequests.vue
  pnpm-lock.yaml
Due: none

kruto
  apps/websockets/internal/namespaces/youtube/handle_connect.go
  apps/websockets/internal/namespaces/youtube/handle_message.go
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/components/songRequests/queue.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/pages/SongRequests.vue
  frontend/dashboard/src/router.ts
Due: none

kruto
  frontend/dashboard/src/components/songRequests/queue.vue
Due: none

kruto
  frontend/dashboard/src/components/songRequests/hook.ts
  frontend/dashboard/src/components/songRequests/queue.vue
  frontend/dashboard/src/pages/SongRequests.vue
Due: none

kruto
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/components/songRequests/queue.vue
Due: none

kruto
  frontend/dashboard/src/components/songRequests/hook.ts
  frontend/dashboard/src/components/songRequests/queue.vue
  frontend/dashboard/src/components/timers/modal.vue
  frontend/dashboard/src/pages/SongRequests.vue
Due: none

kruto
  frontend/dashboard/src/components/songRequests/hook.ts
Due: none

kruto
  apps/api/internal/impl_protected/rewards/rewards.go
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/api/twitch.ts
  frontend/dashboard/src/api/youtubeSearch.ts
  frontend/dashboard/src/components/greetings/modal.vue
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/components/songRequests/queue.vue
  frontend/dashboard/src/components/songRequests/settings.vue
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/pages/SongRequests.vue
Due: publish-api

kruto
  apps/api/internal/impl_protected/modules/sr.go
  frontend/dashboard/src/api/youtubeSearch.ts
  frontend/dashboard/src/components/songRequests/settings.vue
Due: publish-api

kruto
  frontend/dashboard/src/components/songRequests/settings.vue
Due: none

kruto
  apps/api/internal/impl_protected/rewards/rewards.go
  frontend/dashboard/src/components/songRequests/settings.vue
Due: publish-api

add unplugin import
  frontend/dashboard/auto-imports.d.ts
  frontend/dashboard/components.d.ts
  frontend/dashboard/package.json
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/components/commands/manageGroups.vue
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/copyInput.vue
  frontend/dashboard/src/components/dashboard/bot.vue
  frontend/dashboard/src/components/greetings/modal.vue
  frontend/dashboard/src/components/integrations/donatello.vue
  frontend/dashboard/src/components/integrations/donatepay.vue
  frontend/dashboard/src/components/integrations/donatestream.vue
  frontend/dashboard/src/components/integrations/valorant.vue
  frontend/dashboard/src/components/integrations/variants/oauth.vue
  frontend/dashboard/src/components/integrations/variants/withSettings.vue
  frontend/dashboard/src/components/keywords/modal.vue
  frontend/dashboard/src/components/roles/modal.vue
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/components/songRequests/queue.vue
  frontend/dashboard/src/components/songRequests/settings.vue
  frontend/dashboard/src/components/textWithVariables.vue
  frontend/dashboard/src/components/timers/modal.vue
  frontend/dashboard/src/components/twitchUsers/multiple.vue
  frontend/dashboard/src/components/twitchUsers/single.vue
  frontend/dashboard/src/components/variables/modal.vue
  frontend/dashboard/src/layout/header.vue
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/pages/CommunityRoles.vue
  frontend/dashboard/src/pages/CommunityUsers.vue
  frontend/dashboard/src/pages/Greetings.vue
  frontend/dashboard/src/pages/Integrations.vue
  frontend/dashboard/src/pages/Keywords.vue
  frontend/dashboard/src/pages/SongRequests.vue
  frontend/dashboard/src/pages/Timers.vue
  frontend/dashboard/src/pages/Variables.vue
  frontend/dashboard/tsconfig.json
  frontend/dashboard/vite.config.ts
  pnpm-lock.yaml
Due: none

kruto
  frontend/dashboard/index.html
  frontend/dashboard/src/api/twirp.ts
  frontend/dashboard/src/pages/Keywords.vue
  frontend/dashboard/src/pages/Timers.vue
Due: none

kruto
  frontend/dashboard/package.json
  pnpm-lock.yaml
Due: none

kruto
  frontend/dashboard/src/api/bot.ts
  frontend/dashboard/src/components/dashboard/bot.vue
  frontend/dashboard/src/components/twitchUsers/multiple.vue
  frontend/dashboard/src/components/twitchUsers/single.vue
  frontend/dashboard/tsconfig.json
Due: none

kruto
  frontend/dashboard/src/vite-env.d.ts
Due: none

kruto
  apps/api/internal/impl_protected/modules/sr.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/api/modules/index.ts
  frontend/dashboard/src/api/modules/ytsr.ts
  frontend/dashboard/src/api/youtubeSearch.ts
  frontend/dashboard/src/components/songRequests/settings.vue
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/modules_sr.proto
  libs/types/types/api/modules/youtube.go
Due: publish-api, publish-parser

kruto
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/impl_protected/modules/sr.go
Due: publish-api

kruto
  apps/api/internal/impl_protected/modules/sr.go
  frontend/dashboard/src/components/songRequests/settings.vue
Due: publish-api

kruto
  frontend/dashboard/src/api/youtubeSearch.ts
  frontend/dashboard/src/components/songRequests/settings.vue
Due: none

kruto
  apps/api/internal/impl_protected/modules/tts.go
  frontend/dashboard/auto-imports.d.ts
  frontend/dashboard/components.d.ts
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/api/overlays/index.ts
  frontend/dashboard/src/api/overlays/tts.ts
  frontend/dashboard/src/assets/icons/integrations/obs.svg
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/components/overlays/tts.vue
  frontend/dashboard/src/layout/header.vue
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/pages/Overlays.vue
  frontend/dashboard/src/router.ts
Due: publish-api

kruto
  apps/api/internal/impl_protected/modules/tts.go
  frontend/dashboard/src/api/overlays/tts.ts
  frontend/dashboard/src/components/overlays/tts.vue
Due: publish-api

kruto
  frontend/dashboard/src/components/overlays/tts.vue
  frontend/dashboard/src/components/songRequests/queue.vue
Due: none

kruto
  apps/api/internal/impl_protected/modules/tts.go
  apps/api/internal/impl_unprotected/modules/tts.go
  frontend/dashboard/src/api/overlays/tts.ts
  frontend/dashboard/src/api/twitch.ts
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/greetings/modal.vue
  frontend/dashboard/src/components/keywords/modal.vue
  frontend/dashboard/src/components/overlays/tts.vue
  frontend/dashboard/src/components/overlays/tts/users.vue
  frontend/dashboard/src/components/roles/modal.vue
  frontend/dashboard/src/components/songRequests/queue.vue
  frontend/dashboard/src/components/timers/modal.vue
  frontend/dashboard/src/components/variables/modal.vue
  frontend/overlays/package.json
  frontend/overlays/src/libs/twirp.ts
  frontend/overlays/src/pages/tts.tsx
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/modules_tts.proto
  package.json
  pnpm-lock.yaml
Due: publish-api

kruto
  frontend/dashboard/src/components/overlays/tts.vue
  frontend/dashboard/src/components/overlays/tts/users.vue
Due: none

kruto
  apps/api/internal/impl_protected/modules/tts.go
  frontend/dashboard/src/api/overlays/tts.ts
  frontend/dashboard/src/components/overlays/tts/users.vue
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/modules_tts.proto
Due: publish-api

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
