Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

keywords
  apps/dashboard/components/keywords/drawer.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/pages/keywords.tsx
  apps/dashboard/services/api/fetchWrappers.ts
  apps/dashboard/services/api/keywords.ts
  apps/dashboard/services/api/timers.ts
Due: none

variables
  apps/dashboard/components/variables/drawer.tsx
  apps/dashboard/pages/variables.tsx
  apps/dashboard/services/api/variables.ts
Due: none

upd Chatting
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/greetings/controller.go
  apps/api/internal/api/v1/greetings/dto.go
  apps/api/internal/api/v1/greetings/helpers.go
  apps/api/internal/api/v1/greetings/service.go
  apps/dashboard/components/greetings/drawer.tsx
  apps/dashboard/pages/greetings.tsx
  apps/dashboard/pages/keywords.tsx
  apps/dashboard/pages/timers.tsx
  apps/dashboard/pages/variables.tsx
  apps/dashboard/services/api/greetings.ts
Due: publish-api

spotify
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/integrations/spotify/controller.go
  apps/api/internal/api/v1/integrations/spotify/service.go
  apps/api/internal/services/redis/cache.go
  apps/api/nodemon.json
  apps/dashboard/components/integrations/spotify.tsx
  apps/dashboard/pages/integrations/spotify.tsx
  apps/dashboard/services/api/integrations/index.ts
  apps/dashboard/services/api/integrations/spotify.ts
  docker-compose.dev.yml
Due: publish-api

lastfm finish
  apps/api/cmd/main.go
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/v1/integrations/lastfm/controller.go
  apps/api/internal/api/v1/integrations/lastfm/dto.go
  apps/api/internal/api/v1/integrations/lastfm/service.go
  apps/api/internal/api/v1/integrations/lastfm/types.go
  apps/api/internal/api/v1/integrations/spotify/controller.go
  apps/api/internal/services/redis/cache.go
  apps/dashboard/components/integrations/lastfm.tsx
  apps/dashboard/pages/integrations/lastfm.tsx
  apps/dashboard/services/api/fetchWrappers.ts
  apps/dashboard/services/api/integrations/index.ts
  apps/dashboard/services/api/integrations/lastfm.ts
  apps/web/vite.config.ts.timestamp-1671482640712.mjs
Due: publish-api

upd
  apps/parser/internal/integrations/lastfm/lastfm.go
  apps/parser/internal/variables/song/song.go
  apps/parser/nodemon.json
Due: publish-parser

streamlabs
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/integrations/donationalerts/controller.go
  apps/api/internal/api/v1/integrations/donationalerts/dto.go
  apps/api/internal/api/v1/integrations/donationalerts/service.go
  apps/api/internal/api/v1/integrations/spotify/controller.go
  apps/api/internal/api/v1/integrations/spotify/service.go
  apps/api/internal/api/v1/integrations/streamlabs/controller.go
  apps/api/internal/api/v1/integrations/streamlabs/dto.go
  apps/api/internal/api/v1/integrations/streamlabs/service.go
  apps/dashboard/components/integrations/donationalerts.tsx
  apps/dashboard/components/integrations/streamlabs.tsx
  apps/dashboard/pages/integrations/donationalerts.tsx
  apps/dashboard/pages/integrations/lastfm.tsx
  apps/dashboard/pages/integrations/streamlabs.tsx
  apps/dashboard/services/api/integrations/donationalerts.ts
  apps/dashboard/services/api/integrations/index.ts
  apps/dashboard/services/api/integrations/streamlabs.ts
Due: publish-api

upd CHatting
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/integrations/vk/controller.go
  apps/api/internal/api/v1/integrations/vk/service.go
  apps/dashboard/components/integrations/vk.tsx
  apps/dashboard/services/api/integrations/index.ts
  apps/dashboard/services/api/integrations/vk.ts
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/integrations/vk/controller.go
  apps/api/internal/api/v1/integrations/vk/dto.go
  apps/api/internal/api/v1/integrations/vk/service.go
  apps/dashboard/components/integrations/vk.tsx
  apps/dashboard/pages/integrations/vk.tsx
  apps/dashboard/services/api/integrations/vk.ts
Due: publish-api

upd Vk
  apps/api/internal/api/v1/integrations/vk/service.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/integrations/vk/service.go
  apps/parser/internal/integrations/vk/vk.go
Due: publish-api, publish-parser

upd
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/settings/dashboardAccess/controller.go
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/components/settings.tsx/card.tsx
  apps/dashboard/components/settings.tsx/dashboardAccess.tsx
  apps/dashboard/components/settings/dashboardAcessDrawer.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/pages/settings.tsx
  apps/dashboard/services/api/dashboardAcess.ts
  apps/dashboard/services/api/index.ts
Due: publish-api

upd Chatting
  apps/dashboard/services/api/fetchWrappers.ts
Due: none

upd Chatting
  apps/dashboard/pages/_app.tsx
Due: none

upd Chatting
  apps/dashboard/pages/_app.tsx
  apps/dashboard/services/api/commands.ts
  apps/dashboard/services/api/dashboardAcess.ts
  apps/dashboard/services/api/error.tsx
  apps/dashboard/services/api/fetchWrappers.ts
  apps/dashboard/services/api/greetings.ts
  apps/dashboard/services/api/integrations/donationalerts.ts
  apps/dashboard/services/api/integrations/lastfm.ts
  apps/dashboard/services/api/integrations/spotify.ts
  apps/dashboard/services/api/integrations/streamlabs.ts
  apps/dashboard/services/api/integrations/vk.ts
  apps/dashboard/services/api/keywords.ts
  apps/dashboard/services/api/timers.ts
  apps/dashboard/services/api/variables.ts
Due: none

init i18n
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/next-i18next.config.js
  apps/dashboard/next.config.js
  apps/dashboard/package.json
  apps/dashboard/pages/_app.tsx
  apps/dashboard/pages/_document.tsx
  apps/dashboard/pages/commands.tsx
  apps/dashboard/public/locales/en/commands.json
  apps/dashboard/public/locales/en/common.json
  apps/dashboard/public/locales/ru/commands.json
  apps/dashboard/public/locales/ru/common.json
  apps/dashboard/services/dashboard/index.ts
  apps/dashboard/services/dashboard/useLocale.ts
  pnpm-lock.yaml
Due: none

upd
  apps/dashboard/components/layout/navbar.tsx
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/public/locales/en/layout.json
  apps/dashboard/public/locales/ru/layout.json
Due: none

update i18n
  apps/dashboard/components/integrations/spotify.tsx
  apps/dashboard/components/integrations/streamlabs.tsx
  apps/dashboard/components/integrations/vk.tsx
  apps/dashboard/components/settings/card.tsx
  apps/dashboard/components/settings/dashboardAccess.tsx
  apps/dashboard/components/settings/drawer.tsx
  apps/dashboard/pages/settings.tsx
  apps/dashboard/public/locales/en/settings.json
  apps/dashboard/public/locales/ru/settings.json
Due: none

update i18n
  apps/dashboard/components/commands/drawer.tsx
  apps/dashboard/components/timers/drawer.tsx
  apps/dashboard/pages/commands.tsx
  apps/dashboard/pages/timers.tsx
  apps/dashboard/public/locales/en/commands.json
  apps/dashboard/public/locales/en/timers.json
  apps/dashboard/public/locales/ru/commands.json
  apps/dashboard/public/locales/ru/timers.json
Due: none

update i18n
  .idea/tsuwari.iml
  apps/dashboard/components/moderation/card.tsx
  apps/dashboard/components/moderation/drawer.tsx
  apps/dashboard/components/moderation/mapping.ts
  apps/dashboard/pages/moderation.tsx
  apps/dashboard/public/locales/en/moderation.json
  apps/dashboard/public/locales/ru/moderation.json
Due: none

update i18n
  .idea/dataSources.xml
  .idea/tsuwari.iml
Due: none

update i18n
  apps/dashboard/components/keywords/drawer.tsx
  apps/dashboard/pages/commands.tsx
  apps/dashboard/pages/keywords.tsx
  apps/dashboard/public/locales/en/commands.json
  apps/dashboard/public/locales/en/keywords.json
  apps/dashboard/public/locales/ru/commands.json
  apps/dashboard/public/locales/ru/keywords.json
Due: none

update i18n
  apps/dashboard/components/variables/drawer.tsx
  apps/dashboard/pages/timers.tsx
  apps/dashboard/pages/variables.tsx
  apps/dashboard/public/locales/ru/variables.json
Due: none

update i18n
  apps/dashboard/components/greetings/drawer.tsx
  apps/dashboard/pages/greetings.tsx
  apps/dashboard/public/locales/en/greetings.json
  apps/dashboard/public/locales/ru/greetings.json
Due: none

upd Chatting
  apps/dashboard/components/layout/sidebar.tsx
Due: none

fix sidebar
  apps/dashboard/components/layout/sidebar.tsx
Due: none

upd Chatting
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
Due: none

upd Chatting
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/integrations/streamlabs/controller.go
  apps/api/internal/api/v1/integrations/vk/controller.go
  apps/api/internal/api/v1/integrations/vk/service.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/integrations/faceit/controller.go
  apps/api/internal/api/v1/integrations/faceit/dto.go
  apps/api/internal/api/v1/integrations/faceit/service.go
  apps/api/internal/api/v1/integrations/spotify/controller.go
  apps/api/internal/api/v1/integrations/spotify/service.go
  apps/dashboard/components/integrations/faceit.tsx
  apps/dashboard/pages/_app.tsx
  apps/dashboard/pages/integrations.tsx
  apps/dashboard/pages/integrations/donationalerts.tsx
  apps/dashboard/pages/integrations/faceit.tsx
  apps/dashboard/pages/integrations/lastfm.tsx
  apps/dashboard/pages/integrations/spotify.tsx
  apps/dashboard/pages/integrations/streamlabs.tsx
  apps/dashboard/services/api/integrations/faceit.ts
  apps/dashboard/services/api/integrations/index.ts
  apps/dashboard/services/dashboard/useSelectedDashboard.ts
  apps/parser/internal/variablescache/faceit.go
Due: publish-api, publish-parser

upd Chatting
  apps/api/internal/api/v1/commands/helpers.go
  apps/api/internal/api/v1/commands/service.go
  apps/dashboard/components/commands/drawer.tsx
  apps/dashboard/pages/commands.tsx
  apps/dashboard/services/api/commands.ts
Due: publish-api

upd Chatting
  apps/dashboard/pages/commands.tsx
  apps/dashboard/pages/greetings.tsx
  apps/dashboard/pages/keywords.tsx
  apps/dashboard/pages/timers.tsx
Due: none

upd Chatting
  apps/api/internal/api/v1/timers/service.go
Due: publish-api

upd Chatting
  apps/dashboard/services/api/profile.ts
Due: none

fix: env config import
  libs/config/config.go
Due: none

upd Chatting
  apps/api/internal/api/auth/checkUser.go
  apps/dashboard/components/dashboard/bot.tsx
  apps/dashboard/pages/index.tsx
  apps/dashboard/public/locales/en/dashboard.json
  apps/dashboard/public/locales/ru/dashboard.json
  apps/dashboard/services/api/bot.ts
Due: publish-api

upd Chatting
  apps/dashboard/components/commands/drawer.tsx
Due: none

fetcher creator
  apps/dashboard/services/api/fetchWrappers.ts
Due: none

upd Chatting
  apps/dashboard/components/layout/sidebar.tsx
  apps/dashboard/pages/_app.tsx
  apps/eventsub/src/libs/middleware.ts
Due: publish-eventsub

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
