Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore(parser): change channel points format in `!me` to not confuse
  apps/parser/internal/commands/stats/user_me.go
Due: publish-parser

chore: delete `.vscode` and `.idea` folder from project
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dataSources.xml
  .idea/externalDependencies.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/jsLinters/eslint.xml
  .idea/modules.xml
  .idea/php.xml
  .idea/prettier.xml
  .idea/runConfigurations/Generate_Docs.xml
  .idea/runConfigurations/Run_application.xml
  .idea/sqldialects.xml
  .idea/tsuwari.iml
  .idea/vcs.xml
  .vscode/launch.json
  .vscode/settings.json
Due: none

fix(parser): add `http/https` check to tts links regexp, so bot wont read that
  apps/parser/internal/commands/tts/say.go
Due: publish-parser

feat(ytsr): do not make api request to odesli for youtube links
  apps/ytsr/src/index.ts
Due: none

refactor(parser): remove printing of current category on `!game` and `!title`
  apps/parser/internal/commands/channel/game/game.go
  apps/parser/internal/commands/channel/title/title.go
  libs/typeorm/src/migrations/1683364542566-remove_title_and_game.ts
Due: publish-migrations, publish-parser

performance(scheduler): do not use `Find` for each user in chat, instead do all operations in batches/chunks
  apps/scheduler/internal/timers/online.go
Due: publish-scheduler

chore(scheduler): use transaction in loop
  apps/scheduler/internal/timers/online.go
Due: publish-scheduler

fix(api): use http1 for faceit requests
  apps/api/internal/api/v1/integrations/faceit/service.go
Due: publish-api

chore(stack): change domain
  docker-compose.stack.yml
Due: none

fix(parser): use `req` for requests
  apps/parser/internal/variablescache/faceit.go
Due: publish-parser

fix(parser): use http1 for faceit requests
  apps/parser/internal/variablescache/faceit.go
Due: publish-parser

chore(parser): change dota perms
  apps/parser/internal/commands/dota/gm_command.go
  apps/parser/internal/commands/dota/lg_command.go
  apps/parser/internal/commands/dota/np_command.go
  apps/parser/internal/commands/dota/wl_command.go
Due: publish-parser

feat(dashboard): add info to integrations
  frontend/dashboard/components/integrations/donatello.tsx
  frontend/dashboard/components/integrations/donatepay.tsx
  frontend/dashboard/components/integrations/donationalerts.tsx
  frontend/dashboard/components/integrations/faceit.tsx
  frontend/dashboard/components/integrations/lastfm.tsx
  frontend/dashboard/components/integrations/spotify.tsx
  frontend/dashboard/components/integrations/streamlabs.tsx
  frontend/dashboard/components/integrations/valorant.tsx
  frontend/dashboard/components/integrations/vk.tsx
  frontend/dashboard/public/locales/en/integrations.json
  frontend/dashboard/public/locales/ru/integrations.json
Due: none

feat(dashboard): change command editor to modal, and improve structure
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/components/commands/list.tsx
  frontend/dashboard/components/commands/modal.tsx
  frontend/dashboard/pages/commands/[[...module]].tsx
  frontend/dashboard/public/locales/en/commands.json
  frontend/dashboard/public/locales/ru/commands.json
Due: none

feat(dashboard): change timer editor to modal, and improve structure
  frontend/dashboard/components/commands/modal.tsx
  frontend/dashboard/components/timers/modal.tsx
  frontend/dashboard/pages/timers.tsx
Due: none

feat(dashboard): change keywords editor to modal, and improve structure
  frontend/dashboard/components/keywords/drawer.tsx
  frontend/dashboard/pages/keywords.tsx
  frontend/dashboard/public/locales/en/keywords.json
Due: none

feat(dashboard): change variables editor to modal, and improve structure
  frontend/dashboard/components/variables/modal.tsx
  frontend/dashboard/pages/variables.tsx
Due: none

feat(dashboard): add paper to commands checkboxes
  frontend/dashboard/components/commands/modal.tsx
Due: none

feat(dashboard): change greetings editor to modal, and improve structure
  frontend/dashboard/components/greetings/drawer.tsx
  frontend/dashboard/components/greetings/modal.tsx
  frontend/dashboard/pages/greetings.tsx
Due: none

chore(dashboard): remove transitions
  frontend/dashboard/components/greetings/modal.tsx
  frontend/dashboard/components/variables/modal.tsx
Due: none

add cacher
  apps/parser-new/internal/cacher/cacher.go
  apps/parser-new/internal/commands/commands.go
  apps/parser-new/internal/types/faceit_api.go
  apps/parser-new/internal/types/parse_context.go
  apps/parser-new/internal/types/valorant_api.go
  apps/parser-new/internal/types/variables.go
  apps/parser-new/internal/types/variables_cacher.go
  apps/parser-new/internal/variables/variables.go
  apps/parser/internal/commands/manage/add_command.go
Due: publish-parser

upd
  .editorconfig
  apps/parser-new/internal/commands/commands.go
  apps/parser-new/internal/types/parse_context.go
  apps/parser-new/internal/types/variables.go
  apps/parser-new/internal/variables/commands/counters/command.go
  apps/parser-new/internal/variables/commands/counters/command_from_other.go
  apps/parser-new/internal/variables/commands/counters/helpers.go
  apps/parser-new/internal/variables/commands/counters/user.go
  apps/parser-new/internal/variables/commands/list.go
  apps/parser-new/internal/variables/variables.go
Due: none

custom var
  apps/parser-new/internal/types/variables.go
  apps/parser-new/internal/variables/commands/counters/command.go
  apps/parser-new/internal/variables/commands/counters/user.go
  apps/parser-new/internal/variables/custom_var/custom_var.go
  apps/parser-new/internal/variables/variables.go
Due: none

emotes
  apps/parser-new/internal/variables/emotes/7tv.go
  apps/parser-new/internal/variables/emotes/bttv.go
  apps/parser-new/internal/variables/emotes/ffz.go
  apps/parser-new/internal/variables/variables.go
Due: none

faceit, random, keywords
  apps/parser-new/internal/variables/faceit/elo.go
  apps/parser-new/internal/variables/faceit/elo_diff.go
  apps/parser-new/internal/variables/faceit/lvl.go
  apps/parser-new/internal/variables/faceit/score_loses.go
  apps/parser-new/internal/variables/faceit/score_wins.go
  apps/parser-new/internal/variables/faceit/trend_extended.go
  apps/parser-new/internal/variables/faceit/trend_simple.go
  apps/parser-new/internal/variables/keywords/counter.go
  apps/parser-new/internal/variables/random/number.go
  apps/parser-new/internal/variables/random/phrase.go
  apps/parser-new/internal/variables/random/user_online.go
  apps/parser-new/internal/variables/variables.go
Due: none

upd
  apps/parser-new/internal/variables/sender/sender.go
  apps/parser-new/internal/variables/song/lastfm.go
  apps/parser-new/internal/variables/song/song.go
  apps/parser-new/internal/variables/song/vk.go
  apps/parser-new/internal/variables/variables.go
Due: none

upd
  apps/parser-new/internal/variables/song/song.go
  apps/parser-new/internal/variables/stream/category.go
  apps/parser-new/internal/variables/stream/stream.go
  apps/parser-new/internal/variables/stream/title.go
  apps/parser-new/internal/variables/stream/uptime.go
  apps/parser-new/internal/variables/stream/viewers.go
  apps/parser-new/internal/variables/variables.go
  apps/parser-new/pkg/helpers/duration.go
Due: none

chore: add task for caching golang deps before start in dev
  Taskfile.yml
  tools/cache-go-deps.ts
Due: none

chore: replace `spawnSync` with `execSync` in cache-go-deps
  tools/cache-go-deps.ts
Due: none

top
  apps/parser-new/cmd/main.go
  apps/parser-new/internal/cacher/cacher.go
  apps/parser-new/internal/variables/top/channel_points.go
  apps/parser-new/internal/variables/top/emotes.go
  apps/parser-new/internal/variables/top/emotes_user.go
  apps/parser-new/internal/variables/top/helper.go
  apps/parser-new/internal/variables/top/messages.go
  apps/parser-new/internal/variables/top/song_requesters.go
  apps/parser-new/internal/variables/top/watched.go
  apps/parser-new/internal/variables/variables.go
Due: none

valorant
  apps/parser-new/internal/variables/to_user/to_user.go
  apps/parser-new/internal/variables/valorant/elo.go
  apps/parser-new/internal/variables/valorant/matches.go
  apps/parser-new/internal/variables/valorant/tier.go
  apps/parser-new/internal/variables/variables.go
Due: none

user
  apps/parser-new/internal/cacher/cacher.go
  apps/parser-new/internal/variables/user/age.go
  apps/parser-new/internal/variables/user/emotes.go
  apps/parser-new/internal/variables/user/emotes_top.go
  apps/parser-new/internal/variables/user/follow_age.go
  apps/parser-new/internal/variables/user/follow_since.go
  apps/parser-new/internal/variables/user/messages.go
  apps/parser-new/internal/variables/user/songs_requested.go
  apps/parser-new/internal/variables/user/songs_requested_duration.go
  apps/parser-new/internal/variables/user/used_channels_points.go
  apps/parser-new/internal/variables/user/watched.go
  apps/parser-new/internal/variables/variables.go
Due: none

cmds
  apps/parser-new/internal/commands/stats/top_emotes.go
  apps/parser-new/internal/commands/stats/top_emotes_users.go
  apps/parser-new/internal/commands/stats/top_messages.go
  apps/parser-new/internal/commands/stats/top_points.go
  apps/parser-new/internal/commands/stats/top_time.go
  apps/parser-new/internal/commands/stats/uptime.go
  apps/parser-new/internal/commands/stats/user_age.go
  apps/parser-new/internal/commands/stats/user_followage.go
  apps/parser-new/internal/commands/stats/user_followsince.go
  apps/parser-new/internal/commands/stats/user_me.go
  apps/parser-new/internal/commands/stats/user_watch_time.go
Due: none

upd
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/parser/internal/types/variables.go
  apps/parser/internal/variables/user/follow_age.go
  apps/parser/internal/variables/user/follow_since.go
  apps/parser/internal/variables/variables.go
  libs/gopool/gopool.go
Due: publish-parser

upd
  apps/parser/internal/variables/emotes/7tv.go
  apps/parser/internal/variables/emotes/bttv.go
  apps/parser/internal/variables/emotes/ffz.go
  apps/parser/internal/variables/top/emotes_user.go
  apps/parser/internal/variables/top/helper.go
  apps/parser/internal/variables/top/song_requesters.go
  libs/gomodels/channel_emote_usage.go
Due: publish-parser

upd
  apps/bots/internal/bots/handlers/message_emotes.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/dota/addacc_command.go
  apps/parser/internal/commands/dota/delacc_command.go
  apps/parser/internal/commands/dota/dota.go
  apps/parser/internal/commands/dota/gamemodes.go
  apps/parser/internal/commands/dota/gm_command.go
  apps/parser/internal/commands/dota/heroes.go
  apps/parser/internal/commands/dota/lg_command.go
  apps/parser/internal/commands/dota/listacc_command.go
  apps/parser/internal/commands/dota/medals.go
  apps/parser/internal/commands/dota/np_command.go
  apps/parser/internal/commands/dota/wl_command.go
  apps/parser/internal/variables/top/emotes_user.go
  libs/gomodels/channel_emote_usage.go
Due: publish-bots, publish-parser

message emotes
  apps/bots/internal/bots/handlers/message_emotes.go
Due: publish-bots

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
