Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

feat(platform)!: add VK Video Live primitives
  libs/entities/platform/platform.go
  libs/entities/platform/platform_test.go
Due: none

fix(channels): use platform channel bindings
  apps/api-gql/internal/services/channels/channels.go
  apps/api-gql/internal/services/channels/channels_test.go
  libs/cache/channel/channel.go
  libs/cache/channel/channel_test.go
Due: none

test(channel-platforms): match pgx v5 errors
  libs/repositories/channel_platforms/pgx/pgx_test.go
Due: none

fix(channels): preserve API key platform
  apps/api-gql/internal/services/channels/channels.go
  apps/api-gql/internal/services/channels/channels_test.go
Due: none

feat(platform): add channel binding storage
  libs/migrations/postgres/20260721120000_channel_platforms.sql
  libs/repositories/channel_platforms/channel_platforms.go
  libs/repositories/channel_platforms/model/model.go
  libs/repositories/channel_platforms/pgx/pgx.go
  libs/repositories/channel_platforms/pgx/pgx_test.go
Due: none

test(channel-platforms): pin pgx v5 error fixture
  libs/repositories/channel_platforms/pgx/pgx_test.go
  libs/repositories/channel_platforms/pgx/pgx_v5_error_test.go
Due: none

feat(channels): backfill platform bindings
  libs/migrations/postgres/20260721120000_channel_platforms.sql
  libs/repositories/channels/channels.go
  libs/repositories/channels/model/model.go
  libs/repositories/channels/pgx/multiplatform_migration_test.go
  libs/repositories/channels/pgx/pgx.go
  libs/services/channels/channels.go
Due: none

fix(eventsub): list all Kick bindings
  apps/api-gql/internal/services/channels/channels_test.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/resubscribe_job_test.go
  apps/eventsub/internal/kick/webhook_integration_test.go
  apps/eventsub/internal/manager/manager_test.go
  apps/eventsub/internal/webhook/manager.go
  apps/eventsub/internal/webhook/manager_test.go
  libs/cache/channel/channel_test.go
  libs/repositories/channels/channels.go
  libs/repositories/channels/pgx/channel_binding_test.go
  libs/repositories/channels/pgx/pgx.go
Due: publish-eventsub

docs(eventsub): specify binding reinitialization
  docs/superpowers/specs/2026-07-21-eventsub-reinit-bindings-design.md
Due: none

fix(eventsub): use channel platform bindings
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/channelbinding/binding.go
  apps/eventsub/internal/channelbinding/binding_test.go
  apps/eventsub/internal/handler/ban.go
  apps/eventsub/internal/handler/channel_update.go
  apps/eventsub/internal/handler/chat_message.go
  apps/eventsub/internal/handler/moderator_add_remove.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/revoke.go
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/stream_online.go
  apps/eventsub/internal/handler/vip.go
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/resubscribe_job_test.go
  apps/eventsub/internal/kick/webhook_integration_test.go
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/manager/manager_test.go
  apps/eventsub/internal/webhook/manager.go
Due: publish-eventsub

fix(events): use channel platform bindings
  apps/events/internal/activities/events/events.go
  apps/events/internal/activities/events/helpers.go
  apps/events/internal/activities/events/helpers_test.go
  apps/events/internal/channelbinding/binding.go
  apps/events/internal/channelbinding/binding_test.go
  apps/events/internal/listener/listener.go
  apps/events/internal/listener/listener_test.go
  apps/events/internal/workflows/events.go
  apps/events/internal/workflows/events_flow.go
  apps/events/internal/workflows/events_flow_test.go
Due: none

fix(eventsub): reinit all bound channels
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/bus-listener/bus-listener_test.go
Due: publish-eventsub

fix(eventsub): bound channel reinitialization
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/bus-listener/bus-listener_test.go
  docs/superpowers/specs/2026-07-21-eventsub-reinit-bindings-design.md
Due: publish-eventsub

fix(events): separate Twitch broadcaster ID
  apps/events/internal/activities/events/ban_unban.go
  apps/events/internal/activities/events/change_stream_info.go
  apps/events/internal/activities/events/chat_modes.go
  apps/events/internal/activities/events/greetings.go
  apps/events/internal/activities/events/helpers.go
  apps/events/internal/activities/events/helpers_test.go
  apps/events/internal/activities/events/mod_unmod.go
  apps/events/internal/activities/events/raid.go
  apps/events/internal/activities/events/seventv.go
  apps/events/internal/activities/events/shoutout.go
  apps/events/internal/activities/events/vip_unvip.go
  apps/events/internal/shared/event_data.go
  apps/events/internal/workflows/events_flow.go
  apps/events/internal/workflows/events_flow_test.go
Due: none

fix(events): retain platformless Twitch workflows
  apps/events/internal/activities/events/helpers.go
  apps/events/internal/activities/events/helpers_test.go
Due: none

fix(events): retain legacy Twitch workflow IDs
  apps/events/internal/activities/events/ban_unban.go
  apps/events/internal/activities/events/change_stream_info.go
  apps/events/internal/activities/events/chat_modes.go
  apps/events/internal/activities/events/helpers.go
  apps/events/internal/activities/events/helpers_test.go
  apps/events/internal/activities/events/mod_unmod.go
  apps/events/internal/activities/events/raid.go
  apps/events/internal/activities/events/seventv.go
  apps/events/internal/activities/events/shoutout.go
  apps/events/internal/activities/events/vip_unvip.go
Due: none

fix(scheduler): use channel platform bindings
  apps/scheduler/internal/timers/online_chatters.go
  apps/scheduler/internal/timers/online_chatters_test.go
  apps/scheduler/internal/timers/scheduled_vips.go
  apps/scheduler/internal/timers/scheduled_vips_test.go
  apps/scheduler/internal/timers/streams.go
  apps/scheduler/internal/timers/streams_test.go
Due: publish-scheduler

fix(events): resolve command Twitch bot identity
  apps/events/internal/activities/events/commands.go
  apps/events/internal/activities/events/events.go
  apps/events/internal/activities/events/helpers.go
  apps/events/internal/activities/events/helpers_test.go
Due: none

fix(parser): use channel platform bindings
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/channelbinding/binding.go
  apps/parser/internal/channelbinding/binding_test.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/clip/clip.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/games/duel.go
  apps/parser/internal/commands/games/duel_accept.go
  apps/parser/internal/commands/games/duel_handler.go
  apps/parser/internal/commands/games/voteban.go
  apps/parser/internal/commands/marker/marker.go
  apps/parser/internal/variables/channel/channel_name.go
  apps/parser/internal/variables/channel/id.go
  apps/parser/internal/variables/top/helper.go
  apps/parser/internal/variables/top/helper_test.go
Due: publish-parser

fix(eventsub): patch binding status
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/ban.go
  apps/eventsub/internal/handler/binding_status_test.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/moderator_add_remove.go
  apps/eventsub/internal/handler/revoke.go
  libs/repositories/channel_platforms/channel_platforms.go
  libs/repositories/channel_platforms/pgx/patch_test.go
  libs/repositories/channel_platforms/pgx/pgx.go
Due: publish-eventsub

fix(scheduler): correct timer binding queries
  apps/scheduler/internal/timers/online_chatters.go
  apps/scheduler/internal/timers/online_chatters_test.go
  apps/scheduler/internal/timers/streams.go
  apps/scheduler/internal/timers/streams_test.go
  apps/scheduler/internal/timers/watched.go
  apps/scheduler/internal/timers/watched_test.go
Due: publish-scheduler

fix(timers): guard state before delivery
  apps/timers/internal/manager/ticker.go
  apps/timers/internal/manager/ticker_test.go
Due: none

test(emotes-cacher): assert query vars
  apps/emotes-cacher/internal/emotes_store/fill_test.go
  apps/emotes-cacher/internal/services/bttv/service_test.go
  apps/emotes-cacher/internal/services/seventv/bindings_test.go
Due: none

fix(channel-platforms): validate config patches
  libs/repositories/channel_platforms/channel_platforms.go
  libs/repositories/channel_platforms/pgx/patch_test.go
  libs/repositories/channel_platforms/pgx/pgx.go
Due: none

docs(emotes-cacher): record query vars test
  .superpowers/sdd/task-4g-report.md
Due: none

fix(emotes-cacher): use channel platform bindings
  .superpowers/sdd/task-4g-report.md
  apps/emotes-cacher/go.mod
  apps/emotes-cacher/internal/emotes_store/fill.go
  apps/emotes-cacher/internal/emotes_store/fill_test.go
  apps/emotes-cacher/internal/services/bttv/service.go
  apps/emotes-cacher/internal/services/bttv/service_test.go
  apps/emotes-cacher/internal/services/seventv/add_channels.go
  apps/emotes-cacher/internal/services/seventv/bindings_test.go
  apps/emotes-cacher/internal/services/seventv/service.go
Due: none

fix(bots): derive Twitch state from bindings
  apps/bots/internal/channelbinding/binding.go
  apps/bots/internal/channelbinding/binding_test.go
  apps/bots/internal/services/channel/ban.go
  apps/bots/internal/services/giveaways/giveaways.go
  apps/bots/internal/stream-handlers/channel_lookup.go
  apps/bots/internal/stream-handlers/streams_offline.go
  apps/bots/internal/stream-handlers/streams_online.go
  apps/bots/internal/twitchactions/ban.go
  apps/bots/internal/twitchactions/moderators.go
  apps/bots/internal/twitchactions/sendmessagetimeout.go
  apps/bots/internal/twitchactions/shoutout.go
  apps/bots/internal/workers/workers.go
  apps/bots/internal/workers/workers_test.go
Due: publish-bots

chore: remove tracked task report
  .superpowers/sdd/task-4g-report.md
Due: none

fix(timers): use channel platform bindings
  apps/timers/internal/manager/manager.go
  apps/timers/internal/manager/send_targets.go
  apps/timers/internal/manager/send_targets_test.go
  apps/timers/internal/manager/ticker.go
Due: none

test(api-gql): cover nil API key owner
  apps/api-gql/internal/auth/api_key_test.go
Due: none

fix(api-gql): use bindings for dashboard ownership
  .superpowers/sdd/task-4l-report.md
  apps/api-gql/internal/delivery/http/middlewares/dashboard_access.go
  apps/api-gql/internal/delivery/http/middlewares/dashboard_access_test.go
  apps/api-gql/internal/delivery/http/middlewares/has_access_to_selected_dashboard.go
  apps/api-gql/internal/delivery/http/middlewares/has_channel_roles_dashboard_permission.go
  apps/api-gql/internal/delivery/http/middlewares/middlewares.go
Due: none

fix(bots): resolve deletes from bindings
  apps/bots/internal/services/channel/channel.go
  apps/bots/internal/services/channel/message.go
  apps/bots/internal/services/channel/message_delete_test.go
Due: publish-bots

fix(api-gql): reject nil API key users
  apps/api-gql/internal/auth/api_key.go
  apps/api-gql/internal/auth/api_key_test.go
Due: none

fix(api-gql): resolve API keys from bindings
  apps/api-gql/internal/auth/api_key.go
  apps/api-gql/internal/auth/api_key_test.go
  apps/api-gql/internal/auth/auth.go
  libs/services/channels/channels.go
Due: none

test(bots): cover Twitch ban binding safety
  apps/bots/internal/twitchactions/ban.go
  apps/bots/internal/twitchactions/ban_test.go
  apps/bots/internal/twitchactions/twitchactions.go
  apps/bots/internal/twitchactions/warnuser.go
Due: publish-bots

feat(bots): add capability-aware chat dispatch
  apps/bots/app/app.go
  apps/bots/internal/kick/chat_client.go
  apps/bots/internal/kick/chat_client_test.go
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/platforms/chat.go
  apps/bots/internal/platforms/chat_test.go
  apps/bots/internal/services/channel/channel.go
  apps/bots/internal/services/channel/message.go
  apps/bots/internal/services/channel/message_test.go
  apps/bots/internal/twitchactions/sendmessage.go
  apps/bots/internal/twitchactions/sendmessage_test.go
  go.work
  libs/platforms/go.mod
  libs/platforms/registry.go
  libs/platforms/registry_test.go
Due: publish-bots

fix(api-gql): preserve empty VIP bindings
  apps/api-gql/internal/services/scheduledvips/scheduled_vips.go
  apps/api-gql/internal/services/scheduledvips/scheduled_vips_test.go
  apps/api-gql/internal/services/twitch/badges.go
  apps/api-gql/internal/services/twitch/binding_consumers_test.go
  apps/api-gql/internal/services/twitch/categories.go
  apps/api-gql/internal/services/twitch/rewards.go
  apps/api-gql/internal/services/twitch/twitch.go
  apps/api-gql/internal/services/users/users.go
  apps/api-gql/internal/services/users/users_test.go
Due: none

chore: remove tracked task report
  .superpowers/sdd/task-4l-report.md
Due: none

fix(api-gql): preserve empty Twitch bindings
  apps/api-gql/internal/services/scheduledvips/scheduled_vips_test.go
  apps/api-gql/internal/services/twitch/badges.go
  apps/api-gql/internal/services/twitch/binding_consumers_test.go
  apps/api-gql/internal/services/twitch/categories.go
  apps/api-gql/internal/services/twitch/rewards.go
  apps/api-gql/internal/services/users/users.go
  apps/api-gql/internal/services/users/users_test.go
  apps/api-gql/internal/services/variables/variables.go
Due: none

fix(api-gql): use normalized channel bindings
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/channelbinding/binding.go
  apps/api-gql/internal/channelbinding/binding_test.go
  apps/api-gql/internal/services/dashboard/dashboard.go
  apps/api-gql/internal/services/dashboard/dashboard_test.go
  apps/api-gql/internal/services/twir-users/twir-users.go
  apps/api-gql/internal/services/twir-users/twir-users_test.go
  libs/repositories/users_with_channel/pgx/pgx.go
  libs/repositories/users_with_channel/pgx/pgx_test.go
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
