Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

Update source file followers.yaml
  apps/parser/locales/en/variables/followers.yaml
Due: publish-parser

Update source file random.yaml
  apps/parser/locales/en/variables/random.yaml
Due: publish-parser

Update source file keywords.yaml
  apps/parser/locales/en/variables/keywords.yaml
Due: publish-parser

Update source file request.yaml
  apps/parser/locales/en/variables/request.yaml
Due: publish-parser

Update source file shorturl.yaml
  apps/parser/locales/en/variables/shorturl.yaml
Due: publish-parser

Update source file stream.yaml
  apps/parser/locales/en/variables/stream.yaml
Due: publish-parser

Update source file song.yaml
  apps/parser/locales/en/variables/song.yaml
Due: publish-parser

Update source file subscribers.yaml
  apps/parser/locales/en/variables/subscribers.yaml
Due: publish-parser

Update source file user.yaml
  apps/parser/locales/en/variables/user.yaml
Due: publish-parser

Update source file valorant.yaml
  apps/parser/locales/en/variables/valorant.yaml
Due: publish-parser

New translations stats.yaml (Spanish)
  apps/apps/parser/locales/en/commands/locales/es/stats.yaml
Due: none

New translations stats.yaml (German)
  apps/apps/parser/locales/en/commands/locales/de/stats.yaml
Due: none

New translations stats.yaml (Russian)
  apps/apps/parser/locales/en/commands/locales/ru/stats.yaml
Due: none

New translations stats.yaml (Slovak)
  apps/apps/parser/locales/en/commands/locales/sk/stats.yaml
Due: none

New translations stats.yaml (Ukrainian)
  apps/apps/parser/locales/en/commands/locales/uk/stats.yaml
Due: none

New translations stats.yaml (English)
  apps/apps/parser/locales/en/commands/locales/en/stats.yaml
Due: none

New translations stats.yaml (Portuguese, Brazilian)
  apps/apps/parser/locales/en/commands/locales/pt/stats.yaml
Due: none

New translations user.yaml (Spanish)
  apps/apps/parser/locales/en/variables/locales/es/user.yaml
Due: none

New translations user.yaml (German)
  apps/apps/parser/locales/en/variables/locales/de/user.yaml
Due: none

New translations user.yaml (Russian)
  apps/apps/parser/locales/en/variables/locales/ru/user.yaml
Due: none

New translations user.yaml (Slovak)
  apps/apps/parser/locales/en/variables/locales/sk/user.yaml
Due: none

New translations user.yaml (Ukrainian)
  apps/apps/parser/locales/en/variables/locales/uk/user.yaml
Due: none

New translations user.yaml (English)
  apps/apps/parser/locales/en/variables/locales/en/user.yaml
Due: none

New translations user.yaml (Portuguese, Brazilian)
  apps/apps/parser/locales/en/variables/locales/pt/user.yaml
Due: none

Update source file stats.yaml
  apps/parser/locales/en/commands/stats.yaml
Due: publish-parser

feat(url-shortener): add mobile adaptation for input in form
  web/layers/url-shortener/components/url-shortener/form.vue
Due: none

chore(url-shortener): update class for button
  web/layers/url-shortener/components/url-shortener/form.vue
Due: none

feat(url-shortener): add adaptation in form and card, add dropdown for card
  web/layers/url-shortener/components/url-shortener/card.vue
  web/layers/url-shortener/components/url-shortener/dropdown.vue
  web/layers/url-shortener/components/url-shortener/form.vue
Due: none

refactor(url-shortener): use auto import
  web/layers/url-shortener/components/url-shortener/card.vue
  web/layers/url-shortener/components/url-shortener/dropdown.vue
Due: none

chore(api-gql): increment max number of channel events
  apps/api-gql/internal/services/events/events.go
Due: none

chore(eventsub): upgrade twitchy version to v0.1.4
  apps/eventsub/go.mod
  apps/eventsub/go.sum
Due: publish-eventsub

chore(eventsub): upgrade twitchy version to v0.1.4 (#885)
  apps/eventsub/go.mod
  apps/eventsub/go.sum
Due: publish-eventsub

fix(eventsub): use correct twitchy error callback
  apps/eventsub/internal/manager/websocket.go
Due: publish-eventsub

fix(eventsub): use correct twitchy error callback (#886)
  apps/eventsub/internal/manager/websocket.go
Due: publish-eventsub

feat(url-shortener): add mobile adaptation (#884)
  web/layers/url-shortener/components/url-shortener/card.vue
  web/layers/url-shortener/components/url-shortener/dropdown.vue
  web/layers/url-shortener/components/url-shortener/form.vue
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations 7tv.yaml (Ukrainian)
  apps/apps/parser/locales/en/commands/locales/uk/7tv.yaml
Due: none

New translations clip.yaml (Ukrainian)
  apps/apps/parser/locales/en/commands/locales/uk/clip.yaml
Due: none

New translations marker.yaml (Ukrainian)
  apps/apps/parser/locales/en/commands/locales/uk/marker.yaml
Due: none
