Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore: update readme
  README.md
Due: none

chore(api): remove zap with slog
  apps/api/cmd/main.go
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/hooks/error.go
  apps/api/internal/impl_deps/impl_deps.go
  apps/api/internal/impl_protected/bot/bot.go
  apps/api/internal/impl_protected/dashboard/dashboard.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/modules/sr.go
  apps/api/internal/impl_protected/timers/timers.go
  apps/api/internal/impl_unprotected/commands/commands.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/api/internal/interceptors/cache.go
  apps/api/internal/interceptors/db_user.go
  apps/api/internal/interceptors/errors.go
  apps/api/internal/interceptors/interceptors.go
  apps/api/internal/twirp_handlers/twirp_handlers.go
  apps/api/internal/webhooks/donate_stream.go
  apps/api/internal/webhooks/donatello.go
Due: publish-api

chore(tokens): replace zap with slog
  apps/tokens/cmd/main.go
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/tokens/internal/grpc_impl/grpc_impl.go
  libs/logger/logger.go
Due: none

upd
  frontend/landing/src/components/index/Features.astro
  frontend/landing/src/components/index/Footer.astro
  frontend/landing/src/components/index/Hero.astro
  frontend/landing/src/components/index/Integrations.astro
  frontend/landing/src/components/index/Reviews.vue
  frontend/landing/src/components/index/Team.astro
  frontend/landing/src/layouts/Layout.astro
Due: none

feat(dashboard): add search input to variables picker
  frontend/dashboard/src/components/textWithVariables.vue
Due: none

feat(parser): add faceit gain/lose variable
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/cacher/faceit.go
  apps/parser/internal/types/faceit_api.go
  apps/parser/internal/types/variables_cacher.go
  apps/parser/internal/variables/faceit/gain_lose.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

chore(landing): fix hostname in dev
  frontend/landing/src/api/twirp.ts
Due: none

chore: update dockprom stack
  docker-compose.dockprom.yml
  dockprom/caddy/Caddyfile
  dockprom/prometheus/prometheus.yml
Due: none

chore: update dockprom stack
  docker-compose.dockprom.yml
Due: none

chore: update dockprom stack
  dockprom/prometheus/prometheus.yml
Due: none

chore: change s3 env values
  .env.example
  docker-compose.stack.yml
  libs/config/config.go
Due: none

chore(api): remove fatal errors from files
  apps/api/internal/impl_protected/files/files.go
Due: publish-api

chore: use proxy between cdn for files
  apps/api/cmd/main.go
  apps/api/internal/files/files.go
  docker-compose.stack.yml
  frontend/dashboard/src/components/alerts/modal.vue
  frontend/dashboard/vite.config.ts
  frontend/landing/astro.config.ts
  frontend/overlays/src/pages/alerts.tsx
Due: publish-api

chore(api): use secure in production
  apps/api/internal/impl_protected/files/files.go
Due: publish-api

fix(dashboard): correct file url
  frontend/dashboard/src/components/files/files.vue
Due: none

fix(api): use secure in files endpoint
  apps/api/internal/files/files.go
Due: publish-api

feat: add restrictions on file types
  apps/api/internal/impl_protected/files/files.go
  frontend/dashboard/src/components/files/files.vue
Due: publish-api

fix(api): use utf8 package for count files size
  apps/api/internal/impl_protected/alerts/alerts.go
  apps/api/internal/impl_protected/files/files.go
Due: publish-api

feat(dashboard): add link to overlays on alerts page
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Alerts.vue
Due: none

feat: add selector for command and reward for alerts
  apps/api/internal/impl_protected/alerts/alerts.go
  apps/api/internal/impl_protected/commands/commands.go
  apps/eventsub/cmd/main.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/types/types.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/parser/internal/grpc_impl/helpers.go
  frontend/dashboard/src/components/alerts/modal.vue
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/copyInput.vue
  frontend/dashboard/src/components/events/modal.vue
  frontend/dashboard/src/components/rewardsSelector.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Alerts.vue
  libs/gomodels/channel_alert.go
  libs/gomodels/channels_commands.go
  libs/grpc/protos/api/alerts.proto
  libs/grpc/protos/api/commands.proto
  libs/migrations/migrations/20230824174444_add_command_and_redemption_to_alerts.sql
  libs/migrations/migrations/20230824184614_alerts_make_commands_and_rewards_multiple.sql
Due: publish-api, publish-eventsub, publish-parser

feat: add ban/timeout event
  apps/events/internal/grpc_impl/impl.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/types.go
  apps/eventsub/internal/client/client.go
  apps/eventsub/internal/handler/ban.go
  apps/eventsub/internal/handler/handler.go
  frontend/dashboard/src/components/events/events.ts
  frontend/dashboard/src/locales/en.json
  libs/gomodels/event.go
  libs/grpc/protos/events.proto
  libs/migrations/migrations/20230824193009_events_add_channel_ban.sql
Due: publish-eventsub

feat: add ban to eventlist
  apps/api/internal/impl_protected/dashboard/dashboard.go
  apps/events/internal/grpc_impl/impl.go
  apps/eventsub/internal/handler/ban.go
  frontend/dashboard/src/components/dashboard/events.vue
  frontend/dashboard/src/components/dashboard/events/ban.vue
  libs/gomodels/channels_events_list.go
  libs/grpc/protos/api/dashboard.proto
Due: publish-api, publish-eventsub

fix: add scope for eventsub
  apps/api/internal/impl_unprotected/impl_unprotected.go
Due: publish-api

fix: update user tokens correctly on login
  apps/api/cmd/main.go
  apps/api/internal/impl_deps/impl_deps.go
  apps/api/internal/impl_unprotected/auth/auth.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
Due: publish-api

feat(landing): improve login page
  frontend/landing/src/components/login.vue
  frontend/landing/src/layouts/Layout.astro
  frontend/landing/src/pages/login.astro
Due: none

fix(dashboard): add `userName` and `userDisplayName` to ban event
  frontend/dashboard/src/components/events/events.ts
Due: none

fix(parser): correctly check song length restriction
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

fix(dashboard): correctly use localstorage sr player volume
  frontend/dashboard/src/components/songRequests/player.vue
Due: none

chore(dashboard): add info about ban time into event list
  frontend/dashboard/src/components/dashboard/events/ban.vue
Due: none

fix(events): correctly check keyword match
  apps/events/internal/grpc_impl/events.go
Due: none

fix(events): do not return if responses empty
  apps/bots/internal/bots/handlers/message_keywods.go
Due: publish-bots

fix(bots): check is keyword on cooldown before sending messages and fire event
  apps/bots/internal/bots/handlers/message_keywods.go
Due: publish-bots

fix(api): correctly set dbUser tokenId on login
  apps/api/internal/impl_unprotected/auth/auth.go
Due: publish-api

fix(api): correctly update greetings
  apps/api/internal/impl_protected/greetings/greetings.go
Due: publish-api

fix(dashboard): add extra margin for chat widget, so typing is available
  frontend/dashboard/src/components/dashboard/card.vue
  frontend/dashboard/src/components/dashboard/chat.vue
  package.json
Due: none

fix(dashboard): correct types for content-style
  frontend/dashboard/src/components/dashboard/card.vue
  frontend/dashboard/src/components/dashboard/chat.vue
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
