Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(docker): correct command for discord app
  Dockerfile
Due: none

fix(migrations): fix discord migrations #2
  libs/migrations/migrations/20231005133258_add_discord_integration.sql
Due: none

fix(migrations): fix discord migrations #3
  apps/discord/go.mod
  apps/discord/go.sum
  go.work.sum
  libs/migrations/migrations/20231005133258_add_discord_integration.sql
  libs/migrations/migrations/20231015194432_add_discord_integration_sended_messages.sql
Due: none

feat(dashboard): check users perms for updating title/category
  frontend/dashboard/src/components/dashboard/statsChannelInfo.vue
Due: none

chore(dashboard): add extra space for settings button in integrations
  frontend/dashboard/src/components/integrations/variants/withSettings.vue
Due: none

feat(api): filter dashboards with zero permissions flags
  apps/api/internal/impl_protected/auth/user.go
Due: publish-api

feat: add togglers for discord embed stream preview/user avatar
  apps/api/internal/impl_protected/integrations/discord.go
  apps/discord/internal/messages_updater/embed_builder.go
  frontend/dashboard/src/components/integrations/discord.vue
  frontend/dashboard/src/locales/en.json
  libs/gomodels/channels_integrations.go
  libs/grpc/protos/api/integrations_discord.proto
Due: publish-api

fix(discord): check on empty message for offline notification
  apps/discord/internal/messages_updater/process_offline.go
Due: none

feat(discord): add ability to completely remove announce message via switch
  apps/api/internal/impl_protected/integrations/discord.go
  apps/discord/internal/messages_updater/process_offline.go
  frontend/dashboard/src/components/integrations/discord.vue
  frontend/dashboard/src/locales/en.json
  libs/gomodels/channels_integrations.go
  libs/grpc/protos/api/integrations_discord.proto
Due: publish-api

fix(discord): add default offline message when stream is offline
  apps/discord/internal/messages_updater/process_offline.go
Due: none

fix(discord): correct if else statement
  apps/discord/internal/messages_updater/process_offline.go
Due: none

feat(dashboard): refactor integrations list to cards
  frontend/dashboard/src/api/integrations/discord.ts
  frontend/dashboard/src/assets/icons/integrations/valorant.svg
  frontend/dashboard/src/components/card/card.vue
  frontend/dashboard/src/components/integrations/discord.vue
  frontend/dashboard/src/components/integrations/donatello.vue
  frontend/dashboard/src/components/integrations/donatepay.vue
  frontend/dashboard/src/components/integrations/donatestream.vue
  frontend/dashboard/src/components/integrations/donationalerts.vue
  frontend/dashboard/src/components/integrations/faceit.vue
  frontend/dashboard/src/components/integrations/lastfm.vue
  frontend/dashboard/src/components/integrations/spotify.vue
  frontend/dashboard/src/components/integrations/streamlabs.vue
  frontend/dashboard/src/components/integrations/valorant.vue
  frontend/dashboard/src/components/integrations/variants/oauth.vue
  frontend/dashboard/src/components/integrations/variants/withSettings.vue
  frontend/dashboard/src/components/integrations/vk.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Integrations.vue
  frontend/dashboard/src/pages/IntegrationsCallback.vue
Due: none

chore(traefik): update stack file
  traefik/docker-compose.yaml
Due: none

chore(landing): add riot.txt page
  frontend/landing/src/pages/riot.txt.astro
Due: none

chore(landing): add riot.txt page
  frontend/landing/public/riot.txt
Due: none

chore(dashboard): remove `new` labels on not new systems :)
  frontend/dashboard/src/layout/sidebar.vue
Due: none

chore(api): remove leave from server on guild disconnect
  apps/api/internal/impl_protected/integrations/discord.go
Due: publish-api

chore(discord): silence record not found error in logs
  apps/discord/internal/messages_updater/process.go
Due: none

refactor(discord): change discord library
  apps/discord/go.mod
  apps/discord/go.sum
  apps/discord/internal/discord_go/discord_go.go
  apps/discord/internal/discord_go/listen_guild_delete.go
  apps/discord/internal/discord_go/listen_shard_ready.go
  apps/discord/internal/grpc/grpc.go
  apps/discord/internal/messages_updater/embed_builder.go
  apps/discord/internal/messages_updater/process_edit.go
  apps/discord/internal/messages_updater/process_offline.go
  apps/discord/internal/messages_updater/process_online.go
  go.work.sum
Due: none

feat(dashboard): add line warp for greetings page, textarea for modal
  frontend/dashboard/src/components/greetings/modal.vue
  frontend/dashboard/src/pages/Greetings.vue
Due: none

feat: change default faceit game to `cs2`
  apps/api/internal/impl_protected/integrations/faceit.go
  frontend/dashboard/src/api/integrations/oauth.ts
  frontend/dashboard/src/components/integrations/faceit.vue
  frontend/dashboard/src/components/integrations/variants/oauth.vue
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/integrations_faceit.proto
Due: publish-api

kruto
  apps/bots/internal/moderation_helpers/symbols_test.go
  libs/gomodels/channels_moderation_settings.go
Due: publish-bots

kruto
  apps/bots/internal/bots/bots.go
  apps/bots/internal/bots/client.go
  apps/bots/internal/chat_client/chat_client.go
  apps/bots/internal/chat_client/chat_client_reader.go
  apps/bots/internal/chat_client/handlers_message.go
  apps/bots/internal/chat_client/handlers_message_command.go
  apps/bots/internal/chat_client/handlers_message_emotes.go
  apps/bots/internal/chat_client/handlers_message_greetings.go
  apps/bots/internal/chat_client/handlers_message_keywods.go
  apps/bots/internal/chat_client/handlers_message_tts.go
  apps/bots/internal/chat_client/handlers_moderation.go
  apps/bots/internal/chat_client/handlers_types.go
  apps/bots/internal/chat_client/handlers_update_user_stats.go
  libs/gomodels/channels_moderation_settings.go
  libs/migrations/migrations/20231020001715_refactor_moderation.sql
Due: publish-bots

kruto
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/moderation/moderation.go
  apps/bots/internal/chat_client/handlers_moderation.go
  libs/gomodels/channels_moderation_settings.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/moderation.proto
Due: publish-api, publish-bots

kruto
  .run/Dev Language Detector.run.xml
  Dockerfile
  apps/api/internal/impl_protected/moderation/moderation.go
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/discord/internal/grpc/grpc.go
  apps/emotes-cacher/cmd/main.go
  apps/events/cmd/main.go
  apps/eventsub/cmd/main.go
  apps/language-detector/package.json
  apps/language-detector/src/index.ts
  apps/parser/cmd/main.go
  apps/scheduler/cmd/main.go
  apps/timers/internal/grpc_server/grpc_server.go
  apps/tokens/cmd/main.go
  apps/websockets/cmd/main.go
  apps/ytsr/cmd/main.go
  frontend/dashboard/src/api/crud.ts
  frontend/dashboard/src/pages/Moderation.vue
  frontend/dashboard/src/router.ts
  libs/grpc/clients/bots.go
  libs/grpc/clients/discord.go
  libs/grpc/clients/dota.go
  libs/grpc/clients/emotes_cacher.go
  libs/grpc/clients/eval.go
  libs/grpc/clients/events.go
  libs/grpc/clients/eventsub.go
  libs/grpc/clients/integrations.go
  libs/grpc/clients/parser.go
  libs/grpc/clients/scheduler.go
  libs/grpc/clients/timers.go
  libs/grpc/clients/tokens.go
  libs/grpc/clients/websockets.go
  libs/grpc/clients/ytsr.go
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

kruto
  apps/api/internal/impl_protected/moderation/moderation.go
  apps/language-detector/src/index.ts
  frontend/dashboard/src/App.vue
  frontend/dashboard/src/components/commands/createListColumns.ts
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/components/moderation/card.vue
  frontend/dashboard/src/components/moderation/modal.vue
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Greetings.vue
  frontend/dashboard/src/pages/Keywords.vue
  frontend/dashboard/src/pages/Moderation.vue
  frontend/dashboard/src/pages/Timers.vue
  libs/grpc/constants/constants.ts
  libs/migrations/migrations/20231020001715_refactor_moderation.sql
Due: publish-api

kruto
  apps/bots/internal/chat_client/handlers_moderation.go
Due: publish-bots

kruto
  frontend/dashboard/src/pages/IntegrationsCallback.vue
  frontend/dashboard/src/router.ts
Due: none

kruto
  frontend/dashboard/src/components/moderation/helpers.ts
Due: none

kruto
  apps/api/internal/impl_protected/moderation/moderation.go
  frontend/dashboard/src/components/moderation/card.vue
  frontend/dashboard/src/components/moderation/helpers.ts
  frontend/dashboard/src/components/moderation/modal.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Moderation.vue
  libs/gomodels/channels_moderation_settings.go
  libs/grpc/protos/api/moderation.proto
  libs/migrations/migrations/20231020001715_refactor_moderation.sql
Due: publish-api

kruto
  apps/bots/internal/chat_client/handlers_moderation.go
  apps/language-detector/src/index.ts
  frontend/dashboard/src/components/moderation/helpers.ts
  frontend/dashboard/src/components/moderation/modal-denylist.vue
  frontend/dashboard/src/components/moderation/modal-language.vue
  frontend/dashboard/src/components/moderation/modal-longmessage.vue
  frontend/dashboard/src/components/moderation/modal-symbols.vue
  frontend/dashboard/src/components/moderation/modal.vue
  frontend/dashboard/src/pages/Moderation.vue
  frontend/dashboard/tsconfig.json
  libs/grpc/protos/language-detector.proto
Due: publish-bots

kruto
  apps/bots/internal/chat_client/handlers_moderation.go
  frontend/dashboard/src/components/moderation/helpers.ts
  frontend/dashboard/src/components/moderation/modal-caps.vue
  frontend/dashboard/src/components/moderation/modal-emotes.vue
  frontend/dashboard/src/components/moderation/modal.vue
Due: publish-bots

wait user login
  frontend/dashboard/src/App.vue
  frontend/dashboard/src/api/auth.ts
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/main.ts
  frontend/dashboard/src/router.ts
Due: none

kruto
  apps/api/internal/impl_protected/moderation/moderation.go
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/chat_client/chat_client.go
  apps/bots/internal/chat_client/handlers_message.go
  apps/bots/internal/chat_client/handlers_moderation.go
  libs/utils/ttl_map.go
Due: publish-api, publish-bots

kruto
  apps/bots/internal/chat_client/handlers_moderation.go
  apps/bots/internal/moderation_helpers/caps.go
  apps/bots/internal/moderation_helpers/caps_test.go
  frontend/dashboard/src/components/moderation/modal-caps.vue
  frontend/dashboard/src/components/moderation/modal-denylist.vue
  frontend/dashboard/src/components/moderation/modal-emotes.vue
  frontend/dashboard/src/components/moderation/modal-language.vue
  frontend/dashboard/src/components/moderation/modal-longmessage.vue
  frontend/dashboard/src/components/moderation/modal-symbols.vue
  frontend/dashboard/src/components/moderation/modal.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Moderation.vue
Due: publish-bots

kruto
  apps/api/internal/impl_protected/moderation/moderation.go
  apps/bots/internal/chat_client/handlers_moderation.go
  libs/migrations/migrations/20231020001715_refactor_moderation.sql
Due: publish-api, publish-bots

kruto
  apps/bots/go.mod
  apps/bots/go.sum
Due: publish-bots

kruto
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/bots/go.sum
  apps/emotes-cacher/go.mod
  apps/emotes-cacher/go.sum
  apps/events/go.mod
  apps/events/go.sum
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/timers/go.mod
  apps/timers/go.sum
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/websockets/go.mod
  apps/websockets/go.sum
  apps/ytsr/go.mod
  apps/ytsr/go.sum
  libs/gomodels/go.mod
  libs/gomodels/go.sum
  libs/grpc/go.mod
  libs/grpc/go.sum
  libs/integrations/spotify/go.mod
  libs/integrations/spotify/go.sum
  libs/logger/go.mod
  libs/logger/go.sum
  libs/migrations/go.mod
  libs/migrations/go.sum
  libs/pubsub/go.mod
  libs/pubsub/go.sum
  libs/sentry/go.mod
  libs/sentry/go.sum
  libs/twitch/go.mod
  libs/twitch/go.sum
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

kruto
  go.work.sum
Due: none
