Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

chore(cache): remove lock
  libs/cache/generic-cacher/db-generic-cacher.go
Due: none

chore(bots): log some info in send message
  apps/bots/internal/twitchactions/sendmessage.go
Due: publish-bots

refactor(bots): store each chat message individually
  apps/bots/internal/messagehandler/handle_save_message.go
  apps/bots/internal/twitchactions/sendmessage.go
  libs/repositories/chat_messages/pgx/pgx.go
Due: publish-bots

perf(bots): use fast method for createMany stored messages
  apps/bots/internal/messagehandler/handle_save_message.go
  libs/repositories/chat_messages/pgx/pgx.go
Due: publish-bots

chore(repositories): use right context for `chat_messages` repository `CreateMany`
  libs/repositories/chat_messages/pgx/pgx.go
Due: none

ww
  pnpm-lock.yaml
  web/components/table/cells/user-cell.vue
  web/composables/use-current-channel-id.ts
  web/composables/use-pagination.ts
  web/features/community-users/composables/use-community-users-sorting.ts
  web/features/community-users/composables/use-community-users-table.ts
  web/features/community-users/ui/community-users-table-column.vue
  web/layers/public/api/use-commands.ts
  web/layers/public/api/use-streamer-profile.ts
  web/layers/public/layouts/public.vue
  web/layers/public/pages/p/[channelName]/users.vue
  web/lib/users.ts
  web/lib/utils.ts
  web/nuxt.config.ts
  web/package.json
Due: none

ww
  web/app.vue
  web/assets/css/global.css
  web/codegen.ts
  web/features/community-users/composables/use-community-users-table.ts
  web/features/community-users/ui/community-users-table-column.vue
  web/layers/public/api/use-community-users.ts
  web/layers/public/layouts/public.vue
  web/layers/public/layouts/public/public-user-profile.vue
  web/layers/public/pages/p/[channelName]/songs-requests.vue
  web/layers/public/pages/p/[channelName]/tts.vue
  web/layers/public/pages/p/[channelName]/users.vue
  web/nuxt.config.ts
  web/stores/user.ts
Due: none

ww
  .run/[Frontend] Public.run.xml
  cli/internal/cmds/dev/frontend/frontendapps.go
  web/layers/public/layouts/public.vue
  web/layers/public/layouts/public/public-user-profile.vue
  web/nuxt.config.ts
  web/package.json
  web/stores/user.ts
Due: none

chore(web): correct names for community table cells
  web/features/community-users/ui/community-users-table-column.vue
Due: none

chore(stack): add logs to drangonfly, limit proactor threads
  docker-compose.stack.yml
Due: none

chore(stack): add pprof for bots
  apps/bots/app/app.go
  docker-compose.stack.yml
Due: publish-bots

perf: do not use scan for emotes in bots and parser
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/parser/internal/commands/tts/say.go
Due: publish-bots, publish-parser

refactor(bots): do not request twitch emotes from redis
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_moderation.go
Due: publish-bots

chore: make `channels_emotes_usages` table unlogged
  libs/migrations/migrations/20250208231454_make_emotes_usages_unlogged.sql
Due: none

fix(web): correct gql codegen
  web/codegen.ts
Due: none

fix(web): add `modal` to dropdownmenuroot component to fix scroll shift
  web/app/components/ui/dropdown-menu/DropdownMenu.vue
Due: none

fix(web): correct link to main page on public page
  web/layers/public/layouts/public.vue
Due: none

fix(web): correct link to main page landing page
  web/layers/landing/layouts/default/header.vue
Due: none

perf: improve tts prechecks performance
  apps/api/app/app.go
  apps/api/internal/impl_admin/impl_admin.go
  apps/api/internal/impl_deps/impl_deps.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/modules/tts.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/bots/app/app.go
  apps/bots/internal/messagehandler/handle_tts.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/services/commands/commands.go
  apps/bots/internal/services/tts/tts.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands/tts/disable.go
  apps/parser/internal/commands/tts/enable.go
  apps/parser/internal/commands/tts/pitch.go
  apps/parser/internal/commands/tts/rate.go
  apps/parser/internal/commands/tts/voice.go
  apps/parser/internal/commands/tts/volume.go
  apps/parser/internal/types/services/services.go
  libs/cache/tts/tts.go
  web/nuxt.config.ts
Due: publish-api, publish-bots, publish-parser

first install bun in ci
  .github/workflows/build-and-lint.yml
Due: none

split js and go deps install
  .github/workflows/build-and-lint.yml
Due: none

upd workflow
  .github/workflows/build-and-lint.yml
  cli/internal/cmds/build/build.go
Due: none

upd workflow
  .github/workflows/dockerv3.yml
  apps/eval/Dockerfile
  apps/eval/package.json
  apps/eval/src/index.ts
  apps/integrations/Dockerfile
  apps/integrations/package.json
Due: publish-eval

upd workflow
  .github/workflows/dockerv3.yml
  cli/internal/cmds/build/build.go
Due: none

upd workflow
  libs/grpc/clients/events.ts
  libs/grpc/clients/parser.ts
  libs/grpc/clients/tokens.ts
  libs/grpc/clients/websockets.ts
  libs/grpc/clients/ytsr.ts
  libs/grpc/tsconfig.json
Due: none

upd web
  .github/workflows/dockerv3.yml
  apps/eval/Dockerfile
  apps/integrations/Dockerfile
  web/Dockerfile
  web/nuxt.config.ts
Due: publish-eval

upd readme
  README.md
Due: none

upd workflow
  .github/workflows/dockerv3.yml
Due: none

chore: fix dockerfiles for web and integrations
  apps/integrations/Dockerfile
  web/Dockerfile
Due: none

chore: use correct base images for eval and integrations
  apps/eval/Dockerfile
  apps/integrations/Dockerfile
Due: publish-eval

refactor: use zod for env schema parsing
  apps/eval/package.json
  apps/integrations/package.json
  apps/integrations/src/libs/redis.js
  apps/integrations/src/pubsub.js
  bun.lock
  libs/config/package.json
  libs/config/src/index.ts
  package.json
  web/nuxt.config.ts
  web/package.json
Due: publish-eval

fix(config): use `process.env` instead of `Bun.env`
  libs/config/src/index.ts
  package.json
  web/nuxt.config.ts
Due: none

chore: update idea debug configs
  .run/Backend.run.xml
  .run/Dev Dota.run.xml
  .run/Dev Eval.run.xml
  .run/Dev Integrations.run.xml
  .run/Frontend.run.xml
Due: none
