Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

uuh
  apps/websockets/go.mod
  apps/websockets/go.sum
  apps/ytsr/go.mod
  apps/ytsr/go.sum
  cli/go.mod
  cli/go.sum
  go.work
  libs/api/go.mod
  libs/api/go.sum
  libs/grpc/go.mod
  libs/grpc/go.sum
  libs/integrations/spotify/go.mod
  libs/integrations/spotify/go.sum
  libs/migrations/go.mod
  libs/migrations/go.sum
  libs/twitch/go.mod
  libs/twitch/go.sum
Due: none

kruto
  cli/internal/cmds/build/build.go
Due: none

kruto
  libs/grpc/buf.gen.yaml
Due: none

uuh
  apps/integrations/src/index.js
  apps/integrations/src/services/donatepay.js
  apps/integrations/src/services/donationAlerts.js
  apps/integrations/src/utils/onDonation.d.ts
  go.work.sum
Due: none

uuh
  base.Dockerfile
Due: none

uuh
  cli/internal/cmds/dependencies/node.go
  pnpm-lock.yaml
Due: none

uuh
  apps/eval/src/index.js
  apps/integrations/src/index.js
  frontend/landing/src/components/streamers/streamers-list.vue
  frontend/landing/src/components/streamers/streamers.ts
  frontend/landing/src/locals.d.ts
  frontend/overlays/package.json
  frontend/overlays/src/pages/tts.vue
  libs/api/api.proto
  libs/api/messages/feedback/feedback.proto
  pnpm-lock.yaml
Due: publish-eval

uuh
  apps/api/internal/impl_protected/feedback/feedback.go
  libs/grpc/protos/api/feedback.proto
Due: publish-api

uuh
  frontend/overlays/package.json
  frontend/overlays/tsconfig.json
  frontend/overlays/tsconfig.node.json
  libs/grpc/package.json
  libs/grpc/tsconfig.json
  pnpm-lock.yaml
Due: none

uuh
  cli/go.mod
  go.work.sum
Due: none

fix(api): add missed api lib to docker
  apps/api/Dockerfile
Due: publish-api

fix(events): add missed api lib to docker
  apps/events/Dockerfile
Due: none

fix(overlay): centering text
  libs/frontend-chat/src/components/message-content.vue
  libs/frontend-chat/src/styles/boxed/message-horizontal.vue
  libs/frontend-chat/src/styles/clean/message-horizontal.vue
  libs/frontend-chat/src/styles/clean/message-vertical.vue
Due: none

feat(overlay): chat padding
  apps/api/internal/impl_protected/overlays/chat.go
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/pages/overlays/chat/components/Form.vue
  frontend/overlays/src/composables/chat/use-chat-overlay-socket.ts
  libs/api/messages/overlays_chat/overlays_chat.proto
  libs/frontend-chat/src/components/chat-box.vue
  libs/gomodels/channel_overlays_chat.go
  libs/migrations/migrations/20240118165848_chat_overlay_padding_container.sql
Due: publish-api

chore: update migration
  libs/migrations/migrations/20240118165848_chat_overlay_padding_container.sql
Due: none

fix: build
  frontend/dashboard/src/pages/overlays/chat/components/Form.vue
  frontend/dashboard/src/pages/overlays/chat/components/default-settings.ts
  frontend/dashboard/src/pages/overlays/chat/components/form.ts
Due: none

fix(frontend): font variant numeric
  frontend/dashboard/src/layout/stats.vue
  frontend/overlays/src/components/brb-timer.vue
Due: none

feat(dashboard): reset settings of russian roulette
  frontend/dashboard/src/components/games/russianRoulette.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
Due: none

feat(overlay): chat padding, fix styles (#555)
  apps/api/internal/impl_protected/overlays/chat.go
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/pages/overlays/chat/components/Form.vue
  frontend/dashboard/src/pages/overlays/chat/components/default-settings.ts
  frontend/dashboard/src/pages/overlays/chat/components/form.ts
  frontend/overlays/src/composables/chat/use-chat-overlay-socket.ts
  libs/api/messages/overlays_chat/overlays_chat.proto
  libs/frontend-chat/src/components/chat-box.vue
  libs/frontend-chat/src/components/message-content.vue
  libs/frontend-chat/src/styles/boxed/message-horizontal.vue
  libs/frontend-chat/src/styles/clean/message-horizontal.vue
  libs/frontend-chat/src/styles/clean/message-vertical.vue
  libs/gomodels/channel_overlays_chat.go
  libs/migrations/migrations/20240118165848_chat_overlay_padding_container.sql
Due: publish-api

feat(dashboard): reset settings of duel
  frontend/dashboard/src/components/games/duel.vue
  frontend/dashboard/src/pages/Games.vue
Due: none

fix(dashboard): horizontal scroll of dashboard menu
  frontend/dashboard/src/layout/dashboardsMenu.vue
Due: none

chore(cli): remove spinners
  cli/internal/cmds/build/build.go
  cli/internal/cmds/dependencies/dependencies.go
Due: none

chore(eventsub): add retry to get app tun
  apps/eventsub/internal/helpers/app_tunnel.go
Due: publish-eventsub

chore(dashboard): move bot manage and status to sidebar
  frontend/dashboard/src/components/dashboard/bot.vue
  frontend/dashboard/src/components/dashboard/widgets.ts
  frontend/dashboard/src/layout/components/BotStatus.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/uk.json
  frontend/dashboard/src/pages/Dashboard.vue
Due: none

fix(dashboard): data in botstatus can be undefined
  frontend/dashboard/src/layout/components/BotStatus.vue
Due: none

feat(dashboard): change default widgets positions
  frontend/dashboard/src/components/dashboard/widgets.ts
Due: none

feat(dashboard): watch collapsed value for bot status section in sidebar
  frontend/dashboard/src/layout/components/BotStatus.vue
  frontend/dashboard/src/layout/dashboardsMenu.vue
  frontend/dashboard/src/layout/feedback/feedback-button.vue
  frontend/dashboard/src/layout/header.vue
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/layout/navigation.vue
  frontend/dashboard/src/layout/sidebar.vue
  frontend/dashboard/src/layout/use-sidebar-collapse.ts
  frontend/dashboard/src/locales/en.json
Due: none

fix(cli): add missed gobin env to go binaries install
  cli/internal/cmds/dependencies/binaries/gobinary/gobinary.go
Due: none

feat(dashboard): add copy url button to obs overlay
  frontend/dashboard/src/components/overlays/obs/settings.vue
Due: none

fix(events): correctly get channel vips and mods
  apps/events/internal/activities/events/helpers.go
  apps/events/internal/activities/events/vip_unvip.go
  apps/events/internal/workflows/events_flow.go
Due: none

fix(parser): correctly replace emotes in tts say
  apps/parser/internal/commands/tts/say.go
Due: publish-parser

feat(landing): add more features
  frontend/landing/src/assets/features/chat-alerts.svg
  frontend/landing/src/assets/features/games.svg
  frontend/landing/src/assets/features/overlays.svg
  frontend/landing/src/components/features/features.astro
  frontend/landing/src/components/features/features.ts
Due: none

feat(landing): integrations tooltip, added more integrations
  frontend/dashboard/src/assets/integrations/donatello.svg
  frontend/dashboard/src/assets/integrations/donatepay.svg
  frontend/dashboard/src/assets/integrations/valorant.svg
  frontend/dashboard/src/components/integrations/donatello.vue
  frontend/dashboard/src/components/integrations/donatestream.vue
  frontend/landing/src/assets/social/donatello.svg
  frontend/landing/src/assets/social/donatepay.svg
  frontend/landing/src/assets/social/donatestream.svg
  frontend/landing/src/assets/social/valorant.svg
  frontend/landing/src/components/features/features.astro
  frontend/landing/src/components/integrations/integrations.astro
  frontend/landing/src/components/integrations/integrations.ts
  frontend/landing/src/styles/global.scss
  frontend/landing/src/styles/tooltip.scss
Due: none

fix: icon integrations
  frontend/landing/src/components/integrations/integrations.astro
Due: none

fix: team centering
  frontend/landing/src/components/team/team.astro
Due: none

uuh
  apps/api/internal/impl_protected/integrations/seventv.go
  cli/internal/cmds/migrations/migrate.go
  frontend/dashboard/src/api/integrations/seventv.ts
  frontend/dashboard/src/assets/integrations/seventv.svg
  frontend/dashboard/src/components/integrations/seven-tv.vue
  frontend/dashboard/src/components/integrations/seventv-button-editors.png
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Integrations.vue
  frontend/landing/src/components/streamers/streamers.ts
  libs/api/api.proto
  libs/api/messages/integrations_seventv/integrations_seventv.proto
Due: publish-api

fix(cli): add .go migrations initialization
  cli/internal/cmds/migrations/migrations.go
Due: none
