Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

finaly cli fixed
  apps/twitch-mock/README.md
  package.json
Due: none

fix(eventsub): improve kick webhook reliability and security
  .env.example
  apps/eventsub/internal/http/server.go
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/middleware_test.go
Due: publish-eventsub

feat(eventsub): add kick webhook dev-mode bypass and fix middleware
  apps/eventsub/internal/http/server.go
  apps/eventsub/internal/kick/middleware.go
Due: publish-eventsub

fix(eventsub): add security hardening and tests for kick webhooks
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/middleware.go
  apps/eventsub/internal/kick/middleware_test.go
Due: publish-eventsub

fix(eventsub): harden kick webhook security and fix race conditions
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/middleware.go
  apps/eventsub/internal/kick/middleware_test.go
Due: publish-eventsub

fix(eventsub): return 202 for duplicate-while-processing instead of 200
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
Due: publish-eventsub

fix(eventsub): clean up processing key on failure
  apps/eventsub/internal/kick/handlers.go
Due: publish-eventsub

test(eventsub): add livestream, failure cleanup, and resilience tests
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/middleware_test.go
Due: publish-eventsub

test(eventsub): add verified middleware and concurrent delivery tests
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/middleware_test.go
Due: publish-eventsub

test(eventsub): add partial success and mark-processed failure tests
  apps/eventsub/internal/kick/handlers_test.go
Due: publish-eventsub

fix(eventsub): reconcile existing subscriptions on startup
  apps/eventsub/internal/kick/subscription_manager.go
  apps/eventsub/internal/kick/subscription_manager_test.go
Due: publish-eventsub

style(eventsub): fix constant alignment in handlers.go
  apps/eventsub/internal/kick/handlers.go
Due: publish-eventsub

fix(eventsub): require active subscriptions in resubscribe job
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/resubscribe_job_test.go
Due: publish-eventsub

fix(eventsub): remove status field assumption from kick subscriptions
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/subscription_manager.go
Due: publish-eventsub

fix(eventsub): fall back to Kick API when Redis keys missing during unsubscribe
  apps/eventsub/internal/kick/subscription_manager.go
Due: publish-eventsub

fix(eventsub): fix resubscribe lifetime and unsubscribe all duplicates
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/subscription_manager.go
Due: publish-eventsub

fix(eventsub): add kick unsubscribe to bus listener
  apps/eventsub/internal/bus-listener/bus-listener.go
Due: publish-eventsub

fix(eventsub): skip disabled channels in subscription lifecycle
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/resubscribe_job_test.go
  apps/eventsub/internal/webhook/manager.go
Due: publish-eventsub

chore: gitignore loop
  .gitignore
  .sisyphus/ralph-loop.local.md
Due: none

changes
  Caddyfile.dev
  apps/api-gql/internal/delivery/http/routes/auth/post-platform-code.go
  apps/eventsub/internal/http/server.go
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/middleware.go
  apps/eventsub/internal/kick/subscription_manager.go
Due: publish-eventsub

use lib for kick
  apps/api-gql/go.mod
  apps/api-gql/go.sum
  apps/api-gql/internal/platform/kick/provider.go
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/kick/chat_client.go
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/http/server.go
  apps/eventsub/internal/kick/middleware.go
  apps/eventsub/internal/kick/middleware_test.go
  apps/eventsub/internal/kick/resubscribe_job_test.go
  apps/eventsub/internal/kick/subscription_manager.go
  apps/eventsub/internal/kick/subscription_manager_test.go
  apps/eventsub/internal/kick/webhook_integration_test.go
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/tokens/internal/bus_listener/bus_listener.go
  go.work
Due: publish-bots, publish-eventsub

fix kick
  .bun-version
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/resubscribe_job_test.go
  apps/eventsub/internal/kick/subscription_manager.go
  apps/eventsub/internal/webhook/manager.go
  libs/migrations/Dockerfile
Due: publish-eventsub

fixes on scan, uuid usage
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/services/user-creator/user-creator.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/commands.go
  libs/baseapp/basefxapp.go
  libs/bus-core/generic/chat-message.go
Due: publish-eventsub, publish-parser

yay, working
  apps/bots/internal/kick/chat_client.go
Due: publish-bots

variables
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/types/parse_context.go
  apps/parser/internal/variables/emotes/7tv.go
  apps/parser/internal/variables/followers/followers.go
  apps/parser/internal/variables/platform/platform.go
  apps/parser/internal/variables/shared/kick.go
  apps/parser/internal/variables/shared/kick_test.go
  apps/parser/internal/variables/shared/platform_handlers.go
  apps/parser/internal/variables/stream/category.go
  apps/parser/internal/variables/stream/followers.go
  apps/parser/internal/variables/stream/title.go
  apps/parser/internal/variables/subscribers/subscribers.go
  apps/parser/internal/variables/top/helper.go
Due: publish-parser

upd scheduler query
  apps/scheduler/internal/timers/streams.go
  apps/scheduler/internal/timers/streams_test.go
Due: publish-scheduler

upd logs
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/eventsub/internal/kick/middleware.go
Due: publish-eventsub

platform selector for events
  frontend/dashboard/src/api/events.ts
  frontend/dashboard/src/features/events/components/event-basic-info.vue
  frontend/dashboard/src/features/events/composables/use-events-table.ts
  frontend/dashboard/src/features/events/event-form-schema.ts
  frontend/dashboard/src/features/events/event-form.vue
Due: none

more fixes
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/greetings.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/moderation-chat-wall.resolver.go
  apps/api-gql/internal/services/channels_overlays/channels_overlays.go
  apps/api-gql/internal/services/variables/variables.go
  apps/events/internal/activities/events/helpers.go
  apps/events/internal/workflows/events.go
  apps/events/internal/workflows/events_flow.go
  apps/parser/internal/cacher/current_song.go
  apps/parser/internal/commands/spam/spam.go
  apps/parser/internal/variables/song/history.go
  apps/parser/internal/variables/song/history_lastfm.go
  apps/parser/internal/variables/song/history_spotify.go
Due: publish-parser

more ids fixes
  apps/api-gql/internal/delivery/gql/resolvers/overlays-kappagen.resolver.go
  apps/api-gql/internal/delivery/http/routes/auth/kick-bot-callback.go
  apps/api-gql/internal/delivery/http/routes/auth/post-platform-code.go
  apps/emotes-cacher/internal/services/seventv/add_channels.go
  apps/events/internal/listener/listener.go
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/resubscribe_job.go
  apps/eventsub/internal/kick/resubscribe_job_test.go
  apps/eventsub/internal/kick/subscription_manager.go
  apps/eventsub/internal/webhook/manager.go
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/variables/commands/counters/command.go
  apps/parser/internal/variables/commands/counters/command_from_other.go
  apps/scheduler/app/app.go
  apps/tokens/internal/bus_listener/bus_listener.go
  apps/tokens/internal/bus_listener/bus_listener_test.go
  libs/entities/kick_bot/entity.go
  libs/repositories/kick_bots/pgx/pgx.go
Due: publish-eventsub, publish-parser, publish-scheduler

KRUTO
  apps/api-gql/internal/delivery/gql/mappers/dashboard.go
  apps/api-gql/internal/delivery/gql/resolvers/dashboard.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/rewards.resolver.go
  apps/api-gql/internal/delivery/gql/schema/dashboard.graphql
  apps/api-gql/internal/entity/dashboard.go
  apps/api-gql/internal/services/dashboard/dashboard.go
  apps/api-gql/internal/services/scheduledvips/scheduled_vips.go
  apps/api-gql/internal/services/twitch/categories.go
  apps/api-gql/internal/services/twitch/rewards.go
  apps/api-gql/internal/services/users/users.go
  apps/bots/internal/mod-task-queue/payloads.go
  apps/bots/internal/services/giveaways/giveaways.go
  apps/bots/internal/twitchactions/ban.go
  apps/bots/internal/twitchactions/moderators.go
  apps/bots/internal/twitchactions/shoutout.go
  apps/events/internal/activities/events/helpers.go
  apps/events/internal/chat_alerts/follow.go
  apps/events/internal/listener/listener.go
  apps/eventsub/internal/handler/stream_offline.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/types/parse_context.go
  apps/parser/internal/variables/custom_var/custom_var.go
  apps/scheduler/internal/timers/online_chatters.go
  apps/scheduler/internal/timers/scheduled_vips.go
  apps/tokens/internal/bus_listener/bus_listener.go
  docs/superpowers/plans/2026-04-27-kick-stream-persistence-and-parser-vars.md
  docs/superpowers/plans/2026-04-27-kick-token-centralization.md
  docs/superpowers/specs/2026-04-27-kick-stream-persistence-and-parser-vars-design.md
  docs/superpowers/specs/2026-04-27-kick-token-centralization-design.md
  frontend/dashboard/src/api/auth.ts
  frontend/dashboard/src/api/dashboard.ts
  frontend/dashboard/src/layout/header/header-bot-status.vue
  frontend/dashboard/src/layout/header/header-profile.vue
  frontend/dashboard/src/pages/user-settings/user-linked-accounts.vue
  libs/bus-core/tokens/tokens.go
  libs/cache/twitch/follows.go
  libs/cache/twitch/rewards.go
  libs/cache/twitch/subscribers.go
  libs/twitch/twitch.go
Due: publish-bots, publish-eventsub, publish-parser, publish-scheduler

fixes for auth
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.service.go
  apps/api-gql/internal/delivery/gql/resolvers/user_unlink_test.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform_test.go
  frontend/dashboard/src/layout/sidebar/sidebar-dashboard-selector.vue
Due: none

fmt
  frontend/dashboard/src/pages/user-settings/user-linked-accounts.vue
Due: none
