Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

feat: decrement user spent channel points on reward cancel
  apps/eventsub/src/helpers/decrementUserChannelPoints.ts
  apps/eventsub/src/libs/middleware.ts
Due: publish-eventsub

chore: update some branding links and seo
  frontend/dashboard/pages/_app.tsx
  frontend/dashboard/pages/_document.tsx
  frontend/landing/src/data/landing/team.ts
  frontend/landing/src/data/seo.ts
Due: none

feat: add new `top.songs.requesters`, `user.songs.requested.duration`, `user.songs.requested.count` variables
  apps/parser/internal/variables/top/song_requesters/requesters.go
  apps/parser/internal/variables/user/songs_requested/count.go
  apps/parser/internal/variables/user/songs_requested/duration.go
  apps/parser/internal/variables/variables.go
  libs/gomodels/requested_song.go
Due: publish-parser

chore(eventsub): correct imports
  apps/eventsub/src/helpers/decrementUserChannelPoints.ts
  apps/eventsub/src/libs/middleware.ts
Due: publish-eventsub

feat: add new events operation "change variable"
  apps/api/internal/api/v1/events/dto.go
  apps/api/internal/api/v1/events/service.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/change_variable.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/operationMapping.ts
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
  libs/gomodels/event_operation.go
  libs/typeorm/src/entities/events/EventOperation.ts
  libs/typeorm/src/migrations/1676998385847-events_rename_obsTargetToTarget.ts
Due: publish-api, publish-migrations

refactor(parser): rename `title set` and `game set` to `title` and `game`
  apps/parser/internal/commands/channel/game/game.go
  apps/parser/internal/commands/channel/title/title.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/parser/internal/variablescache/variablescache.go
  libs/typeorm/src/migrations/1677005468257-drop_title_and_game_commands.ts
Due: publish-migrations, publish-parser

feat: add `title history` and `game history` commands
  apps/eventsub/src/libs/middleware.ts
  apps/parser/internal/commands/channel/game/game.go
  apps/parser/internal/commands/channel/game/history.go
  apps/parser/internal/commands/channel/title/history.go
  apps/parser/internal/commands/channel/title/title.go
  apps/parser/internal/commands/commands.go
  libs/gomodels/channel_info_history.go
  libs/typeorm/src/entities/Channel.ts
  libs/typeorm/src/entities/ChannelInfoHistory.ts
  libs/typeorm/src/index.ts
  libs/typeorm/src/migrations/1677006049732-add_channel_info_history.ts
Due: publish-eventsub, publish-migrations, publish-parser

fix(parser): use correct query for select top songs requesters
  apps/parser/internal/commands/songrequest/youtube/sr.go
  apps/parser/internal/variables/top/song_requesters/requesters.go
  libs/gomodels/requested_song.go
Due: publish-parser

fix(parser): use correct query for select top usedChannelPoints
  apps/parser/internal/variables/top/top.go
Due: publish-parser

chore: fix migrations name of column
  libs/typeorm/src/migrations/1676998385847-events_rename_obsTargetToTarget.ts
Due: publish-migrations

chore(parser): back userId filter in top request
  apps/parser/internal/variables/top/top.go
Due: publish-parser

fix(parser): correct sql query for `top.songs.requesters` variable
  apps/parser/internal/variables/top/song_requesters/requesters.go
Due: publish-parser

fix(ytsr): catch not found error for link requests
  apps/ytsr/src/index.ts
Due: none

fix(ytsr): add https to links without protocol
  apps/ytsr/src/index.ts
Due: none

feat: add new variable type `number`, and events for increment/decrement variable
  apps/api/internal/api/v1/variables/dto.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/change_variable.go
  apps/events/internal/grpc_impl/processor/variable.go
  apps/parser/internal/variables/customvar/customvar.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/operationMapping.ts
  frontend/dashboard/components/variables/drawer.tsx
  frontend/dashboard/pages/variables.tsx
  libs/gomodels/channels_customvars.go
  libs/gomodels/event_operation.go
  libs/typeorm/src/entities/ChannelCustomvar.ts
  libs/typeorm/src/entities/events/EventOperation.ts
  libs/typeorm/src/migrations/1677015345893-add_customvar_script_type.ts
  libs/typeorm/src/migrations/1677016350091-add_events_increment_decrement_variable.ts
Due: publish-api, publish-migrations, publish-parser

feat(parser): add `1` as default for `sr wrong`
  apps/parser/internal/commands/songrequest/youtube/wrong.go
Due: publish-parser

chore: change postgres backup script
  .github/workflows/docker.yml
  Dockerfile
  docker-compose.stack.yml
  tools/pg-backup/Dockerfile
  tools/pg-backup/backup.sh
  tools/pg-backup/run.sh
Due: none

chore: fix yaml identation for gh actions
  .github/workflows/docker.yml
Due: none

chore(backup): run backup immediately even with cron
  tools/pg-backup/run.sh
Due: none

chore(backup): fix args
  tools/pg-backup/backup.sh
Due: none

chore(backup): fix args 2
  tools/pg-backup/backup.sh
Due: none

chore(backup): fix args 3
  tools/pg-backup/backup.sh
Due: none

chore(backup): fix args 4
  tools/pg-backup/backup.sh
Due: none

chore(backup): fix args 5
  tools/pg-backup/backup.sh
Due: none

fix(bots): emotes wasn't counted, fixed it
  apps/bots/internal/bots/handlers/message_emotes.go
  libs/gomodels/channel_emote_usage.go
Due: publish-bots

chore(devcontainers): correct go version
  .devcontainer/Dockerfile
  docker-compose.dev.yml
Due: none

add obs icon to the list of integrations and bump packages
  frontend/landing/package.json
  frontend/landing/src/assets/logos/OBS.svg
  frontend/landing/src/components/landing/sections/IntegrationsSection.vue
  libs/ui/components/package.json
  libs/ui/theme/package.json
  pnpm-lock.yaml
Due: none

add obs icon to the list of integrations and bump packages
  frontend/landing/package.json
  frontend/landing/src/assets/logos/OBS.svg
  frontend/landing/src/components/landing/sections/IntegrationsSection.vue
  libs/ui/components/package.json
  libs/ui/theme/package.json
Due: none

feat: add commands grouping
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/v1/commands/controller.go
  apps/api/internal/api/v1/commands/dto.go
  apps/api/internal/api/v1/commands/group/controller.go
  apps/api/internal/api/v1/commands/group/dto.go
  apps/api/internal/api/v1/commands/group/service.go
  apps/api/internal/api/v1/commands/helpers.go
  apps/api/internal/api/v1/commands/service.go
  apps/api/internal/api/v1/modules/obs_websocket/controller.go
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/components/commandsGroup/drawer.tsx
  frontend/dashboard/pages/commands/[[...module]].tsx
  frontend/dashboard/public/locales/en/commands.json
  frontend/dashboard/public/locales/ru/commands.json
  frontend/dashboard/services/api/crud.ts
  libs/gomodels/channel_command_group.go
  libs/gomodels/channels_commands.go
  libs/typeorm/src/entities/Channel.ts
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/entities/ChannelCommandGroup.ts
  libs/typeorm/src/index.ts
  libs/typeorm/src/migrations/1677086846320-add_commands_groups.ts
  libs/typeorm/src/migrations/1677090770543-commands_set_null_group_on_delete.ts
  libs/typeorm/src/migrations/1677101192628-command_groups_add_color.ts
Due: publish-api, publish-migrations

chore(bots): change increment function due possible errors
  apps/bots/internal/bots/handlers/messages/increment_user_messages.go
Due: publish-bots

chore(bots): fix increment messages function
  apps/bots/internal/bots/handlers/messages/increment_user_messages.go
Due: publish-bots

fix(dashboard): update commands list when route changes
  frontend/dashboard/pages/commands/[[...module]].tsx
Due: none

feat(dashboard): change color picker to color input
  frontend/dashboard/components/commandsGroup/colors.ts
  frontend/dashboard/components/commandsGroup/drawer.tsx
Due: none

upd rageywide
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/commands/dto.go
  apps/api/internal/api/v1/commands/helpers.go
  apps/api/internal/api/v1/commands/service.go
  apps/api/internal/api/v1/roles/controller.go
  apps/api/internal/api/v1/roles/dto.go
  apps/api/internal/api/v1/roles/service.go
  apps/api/internal/api/v1/roles/users/controller.go
  apps/api/internal/api/v1/roles/users/dto.go
  apps/api/internal/api/v1/roles/users/service.go
  apps/api/internal/types/types.go
  apps/parser/internal/commands/channel/title/title.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/manage/add_command.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/parser/internal/permissions/permissions.go
  apps/scheduler/src/index.ts
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/services/api/crud.ts
  libs/gomodels/channel_role_user.go
  libs/gomodels/channels_commands.go
  libs/typeorm/src/entities/ChannelRoleUser.ts
  libs/typeorm/src/migrations/1677195880467-rename_channel_role_user.ts
  libs/typeorm/src/migrations/1677196001685-rename_channel_role_user2.ts
Due: publish-api, publish-migrations, publish-parser, publish-scheduler

upd rageywide
  frontend/dashboard/components/layout/sidebar.tsx
  frontend/dashboard/components/roles/modal.tsx
  frontend/dashboard/pages/community/roles.tsx
  frontend/dashboard/pages/community/users.tsx
  frontend/dashboard/util/chunk.ts
  libs/gomodels/role_permission.go
  libs/typeorm/src/entities/ChannelRole.ts
  libs/typeorm/src/entities/RoleFlag.ts
  libs/typeorm/src/migrations/1677145437134-add_roles.ts
  libs/typeorm/src/migrations/1677209480948-roles_rename_administrator.ts
Due: publish-migrations

upd rageywide
  libs/typeorm/src/entities/ChannelRole.ts
  libs/typeorm/src/migrations/1677145437134-add_roles.ts
Due: publish-migrations

upd rageywide
  libs/typeorm/src/entities/ChannelRole.ts
Due: publish-migrations

upd rageywide
  apps/api/internal/api/auth/controller.go
  apps/api/internal/api/auth/createUserDefaults.go
  apps/api/internal/api/auth/user_defaults/roles.go
  apps/api/internal/api/v1/roles/dto.go
  apps/api/internal/api/v1/roles/service.go
  apps/parser/internal/permissions/permissions.go
  frontend/dashboard/components/roles/modal.tsx
  frontend/dashboard/services/api/index.ts
  frontend/dashboard/services/api/rolesUsers.ts
  frontend/dashboard/services/api/twitch.ts
  libs/gomodels/channel_role.go
  libs/gomodels/channel_role_permission.go
  libs/gomodels/role_permission.go
  libs/typeorm/src/entities/ChannelRole.ts
  libs/typeorm/src/entities/ChannelRolePermission.ts
  libs/typeorm/src/entities/RoleFlag.ts
  libs/typeorm/src/index.ts
  libs/typeorm/src/migrations/1677145437134-add_roles.ts
  libs/typeorm/src/migrations/1677188520301-roles_permissions_rename_permission_column_to_flag.ts
  libs/typeorm/src/migrations/1677191653187-roles_renames.ts
  libs/typeorm/src/migrations/1677195880467-rename_channel_role_user.ts
  libs/typeorm/src/migrations/1677196001685-rename_channel_role_user2.ts
  libs/typeorm/src/migrations/1677209480948-roles_rename_administrator.ts
  libs/typeorm/src/migrations/1677211264720-commands_add_roles_ids.ts
  libs/typeorm/src/migrations/1677211345172-add_roles.ts
  libs/typeorm/src/migrations/1677212408640-remove_command_permissions.ts
Due: publish-api, publish-migrations, publish-parser
