Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

chore(stack): disable cache of dashboard web version file
  docker-compose.stack.yml
Due: none

fix(dashboard): add default background to body
  frontend/dashboard/index.html
  frontend/dashboard/src/App.vue
  frontend/dashboard/vite.config.ts
Due: none

chore(dashboard): back pwa to config
  frontend/dashboard/vite.config.ts
Due: none

chore(dashboard): destroy worker
  frontend/dashboard/vite.config.ts
Due: none

fix(dashboard): correctly watch games settings for update
  frontend/dashboard/src/components/games/8ball.vue
  frontend/dashboard/src/components/games/russianRoulette.vue
Due: none

chore(overlays): remove redutant strings in kappagen overlay
  frontend/overlays/src/pages/overlays/kappagen.vue
Due: none

feat: move subscribtions, raid messages to the eventsub service instead of chat
  apps/bots/internal/chat_client/handlers_notice.go
  apps/eventsub/internal/client/client.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/raid.go
  apps/eventsub/internal/handler/sub.go
Due: publish-bots, publish-eventsub

chore: delete traefik because it moved to own repo
  traefik/SETUP.md
  traefik/docker-compose.yaml
Due: none

chore: delete postgres backup from repo
  .github/workflows/dockerv2.yml
  tools/pg-backup/Dockerfile
  tools/pg-backup/backup.sh
  tools/pg-backup/run.sh
Due: none

feat: update twitch banned channels in db
  apps/api/internal/impl_unprotected/stats/stats.go
  apps/scheduler/cmd/main.go
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/scheduler/internal/timers/banned_channels.go
Due: publish-api, publish-scheduler

feat: use float as kappagen size values
  frontend/dashboard/src/components/overlays/kappagen/settingsGeneral.vue
  frontend/overlays/src/pages/overlays/kappagen.vue
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/overlays_kappagen.proto
  libs/migrations/migrations/20231119102335_kappagen_covert_size_to_float.go
Due: none

feat: add check does bot has perms to discord channel
  apps/api/internal/impl_protected/integrations/discord.go
  apps/discord/internal/discord_go/discord_go.go
  apps/discord/internal/grpc/grpc.go
  frontend/dashboard/src/components/integrations/discord.vue
  frontend/dashboard/src/locales/en.json
  libs/grpc/protos/api/integrations_discord.proto
  libs/grpc/protos/discord.proto
Due: publish-api

chore: delete dockprom from repo
  docker-compose.dockprom.yml
  dockprom/alertmanager/config.yml
  dockprom/caddy/Caddyfile
  dockprom/grafana/provisioning/dashboards/dashboard.yml
  dockprom/grafana/provisioning/dashboards/docker_containers.json
  dockprom/grafana/provisioning/dashboards/docker_host.json
  dockprom/grafana/provisioning/dashboards/monitor_services.json
  dockprom/grafana/provisioning/dashboards/nginx_container.json
  dockprom/grafana/provisioning/datasources/datasource.yml
  dockprom/helpers/aws/README.md
  dockprom/helpers/aws/cadvisor_ecs_task_definition.json
  dockprom/helpers/aws/node_exporter_task_definition.json
  dockprom/helpers/aws/prometheus.yml
  dockprom/prometheus/alert.rules
  dockprom/prometheus/prometheus.yml
  dockprom/screens/Grafana_Docker_Containers.png
  dockprom/screens/Grafana_Docker_Host.png
  dockprom/screens/Grafana_Prometheus.png
  dockprom/screens/Slack_Notifications.png
Due: none

chore(bots): enable prom metrics
  apps/bots/internal/bots/client.go
  apps/bots/internal/chat_client/chat_client.go
  apps/bots/internal/chat_client/chat_client_reader.go
  apps/bots/internal/chat_client/handlers.go
  apps/bots/internal/chat_client/handlers_message_greetings.go
  apps/bots/internal/chat_client/handlers_message_keywods.go
  libs/utils/map.go
Due: publish-bots

chore(websockets): add prometheus counters
  apps/websockets/go.mod
  apps/websockets/go.sum
  apps/websockets/internal/namespaces/alerts/alerts.go
  apps/websockets/internal/namespaces/obs/obs.go
  apps/websockets/internal/namespaces/overlays/chat/chat.go
  apps/websockets/internal/namespaces/overlays/kappagen/kappagen.go
  apps/websockets/internal/namespaces/tts/tts.go
  apps/websockets/internal/namespaces/youtube/youtube.go
  go.work.sum
Due: none

chore(websockets): add missed prometheus http route
  apps/websockets/cmd/main.go
Due: none

chore: remove landing from dev compose
  docker-compose.dev.yml
Due: none

chore: remove redutant vscode extensions recommendations
  .devcontainer/devcontainer.json
  .prettierrc
  .vscode/extensions.json
Due: none

chore: remove devcontainers
  .devcontainer/.dockerignore
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env.example
  README.md
  docker-compose.dev.yml
Due: none

chore: migrate from `ts-node` to `tsx`
  libs/config/package.json
  package.json
  pnpm-lock.yaml
  tools/dev.go
Due: none

chore: update nodejs version to `20+`
  .nvmrc
  base.Dockerfile
Due: none

chore: use `tsx` for all scripts
  libs/grpc/package.json
  package.json
  tsconfig.json
Due: none

chore: use `tsx` idea debug
  .run/Dev Dota.run.xml
  .run/Dev Eval.run.xml
  .run/Dev Integrations.run.xml
  .run/Dev Language Detector.run.xml
Due: none

feat: choose random emotes for kappagen if chat message doesn't contains any emote
  apps/parser/internal/commands/overlays/kappagen/kappagen.go
  frontend/overlays/src/pages/overlays/kappagen/builder.ts
  frontend/overlays/src/pages/overlays/kappagen/socket.ts
  libs/grpc/protos/websockets.proto
Due: publish-parser

chore: make param not optional for trigger kappagen
  apps/parser/internal/commands/overlays/kappagen/kappagen.go
  libs/grpc/protos/websockets.proto
Due: publish-parser

chore: add umami script to pages
  frontend/dashboard/index.html
  frontend/landing/src/layouts/Layout.astro
  frontend/overlays/index.html
  frontend/public-page/index.html
Due: none

chore: split umami applications
  frontend/dashboard/index.html
  frontend/overlays/index.html
  frontend/public-page/index.html
Due: none

fix(parser): add `!` to the kappagen rawText command
  apps/parser/internal/commands/overlays/kappagen/kappagen.go
  frontend/overlays/src/pages/overlays/kappagen/socket.ts
Due: publish-parser

feat: add kappagen 3rd party emotes switch
  apps/api/internal/impl_protected/overlays/kappagen.go
  frontend/dashboard/src/components/overlays/kappagen/settingsGeneral.vue
  frontend/dashboard/src/components/overlays/kappagen/store.ts
  frontend/dashboard/src/locales/en.json
  frontend/overlays/src/components/chat_tmi_emotes.ts
  frontend/overlays/src/components/chat_tmi_helpers.ts
  frontend/overlays/src/pages/overlays/chat.vue
  frontend/overlays/src/pages/overlays/kappagen.vue
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/types.ts
  libs/gomodels/channel_modules_settings.go
  libs/gomodels/channel_modules_settings_kappagen.go
  libs/grpc/protos/api/overlays_kappagen.proto
  libs/migrations/migrations/20231121163503_kappagen_add_emotes_settings.go
  tools/dev.go
  tools/go.mod
  tools/go.sum
Due: publish-api

feat: add emoji selector to kappagen
  frontend/dashboard/src/components/overlays/kappagen/store.ts
  frontend/overlays/package.json
  frontend/overlays/src/components/chat_tmi_helpers.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/overlays/src/pages/overlays/kappagen/builder.ts
  frontend/overlays/src/pages/overlays/kappagen/socket.ts
  pnpm-lock.yaml
Due: none

fix(dashboard): set default size for kappagen
  frontend/dashboard/src/components/overlays/kappagen/store.ts
Due: none

feat(overlays): auto-update page when new version comes
  frontend/overlays/package.json
  frontend/overlays/src/main.ts
  frontend/overlays/vite.config.ts
  pnpm-lock.yaml
Due: none

chore(bots): add debug logging
  apps/bots/internal/chat_client/handlers_message.go
Due: publish-bots

fix(dashboard): set missed events and animations for kappagen in form
  frontend/dashboard/src/components/overlays/kappagen/settingsAnimations.vue
  frontend/dashboard/src/components/overlays/kappagen/settingsEvents.vue
Due: none

chore(overlays): set update check interval to 1 minute
  frontend/overlays/vite.config.ts
Due: none

feat: add be right back overlay
  apps/api/internal/impl_protected/overlays/be_right_back.go
  apps/websockets/cmd/main.go
  apps/websockets/internal/grpc_impl/be_right_back.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/namespaces/overlays/be_right_back/be_right_back.go
  apps/websockets/internal/namespaces/overlays/be_right_back/handle_message.go
  apps/websockets/internal/namespaces/overlays/be_right_back/settings.go
  frontend/overlays/src/main.ts
  frontend/overlays/src/pages/overlays/beRightBack.vue
  frontend/overlays/src/pages/overlays/brb/iframe.ts
  frontend/overlays/src/pages/overlays/brb/socket.ts
  frontend/overlays/src/pages/overlays/brb/timeUtils.ts
  frontend/overlays/src/pages/overlays/brb/types.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  libs/gomodels/channel_modules_settings_be_right_back.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/overlays_be_right_back.proto
  libs/grpc/protos/websockets.proto
  libs/migrations/migrations/20231122180742_add_be_right_back_overlay.sql
Due: publish-api

chore: add status to the grpc parser error
  apps/bots/go.sum
  apps/bots/internal/chat_client/handlers_message_command.go
  apps/parser/go.sum
  apps/parser/internal/grpc_impl/grpc_impl.go
Due: publish-bots, publish-parser

chore(bots): check error in greetings handler
  apps/bots/internal/chat_client/handlers_message_greetings.go
Due: publish-bots

chore(bots): attempt to correctly log disconnect error
  apps/bots/internal/chat_client/chat_client_reader.go
  apps/bots/internal/chat_client/chat_client_writer.go
  libs/logger/logger.go
Due: publish-bots

kruto
  frontend/overlays/src/pages/overlays/beRightBack.vue
  frontend/overlays/src/pages/overlays/brb/ticker.vue
Due: none
