Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

upd rageywide
  .github/workflows/docker-tests.yml
Due: none

upd rageywide
  .github/workflows/docker-tests.yml
  Dockerfile
Due: none

upd rageywide
  Dockerfile
Due: none

upd rageywide
  apps/scheduler/go.mod
  apps/scheduler/go.sum
Due: publish-scheduler

upd rageywide
  .dockerignore
  .github/workflows/docker-tests.yml
  Dockerfile
  docker-compose.stack.yml
Due: none

upd rageywide
  Dockerfile
  docker-compose.stack.yml
Due: none

upd rageywide
  .github/workflows/docker-tests.yml
  docker-compose.stack.yml
Due: none

upd rageywide
  Dockerfile
  apps/scheduler/cmd/main.go
Due: publish-scheduler

upd rageywide
  .github/workflows/docker-tests.yml
  .github/workflows/docker.yml
Due: none

upd rageywide
  .github/workflows/docker.yml
Due: none

chore(actions): update file
  .github/workflows/docker.yml
Due: none

chore(actions): possible fix of wrong `node_modules` folder
  Dockerfile
Due: none

fix: make channel modules settings userId not unique
  libs/typeorm/src/migrations/1677877971996-fix_user_channels_settings.ts
Due: publish-migrations

chore: add missed `tsconfig.base.json` file to typeorm docker
  Dockerfile
Due: none

chore: add missed `crypto` lib to typeorm
  Dockerfile
Due: none

chore: add missed `crypto` lib to typeorm
  apps/websockets/internal/namespaces/youtube/handle_message.go
  frontend/dashboard/pages/song-requests/player.tsx
Due: none

upd rageywide
  apps/websockets/cmd/main.go
  apps/websockets/internal/namespaces/youtube/handle_message.go
  apps/websockets/types/types.go
  frontend/dashboard/pages/song-requests/player.tsx
Due: none

upd rageywide
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/bots/go.sum
  apps/emotes-cacher/go.mod
  apps/emotes-cacher/go.sum
  apps/events/go.mod
  apps/events/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/timers/go.mod
  apps/timers/go.sum
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/watched/go.mod
  apps/watched/go.sum
  apps/websockets/go.mod
  apps/websockets/go.sum
  frontend/overlays/src/hooks/obs.ts
  frontend/overlays/src/pages/obs.tsx
  go.work.sum
  libs/gomodels/go.mod
  libs/gomodels/go.sum
  libs/grpc/go.mod
  libs/grpc/go.sum
  libs/integrations/spotify/go.mod
  libs/integrations/spotify/go.sum
  libs/twitch/go.mod
  libs/twitch/go.sum
Due: publish-api, publish-bots, publish-parser, publish-scheduler

upd rageywide
  libs/typeorm/src/migrations/1677923559083-fix_user_channels_settings2.ts
Due: publish-migrations

upd rageywide
  apps/api/internal/middlewares/attachUser.go
Due: publish-api

chore(actions): add missed build step to frontends
  .github/workflows/docker.yml
Due: none

chore: update overlays base image
  Dockerfile
Due: none

fix: use obs websocket settings instead of hardcoded values
  apps/websockets/internal/namespaces/obs/handle_message.go
  apps/websockets/internal/namespaces/obs/obs.go
  frontend/overlays/src/hooks/obs.ts
  frontend/overlays/src/pages/obs.tsx
Due: none

fix(parser): get title and game from twitch api instead of db
  apps/parser/internal/commands/channel/game/game.go
  apps/parser/internal/commands/channel/title/title.go
Due: publish-parser

fix(bots): replace `\n` symbol with space when sending message
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/bots/types/chat_client.go
Due: publish-bots

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
