Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

feat(dashboard): chat messages virtual scroll
  bun.lock
  frontend/dashboard/package.json
  frontend/dashboard/src/features/community-chat-messages/ui/chat-messages.vue
Due: none

fix(api-gql): check user nil for 7tv integration
  apps/api-gql/internal/services/seventv_integration/seventv_integration.go
Due: none

perf: get stream only once on chat message, add cache
  apps/bots/internal/messagehandler/messagehandler.go
  apps/eventsub/app/app.go
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/handler/channel_update.go
  apps/eventsub/internal/handler/chat_message.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/stream_online.go
  apps/parser/cmd/main.go
  apps/parser/internal/cacher/faceit.go
  apps/parser/internal/cacher/twitch.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/types/parse_context.go
  apps/parser/internal/types/variables_cacher.go
  apps/parser/internal/variables/stream/categories_time.go
  apps/parser/internal/variables/stream/category.go
  apps/parser/internal/variables/stream/stream.go
  apps/parser/internal/variables/stream/title.go
  apps/parser/internal/variables/stream/uptime.go
  apps/parser/internal/variables/stream/viewers.go
  libs/bus-core/twitch/chat-message.go
  libs/redis_keys/stream.go
  libs/repositories/streams/datasource/postgres/postgres.go
  libs/repositories/streams/streams.go
Due: publish-bots, publish-eventsub, publish-parser

fix(bots): correctly check stream variable
  apps/bots/internal/messagehandler/ensureuser.go
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/handle_increment_stream_messages.go
  apps/bots/internal/messagehandler/handle_stream_first_user_join.go
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

fix(api-gql): use correct filtered public commands
  apps/api-gql/internal/delivery/gql/resolvers/commands.resolver.go
Due: none

chore(repositories): incorrect single create syntax
  libs/repositories/chat_messages/pgx/pgx.go
Due: none

fix(bots): use right context in workers goroutine
  apps/bots/internal/workers/workers.go
Due: publish-bots

fix(bots): potential leak in save message
  apps/bots/internal/messagehandler/handle_save_message.go
Due: publish-bots

fix(bots): potential leak in save message, comment buffer logic
  apps/api-gql/internal/delivery/gql/resolvers/commands.resolver.go
  apps/bots/internal/messagehandler/handle_save_message.go
Due: publish-bots

feat(parser): add ability to copy single 7tv emote
  apps/parser/internal/commands/7tv/emote_add.go
  apps/parser/internal/commands/7tv/emote_copy.go
  apps/parser/internal/commands/7tv/emote_delete.go
  apps/parser/internal/commands/7tv/emote_rename.go
  apps/parser/internal/commands/commands.go
Due: publish-parser

chore(parser): add `yoink` alias for copy
  apps/parser/internal/commands/7tv/emote_copy.go
Due: publish-parser

feat(dashboard): disable broadcaster uncheck for perms
  frontend/dashboard/src/features/commands/ui/form-roles-selector.vue
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
Due: none

chore(parser): use strings.Fields instead of regexp
  apps/parser/internal/commands/commands.go
Due: publish-parser

fix(parser): correctly handle message case in commands find
  apps/parser/internal/commands/commands.go
Due: publish-parser

feat(overlays): add id's for brb overlay
  frontend/overlays/src/components/brb-timer.vue
  frontend/overlays/src/pages/overlays/be-right-back.vue
Due: none

fix(api-gql): prevent create command with existed name or alias
  apps/api-gql/internal/services/commands/commands.go
Due: none

feat(parser): add `firstfollowers` command
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/utility/firstfollowers.go
  libs/twitch/unsupported.go
Due: publish-parser

fix(parser): use login for `firstfollowers`
  apps/parser/internal/commands/utility/firstfollowers.go
Due: publish-parser

fix(parser): use displayname if same as login
  apps/parser/internal/commands/utility/firstfollowers.go
  apps/parser/pkg/helpers/nickname_resolver.go
Due: publish-parser

fix(parser): handle nil node for firstfollowers
  libs/twitch/unsupported.go
Due: none

wip
  frontend/dashboard/src/api/giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-history-table.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-list-table.ts
  frontend/dashboard/src/features/giveaways/giveaways.vue
  frontend/dashboard/src/features/giveaways/pages/giveaways-pages-history.vue
  frontend/dashboard/src/features/giveaways/pages/giveaways-pages-view.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-create-dialog.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway-winners.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-participants.vue
  frontend/dashboard/src/plugins/router.ts
Due: none

wip
  frontend/dashboard/src/api/chat-messages.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway-winners.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
Due: none

wip
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
  apps/api-gql/internal/delivery/gql/schema/chat-messages.graphqls
  apps/api-gql/internal/services/chat_messages/get_many.go
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway-winners.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  libs/repositories/chat_messages/chat_messages.go
  libs/repositories/chat_messages/pgx/pgx.go
Due: none

wip
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway-winners.vue
Due: none

wip
  frontend/dashboard/src/api/giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
Due: none

wip
  frontend/dashboard/src/api/chat-messages.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway-winners.vue
Due: none

wip
  frontend/dashboard/src/api/chat-messages.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway-winners.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  libs/repositories/giveaways/pgx/pgx.go
Due: none

wip
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/pages/giveaways-pages-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
Due: none

wip
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-participants.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-winners.vue
Due: none

wip
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-list-table.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-create-dialog.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
Due: none

wip
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-list-table.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-create-dialog.vue
Due: none

spasibA artem!!!!
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-winners.vue
Due: none

spasibA artem!!!!
  Caddyfile.dev
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.go
  apps/api-gql/internal/delivery/gql/schema/user.graphqls
  apps/api-gql/internal/entity/user.go
  apps/api-gql/internal/services/users/users.go
  bun.lock
  frontend/dashboard/package.json
  frontend/dashboard/src/api/users.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-winners-profile.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-winners.vue
  frontend/dashboard/src/layout/sidebar/sidebar-footer.vue
  libs/api/openapi.ts
  package.json
  web/app/stores/user.ts
  web/layers/landing/components/index/features/features-data.ts
  web/layers/landing/layouts/default/header-profile.vue
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
