Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

wip
  apps/api-gql/internal/delivery/gql/mappers/giveaways.go
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/schema/giveaways.graphqls
  apps/api-gql/internal/entity/giveaways.go
  apps/api-gql/internal/services/giveaways/giveaways.go
  apps/bots/internal/messagehandler/handle_giveaways.go
  apps/giveaways/internal/services/giveaways.go
  frontend/dashboard/src/api/giveaways.ts
  frontend/dashboard/src/api/users.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-history-table.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-list-table.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-winners-profile.vue
  libs/migrations/migrations/20250428124806_giveaway_remove_columns.sql
  libs/repositories/giveaways/giveaways.go
  libs/repositories/giveaways/model/model.go
  libs/repositories/giveaways/pgx/pgx.go
Due: publish-bots

wip
  Caddyfile.dev
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/schema/user.graphqls
  frontend/dashboard/src/api/auth.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-list-table.ts
  frontend/dashboard/src/features/giveaways/ui/giveaways-create-dialog.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-winners-profile.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-winners.vue
Due: none

wip
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/giveaways.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-create-dialog.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-participants.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-winners-profile.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-winners.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
Due: none

wip
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-participants.vue
Due: none

wip
  .github/workflows/dockerv3.yml
  docker-compose.stack.yml
Due: none

wip
  frontend/dashboard/src/layout/sidebar/sidebar-footer.vue
  libs/api/openapi.ts
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

refactor: use gql for moderation settings
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/channels_moderation_settings.go
  apps/api-gql/internal/delivery/gql/resolvers/moderation.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/moderation.graphqls
  apps/api-gql/internal/entity/channels_moderation_settings.go
  apps/api-gql/internal/services/channels_moderation_settings/channels_moderation_settings.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/moderation/moderation.go
  apps/bots/app/app.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/bots/internal/messagehandler/messagehandler.go
  frontend/dashboard/src/api/crud.ts
  frontend/dashboard/src/api/moderation.ts
  frontend/dashboard/src/features/moderation/composables/use-moderation-api.ts
  frontend/dashboard/src/features/moderation/composables/use-moderation-form.ts
  frontend/dashboard/src/features/moderation/composables/use-moderation-rules.ts
  frontend/dashboard/src/features/moderation/moderation.vue
  frontend/dashboard/src/features/moderation/tabs/moderation-tab-rules.vue
  frontend/dashboard/src/features/moderation/ui/card.vue
  frontend/dashboard/src/features/moderation/ui/form/helpers.ts
  frontend/dashboard/src/features/moderation/ui/form/modal-language.vue
  frontend/dashboard/src/features/moderation/ui/form/modal.vue
  libs/api/api.proto
  libs/api/messages/moderation/moderation.proto
  libs/cache/channels_moderation_settings/channels_moderation_settings.go
  libs/gomodels/channels_moderation_settings.go
  libs/migrations/migrations/20250429161031_deny_list_filter_options.sql
  libs/repositories/channels_moderation_settings/channels_moderation_settings.go
  libs/repositories/channels_moderation_settings/datasource/postgres/postgres.go
  libs/repositories/channels_moderation_settings/datasource/postgres/util.go
  libs/repositories/channels_moderation_settings/errors.go
  libs/repositories/channels_moderation_settings/model/model.go
Due: publish-api, publish-bots

wip
  apps/api-gql/internal/delivery/gql/resolvers/moderation.resolver.go
  frontend/dashboard/src/features/moderation/ui/form/modal-denylist.vue
  frontend/dashboard/src/features/moderation/ui/form/modal.vue
  frontend/dashboard/src/locales/en.json
Due: none

wip
  apps/api-gql/internal/delivery/gql/mappers/channels_moderation_settings.go
  apps/bots/app/app.go
  frontend/dashboard/src/features/moderation/composables/use-moderation-api.ts
  frontend/dashboard/src/features/moderation/composables/use-moderation-form.ts
  frontend/dashboard/src/features/moderation/moderation-form.vue
  frontend/dashboard/src/features/moderation/moderation.vue
  frontend/dashboard/src/features/moderation/tabs/moderation-tab-rules.vue
  frontend/dashboard/src/features/moderation/ui/form/modal.vue
  frontend/dashboard/src/features/moderation/ui/form/moderation-form-caps.vue
  frontend/dashboard/src/features/moderation/ui/form/moderation-form-denylist.vue
  frontend/dashboard/src/features/moderation/ui/form/moderation-form-emotes.vue
  frontend/dashboard/src/features/moderation/ui/form/moderation-form-language.vue
  frontend/dashboard/src/features/moderation/ui/form/moderation-form-links.vue
  frontend/dashboard/src/features/moderation/ui/form/moderation-form-longmessage.vue
  frontend/dashboard/src/features/moderation/ui/form/moderation-form-symbols.vue
  frontend/dashboard/src/plugins/router.ts
Due: publish-bots

wip
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/moderationhelpers/deny_list.go
  frontend/dashboard/src/features/moderation/ui/form/moderation-form-denylist.vue
  frontend/dashboard/src/locales/ru.json
Due: publish-bots

wip
  apps/bots/internal/messagehandler/handle_moderation.go
  frontend/dashboard/src/features/moderation/ui/form/moderation-form-language.vue
Due: publish-bots

feat(bots): use regex2p package for denylist
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/moderationhelpers/deny_list.go
Due: publish-bots

feat: add hastebin
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/http/routes/pastebins/pastebins.go
  apps/api-gql/internal/entity/pastebin.go
  apps/api-gql/internal/services/pastebins/pastebins.go
  bun.lock
  libs/api/openapi.ts
  libs/migrations/migrations/20250430214856_add_pastebins.sql
  libs/repositories/pastebins/datasource/postgres/pgx.go
  libs/repositories/pastebins/errors.go
  libs/repositories/pastebins/model/model.go
  libs/repositories/pastebins/pastebins.go
  web/app/app.vue
  web/app/composables/use-oapi.ts
  web/layers/pastebin/nuxt.config.ts
  web/layers/pastebin/pages/components/hastebin-page.vue
  web/layers/pastebin/pages/h/[id].vue
  web/layers/pastebin/pages/h/index.vue
  web/layers/pastebin/server/routes/h/[id]/raw.ts
  web/nuxt.config.ts
  web/package.json
Due: none

wip
  web/layers/pastebin/pages/components/hastebin-page.vue
Due: none

wip
  web/layers/pastebin/pages/components/HastebinEditor.vue
  web/layers/pastebin/pages/components/HastebinToolbar.vue
  web/layers/pastebin/pages/components/HastebinViewer.vue
  web/layers/pastebin/pages/components/HastebinpPage.vue
  web/layers/pastebin/pages/components/hastebin-page.vue
  web/layers/pastebin/pages/h/[id].vue
  web/layers/pastebin/pages/h/index.vue
Due: none

wip
  web/layers/pastebin/pages/components/HastebinLayout.vue
  web/layers/pastebin/pages/components/HastebinPage.vue
  web/layers/pastebin/pages/h/[id].vue
  web/layers/pastebin/pages/h/[id]/raw.vue
  web/layers/pastebin/pages/h/index.vue
Due: none

wip
  web/layers/pastebin/pages/components/HastebinEditor.vue
  web/layers/pastebin/pages/components/HastebinPage.vue
  web/layers/pastebin/pages/components/HastebinToolbar.vue
  web/layers/pastebin/pages/components/HastebinViewer.vue
  web/layers/pastebin/pages/h/[id].vue
  web/layers/pastebin/pages/h/[id]/raw.vue
  web/layers/pastebin/pages/h/index.vue
  web/layers/pastebin/stores/pasteStore.ts
Due: none

wip
  web/layers/pastebin/pages/components/HastebinEditor.vue
  web/layers/pastebin/pages/components/HastebinLayout.vue
  web/layers/pastebin/pages/components/HastebinPage.vue
  web/layers/pastebin/pages/components/HastebinToolbar.vue
  web/layers/pastebin/pages/components/HastebinViewer.vue
Due: none

wip
  web/layers/pastebin/pages/components/HastebinPage.vue
  web/layers/pastebin/stores/pasteStore.ts
Due: none

wip
  web/layers/pastebin/pages/components/HastebinLayout.vue
  web/layers/pastebin/pages/components/HastebinPage.vue
  web/layers/pastebin/pages/components/HastebinToolbar.vue
  web/layers/pastebin/pages/components/HastebinViewer.vue
  web/layers/pastebin/pages/h/[id].vue
  web/layers/pastebin/stores/pasteStore.ts
Due: none

wip
  web/layers/pastebin/pages/components/HastebinEditor.vue
  web/layers/pastebin/pages/components/HastebinLayout.vue
  web/layers/pastebin/pages/components/HastebinToolbar.vue
  web/layers/pastebin/pages/components/HastebinViewer.vue
  web/layers/pastebin/server/routes/h/[id]/raw.ts
Due: none
