Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(watched): correct sql statements for load user and stats
  apps/api/cmd/main.go
  apps/api/internal/api/auth/checkUser.go
  apps/api/internal/api/v1/bot/service.go
  apps/watched/cmd/main.go
  apps/watched/internal/grpc_impl/grpc_impl.go
Due: publish-api

chore: update readme
  README.md
Due: none

feat: add swagger to api
  .devcontainer/Dockerfile
  apps/api/.gitignore
  apps/api/Taskfile.yml
  apps/api/cmd/main.go
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/v1/bot/controller.go
  apps/api/internal/api/v1/bot/dto.go
  apps/api/internal/api/v1/commands/controller.go
  apps/api/internal/api/v1/greetings/controller.go
  apps/api/internal/middlewares/error_handler.go
  apps/api/internal/types/types.go
  apps/api/nodemon.json
  libs/gomodels/channels_commands.go
  libs/gomodels/channels_commands_responses.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/commands/controller.go
  apps/api/internal/api/v1/greetings/controller.go
  apps/api/internal/api/v1/greetings/service.go
  apps/frontend/src/components/Greeting.vue
  apps/frontend/src/dashboard/Greetings.vue
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/greetings/dto.go
Due: publish-api

upd Chatting
  apps/api/cmd/main.go
  apps/api/internal/api/v1/integrations/donationalerts/controller.go
Due: publish-api

upd
  apps/api/internal/api/v1/integrations/donationalerts/controller.go
  libs/gomodels/channels_integrations.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/integrations/donationalerts/controller.go
  apps/api/internal/api/v1/integrations/faceit/controller.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/integrations/lastfm/controller.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/integrations/donationalerts/controller.go
  apps/api/internal/api/v1/integrations/faceit/controller.go
  apps/api/internal/api/v1/integrations/lastfm/controller.go
  apps/api/internal/api/v1/integrations/spotify/controller.go
  apps/api/internal/api/v1/integrations/streamlabs/controller.go
  apps/api/internal/api/v1/integrations/vk/controller.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/integrations/streamlabs/controller.go
  apps/api/internal/api/v1/integrations/vk/controller.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/commands/controller.go
  apps/api/internal/api/v1/keywords/controller.go
  apps/frontend/src/components/Keyword.vue
  libs/gomodels/channels_keywords.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/keywords/controller.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/moderation/controller.go
  libs/gomodels/channels_moderation_settings.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/settings/dashboardAccess/controller.go
  apps/api/internal/api/v1/settings/dashboardAccess/dto.go
  apps/frontend/src/dashboard/Settings.vue
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/stats/controller.go
  apps/api/internal/api/v1/stats/service.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/commands/controller.go
  apps/api/internal/api/v1/keywords/controller.go
  apps/api/internal/api/v1/streams/controller.go
  apps/api/internal/api/v1/timers/controller.go
Due: publish-api

upd Chatting
  apps/api/internal/api/v1/commands/controller.go
  apps/api/internal/api/v1/greetings/controller.go
  apps/api/internal/api/v1/keywords/controller.go
  apps/api/internal/api/v1/timers/controller.go
  apps/api/internal/api/v1/variables/controller.go
  apps/api/internal/api/v1/variables/dto.go
  libs/gomodels/channels_customvars.go
Due: publish-api

upd Chatting
  apps/api/cmd/main.go
  apps/api/go.mod
  apps/api/go.sum
Due: publish-api

upd Chatting
  README.md
Due: none

fix(docker): install go swag in api deps
  Dockerfile
Due: none

fix(docker): add path to api_deps
  Dockerfile
Due: none

fix(docker): add `-q` arg to swag
  Dockerfile
  apps/api/Taskfile.yml
Due: publish-api

feat(api): unignore docs
  Dockerfile
  apps/api/.gitignore
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
Due: publish-api

fix(bots): create prom counter only once for bot instance
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/bots/internal/bots/client.go
Due: publish-api, publish-bots

fix(api): validate command aliases length
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/commands/dto.go
  apps/api/nodemon.json
Due: publish-api

chore(vscode): add eslint as formatter again
  .vscode/settings.json
Due: none

feat: add command restrictions
  apps/api/docs/docs.go
  apps/api/docs/swagger.json
  apps/api/docs/swagger.yaml
  apps/api/internal/api/v1/commands/dto.go
  apps/api/internal/api/v1/commands/service.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/parser/internal/grpc_impl/helpers.go
  libs/gomodels/channels_commands.go
  libs/gomodels/command_restriction.go
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/entities/CommandRestriction.ts
  libs/typeorm/src/index.ts
  libs/typeorm/src/migrations/1670198747795-add_command_restrictions.ts
Due: publish-api, publish-migrations, publish-parser

upd Chatting
  apps/api/internal/api/v1/commands/dto.go
  apps/api/internal/api/v1/commands/service.go
  apps/api/internal/middlewares/error_handler.go
Due: publish-api

chore: fix `DATABASE_URL` in example env
  .env.example
Due: none

fix(bots): correct check for keepOrder of commands handler
  apps/bots/internal/bots/handlers/message_command.go
Due: publish-bots

feat(libs/typeorm): migrate entities from esm to cjs modules
  libs/typeorm/package.json
  libs/typeorm/runMigrations.ts
  libs/typeorm/seed.ts
  libs/typeorm/src/entities/Bot.ts
  libs/typeorm/src/entities/Channel.ts
  libs/typeorm/src/entities/ChannelChatMessage.ts
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/entities/ChannelCustomvar.ts
  libs/typeorm/src/entities/ChannelDotaAccount.ts
  libs/typeorm/src/entities/ChannelEvent.ts
  libs/typeorm/src/entities/ChannelGreeting.ts
  libs/typeorm/src/entities/ChannelIntegration.ts
  libs/typeorm/src/entities/ChannelKeyword.ts
  libs/typeorm/src/entities/ChannelModerationSetting.ts
  libs/typeorm/src/entities/ChannelModerationWarn.ts
  libs/typeorm/src/entities/ChannelPermit.ts
  libs/typeorm/src/entities/ChannelStream.ts
  libs/typeorm/src/entities/ChannelTimer.ts
  libs/typeorm/src/entities/ChannelTimerResponse.ts
  libs/typeorm/src/entities/CommandResponse.ts
  libs/typeorm/src/entities/CommandUsage.ts
  libs/typeorm/src/entities/DashboardAccess.ts
  libs/typeorm/src/entities/DotaGameMode.ts
  libs/typeorm/src/entities/DotaHero.ts
  libs/typeorm/src/entities/DotaMatch.ts
  libs/typeorm/src/entities/DotaMatchCard.ts
  libs/typeorm/src/entities/DotaMatchResult.ts
  libs/typeorm/src/entities/Integration.ts
  libs/typeorm/src/entities/Notification.ts
  libs/typeorm/src/entities/NotificationMessage.ts
  libs/typeorm/src/entities/Token.ts
  libs/typeorm/src/entities/User.ts
  libs/typeorm/src/entities/UserFile.ts
  libs/typeorm/src/entities/UserOnline.ts
  libs/typeorm/src/entities/UserStats.ts
  libs/typeorm/src/entities/UserViewedNotification.ts
  libs/typeorm/src/entities/channelEvents/Donation.ts
  libs/typeorm/src/entities/channelEvents/Follow.ts
  libs/typeorm/src/index.ts
  libs/typeorm/tsconfig.json
Due: publish-migrations

feat(libs/typeorm): migrate entities from esm to cjs modules (#262)
  libs/typeorm/package.json
  libs/typeorm/runMigrations.ts
  libs/typeorm/seed.ts
  libs/typeorm/src/entities/Bot.ts
  libs/typeorm/src/entities/Channel.ts
  libs/typeorm/src/entities/ChannelChatMessage.ts
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/entities/ChannelCustomvar.ts
  libs/typeorm/src/entities/ChannelDotaAccount.ts
  libs/typeorm/src/entities/ChannelEvent.ts
  libs/typeorm/src/entities/ChannelGreeting.ts
  libs/typeorm/src/entities/ChannelIntegration.ts
  libs/typeorm/src/entities/ChannelKeyword.ts
  libs/typeorm/src/entities/ChannelModerationSetting.ts
  libs/typeorm/src/entities/ChannelModerationWarn.ts
  libs/typeorm/src/entities/ChannelPermit.ts
  libs/typeorm/src/entities/ChannelStream.ts
  libs/typeorm/src/entities/ChannelTimer.ts
  libs/typeorm/src/entities/ChannelTimerResponse.ts
  libs/typeorm/src/entities/CommandResponse.ts
  libs/typeorm/src/entities/CommandUsage.ts
  libs/typeorm/src/entities/DashboardAccess.ts
  libs/typeorm/src/entities/DotaGameMode.ts
  libs/typeorm/src/entities/DotaHero.ts
  libs/typeorm/src/entities/DotaMatch.ts
  libs/typeorm/src/entities/DotaMatchCard.ts
  libs/typeorm/src/entities/DotaMatchResult.ts
  libs/typeorm/src/entities/Integration.ts
  libs/typeorm/src/entities/Notification.ts
  libs/typeorm/src/entities/NotificationMessage.ts
  libs/typeorm/src/entities/Token.ts
  libs/typeorm/src/entities/User.ts
  libs/typeorm/src/entities/UserFile.ts
  libs/typeorm/src/entities/UserOnline.ts
  libs/typeorm/src/entities/UserStats.ts
  libs/typeorm/src/entities/UserViewedNotification.ts
  libs/typeorm/src/entities/channelEvents/Donation.ts
  libs/typeorm/src/entities/channelEvents/Follow.ts
  libs/typeorm/src/index.ts
  libs/typeorm/tsconfig.json
Due: publish-migrations

fix(parser): correct responses order
  apps/parser/internal/commands/commands.go
Due: publish-parser

feat(api): respond with custom commands
  apps/api/internal/api/v1/stats/service.go
Due: publish-api

upd Chatting
  apps/frontend/src/components/drawers/commandEdit.vue
  apps/frontend/src/components/drawers/timerEdit.vue
  apps/frontend/src/pages/Timers.vue
Due: none

upd Chatting
  apps/frontend/src/components/integrations/donationalerts.vue
  apps/frontend/src/components/integrations/faceit.vue
  apps/frontend/src/components/integrations/lastfm.vue
  apps/frontend/src/components/integrations/spotify.vue
  apps/frontend/src/components/integrations/vk.vue
  apps/frontend/src/components/moderation/card.vue
  apps/frontend/src/components/sidebar/menu.ts
  apps/frontend/src/pages/Commands.vue
  apps/frontend/src/pages/Integrations.vue
  apps/frontend/src/pages/Moderation.vue
  apps/frontend/src/plugins/router.ts
Due: none

upd chatting
  apps/frontend/src/components/moderation/card.vue
  apps/frontend/src/pages/Integrations.vue
  apps/frontend/src/pages/Moderation.vue
Due: none
