Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

upd
  frontend/dashboard/components/layout/sidebar.tsx
Due: none

upd
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/types/valorant_api.go
Due: publish-parser

fix
  apps/parser/internal/cacher/cacher.go
Due: publish-parser

fix cooldowns
  apps/parser/internal/grpc_impl/grpc_impl.go
Due: publish-parser

upd
  apps/parser/internal/commands/stats/user_watch_time.go
Due: publish-parser

fix(parser): add `where` clause for `top.emotes.users`
  apps/parser/internal/variables/top/emotes_users.go
Due: publish-parser

fix(bots): correctly split message to parts
  apps/bots/types/chat_client.go
Due: publish-bots

fix(parser): correctly create slice of default commands for grpc
  apps/parser/internal/grpc_impl/grpc_impl.go
Due: publish-parser

chore: remove tab rule from eslint
  .eslintrc
Due: none

chore(parser): use `EqualFold` for compare strings
  apps/parser/internal/grpc_impl/helpers.go
Due: publish-parser

fix(ytsr): correctly handle youtube links, get their id by regular expression
  apps/ytsr/src/index.ts
Due: none

fix(ytsr): add `g` flag to linksRegexp
  apps/ytsr/src/index.ts
Due: none

feat(events): add switcher of autoread chat messages to tts
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/tts.go
  frontend/dashboard/components/events/operationMapping.ts
  libs/gomodels/event_operation.go
  libs/typeorm/src/entities/events/EventOperation.ts
  libs/typeorm/src/migrations/1685101860698-add_events_tts_autoread_operations.ts
Due: publish-migrations

feat(events): add `STREAM_FIRST_USER_JOIN` event
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/user_join.go
  apps/events/internal/grpc_impl/impl.go
  frontend/dashboard/components/events/eventsMapping.ts
  libs/gomodels/event.go
  libs/grpc/protos/events.proto
  libs/typeorm/src/entities/events/Event.ts
  libs/typeorm/src/migrations/1685107494101-add_events_add_stream_first_user_join.ts
Due: publish-bots, publish-migrations

chore: sync sums in go files
  apps/emotes-cacher/go.mod
  apps/emotes-cacher/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
  go.work
Due: publish-parser

chore(scheduler): fix select for userId
  apps/scheduler/internal/timers/streams.go
Due: publish-scheduler

chore(scheduler): add logging
  apps/scheduler/internal/timers/emotes.go
  apps/scheduler/internal/timers/online.go
  apps/scheduler/internal/timers/streams.go
  apps/scheduler/internal/timers/watched.go
Due: publish-scheduler

init api refactor
  Taskfile.yml
  apps/api-new/Taskfile.yml
  apps/api-new/cmd/main.go
  apps/api-new/go.mod
  apps/api-new/go.sum
  apps/api-new/internal/http/fiber/cache.go
  apps/api-new/internal/http/fiber/fiber.go
  apps/api-new/internal/http/helpers/business_error.go
  apps/api-new/internal/http/middlewares/error_handler.go
  apps/api-new/internal/http/middlewares/is_admin.go
  apps/api-new/internal/http/middlewares/middlewares.go
  apps/api-new/internal/http/middlewares/validate_body.go
  apps/api-new/internal/http/routes/v1.go
  apps/api-new/internal/http/routes/v1_handlers/channels_commands.go
  apps/api-new/internal/http/routes/v1_handlers/handlers.go
  apps/api/cmd/main.go
  apps/api/go.mod
  apps/api/go.sum
  apps/parser/internal/commands/manage/add_aliase.go
  apps/parser/internal/commands/manage/add_command.go
  apps/parser/internal/commands/manage/del_command.go
  apps/parser/internal/commands/manage/edit_command.go
  apps/parser/internal/commands/manage/helpers.go
  apps/parser/internal/commands/manage/remove_aliase.go
  go.work
Due: publish-api, publish-parser

upd
  apps/api-new/internal/http/fiber/fiber.go
  apps/api-new/internal/http/middlewares/is_admin.go
Due: none

upd
  apps/api-new/go.mod
  apps/api-new/go.sum
  apps/api-new/internal/http/fiber/fiber.go
Due: none

upd Chatting
  apps/api-new/cmd/main.go
  apps/api-new/internal/grpc_clients/grpc_clients.go
  apps/api-new/internal/http/fiber/fiber.go
  apps/api-new/internal/http/fiber/session.go
  apps/api-new/internal/http/middlewares/middlewares.go
  apps/api-new/internal/http/middlewares/validate_body.go
  apps/api-new/internal/http/routes/auth.go
  apps/api-new/internal/http/routes/auth_handlers/auth_get.go
  apps/api-new/internal/http/routes/auth_handlers/auth_handlers.go
  apps/api-new/internal/http/routes/auth_handlers/auth_post.go
  apps/api-new/internal/http/routes/auth_handlers/twitch_scopes.go
  apps/api-new/internal/http/routes/v1_handlers/channels_commands.go
  apps/api-new/internal/http/routes/v1_handlers/handlers.go
Due: none

upd Chatting
  apps/api-new/internal/http/helpers/errors.go
  apps/api-new/internal/http/routes/auth.go
  apps/api-new/internal/http/routes/auth_handlers/auth_delete.go
  apps/api-new/internal/http/routes/auth_handlers/auth_handlers.go
  apps/api-new/internal/http/routes/auth_handlers/auth_post.go
  apps/api-new/internal/http/routes/auth_handlers/profile.go
Due: none

upd Chatting
  apps/api-new/internal/http/fiber/cache.go
  apps/api-new/internal/http/fiber/session.go
  apps/api-new/internal/http/routes/auth_handlers/auth_handlers.go
  apps/api-new/internal/http/routes/auth_handlers/auth_post.go
  apps/api-new/internal/http/routes/v1_handlers/channels_commands.go
  apps/api-new/internal/http/routes/v1_handlers/handlers.go
  apps/scheduler/cmd/main.go
  apps/scheduler/grpc_impl/grpc_impl.go
  apps/scheduler/internal/timers/default_commands.go
  libs/grpc/protos/scheduler.proto
Due: publish-scheduler

fix: nil pointer dereference
  apps/api/internal/api/v1/greetings/service.go
Due: publish-api

feat: made enable field required
  apps/api/internal/api/v1/greetings/dto.go
  apps/api/internal/api/v1/greetings/service.go
Due: publish-api

upd Chatting
  apps/api-new/internal/http/fiber/session.go
  apps/api-new/internal/http/routes/v1.go
  apps/api-new/internal/http/routes/v1_handlers/channels_commands.go
Due: none

fix: nil pointer dereference (#392)
  apps/api/internal/api/v1/greetings/dto.go
Due: publish-api

feat: add commands and roles restrictions
  apps/api/internal/api/v1/commands/dto.go
  apps/api/internal/api/v1/commands/helpers.go
  apps/api/internal/api/v1/commands/service.go
  apps/api/internal/api/v1/roles/dto.go
  apps/api/internal/api/v1/roles/service.go
  apps/parser/internal/grpc_impl/helpers.go
  frontend/dashboard/components/commands/modal.tsx
  frontend/dashboard/components/roles/modal.tsx
  frontend/dashboard/public/locales/en/commands.json
  frontend/dashboard/public/locales/en/community.json
  frontend/dashboard/public/locales/ru/commands.json
  frontend/dashboard/public/locales/ru/community.json
  libs/gomodels/channel_role.go
  libs/gomodels/channels_commands.go
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/entities/ChannelRole.ts
  libs/typeorm/src/migrations/1685289032317-add_roles_settings.ts
  libs/typeorm/src/migrations/1685295875918-add_commands_restrictions.ts
Due: publish-api, publish-migrations, publish-parser

fix(api): add missed settings creation in roles
  apps/api/internal/middlewares/create_roles_and_commands.go
Due: publish-api

feat: add `donate.stream` integration
  apps/api/cmd/main.go
  apps/api/go.sum
  apps/api/internal/api/v1/integrations/donate_stream/controller.go
  apps/api/internal/api/v1/integrations/donate_stream/service.go
  apps/api/internal/api/v1/integrations/donatello/service.go
  apps/api/internal/api/v1/integrations/donatepay/service.go
  apps/api/internal/api/v1/integrations/donationalerts/service.go
  apps/api/internal/api/v1/integrations/faceit/service.go
  apps/api/internal/api/v1/integrations/helpers/helpers.go
  apps/api/internal/api/v1/integrations/lastfm/service.go
  apps/api/internal/api/v1/integrations/spotify/service.go
  apps/api/internal/api/v1/integrations/streamlabs/service.go
  apps/api/internal/api/v1/integrations/valorant/service.go
  apps/api/internal/api/v1/integrations/vk/service.go
  apps/api/internal/api/v1/roles/service.go
  apps/api/internal/api/v1/v1.go
  apps/api/internal/api/webhooks/integrations/donate_stream/donate_stream.go
  apps/api/internal/api/webhooks/webhooks.go
  apps/parser/internal/variables/song/song.go
  frontend/dashboard/components/integrations/donateStream.tsx
  frontend/dashboard/pages/integrations.tsx
  frontend/dashboard/services/api/integrations/donateStream.ts
  frontend/dashboard/services/api/integrations/index.ts
  libs/gomodels/integrations.go
  libs/typeorm/src/entities/Integration.ts
  libs/typeorm/src/migrations/1685398842860-add_donate_stream_integration.ts
Due: publish-api, publish-migrations, publish-parser

chore: add jetbrains run configurations
  .run/Dev Api.run.xml
  .run/Dev Bots.run.xml
  .run/Dev Emotes Cacher.run.xml
  .run/Dev EventSub.run.xml
  .run/Dev Parser.run.xml
  .run/Dev Scheduler.run.xml
  .run/Dev Timers.run.xml
  .run/Dev Tokens.run.xml
  .run/Dev Watched.run.xml
  .run/Dev WebSockets.run.xml
  .run/Dev YTSR.run.xml
  .run/Dev.run.xml
Due: none

chore: add prepare script
  .run/Dev.run.xml
  .run/Prepare.run.xml
Due: none

chore: add add dashboard run configurations
  .run/Dev Dota.run.xml
  .run/Dev Eval.run.xml
  .run/Dev Events.run.xml
  .run/Dev Integrations.run.xml
  .run/Dev.run.xml
  .run/[Frontend] Dashboard.run.xml
  .run/[Frontend] Landing.run.xml
  .run/[Frontend] Overlays.run.xml
  .run/[Frontend] Public.run.xml
Due: none

feat: update donatello integration
  apps/api/internal/api/v1/integrations/donatello/donatello.go
  apps/api/internal/api/v1/integrations/donatello/service.go
  apps/api/internal/api/webhooks/integrations/donatello/donatello.go
  apps/api/internal/api/webhooks/webhooks.go
  apps/integrations/src/index.ts
  apps/integrations/src/services/donatello.ts
  frontend/dashboard/components/integrations/donatello.tsx
  frontend/dashboard/pages/integrations.tsx
  libs/typeorm/src/migrations/1685541244421-drop_donatello_channels_integrations.ts
Due: publish-api, publish-migrations

fix(api): correctly get api key in donatello webhook
  apps/api/internal/api/webhooks/integrations/donatello/donatello.go
Due: publish-api

fix(api): add logging to donatello
  apps/api/internal/api/webhooks/integrations/donatello/donatello.go
Due: publish-api

fix(api): get donatello integration by id, not apikey
  apps/api/internal/api/webhooks/integrations/donatello/donatello.go
Due: publish-api

chore(twitch): add parallel requests to library for reuse logic
  libs/twitch/streams.go
  libs/twitch/twitch.go
  libs/twitch/users.go
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
