Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

chore(tokens): update dependencies
  apps/tokens/go.mod
  apps/tokens/go.sum
  go.work.sum
Due: none

refactor(ytsr): rewrite to `fx` as dependency manager
  apps/tokens/cmd/main.go
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/ytsr/cmd/main.go
  apps/ytsr/go.mod
  apps/ytsr/go.sum
  apps/ytsr/internal/grpc_impl/grpc_impl.go
Due: none

chore(logger): use zerolog and update sum of all mods
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/bots/go.sum
  apps/discord/go.mod
  apps/discord/go.sum
  apps/emotes-cacher/go.mod
  apps/emotes-cacher/go.sum
  apps/events/go.mod
  apps/events/go.sum
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/timers/go.mod
  apps/timers/go.sum
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/websockets/go.mod
  apps/websockets/go.sum
  apps/ytsr/go.mod
  apps/ytsr/go.sum
  go.work.sum
  libs/gomodels/go.mod
  libs/gomodels/go.sum
  libs/grpc/go.mod
  libs/grpc/go.sum
  libs/integrations/spotify/go.mod
  libs/integrations/spotify/go.sum
  libs/logger/go.mod
  libs/logger/go.sum
  libs/logger/logger.go
  libs/migrations/go.mod
  libs/migrations/go.sum
  libs/sentry/sentry.go
  libs/twitch/go.mod
  libs/twitch/go.sum
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

chore(timers/events): use slog for temporal logger
  apps/events/internal/workers/worker.go
  apps/events/internal/workflows/events.go
  apps/timers/cmd/main.go
  apps/timers/internal/worker/worker.go
  apps/timers/internal/workflow/workflow.go
  libs/logger/logger.go
Due: none

Update translation files
  frontend/dashboard/src/locales/ru.json
Due: none

Update translation files
  frontend/dashboard/src/locales/uk.json
Due: none

chore: change maximum number of retries for temporal
  apps/events/internal/workflows/events.go
  apps/events/internal/workflows/events_flow.go
  apps/timers/internal/workflow/manage.go
  apps/timers/internal/workflow/workflow.go
Due: none

fix(parser): correctly check on ongoing duels
  apps/parser/internal/commands/games/duel.go
  apps/parser/internal/commands/games/duel_handler.go
Due: publish-parser

refactor(scheduler): migrate to `fx` for dependency injection
  apps/scheduler/cmd/main.go
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/scheduler/internal/gorm/gorm.go
  apps/scheduler/internal/grpc_impl/grpm_impl.go
  apps/scheduler/internal/services/commands.go
  apps/scheduler/internal/services/roles.go
  apps/scheduler/internal/timers/banned_channels.go
  apps/scheduler/internal/timers/commandsAndRoles.go
  apps/scheduler/internal/timers/emotes.go
  apps/scheduler/internal/timers/online.go
  apps/scheduler/internal/timers/streams.go
  apps/scheduler/internal/timers/watched.go
  apps/scheduler/internal/types/types.go
  go.work.sum
Due: publish-scheduler

Kruto
  frontend/dashboard/src/pages/overlays/brb/Brb.vue
  frontend/dashboard/src/pages/overlays/chat/Chat.vue
  frontend/overlays/src/pages/overlays/brb/ticker.vue
  libs/fontsource/src/api.ts
  libs/fontsource/src/components/font-selector.vue
Due: none

Kruto
  frontend/overlays/src/sockets/chat_overlay.ts
Due: none

fix: add missed lib into dockerfile
  base.Dockerfile
Due: none

refactor(frontend-chat): use different components for each style and direction
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  libs/frontend-chat/src/chatBox.vue
  libs/frontend-chat/src/components/message-content.vue
  libs/frontend-chat/src/helpers.ts
  libs/frontend-chat/src/index.ts
  libs/frontend-chat/src/styles/boxed/message-horizontal.vue
  libs/frontend-chat/src/styles/boxed/message-vertical.vue
  libs/frontend-chat/src/styles/clean.vue
  libs/frontend-chat/src/styles/clean/message-horizontal.vue
  libs/frontend-chat/src/styles/clean/message-vertical.vue
  libs/frontend-chat/src/types.ts
  libs/frontend-chat/tsconfig.json
  libs/frontend-chat/vite.config.ts
Due: none

fix(frontend-chat): add `white-space: nowrap;` for boxed horizontal style
  libs/frontend-chat/src/styles/boxed/message-horizontal.vue
Due: none

fix(parser): correctly check target and sender on duel accept
  apps/parser/internal/commands/games/duel_accept.go
Due: publish-parser

fix(parser): use postgres for duels
  apps/parser/internal/commands/games/duel.go
  apps/parser/internal/commands/games/duel_accept.go
  apps/parser/internal/commands/games/duel_handler.go
  apps/parser/internal/commands/games/duel_stats.go
  libs/gomodels/channel_duels.go
  libs/migrations/migrations/20231219131106_duels_migrate_to_postgres.sql
Due: publish-parser

chore: add `save-exact` flag to `.npmrc`
  .npmrc
Due: none

chore: use docker registry instead of selfhost
  .github/workflows/dockerv2.yml
Due: none

chore(stack): update images addresses
  docker-compose.stack.yml
Due: none

chore: update images addresses
  .github/workflows/dockerv2.yml
  docker-compose.stack.yml
Due: none

chore: update images addresses
  .github/workflows/dockerv2.yml
Due: none

chore(eventsub): use local tunnel in case ngrok failed
  apps/eventsub/internal/helpers/app_tunnel.go
Due: publish-eventsub

fix(parser): correctly set `resultMessage` in `duel accept`
  apps/parser/internal/commands/games/duel_accept.go
Due: publish-parser

chore: add golangci-lint
  .github/workflows/build-and-lint.yml
  .golangci.yml
Due: none

chore: remove `golangci-lint` from ci
  .github/workflows/build-and-lint.yml
  .gitignore
  .golangci.yml
  .vscode/settings.json
  README.md
Due: none

chore: add some `golangci-lint` rules
  .golangci.yml
Due: none

chore: remove some `golangci-lint` rules
  .golangci.yml
Due: none

chore(parser): remove not needed explanation on command handler error
  apps/parser/internal/commands/commands.go
Due: publish-parser

fix(parser): use channel id for ban/unban/timeout requests
  apps/events/internal/activities/events/ban_unban.go
Due: none

feat(dashboard): make commands inline editable
  frontend/dashboard/src/components/commands/createListColumns.ts
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/components/commands/list/column-actions.vue
  frontend/dashboard/src/components/commands/list/column-name.vue
  frontend/dashboard/src/components/commands/list/column-responses.vue
  frontend/dashboard/src/components/commands/list/column-status.vue
  frontend/dashboard/src/components/commands/list/createColumns.ts
  frontend/dashboard/src/main.ts
Due: none

feat(dashboard): add ability to exclude emotes from kappagen
  apps/api/internal/impl_protected/overlays/kappagen.go
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/overlays/kappagen/settingsGeneral.vue
  frontend/dashboard/src/pages/overlays/kappagen/store.ts
  frontend/overlays/src/components/chat_tmi_helpers.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/overlays/src/pages/overlays/kappagen/builder.ts
  frontend/overlays/src/pages/overlays/kappagen/socket.ts
  libs/gomodels/channel_modules_settings_kappagen.go
  libs/grpc/protos/api/overlays_kappagen.proto
Due: publish-api

feat(parser): display broadcaster age in follow variables
  apps/parser/internal/cacher/cacher.go
  apps/parser/internal/cacher/twitch.go
  apps/parser/internal/types/variables_cacher.go
  apps/parser/internal/variables/user/age.go
  apps/parser/internal/variables/user/follow_age.go
  apps/parser/internal/variables/user/follow_since.go
Due: publish-parser

fix(parser): correctly check on nil in `age` variable
  apps/parser/internal/variables/user/age.go
Due: publish-parser

refactor(dashboard): move custom overlays from registry to all overlays
  frontend/dashboard/package.json
  frontend/dashboard/src/layout/navigation.vue
  frontend/dashboard/src/pages/Overlays.vue
  frontend/dashboard/src/pages/OverlaysRegistry.vue
  frontend/dashboard/src/router.ts
  pnpm-lock.yaml
Due: none

refactor(dashboard): use `popconfirm` for inline table editing
  frontend/dashboard/src/components/commands/list/column-name.vue
  frontend/dashboard/src/components/commands/list/column-responses.vue
Due: none

refactor(dashboard): use `enter` keydown for commands descriptions
  frontend/dashboard/src/components/commands/list/column-responses.vue
Due: none

refactor(dashboard): remove inline edit of description
  frontend/dashboard/src/components/commands/list/column-responses.vue
Due: none

fix(timers): update timer `lastTriggerMessageNumber` column in activity
  apps/timers/internal/activity/activity.go
  apps/timers/internal/repositories/timers/gorm.go
  apps/timers/internal/repositories/timers/repository.go
Due: none

README.md typo fix
  README.md
Due: none
