Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

upd
  frontend/landing/src/assets/bg-image-15.svg
  frontend/landing/src/components/index/Features.astro
  frontend/landing/src/components/index/Hero.astro
  frontend/landing/src/components/index/Integrations.astro
  frontend/landing/src/pages/index.astro
Due: none

upd
  frontend/landing/src/assets/integrations/donationalerts.svg
  frontend/landing/src/assets/integrations/faceit.svg
  frontend/landing/src/assets/integrations/lastfm.svg
  frontend/landing/src/assets/integrations/obs.svg
  frontend/landing/src/assets/integrations/spotify.svg
  frontend/landing/src/assets/integrations/streamelements.svg
  frontend/landing/src/assets/integrations/streamlabs.svg
  frontend/landing/src/assets/integrations/twitch.svg
  frontend/landing/src/assets/integrations/vk.svg
  frontend/landing/src/components/index/Features.astro
  frontend/landing/src/components/index/Integrations.astro
Due: none

upd
  frontend/landing/src/components/index/Stats.astro
Due: none

remove preact
  frontend/landing/astro.config.mjs
  frontend/landing/package.json
  frontend/landing/src/api/twirp.ts
  frontend/landing/src/components/login.tsx
  frontend/landing/src/components/login.vue
  frontend/landing/src/components/profile.tsx
  frontend/landing/src/components/profile.vue
  frontend/landing/src/layouts/Header.astro
  frontend/landing/src/pages/login.astro
  pnpm-lock.yaml
Due: none

upd
  frontend/landing/src/components/profile.vue
Due: none

upd
  frontend/landing/src/components/index/hero/Promote.astro
Due: none

upd
  frontend/landing/README.md
  frontend/landing/astro.config.mjs
  frontend/landing/package.json
  frontend/landing/public/fonts/Inter-Bold.woff
  frontend/landing/public/fonts/Inter-Bold.woff2
  frontend/landing/public/fonts/Inter-Medium.woff
  frontend/landing/public/fonts/Inter-Medium.woff2
  frontend/landing/public/fonts/Inter-Regular.woff
  frontend/landing/public/fonts/Inter-Regular.woff2
  frontend/landing/public/fonts/Inter-SemiBold.woff
  frontend/landing/public/fonts/Inter-SemiBold.woff2
  frontend/landing/src/api/twirp-browser.ts
  frontend/landing/src/assets/arrowright.svg
  frontend/landing/src/assets/login-twitch.svg
  frontend/landing/src/components/Profile.vue
  frontend/landing/src/components/index/Hero.astro
  frontend/landing/src/components/index/hero/Promote.astro
  frontend/landing/src/components/profile.vue
  frontend/landing/src/env.d.ts
  frontend/landing/src/icons/ArrowRight.svg
  frontend/landing/src/icons/Error.svg
  frontend/landing/src/icons/Loader.svg
  frontend/landing/src/icons/TwirLogo.svg
  frontend/landing/src/icons/TwitchLogo.svg
  frontend/landing/src/layouts/Header.astro
  frontend/landing/src/layouts/Layout.astro
  frontend/landing/src/pages/index.astro
  frontend/landing/tailwind.config.js
Due: none

improve new landing a bit (#411)
  frontend/landing/README.md
  frontend/landing/astro.config.mjs
  frontend/landing/package.json
  frontend/landing/public/fonts/Inter-Bold.woff
  frontend/landing/public/fonts/Inter-Bold.woff2
  frontend/landing/public/fonts/Inter-Medium.woff
  frontend/landing/public/fonts/Inter-Medium.woff2
  frontend/landing/public/fonts/Inter-Regular.woff
  frontend/landing/public/fonts/Inter-Regular.woff2
  frontend/landing/public/fonts/Inter-SemiBold.woff
  frontend/landing/public/fonts/Inter-SemiBold.woff2
  frontend/landing/src/api/twirp-browser.ts
  frontend/landing/src/assets/arrowright.svg
  frontend/landing/src/assets/login-twitch.svg
  frontend/landing/src/components/Profile.vue
  frontend/landing/src/components/index/Hero.astro
  frontend/landing/src/components/index/hero/Promote.astro
  frontend/landing/src/components/profile.vue
  frontend/landing/src/env.d.ts
  frontend/landing/src/icons/ArrowRight.svg
  frontend/landing/src/icons/Error.svg
  frontend/landing/src/icons/Loader.svg
  frontend/landing/src/icons/TwirLogo.svg
  frontend/landing/src/icons/TwitchLogo.svg
  frontend/landing/src/layouts/Header.astro
  frontend/landing/src/layouts/Layout.astro
  frontend/landing/src/pages/index.astro
  frontend/landing/tailwind.config.js
Due: none

kruto
  frontend/landing/package.json
  pnpm-lock.yaml
Due: none

kruto
  frontend/landing/astro.config.mjs
  frontend/landing/src/assets/cube.svg
  frontend/landing/src/assets/dialog-avatar.png
  frontend/landing/src/assets/dialog-avatar.svg
  frontend/landing/src/components/Profile.vue
  frontend/landing/src/components/index/Features.astro
  frontend/landing/src/components/index/Integrations.astro
  frontend/landing/src/components/index/hero/Chat.astro
  frontend/landing/src/components/index/hero/Promote.astro
  frontend/landing/src/pages/login.astro
Due: none

chore(dashboard): back computed for dashboard select
  frontend/dashboard/src/layout/dashboardsMenu.vue
Due: none

fix(api): make integrations enabled
  apps/api/internal/impl_protected/integrations/donatepay.go
  apps/api/internal/impl_protected/integrations/faceit.go
  apps/api/internal/impl_protected/integrations/integrations.go
  apps/api/internal/impl_protected/integrations/lastfm.go
  apps/api/internal/impl_protected/integrations/spotify.go
  apps/api/internal/impl_protected/integrations/valorant.go
Due: publish-api

fix(integrations): correct table name for inserts
  apps/integrations/src/services/donatepay.ts
  apps/integrations/src/services/donationAlerts.ts
  apps/integrations/src/services/streamLabs.ts
  go.work.sum
Due: none

feat(dashboard): add stream widget
  frontend/dashboard/src/components/dashboard/stream.vue
  frontend/dashboard/src/pages/Dashboard.vue
Due: none

fix(integrations): correct table name for inserts
  apps/integrations/src/services/donatepay.ts
  apps/integrations/src/services/donationAlerts.ts
  apps/integrations/src/services/streamLabs.ts
  frontend/dashboard/src/components/dashboard/positions.ts
Due: none

fix(dashboard): correct param for stream iframe
  frontend/dashboard/src/components/dashboard/stream.vue
Due: none

fix(integrations): add missed type when insert event
  apps/integrations/src/services/donatepay.ts
  apps/integrations/src/services/donationAlerts.ts
  apps/integrations/src/services/streamLabs.ts
Due: none

feat(dashboard): make stream autoplay=false by default
  frontend/dashboard/src/components/dashboard/stream.vue
Due: none

feat(dashboard): use min width for title and category
  frontend/dashboard/src/components/dashboard/stats.vue
Due: none

fix(events): add +1 for operation repeat in case repeat = 0
  apps/events/internal/grpc_impl/events.go
  apps/events/internal/grpc_impl/operations.go
Due: none

chore(bots): log error of meReq
  apps/bots/internal/bots/client.go
Due: publish-bots

feat(dashboard): add ability to change channel title and category
  apps/api/internal/impl_protected/dashboard_stats/dashboard_stats.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/twitch/twitch.go
  frontend/dashboard/src/api/twitch.ts
  frontend/dashboard/src/components/dashboard/stats.vue
  frontend/dashboard/src/components/dashboard/statsChannelInfo.vue
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/twitch_protected.proto
Due: publish-api

init
  apps/api/internal/impl_protected/dashboard/dashboard.go
  apps/api/internal/impl_protected/dashboard_stats/dashboard_stats.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/notice.go
  apps/eventsub/internal/handler/channel_follow.go
  apps/eventsub/internal/handler/redemption.go
  apps/integrations/src/index.ts
  apps/integrations/src/services/donatepay.ts
  apps/integrations/src/services/donationAlerts.ts
  apps/integrations/src/services/streamLabs.ts
  frontend/dashboard/package.json
  frontend/dashboard/src/api/dashboard.ts
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/components/dashboard/bot.vue
  frontend/dashboard/src/components/dashboard/events.vue
  frontend/dashboard/src/components/dashboard/events/base.vue
  frontend/dashboard/src/components/dashboard/events/donate.vue
  frontend/dashboard/src/components/dashboard/events/firstUserMessage.vue
  frontend/dashboard/src/components/dashboard/events/follow.vue
  frontend/dashboard/src/components/dashboard/events/raid.vue
  frontend/dashboard/src/components/dashboard/events/resubscribe.vue
  frontend/dashboard/src/components/dashboard/events/subgift.vue
  frontend/dashboard/src/components/dashboard/events/subscribe.vue
  frontend/dashboard/src/components/dashboard/positions.ts
  frontend/dashboard/src/helpers/createUserName.ts
  frontend/dashboard/src/helpers/index.ts
  frontend/dashboard/src/pages/Dashboard.vue
  libs/gomodels/_prisma_migrations.go
  libs/gomodels/channels_events_list.go
  libs/gomodels/event.go
  libs/gomodels/model_base.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/dashboard.proto
  libs/grpc/protos/api/dashboard_stats.proto
  libs/migrations/migrations/20230803070701_channels_events_list.sql
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-eventsub

kruto
  frontend/dashboard/src/components/dashboard/events.vue
  pnpm-lock.yaml
Due: none

kruto
  apps/bots/internal/bots/client.go
  frontend/dashboard/src/components/dashboard/events.vue
  frontend/dashboard/src/components/dashboard/events/base.vue
  frontend/dashboard/src/components/dashboard/events/chatClear.vue
  frontend/dashboard/src/components/dashboard/events/donate.vue
  frontend/dashboard/src/components/dashboard/events/firstUserMessage.vue
  frontend/dashboard/src/components/dashboard/events/follow.vue
  frontend/dashboard/src/components/dashboard/events/raid.vue
  frontend/dashboard/src/components/dashboard/events/redemptionCreated.vue
  frontend/dashboard/src/components/dashboard/events/resubscribe.vue
  frontend/dashboard/src/components/dashboard/events/subgift.vue
  frontend/dashboard/src/components/dashboard/events/subscribe.vue
Due: publish-bots

kruto
  apps/bots/go.mod
  apps/bots/go.sum
  pnpm-lock.yaml
Due: publish-bots

fix(api): add missed eventlist creating for webhooks
  apps/api/internal/webhooks/donate_stream.go
  apps/api/internal/webhooks/donatello.go
Due: publish-api

feat(dashboard): combine title and category into one block
  frontend/dashboard/src/components/dashboard/statsChannelInfo.vue
Due: none

chore(dashboard): use svg for render locale flag
  frontend/dashboard/src/assets/icons/flags/en.svg
  frontend/dashboard/src/assets/icons/flags/ru.svg
  frontend/dashboard/src/components/dashboard/statsChannelInfo.vue
  frontend/dashboard/src/layout/header.vue
  frontend/dashboard/src/locales/en.json
Due: none

Typo in readme.md
  README.md
Due: none

Typo in readme.md (#413)
  README.md
Due: none

refactor(dashboard): new grid for stats and widgets
  frontend/dashboard/package.json
  frontend/dashboard/src/components/dashboard/bot.vue
  frontend/dashboard/src/components/dashboard/card.vue
  frontend/dashboard/src/components/dashboard/chat.vue
  frontend/dashboard/src/components/dashboard/events.vue
  frontend/dashboard/src/components/dashboard/positions.ts
  frontend/dashboard/src/components/dashboard/stats.vue
  frontend/dashboard/src/components/dashboard/stream.vue
  frontend/dashboard/src/components/dashboard/widgets.ts
  frontend/dashboard/src/pages/Dashboard.vue
  pnpm-lock.yaml
Due: none

kruto
  frontend/dashboard/package.json
  frontend/dashboard/src/components/dashboard/card.vue
  frontend/dashboard/src/components/dashboard/stats.ts
  frontend/dashboard/src/components/dashboard/stats.vue
  frontend/dashboard/src/components/dashboard/statsChannelInfo.vue
  frontend/dashboard/src/pages/Dashboard.vue
  pnpm-lock.yaml
Due: none

upd
  frontend/dashboard/package.json
  frontend/dashboard/src/components/dashboard/stats.ts
  frontend/dashboard/src/components/dashboard/stats.vue
  frontend/dashboard/src/components/dashboard/statsChannelInfo.vue
  pnpm-lock.yaml
Due: none

refactor(dashboard): new grid for stats and widgets (#414)
  frontend/dashboard/package.json
  frontend/dashboard/src/components/dashboard/bot.vue
  frontend/dashboard/src/components/dashboard/card.vue
  frontend/dashboard/src/components/dashboard/chat.vue
  frontend/dashboard/src/components/dashboard/events.vue
  frontend/dashboard/src/components/dashboard/positions.ts
  frontend/dashboard/src/components/dashboard/stats.ts
  frontend/dashboard/src/components/dashboard/stats.vue
  frontend/dashboard/src/components/dashboard/statsChannelInfo.vue
  frontend/dashboard/src/components/dashboard/stream.vue
  frontend/dashboard/src/components/dashboard/widgets.ts
  frontend/dashboard/src/pages/Dashboard.vue
  pnpm-lock.yaml
Due: none

chore(dashboard): change default faults for stats
  frontend/dashboard/src/components/dashboard/stats.ts
Due: none

feat: add subs to dashboard stats
  apps/api/internal/impl_protected/dashboard/dashboard.go
  frontend/dashboard/src/components/dashboard/stats.ts
  frontend/dashboard/src/components/dashboard/stats.vue
  libs/grpc/protos/api/dashboard.proto
Due: publish-api

add RU localization (beta)
  frontend/dashboard/src/locales/ru.json
Due: none

feat(dashboard): add ru language (#415)
  frontend/dashboard/src/locales/ru.json
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
