Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

chore(dashboard): add pwa
  frontend/dashboard/index.html
  frontend/dashboard/package.json
  frontend/dashboard/public/TwirInCircle.svg
  frontend/dashboard/public/apple-touch-icon-180x180.png
  frontend/dashboard/public/favicon.ico
  frontend/dashboard/public/maskable-icon-512x512.png
  frontend/dashboard/public/pwa-192x192.png
  frontend/dashboard/public/pwa-512x512.png
  frontend/dashboard/public/pwa-64x64.png
  frontend/dashboard/pwa-assets.config.ts
  frontend/dashboard/src/layout/header.vue
  frontend/dashboard/vite.config.ts
  pnpm-lock.yaml
Due: none

fix(api): add missed scope for auth
  apps/api/internal/impl_unprotected/impl_unprotected.go
Due: publish-api

chore(scheduler): add error logging with query
  apps/scheduler/internal/timers/streams.go
Due: publish-scheduler

fix: use text type for game id on twitch
  libs/migrations/migrations/20230809083026_change_stream_game_id_type.sql
Due: none

kruto
  frontend/landing/package.json
  frontend/landing/src/assets/rating-star-filled.svg
  frontend/landing/src/assets/rating-star.svg
  frontend/landing/src/assets/social/github.svg
  frontend/landing/src/assets/social/instagram.svg
  frontend/landing/src/assets/social/telegram.svg
  frontend/landing/src/assets/social/twitch.svg
  frontend/landing/src/components/Profile.vue
  frontend/landing/src/components/index/Features.astro
  frontend/landing/src/components/index/Reviews.vue
  frontend/landing/src/components/index/Stats.astro
  frontend/landing/src/components/index/Team.astro
  frontend/landing/src/components/index/hero/Chat.astro
  frontend/landing/src/components/index/hero/Promote.astro
  frontend/landing/src/components/index/hero/heroStartButton.vue
  frontend/landing/src/layouts/Header.astro
  frontend/landing/src/pages/index.astro
  frontend/landing/src/stores/auth.ts
  pnpm-lock.yaml
Due: none

upd
  frontend/landing/src/components/index/Reviews.vue
Due: none

feat: do not reply if bot not moderator
  apps/api/internal/impl_protected/bot/bot.go
  apps/api/internal/twirp_handlers/protected_handler.go
  apps/bots/internal/bots/bots.go
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/handlers.go
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/user_state.go
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/bots/internal/handlers/user_update.go
  apps/bots/types/chat_client.go
  libs/grpc/protos/bots.proto
Due: publish-api, publish-bots

chore(bots): delete limiter on grpc join request
  apps/bots/internal/grpc_impl/grpc_impl.go
Due: publish-bots

chore(dashboard): correct bot manage translations
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
Due: none

upd
  frontend/landing/src/components/index/Reviews.vue
  frontend/landing/src/pages/index.astro
Due: none

update
  frontend/landing/src/assets/dialog-avatar.png
  frontend/landing/src/assets/dialog-avatar.svg
  frontend/landing/src/assets/integrations/donationalerts.svg
  frontend/landing/src/assets/integrations/vk.svg
  frontend/landing/src/assets/social/github.svg
  frontend/landing/src/assets/social/instagram.svg
  frontend/landing/src/assets/social/twitch.svg
  frontend/landing/src/components/index/Features.astro
  frontend/landing/src/components/index/Footer.astro
  frontend/landing/src/components/index/Integrations.astro
  frontend/landing/src/components/index/Reviews.vue
  frontend/landing/src/components/index/Stats.astro
  frontend/landing/src/components/index/Stats.vue
  frontend/landing/src/components/index/Team.astro
  frontend/landing/src/components/index/hero/Chat.astro
  frontend/landing/src/components/navLinks.ts
  frontend/landing/src/layouts/Header.astro
  frontend/landing/src/pages/index.astro
Due: none

upd
  frontend/landing/src/components/index/Stats.vue
  frontend/landing/src/layouts/Header.astro
  frontend/landing/src/pages/index.astro
Due: none

update
  frontend/landing/src/components/index/Stats.astro
  frontend/landing/src/components/index/Stats.vue
  frontend/landing/src/pages/index.astro
Due: none

upd
  frontend/landing/src/assets/social/discord.svg
  frontend/landing/src/components/index/Footer.astro
  frontend/landing/src/components/index/hero/Chat.astro
  frontend/landing/src/pages/index.astro
Due: none

upd
  frontend/landing/src/assets/features/commands.svg
  frontend/landing/src/components/index/Features.astro
Due: none

s
  frontend/landing/src/components/index/Features.astro
Due: none

upd
  frontend/landing/src/components/index/Hero.astro
  frontend/landing/src/components/index/Stats.astro
  frontend/landing/src/components/index/heroStartButton.vue
  frontend/landing/src/layouts/Header.astro
Due: none

chore(api): lowercase command on on create, update
  apps/api/internal/impl_protected/commands/commands.go
Due: publish-api

chore(api): lowercase command name on create
  apps/api/internal/impl_protected/commands/commands.go
Due: publish-api

fix: possible fix of timers
  apps/api/internal/impl_protected/timers/timers.go
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/timers/internal/handler/handler.go
  apps/timers/internal/scheduler/scheduler.go
Due: publish-api, publish-bots

chore(timers): migrate to go fx for DI
  apps/api/internal/impl_protected/timers/timers.go
  apps/timers/cmd/main.go
  apps/timers/go.mod
  apps/timers/go.sum
  apps/timers/internal/di/di.go
  apps/timers/internal/grpc_impl/grpc_impl.go
  apps/timers/internal/handler/handler.go
  apps/timers/internal/scheduler/scheduler.go
Due: publish-api

upd
  .env.example
  frontend/landing/astro.config.ts
  frontend/landing/src/assets/features/events.svg
  frontend/landing/src/assets/features/keywords.svg
  frontend/landing/src/assets/features/song-requests.svg
  frontend/landing/src/components/index/Features.astro
  frontend/landing/src/components/index/Footer.astro
  frontend/landing/src/components/index/Hero.astro
  frontend/landing/src/components/index/Reviews.vue
  frontend/landing/src/components/index/StatsList.vue
  frontend/landing/src/components/index/Team.astro
  frontend/landing/src/pages/a/feedback.ts
  frontend/landing/src/pages/index.astro
  libs/config/src/index.ts
Due: none

chore(landing): add circular to stats
  frontend/landing/src/components/index/StatsList.vue
Due: none

chore: update config lib
  libs/config/config.go
  libs/config/src/index.ts
Due: none

chore(dependencies): bump `protobuf-ts` deps in grpc
  frontend/landing/server.js
  libs/grpc/package.json
  pnpm-lock.yaml
Due: none

chore(docker): possible fix of landing
  Dockerfile
Due: none

feat(landing): store feedback limiter in redis
  frontend/landing/package.json
  frontend/landing/server.js
  frontend/landing/src/pages/a/feedback.ts
  pnpm-lock.yaml
Due: none

chore(dependencies): bump `protobuf-ts` in all packages
  frontend/dashboard/package.json
  frontend/overlays/package.json
  frontend/public-page/package.json
  pnpm-lock.yaml
Due: none

chore(landing): change production port
  frontend/landing/server.js
Due: none

fix(landing): use `0.0.0.0` host for server
  frontend/landing/server.js
Due: none

chore(landing): use `process.env` for envs
  frontend/landing/src/api/twirp.ts
  frontend/landing/src/components/index/StatsList.vue
  frontend/landing/src/pages/a/feedback.ts
  frontend/landing/src/pages/index.astro
Due: none

chore(stack): add pg bouncer
  .github/workflows/docker.yml
  docker-compose.stack.yml
  tools/pg-bouncer/Dockerfile
  tools/pg-bouncer/entrypoint.sh
Due: none

chore(actions): possible fix of build bg-bouncer
  .github/workflows/docker.yml
Due: none

chore(stack): remove pg-pool
  .github/workflows/docker.yml
  docker-compose.stack.yml
  tools/pg-bouncer/Dockerfile
  tools/pg-bouncer/entrypoint.sh
Due: none

refactor(landing): use astro ssr component for stats list
  frontend/landing/src/components/index/StatsList.astro
  frontend/landing/src/components/index/StatsList.vue
  frontend/landing/src/pages/index.astro
Due: none

chor(traefik): add cloudflarewarp middleware
  traefik/docker-compose.yaml
Due: none
