Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chor(traefik): add cloudflarewarp middleware
  docker-compose.stack.yml
  traefik/docker-compose.yaml
Due: none

chore(dashboard): change satont avatar
  frontend/landing/src/components/index/Team.astro
Due: none

fix(landing): fix mobile version extra padding
  frontend/landing/src/components/index/Team.astro
  frontend/landing/src/layouts/Layout.astro
Due: none

fix(timers): correctly add timers to queue
  apps/timers/cmd/main.go
  apps/timers/internal/grpc_impl/grpc_impl.go
  apps/timers/internal/scheduler/scheduler.go
Due: none

fix(timers): correctly add timers to queue
  apps/timers/cmd/main.go
  apps/timers/go.mod
  apps/timers/go.sum
  apps/timers/internal/grpc_impl/grpc_impl.go
  apps/timers/internal/scheduler/scheduler.go
  apps/timers/internal/types/timer.go
Due: none

chore(bots): add logs on announce error
  apps/bots/internal/grpc_impl/grpc_impl.go
Due: publish-bots

chore(bots): add channel id to logs of announce error
  apps/bots/internal/grpc_impl/grpc_impl.go
Due: publish-bots

chore(scheduler): simplify timers time unit
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/timers/internal/scheduler/scheduler.go
Due: publish-bots

fix(timers): correctly change indexes of responses
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/timers/internal/handler/handler.go
  apps/timers/internal/scheduler/scheduler.go
  apps/timers/internal/types/timer.go
Due: publish-bots

chore(timers): remove redundant logging
  apps/timers/internal/handler/handler.go
Due: none

chore: fix `postbuild` script
  libs/grpc/package.json
Due: none

chore: write log package
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/timers/cmd/main.go
  apps/timers/internal/grpc_impl/grpc_impl.go
  apps/timers/internal/handler/handler.go
  apps/timers/internal/scheduler/scheduler.go
  libs/logger/go.mod
  libs/logger/logger.go
  libs/migrations/seeds/defaultBot.go
  libs/migrations/seeds/integrations.go
Due: publish-bots

chore: add logger to `go.work`
  go.work
Due: none

refactor(timers): make code cleanly, use fx di
  apps/timers/Dockerfile
  apps/timers/cmd/main.go
  apps/timers/go.mod
  apps/timers/go.sum
  apps/timers/internal/gorm/gorm.go
  apps/timers/internal/grpc_impl/grpc_impl.go
  apps/timers/internal/grpc_server/grpc_server.go
  apps/timers/internal/handler/handler.go
  apps/timers/internal/queue/handler.go
  apps/timers/internal/queue/queue.go
  apps/timers/internal/queue/queue_add.go
  apps/timers/internal/queue/queue_remove.go
  apps/timers/internal/repositories/channels/gorm.go
  apps/timers/internal/repositories/channels/repository.go
  apps/timers/internal/repositories/streams/gorm.go
  apps/timers/internal/repositories/streams/repository.go
  apps/timers/internal/repositories/timers/gorm.go
  apps/timers/internal/repositories/timers/repository.go
  apps/timers/internal/scheduler/scheduler.go
  apps/timers/internal/types/timer.go
  go.work
  go.work.sum
  libs/config/config.go
  libs/logger/logger.go
  package.json
  tools/dev.go
Due: none

fix(timers): remove duplicated double call of `queue.New`
  apps/timers/cmd/main.go
Due: none

chore(migrations): add missed `createdAt` column for `channels_commands_usages`
  libs/migrations/migrations/20230817010348_commands_add_created_at.sql
Due: none

feat(migrations): add indexes on `channels_emotes_usages` ("channelId", "userId") fields
  libs/migrations/migrations/20230817012053_add_channels_emotes_usages_index.sql
Due: none

feat(landing): add used emotes count in stats
  apps/api/internal/impl_unprotected/stats/stats.go
  frontend/landing/src/components/index/StatsList.astro
  libs/grpc/protos/api/stats.proto
Due: publish-api

fix(landing): add favicon
  frontend/landing/public/favicon.svg
Due: none

chore(api): use utils.syncmap for store values in stats
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/impl_unprotected/stats/stats.go
  go.work
  libs/utils/go.mod
  libs/utils/map.go
Due: publish-api

chore: add goroutines group to utils
  apps/api/internal/impl_unprotected/stats/stats.go
  libs/utils/gorutines.go
Due: publish-api

chore(landing): add space to redemption example in hero
  frontend/landing/src/components/index/Hero.astro
Due: none

chore(stack): add latest tag to images
  docker-compose.stack.yml
Due: none

chore(landing): use docker addr for requests to api on backend
  frontend/landing/src/api/twirp.ts
  frontend/landing/src/components/index/StatsList.astro
Due: none

chore(landing): fix api addr in docker
  frontend/landing/src/api/twirp.ts
Due: none

chore(landing): log error in stats component
  frontend/landing/src/components/index/StatsList.astro
Due: none

chore(timers): replace debug with info
  apps/timers/internal/queue/handler.go
  apps/timers/internal/repositories/channels/gorm.go
  apps/timers/internal/repositories/channels/repository.go
Due: none

chore(timers): more logging
  apps/timers/internal/queue/handler.go
  apps/timers/internal/repositories/timers/gorm.go
  apps/timers/internal/repositories/timers/repository.go
Due: none

chore(bots): return error in case announce failed
  apps/bots/internal/grpc_impl/grpc_impl.go
Due: publish-bots

fix(bots): export bot grpc service
  apps/bots/internal/grpc_impl/grpc_impl.go
Due: publish-bots

chore: add ability to skip rate limits on bot send
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/timers/internal/queue/handler.go
  libs/grpc/protos/bots.proto
Due: publish-bots

chore: add limit on timers count
  apps/api/internal/impl_protected/timers/timers.go
  frontend/dashboard/src/i18n.ts
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/pages/Timers.vue
Due: publish-api

refactor(bots): refactor bots to fx
  apps/api/cmd/main.go
  apps/bots/cmd/main.go
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/bots/bots.go
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/connect.go
  apps/bots/internal/bots/handlers/handlers.go
  apps/bots/internal/bots/handlers/message_greetings.go
  apps/bots/internal/bots/handlers/message_moderation.go
  apps/bots/internal/bots/handlers/message_tts.go
  apps/bots/internal/bots/handlers/self_join.go
  apps/bots/internal/bots/handlers/user_state.go
  apps/bots/internal/di/di.go
  apps/bots/internal/gorm/gorm.go
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/bots/internal/handlers/streams_online.go
  apps/bots/internal/pubsub_handlers/pubsub_handlers.go
  apps/bots/internal/pubsub_handlers/streams_offline.go
  apps/bots/internal/pubsub_handlers/streams_online.go
  apps/bots/internal/pubsub_handlers/user_update.go
  apps/events/cmd/main.go
  apps/eventsub/cmd/main.go
  apps/parser/cmd/main.go
  apps/scheduler/cmd/main.go
  apps/timers/internal/queue/handler.go
  apps/tokens/cmd/main.go
  apps/watched/cmd/main.go
  apps/websockets/cmd/main.go
  docker-compose.stack.yml
  frontend/landing/src/api/twirp.ts
  libs/logger/logger.go
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

upd
  frontend/landing/astro.config.ts
  frontend/landing/src/assets/cube.svg
  frontend/landing/src/assets/integrations/donationalerts.svg
  frontend/landing/src/assets/integrations/faceit.svg
  frontend/landing/src/assets/integrations/lastfm.svg
  frontend/landing/src/assets/integrations/obs.svg
  frontend/landing/src/assets/integrations/spotify.svg
  frontend/landing/src/assets/integrations/streamelements.svg
  frontend/landing/src/assets/integrations/streamlabs.svg
  frontend/landing/src/assets/integrations/twitch.svg
  frontend/landing/src/assets/integrations/vk.svg
  frontend/landing/src/components/index/Integrations.astro
Due: none

Update twirp.ts
  frontend/landing/src/api/twirp.ts
Due: none

chore(landing): improve integraions section (#420)
  frontend/landing/astro.config.ts
  frontend/landing/src/assets/cube.svg
  frontend/landing/src/assets/integrations/donationalerts.svg
  frontend/landing/src/assets/integrations/faceit.svg
  frontend/landing/src/assets/integrations/lastfm.svg
  frontend/landing/src/assets/integrations/obs.svg
  frontend/landing/src/assets/integrations/spotify.svg
  frontend/landing/src/assets/integrations/streamelements.svg
  frontend/landing/src/assets/integrations/streamlabs.svg
  frontend/landing/src/assets/integrations/twitch.svg
  frontend/landing/src/assets/integrations/vk.svg
  frontend/landing/src/components/index/Integrations.astro
Due: none

chore(bots): cover all with logs
  .editorconfig
  apps/bots/Dockerfile
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/bots/handlers/increment_parsed_messages.go
  apps/bots/internal/bots/handlers/increment_user_messages.go
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/message_command.go
  apps/bots/internal/bots/handlers/message_emotes.go
  apps/bots/internal/bots/handlers/message_greetings.go
  apps/bots/internal/bots/handlers/message_keywods.go
  apps/bots/internal/bots/handlers/message_tts.go
  apps/bots/internal/bots/handlers/messages/increment_parsed_messages.go
  apps/bots/internal/bots/handlers/messages/remove_lurker.go
  apps/bots/internal/bots/handlers/notice.go
  apps/bots/internal/bots/handlers/remove_lurker.go
  apps/bots/internal/bots/handlers/store_message.go
  apps/bots/internal/bots/handlers/user_join.go
  apps/bots/internal/bots/handlers/user_state.go
  apps/bots/internal/bots/handlers/validate_response.go
  libs/logger/logger.go
Due: publish-bots

chore(logger): fix attrs
  libs/logger/logger.go
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
