Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(ytsr): do not panic when search fails
  apps/api/internal/api/v1/modules/youtube_sr/service.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
  libs/ytsr/util.go
  libs/ytsr/youtube.go
Due: publish-api, publish-parser

feat(websockets): add ability to skip multiple ids
  apps/websockets/src/namespaces/youtube.ts
Due: none

upd Chatting
  apps/dashboard/components/song-requests/hook.ts
  apps/dashboard/components/song-requests/player/duration-slider.tsx
  apps/dashboard/components/song-requests/player/youtube-player.tsx
  apps/dashboard/components/song-requests/queue/queue-list.tsx
  apps/dashboard/styles/draggable.ts
Due: none

chore: remove promises from youtube player api
  Dockerfile
  package.json
  patches/@types__youtube-player@5.5.6.patch
  pnpm-lock.yaml
Due: none

chore(dashboard): remove redutant file
  apps/dashboard/components/dashboard/service-manage.tsx
Due: none

fix(dockerfile): add patches to all node dependencies
  Dockerfile
Due: none

fix: use frozen lockfile in docker
  .dockerignore
  Dockerfile
Due: none

fix(patches): correct patch of lib
  patches/@types__youtube-player@5.5.6.patch
  pnpm-lock.yaml
Due: none

upd rageywide
  apps/dashboard/components/song-requests/helpers.ts
  apps/dashboard/components/song-requests/hook.ts
  apps/dashboard/components/song-requests/player/player-sliders.tsx
  apps/dashboard/components/song-requests/player/youtube-player.tsx
Due: none

chore(ytsr): remove redundant log
  libs/ytsr/parsers.go
Due: none

refactor(dashboard/songrequests): queue list and player improvements (#295)
  apps/dashboard/components/confirmDelete.tsx
  apps/dashboard/components/song-requests/context.ts
  apps/dashboard/components/song-requests/helpers.ts
  apps/dashboard/components/song-requests/hook.ts
  apps/dashboard/components/song-requests/player/player-sliders.tsx
  apps/dashboard/components/song-requests/player/slider.tsx
  apps/dashboard/components/song-requests/player/youtube-player.tsx
  apps/dashboard/components/song-requests/queue/queue-list.tsx
  apps/dashboard/pages/song-requests/player.tsx
  apps/dashboard/styles/draggable.ts
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

upd Chatting
  apps/dashboard/components/song-requests/player/player-sliders.tsx
Due: none

upd Chatting
  apps/dashboard/components/confirmDelete.tsx
  apps/dashboard/components/song-requests/context.ts
  apps/dashboard/components/song-requests/queue/queue-list.tsx
  apps/dashboard/pages/song-requests/player.tsx
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-parser

fix(bots): first create user then process commands and other stuff
  apps/bots/internal/bots/handlers/message.go
Due: publish-bots

fix(api): return true in botInfo if self-bot account used
  apps/api/internal/api/v1/bot/service.go
Due: publish-api

fix(dockerfile): rename stage `web` to `landing`
  Dockerfile
Due: none

chore: remove prisma script from `package.json`
  package.json
Due: none

chore: remove start scripts from root `package.json`
  Dockerfile
  package.json
Due: none

fix(dockerfile): use correct `copy from` for landing
  Dockerfile
Due: none

fix(dockerfile): add missed copy frontend dir in `base` image
  Dockerfile
Due: none

fix(parser): correct if statement in custom variable
  apps/parser/internal/commands/commands.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/parser/internal/variables/customvar/customvar.go
  apps/parser/internal/variablescache/variablescache.go
Due: publish-parser

feat(dashboard): change width for variable script for more comfort edit
  frontend/dashboard/components/variables/drawer.tsx
Due: none

fix(dockerfile): correct filter for start commands
  Dockerfile
Due: none

fix: correct name for landing package name
  frontend/landing/package.json
Due: none

fix(dashboard): close sidebar after navigate from link to mobile devices
  frontend/dashboard/components/layout/sidebar.tsx
  pnpm-lock.yaml
Due: none

upd RAGEYWIDE
  frontend/landing/vite.config.ts
  frontend/public/components/layout/sidebar.tsx
  frontend/public/next-env.d.ts
  frontend/public/next.config.js
  frontend/public/package.json
  frontend/public/pages/[channelName]/commands.tsx
  frontend/public/pages/[channelName]/song-requests.tsx
  frontend/public/pages/_app.tsx
  frontend/public/pages/_document.tsx
  frontend/public/services/queryClient.ts
  frontend/public/tsconfig.json
  pnpm-lock.yaml
Due: none

upd RAGEYWIDE
  frontend/public/.gitignore
Due: none

feat(dashboard/songrequests): make songrequests queue list full page height
  frontend/dashboard/components/appProvider.tsx
  frontend/dashboard/components/song-requests/player/youtube-player.tsx
  frontend/dashboard/components/song-requests/queue/index.ts
  frontend/dashboard/components/song-requests/queue/queue-list.tsx
  frontend/dashboard/pages/song-requests/player.tsx
Due: none

feat(dashboard): use localstorage for yt player visibility
  frontend/dashboard/components/song-requests/player/youtube-player.tsx
Due: none

upd RAGEYWIDE
  apps/api/cmd/main.go
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/v1/twitch/users/controller.go
  apps/api/internal/api/v1/v1.go
  frontend/landing/vite.config.ts
  frontend/public/components/layout/sidebar.tsx
  frontend/public/pages/_document.tsx
  frontend/public/public/TsuwariInCircle.svg
  frontend/public/services/users.ts
Due: publish-api

upd RAGEYWIDE
  apps/api/internal/api/v1/public/commands/controller.go
  apps/api/internal/api/v1/public/commands/service.go
  apps/api/internal/api/v1/v1.go
  frontend/public/components/layout/sidebar.tsx
  frontend/public/pages/[channelName]/commands.tsx
Due: publish-api

upd RAGEYWIDE
  apps/api/internal/api/v1/public/song_requests/controller.go
  apps/api/internal/api/v1/public/song_requests/service.go
  apps/api/internal/api/v1/v1.go
  frontend/public/pages/[channelName]/song-requests.tsx
Due: publish-api

upd RAGEYWIDE
  .github/workflows/docker.yml
  Dockerfile
  caddyfile.example
  docker-compose.stack.yml
Due: none

upd RAGEYWIDE
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/songrequest/youtube/list.go
  libs/config/config.go
Due: publish-parser

upd RAGEYWIDE
  pnpm-lock.yaml
Due: none

feat: add public page (#299)
  .github/workflows/docker.yml
  Dockerfile
  apps/api/cmd/main.go
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/v1/public/commands/controller.go
  apps/api/internal/api/v1/public/commands/service.go
  apps/api/internal/api/v1/public/song_requests/controller.go
  apps/api/internal/api/v1/public/song_requests/service.go
  apps/api/internal/api/v1/twitch/users/controller.go
  apps/api/internal/api/v1/v1.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/songrequest/youtube/list.go
  caddyfile.example
  docker-compose.stack.yml
  frontend/landing/vite.config.ts
  frontend/public/.gitignore
  frontend/public/components/layout/sidebar.tsx
  frontend/public/next-env.d.ts
  frontend/public/next.config.js
  frontend/public/package.json
  frontend/public/pages/[channelName]/commands.tsx
  frontend/public/pages/[channelName]/song-requests.tsx
  frontend/public/pages/_app.tsx
  frontend/public/pages/_document.tsx
  frontend/public/public/TsuwariInCircle.svg
  frontend/public/services/queryClient.ts
  frontend/public/services/users.ts
  frontend/public/tsconfig.json
  libs/config/config.go
  pnpm-lock.yaml
Due: publish-api, publish-parser

chore: maintain lockfile
  pnpm-lock.yaml
Due: none

fix(dashboard/websockets): correctly change order of songs
  apps/websockets/src/namespaces/youtube.ts
  frontend/dashboard/pages/song-requests/player.tsx
Due: none
