Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

feat(dashboard): improve new command modal
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/textWithVariables.vue
Due: none

feat(dashboard): improve new command modal (#632)
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/textWithVariables.vue
Due: none

fix(events): use correct id for moderator id in ban actions
  apps/events/internal/activities/events/ban_unban.go
Due: none

chore(bots): add logging on message send
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/twitchactions/sendmessage.go
Due: publish-bots

chore(bots): check banned on message send
  apps/bots/internal/twitchactions/sendmessage.go
Due: publish-bots

chore(bots): move logging about sending message
  apps/bots/internal/twitchactions/sendmessage.go
Due: publish-bots

chore: copy dashboard locales to root
  locales/dashboard/en.json
  locales/dashboard/ja.json
  locales/dashboard/ru.json
  locales/dashboard/uk.json
Due: none

Update Crowdin configuration file
  crowdin.yml
Due: none

chore: remove dashboard locales from root
  locales/dashboard/en.json
  locales/dashboard/ja.json
  locales/dashboard/ru.json
  locales/dashboard/uk.json
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

fix(cli): correct env variables for build go applications
  cli/internal/goapp/goapp.go
Due: none

fix(cli): revert env variables append
  cli/internal/goapp/goapp.go
Due: none

feat(dashboard): improve `ux` of command edit modal
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/ui/tags-input/TagsInput.vue
  frontend/dashboard/src/components/ui/tags-input/TagsInputInput.vue
  frontend/dashboard/src/components/ui/tags-input/TagsInputItem.vue
  frontend/dashboard/src/components/ui/tags-input/TagsInputItemDelete.vue
  frontend/dashboard/src/components/ui/tags-input/TagsInputItemText.vue
  frontend/dashboard/src/components/ui/tags-input/index.ts
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

fix(events): use broadcaster client for get channel mods
  apps/events/internal/activities/events/ban_unban.go
  apps/events/internal/activities/events/helpers.go
Due: none

feat(parser): add sender display name
  apps/parser/internal/variables/sender/sender-display-name.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

fix: use twitch gql endpoint for search categoris on category set via command/event operation
  apps/api/go.mod
  apps/bots/go.mod
  apps/discord/go.mod
  apps/discord/go.sum
  apps/emotes-cacher/go.mod
  apps/events/go.mod
  apps/events/go.sum
  apps/events/internal/activities/events/change_stream_info.go
  apps/eventsub/go.mod
  apps/parser/go.mod
  apps/parser/internal/commands/channel/game/game.go
  apps/parser/internal/commands/commands.go
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/tokens/go.mod
  apps/websockets/go.mod
  apps/ytsr/go.mod
  libs/twitch/go.mod
  libs/twitch/go.sum
  libs/twitch/unsupported.go
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

chore: delete old base docker file
  base.Dockerfile
Due: none

fix(parser): wrong `sender.displayName` variable name
  apps/parser/internal/variables/sender/sender-display-name.go
Due: publish-parser

fix(overlays): correctly set dude color on userSettings
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
Due: none

fix(overlays): correctly set dude color on userSettings
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
Due: none

fix(cli): russians have no access to buf ))
  cli/go.mod
  cli/go.sum
  cli/tools/tools.go
  go.work.sum
Due: none

fix(dashboard): dude settings
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
Due: none

fix(cli): `buf` version
  cli/internal/cmds/dependencies/binaries/gobinaries.go
Due: none
