Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore(bots): add some logs
  apps/bots/internal/messagehandler/handle_commands.go
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

chore(bots): add some logs
  apps/bots/internal/messagehandler/handle_commands.go
Due: publish-bots

chore(bots): add some logs
  apps/bots/internal/grpc/grpc.go
  apps/bots/internal/messagehandler/handle_commands.go
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

chore(bots): add some logs
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

fix: do not cache 7tv profiles
  libs/integrations/seventv/profile.go
Due: none

add id
  apps/api/internal/impl_protected/overlays/dudes.go
  libs/api/messages/overlays_dudes/overlays_dudes.proto
Due: publish-api

add id
  apps/websockets/internal/grpc_impl/impl.go
Due: none

chore(bots): remove pond from deps
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/messagehandler/handle_commands.go
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

chore: tune postgres config for server
  configs/postgres.conf
Due: none

chore(stack): add test pgpool
  docker-compose.dev.yml
  docker-compose.stack.yml
Due: none

chore(stack): fix envs for pgpool
  docker-compose.stack.yml
Due: none

fix(bots): remove pool usage from greetings
  apps/bots/internal/messagehandler/handle_greetings.go
Due: publish-bots

chore: change default server in adminer for dev
  docker-compose.dev.yml
Due: none

chore: change max cons for docker
  configs/postgres.conf
Due: none

chore(cli): add stdout and stderr into golang build
  cli/internal/cmds/dev/golang/app.go
Due: none

uuh
  apps/api/internal/impl_protected/overlays/dudes.go
  apps/websockets/internal/namespaces/overlays/dudes/settings.go
  frontend/dashboard/src/api/overlays/dudes.ts
  frontend/dashboard/src/api/overlays/index.ts
  frontend/dashboard/src/components/overlays/dudes.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.ts
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.vue
  frontend/dashboard/src/pages/overlays/dudes/use-dudes-form.ts
  frontend/dashboard/src/pages/overlays/dudes/use-dudes-frame.ts
  frontend/dashboard/src/pages/overlays/styles.css
  frontend/dashboard/src/plugins/router.ts
  frontend/overlays/src/composables/dudes/use-dudes-settings.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  frontend/overlays/src/types.ts
Due: publish-api

refactor: use protobuf for sockets
  apps/websockets/internal/namespaces/overlays/be_right_back/settings.go
  apps/websockets/internal/namespaces/overlays/chat/chat.go
  apps/websockets/internal/namespaces/overlays/chat/settings.go
  apps/websockets/internal/namespaces/overlays/kappagen/kappagen.go
  apps/websockets/internal/namespaces/overlays/kappagen/settings.go
  frontend/overlays/src/composables/chat/use-chat-overlay-socket.ts
Due: none

uuh
  apps/websockets/internal/namespaces/overlays/chat/settings.go
Due: none

uuh
  apps/websockets/internal/namespaces/overlays/be_right_back/settings.go
  apps/websockets/internal/namespaces/overlays/chat/settings.go
  apps/websockets/internal/namespaces/overlays/kappagen/settings.go
  apps/websockets/internal/protoutils/protobuf_to_map.go
Due: none

uuh
  apps/websockets/internal/namespaces/overlays/chat/settings.go
  apps/websockets/internal/protoutils/protobuf_to_map.go
  frontend/overlays/src/composables/chat/use-chat-overlay-socket.ts
Due: none

uuh
  frontend/overlays/src/composables/chat/use-chat-overlay-socket.ts
Due: none

refactor: use protobuf messages for sockets (#592)
  apps/websockets/internal/namespaces/overlays/be_right_back/settings.go
  apps/websockets/internal/namespaces/overlays/chat/chat.go
  apps/websockets/internal/namespaces/overlays/chat/settings.go
  apps/websockets/internal/namespaces/overlays/kappagen/kappagen.go
  apps/websockets/internal/namespaces/overlays/kappagen/settings.go
  apps/websockets/internal/protoutils/protobuf_to_map.go
  frontend/overlays/src/composables/chat/use-chat-overlay-socket.ts
Due: none

fix(websockets): add missed twitch lib replace
  apps/websockets/go.mod
  apps/websockets/go.sum
Due: none

fix(websockets): add missed api build to dockerfile
  apps/websockets/Dockerfile
Due: none

chore: adjust max postgres cons
  configs/postgres.conf
Due: none

fix(eventsub): correct error handling in redemptions handler
  apps/eventsub/internal/handler/redemption.go
Due: publish-eventsub

fix(eventsub): do not fetch 7tv profile when not needed on redemption
  apps/eventsub/internal/handler/redemption_seventv.go
Due: publish-eventsub

chore: create var with default options for grpc clients
  libs/grpc/clients/bots.go
  libs/grpc/clients/discord.go
  libs/grpc/clients/dota.go
  libs/grpc/clients/emotes_cacher.go
  libs/grpc/clients/eval.go
  libs/grpc/clients/events.go
  libs/grpc/clients/eventsub.go
  libs/grpc/clients/helper.go
  libs/grpc/clients/integrations.go
  libs/grpc/clients/parser.go
  libs/grpc/clients/scheduler.go
  libs/grpc/clients/timers.go
  libs/grpc/clients/tokens.go
  libs/grpc/clients/websockets.go
  libs/grpc/clients/ytsr.go
Due: none

fix(events): correctly use target
  apps/events/internal/activities/events/commands.go
  apps/events/internal/activities/events/obs.go
  apps/events/internal/activities/events/variables.go
  frontend/overlays/src/pages/obs.vue
Due: none

chore: set gorm connections limits
  apps/api/app/app.go
  apps/bots/internal/gorm/gorm.go
  apps/discord/internal/gorm/gorm.go
  apps/emotes-cacher/app/app.go
  apps/events/internal/gorm/gorm.go
  apps/eventsub/app/app.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  apps/scheduler/internal/gorm/gorm.go
  apps/timers/internal/gorm/gorm.go
  apps/tokens/internal/gorm/gorm.go
  apps/websockets/internal/gorm/gorm.go
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

chore(bots): use app access token for sending messages
  apps/bots/internal/twitchactions/sendmessage.go
Due: publish-bots

refactor: use oauth2 for valorant integration
  apps/api/internal/impl_protected/integrations/valorant.go
  frontend/dashboard/src/api/integrations/index.ts
  frontend/dashboard/src/api/integrations/oauth.ts
  frontend/dashboard/src/api/integrations/valorant.ts
  frontend/dashboard/src/components/integrations/valorant.vue
  frontend/dashboard/src/pages/IntegrationsCallback.vue
  libs/api/api.proto
  libs/api/messages/integrations_valorant/integrations_valorant.proto
Due: publish-api

rageywide
  frontend/dashboard/package.json
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.ts
  frontend/dashboard/src/pages/overlays/dudes/use-dudes-form.ts
  frontend/overlays/src/composables/dudes/use-dudes-settings.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  frontend/overlays/src/types.ts
  libs/api/messages/overlays_dudes/overlays_dudes.proto
  libs/fontsource/src/components/font-selector.vue
  libs/gomodels/channels_overlays_dudes.go
  libs/migrations/migrations/20240131021432_change_dudes_property_types.sql
  pnpm-lock.yaml
Due: none

chore(songrequest): use rewards-selector component
  frontend/dashboard/src/components/rewardsSelector.vue
  frontend/dashboard/src/components/songRequests/settings.vue
Due: none

fix(bots): use bot access token for announcements
  apps/bots/internal/twitchactions/sendmessage.go
Due: publish-bots

feat(bots): parse emote positions
  apps/bots/internal/messagehandler/handle_commands.go
Due: publish-bots

chore(overlays): check on value of emotes in kappagen-builder
  frontend/overlays/src/composables/kappagen/use-kappagen-builder.ts
Due: none

fix(bots): use correct sql query for alert triggering on keyword
  apps/bots/internal/messagehandler/handle_keywords.go
Due: publish-bots

Kruto
  apps/api/internal/impl_protected/overlays/be_right_back.go
  apps/api/internal/impl_protected/overlays/chat.go
  apps/api/internal/impl_protected/overlays/custom_overlays.go
  apps/api/internal/impl_protected/overlays/dudes.go
  apps/api/internal/impl_protected/overlays/kappagen.go
  apps/websockets/internal/grpc_impl/be_right_back.go
  apps/websockets/internal/grpc_impl/chat.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/grpc_impl/kappagen.go
  apps/websockets/internal/grpc_impl/overlays.go
  apps/websockets/internal/namespaces/overlays/dudes/settings.go
  frontend/dashboard/src/components/overlays/dudes.vue
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
  frontend/overlays/src/composables/dudes/use-dudes-settings.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  libs/gomodels/channels_overlays_dudes.go
  libs/grpc/websockets/websockets.proto
  libs/migrations/migrations/20240131022731_dudes_add_created_at.sql
Due: publish-api

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
