Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations 7tv.yaml (Slovak)
  apps/apps/parser/locales/en/commands/locales/sk/7tv.yaml
Due: none

chore: update nuxt, oxlint, oxfmt
  bun.lock
  package.json
  web/package.json
Due: none

feat: add webhook http post into events
  apps/api-gql/internal/delivery/gql/schema/events.graphql
  apps/api-gql/internal/entity/event.go
  apps/events/internal/activities/events/events.go
  apps/events/internal/activities/events/webhook.go
  apps/events/internal/shared/event_data.go
  apps/events/internal/workers/worker.go
  apps/events/internal/workflows/events_flow.go
  frontend/dashboard/src/features/events/components/operation.vue
  frontend/dashboard/src/features/events/constants/operations.ts
  frontend/dashboard/src/features/events/event-form-schema.ts
  frontend/dashboard/src/locales/de.json
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/es.json
  frontend/dashboard/src/locales/pt.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/sk.json
  frontend/dashboard/src/locales/uk.json
  libs/migrations/postgres/20260314000000_add_send_http_request_event_operation.sql
  libs/repositories/events/model/model.go
Due: none

New translations en.json (Spanish)
  frontend/dashboard/src/locales/es.json
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

chore(parser): fix valorant locale
  apps/parser/locales/en/variables/valorant.yaml
  apps/parser/locales/locales.go
Due: publish-parser

New translations valorant.yaml (Spanish)
  apps/apps/parser/locales/en/variables/locales/es/valorant.yaml
Due: none

New translations valorant.yaml (German)
  apps/apps/parser/locales/en/variables/locales/de/valorant.yaml
Due: none

New translations valorant.yaml (Russian)
  apps/apps/parser/locales/en/variables/locales/ru/valorant.yaml
Due: none

New translations valorant.yaml (Slovak)
  apps/apps/parser/locales/en/variables/locales/sk/valorant.yaml
Due: none

New translations valorant.yaml (Ukrainian)
  apps/apps/parser/locales/en/variables/locales/uk/valorant.yaml
Due: none

New translations valorant.yaml (Portuguese, Brazilian)
  apps/apps/parser/locales/en/variables/locales/pt/valorant.yaml
Due: none

New translations valorant.yaml (English)
  apps/apps/parser/locales/en/variables/locales/en/valorant.yaml
Due: none

feat(parser): in matches trend use only stream matches
  apps/parser/internal/types/valorant_api.go
  apps/parser/internal/variables/valorant/matches.go
  frontend/dashboard/src/components/text-with-variables.vue
  frontend/dashboard/src/features/commands/ui/list.vue
Due: publish-parser

chore(parser): add missed simple matches variable of valorant to slice
  apps/parser/internal/variables/variables.go
Due: publish-parser

feat(parser): check matches via after(), not before()
  apps/parser/internal/variables/valorant/matches.go
Due: publish-parser

Update source file valorant.yaml
  apps/parser/locales/en/variables/valorant.yaml
Due: publish-parser

feat(dashboard): improve variable rendering with word breaks and formatting updates
  frontend/dashboard/src/components/text-with-variables.vue
  frontend/dashboard/src/features/commands/ui/list.vue
Due: none

feat(apps): update gorm model, replace websockets with bus API
  .idea/dataSources.local.xml
  apps/events/internal/activities/events/tts.go
  apps/eventsub/app/app.go
  apps/scheduler/internal/services/commands.go
Due: publish-eventsub, publish-scheduler

fix(parser): correct twitch search category query
  libs/twitch/unsupported.go
Due: none

chore(scheduler): use pq array
  apps/scheduler/internal/services/commands.go
Due: publish-scheduler

fix(dashboard): correct cooldowns field validation
  .idea/dataSources.local.xml
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
Due: none

fix(overlays): respect disabled emotes setting in dudes
  frontend/overlays/src/composables/dudes/use-dudes.ts
Due: none

chore(parser): describe why 7tv emote not found on add
  apps/parser/internal/commands/7tv/emote_add.go
Due: publish-parser

feat(apps): add granular online/offline GitHub webhook notification settings
  apps/api-gql/internal/delivery/gql/mappers/webhook-notifications.go
  apps/api-gql/internal/delivery/gql/resolvers/module-webhook-notifications.resolver.go
  apps/api-gql/internal/delivery/gql/schema/module-webhook-notifications.graphql
  apps/api-gql/internal/services/webhook_notifications/webhook_notifications.go
  frontend/dashboard/src/api/webhook-notifications.ts
  frontend/dashboard/src/features/modules/composables/use-webhook-notifications.ts
  frontend/dashboard/src/features/modules/ui/module-webhook-notifications.vue
  frontend/dashboard/src/locales/en.json
  libs/entities/webhook_notifications/entity.go
  libs/migrations/postgres/20260317061942_add_webhook_github_online_offline.sql
  libs/repositories/channels_modules_webhooks/model.go
  libs/repositories/channels_modules_webhooks/pgx/pgx.go
  libs/repositories/channels_modules_webhooks/repository.go
Due: none

fix(dashboard): update Switch bindings in webhook notifications UI
  frontend/dashboard/src/features/modules/ui/module-webhook-notifications.vue
Due: none

fix(dashboard): update form bindings and cleanup naming in webhook notifications UI
  frontend/dashboard/src/features/modules/ui/module-webhook-notifications.vue
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
