Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore(api-gql): change operation-ids for short url
  apps/api-gql/internal/delivery/http/routes/shortlinks/shortlinks.go
  libs/api/codegen-api.ts
  libs/api/openapi.ts
Due: none

chore(cli): add block flag to proxy.go
  Caddyfile.dev
  cli/internal/cmds/dev/dev.go
  cli/internal/cmds/proxy/proxy.go
Due: none

feat(api-gql): add admin chat logs
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
  apps/api-gql/internal/delivery/gql/schema/chat-messages.graphqls
  apps/api-gql/internal/services/chat_messages/chat_messages.go
  frontend/dashboard/src/api/admin/chat-messages.ts
  frontend/dashboard/src/features/admin-panel/chat-mesages/chat-messages.vue
  frontend/dashboard/src/pages/admin-panel.vue
Due: none

chore(dashboard): add channel name to chat logs
  apps/api-gql/internal/delivery/gql/mappers/chat_messages.go
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
  apps/api-gql/internal/delivery/gql/schema/chat-messages.graphqls
  apps/api-gql/internal/entity/chat_message.go
  apps/api-gql/internal/services/chat_messages/chat_messages.go
  frontend/dashboard/src/api/admin/chat-messages.ts
  frontend/dashboard/src/api/chat-messages.ts
  frontend/dashboard/src/features/admin-panel/chat-mesages/chat-messages.vue
  frontend/dashboard/src/features/community-chat-messages/ui/message.vue
Due: none

chore(dashboard): use table for vips commands list
  frontend/dashboard/src/features/commands/ui/list.vue
  frontend/dashboard/src/features/expiring-vips/expiring-vips.vue
Due: none

chore(dashboard): remove bg-red from vips commands list
  frontend/dashboard/src/features/expiring-vips/expiring-vips.vue
Due: none

feat(dashboard): use commands list instead of buttons for chat wall
  frontend/dashboard/src/features/moderation/ui/chat-wall-settings.vue
Due: none

fix(dashboard): correct commands filter in chatWallCommands
  frontend/dashboard/src/features/moderation/ui/chat-wall-settings.vue
Due: none

feat(giveaways): infrastructure
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/giveaways/giveaways.go
  libs/cache/giveaways/giveaways.go
  libs/migrations/migrations/20250415104137_channels_giveaways.sql
  libs/migrations/migrations/20250416090244_giveaways_archivation.sql
  libs/repositories/giveaways/errors.go
  libs/repositories/giveaways/giveaways.go
  libs/repositories/giveaways/model/model.go
  libs/repositories/giveaways/pgx/pgx.go
  libs/repositories/giveaways_participants/errors.go
  libs/repositories/giveaways_participants/giveaways_participants.go
  libs/repositories/giveaways_participants/model/model.go
  libs/repositories/giveaways_participants/pgx/pgx.go
Due: none

upd
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/giveaways.go
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/schema/giveaways.graphqls
  apps/api-gql/internal/entity/giveaways.go
  apps/api-gql/internal/services/giveaways/giveaways.go
  apps/bots/internal/messagehandler/handle_giveaways.go
  libs/migrations/migrations/20250416104953_giveaways_drop_unnormalized.sql
  libs/repositories/giveaways/giveaways.go
  libs/repositories/giveaways/model/model.go
  libs/repositories/giveaways/pgx/pgx.go
Due: publish-bots

feat(parser): prepare for giveaways
  apps/parser/internal/commands/giveaways/delete.go
  apps/parser/internal/commands/giveaways/finish.go
  apps/parser/internal/commands/giveaways/open.go
  apps/parser/internal/commands/giveaways/pause.go
  apps/parser/internal/commands/giveaways/reset.go
Due: publish-parser

feat(giveaways): giveaways logic
  apps/giveaways/Dockerfile
  apps/giveaways/app/app.go
  apps/giveaways/cmd/main.go
  apps/giveaways/go.mod
  apps/giveaways/go.sum
  apps/giveaways/internal/bus-listener/bus-listener.go
  apps/giveaways/internal/entity/entity.go
  apps/giveaways/internal/services/giveaways.go
  cli/internal/goapp/apps.go
Due: none

feat(bots): support of giveaways
  apps/bots/internal/messagehandler/handle_giveaways.go
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

feat(api-gql): giveaways support
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/giveaways.graphqls
  apps/api-gql/internal/delivery/gql/schema/roles.graphqls
  apps/api-gql/internal/entity/giveaways.go
  apps/api-gql/internal/entity/giveaways_participants.go
  apps/api-gql/internal/services/giveaways/giveaways.go
  apps/bots/app/app.go
  go.work
  go.work.sum
Due: publish-bots

upd
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/schema/giveaways.graphqls
  apps/api-gql/internal/services/giveaways/giveaways.go
  libs/api/openapi.ts
  libs/cache/giveaways/giveaways.go
  libs/migrations/migrations/20250415104137_channels_giveaways.sql
  libs/migrations/migrations/20250416090244_giveaways_archivation.sql
  libs/migrations/migrations/20250416104953_giveaways_drop_unnormalized.sql
  libs/repositories/giveaways/giveaways.go
  libs/repositories/giveaways/model/model.go
  libs/repositories/giveaways/pgx/pgx.go
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

fix(bots): correctly catch deny list words if they are not regex
  apps/bots/internal/moderationhelpers/deny_list.go
Due: publish-bots

upd
  apps/api-gql/internal/delivery/gql/mappers/giveaways.go
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/schema/giveaways.graphqls
  apps/api-gql/internal/entity/giveaways.go
  apps/api-gql/internal/services/giveaways/giveaways.go
  apps/bots/internal/messagehandler/handle_giveaways.go
  apps/giveaways/internal/services/giveaways.go
  libs/bus-core/giveaways/giveaways.go
  libs/repositories/giveaways/giveaways.go
  libs/repositories/giveaways/pgx/pgx.go
  libs/repositories/giveaways_participants/giveaways_participants.go
  libs/repositories/giveaways_participants/pgx/pgx.go
Due: publish-bots

upd
  apps/api-gql/internal/services/giveaways/giveaways.go
Due: none

upd
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/services/giveaways/giveaways.go
Due: none

chore: incorrect null check
  libs/repositories/giveaways/pgx/pgx.go
Due: none

upd
  apps/bots/internal/messagehandler/handle_giveaways.go
  apps/giveaways/internal/services/giveaways.go
Due: publish-bots

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

pravki
  apps/api-gql/internal/delivery/gql/mappers/giveaways.go
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/notifications.resolver.go
  apps/api-gql/internal/delivery/gql/schema/giveaways.graphqls
  apps/api-gql/internal/entity/giveaways.go
  apps/api-gql/internal/entity/giveaways_participants.go
  apps/api-gql/internal/services/giveaways/constants.go
  apps/api-gql/internal/services/giveaways/giveaways.go
  apps/bots/internal/messagehandler/handle_giveaways.go
  apps/giveaways/app/app.go
  apps/giveaways/internal/bus-listener/bus-listener.go
  apps/giveaways/internal/entity/entity.go
  apps/giveaways/internal/services/giveaways.go
  libs/api/openapi.ts
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/giveaways/giveaways.go
  libs/migrations/migrations/20250418105809_giveaways_user_login.sql
  libs/repositories/giveaways_participants/giveaways_participants.go
  libs/repositories/giveaways_participants/model/model.go
  libs/repositories/giveaways_participants/pgx/pgx.go
Due: publish-bots

wip
  apps/api-gql/internal/delivery/gql/resolvers/giveaways.resolver.go
  frontend/dashboard/src/features/giveaways/giveaways.vue
  frontend/dashboard/src/features/giveaways/pages/giveaways-pages-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/pages/giveaways-pages-history.vue
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
  frontend/dashboard/src/main.ts
  frontend/dashboard/src/plugins/router.ts
Due: none

fix(api-gql): temp comment all chat messages channel
  apps/api-gql/internal/services/chat_messages/chat_messages.go
Due: none

fix(parser): correct cmdParams
  apps/parser/internal/commands/commands.go
Due: publish-parser

fix(dashboard): correct commands filter in chatWallCommands
  bun.lock
  frontend/dashboard/package.json
  frontend/dashboard/src/api/giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-giveaways.ts
  frontend/dashboard/src/features/giveaways/composables/giveaways-use-list-table.ts
  frontend/dashboard/src/features/giveaways/giveaways.vue
  frontend/dashboard/src/features/giveaways/pages/giveaways-pages-current-giveaway.vue
  frontend/dashboard/src/features/giveaways/pages/giveaways-pages-list.vue
  frontend/dashboard/src/features/giveaways/ui/giveaways-current-giveaway/giveaways-current-giveaway-participants.vue
Due: none

chore: use ws router for chat messages
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
  apps/api-gql/internal/services/chat_messages/chat_messages.go
Due: none

chore: fixed some potential goroutine leaks and some perf improve
  apps/api-gql/internal/services/chat_messages/chat_messages.go
Due: none

chore(integrations): add otel for 7tv
  libs/integrations/seventv/client.go
  libs/integrations/seventv/client_transport.go
Due: none

chore(twitch): change gql query for search category
  libs/twitch/unsupported.go
Due: none

perf: add cache for twitch category search client
  apps/parser/internal/commands/channel/game/game.go
  libs/cache/twitch/categories.go
Due: publish-parser

chore(dashboard): custom scroll
  frontend/dashboard/src/assets/index.css
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
