Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(api-gql): use uuid constraint instead of uuid4
  apps/api-gql/internal/delivery/gql/schema/events.graphql
Due: none

fix: return empty array for rewards if channel is not affiliate/partner
  libs/cache/twitch/rewards.go
Due: none

feat: implement PostgreSQL replication setup with primary and read replicas
  configs/pgdog/pgdog.dev.toml
  configs/pgdog/pgdog.prod.toml
  configs/postgres/primary-init.sql
  configs/postgres/replica-entrypoint.sh
  docker-compose.dev.yml
  docker-compose.stack.yml
Due: none

feat: cooldown roles separate
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/commands.go
  apps/api-gql/internal/delivery/gql/resolvers/commands.resolver.go
  apps/api-gql/internal/delivery/gql/schema/commands.graphql
  apps/api-gql/internal/delivery/http/routes/commands/commands.go
  apps/api-gql/internal/delivery/http/routes/commands/list.go
  apps/api-gql/internal/services/commands/commands.go
  apps/api-gql/internal/services/commands/convert.go
  apps/api-gql/internal/services/commands/create.go
  apps/api-gql/internal/services/commands_groups/commands_groups.go
  apps/api-gql/internal/services/commands_responses/commands_responses.go
  apps/api-gql/internal/services/commands_with_groups_and_responses/commands_with_groups_and_responses.go
  apps/api-gql/internal/services/commands_with_groups_and_responses/update.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/helpers.go
  frontend/dashboard/src/api/commands/commands.ts
  frontend/dashboard/src/features/commands/composables/use-command-edit-v2.ts
  frontend/dashboard/src/features/commands/ui/form-roles-selector.vue
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
  frontend/dashboard/src/features/commands/ui/form/form-role-cooldowns.vue
  frontend/dashboard/src/locales/en.json
  libs/baseapp/basefxapp.go
  libs/entities/command_role_cooldown/entity.go
  libs/entities/command_with_relations/command_with_relation.go
  libs/gomodels/channels_commands.go
  libs/migrations/postgres/20260123173159_commands_role_cooldowns.sql
  libs/repositories/command_role_cooldown/command_role_cooldown.go
  libs/repositories/command_role_cooldown/model/model.go
  libs/repositories/command_role_cooldown/pgx/pgx.go
  libs/repositories/commands/model/model.go
  libs/repositories/commands/pgx/pgx.go
  libs/repositories/commands_with_groups_and_responses/model/model.go
  libs/repositories/commands_with_groups_and_responses/pgx/pgx.go
Due: publish-parser

finish?
  .idea/dataSources.local.xml
  .idea/sqldialects.xml
  apps/api-gql/internal/delivery/gql/mappers/commands.go
  apps/api-gql/internal/delivery/gql/resolvers/commands.resolver.go
  apps/api-gql/internal/services/commands/create.go
  apps/api-gql/internal/services/commands_with_groups_and_responses/commands_with_groups_and_responses.go
  apps/api-gql/internal/services/commands_with_groups_and_responses/update.go
  apps/api-gql/internal/services/nightbot_integration/nightbot_integration.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/helpers.go
  frontend/dashboard/src/api/commands/commands.ts
  frontend/dashboard/src/features/commands/commands-edit.vue
  frontend/dashboard/src/features/commands/composables/use-command-edit-v2.ts
  frontend/dashboard/src/features/commands/ui/form-roles-selector.vue
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
  libs/api/openapi.ts
  libs/entities/command_with_relations/command_with_relation.go
  libs/entities/commandrolecooldownentity/entity.go
  libs/repositories/command_role_cooldown/command_role_cooldown.go
  libs/repositories/command_role_cooldown/model/model.go
  libs/repositories/command_role_cooldown/pgx/pgx.go
  libs/repositories/commands/commands.go
  libs/repositories/commands/pgx/pgx.go
  libs/repositories/commands_response/pgx/pgx.go
  libs/repositories/commands_with_groups_and_responses/model/model.go
  libs/repositories/commands_with_groups_and_responses/pgx/pgx.go
Due: publish-parser

feat: cooldown roles separate (#937)
  .idea/dataSources.local.xml
  .idea/sqldialects.xml
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/commands.go
  apps/api-gql/internal/delivery/gql/resolvers/commands.resolver.go
  apps/api-gql/internal/delivery/gql/schema/commands.graphql
  apps/api-gql/internal/delivery/http/routes/commands/commands.go
  apps/api-gql/internal/delivery/http/routes/commands/list.go
  apps/api-gql/internal/services/commands/commands.go
  apps/api-gql/internal/services/commands/convert.go
  apps/api-gql/internal/services/commands/create.go
  apps/api-gql/internal/services/commands_groups/commands_groups.go
  apps/api-gql/internal/services/commands_responses/commands_responses.go
  apps/api-gql/internal/services/commands_with_groups_and_responses/commands_with_groups_and_responses.go
  apps/api-gql/internal/services/commands_with_groups_and_responses/update.go
  apps/api-gql/internal/services/nightbot_integration/nightbot_integration.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/helpers.go
  frontend/dashboard/src/api/commands/commands.ts
  frontend/dashboard/src/features/commands/commands-edit.vue
  frontend/dashboard/src/features/commands/composables/use-command-edit-v2.ts
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
  frontend/dashboard/src/features/commands/ui/form/form-role-cooldowns.vue
  frontend/dashboard/src/locales/en.json
  libs/api/openapi.ts
  libs/baseapp/basefxapp.go
  libs/entities/command_with_relations/command_with_relation.go
  libs/entities/commandrolecooldownentity/entity.go
  libs/gomodels/channels_commands.go
  libs/migrations/postgres/20260123173159_commands_role_cooldowns.sql
  libs/repositories/command_role_cooldown/command_role_cooldown.go
  libs/repositories/command_role_cooldown/pgx/pgx.go
  libs/repositories/commands/commands.go
  libs/repositories/commands/model/model.go
  libs/repositories/commands/pgx/pgx.go
  libs/repositories/commands_response/pgx/pgx.go
  libs/repositories/commands_with_groups_and_responses/model/model.go
  libs/repositories/commands_with_groups_and_responses/pgx/pgx.go
Due: publish-parser

New translations en.json (Spanish)
  frontend/dashboard/src/locales/es.json
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

fix(api-gql): correct set responses and cooldown
  apps/api-gql/internal/delivery/gql/resolvers/commands.resolver.go
Due: none

fix(parser): correctly check cooldowns
  .idea/dataSources.local.xml
  .idea/dataSources.xml
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/helpers.go
Due: publish-parser

fix(parser): correctly check cooldowns number two xdd
  apps/parser/internal/commands/commands.go
Due: publish-parser

chore(web): upgrade nuxt to 4.3.0
  bun.lock
  web/package.json
Due: none

feat: add webhook notifications module for project updates in twitch chat
  .env.example
  .idea/dataSources.local.xml
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/audit-logs.go
  apps/api-gql/internal/delivery/gql/mappers/webhook-notifications.go
  apps/api-gql/internal/delivery/gql/resolvers/module-webhook-notifications.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/schema/module-webhook-notifications.graphql
  apps/api-gql/internal/delivery/http-webhooks/github.go
  apps/api-gql/internal/delivery/http-webhooks/webhooks.go
  apps/api-gql/internal/services/webhook_notifications/webhook_notifications.go
  frontend/dashboard/src/api/webhook-notifications.ts
  frontend/dashboard/src/features/modules/composables/use-webhook-notifications.ts
  frontend/dashboard/src/features/modules/modules.vue
  frontend/dashboard/src/features/modules/ui/module-webhook-notifications.vue
  frontend/dashboard/src/locales/de.json
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/es.json
  frontend/dashboard/src/locales/pt.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/locales/sk.json
  frontend/dashboard/src/locales/uk.json
  libs/config/config.go
  libs/entities/webhook_notifications/entity.go
  libs/migrations/postgres/20260204120000_channels_modules_webhooks.sql
  libs/migrations/postgres/20260204130000_remove_discord_messages_from_webhooks.sql
  libs/repositories/channels_modules_webhooks/model.go
  libs/repositories/channels_modules_webhooks/pgx/pgx.go
  libs/repositories/channels_modules_webhooks/repository.go
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

upd
  Caddyfile
  Caddyfile.dev
  apps/api-gql/internal/delivery/http/routes/shortlinks/create.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/custom_domain_allow.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/shortlinks.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/update.go
  apps/api-gql/internal/services/shortenedurls/shortenedurls.go
  apps/api-gql/internal/services/shortlinkscustomdomains/service.go
  libs/api/openapi.ts
  libs/entities/short_links_custom_domain/entity.go
  libs/repositories/shortened_urls/datasource/postgres/pgx.go
  libs/repositories/shortened_urls/errors.go
  web/layers/url-shortener/components/url-shortener/custom-domain-panel.vue
  web/layers/url-shortener/components/url-shortener/form-short-history.vue
  web/layers/url-shortener/components/url-shortener/form.vue
  web/layers/url-shortener/components/url-shortener/link-card-with-stats.vue
  web/layers/url-shortener/components/url-shortener/qr-code-dialog.vue
  web/layers/url-shortener/components/url-shortener/section.vue
  web/layers/url-shortener/components/url-shortener/short-history-card.vue
  web/layers/url-shortener/composables/use-url-shortener.ts
Due: none

upd
  Caddyfile
  Caddyfile.dev
  apps/api-gql/internal/delivery/http/routes/shortlinks/redirect.go
  web/app/components/ui/switch/index.ts
  web/layers/url-shortener/components/url-shortener/form.vue
  web/layers/url-shortener/components/url-shortener/link-card-with-stats.vue
  web/layers/url-shortener/components/url-shortener/qr-code-dialog.vue
  web/layers/url-shortener/components/url-shortener/short-history-card.vue
Due: none

fix host for redirect
  apps/api-gql/internal/delivery/http/routes/shortlinks/info.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/redirect.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/statistics.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/top_countries.go
  web/layers/url-shortener/components/url-shortener/custom-domain-panel.vue
  web/layers/url-shortener/components/url-shortener/form-short-history.vue
  web/layers/url-shortener/components/url-shortener/short-history-card.vue
Due: none

add change of domain for already created links
  apps/api-gql/internal/delivery/http/routes/shortlinks/custom_domain_create.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/custom_domain_delete.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/custom_domain_dto.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/custom_domain_get.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/custom_domain_verify.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/redirect.go
  apps/api-gql/internal/delivery/http/routes/shortlinks/update.go
  apps/api-gql/internal/services/shortenedurls/shortenedurls.go
  apps/api-gql/internal/services/shortlinkscustomdomains/service.go
  libs/api/openapi.ts
  libs/entities/short_links_custom_domain/entity.go
  libs/repositories/shortened_urls/datasource/postgres/pgx.go
  libs/repositories/shortened_urls/shortened_urls.go
  web/layers/url-shortener/components/url-shortener/custom-domain-panel.vue
  web/layers/url-shortener/components/url-shortener/edit-link-dialog.vue
  web/layers/url-shortener/components/url-shortener/link-card-with-stats.vue
Due: none

fix(web/api-gql): correct hints for link custom domain
  libs/entities/short_links_custom_domain/entity.go
  web/layers/url-shortener/components/url-shortener/custom-domain-panel.vue
Due: none

fix(apps): update HAProxy config to correct custom domain routing rules
  configs/haproxy/haproxy.cfg
Due: none

fix(apps): update HAProxy config to set default backend for unmatched routes
  configs/haproxy/haproxy.cfg
Due: none

feat(api-gql): add custom 404 handler for unmatched routes
  apps/api-gql/internal/server/server.go
Due: none

feat(apps): expose ports 80 and 443 for services in docker-compose stack
  docker-compose.stack.yml
Due: none

feat(api-gql): introduce offline-enabled timers
  apps/api-gql/internal/delivery/gql/mappers/timers.go
  apps/api-gql/internal/delivery/gql/resolvers/timers.resolver.go
  apps/api-gql/internal/delivery/gql/schema/timers.graphql
  apps/api-gql/internal/entity/timer.go
  apps/api-gql/internal/services/timers/create.go
  apps/api-gql/internal/services/timers/get.go
  apps/api-gql/internal/services/timers/timers.go
  apps/api-gql/internal/services/timers/update.go
  apps/timers/internal/manager/manager.go
  apps/timers/internal/manager/send_message.go
  apps/timers/internal/manager/ticker.go
  apps/timers/internal/manager/timer.go
  frontend/dashboard/src/api/timers.ts
  frontend/dashboard/src/features/timers/composables/use-timers-edit.ts
  frontend/dashboard/src/features/timers/timers-edit.vue
  libs/entities/timers/timers.go
  libs/gomodels/channels_timers.go
  libs/migrations/postgres/20260126062923_timers_offline_enabled.sql
  libs/repositories/timers/pgx/pgx.go
  libs/repositories/timers/timers.go
Due: none

feat(api-gql): add online-enabled field to timers
  apps/api-gql/internal/delivery/gql/mappers/timers.go
  apps/api-gql/internal/delivery/gql/resolvers/timers.resolver.go
  apps/api-gql/internal/delivery/gql/schema/timers.graphql
  apps/api-gql/internal/services/nightbot_integration/nightbot_integration.go
  apps/api-gql/internal/services/timers/create.go
  apps/api-gql/internal/services/timers/update.go
  apps/bots/internal/twitchactions/sendmessage.go
  apps/timers/internal/manager/ticker.go
  frontend/dashboard/src/api/timers.ts
  frontend/dashboard/src/features/timers/composables/use-timers-edit.ts
  frontend/dashboard/src/features/timers/timers-edit.vue
  libs/entities/timers/timers.go
  libs/gomodels/channels_timers.go
  libs/migrations/postgres/20260126070821_timers_online_enabled.sql
  libs/repositories/timers/pgx/pgx.go
  libs/repositories/timers/timers.go
Due: publish-bots

fix: return from func in case redis returned non nil for cooldown
  apps/parser/internal/commands/commands.go
Due: publish-parser

fix(parser): another cooldown check
  apps/parser/internal/commands/helpers.go
Due: publish-parser
