Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore: add log of failed scan
  libs/repositories/timers/pgx/pgx.go
Due: none

fix(repositories): correctly scan timers responses
  libs/repositories/timers/pgx/pgx.go
Due: none

fix(dashboard): use correct component for commands list in 7tv integration
  frontend/dashboard/src/components/integrations/seven-tv.vue
  frontend/dashboard/src/features/commands/commands.vue
Due: none

feat: add shoutout to greetings
  apps/api-gql/internal/delivery/gql/mappers/greetings.go
  apps/api-gql/internal/delivery/gql/resolvers/greetings.resolver.go
  apps/api-gql/internal/entity/greeting.go
  apps/api-gql/internal/services/greetings/greetings.go
  apps/api-gql/schema/greetings.graphqls
  apps/bots/app/app.go
  apps/bots/internal/bus-listener/bus-listener.go
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/twitchactions/sendmessage.go
  apps/bots/internal/twitchactions/shoutout.go
  apps/bots/internal/twitchactions/twitchactions.go
  frontend/dashboard/src/api/greetings.ts
  frontend/dashboard/src/features/greetings/ui/greetings-dialog.vue
  libs/bus-core/bots/bots.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/migrations/migrations/20250110121705_greeting_add_shoutout.sql
  libs/repositories/greetings/greetings.go
  libs/repositories/greetings/model/model.go
  libs/repositories/greetings/pgx/pgx.go
Due: publish-bots

chore(web): upgrade nuxt to 3.15.1
  pnpm-lock.yaml
  web/package.json
Due: none

chore: update postgres backup image
  docker-compose.stack.yml
Due: none

fix(events): add missed username to redemption created event
  apps/events/internal/grpc_impl/grpc_impl.go
Due: none

feat: back ytsr on donation
  apps/events/app/app.go
  apps/events/internal/grpc_impl/grpc_impl.go
  apps/events/internal/song_request/song_request.go
  apps/integrations/src/libs/parserGrpc.js
  apps/integrations/src/utils/onDonation.js
Due: none

fix: correctly update timers responses
  apps/api-gql/internal/delivery/gql/resolvers/timers.resolver.go
  libs/repositories/timers/pgx/pgx.go
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

fix(bots): check resp on nil in sendmessage
  apps/bots/internal/twitchactions/sendmessage.go
Due: publish-bots

feat: add messages toxicity check
  .env.example
  apps/api-gql/internal/delivery/gql/resolvers/timers.resolver.go
  apps/bots/app/app.go
  apps/bots/internal/services/toxicity-check/toxicity-check.go
  apps/bots/internal/twitchactions/sendmessage.go
  apps/bots/internal/twitchactions/twitchactions.go
  libs/config/config.go
  libs/migrations/migrations/20250119234948_toxic_messages.sql
  libs/repositories/toxic_messages/pgx/pgx.go
  libs/repositories/toxic_messages/toxic_messages.go
Due: publish-bots

feat: add basic chat logs functionality
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/mappers/chat_messages.go
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/entity/chat_message.go
  apps/api-gql/internal/services/chat_messages/chat_messages.go
  apps/api-gql/internal/services/chat_messages/get_many.go
  apps/api-gql/schema/chat-messages.graphqls
  apps/bots/app/app.go
  apps/bots/internal/messagehandler/handle_save_message.go
  apps/bots/internal/messagehandler/messagehandler.go
  frontend/dashboard/src/api/chat-messages.ts
  frontend/dashboard/src/features/community-chat-messages/community-chat-messages.vue
  frontend/dashboard/src/features/community-chat-messages/composables/use-filters.ts
  frontend/dashboard/src/features/community-chat-messages/ui/chat-messages.vue
  frontend/dashboard/src/features/community-chat-messages/ui/filters.vue
  frontend/dashboard/src/features/community-chat-messages/ui/message.vue
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
  frontend/dashboard/src/pages/community.vue
  libs/migrations/migrations/20250120212249_chat_messages.sql
  libs/repositories/chat_messages/chat_messages.go
  libs/repositories/chat_messages/model/model.go
  libs/repositories/chat_messages/pgx/pgx.go
Due: publish-bots

feat: add channels commands prefixes settings
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/entity/channels_commands_prefix.go
  apps/api-gql/internal/services/channels_commands_prefix/channels_commands_prefix.go
  libs/migrations/migrations/20250121013135_channels_commands_prefix.sql
  libs/repositories/channels_commands_prefix/channels_commands_prefix.go
  libs/repositories/channels_commands_prefix/model/model.go
  libs/repositories/channels_commands_prefix/pgx/pgx.go
Due: none

upd
  apps/api-gql/cmd/main.go
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
  libs/cache/channels_commands_prefix/channels_commands_prefix.go
Due: none

upd
  apps/api-gql/internal/delivery/gql/resolvers/bot-settings.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/services/channels_commands_prefix/channels_commands_prefix.go
  apps/api-gql/schema/bot-settings.graphqls
  apps/api-gql/schema/roles.graphqls
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/chat_message.go
  apps/eventsub/internal/handler/handler.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/types/services/services.go
  frontend/dashboard/src/api/auth.ts
  frontend/dashboard/src/api/commands-prefix.ts
  frontend/dashboard/src/features/bot-settings/bot-settings.vue
  frontend/dashboard/src/features/bot-settings/ui/commands-prefix.vue
  frontend/dashboard/src/plugins/router.ts
  libs/migrations/migrations/20250121013135_channels_commands_prefix.sql
  libs/repositories/channels_commands_prefix/errors.go
  libs/repositories/channels_commands_prefix/pgx/pgx.go
Due: publish-eventsub, publish-parser

upd
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/prefix/setprefix.go
  apps/parser/internal/types/services/services.go
Due: publish-parser

feat: add channels commands prefixes settings (#792)
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/resolvers/bot-settings.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/entity/channels_commands_prefix.go
  apps/api-gql/internal/services/channels_commands_prefix/channels_commands_prefix.go
  apps/api-gql/schema/bot-settings.graphqls
  apps/api-gql/schema/roles.graphqls
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/chat_message.go
  apps/eventsub/internal/handler/handler.go
  apps/parser/cmd/main.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/prefix/setprefix.go
  apps/parser/internal/types/services/services.go
  frontend/dashboard/src/api/auth.ts
  frontend/dashboard/src/api/commands-prefix.ts
  frontend/dashboard/src/features/bot-settings/bot-settings.vue
  frontend/dashboard/src/features/bot-settings/ui/commands-prefix.vue
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
  frontend/dashboard/src/plugins/router.ts
  libs/cache/channels_commands_prefix/channels_commands_prefix.go
  libs/migrations/migrations/20250121013135_channels_commands_prefix.sql
  libs/repositories/channels_commands_prefix/channels_commands_prefix.go
  libs/repositories/channels_commands_prefix/errors.go
  libs/repositories/channels_commands_prefix/model/model.go
  libs/repositories/channels_commands_prefix/pgx/pgx.go
Due: publish-eventsub, publish-parser

fix(parser): add invalidation of prefix on update
  apps/parser/internal/commands/prefix/setprefix.go
Due: publish-parser

fix(dashboard): correctly set prefix on route change
  frontend/dashboard/src/features/bot-settings/ui/commands-prefix.vue
Due: none

fix(api-gql): check on user stats in `HasChannelRolesDashboardPermission`
  apps/api-gql/internal/delivery/gql/directives/has-channel-roles-dashboard-permission.go
Due: none

fix(api-gql): correctly mutate roles in stats check
  apps/api-gql/internal/delivery/gql/directives/has-channel-roles-dashboard-permission.go
Due: none

chore: increase max connections in dev docker-compose.dev.yml
  docker-compose.dev.yml
Due: none

fix(api-gql): correctly check does user have permissions to dashboard
  apps/api-gql/internal/delivery/gql/directives/has-access-to-selected-dashboard.go
Due: none

fix(api-gql): correctly check does user have permissions to dashboard #3
  apps/api-gql/internal/delivery/gql/directives/has-access-to-selected-dashboard.go
Due: none

refactor: capitalize bot settings tab name
  frontend/dashboard/src/features/bot-settings/bot-settings.vue
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
Due: none

chore(dashboard): capitalize bot settings tab name (#795)
  frontend/dashboard/src/features/bot-settings/bot-settings.vue
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
Due: none

perf(emotes-cacher): run set in redis pipeline instead individual commands
  apps/emotes-cacher/internal/bus-listener/impl.go
Due: none

chore(dashboard): capitalize chat logs tab name
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
Due: none

chore: replace redis with dragonfly
  docker-compose.dev.yml
  docker-compose.stack.yml
Due: none

refactor: use `scan` for redis `keys`, use pipelines
  .github/workflows/dockerv3.yml
  apps/api-gql/internal/services/admin-actions/admin-actions.go
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_games_voteban.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/chat-messages-store/Dockerfile
  apps/chat-messages-store/cmd/main.go
  apps/chat-messages-store/go.mod
  apps/chat-messages-store/go.sum
  apps/emotes-cacher/internal/bus-listener/impl.go
  apps/parser/internal/commands/nuke/nuke.go
  apps/parser/internal/commands/tts/say.go
  cli/internal/goapp/apps.go
  go.work
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/chat-messages-store/chat-messages-store.go
  libs/gomodels/chat_message.go
  web/layers/landing/components/index/streamers/streamers-list.vue
Due: publish-bots, publish-parser

chore(dashboard): capitalize chat logs tab name (#797)
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
Due: none

chore: add docker stats to uptrace
  configs/otel/otel-collector.yaml.example
  docker-compose.stack.yml
Due: none

chore: update otel collector example config
  configs/otel/otel-collector.yaml.example
Due: none

perf(bots): batch messages store
  apps/bots/internal/messagehandler/handle_save_message.go
  libs/repositories/chat_messages/chat_messages.go
  libs/repositories/chat_messages/pgx/pgx.go
Due: publish-bots

perf(bots): cache database requests for lurkers
  apps/bots/internal/messagehandler/handle_remove_lurker.go
Due: publish-bots

fix(bots): store used emotes only if stream exists
  apps/bots/internal/messagehandler/handle_emotes_usages.go
Due: publish-bots

perf(bots): add cache for channel for handlers
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

perf: use redis for greetings in bots
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/services/greetings/greetings.go
  apps/bots/app/app.go
  apps/bots/internal/messagehandler/handle_greetings.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/bots/internal/stream-handlers/stream-handlers.go
  apps/bots/internal/stream-handlers/streams_offline.go
  apps/bots/internal/stream-handlers/streams_online.go
  apps/scheduler/internal/timers/streams.go
  libs/cache/generic-cacher/db-generic-cacher.go
  libs/cache/greetings/greetings.go
Due: publish-bots, publish-scheduler

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
