Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

kruto
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/overlays/brb/start.go
  apps/parser/internal/commands/overlays/brb/stop.go
  apps/websockets/internal/grpc_impl/be_right_back.go
  frontend/overlays/src/pages/overlays/beRightBack.vue
  frontend/overlays/src/pages/overlays/brb/iframe.ts
  frontend/overlays/src/pages/overlays/brb/socket.ts
  frontend/overlays/src/pages/overlays/brb/ticker.vue
  frontend/overlays/src/pages/overlays/brb/types.ts
  libs/grpc/protos/websockets.proto
  libs/migrations/migrations/20231122180742_add_be_right_back_overlay.sql
Due: publish-parser

kruto
  frontend/dashboard/src/api/overlays/brb.ts
  frontend/dashboard/src/api/overlays/index.ts
  frontend/dashboard/src/assets/icons/overlays/brb.svg
  frontend/dashboard/src/components/overlays/brb.vue
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/dashboard/src/pages/Overlays.vue
Due: none

kruto
  apps/api/internal/impl_protected/overlays/be_right_back.go
  frontend/dashboard/src/components/fontSelector.vue
  frontend/dashboard/src/components/overlays/brb.vue
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/dashboard/src/locales/en.json
  frontend/overlays/src/pages/overlays/beRightBack.vue
  frontend/overlays/src/pages/overlays/brb/iframe.ts
  frontend/overlays/src/pages/overlays/brb/ticker.vue
  libs/gomodels/channel_modules_settings_be_right_back.go
  libs/grpc/protos/api/overlays_be_right_back.proto
Due: publish-api

kruto
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/overlays/src/pages/overlays/beRightBack.vue
  frontend/overlays/src/pages/overlays/brb/iframe.ts
Due: none

kruto
  apps/api/internal/impl_protected/overlays/be_right_back.go
  frontend/dashboard/src/api/overlays/obs.ts
  frontend/dashboard/src/components/overlays/brb.vue
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/dashboard/src/components/overlays/copyOverlayLink.ts
  frontend/dashboard/src/components/overlays/obs.vue
  frontend/dashboard/src/locales/en.json
  frontend/overlays/src/pages/overlays/brb/ticker.vue
Due: publish-api

kruto
  frontend/dashboard/src/components/commandButton.vue
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/integrations/donatestream.vue
  frontend/dashboard/src/components/integrations/valorant.vue
  frontend/dashboard/src/components/overlays/brb.vue
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/dashboard/src/components/roles/modal.vue
Due: none

kruto
  frontend/dashboard/src/components/overlays/brb/settings.vue
Due: none

kruto
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/dashboard/src/locales/en.json
Due: none

feat: add be right back overlay (#450)
  apps/api/internal/impl_protected/overlays/be_right_back.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/overlays/brb/start.go
  apps/parser/internal/commands/overlays/brb/stop.go
  apps/websockets/cmd/main.go
  apps/websockets/internal/grpc_impl/be_right_back.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/namespaces/overlays/be_right_back/be_right_back.go
  apps/websockets/internal/namespaces/overlays/be_right_back/handle_message.go
  apps/websockets/internal/namespaces/overlays/be_right_back/settings.go
  frontend/dashboard/src/api/overlays/brb.ts
  frontend/dashboard/src/api/overlays/index.ts
  frontend/dashboard/src/api/overlays/obs.ts
  frontend/dashboard/src/assets/icons/overlays/brb.svg
  frontend/dashboard/src/components/commandButton.vue
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/fontSelector.vue
  frontend/dashboard/src/components/integrations/donatestream.vue
  frontend/dashboard/src/components/integrations/valorant.vue
  frontend/dashboard/src/components/overlays/brb.vue
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/dashboard/src/components/overlays/copyOverlayLink.ts
  frontend/dashboard/src/components/overlays/obs.vue
  frontend/dashboard/src/components/roles/modal.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/Overlays.vue
  frontend/overlays/src/main.ts
  frontend/overlays/src/pages/overlays/beRightBack.vue
  frontend/overlays/src/pages/overlays/brb/iframe.ts
  frontend/overlays/src/pages/overlays/brb/socket.ts
  frontend/overlays/src/pages/overlays/brb/ticker.vue
  frontend/overlays/src/pages/overlays/brb/timeUtils.ts
  frontend/overlays/src/pages/overlays/brb/types.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  libs/gomodels/channel_modules_settings_be_right_back.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/overlays_be_right_back.proto
  libs/grpc/protos/websockets.proto
  libs/migrations/migrations/20231122180742_add_be_right_back_overlay.sql
Due: publish-api, publish-parser

chore(dashboard): add missed brb description
  frontend/dashboard/src/locales/en.json
Due: none

feat(dashboard): add missed `brbstop` command settings
  frontend/dashboard/src/components/overlays/brb/settings.vue
Due: none

feat(dashbooard): disable brb copy button if no settings or loading
  frontend/dashboard/src/components/overlays/brb/settings.vue
Due: none

feat: add opacity to brb overlay
  apps/api/internal/impl_protected/overlays/be_right_back.go
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/dashboard/src/locales/en.json
  frontend/overlays/src/pages/overlays/brb/ticker.vue
  libs/grpc/protos/api/overlays_be_right_back.proto
Due: publish-api

chore: remove opacity
  apps/api/internal/impl_protected/overlays/be_right_back.go
  frontend/dashboard/src/components/overlays/brb/settings.vue
  frontend/overlays/src/App.vue
  frontend/overlays/src/pages/overlays/beRightBack.vue
  frontend/overlays/src/pages/overlays/brb/ticker.vue
  libs/gomodels/channel_modules_settings_be_right_back.go
  libs/grpc/protos/api/overlays_be_right_back.proto
Due: publish-api

fix(api): save `fontFamily` in db
  apps/api/internal/impl_protected/overlays/be_right_back.go
  libs/gomodels/channel_modules_settings_be_right_back.go
Due: publish-api

chore(dashboard): add gap for overlays card buttons
  frontend/dashboard/src/components/overlays/card.vue
Due: none

feat: use new eventsub events instead of listen from chat
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/bots/internal/chat_client/chat_client_reader.go
  apps/bots/internal/chat_client/handlers_notice.go
  apps/bots/internal/chat_client/handlers_user_state.go
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/eventsub/internal/client/client.go
  apps/eventsub/internal/grpm_impl/grpc_impl.go
  apps/eventsub/internal/handler/chat_notification.go
  apps/eventsub/internal/handler/clear.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/sub.go
  docker-compose.stack.yml
  go.work
Due: publish-api, publish-bots, publish-eventsub

chore: add eventsub submodules
  .gitmodules
Due: none

chore: add loggingto tts
  apps/websockets/internal/namespaces/overlays/be_right_back/be_right_back.go
  apps/websockets/internal/namespaces/tts/tts.go
Due: none

chore: enable submodules in checkout
  .github/workflows/dockerv2.yml
Due: none

chore: add plain files of eventsub libs
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/bots/go.sum
  apps/discord/go.mod
  apps/discord/go.sum
  apps/events/go.mod
  apps/events/go.sum
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/websockets/go.mod
  apps/websockets/go.sum
  go.work
  libs/twitch/go.mod
  libs/twitch/go.sum
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

chore: remove gitmodules
  .gitmodules
Due: none

fix: add missed libs files
  libs/twitch-eventsub-bindings/conditions.go
  libs/twitch-eventsub-bindings/events.go
  libs/twitch-eventsub-bindings/generation_script.js
  libs/twitch-eventsub-bindings/go.mod
  libs/twitch-eventsub-bindings/objects.go
  libs/twitch-eventsub-bindings/subscription.go
  libs/twitch-eventsub-bindings/subscription_test.go
  libs/twitch-eventsub-bindings/transport.go
  libs/twitch-eventsub-framework/client.go
  libs/twitch-eventsub-framework/credentials.go
  libs/twitch-eventsub-framework/go.mod
  libs/twitch-eventsub-framework/go.sum
  libs/twitch-eventsub-framework/handler.go
  libs/twitch-eventsub-framework/handler_test.go
  libs/twitch-eventsub-framework/id_tracker.go
  libs/twitch-eventsub-framework/signature.go
  libs/twitch-eventsub-framework/signature_test.go
Due: none

fix: add missed go mod files into dockerfile
  base.Dockerfile
Due: none

fix(dashboard): redirect on main page if profile fetch failed
  frontend/dashboard/src/router.ts
Due: none

feat(eventsub): do not try to resubscribe on banned channels
  apps/eventsub/internal/client/client.go
Due: publish-eventsub

chore(dashboard): update translations
  frontend/dashboard/src/locales/ru.json
Due: none

chore(dashboard): update translations
  frontend/dashboard/src/locales/en.json
Due: none

chore(dashboard): update translations (#451)
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
Due: none

chore(dashboard): update translations (#452)
  frontend/dashboard/src/locales/ru.json
Due: none

chore: add build-tools to requirements
  README.md
Due: none

refactor: remove language-detector service, as it moved to own container
  .github/workflows/dockerv2.yml
  .run/Dev Language Detector.run.xml
  apps/api/internal/impl_protected/moderation/moderation.go
  apps/bots/cmd/main.go
  apps/bots/internal/bots/bots.go
  apps/bots/internal/bots/client.go
  apps/bots/internal/chat_client/chat_client.go
  apps/bots/internal/chat_client/handlers_moderation.go
  apps/language-detector/Dockerfile
  apps/language-detector/package-lock.json
  apps/language-detector/package.json
  apps/language-detector/src/index.ts
  apps/language-detector/tsconfig.json
  docker-compose.dev.yml
  docker-compose.stack.yml
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/api/moderation.ts
  frontend/dashboard/src/components/moderation/modal-language.vue
  libs/grpc/clients/language_detector.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/moderation.proto
  libs/grpc/protos/language-detector.proto
  libs/migrations/migrations/20231127193357_new_language_format.sql
  pnpm-lock.yaml
Due: publish-api, publish-bots

fix: remove not existed language-detector from dockerfile
  base.Dockerfile
Due: none

chore: pin nice-grpc version
  apps/dota/package.json
  apps/eval/package.json
  apps/integrations/package.json
  libs/grpc/package.json
  pnpm-lock.yaml
Due: publish-dota, publish-eval
