Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore(landing): bump packages versions
  frontend/landing/package.json
  pnpm-lock.yaml
Due: none

fix(landing): weirdo astro url port append
  frontend/landing/src/middleware.ts
Due: none

chore(landing): move beauty code for replace in redirect
  frontend/landing/src/middleware.ts
Due: none

chore: store stream parsed messages in redis to avoid database queries
  apps/api-gql/go.mod
  apps/api-gql/internal/gql/resolvers/dashboard.resolver.helper.go
  apps/api/internal/impl_protected/dashboard/dashboard.go
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/messagehandler/handle_increment_stream_messages.go
  apps/bots/internal/messagehandler/handle_stream_first_user_join.go
  apps/eventsub/internal/handler/stream_online.go
  apps/parser/internal/cacher/twitch.go
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/scheduler/internal/timers/streams.go
  apps/timers/go.mod
  apps/timers/go.sum
  apps/timers/internal/activity/activity.go
  apps/timers/internal/repositories/streams/gorm.go
  apps/timers/internal/repositories/streams/repository.go
  go.work
  libs/gomodels/channels_streams.go
  libs/redis_keys/go.mod
  libs/redis_keys/stream.go
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

feat: add `GetStreamByUserID` function to twitch cache
  libs/cache/twitch/streams.go
Due: none

perf: use unlogged table for channel chat messages
  .idea/codeStyles/Project.xml
  apps/parser/internal/commands/nuke/nuke.go
  libs/gomodels/channel_chat_message.go
  libs/migrations/migrations/20240616234019_channel_messages_unlogged.sql
Due: publish-parser

fix(parser): remove redundant log and return from nuke command
  apps/parser/internal/commands/nuke/nuke.go
Due: publish-parser

feat(api-gql): add check on `isPlaying` for spotify in np-overlay
  apps/api-gql/internal/gql/now-playing-fetcher/now-playing-fetcher.go
Due: none

feat(eventsub): add duplicate tracker
  apps/eventsub/internal/duplicate-tracker/duplicate-tracker.go
  apps/eventsub/internal/handler/handler.go
Due: publish-eventsub

chore(cli): add proxy flag
  cli/internal/cmds/dev/dev.go
Due: none

refactor: store messages in redis-stack instead of db
  .github/workflows/dockerv3.yml
  apps/bots/internal/bus-listener/bus-listener.go
  apps/bots/internal/messagehandler/handle_store_message.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/chat-messages-store/Dockerfile
  apps/chat-messages-store/package.json
  apps/chat-messages-store/src/index.js
  apps/eventsub/internal/handler/chat_message.go
  apps/parser/internal/commands/nuke/nuke.go
  cli/internal/cmds/dev/nodejs/nodejs.go
  docker-compose.dev.yml
  docker-compose.stack.yml
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/chat-messages-store/chat-messages-store.go
  libs/bus-core/subject-names.go
  libs/bus-core/twitch/chat-message.go
  libs/config/src/index.js
  libs/gomodels/channel_chat_message.go
  libs/migrations/migrations/20240619154959_drop_chat_messages.sql
  pnpm-lock.yaml
Due: publish-bots, publish-eventsub, publish-parser

chore: fix cache in build-and-lint action
  .github/workflows/build-and-lint.yml
Due: none

fix(api): correctly send null track in overlays subscription
  apps/api-gql/internal/gql/resolvers/overlays.resolver.service.go
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

fix(chat-messages-store): in case badges missed do not check them
  apps/chat-messages-store/src/index.js
Due: none

chore(dev): use right redis image in development
  docker-compose.dev.yml
Due: none

chore(dev): use right redis image in development (#751)
  docker-compose.dev.yml
Due: none

feat: chat-messages-store golang
  apps/chat-messages-store/Dockerfile
  apps/chat-messages-store/cmd/main.go
  apps/chat-messages-store/go.mod
  apps/chat-messages-store/go.sum
  apps/chat-messages-store/package.json
  apps/chat-messages-store/src/index.js
  cli/internal/goapp/apps.go
  go.work
  go.work.sum
Due: none

feat: clean ports cli command
  cli/go.mod
  cli/internal/cmds/dev/dev.go
  cli/internal/cmds/dev/helpers/clean_ports.go
  libs/grpc/constants/constants.go
Due: none

fix(bots): add missed cooldown set in keywords handler
  apps/bots/internal/messagehandler/handle_keywords.go
Due: publish-bots

chore(eventsub): move redis set earlier in channel follow handler
  apps/eventsub/internal/handler/channel_follow.go
Due: publish-eventsub

fix(api-gql): disallow to create/update commands with empty aliase
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/api-gql/schema/commands.graphqls
Due: none

feat: clean ports cli command (#753)
  cli/go.mod
  cli/internal/cmds/dev/dev.go
  cli/internal/cmds/dev/helpers/clean_ports.go
  libs/grpc/constants/constants.go
Due: none

feat: chat-messages-store golang (#752)
  apps/chat-messages-store/Dockerfile
  apps/chat-messages-store/cmd/main.go
  apps/chat-messages-store/go.mod
  apps/chat-messages-store/go.sum
  apps/chat-messages-store/package.json
  apps/chat-messages-store/src/index.js
  cli/internal/goapp/apps.go
  go.work
  go.work.sum
Due: none

feat: finish refactor
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/chat-messages-store/cmd/main.go
  apps/parser/internal/commands/nuke/nuke.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/chat-messages-store/chat-messages-store.go
  libs/bus-core/subject-names.go
Due: publish-parser

update lock and remove forgotten node app
  cli/internal/cmds/dev/nodejs/nodejs.go
  pnpm-lock.yaml
Due: none

feat: chat-messages-store golang (#755)
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/chat-messages-store/Dockerfile
  apps/chat-messages-store/cmd/main.go
  apps/chat-messages-store/go.mod
  apps/chat-messages-store/go.sum
  apps/chat-messages-store/package.json
  apps/chat-messages-store/src/index.js
  apps/parser/internal/commands/nuke/nuke.go
  cli/internal/cmds/dev/nodejs/nodejs.go
  cli/internal/goapp/apps.go
  go.work
  go.work.sum
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/chat-messages-store/chat-messages-store.go
  libs/bus-core/subject-names.go
  pnpm-lock.yaml
Due: publish-parser

chore: update sum and mod files
  apps/api-gql/go.mod
  apps/api-gql/go.sum
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/bots/go.sum
  apps/discord/go.mod
  apps/discord/go.sum
  apps/emotes-cacher/go.mod
  apps/emotes-cacher/go.sum
  apps/events/go.mod
  apps/events/go.sum
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/timers/go.mod
  apps/timers/go.sum
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/websockets/go.mod
  apps/websockets/go.sum
  apps/ytsr/go.mod
  go.work
  go.work.sum
  libs/baseapp/go.mod
  libs/baseapp/go.sum
  libs/bus-core/go.mod
  libs/bus-core/go.sum
  libs/cache/go.mod
  libs/cache/go.sum
  libs/pubsub/go.mod
  libs/pubsub/go.sum
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

fix(chat-messages-store): correct dockerfile
  apps/chat-messages-store/Dockerfile
Due: none

fix: correct path to grpc lib in cli
  cli/go.mod
  libs/migrations/go.mod
  libs/migrations/go.sum
Due: none

fix(migrations): add missed grpc lib to dockerfile
  libs/migrations/Dockerfile
Due: none

feat: add category bound responses of commands
  apps/api-gql/gqlgen.yml
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/api-gql/schema/commands.graphqls
  apps/api-gql/schema/schema.graphqls
  apps/api-gql/schema/twitch.graphqls
  apps/api/internal/impl_protected/twitch/twitch.go
  apps/parser/internal/commands/commands.go
  frontend/dashboard/package.json
  frontend/dashboard/src/api/commands/commands.ts
  frontend/dashboard/src/components/twitch-category-search.vue
  frontend/dashboard/src/features/commands/composables/use-command-edit.ts
  frontend/dashboard/src/features/commands/ui/edit-modal.vue
  libs/cache/twitch/channels.go
  libs/cache/twitch/games.go
  libs/gomodels/channels_commands_responses.go
  libs/migrations/migrations/20240708094808_command_response_bind_category.sql
  pnpm-lock.yaml
Due: publish-api, publish-parser

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

feat: ffz settings in the chat widget
  frontend/dashboard/src/components/dashboard/chat.vue
Due: none

feat(dashboard): ffz settings in the chat widget (#756)
  frontend/dashboard/src/components/dashboard/chat.vue
Due: none

chore: add index of channel in events list
  libs/migrations/migrations/20240807224225_add_events_list_channel_id_index.sql
Due: none

chore(api): adjust deadline time for streamers stats
  apps/api/internal/impl_unprotected/stats/stats.go
  libs/twitch/twitch.go
Due: publish-api

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
