Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(dashboard): immediate save kappagen settings on settings open
  apps/api/internal/impl_protected/overlays/kappagen.go
  frontend/dashboard/src/components/overlays/kappagen.vue
  frontend/dashboard/src/components/overlays/tts.vue
  frontend/dashboard/src/components/overlays/tts/settings.vue
  frontend/dashboard/src/pages/overlays/kappagen/Kappagen.vue
  frontend/dashboard/src/pages/overlays/kappagen/settingsAnimations.vue
  frontend/dashboard/src/pages/overlays/kappagen/settingsEvents.vue
  frontend/dashboard/src/pages/overlays/kappagen/settingsGeneral.vue
  frontend/dashboard/src/pages/overlays/kappagen/store.ts
  frontend/dashboard/vite.config.ts
Due: publish-api

kruto
  apps/api/app/app.go
  apps/bots/app/app.go
  apps/bots/cmd/main.go
  apps/discord/app/app.go
  apps/discord/cmd/main.go
  apps/emotes-cacher/app/app.go
  apps/emotes-cacher/cmd/main.go
  apps/events/app/app.go
  apps/events/cmd/main.go
  apps/scheduler/app/app.go
  apps/scheduler/cmd/main.go
  apps/timers/app/app.go
  apps/timers/cmd/main.go
  apps/tokens/app/app.go
  apps/tokens/cmd/main.go
  apps/websockets/app/app.go
  apps/websockets/cmd/main.go
  apps/ytsr/app/app.go
  apps/ytsr/cmd/main.go
  cli/go.mod
  cli/go.sum
  cli/internal/cmds/build/build.go
  cli/internal/cmds/dev/dev.go
  cli/internal/cmds/dev/goapps/golang.go
  cli/internal/cmds/migrations/create.go
  cli/internal/cmds/migrations/migrate.go
  libs/config/config.go
  package.json
Due: publish-api, publish-bots, publish-scheduler

kruto
  apps/api/app/app.go
  cli/internal/cmds/dev/dev.go
  cli/internal/cmds/dev/goapps/golang.go
  cli/internal/shell/execCommand.go
  cli/internal/watcher/watcher.go
Due: publish-api

kruto
  apps/eventsub/cmd/main.go
  cli/internal/cmds/dev/dev.go
  cli/internal/cmds/dev/goapps/app.go
  cli/internal/cmds/dev/goapps/golang.go
  cli/internal/shell/execCommand.go
Due: publish-eventsub

kruto
  cli/internal/cmds/dev/dev.go
Due: none

kruto
  README.md
  cli/internal/cmds/dependencies/gobinaries.go
  cli/internal/cmds/proxy/proxy.go
Due: none

kruto
  README.md
Due: none

kruto
  cli/internal/cmds/generate/generate.go
Due: none

kruto
  cli/internal/cmds/dependencies/dependencies.go
  cli/internal/cmds/dependencies/protoc.go
Due: none

fix(overlays): brb font color
  libs/gomodels/channel_modules_settings_be_right_back.go
Due: none

refactor(overlays):
  .editorconfig
  frontend/dashboard/src/assets/icons/integrations/github.svg
  frontend/dashboard/src/layout/buttons/linkButton.vue
  frontend/overlays/src/components/brb-timer.vue
  frontend/overlays/src/composables/brb/use-brb-iframe.ts
  frontend/overlays/src/composables/brb/use-brb-settings.ts
  frontend/overlays/src/composables/brb/use-brb-socket.ts
  frontend/overlays/src/composables/kappagen/kappagen-animations.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-builder.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-iframe.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-socket.ts
  frontend/overlays/src/composables/tmi/use-bettertv.ts
  frontend/overlays/src/composables/tmi/use-chat-tmi.ts
  frontend/overlays/src/composables/tmi/use-emotes.ts
  frontend/overlays/src/composables/tmi/use-ffz.ts
  frontend/overlays/src/composables/tmi/use-message-helpers.ts
  frontend/overlays/src/composables/tmi/use-seven-tv.ts
  frontend/overlays/src/composables/tmi/use-third-party-emotes.ts
  frontend/overlays/src/pages/overlays/be-right-back.vue
  frontend/overlays/src/pages/overlays/chat.vue
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/overlays/src/types.ts
  frontend/overlays/tsconfig.json
  libs/fontsource/src/api.ts
  libs/fontsource/src/composable/use-fontsource.ts
  libs/frontend-chat/package.json
  libs/frontend-chat/src/components/chat-box.vue
  libs/frontend-chat/src/components/message-content.vue
  libs/frontend-chat/src/index.ts
Due: none

chore: bump dependencies
  apps/dota/package.json
  apps/eval/package.json
  apps/integrations/package.json
  frontend/dashboard/package.json
  frontend/landing/astro.config.ts
  frontend/landing/package.json
  frontend/landing/src/components/home/Hero.astro
  frontend/landing/src/env.d.ts
  frontend/landing/src/layouts/Header.astro
  frontend/overlays/package.json
  frontend/public-page/package.json
  libs/config/package.json
  libs/crypto/package.json
  libs/fontsource/package.json
  libs/frontend-chat/package.json
  libs/frontend-chat/vite.config.ts
  libs/grpc/package.json
  libs/pubsub/package.json
  package.json
  pnpm-lock.yaml
Due: publish-dota, publish-eval

refactor(overlays): improve code (#505)
  .editorconfig
  frontend/dashboard/src/assets/icons/integrations/github.svg
  frontend/dashboard/src/layout/buttons/linkButton.vue
  frontend/overlays/src/components/brb-timer.vue
  frontend/overlays/src/composables/brb/use-brb-iframe.ts
  frontend/overlays/src/composables/brb/use-brb-settings.ts
  frontend/overlays/src/composables/brb/use-brb-socket.ts
  frontend/overlays/src/composables/kappagen/kappagen-animations.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-builder.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-iframe.ts
  frontend/overlays/src/composables/kappagen/use-kappagen-socket.ts
  frontend/overlays/src/composables/tmi/use-bettertv.ts
  frontend/overlays/src/composables/tmi/use-chat-tmi.ts
  frontend/overlays/src/composables/tmi/use-emotes.ts
  frontend/overlays/src/composables/tmi/use-ffz.ts
  frontend/overlays/src/composables/tmi/use-message-helpers.ts
  frontend/overlays/src/composables/tmi/use-seven-tv.ts
  frontend/overlays/src/composables/tmi/use-third-party-emotes.ts
  frontend/overlays/src/pages/overlays/be-right-back.vue
  frontend/overlays/src/pages/overlays/chat.vue
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/overlays/src/types.ts
  frontend/overlays/tsconfig.json
  libs/fontsource/src/api.ts
  libs/fontsource/src/composable/use-fontsource.ts
  libs/frontend-chat/package.json
  libs/frontend-chat/src/components/chat-box.vue
  libs/frontend-chat/src/components/message-content.vue
  libs/frontend-chat/src/index.ts
Due: none

chore: bump dependencies (#506)
  apps/dota/package.json
  apps/eval/package.json
  apps/integrations/package.json
  frontend/dashboard/package.json
  frontend/landing/astro.config.ts
  frontend/landing/package.json
  frontend/landing/src/components/home/Hero.astro
  frontend/landing/src/env.d.ts
  frontend/landing/src/layouts/Header.astro
  frontend/overlays/package.json
  frontend/public-page/package.json
  libs/config/package.json
  libs/crypto/package.json
  libs/fontsource/package.json
  libs/frontend-chat/package.json
  libs/frontend-chat/vite.config.ts
  libs/grpc/package.json
  libs/pubsub/package.json
  package.json
  pnpm-lock.yaml
Due: publish-dota, publish-eval

refactor(public-page): improve code
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/public-page/index.html
  frontend/public-page/postcss.config.js
  frontend/public-page/public/twir.svg
  frontend/public-page/src/App.vue
  frontend/public-page/src/api/commands.ts
  frontend/public-page/src/api/community.ts
  frontend/public-page/src/api/index.ts
  frontend/public-page/src/api/profile.ts
  frontend/public-page/src/api/song-requests.ts
  frontend/public-page/src/api/tts-settings.ts
  frontend/public-page/src/api/users.ts
  frontend/public-page/src/app.vue
  frontend/public-page/src/components/layout.vue
  frontend/public-page/src/components/navigation.vue
  frontend/public-page/src/components/profile.vue
  frontend/public-page/src/helpers.ts
  frontend/public-page/src/layout/Profile.vue
  frontend/public-page/src/main.ts
  frontend/public-page/src/pages/Users.vue
  frontend/public-page/src/pages/commands.vue
  frontend/public-page/src/pages/song-requests.vue
  frontend/public-page/src/pages/tts-settings.vue
  frontend/public-page/src/pages/users.vue
  frontend/public-page/src/routes.ts
  frontend/public-page/tsconfig.json
  libs/frontend-chat/vite.config.ts
Due: none

chore(tools): remove `fx.NopLogger`
  apps/api/cmd/main.go
  apps/bots/cmd/main.go
  apps/discord/cmd/main.go
  apps/emotes-cacher/cmd/main.go
  apps/events/cmd/main.go
  apps/scheduler/cmd/main.go
  apps/timers/cmd/main.go
  apps/tokens/cmd/main.go
  apps/websockets/cmd/main.go
  apps/ytsr/cmd/main.go
Due: publish-api, publish-bots, publish-scheduler

Kruto
  cli/internal/cmds/build/build.go
  cli/internal/cmds/build/helpers.go
  cli/internal/cmds/dependencies/dependencies.go
  cli/internal/cmds/dependencies/gobinaries.go
  libs/grpc/gen.ts
Due: none

Kruto
  package.json
Due: none

Kruto
  apps/api/app/app.go
  apps/bots/app/app.go
  apps/discord/app/app.go
  apps/emotes-cacher/app/app.go
  apps/events/app/app.go
  apps/scheduler/app/app.go
  apps/timers/app/app.go
  apps/tokens/app/app.go
  apps/websockets/app/app.go
  apps/ytsr/app/app.go
Due: publish-api, publish-bots, publish-scheduler

chore: fix list
  README.md
Due: none

chore: typo fix README.md (#498)
  README.md
Due: none

Kruto
  README.md
  cli/go.mod
  cli/go.sum
  cli/internal/cmds/dependencies/dependencies.go
  cli/main.go
  go.work.sum
Due: none

Kruto
  cli/internal/cmds/dependencies/binaries/binaries.go
  cli/internal/cmds/dependencies/binaries/gobinaries.go
  cli/internal/cmds/dependencies/binaries/protoc.go
  cli/internal/cmds/dependencies/dependencies.go
  cli/internal/cmds/dev/dev.go
  cli/internal/cmds/dev/frontendapps/app.go
  cli/internal/cmds/dev/frontendapps/frontendapps.go
  cli/internal/cmds/dev/goapps/app.go
  cli/main.go
Due: none

Kruto
  cli/internal/cmds/dev/dev.go
  cli/internal/cmds/dev/golang/golang.go
Due: none

Kruto
  base.Dockerfile
  cli/internal/cmds/generate/generate.go
  libs/pubsub/package.json
  libs/pubsub/src/index.d.ts
  libs/pubsub/src/index.js
  libs/pubsub/src/index.ts
  tools/dev.go
  tools/go.mod
  tools/go.sum
  tools/tokens.ts
Due: none

Kruto
  base.Dockerfile
  cli/go.mod
  cli/go.sum
  go.work
Due: none

Kruto
  cli/internal/cmds/dependencies/binaries/protoc.go
Due: none

Kruto
  cli/internal/cmds/dependencies/binaries/binaries.go
  cli/internal/cmds/dependencies/dependencies.go
Due: none

Kruto
  cli/internal/cmds/dependencies/binaries/binaries.go
Due: none

Kruto
  cli/internal/cmds/dependencies/binaries/gobinary/gobinary.go
Due: none

Kruto
  base.Dockerfile
Due: none

Kruto
  README.md
Due: none
