Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

fix(stack): correct slot for eventsub
  docker-compose.stack.yml
Due: none

chore(eventsub): add replica log on update shard
  apps/eventsub/internal/manager/on_start.go
  apps/eventsub/internal/manager/websocket.go
Due: publish-eventsub

fix(eventsub): correct shardId
  apps/eventsub/internal/manager/on_start.go
Due: publish-eventsub

chore(twitch): add spans for create client
  libs/twitch/twitch.go
Due: none

fix(api-gql): correctly create donatepay integration on save
  apps/api-gql/internal/services/donatepay_integration/service.go
Due: none

chore(api-gql): increment variables count to 50
  apps/api-gql/internal/services/variables/variables.go
Due: none

refactor(tokens): migrate to pgx tokens repo
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/http/routes/auth/auth.go
  apps/api-gql/internal/delivery/http/routes/auth/post-code.go
  apps/api-gql/internal/server/server.go
  apps/tokens/app/app.go
  apps/tokens/internal/bus_listener/bus_listener.go
  libs/baseapp/basefxapp.go
  libs/repositories/tokens/datasources/postgres/pgx.go
  libs/repositories/tokens/errors.go
  libs/repositories/tokens/repository.go
Due: none

chore(dashboard): change disabled bot button look
  frontend/dashboard/src/assets/images/circle.svg
  frontend/dashboard/src/layout/stats/stats.vue
Due: none

chore(bots): add ensure user and other handlers spans
  apps/bots/internal/messagehandler/ensureuser.go
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

refactor(bots): use repositories for ensure user
  apps/bots/app/app.go
  apps/bots/internal/messagehandler/ensureuser.go
  apps/bots/internal/messagehandler/messagehandler.go
  libs/repositories/users/model/model.go
  libs/repositories/users/pgx/pgx.go
  libs/repositories/users/users.go
  libs/repositories/users_stats/datasources/postgres/pgx.go
  libs/repositories/users_stats/errors.go
  libs/repositories/users_stats/model/model.go
  libs/repositories/users_stats/users_stats.go
Due: publish-bots

fix(bots): count messages only on online stream
  apps/bots/internal/messagehandler/ensureuser.go
Due: publish-bots

feat(parser): add opentelemetry for commands and variables
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/tracer/tracer.go
  apps/parser/internal/variables/tracer/tracer.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

feat(parser): do not re-request user stats if not needed
  apps/parser/internal/commands/commands.go
  apps/parser/internal/types/parse_context.go
  apps/parser/internal/variables/user/emotes.go
  apps/parser/internal/variables/user/messages.go
  apps/parser/internal/variables/user/reputation.go
  apps/parser/internal/variables/user/songs_requested.go
  apps/parser/internal/variables/user/used_channels_points.go
  apps/parser/internal/variables/user/watched.go
  apps/parser/internal/variables/variables.go
  libs/migrations/postgres/20250817182437_add_requested_songs_missed_index_for_user.sql
Due: publish-parser

fix(parser): add missed `userChannelStats` propagate
  apps/parser/internal/commands/commands.go
Due: publish-parser

fix(parser): correct `user.songs.requested.count` variable
  apps/parser/internal/variables/user/songs_requested.go
Due: publish-parser

chore: upgrade bun version
  .bun-version
  package.json
Due: none

feat: add index on `users_online("channelId")`
  libs/migrations/postgres/20250822174243_users_online_add_channel_id_idx.sql
Due: none

feat: add indexes on `channel_roles` and `channels_roles_users` tables
  libs/migrations/postgres/20250822180616_channels_roles_add_indexes.sql
Due: none

chore(bots): remove onlineonly giveaways, make it offline also
  apps/bots/internal/messagehandler/handle_giveaways.go
Due: publish-bots

feat: use alpine for integrations
  apps/integrations/Dockerfile
Due: none

chore: back to plain go setup job
  .github/workflows/dockerv3.yml
Due: none

chore: correct path for setup go cache
  .github/workflows/dockerv3.yml
Due: none

chore: try bun autoinstall
  .github/workflows/dockerv3.yml
  bunfig.toml
Due: none

chore: revert bun autoinstall
  .github/workflows/dockerv3.yml
  bunfig.toml
Due: none

chore: force download modules before build
  .github/workflows/dockerv3.yml
Due: none

chore: test build without own cli
  .github/workflows/dockerv3.yml
Due: none

chore: test build without own cli №2
  .github/workflows/dockerv3.yml
Due: none

chore(ci): remove `Test build without own cli`
  .github/workflows/dockerv3.yml
Due: none

feat(ci): install js deps only if needed
  .github/workflows/dockerv3.yml
Due: none

fix(ci): always install bun
  .github/workflows/dockerv3.yml
Due: none

chore(ci): output gocache folder on build
  .gitignore
  cli/internal/goapp/goapp.go
Due: none

chore(ci): test separate cache of go build
  .github/workflows/dockerv3.yml
Due: none

chore(ci): test separate cache of go build second
  .github/workflows/dockerv3.yml
Due: none

chore(ci): remove mod cache
  .github/workflows/dockerv3.yml
Due: none

chore(ci): test inline cache for docker
  .github/workflows/dockerv3.yml
Due: none

chore(bots): update start log
  apps/bots/app/app.go
Due: publish-bots

fix(web): add missed valorant module
  bun.lock
  web/nuxt.config.ts
  web/package.json
Due: none

fix(web): add missed copy into docker file
  web/Dockerfile
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
