Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/api
    dockerfile: ./apps/api/Dockerfile

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/migrations
    dockerfile: ./libs/prisma/Dockerfile

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.tsuwari.tk/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile

chore: use droneio instead of gh actions (#75)
  .drone.yml
  .github/workflows/docker_api.yml
  .github/workflows/docker_bots.yml
  .github/workflows/docker_dota.yml
  .github/workflows/docker_eventsub.yml
  .github/workflows/docker_migrations.yml
  .github/workflows/docker_parser.yml
  .github/workflows/docker_scheduler.yml
  .github/workflows/docker_streamstatus.yml
  apps/api/package.json
Due: publish-api

chore(scheduler): add error logging
  apps/scheduler/src/online-users/online-users.service.ts
Due: publish-scheduler

chore(drone): add cache
  .drone.yml
Due: none

chore(scheduler): add log of stream
  apps/scheduler/src/online-users/online-users.service.ts
Due: publish-scheduler

fix(scheduler): correct use redis object
  apps/scheduler/src/online-users/online-users.service.ts
Due: publish-scheduler

chore(drone): do not use cache for build
  package.json
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

fix(parser): use toRedisJson for `random.online.user`
  apps/parser/src/variables/modules/random.ts
Due: publish-parser

chore: update renovate commitBody
  .github/renovate.json
Due: none

chore(drone): update paths for triggering ci
  .drone.yml
Due: none

feat(frontend): improvements
  apps/frontend/src/assets/buttons/go.svg
  apps/frontend/src/assets/kappa_start.gif
  apps/frontend/src/components/integrations/Spotify.vue
  apps/frontend/src/components/landing/Features.vue
  apps/frontend/src/components/landing/Footer.vue
  apps/frontend/src/components/landing/Statistics.vue
  apps/frontend/src/components/landing/Streamers.vue
  apps/frontend/src/components/landing/Team.vue
  apps/frontend/src/components/landing/UseIt.vue
  apps/frontend/src/components/landing/Welcome.vue
  apps/frontend/src/components/layout/MainNavBar.vue
  apps/frontend/src/pages/Landing.vue
Due: none

feat(eventsub): subscribe to revoke events
  apps/eventsub/src/app.module.ts
  apps/eventsub/src/eventsub/eventsub.service.ts
  apps/eventsub/src/handler/handler.module.ts
  apps/eventsub/src/handler/handler.service.ts
Due: publish-eventsub

feat: add nuke command
  apps/bots/src/functions/storeUserMessage.ts
  apps/bots/src/libs/bot.ts
  apps/bots/src/nest/app.controller.ts
  apps/parser/src/app.service.ts
  apps/parser/src/defaultCommands/commands/nuke.ts
  apps/parser/src/defaultCommands/commands/spam.ts
  apps/parser/src/defaultCommands/index.ts
  libs/redis/src/schemas/index.ts
  libs/redis/src/schemas/message.ts
  libs/shared/src/lib/nats.ts
Due: publish-bots, publish-parser

refactor(parser): refact `getUserPermissions` method
  apps/parser/src/helpers.service.ts
Due: publish-parser

chore: use cache for turbo
  package.json
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(prisma): import types instead of values
  libs/prisma/package.json
  libs/redis/src/schemas/command.ts
Due: publish-migrations

chore: delete go
  go/streamstatus/go.mod
  go/streamstatus/go.sum
  go/streamstatus/main.go
Due: none

chore: update renovate config
  .github/renovate.json
Due: none

feat(parser): add lodash support to eval
  apps/parser/src/variables/modules/customvar.ts
Due: publish-parser

fix: use variables ids instead of names in api and parser
  apps/api/src/v1/variables/variables.service.ts
  apps/parser/src/variables/cache.ts
Due: publish-api, publish-parser

chore: maintain lockfile
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore: maintain lockfile
  .github/renovate.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore: update deps
  apps/api/package.json
  apps/bots/package.json
  apps/eventsub/package.json
  apps/frontend/package.json
  apps/parser/package.json
  apps/scheduler/package.json
  apps/streamstatus/package.json
  libs/prisma/package.json
  libs/shared/package.json
  package.json
  pnpm-lock.yaml
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore: add renovate workflow
  .github/workflows/renovate.yml
Due: none

chore: update renovate action
  .github/workflows/renovate.yml
Due: none

chore: add version to renovate workflow
  .github/workflows/renovate.yml
Due: none

chore(dependency): update renovatebot/github-action action to v32.150.0
  .github/workflows/renovate.yml
Due: none

chore(dependency): update actions/checkout action to v3
  .github/workflows/renovate.yml
Due: none

chore(dependency): update renovatebot/github-action action to v32.150.0 (#88)
  .github/workflows/renovate.yml
Due: none

chore(dependency): update actions/checkout action to v3 (#89)
  .github/workflows/renovate.yml
Due: none

chore: update renovate cron
  .github/workflows/renovate.yml
Due: none

fix(dependency): pin dependencies
  apps/api/package.json
  apps/dota/package.json
  apps/eventsub/package.json
  apps/frontend/package.json
  apps/parser/package.json
  apps/scheduler/package.json
  libs/redis/package.json
  libs/shared/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update dependency vue-tsc to v0.39.5
  apps/frontend/package.json
Due: none

chore(dependency): update dependency @intlify/vite-plugin-vue-i18n to v6
  apps/frontend/package.json
Due: none

chore(dependency): update renovatebot/github-action action to v32.150.4
  .github/workflows/renovate.yml
Due: none

fix(dependency): pin dependencies (#90)
  apps/api/package.json
  apps/dota/package.json
  apps/eventsub/package.json
  apps/frontend/package.json
  apps/parser/package.json
  apps/scheduler/package.json
  libs/redis/package.json
  libs/shared/package.json
  pnpm-lock.yaml
Due: publish-api, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus

chore(dependency): update renovatebot/github-action action to v32.150.4 (#92)
  .github/workflows/renovate.yml
Due: none

chore(dependency): update dependency postcss to v8.4.16
  apps/frontend/package.json
Due: none

chore: add prettier
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: add vue to prettier
  .vscode/settings.json
Due: none

Path conditions:
  publish-api: any of: package.json, pnpm-lock.yaml, apps/api/**/*
  publish-bots: any of: package.json, pnpm-lock.yamls, apps/bots/**/*
  publish-dota: any of: package.json, pnpm-lock.yaml, apps/dota/**/*
  publish-eventsub: any of: package.json, pnpm-lock.yaml, apps/eventsub/**/*
  publish-migrations: any of: package.json, pnpm-lock.yaml, libs/prisma/**/*
  publish-parser: any of: package.json, pnpm-lock.yaml, apps/parser/**/*
  publish-scheduler: any of: package.json, pnpm-lock.yaml, apps/scheduler/**/*
  publish-streamstatus: any of: package.json, pnpm-lock.yaml, apps/streamstatus/**/*
