Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

chore(dockerfile): lock pnpm version
  Dockerfile
Due: none

feat: add `top`, `me`, `follow` as default commands
  apps/api/internal/api/auth/checkUser.go
  apps/api/internal/middlewares/attachUser.go
  apps/api/internal/middlewares/create_roles_and_commands.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/stats/top_emotes.go
  apps/parser/internal/commands/stats/top_emotes_users.go
  apps/parser/internal/commands/stats/top_messages.go
  apps/parser/internal/commands/stats/top_points.go
  apps/parser/internal/commands/stats/top_time.go
  apps/parser/internal/commands/stats/user_followage.go
  apps/parser/internal/commands/stats/user_followsince.go
  apps/parser/internal/commands/stats/user_me.go
  apps/parser/internal/commands/stats/user_watch_time.go
  apps/parser/internal/variables/top/emotes/user_emotes.go
  frontend/dashboard/components/layout/sidebar.tsx
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/migrations/1680516903009-add_stats_command_module.ts
  libs/typeorm/src/migrations/1680519022143-drop_top,follows,stats,song-commands.ts
Due: publish-api, publish-migrations, publish-parser

feat: make song as built-in command
  .idea/jsLibraryMappings.xml
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/song/song.go
  apps/parser/internal/variables/song/song.go
  frontend/dashboard/components/layout/sidebar.tsx
  libs/typeorm/src/migrations/1680944134714-drop_songs.ts
Due: publish-migrations, publish-parser

chore: rename songrequests to songs internally
  frontend/dashboard/components/layout/sidebar.tsx
  go.work
  libs/permissions/go.mod
  libs/permissions/main.go
  libs/permissions/roles/roles.go
  libs/typeorm/src/entities/ChannelCommand.ts
  libs/typeorm/src/migrations/1680944512410-rename_songrequests_to_songs.ts
Due: publish-migrations

fix(parser): correct module for songs commands
  apps/parser/internal/commands/song/song.go
  apps/parser/internal/commands/songrequest/youtube/list.go
  apps/parser/internal/commands/songrequest/youtube/skip.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
  apps/parser/internal/commands/songrequest/youtube/wrong.go
Due: publish-parser

chore(api): add status code logger of faceit integration
  apps/api/internal/api/v1/integrations/faceit/service.go
Due: publish-api

chore(ytsr): update ytsr to latest version
  apps/ytsr/package.json
  pnpm-lock.yaml
Due: none

chore(ytsr): add `SIGINT` and `SIGTERM` listeners
  apps/ytsr/src/index.ts
Due: none

chore(ytsr): add error logging for requests
  apps/ytsr/src/index.ts
Due: none

chore(ytsr): patch ytdl-core to fix error on getting song by link
  package.json
  patches/ytdl-core@4.11.3.patch
Due: none

chore: maintain lockfile
  pnpm-lock.yaml
Due: none

feat: add support of spotify links to song requests
  apps/ytsr/package.json
  apps/ytsr/src/index.ts
  libs/config/src/index.ts
  package.json
  patches/ytdl-core@4.11.3.patch
  pnpm-lock.yaml
Due: none

chore(ytsr): add missed config lib to docker image
  Dockerfile
Due: none

chore: api add logging of headers to faceit integrations
  apps/api/internal/api/v1/integrations/faceit/service.go
Due: publish-api

chore(bots): do not set processed of greetings to false when stream goes offline
  apps/bots/internal/handlers/streams_offline.go
Due: publish-bots

feat(bots): send greetings only on online streams
  apps/bots/internal/bots/handlers/message_greetings.go
Due: publish-bots

fix: correctly parse valorant stats
  apps/parser/internal/variablescache/valorant.go
Due: publish-parser

feat: add accountage and built-in command
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/stats/user_age.go
  apps/parser/internal/variables/user/age/age.go
  libs/typeorm/src/migrations/1681298402900-add_accountage.ts
Due: publish-migrations, publish-parser

chore(parser): add logging of error for `game` command
  apps/parser/internal/commands/channel/game/game.go
Due: publish-parser

fix(parser): get channel info for title and game commands for correct update info
  apps/parser/internal/commands/channel/game/game.go
  apps/parser/internal/commands/channel/title/title.go
Due: publish-parser

feat: use odesli for requesting songs by links
  apps/ytsr/package.json
  apps/ytsr/src/index.ts
  libs/config/src/index.ts
  pnpm-lock.yaml
Due: none

fix(ytsr): correct handle links in message
  apps/ytsr/src/index.ts
Due: none

chore(parser): update go helix to latest version and remove unnecessary call of channel info
  apps/parser/internal/commands/channel/game/game.go
  apps/parser/internal/commands/channel/title/title.go
  libs/twitch/go.mod
Due: publish-parser

chore: sync go mods
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/bots/go.sum
  apps/events/go.mod
  apps/events/go.sum
  apps/eventsub/go.mod
  apps/eventsub/go.sum
  apps/parser/go.mod
  apps/parser/go.sum
  apps/scheduler/go.mod
  apps/scheduler/go.sum
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/watched/go.mod
  apps/watched/go.sum
  libs/twitch/go.sum
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

feat(parser): add built-in `uptime` command
  apps/parser/internal/commands/stats/uptime.go
  apps/parser/internal/variables/stream/uptime/uptime.go
  libs/typeorm/src/migrations/1682788876045-add_uptime.ts
Due: publish-migrations, publish-parser

chore(parser): add missed `uptime` command registration
  apps/parser/internal/commands/commands.go
Due: publish-parser

feat: add chat reader into tts
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/message_tts.go
  frontend/dashboard/components/overlays/tts.tsx
  libs/types/src/api.d.ts
  libs/types/types/api/modules/tts.go
Due: publish-bots

fix(scheduler): correctly stat online user, and improve code readability
  apps/scheduler/internal/timers/online.go
Due: publish-scheduler

fix(parser): do not read twitch emotes in tts
  apps/parser/internal/commands/tts/say.go
Due: publish-parser

feat(bots): use goroutines pool for chat messages
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/bots/handlers/handlers.go
  apps/bots/internal/bots/handlers/message.go
Due: publish-bots

chore(scheduler): mark wg as done when cannot create token
  apps/scheduler/internal/timers/online.go
Due: publish-scheduler

chore(bots): do not copy chat `Message` struct for each function, instead share one
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/message_command.go
  apps/bots/internal/bots/handlers/message_emotes.go
  apps/bots/internal/bots/handlers/message_greetings.go
  apps/bots/internal/bots/handlers/message_keywods.go
  apps/bots/internal/bots/handlers/message_tts.go
Due: publish-bots

fix(scheduler): possible shared broadcaster user id in online
  apps/scheduler/internal/timers/online.go
Due: publish-scheduler

feat: use own goroutines pool for parser and bots
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/bots/handlers/handlers.go
  apps/parser/cmd/main.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/commands/commands.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/parser/internal/variables/variables.go
  go.work
  libs/gopool/go.mod
  libs/gopool/gopool.go
Due: publish-bots, publish-parser

chore(gopool): add ability to close pool
  libs/gopool/gopool.go
Due: none

chore(gopool): do not use pointers for mutex
  libs/gopool/gopool.go
Due: none

feat(parser): check user on bot admin in permissions func
  apps/parser/internal/permissions/permissions.go
Due: publish-parser

chore(dockerfile): add apk update command
  Dockerfile
Due: none

chore(dockerfile): remove `apk update`
  Dockerfile
Due: none
