Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

upd rageywide
  apps/api/internal/api/auth/service.go
Due: publish-api

chore(parser): correct error logging for cooldowns
  apps/parser/internal/grpc_impl/grpc_impl.go
Due: publish-parser

upd chatting
  apps/api/go.mod
  go.work
Due: publish-api

feat(public): add song requested time to public page
  apps/api/internal/api/v1/public/song_requests/service.go
  frontend/public/pages/[channelName]/song-requests.tsx
Due: publish-api

chore(dashboard): fix system types of roles
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/components/roles/modal.tsx
  frontend/dashboard/pages/community/roles.tsx
Due: none

chore(parser): remove unused import
  apps/parser/internal/commands/dota/addacc_command.go
Due: publish-parser

fix(parser): add check for user badges
  apps/api/internal/api/v1/roles/users/service.go
  apps/parser/internal/permissions/permissions.go
  libs/gomodels/channels_commands.go
Due: publish-api, publish-parser

feat(public): add icons for system roles
  frontend/public/pages/[channelName]/[[...commands]].tsx
Due: none

feat(public): add commands groups
  apps/api/internal/api/v1/public/commands/service.go
  frontend/public/components/layout/sidebar.tsx
  frontend/public/pages/[channelName]/[[...commands]].tsx
  frontend/public/pages/_app.tsx
  pnpm-lock.yaml
Due: publish-api

fix(public): use type instead of name for permissions
  apps/api/internal/api/v1/public/commands/service.go
  frontend/public/pages/[channelName]/[[...commands]].tsx
Due: publish-api

feat: add ability to disallow tts voices
  apps/parser/internal/commands/tts/say.go
  apps/parser/internal/commands/tts/voice.go
  apps/parser/internal/commands/tts/voices.go
  frontend/dashboard/components/overlays/tts.tsx
  libs/types/types/api/modules/tts.go
Due: publish-parser

feat: add ability to disallow emoji reading
  apps/parser/internal/commands/tts/say.go
  frontend/dashboard/components/overlays/tts.tsx
  libs/types/types/api/modules/tts.go
Due: publish-parser

chore(parser): use other regexp for emojis
  apps/parser/internal/commands/tts/say.go
Due: publish-parser

feat: add ignoring of twitch emotes to tts settings
  apps/bots/internal/bots/handlers/message_command.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/tts/say.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  apps/parser/internal/variablescache/variablescache.go
  frontend/dashboard/components/overlays/tts.tsx
  libs/grpc/protos/parser.proto
  libs/types/types/api/modules/tts.go
Due: publish-bots, publish-parser

chore: add arm builds
  .github/workflows/docker.yml
  Dockerfile
Due: none

fix(parser): use correct key for tts emotes replacer
  apps/parser/internal/commands/tts/say.go
Due: publish-parser

chore: do not wait github base image build
  .github/workflows/docker.yml
Due: none

chore(actions): remove `needs` for migrations
  .github/workflows/docker.yml
Due: none

upd rageywide
  .github/workflows/docker-tests.yml
Due: none

upd rageywide
  apps/dota/Dockerfile
  apps/eval/Dockerfile
  apps/eventsub/Dockerfile
  apps/integrations/Dockerfile
  apps/streamstatus/Dockerfile
  apps/websockets/Dockerfile
  apps/ytsr/Dockerfile
  package.json
Due: publish-dota, publish-eventsub, publish-streamstatus, publish-eval

upd rageywide
  apps/api/Dockerfile
  apps/bots/Dockerfile
  apps/dota/Dockerfile
  apps/emotes-cacher/Dockerfile
  apps/eval/Dockerfile
  apps/events/Dockerfile
  apps/eventsub/Dockerfile
  apps/integrations/Dockerfile
  apps/parser/Dockerfile
  apps/scheduler/Dockerfile
  apps/streamstatus/Dockerfile
  apps/timers/Dockerfile
  apps/tokens/Dockerfile
  apps/watched/Dockerfile
  apps/websockets/Dockerfile
  apps/ytsr/Dockerfile
  frontend/dashboard/Dockerfile
  frontend/landing/Dockerfile
  frontend/overlays/Dockerfile
  frontend/public/Dockerfile
Due: publish-api, publish-bots, publish-dota, publish-eventsub, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

upd rageywide
  apps/api/Dockerfile
  apps/bots/Dockerfile
  apps/emotes-cacher/Dockerfile
  apps/events/Dockerfile
  apps/parser/Dockerfile
  apps/scheduler/Dockerfile
  apps/timers/Dockerfile
  apps/tokens/Dockerfile
  apps/watched/Dockerfile
Due: publish-api, publish-bots, publish-parser, publish-scheduler

upd rageywide
  .dockerignore
  .github/workflows/docker-tests.yml
  apps/api/Dockerfile
  apps/bots/Dockerfile
  apps/emotes-cacher/Dockerfile
  apps/events/Dockerfile
  apps/parser/Dockerfile
  apps/scheduler/Dockerfile
  apps/timers/Dockerfile
  apps/tokens/Dockerfile
  apps/watched/Dockerfile
Due: publish-api, publish-bots, publish-parser, publish-scheduler

upd rageywide
  .github/workflows/docker-tests.yml
  apps/api/Dockerfile
Due: publish-api

fix: correctly check user access for dashboard
  .github/workflows/docker.yml
  apps/api/internal/api/auth/service.go
  apps/api/internal/api/v1/roles/users/controller.go
  apps/api/internal/api/v1/roles/users/service.go
  apps/api/internal/middlewares/attachUser.go
  frontend/dashboard/components/appProvider.tsx
  frontend/dashboard/components/layout/sidebar.tsx
Due: publish-api

fix: correctly check user access for dashboard
  .github/workflows/docker-tests.yml
  Dockerfile
  apps/api/Dockerfile
  docker-compose.stack.yml
  pnpm-lock.yaml
Due: publish-api

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
