Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

fix(dashboard): add missed expand for table on mobiles
  frontend/dashboard/src/components/table.vue
Due: none

fix: correct spotify token refresh
  libs/integrations/spotify/spotify.go
Due: none

chore: defer isRetry set in spotify integration
  libs/integrations/spotify/spotify.go
Due: none

fix(bots): correct cache get for moderation
  apps/api/internal/impl_protected/moderation/moderation.go
  apps/bots/internal/messagehandler/handle_moderation.go
Due: publish-api, publish-bots

chore(bots): remove redundant log from moderation
  apps/bots/internal/messagehandler/handle_moderation.go
Due: publish-bots

fix(bots): correctly check user roles
  apps/bots/internal/messagehandler/handle_moderation.go
Due: publish-bots

chore(bots): temporary uncomment populate channels
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

chore(eventsub): back populate to dev
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

chore(eventsub): add maxDelay for subscribe
  apps/eventsub/internal/manager/subscribe.go
Due: publish-eventsub

chore(eventsub): add log about channels
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/manager/populate.go
Due: publish-eventsub

chore(eventsub): start populate in goroutine
  apps/eventsub/internal/manager/manager.go
Due: publish-eventsub

chore(eventsub): remove fixes
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/manager/populate.go
Due: publish-eventsub

initial refactor
  frontend/dashboard/src/components/table.vue
  frontend/dashboard/src/components/ui/tabs/Tabs.vue
  frontend/dashboard/src/components/ui/tabs/TabsContent.vue
  frontend/dashboard/src/components/ui/tabs/TabsList.vue
  frontend/dashboard/src/components/ui/tabs/TabsTrigger.vue
  frontend/dashboard/src/components/ui/tabs/index.ts
  frontend/dashboard/src/features/commands/commands-edit.vue
  frontend/dashboard/src/features/commands/commands.vue
  frontend/dashboard/src/features/commands/composables/use-command-edit-v2.ts
  frontend/dashboard/src/features/commands/ui/form-general.vue
  frontend/dashboard/src/features/commands/ui/form-permissions.vue
  frontend/dashboard/src/features/timers/composables/use-timers-table.ts
  frontend/dashboard/src/features/timers/timers-edit.vue
  frontend/dashboard/src/layout/page-layout.vue
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/plugins/router.ts
Due: none

kruto
  frontend/dashboard/src/components/twitchUsers/twitch-user-select.vue
  frontend/dashboard/src/components/ui/date-picker/date-picker.css
  frontend/dashboard/src/components/ui/date-picker/index.ts
  frontend/dashboard/src/features/commands/ui/form-general.vue
  frontend/dashboard/src/features/commands/ui/form-permissions.vue
  frontend/dashboard/src/features/commands/ui/form-roles-selector.vue
  frontend/dashboard/src/features/commands/ui/form/form-conditions.vue
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
  frontend/dashboard/src/features/commands/ui/form/form-expiration.vue
  frontend/dashboard/src/features/commands/ui/form/form-general.vue
  frontend/dashboard/src/features/commands/ui/form/form-permissions.vue
  frontend/dashboard/src/features/commands/ui/form/form-responses.vue
Due: none

kruto
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/api-gql/schema/commands.graphqls
  frontend/dashboard/package.json
  frontend/dashboard/src/api/commands/commands.ts
  frontend/dashboard/src/api/twitch.ts
  frontend/dashboard/src/components/integrations/seven-tv.vue
  frontend/dashboard/src/components/twitch-category-search-shadcn-multiple.vue
  frontend/dashboard/src/components/twitchUsers/twitch-user-select.vue
  frontend/dashboard/src/components/twitchUsers/twitch-users-select.vue
  frontend/dashboard/src/components/ui/date-picker/date-picker.css
  frontend/dashboard/src/features/admin-panel/audit-logs/ui/audit-filters.vue
  frontend/dashboard/src/features/admin-panel/manage-notifications/ui/notifications-form.vue
  frontend/dashboard/src/features/commands/commands-edit.vue
  frontend/dashboard/src/features/commands/commands.vue
  frontend/dashboard/src/features/commands/composables/use-command-edit-v2.ts
  frontend/dashboard/src/features/commands/composables/use-command-edit.ts
  frontend/dashboard/src/features/commands/ui/command-button.vue
  frontend/dashboard/src/features/commands/ui/edit-modal.vue
  frontend/dashboard/src/features/commands/ui/form-roles-selector.vue
  frontend/dashboard/src/features/commands/ui/form/form-conditions.vue
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
  frontend/dashboard/src/features/commands/ui/form/form-expiration.vue
  frontend/dashboard/src/features/commands/ui/form/form-general.vue
  frontend/dashboard/src/features/commands/ui/form/form-permissions.vue
  frontend/dashboard/src/features/commands/ui/form/form-responses.vue
  frontend/dashboard/src/features/commands/ui/list-actions.vue
  frontend/dashboard/src/features/commands/ui/list.vue
  frontend/dashboard/src/features/greetings/ui/greetings-dialog.vue
  frontend/dashboard/src/features/keywords/composables/use-keywords-table.ts
  frontend/dashboard/src/features/timers/timers-edit.vue
  frontend/dashboard/src/layout/page-layout.vue
  frontend/dashboard/src/locales/en.json
  pnpm-lock.yaml
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

fix(frontend): correct check commands editing
  frontend/dashboard/src/features/commands/commands.vue
  frontend/dashboard/src/features/commands/composables/use-command-edit.ts
  frontend/dashboard/src/features/commands/ui/form/form-expiration.vue
  frontend/dashboard/src/features/commands/ui/form/form-responses.vue
Due: none

feat(frontend): improve command edit page
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/api-gql/schema/commands.graphqls
  frontend/dashboard/src/api/commands/commands.ts
  frontend/dashboard/src/features/commands/commands-edit.vue
  frontend/dashboard/src/features/commands/composables/use-command-edit-v2.ts
  frontend/dashboard/src/features/commands/ui/form-roles-selector.vue
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
  frontend/dashboard/src/features/commands/ui/form/form-expiration.vue
  frontend/dashboard/src/features/commands/ui/form/form-general.vue
  frontend/dashboard/src/features/commands/ui/form/form-permissions.vue
  frontend/dashboard/src/features/community-roles/community-roles-modal.vue
  frontend/dashboard/src/features/community-roles/community-roles.vue
  frontend/dashboard/src/locales/en.json
Due: none

fix(frontend): fix several types issues
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  frontend/dashboard/src/features/commands/commands-edit.vue
  frontend/dashboard/src/features/commands/ui/form/form-expiration.vue
  frontend/dashboard/src/features/commands/ui/form/form-general.vue
  frontend/dashboard/src/features/community-roles/community-roles.vue
Due: none

feat(frontend): redirect to timer after create
  frontend/dashboard/src/features/timers/composables/use-timers-edit.ts
Due: none

feat(frontend): move timers save button to top
  frontend/dashboard/src/features/commands/commands-edit.vue
  frontend/dashboard/src/features/timers/timers-edit.vue
  frontend/dashboard/src/layout/page-layout.vue
Due: none

feat: add apq for api
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/gql/apq-cache/apq-cache.go
  apps/api-gql/internal/gql/gql.go
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  frontend/dashboard/package.json
  frontend/dashboard/src/plugins/urql.ts
  pnpm-lock.yaml
Due: none

feat(dashboard): refactor commands groups modal
  apps/api-gql/internal/gql/resolvers/commands-groups.resolver.go
  apps/api-gql/internal/gql/resolvers/commands.resolver.go
  apps/api-gql/internal/gql/resolvers/timers.resolver.go
  frontend/dashboard/src/components/commands/manageGroups.vue
  frontend/dashboard/src/features/commands/commands-edit.vue
  frontend/dashboard/src/features/commands/commands.vue
  frontend/dashboard/src/features/commands/composables/use-command-edit-v2.ts
  frontend/dashboard/src/features/commands/ui/form/form-general.vue
Due: none

fix(dashboard): correct form for commands
  apps/api-gql/internal/gql/resolvers/commands-groups.resolver.go
  frontend/dashboard/src/features/commands/commands-edit.vue
Due: none

chore: remove apq from gql because it's slow application
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/gql/apq-cache/apq-cache.go
  apps/api-gql/internal/gql/gql.go
  frontend/dashboard/package.json
  frontend/dashboard/src/plugins/urql.ts
  pnpm-lock.yaml
Due: none

Revert "chore: remove apq from gql because it's slow application"
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/gql/apq-cache/apq-cache.go
  apps/api-gql/internal/gql/gql.go
  frontend/dashboard/package.json
  frontend/dashboard/src/plugins/urql.ts
  pnpm-lock.yaml
Due: none
