Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

feat(parser): improve squirrel sql queries
  apps/api/internal/api/v1/community/service.go
  apps/parser/internal/variables/top/top.go
Due: publish-api, publish-parser

fix(bots): correctly join redis key for emotes counter
  apps/bots/internal/bots/handlers/message_emotes.go
Due: publish-bots

feat: cache global 7tv, ffz, bttv emotes
  apps/bots/internal/bots/handlers/message_command.go
  apps/bots/internal/bots/handlers/message_emotes.go
  apps/bots/internal/grpc_impl/grpc_impl.go
  apps/emotes-cacher/internal/emotes/7tv.go
  apps/emotes-cacher/internal/emotes/bttv.go
  apps/emotes-cacher/internal/emotes/ffz.go
  apps/emotes-cacher/internal/grpc_impl/impl.go
  apps/scheduler/src/emotes/emotes.service.ts
  libs/grpc/protos/emotes_cacher.proto
Due: publish-bots, publish-scheduler

chore(dockerfile): try to cache node modules installation
  Dockerfile
Due: none

chore: use own eslint file instead of remote
  .eslintrc
  package.json
  pnpm-lock.yaml
Due: none

chore: revert dockerfile changes
  Dockerfile
Due: none

feat(integrations): reconnect donatepay once in 10 minutes
  apps/integrations/src/services/donatepay.ts
Due: none

chore: fix eslint duplicate rule
  .eslintrc
Due: none

refactor(bots): more memory efficient emotes handler
  apps/bots/internal/bots/handlers/message_emotes.go
Due: publish-bots

fix(integrations): clear timeout for donatepay on disconnect
  apps/integrations/src/services/donatepay.ts
Due: none

feat: add events
  apps/events/Taskfile.yml
  apps/events/cmd/main.go
  apps/events/internal/grpc_impl/events.go
  apps/events/internal/grpc_impl/impl.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/services.go
  libs/gomodels/event.go
  libs/gomodels/event_operation.go
  libs/grpc/protos/events.proto
  libs/typeorm/src/entities/events/event.ts
  libs/typeorm/src/entities/events/eventOperation.ts
Due: publish-migrations

upd RAGEYWIDE
  Taskfile.yml
  apps/events/cmd/main.go
  apps/events/go.mod
  apps/events/go.sum
  apps/events/internal/grpc_impl/events.go
  apps/events/internal/grpc_impl/impl.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/services.go
  go.work
  go.work.sum
  libs/gomodels/event.go
  libs/gomodels/event_operation.go
  libs/grpc/protos/events.proto
  libs/grpc/servers/constants.go
  libs/grpc/servers/constants.ts
  libs/twitch/go.mod
  libs/twitch/go.sum
  libs/typeorm/src/entities/events/event.ts
  libs/typeorm/src/entities/events/eventOperation.ts
Due: publish-migrations

upd RAGEYWIDE
  apps/events/internal/grpc_impl/events.go
  apps/events/internal/grpc_impl/impl.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/ban_random.go
  apps/events/internal/grpc_impl/processor/ban_unban.go
  apps/events/internal/grpc_impl/processor/emoteonly.go
  apps/events/internal/grpc_impl/processor/processor.go
  apps/events/internal/grpc_impl/processor/send_message.go
  apps/events/internal/grpc_impl/processor/submode.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
  apps/events/internal/services.go
  libs/gomodels/event_operation.go
  libs/grpc/protos/events.proto
  libs/typeorm/src/entities/events/event.ts
  libs/typeorm/src/entities/events/eventOperation.ts
Due: publish-migrations

upd RAGEYWIDE
  apps/api/internal/api/v1/events/controller.go
  apps/api/internal/api/v1/events/dto.go
  apps/api/internal/api/v1/events/service.go
  apps/api/internal/api/v1/v1.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/change_category.go
  apps/events/internal/grpc_impl/processor/change_title.go
  apps/events/internal/types.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/mapping.ts
  frontend/dashboard/components/layout/sidebar.tsx
  frontend/dashboard/package.json
  frontend/dashboard/pages/events.tsx
  libs/gomodels/event.go
  libs/typeorm/src/entities/Channel.ts
  libs/typeorm/src/entities/events/Event.ts
  libs/typeorm/src/entities/events/EventOperation.ts
  libs/typeorm/src/index.ts
  pnpm-lock.yaml
Due: publish-api, publish-migrations

upd RAGEYWIDE
  apps/api/internal/api/v1/events/dto.go
  apps/events/internal/grpc_impl/events.go
  apps/events/internal/grpc_impl/impl.go
  apps/events/internal/types.go
  apps/eventsub/src/libs/eventsGrpc.ts
  apps/eventsub/src/libs/middleware.ts
  apps/parser/cmd/main.go
  apps/parser/internal/grpc_impl/grpc_impl.go
  libs/grpc/clients/events.go
  libs/grpc/clients/events.ts
  libs/typeorm/src/entities/events/EventOperation.ts
Due: publish-api, publish-eventsub, publish-migrations, publish-parser

upd RAGEYWIDE
  libs/typeorm/src/migrations/1676039785645-add_events.ts
  libs/typeorm/src/migrations/1676041148799-make_repeat_one_by_default.ts
Due: publish-migrations

upd RAGEYWIDE
  apps/api/internal/api/auth/controller.go
  apps/api/internal/api/v1/events/dto.go
  apps/api/internal/api/v1/events/service.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/ban_unban.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/operationMapping.ts
  libs/gomodels/event_operation.go
Due: publish-api

upd RAGEYWIDE
  apps/bots/cmd/main.go
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/handlers.go
  apps/bots/internal/bots/handlers/message.go
  apps/bots/internal/bots/handlers/types.go
Due: publish-bots

upd RAGEYWIDE
  apps/eventsub/src/libs/middleware.ts
Due: publish-eventsub

upd RAGEYWIDE
  apps/bots/internal/bots/client.go
Due: publish-bots

upd RAGEYWIDE
  apps/integrations/src/libs/eventsGrpc.ts
  apps/integrations/src/services/donatello.ts
  apps/integrations/src/services/donatepay.ts
  apps/integrations/src/services/donationAlerts.ts
  apps/integrations/src/services/streamLabs.ts
Due: none

upd RAGEYWIDE
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/notice.go
Due: publish-bots

upd RAGEYWIDE
  apps/bots/internal/bots/handlers/notice.go
Due: publish-bots

upd RAGEYWIDE
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/reward.tsx
  frontend/dashboard/components/song-requests/settings/general.tsx
Due: none

upd RAGEYWIDE
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/pages/events.tsx
Due: none

upd RAGEYWIDE
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/eventsMapping.ts
Due: none

upd RAGEYWIDE
  apps/events/internal/grpc_impl/impl.go
  apps/events/internal/types.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/eventsMapping.ts
  frontend/dashboard/pages/events.tsx
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
Due: none

upd RAGEYWIDE
  apps/api/internal/api/v1/events/controller.go
  apps/api/internal/api/v1/events/dto.go
  apps/api/internal/api/v1/events/service.go
  apps/integrations/src/libs/sender.ts
  apps/integrations/src/services/donatello.ts
  apps/integrations/src/services/donatepay.ts
  apps/integrations/src/services/donationAlerts.ts
  apps/integrations/src/services/streamLabs.ts
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/pages/events.tsx
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
  frontend/dashboard/services/api/crud.ts
  libs/gomodels/event.go
  libs/gomodels/event_operation.go
  libs/typeorm/src/entities/events/Event.ts
  libs/typeorm/src/entities/events/EventOperation.ts
Due: publish-api, publish-migrations

upd RAGEYWIDE
  .github/workflows/docker.yml
  Dockerfile
  docker-compose.stack.yml
  libs/typeorm/src/migrations/1676121683251-events_make_delay_zero_by_default.ts
Due: publish-migrations

upd RAGEYWIDE
  apps/events/internal/grpc_impl/operations.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/pages/events.tsx
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
Due: none

upd RAGEYWIDE
  apps/api/internal/api/auth/controller.go
  apps/api/internal/api/v1/events/service.go
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  libs/twitch/go.mod
  libs/twitch/go.sum
Due: publish-api

upd RAGEYWIDE
  apps/events/internal/grpc_impl/operations.go
  apps/events/internal/grpc_impl/processor/ban_random.go
  apps/events/internal/grpc_impl/processor/ban_unban.go
  apps/events/internal/grpc_impl/processor/mod_unmod.go
  apps/events/internal/grpc_impl/processor/processor.go
  apps/events/internal/grpc_impl/processor/send_message.go
  apps/events/internal/grpc_impl/processor/vip_unvip.go
  apps/events/internal/types.go
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/operationMapping.ts
  frontend/dashboard/public/locales/en/events.json
  frontend/dashboard/public/locales/ru/events.json
Due: none

upd RAGEYWIDE
  apps/api/internal/api/v1/integrations/lastfm/service.go
Due: publish-api

feat(events): add create greeting operation
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/bots/go.sum
  apps/emotes-cacher/go.mod
  apps/emotes-cacher/go.sum
  apps/events/go.mod
  apps/events/go.sum
  apps/events/internal/grpc_impl/processor/create_greeting.go
  apps/parser/go.mod
  apps/parser/go.sum
  apps/timers/go.mod
  apps/timers/go.sum
  apps/tokens/go.mod
  apps/tokens/go.sum
  apps/watched/go.mod
  apps/watched/go.sum
  frontend/dashboard/components/commands/drawer.tsx
  frontend/dashboard/components/events/drawer.tsx
  frontend/dashboard/components/events/operationMapping.ts
  go.work
  libs/gomodels/event_operation.go
  libs/gomodels/go.mod
  libs/gomodels/go.sum
  libs/integrations/spotify/go.mod
  libs/integrations/spotify/go.sum
  libs/twitch/go.sum
  libs/typeorm/src/entities/events/EventOperation.ts
  libs/typeorm/src/migrations/1676134427430-events_add_create_greeting.ts
Due: publish-api, publish-bots, publish-migrations, publish-parser

fix(dockerfile): correct events name stage
  Dockerfile
Due: none

fix(dockerfile): correct events in goland deps
  Dockerfile
Due: none

fix(events): add missing libs to mod file
  apps/events/go.mod
  apps/events/go.sum
Due: none

chore(stack): fixup events name in file
  docker-compose.stack.yml
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
