Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore(actions): delete dota from build
  .github/workflows/docker.yml
  apps/api/go.sum
Due: publish-api

chore(pg-backup): fix python deps installation
  tools/pg-backup/Dockerfile
Due: none

fix(stack): correct ports for public and dashboard
  docker-compose.stack.yml
Due: none

chore(dockerfile): migrate spa's to caddy
  Dockerfile
Due: none

chore(dockerfile): add caddyfile
  Caddyfile
  Dockerfile
Due: none

chore(dockerfile): update caddy configs
  Caddyfile
  Dockerfile
Due: none

chore(dockerfile): update caddy configs
  Caddyfile
Due: none

chore(dockerfile): update caddy configs
  Dockerfile
Due: none

chore(dockerfile): fix ytsr
  Dockerfile
Due: none

fix(ytsr): correctly handle multiple links and texts
  apps/ytsr/go.sum
  apps/ytsr/internal/grpc_impl/grpc_impl.go
Due: none

fix(dashboard): correctly connect to ytsr websocket on page load
  frontend/dashboard/src/components/songRequests/hook.ts
Due: none

fix(dashboard): another fix for song requests websockets
  frontend/dashboard/src/components/songRequests/hook.ts
Due: none

fix(api): print only enabled and visible commands on public page
  apps/api/internal/impl_unprotected/commands/commands.go
Due: publish-api

fix(migrations): add unique constraint to integrations
  libs/migrations/migrations/20230723130913_make_integrations_key_unique.sql
Due: none

fix(dashboard): remove disabled state for auth link of integrations
  frontend/dashboard/src/api/integrations/oauth.ts
Due: none

feat(api): group responses by id's
  apps/api/internal/impl_protected/commands/commands.go
  apps/api/internal/impl_protected/commands_group/commands_group.go
  apps/api/internal/impl_protected/events/events.go
  apps/api/internal/impl_protected/greetings/greetings.go
  apps/api/internal/impl_protected/keywords/keywords.go
  apps/api/internal/impl_protected/roles/roles.go
  apps/api/internal/impl_protected/timers/timers.go
  apps/api/internal/impl_protected/variables/variables.go
Due: publish-api

fix(dashboard): various fixes
  frontend/dashboard/src/components/card/card.vue
  frontend/dashboard/src/components/commands/list.vue
  frontend/dashboard/src/components/commands/modal.vue
  frontend/dashboard/src/components/events/card.vue
  frontend/dashboard/src/components/events/helpers.ts
  frontend/dashboard/src/components/events/modal.vue
  frontend/dashboard/src/components/roles/modal.vue
  frontend/dashboard/src/components/songRequests/hook.ts
  frontend/dashboard/src/locales/en.json
Due: none

fix(dashboard): do not rerender components when not needed
  frontend/dashboard/src/components/roles/modal.vue
  frontend/dashboard/src/components/songRequests/hook.ts
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/components/songRequests/queue.vue
  frontend/dashboard/src/layout/layout.vue
Due: none

feat(dashboard): clear user filter after select
  frontend/dashboard/src/components/twitchUsers/multiple.vue
  frontend/dashboard/src/components/twitchUsers/single.vue
Due: none

chore(dashboard): change dismiss text
  frontend/dashboard/vite.config.ts
Due: none

feat(dashboard): add stats block to main page
  apps/api/internal/impl_protected/dashboard_stats/dashboard_stats.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/scheduler/internal/timers/streams.go
  frontend/dashboard/package.json
  frontend/dashboard/src/api/dashboardStats.ts
  frontend/dashboard/src/api/index.ts
  frontend/dashboard/src/components/card/card.vue
  frontend/dashboard/src/components/dashboard/stats.vue
  frontend/dashboard/src/layout/layout.vue
  frontend/dashboard/src/pages/Dashboard.vue
  frontend/dashboard/src/pages/Events.vue
  frontend/dashboard/src/pages/Timers.vue
  frontend/dashboard/src/router.ts
  libs/gomodels/channels_commands_usages.go
  libs/grpc/protos/api.proto
  libs/grpc/protos/api/dashboard_stats.proto
  libs/migrations/migrations/20230723164125_commands_add_created_at.sql
  pnpm-lock.yaml
Due: publish-api, publish-scheduler

fix(scheduler): typo in streams
  apps/scheduler/internal/timers/streams.go
Due: publish-scheduler

fix(dashboard): add chat
  apps/scheduler/internal/timers/streams.go
  frontend/dashboard/src/components/dashboard/chat.vue
  frontend/dashboard/src/hooks/theme.ts
  frontend/dashboard/src/pages/Dashboard.vue
Due: publish-scheduler

fix(dashboard): add breakpoints for main page grid
  frontend/dashboard/src/pages/Dashboard.vue
Due: none

chore: sync go sums
  apps/api/go.mod
  apps/api/go.sum
  apps/bots/go.mod
  apps/events/go.mod
  apps/eventsub/go.mod
  apps/parser/go.mod
  apps/scheduler/go.mod
  apps/timers/go.mod
  apps/tokens/go.mod
  apps/watched/go.mod
  apps/websockets/go.mod
  go.work.sum
Due: publish-api, publish-bots, publish-eventsub, publish-parser, publish-scheduler

fix(dashboard): add missed `responsive` tag
  frontend/dashboard/src/pages/Dashboard.vue
Due: none

feat(dashboard): add hot reload of chat widget when dashboard changes
  frontend/dashboard/src/components/dashboard/chat.vue
Due: none

chore(dashboard): use wss if variable set
  frontend/dashboard/vite.config.ts
Due: none

fix(dashboard): correct format of uptime
  frontend/dashboard/src/components/dashboard/stats.vue
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/helpers/convertMillisToTime.ts
Due: none

fix(api): correctly create and update users tokens in db on login
  apps/api/internal/impl_unprotected/auth/auth.go
Due: publish-api

fix(dashboard): make height of chat widget fixable
  frontend/dashboard/src/components/dashboard/chat.vue
Due: none

feat(dashboard): add drag and resize for widgets
  frontend/dashboard/package.json
  frontend/dashboard/src/components/dashboard/bot.vue
  frontend/dashboard/src/components/dashboard/chat.vue
  frontend/dashboard/src/components/dashboard/positions.ts
  frontend/dashboard/src/pages/Dashboard.vue
  pnpm-lock.yaml
Due: none

feat(dashboard): add extra margin for logo
  frontend/dashboard/src/layout/header.vue
Due: none

fix(dashboard): correct import for queue
  frontend/dashboard/src/components/songRequests/queue.vue
Due: none

fix(dashboard): change default `x` for botManage
  frontend/dashboard/src/components/dashboard/positions.ts
Due: none

fix(api): correctly create users on login
  apps/api/internal/impl_unprotected/auth/auth.go
Due: publish-api

fix(keywords): slice keyword name if length more then 100
  frontend/dashboard/src/pages/Keywords.vue
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
