Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

kruto
  .circleci/config.yml
  apps/api/Dockerfile
Due: publish-api

kruto
  .circleci/config.yml
Due: none

kruto
  base.Dockerfile
Due: none

kruto
  apps/api/Dockerfile
  base.Dockerfile
  package.json
  tools/gen-dockerfile-copy.ts
Due: publish-api

kruto
  .circleci/config.yml
  apps/bots/Dockerfile
  apps/discord/Dockerfile
  apps/emotes-cacher/Dockerfile
  apps/events/Dockerfile
  apps/eventsub/Dockerfile
  apps/parser/Dockerfile
  apps/scheduler/Dockerfile
  apps/timers/Dockerfile
  apps/tokens/Dockerfile
  apps/websockets/Dockerfile
  apps/ytsr/Dockerfile
  base.Dockerfile
  tools/gen-dockerfile-copy.ts
Due: publish-bots, publish-eventsub, publish-parser, publish-scheduler

kruto
  .github/workflows/dockerv2.yml
Due: none

kruto
  .circleci_bak/config.yml
Due: none

kruto
  frontend/overlays/src/components/chat_tmi_emotes.ts
  frontend/overlays/src/components/chat_tmi_helpers.ts
  frontend/overlays/src/components/kappagen/animations.ts
  frontend/overlays/src/components/kappagen/index.ts
  frontend/overlays/src/components/kappagen/kappagen.css
  frontend/overlays/src/components/kappagen/kappagen.vue
  frontend/overlays/src/pages/overlays/chat.vue
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/overlays/src/sockets/chat_tmi.ts
  libs/frontend-chat/src/chatBox.vue
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/types.ts
  libs/kappagen/package.json
  libs/kappagen/vite.config.ts
  pnpm-lock.yaml
Due: none

kruto
  frontend/overlays/package.json
  frontend/overlays/src/components/chat_tmi_emotes.ts
  frontend/overlays/src/components/chat_tmi_helpers.ts
  frontend/overlays/src/components/kappagen/index.ts
  frontend/overlays/src/components/kappagen/kappagen.css
  frontend/overlays/src/components/kappagen/kappagen.vue
  frontend/overlays/src/components/kappagen_animations.ts
  frontend/overlays/src/pages/overlays/chat.vue
  frontend/overlays/src/pages/overlays/kappagen.vue
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/types.ts
  libs/kappagen/package.json
  libs/kappagen/vite.config.ts
  pnpm-lock.yaml
Due: none

Va
  apps/api/internal/impl_protected/overlays/kappagen.go
  frontend/dashboard/package.json
  frontend/dashboard/src/components/overlays/kappagen/settings.vue
  frontend/overlays/package.json
  frontend/overlays/src/components/chat_tmi_emotes.ts
  frontend/overlays/src/components/chat_tmi_helpers.ts
  frontend/overlays/src/components/kappagen_animations.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/types.ts
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/overlays_kappagen.proto
  pnpm-lock.yaml
Due: publish-api

chore(devcontainers): downgrade ubuntu version
  .devcontainer/Dockerfile
Due: none

kruto
  .devcontainer/Dockerfile
  frontend/dashboard/src/components/overlays/kappagen/settings.vue
Due: none

chore: remove needed discord bot token
  .env.example
  apps/discord/internal/discord_go/discord_go.go
  tools/dev.go
Due: none

chore: update .env example
  .env.example
Due: none

chore: fix
  frontend/landing/src/middleware.ts
Due: none

chore: update .env.example
  .env.example
Due: none

kruto
  apps/api/internal/impl_protected/overlays/kappagen.go
  frontend/dashboard/src/api/overlays/index.ts
  frontend/dashboard/src/api/overlays/kappagen.ts
  frontend/dashboard/src/components/overlays/kappagen/kappagen_animations.ts
  frontend/dashboard/src/components/overlays/kappagen/settings.vue
  frontend/overlays/src/components/chat_tmi_emotes.ts
  frontend/overlays/src/components/chat_tmi_helpers.ts
  frontend/overlays/src/components/kappagen.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/overlays/src/sockets/kappagen_overlay.ts
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/overlays_kappagen.proto
Due: publish-api

kruto
  apps/api/internal/impl_protected/overlays/kappagen.go
  apps/websockets/cmd/main.go
  apps/websockets/internal/namespaces/overlays/kappagen/handle_message.go
  apps/websockets/internal/namespaces/overlays/kappagen/kappagen.go
  apps/websockets/internal/namespaces/overlays/kappagen/settings.go
  frontend/dashboard/src/components/card/card.vue
  frontend/dashboard/src/components/overlays/card.vue
  frontend/dashboard/src/components/overlays/kappagen/settings.vue
  frontend/overlays/src/components/chat_tmi_emotes.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  libs/gomodels/channel_modules_settings.go
Due: publish-api

kruto
  apps/api/internal/impl_protected/overlays/kappagen.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/overlays/kappagen/kappagen.go
  apps/websockets/cmd/main.go
  apps/websockets/internal/grpc_impl/impl.go
  apps/websockets/internal/grpc_impl/kapapgen.go
  apps/websockets/internal/grpc_impl/obs.go
  frontend/dashboard/src/components/commandButton.vue
  frontend/dashboard/src/components/events/events.ts
  frontend/dashboard/src/components/events/helpers.ts
  frontend/dashboard/src/components/games/8ball.vue
  frontend/dashboard/src/components/games/russianRoulette.vue
  frontend/dashboard/src/components/overlays/kappagen/settings.vue
  frontend/overlays/src/components/chat_tmi_helpers.ts
  frontend/overlays/src/components/kappagen.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  frontend/overlays/src/sockets/kappagen_overlay.ts
  frontend/overlays/src/sockets/types.ts
  libs/frontend-chat/src/types.ts
  libs/gomodels/channel_modules_settings.go
  libs/grpc/protos/api/events.proto
  libs/grpc/protos/api/overlays_kappagen.proto
  libs/grpc/protos/websockets.proto
Due: publish-api, publish-parser

kruto
  apps/events/internal/grpc_impl/impl.go
  apps/eventsub/internal/client/client.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/sub.go
  frontend/dashboard/package.json
  frontend/dashboard/src/components/events/events.ts
  frontend/dashboard/src/components/overlays/chat/faker.ts
  frontend/dashboard/src/components/overlays/chat/settings.vue
  frontend/dashboard/src/components/overlays/kappagen/animationSettings.vue
  frontend/dashboard/src/components/overlays/kappagen/kappagen_animations.ts
  frontend/dashboard/src/components/overlays/kappagen/settings.vue
  frontend/overlays/src/pages/overlays/kappagen.vue
  libs/grpc/protos/websockets.proto
  pnpm-lock.yaml
Due: publish-eventsub

kruto
  apps/websockets/internal/grpc_impl/kapapgen.go
  apps/websockets/internal/grpc_impl/kappagen.go
  frontend/dashboard/src/components/overlays/kappagen.vue
  frontend/dashboard/src/components/overlays/kappagen/animationSettings.vue
  frontend/dashboard/src/components/overlays/kappagen/kappagen_animations.ts
  frontend/dashboard/src/components/overlays/kappagen/settings.vue
  frontend/overlays/src/pages/overlays/kappagen.vue
Due: none

kruto
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/overlays/kappagen/kappagen.go
  apps/parser/internal/types/parse_context.go
  apps/websockets/internal/grpc_impl/kappagen.go
  frontend/overlays/src/pages/overlays/kappagen.vue
  libs/frontend-chat/src/chatBox.vue
  libs/frontend-chat/src/components/messageContent.vue
  libs/frontend-chat/src/styles/boxed.vue
  libs/frontend-chat/src/styles/clean.vue
  libs/grpc/protos/websockets.proto
Due: publish-parser
