Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

chore(web): correct stats query id
  apps/web/src/services/stats/hooks.ts
Due: none

fix(frontend): use window.location.assign instead of router.push and remove wrong props 'credits'
  apps/frontend/src/components/Profile.vue
  apps/frontend/src/dashboard/DashBoard.vue
  apps/frontend/src/pages/Login.vue
  apps/frontend/src/plugins/api.ts
  apps/web/src/services/stats/api.ts
Due: none

fix(bots): do not lowercase regexp
  apps/bots/internal/bots/handlers/message_keywods.go
Due: publish-bots

fix(bots): add reconnect functional
  apps/bots/internal/bots/client.go
  apps/bots/internal/bots/handlers/connect.go
Due: publish-bots

feat(web): use formatter for stats numbers
  apps/web/src/components/landing/StatsItem.vue
  apps/web/src/services/stats/hooks.ts
Due: none

chore(web): remove lwgerry from team
  apps/web/src/data/landing/team.ts
Due: none

fix(web): fix link to satont twitch
  apps/web/src/data/landing/team.ts
Due: none

feat(web): change notation for useStatsFormatter
  apps/web/src/services/stats/hooks.ts
Due: none

feat(bots): add logs what is not go answered from nats
  apps/bots/internal/bots/handlers/message_command.go
  apps/bots/internal/bots/handlers/message_greetings.go
  apps/bots/internal/bots/handlers/message_keywods.go
Due: publish-bots

fix(parser): correct sql where for find dota accounts
  apps/parser/internal/commands/dota/dota.go
Due: publish-parser

feat(parser): do not show immortla rank name in gm command
  apps/parser/internal/commands/dota/gm_command.go
Due: publish-parser

fix: currentVideo title max 2 rows and numbers validation
  apps/frontend/src/components/widgets/YoutubePlaylistQueue.vue
  apps/frontend/src/components/widgets/YoutubeQueuePlayer.vue
  apps/frontend/src/components/widgets/YoutubeSettingsModal.vue
Due: none

upd
  libs/nats/eventsub/eventsub.pb.go
  libs/nats/eventsub/eventsub.ts
Due: none

upd
  apps/frontend/package.json
  apps/frontend/src/components/widgets/YoutubeSettingsModal.vue
  go.work
  libs/typeorm/src/entities/ChannelModuleSettings.ts
  libs/types/gen.go
  libs/types/go.mod
  libs/types/go.sum
  libs/types/package.json
  libs/types/src/generated.ts
  libs/types/tsconfig.json
  libs/types/types/youtube_module.go
  pnpm-lock.yaml
Due: publish-migrations

upd
  apps/api/go.mod
  apps/api/go.sum
  libs/types/.gitignore
  libs/types/src/.gitkeep
  libs/types/src/generated.ts
Due: publish-api

upd api
  apps/api/internal/api/v1/modules/youtube_sr/controller.go
  apps/api/internal/api/v1/modules/youtube_sr/service.go
  libs/types/types/youtube_module.go
Due: publish-api

upd
  libs/types/types/youtube_module.go
Due: none

upd go
  apps/api/internal/api/v1/modules/youtube_sr/controller.go
  apps/api/internal/api/v1/modules/youtube_sr/service.go
  apps/dota/src/app.controller.ts
  apps/websockets/package.json
  apps/websockets/src/namespaces/youtube.ts
  pnpm-lock.yaml
Due: publish-api, publish-dota

upd
  libs/types/.gitignore
  libs/types/gen.go
  libs/types/package.json
  libs/types/types/api/modules/youtube.go
  libs/types/types/api/v1.go
Due: none

upd
  apps/frontend/src/components/widgets/YoutubeSettingsModal.vue
  libs/types/gen.go
  libs/types/package.json
  libs/types/types/api/modules/youtube.go
  libs/types/types/api/v1.go
Due: none

update
  libs/types/types/api/modules/youtube.go
  libs/types/types/youtube_module.go
Due: none

upd
  apps/api/internal/api/v1/modules/youtube_sr/controller.go
  apps/api/internal/api/v1/modules/youtube_sr/service.go
  apps/parser/internal/commands/songrequest/youtube/sr.go
Due: publish-api, publish-parser

upd
  apps/websockets/src/namespaces/youtube.ts
Due: none

upd
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/api/v1/modules/youtube_sr/controller.go
  go.work.sum
  libs/types/types/api/modules/youtube.go
  libs/youtube/go.mod
  libs/youtube/go.sum
Due: publish-api

upd
  apps/api/cmd/main.go
  apps/frontend/vite.config.ts
  apps/parser/internal/commands/songrequest/youtube/sr.go
  libs/types/types/api/modules/youtube.go
Due: publish-api, publish-parser

upd
  apps/frontend/src/components/widgets/YoutubeSettingsModal.vue
  libs/types/types/api/v1.go
Due: none

fix(parser): replace exclamation point on commands manage
  apps/parser/internal/commands/manage/add_command.go
  apps/parser/internal/commands/manage/del_command.go
  apps/parser/internal/commands/manage/edit_command.go
  pnpm-lock.yaml
Due: publish-parser

fix(parser): remove slash commands from messages
  .vscode/settings.json
  apps/bots/internal/bots/handlers/message_command.go
  apps/bots/internal/bots/handlers/message_greetings.go
  apps/bots/internal/bots/handlers/message_keywods.go
  apps/bots/internal/bots/handlers/validate_response.go
Due: publish-bots

fix: use ipv4 address for vite server proxy
  apps/frontend/vite.config.ts
  apps/web/vite.config.ts
Due: none

fix(parser): add redutant check on prefix
  apps/bots/internal/bots/handlers/validate_response.go
Due: publish-bots

feat(parser): check on slash commands before response to the bots microservice
  apps/parser/internal/commands/spam/helpers.go
  apps/parser/internal/commands/spam/spam.go
Due: publish-parser

feat: disallow responses with dot in the start
  apps/bots/internal/bots/handlers/validate_response.go
  apps/parser/internal/commands/spam/helpers.go
Due: publish-bots, publish-parser

feat(parser): add chat commands for manage aliases
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/manage/add_aliase.go
Due: publish-parser

upd
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/manage/remove_aliase.go
Due: publish-parser

feat(parser): add chat commands for manage aliases (#246)
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/manage/add_aliase.go
  apps/parser/internal/commands/manage/remove_aliase.go
Due: publish-parser

feat(parser): add variable about how many times other command was used
  apps/parser/internal/variables/commands/counter/command_from_other.go
  apps/parser/internal/variables/variables.go
Due: publish-parser

feat(api): do not allow uppercase commands name and aliases
  apps/api/internal/api/v1/commands/service.go
Due: publish-api

feat(parser): lowercase command name in `manage` module
  apps/parser/internal/commands/manage/add_aliase.go
  apps/parser/internal/commands/manage/add_command.go
  apps/parser/internal/commands/manage/del_command.go
  apps/parser/internal/commands/manage/edit_command.go
  apps/parser/internal/commands/manage/remove_aliase.go
Due: publish-parser

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
