Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

refactor(dashboard): add icon to create button
  frontend/dashboard/src/features/chat-alerts/ui/settings.vue
Due: none

fix(chore): accept telemetry prompt by default
  web/nuxt.config.ts
Due: none

fix: remove non-existent adminer plugin
  docker-compose.dev.yml
Due: none

fix: landing meta tag not creating
  web/app/app.vue
Due: none

feat(dashboard): chat logs chatlike scroll behaviour
  bun.lock
  frontend/dashboard/package.json
  frontend/dashboard/src/features/community-chat-messages/ui/chat-messages.vue
Due: none

chore(dashboard): make command form more clear by adding icons and center title
  frontend/dashboard/src/features/commands/ui/form/form-conditions.vue
  frontend/dashboard/src/features/commands/ui/form/form-cooldown.vue
  frontend/dashboard/src/features/commands/ui/form/form-expiration.vue
  frontend/dashboard/src/features/commands/ui/form/form-general.vue
  frontend/dashboard/src/features/commands/ui/form/form-permissions.vue
  frontend/dashboard/src/features/commands/ui/form/form-responses.vue
Due: none

chore(dashboard): change users permissions icon in sidebar
  frontend/dashboard/src/layout/sidebar/sidebar-navigation.vue
Due: none

feat: add python support for custom variables
  apps/api-gql/internal/delivery/gql/mappers/variables.go
  apps/api-gql/internal/delivery/gql/resolvers/variables.resolver.go
  apps/api-gql/internal/delivery/gql/schema/variables.graphqls
  apps/api-gql/internal/entity/customvar.go
  apps/api-gql/internal/services/variables/create.go
  apps/api-gql/internal/services/variables/update.go
  apps/api-gql/internal/services/variables/variables.go
  apps/parser/internal/variables/custom_var/custom_var.go
  frontend/dashboard/src/api/variables.ts
  frontend/dashboard/src/features/variables/composables/use-variables-edit.ts
  frontend/dashboard/src/features/variables/variables-edit.vue
  libs/gomodels/channels_customvars.go
  libs/migrations/migrations/20250510092355_add_python_support_for_custom_vars.sql
  libs/repositories/variables/model/model.go
  libs/repositories/variables/pgx/pgx.go
  libs/repositories/variables/variables.go
Due: publish-parser

chore(web): add contact email
  web/layers/landing/pages/terms.vue
Due: none

feat: add countup and countdown variables
  apps/api-gql/internal/delivery/gql/resolvers/variables.resolver.go
  apps/api-gql/internal/delivery/gql/schema/variables.graphqls
  apps/parser/go.mod
  apps/parser/go.sum
  apps/parser/internal/types/variables.go
  apps/parser/internal/variables-bus/variables-bus.go
  apps/parser/internal/variables/counttime/countdown.go
  apps/parser/internal/variables/counttime/countup.go
  apps/parser/internal/variables/variables.go
  frontend/dashboard/src/api/variables.ts
  frontend/dashboard/src/components/variable-input.vue
  frontend/dashboard/src/components/variables-list.vue
  go.work.sum
  libs/bus-core/parser/variables.go
Due: publish-parser

feat: add `one man spam` filter
  apps/api-gql/internal/delivery/gql/mappers/channels_moderation_settings.go
  apps/api-gql/internal/delivery/gql/resolvers/moderation.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/variables.resolver.go
  apps/api-gql/internal/delivery/gql/schema/moderation.graphqls
  apps/api-gql/internal/entity/channels_moderation_settings.go
  apps/api-gql/internal/services/channels_moderation_settings/channels_moderation_settings.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/bots/internal/moderationhelpers/similarity.go
  frontend/dashboard/src/api/moderation.ts
  frontend/dashboard/src/features/moderation/composables/use-moderation-form.ts
  frontend/dashboard/src/features/moderation/moderation-form.vue
  frontend/dashboard/src/features/moderation/ui/form/moderation-form-one-man-spam.vue
  frontend/dashboard/src/locales/en.json
  libs/migrations/migrations/20250517113847_moderation_one_man_spam.sql
  libs/repositories/channels_moderation_settings/channels_moderation_settings.go
  libs/repositories/channels_moderation_settings/datasource/postgres/postgres.go
  libs/repositories/channels_moderation_settings/datasource/postgres/util.go
  libs/repositories/channels_moderation_settings/model/model.go
Due: publish-bots

New translations en.json (Slovak)
  frontend/dashboard/src/locales/sk.json
Due: none

New translations en.json (German)
  frontend/dashboard/src/locales/de.json
Due: none

New translations en.json (Russian)
  frontend/dashboard/src/locales/ru.json
Due: none

New translations en.json (Ukrainian)
  frontend/dashboard/src/locales/uk.json
Due: none

New translations en.json (English)
  frontend/dashboard/src/locales/en.json
Due: none

New translations en.json (Portuguese, Brazilian)
  frontend/dashboard/src/locales/pt.json
Due: none

chore: unsubscribe from eventsub on ban
  apps/api-gql/internal/delivery/gql/resolvers/moderation.resolver.go
  apps/api-gql/internal/delivery/http/routes/auth/post-code.go
  apps/api-gql/internal/services/admin-actions/admin-actions.go
  apps/api-gql/internal/services/users/users.go
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/manager/manager.go
  apps/eventsub/internal/manager/unsubscribe.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/eventsub/eventsub.go
Due: publish-eventsub

chore: check is user banned on `GetAuthenticatedUser`
  apps/api-gql/internal/auth/sessions_user.go
Due: none

Update source file en.json
  frontend/dashboard/src/locales/en.json
Due: none

perf: add batch processors for sensitive potential flooded things
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_remove_lurker.go
  apps/bots/internal/messagehandler/handle_save_message.go
  apps/bots/internal/messagehandler/messagehandler.go
  apps/eventsub/go.mod
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/redemption.go
  libs/utils/batch_processor.go
Due: publish-bots, publish-eventsub

chore(eventsub): add possibility to disable signature verification
  apps/eventsub/cmd/load/main.go
  apps/eventsub/internal/handler/handler.go
  libs/config/config.go
Due: publish-eventsub

perf(eventsub): set 100 batch size for redemptions
  apps/eventsub/internal/handler/handler.go
Due: publish-eventsub

perf(eventsub): cache check does subscription enabled
  apps/eventsub/cmd/load/main.go
  apps/eventsub/internal/handler/notification.go
Due: publish-eventsub

perf(bots): cache ensure user result, but keep update user messages in db
  apps/bots/internal/messagehandler/ensureuser.go
Due: publish-bots

chore: split batch to own repo
  apps/bots/go.mod
  apps/bots/go.sum
  apps/bots/internal/messagehandler/messagehandler.go
  apps/events/go.mod
  apps/events/go.sum
  apps/eventsub/internal/handler/handler.go
  libs/utils/batch_processor.go
Due: publish-bots, publish-eventsub

fix(bots): run all batchers
  apps/bots/internal/messagehandler/messagehandler.go
Due: publish-bots

perf(bots): increase batch limits and use bulk insert for messages and used emotes
  apps/bots/app/app.go
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_remove_lurker.go
  apps/bots/internal/messagehandler/handle_save_message.go
  apps/bots/internal/messagehandler/messagehandler.go
  libs/repositories/channels_emotes_usages/channels_emotes_usages.go
  libs/repositories/channels_emotes_usages/pgx/pgx.go
Due: publish-bots

perf(eventsub/events): various performance improvements
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/resolvers/chat-alerts.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/chat-alerts.resolver.helper.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api/app/app.go
  apps/api/internal/impl_deps/impl_deps.go
  apps/api/internal/impl_protected/events/events.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/events/app/app.go
  apps/events/internal/chat_alerts/chat_alerts.go
  apps/events/internal/workflows/events.go
  apps/events/internal/workflows/events_flow.go
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/redemption.go
  libs/cache/channels_events_with_operations/channels_events_with_operations.go
  libs/cache/chatalerts/chatalerts.go
  libs/gomodels/channels.go
  libs/migrations/migrations/20250526201319_channel_redemptions_history_defaults.sql
  libs/repositories/channel_redemptions_history/channel_redemptions_history.go
  libs/repositories/channel_redemptions_history/datasources/postgres/pgx.go
  libs/repositories/channel_redemptions_history/model/model.go
  libs/repositories/channels_events_list/channels_events_list.go
  libs/repositories/channels_events_list/datasources/postgres/pgx.go
  libs/repositories/channels_events_list/model/model.go
Due: publish-api, publish-eventsub

perf(eventsub): count user used channel emotes batched
  apps/eventsub/internal/handler/redemption.go
Due: publish-eventsub

chore: bump max executron per second
  apps/parser/pkg/executron/executron.go
Due: publish-parser

perf: fetch channel alerts from cache
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/services/alerts/alerts.go
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/redemption.go
  apps/websockets/app/app.go
  apps/websockets/internal/grpc_impl/alerts.go
  apps/websockets/internal/grpc_impl/impl.go
  libs/cache/channel_alerts/channel_alerts.go
  libs/repositories/alerts/model/model.go
Due: publish-eventsub

perf: cache song requests for redemptions
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/song-requests.resolver.go
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/redemption.go
  libs/cache/channel_song_requests_settings/channel_song_requests_settings.go
Due: publish-eventsub

perf: cache seventv data
  apps/api-gql/cmd/main.go
  apps/api-gql/internal/services/seventv_integration/seventv_integration.go
  apps/eventsub/app/app.go
  apps/eventsub/internal/handler/handler.go
  apps/eventsub/internal/handler/redemption_seventv.go
  libs/cache/channels_integrations_settings_seventv/channels_integrations_settings_seventv.go
Due: publish-eventsub

chore(web): comment team section
  web/layers/landing/pages/index.vue
Due: none
