Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*

chore(cli): in build command also build go apps
  cli/internal/cmds/build/build.go
  cli/internal/cmds/dev/golang/app.go
  cli/internal/cmds/dev/golang/golang.go
  cli/internal/goapp/apps.go
  cli/internal/goapp/goapp.go
Due: none

fix(overlays): request dudes settings
  apps/parser/internal/commands/dudes/grow.go
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  libs/bus-core/websockets/dudes.go
  libs/types/src/overlays.ts
Due: publish-parser

fix(overlays): request dudes user settings (#615)
  apps/parser/internal/commands/dudes/grow.go
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  libs/bus-core/websockets/dudes.go
  libs/types/src/overlays.ts
Due: publish-parser

fix(eventsub): ignore self messages in production
  apps/eventsub/internal/handler/chat_message.go
Due: publish-eventsub

fix(bots): do not send message if bot is not mod or channel disabled
  apps/bots/internal/twitchactions/ban.go
  apps/bots/internal/twitchactions/deletemessage.go
  apps/bots/internal/twitchactions/sendmessage.go
  apps/bots/internal/twitchactions/twitchactions.go
Due: publish-bots

feat(parser): use key for valorant henrik api requests
  apps/parser/internal/cacher/valorant.go
  libs/config/config.go
Due: publish-parser

feat: add social links settings
  apps/api/internal/converters/channels_public_settings.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_protected/public-settings/public-settings.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/api/internal/impl_unprotected/public-settings/public-settings.go
  frontend/dashboard/src/api/public-settings.ts
  frontend/dashboard/src/layout/dropdowns/dropdownProfile.vue
  frontend/dashboard/src/layout/dropdowns/profile/footer.vue
  frontend/dashboard/src/pages/UserSettings.vue
  frontend/dashboard/src/pages/user-settings/account.vue
  frontend/dashboard/src/pages/user-settings/link-regex.ts
  frontend/dashboard/src/pages/user-settings/public.vue
  frontend/dashboard/src/plugins/router.ts
  frontend/public-page/src/composables/use-streamer-profile.ts
  frontend/public-page/src/layout/layout-streamer-profile.vue
  libs/api/api.proto
  libs/api/messages/channels_public_settings/channels_public_settings.proto
  libs/gomodels/channels_public_settings.go
  libs/migrations/migrations/20240229055702_add_public_settings.sql
Due: publish-api

feat(dashboard): add settings locales
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/locales/ru.json
  frontend/dashboard/src/pages/UserSettings.vue
  frontend/dashboard/src/pages/user-settings/account.vue
  frontend/dashboard/src/pages/user-settings/public.vue
Due: none

fix(public-page): use correct key for social links
  frontend/public-page/src/layout/layout-streamer-profile.vue
Due: none

chore(parser): remove reputation from `!me` command
  apps/parser/internal/commands/stats/user_me.go
Due: publish-parser

feat(dashboard): add ability to change sort of public links
  frontend/dashboard/src/pages/user-settings/public.vue
Due: none

feat(dashboard): add inline edit for links in public settings
  frontend/dashboard/src/pages/user-settings/public.vue
Due: none

feat(dashboard): validate links on edit
  frontend/dashboard/src/pages/user-settings/public.vue
Due: none

feat(api): sanitize public url links on save
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/impl_protected/public-settings/public-settings.go
  go.work.sum
Due: publish-api

fix(public-page): set size of sidebar for prevent shifting due long nicknames
  frontend/public-page/src/layout/layout-sidebar-user-profile.vue
  frontend/public-page/src/layout/layout-sidebar.vue
  frontend/public-page/src/layout/layout.vue
Due: none

fix(public-page): correctly display table skeletons, add no data placeholders
  frontend/public-page/src/components/TableRowsSkeleton.vue
  frontend/public-page/src/pages/commands.vue
  frontend/public-page/src/pages/song-requests.vue
  frontend/public-page/src/pages/tts.vue
  frontend/public-page/src/pages/users.vue
Due: none

feat(public-page): fix skeletons height for streamer profile
  frontend/public-page/src/layout/layout-streamer-profile.vue
Due: none

chore(dashboard): fix `noCookie` flex display
  frontend/dashboard/src/components/songRequests/settings.vue
Due: none

chore(dashboard): decrease min cooldown for chat alerts
  frontend/dashboard/src/pages/ChatAlerts.vue
Due: none

chore(emotes-cacher): refactor to buscore
  apps/emotes-cacher/app/app.go
  apps/emotes-cacher/internal/bus-listener/impl.go
  apps/scheduler/app/app.go
  apps/scheduler/internal/timers/emotes.go
  libs/bus-core/bus.go
  libs/bus-core/emotes-cacher/emotes-cacher.go
  libs/grpc/clients/emotes_cacher.go
  libs/grpc/clients/emotes_cacher.ts
  libs/grpc/emotes_cacher/emotes_cacher.proto
Due: publish-scheduler

refactor(eval): use buscore for communication instead of grpc
  apps/eval/package.json
  apps/eval/src/index.js
  apps/parser/cmd/main.go
  apps/parser/internal/types/services/services.go
  apps/parser/internal/variables/chat_eval/chat_eval.go
  apps/parser/internal/variables/custom_var/custom_var.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/eval/eval.go
  libs/bus-core/package.json
  libs/bus-core/src/bus.d.ts
  libs/bus-core/src/bus.js
  libs/bus-core/src/index.d.ts
  libs/bus-core/src/index.js
  libs/bus-core/src/queue.d.ts
  libs/bus-core/src/queue.js
  libs/grpc/clients/eval.go
  libs/grpc/eval/eval.proto
  pnpm-lock.yaml
Due: publish-parser, publish-eval

fix(docker): add missed bus-core package.json
  base.Dockerfile
Due: none

fix(parser): correctly make user badges
  apps/parser/internal/commands/commands.go
Due: publish-parser

feat(overlays): update `@twirapp/dudes`
  frontend/overlays/package.json
  frontend/overlays/public/dudes/sprites/agent/agent.aseprite
  frontend/overlays/public/dudes/sprites/agent/agent.json
  frontend/overlays/public/dudes/sprites/agent/agent.png
  frontend/overlays/public/dudes/sprites/body/cat.png
  frontend/overlays/public/dudes/sprites/body/devil.png
  frontend/overlays/public/dudes/sprites/body/dude.png
  frontend/overlays/public/dudes/sprites/cat/cat.aseprite
  frontend/overlays/public/dudes/sprites/cat/cat.json
  frontend/overlays/public/dudes/sprites/cat/cat.png
  frontend/overlays/public/dudes/sprites/cosmetics/cigarette.png
  frontend/overlays/public/dudes/sprites/cosmetics/gun.png
  frontend/overlays/public/dudes/sprites/cosmetics/lightsaber.png
  frontend/overlays/public/dudes/sprites/dude/dude.aseprite
  frontend/overlays/public/dudes/sprites/dude/dude.json
  frontend/overlays/public/dudes/sprites/dude/dude.png
  frontend/overlays/public/dudes/sprites/eyes/dude.png
  frontend/overlays/public/dudes/sprites/eyes/smart-guy-glasses.png
  frontend/overlays/public/dudes/sprites/eyes/toned-glasses.png
  frontend/overlays/public/dudes/sprites/girl/girl.aseprite
  frontend/overlays/public/dudes/sprites/girl/girl.json
  frontend/overlays/public/dudes/sprites/girl/girl.png
  frontend/overlays/public/dudes/sprites/hat/cowboy.png
  frontend/overlays/public/dudes/sprites/hat/girl-ribbon.png
  frontend/overlays/public/dudes/sprites/hat/santa.png
  frontend/overlays/public/dudes/sprites/mouth/cat.png
  frontend/overlays/public/dudes/sprites/mouth/mexican-moustache.png
  frontend/overlays/public/dudes/sprites/santa/santa.aseprite
  frontend/overlays/public/dudes/sprites/santa/santa.json
  frontend/overlays/public/dudes/sprites/santa/santa.png
  frontend/overlays/public/dudes/sprites/sith/sith.aseprite
  frontend/overlays/public/dudes/sprites/sith/sith.json
  frontend/overlays/public/dudes/sprites/sith/sith.png
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-settings.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
  frontend/overlays/src/pages/overlays/dudes.vue
  pnpm-lock.yaml
Due: none

fix(eval): copy bus-core into docker image
  apps/eval/Dockerfile
  apps/eval/package.json
  pnpm-lock.yaml
Due: publish-eval

chore(eval): do not build grpc in docker
  apps/eval/Dockerfile
Due: publish-eval

fix(dashboard): correctly past customvar in `textWithVariables` input
  frontend/dashboard/src/api/allVariables.ts
Due: none

fix(eval): add production env for correct nats connect
  apps/eval/Dockerfile
  apps/eval/package.json
  apps/eval/src/index.js
  pnpm-lock.yaml
Due: publish-eval

feat(dashboard): tabs for dudes settings
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
Due: none

emote tab
  frontend/dashboard/src/locales/en.json
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
Due: none

refactor(eventsub): use nats instead grpc for internal communication
  apps/api/app/app.go
  apps/api/internal/impl_deps/impl_deps.go
  apps/api/internal/impl_protected/bot/bot.go
  apps/api/internal/impl_protected/impl_protected.go
  apps/api/internal/impl_unprotected/auth/auth.go
  apps/api/internal/impl_unprotected/impl_unprotected.go
  apps/eventsub/app/app.go
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/grpc/grpc_impl.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/eventsub/eventsub.go
  libs/grpc/clients/eventsub.go
  libs/grpc/eventsub/eventsub.proto
Due: publish-api, publish-eventsub

feat(websockets): dudes send empty settings in case user have no settings
  apps/websockets/internal/namespaces/overlays/dudes/handle_message.go
  libs/types/src/overlays.ts
  libs/types/types/overlays/dudes.go
Due: none

fix: get user settings
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
Due: none

feat(overlays): add dudes leave command
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/dudes/leave.go
  apps/websockets/internal/bus-listener/bus-listener.go
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.vue
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/subject-names.go
  libs/bus-core/websockets/dudes.go
  libs/types/gen.go
  libs/types/src/overlays.ts
  libs/types/types/overlays/dudes.go
Due: publish-parser

fix(overlays): dude sprites
  frontend/overlays/package.json
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
  pnpm-lock.yaml
Due: none

fix(overlays): dude sprites (#622)
  frontend/overlays/package.json
  frontend/overlays/src/composables/dudes/dudes-config.ts
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
  frontend/overlays/src/composables/dudes/use-dudes-socket.ts
  frontend/overlays/src/composables/dudes/use-dudes.ts
  pnpm-lock.yaml
Due: none

feat(dashboard): dudes leave
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings.vue
  frontend/overlays/src/composables/dudes/use-dudes-iframe.ts
Due: none
