Repository twirapp/twir: changes, and which Drone steps are due for each by the changed paths.
All: publish-api, publish-bots, publish-dota, publish-eventsub, publish-migrations, publish-parser, publish-scheduler, publish-streamstatus, publish-eval

publish-api:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/api
    dockerfile: ./apps/api/Dockerfile
  ...

publish-bots:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/bots
    dockerfile: ./apps/bots/Dockerfile
  ...

publish-dota:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/dota
    dockerfile: ./apps/dota/Dockerfile
  ...

publish-eventsub:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eventsub
    dockerfile: ./apps/eventsub/Dockerfile
  ...

publish-migrations:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/migrations
    dockerfile: ./libs/typeorm/Dockerfile
  ...

publish-parser:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/parser
    dockerfile: ./apps/parser/Dockerfile
  ...

publish-scheduler:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/scheduler
    dockerfile: ./apps/scheduler/Dockerfile
  ...

publish-streamstatus:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/streamstatus
    dockerfile: ./apps/streamstatus/Dockerfile
  ...

publish-eval:
  image: plugins/docker
  depends_on:
  - build
  settings:
    registry:
      from_secret: docker_hub
    username:
      from_secret: docker_username
    password:
      from_secret: docker_password
    tags: latest
    repo: registry.satont.dev/tsuwari/eval
    dockerfile: ./apps/eval/Dockerfile
  ...

fixes
  apps/api-gql/internal/delivery/http/routes/auth/kick-bot-callback.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform.go
  apps/api-gql/internal/delivery/http/routes/auth/post-code.go
  apps/api-gql/internal/services/dashboard/dashboard.go
  apps/bots/internal/workers/workers.go
  apps/emotes-cacher/internal/services/bttv/service.go
  apps/emotes-cacher/internal/services/seventv/service.go
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/handler/ban.go
  apps/eventsub/internal/handler/revoke.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/scheduler/internal/timers/streams.go
  libs/gomodels/channels.go
  libs/migrations/postgres/20260502191000_channels_platform_bot_enabled.sql
  libs/repositories/channels/channels.go
  libs/repositories/channels/model/model.go
  libs/repositories/channels/pgx/pgx.go
Due: publish-bots, publish-eventsub, publish-scheduler

deps
  bun.lock
  frontend/dashboard/package.json
  frontend/dashboard/src/layout/header/header-bot-status.vue
  frontend/dashboard/vite.config.ts
  frontend/overlays/package.json
  frontend/overlays/src/composables/chat/use-chat-overlay-socket.ts
  frontend/overlays/src/pages/overlays/chat.vue
  package.json
Due: none

platform subscribe
  apps/api-gql/internal/delivery/http/routes/auth/kick-bot-callback.go
  apps/api-gql/internal/delivery/http/routes/auth/oauth-platform.go
  apps/api-gql/internal/services/dashboard/dashboard.go
  apps/eventsub/internal/bus-listener/bus-listener.go
  libs/bus-core/eventsub/eventsub.go
Due: publish-eventsub

fix eventsub chat message kick
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/handler/chat_message.go
Due: publish-eventsub

fix send message
  apps/api-gql/internal/services/webhook_notifications/webhook_notifications.go
  apps/bots/internal/services/channel/message.go
  apps/bots/internal/services/chat_translations/chat_translations.go
  apps/bots/internal/services/voteban/voteban.go
  apps/events/internal/activities/events/send_message.go
  apps/events/internal/chat_alerts/ban.go
  apps/events/internal/chat_alerts/chat_cleared.go
  apps/events/internal/chat_alerts/donations.go
  apps/events/internal/chat_alerts/first_user_message.go
  apps/events/internal/chat_alerts/follow.go
  apps/events/internal/chat_alerts/message_delete.go
  apps/events/internal/chat_alerts/raid.go
  apps/events/internal/chat_alerts/redemptions.go
  apps/events/internal/chat_alerts/stream.go
  apps/events/internal/chat_alerts/subscribers.go
  apps/events/internal/chat_alerts/unban_requests.go
  apps/eventsub/internal/handler/redemption.go
  apps/parser/internal/commands-bus/commands-bus.go
  apps/parser/internal/commands/games/russian_roulette.go
  apps/timers/internal/manager/send_message.go
  apps/websockets/internal/namespaces/youtube/handle_message.go
  libs/bus-core/bots/bots.go
Due: publish-bots, publish-eventsub, publish-parser

more id fixes
  apps/api-gql/internal/services/admin-actions/admin-actions.go
  apps/api-gql/internal/services/dashboard/dashboard.go
  apps/api-gql/internal/services/users/users.go
  apps/bots/internal/messagehandler/handle_tts.go
  apps/bots/internal/services/chat_translations/chat_translations.go
  apps/events/internal/listener/listener.go
  apps/eventsub/internal/bus-listener/bus-listener.go
  apps/eventsub/internal/handler/ban.go
  apps/eventsub/internal/handler/channel_follow.go
  apps/eventsub/internal/handler/channel_update.go
  apps/eventsub/internal/handler/chat_notification.go
  apps/eventsub/internal/handler/clear.go
  apps/eventsub/internal/handler/raid.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/stream_offline.go
  apps/eventsub/internal/handler/sub.go
  apps/eventsub/internal/handler/unban_requests.go
  apps/eventsub/internal/handler/vip.go
  apps/parser/internal/cacher/faceit.go
  apps/parser/internal/commands/permit/permit.go
  apps/parser/internal/commands/prefix/setprefix.go
  apps/parser/internal/variables/top/song_requesters.go
  apps/parser/internal/variables/user/songs_requested.go
  apps/parser/internal/variables/user/songs_requested_duration.go
  libs/bus-core/bus-services.go
  libs/bus-core/bus.go
  libs/bus-core/eventsub/eventsub.go
Due: publish-bots, publish-eventsub, publish-parser

test
  apps/emotes-cacher/internal/emotes_store/fill.go
  apps/emotes-cacher/internal/services/seventv/fetcher/7tv.go
  apps/emotes-cacher/internal/services/seventv/service.go
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
  libs/bus-core/generic/chat-message.go
  libs/bus-core/generic/chat-message_test.go
Due: publish-eventsub

fix frontend
  frontend/dashboard/src/components/overlays/copyOverlayLink.ts
  frontend/dashboard/src/components/songRequests/player.vue
  frontend/dashboard/src/features/overlays/brb/page.vue
  frontend/dashboard/src/features/overlays/tts/ui/general-settings.vue
  frontend/dashboard/src/layout/stream-info-editor.vue
  frontend/dashboard/src/pages/overlays/dudes/dudes-settings-form.vue
  frontend/dashboard/src/pages/overlays/now-playing/now-playing-form.vue
  frontend/overlays/vite.config.ts
Due: none

fix timers
  apps/timers/internal/manager/send_targets.go
  apps/timers/internal/manager/send_targets_test.go
  apps/timers/internal/manager/ticker.go
Due: none

click store platform specific things
  AGENTS.md
  apps/api-gql/internal/delivery/gql/dataloader/data-loader.go
  apps/api-gql/internal/delivery/gql/dataloader/emots-statistic.go
  apps/api-gql/internal/delivery/gql/resolvers/analytics_identity.go
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/emotes-statistic.resolver.go
  apps/api-gql/internal/services/channels_emotes_usages/channels_emotes_usages.go
  apps/api-gql/internal/services/chat_messages/chat_messages.go
  apps/api-gql/internal/services/chat_messages/get_many.go
  apps/api-gql/internal/services/dashboard/dashboard.go
  apps/bots/internal/messagehandler/handle_emotes_usages.go
  apps/bots/internal/messagehandler/handle_save_message.go
  apps/parser/internal/commands/nuke/nuke.go
  apps/parser/internal/services/chat_wall/chat_wall.go
  apps/parser/internal/variables/top/emotes.go
  apps/parser/internal/variables/user/emotes_top.go
  libs/migrations/clickhouse/20260503130000_platform_channel_identity_for_chat_and_emotes.sql
  libs/repositories/channels_emotes_usages/channels_emotes_usages.go
  libs/repositories/channels_emotes_usages/datasources/clickhouse/clickhouse.go
  libs/repositories/chat_messages/chat_messages.go
  libs/repositories/chat_messages/datasources/clickhouse/clickhouse.go
Due: publish-bots, publish-parser

fix chat messagves
  .playwright-mcp/console-2026-05-03T15-45-20-031Z.log
  .playwright-mcp/page-2026-05-03T15-45-21-431Z.yml
  apps/api-gql/internal/delivery/gql/mappers/chat_messages.go
  apps/api-gql/internal/delivery/gql/resolvers/analytics_identity.go
  apps/api-gql/internal/delivery/gql/resolvers/chat-messages.resolver.go
  apps/api-gql/internal/delivery/gql/schema/chat-messages.graphql
  apps/api-gql/internal/entity/chat_message.go
  apps/api-gql/internal/services/chat_messages/chat_messages.go
  apps/api-gql/internal/services/chat_messages/get_many.go
  frontend/dashboard/src/api/admin/chat-messages.ts
  frontend/dashboard/src/api/chat-messages.ts
  frontend/dashboard/src/features/community-chat-messages/composables/use-filters.ts
  frontend/dashboard/src/features/community-chat-messages/ui/chat-messages.vue
  frontend/dashboard/src/features/community-chat-messages/ui/filters.vue
  frontend/dashboard/src/features/community-chat-messages/ui/message.vue
  libs/repositories/chat_messages/chat_messages.go
  libs/repositories/chat_messages/datasources/clickhouse/clickhouse.go
  libs/repositories/chat_messages/datasources/postgres/pgx.go
  libs/repositories/chat_messages/model/model.go
Due: none

fix migrations
  libs/migrations/postgres/20260415001328_users_multi_platform.sql
  libs/migrations/postgres/20260415001330_channels_multi_platform.sql
  libs/migrations/postgres/20260415164710_fix_dashboard_widgets_channel_fk.sql
Due: none

changes
  .playwright-mcp/console-2026-05-04T02-12-58-515Z.log
  .playwright-mcp/page-2026-05-04T02-13-06-864Z.yml
  apps/api-gql/internal/delivery/gql/resolvers/stats.resolver.go
  apps/api-gql/internal/delivery/gql/schema/stats.graphql
  apps/api-gql/internal/delivery/gql/twir-stats/twir-stats.go
  landing-stats-section.png
  web/layers/landing/api/stats.ts
  web/layers/landing/components/index/stats/stats.vue
Due: none

fix(repo): scope users-with-channel ownership joins
  libs/repositories/users_with_channel/pgx/pgx.go
Due: none

fix(filters): scope ignored users to twitch identities
  apps/api-gql/internal/delivery/gql/resolvers/community-users.resolver.go
  apps/parser/internal/variables/top/helper.go
  libs/repositories/users/pgx/pgx.go
Due: publish-parser

fix(db): enforce unique channel ownership
  libs/migrations/postgres/20260508120000_channels_owner_unique_indexes.sql
Due: none

fix(identity): tighten platform-aware channel analytics
  apps/api-gql/internal/services/channels_emotes_usages/channels_emotes_usages.go
  apps/api-gql/internal/services/channels_redemptions_history/channels_redemptions_history.go
  libs/migrations/postgres/20260508123000_fix_commands_prefix_channel_id.sql
  libs/repositories/channels/pgx/pgx.go
  libs/repositories/channels_emotes_usages/channels_emotes_usages.go
  libs/repositories/channels_emotes_usages/datasources/clickhouse/clickhouse.go
Due: none

chore: add clickhouse backup service
  clickhouse-backup.yaml
Due: none

chore: update lockfiles
  .idea/dataSources.local.xml
  .opencode/package-lock.json
Due: none

fix eventsub subscriptions
  apps/eventsub/internal/manager/unsubscribe.go
  apps/eventsub/internal/manager/unsubscribe_test.go
Due: publish-eventsub

fix timers
  .dockerignore
  .idea/dataSources.local.xml
  .omo/notepads/twitch-mock-server/learnings.md
  .omo/notepads/twitch-mock/learnings.md
  .omo/plans/kick-platform.md
  .omo/plans/twitch-mock-server.md
  apps/scheduler/internal/timers/online_chatters.go
  bun.lock
Due: publish-scheduler

upd
  .omo/evidence/task-1-fk-validation.txt
  .omo/evidence/task-1-migration-counts.txt
  .omo/notepads/kick-platform/decisions.md
  .omo/notepads/kick-platform/issues.md
  .omo/notepads/kick-platform/learnings.md
  .omo/notepads/kick-platform/problems.md
  .omo/notepads/twitch-mock-server/learnings.md
  .omo/notepads/twitch-mock/learnings.md
  .omo/plans/kick-platform.md
  .omo/plans/twitch-mock-server.md
  .omo/run-continuation/ses_18186958cffeqCgSnZMFBcLwOZ.json
  .omo/run-continuation/ses_1818ac4d5ffelrElFzh6nYKq9s.json
  .opencode/opencode.jsonc
  bun.lock
Due: none

fix back to home
  web/layers/landing/pages/login/index.client.vue
Due: none

fixes
  .gitignore
  apps/api-gql/internal/delivery/gql/directives/has-access-to-selected-dashboard.go
  apps/api-gql/internal/delivery/gql/directives/has-channel-roles-dashboard-permission.go
  apps/api-gql/internal/delivery/gql/resolvers/community-users.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/notifications.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/user.resolver.service.go
  apps/api-gql/internal/delivery/http/middlewares/has_access_to_selected_dashboard.go
  apps/api-gql/internal/delivery/http/middlewares/has_channel_roles_dashboard_permission.go
  apps/api-gql/internal/services/users/users.go
  apps/bots/internal/messagehandler/handle_moderation.go
  apps/eventsub/internal/handler/moderator_add_remove.go
  apps/eventsub/internal/handler/redemption.go
  apps/eventsub/internal/handler/vip.go
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/parser/internal/cacher/twitch.go
  apps/parser/internal/commands/vips/add.go
  apps/parser/internal/variables/top/helper.go
  frontend/dashboard/src/pages/user-settings/user-linked-accounts.vue
  libs/repositories/greetings/pgx/pgx.go
  libs/repositories/roles/pgx/pgx.go
  libs/repositories/users/pgx/pgx.go
  libs/repositories/users_stats/datasources/postgres/pgx.go
  libs/repositories/users_with_channel/pgx/pgx.go
  libs/repositories/userswithstats/datasource/postgres/pgx.go
  web/app/components/table/cells/user-cell.vue
  web/app/features/community-users/composables/use-community-users-table.ts
Due: publish-bots, publish-eventsub, publish-parser

fix reply for kick
  apps/bots/internal/kick/chat_client.go
  apps/bots/internal/kick/chat_client_test.go
  apps/bots/internal/services/channel/message.go
Due: publish-bots

fix keywords
  apps/bots/internal/messagehandler/handle_keywords.go
  apps/events/internal/listener/listener.go
Due: publish-bots

upd ry6bbit
  frontend/dashboard/index.html
  frontend/dashboard/src/api/auth.ts
  web/nuxt.config.ts
Due: none

kappagen update
  apps/api-gql/internal/delivery/gql/mappers/twir-events.go
  apps/api-gql/internal/delivery/gql/resolvers/api_key_channel_identity.go
  apps/api-gql/internal/delivery/gql/resolvers/api_key_channel_identity_test.go
  apps/api-gql/internal/delivery/gql/resolvers/overlays-kappagen.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/twir-events.resolver.go
  apps/api-gql/internal/delivery/gql/schema/overlays/overlays-kappagen.graphql
  apps/api-gql/internal/services/twir-events/service.go
  deploy/kubernetes/README.md
  deploy/kubernetes/base/apps.yaml
  deploy/kubernetes/base/configmaps.yaml
  deploy/kubernetes/base/ingress.yaml
  deploy/kubernetes/base/jobs.yaml
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/namespace.yaml
  deploy/kubernetes/base/observability.yaml
  deploy/kubernetes/base/poolers.yaml
  deploy/kubernetes/base/secret-template.yaml
  deploy/kubernetes/base/secrets.example.env
  deploy/kubernetes/base/service-accounts.yaml
  deploy/kubernetes/base/stateful.yaml
  deploy/kubernetes/base/storage.yaml
  deploy/kubernetes/overlays/prod/kustomization.yaml
  deploy/kubernetes/overlays/prod/patches/prod-labels.yaml
  frontend/overlays/src/composables/kappagen/use-kappagen-socket.ts
  frontend/overlays/src/pages/overlays/kappagen.vue
  kuber.md
  web/nuxt.config.ts
Due: none

kappagen
  apps/api-gql/internal/delivery/gql/resolvers/api_key_channel_identity.go
  apps/api-gql/internal/delivery/gql/resolvers/kappagen_channel_identities.go
  apps/api-gql/internal/delivery/gql/resolvers/overlays-kappagen.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/twir-events.resolver.go
  apps/api-gql/internal/delivery/gql/resolvers/twir_event_subscription_keys.go
  apps/api-gql/internal/delivery/gql/resolvers/twir_events_test.go
  apps/api-gql/internal/delivery/gql/schema/overlays/overlays-kappagen.graphql
  apps/api-gql/internal/services/channels/channels.go
  apps/api-gql/internal/services/channels/channels_test.go
  apps/api-gql/internal/services/twir-events/service.go
  apps/emotes-cacher/internal/emotes_store/fill.go
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
  apps/parser/internal/commands/commands.go
  apps/parser/internal/commands/overlays/kappagen/kappagen.go
  apps/parser/internal/commands/overlays/kappagen/kappagen_test.go
  apps/parser/internal/types/parse_context.go
  frontend/overlays/src/composables/kappagen/use-kappagen-socket.ts
  frontend/overlays/src/composables/tmi/use-message-helpers.ts
  frontend/overlays/src/composables/tmi/use-seven-tv.ts
  frontend/overlays/src/composables/tmi/use-third-party-emotes.ts
  libs/bus-core/api/kappagen.go
  libs/bus-core/generic/chat-message.go
Due: publish-eventsub, publish-parser

follows event
  .bun-version
  AGENTS.md
  apps/events/internal/chat_alerts/follow.go
  apps/events/internal/listener/listener.go
  apps/eventsub/internal/handler/channel_follow.go
  apps/eventsub/internal/kick/handlers.go
  apps/eventsub/internal/kick/handlers_test.go
  libs/bus-core/events/events.go
  libs/bus-core/src/events/events.ts
Due: publish-eventsub

fixes for repos
  .idea/dataSources.local.xml
  apps/api-gql/internal/delivery/gql/resolvers/community-users.resolver.go
  apps/parser/internal/variables/top/helper.go
  libs/migrations/seeds/defaultBot.go
  libs/repositories/roles/pgx/pgx.go
  libs/repositories/users_stats/datasources/postgres/pgx.go
  libs/repositories/users_with_channel/pgx/pgx.go
  libs/repositories/userswithstats/datasource/postgres/pgx.go
Due: publish-parser

fix connect
  frontend/dashboard/src/pages/user-settings/user-linked-accounts.vue
Due: none

add channelDBID resolution for various event messages
  apps/events/internal/listener/listener.go
  apps/events/internal/workflows/events.go
Due: none

upd
  apps/events/internal/listener/listener.go
Due: none

feat(cli): add swarm deploy webhook
  cli/Dockerfile
  cli/internal/cmds/deploy/deploy.go
  cli/main.go
Due: none

ci: build release images from tags
  .github/workflows/dockerv3.yml
Due: none

chore(deploy): configure tagged swarm releases
  PRODUCTION.md
  docker-compose.stack.yml
Due: none

chore: add unrelated files of opencode
  .gitignore
  .opencode/opencode.jsonc
  libs/migrations/seeds/defaultBot.go
Due: none

Path conditions:
  publish-api: any of: apps/api/**/*
  publish-bots: any of: apps/bots/**/*
  publish-dota: any of: apps/dota/**/*
  publish-eventsub: any of: apps/eventsub/**/*
  publish-migrations: any of: libs/typeorm/**/*
  publish-parser: any of: apps/parser/**/*
  publish-scheduler: any of: apps/scheduler/**/*
  publish-streamstatus: any of: apps/streamstatus/**/*
  publish-eval: any of: apps/eval/**/*
